[2021-05-20 09:21] stefan-niedermann commented on #969
Will be fixed in `1.18.3`

[2021-05-20 09:21] #969 closed

[2021-05-20 13:33] stefan-niedermann commented on #960
Some good news @drs-project - we found the root cause of the issue and (hopefully) resolved it.

Would be nice if you could confirm that the bug is fixed by testing [this `.apk` file](https://github.com/stefan-niedermann/nextcloud-deck/suites/2789297845/artifacts/61917085). You can install it safely parallel to your already installed Deck Android app.

[2021-05-21 19:46] stefan-niedermann commented on #960
^ ping @drs-project

[2021-05-21 20:05] drs-project commented on #960
the link to the apk doesnt seem to be active any more...

sorry, I couldnt make it earlier...

Am 21. Mai 2021 21:46:59 MESZ schrieb Niedermann IT-Dienstleistungen ***@***.***>:

[2021-05-22 07:51] stefan-niedermann commented on #960
@drs-project yes it is, though you must be logged in in GitHub to be able to download it - i see you responded via E-Mail, so just open the issue in your browser, log in and then you should be able to download it 😉

[2021-05-22 11:25] drs-project commented on #960
ok, now I made it :-)

I can confirm that behaviour is as expected, when server is in maintenance mode (not refreshing any more). A newly added card is synced when the server comes back online. - Great!

Additionally I checked what happens if a card is open on the handset while it is changed in the web interface. The changes from the web interface are synced with the next update (e.g. pull down).

[2021-05-22 11:25] #960 closed

[2021-05-22 11:32] stefan-niedermann commented on #960
Awesome, thabks for the verification!

The fix will be published with version `1.18.3`. 🙂

[2021-05-26 16:10] stefan-niedermann commented on #971
Deck will starting with version `1.9.0` remember the last selected mode (edit or preview). You can try this already by installing [this `.apk` file](https://github.com/stefan-niedermann/nextcloud-deck/suites/2837356024/artifacts/63279876) (It can safely be installed parallel to the released version).

We have currently no plans to implement all three options as in the Notes app. Maintaining this i

[2021-05-26 17:09] #971 closed

[2021-05-26 18:35] stefan-niedermann commented on #746
Closing due to missing response. In case this is still a valid issue, please feel free to reopen answering @desperateCoder s question [above](https://github.com/stefan-niedermann/nextcloud-deck/issues/746#issuecomment-749523219) considering the rules @desperateCoder mentioned.

The issue [was not reproducible](https://github.com/stefan-niedermann/nextcloud-deck/issues/746#issuecomment-749519127):

[2021-05-26 18:35] #746 closed

[2021-05-30 18:13] roboticsalign opened #1003 "Card attachment: Adding a photo from camera fails"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Adding an attachment to a card works. But choosing camera as source fails.

Steps to reproduce the behavior:
1. Open a card
2. Go to attach

[2021-05-30 18:17] stefan-niedermann commented on #1003
Hello @roboticsalign 👋

quoting from the error message:

So you should check your Nextcloud server configuration and increase the limit of uploaded file sizes.

We already have [an issue](https://github.com/stefan-niedermann/nextcloud-deck/issues/830) to display a better error message, this won't change the fact that we can't upload too big files when the server forbids it 🤷

[2021-05-30 18:20] roboticsalign commented on #1003
Thanks for the quick answer!

I'll check that, because everything else works well since years.

[2021-05-30 18:24] roboticsalign commented on #1003
In Nextcloud the max. upload size is not shown. Could this be the issue?

![Screenshot_20210530-202234_Chrome.jpg](https://user-images.githubusercontent.com/23562360/120115662-fbd7cd80-c184-11eb-95fa-963c41e4c398.jpg)

[2021-05-30 18:35] desperateCoder commented on #1003
@roboticsalign in case you're using a shared hosting service, you could maybe look it up in your plan details or ask the provider. If your instance is self-hosted, just look it up in your php.ini file. If the value is empty or missing, you can look up the default value by simply googling it. Quick Google search said: it is 2MB, which a modern phone camera easily exceedes.

[2021-05-30 18:35] stefan-niedermann commented on #1003
No, you posted an image about the amount of RAM which your Nextcloud has available.

You need to configure the maximum file size in the `php.ini` file. This is nothing Deck related though (and for sure not related to the Android Deck app 😄) but maybe you can find some information about how to configure your Nextcloud in the [administration manual](https://docs.nextcloud.com/server/20/admin_manual/

[2021-05-30 18:40] stefan-niedermann commented on #1003
If i am not completely wrong, i think this is the same limitation also affects file uploads via Browser (Deck, but also normal files).

You could also try to search https://help.nextcloud.com/ - i think you are not the first one with a question regarding the configuration 🙂

[2021-05-30 20:09] roboticsalign commented on #1003
Thanks for your suggestions.

I checked the php.ini and phpinfo. It is configured with 16GB as it suggested. Uploading large files is not an issue via browser, sync client (win, linux, android, ios) or Talk. I use this since years with ~10 users and no issues regarding upload filesize...

The last point in the screenshot adresses "maximale Größe zum Hochladen", that means "max upload size". But th

[2021-05-30 20:31] stefan-niedermann commented on #1003
Yep, the sync clients upload files in small chunks, while the Deck server API does not provide such a feature. That's why i explicitly asked for the Browser upload which has the same limitation.

You are right, i didn't read this. Interesting that it apparently doesn't have a value set...

Can you please check / confirm that you are able to upload large attachments ([Here is a big sample image](ht

[2021-05-30 21:12] roboticsalign commented on #1003
I tested the upload of the proposed image with Android Smartphone and Chrome:

- files-app: ok
- talk-app: ok
- deck-app: upload error

Then, I checked it with a small txt file ([https://filesamples.com/samples/document/txt/sample1.txt](https://filesamples.com/samples/document/txt/sample1.txt) < 1kb)

- files-app: ok
- talk-app: ok
- deck-app: upload error

So I'll check the deck-installation on s

[2021-05-30 21:15] desperateCoder commented on #1003
Well, that's odd... But yeah, I think your conclusion is absolutely valid. I'd suggest linking this issue to the new one in the server repository, so @juliushaertl can see what you already tried.

[2021-05-30 21:19] stefan-niedermann commented on #1003
Okay, you can open issues for the Deck server app here: https://github.com/nextcloud/deck/issues/new?assignees=&labels=&template=Bug_report.md

Ideally post a link to your new issue here so other people who stumble upon the same issue can follow your steps.

Sorry that we couldn't help more and good luck with the issue!

[2021-05-30 21:20] #1003 closed

[2021-05-30 21:52] roboticsalign commented on #1003
The solution is described in this issue: https://github.com/nextcloud/deck/issues/573#issuecomment-414052070
It seems to be an error in my php.ini, that was not identified before.

I do not understand, why everything worked as expected - exept deck.

[2021-05-31 13:38] stefan-niedermann commented on #963
Closing this issue as it **will be solved implicitly** when
- [x] the [`sso-glide`](https://github.com/stefan-niedermann/nextcloud-commons/#sso-glide) module of [`nextcloud-commons`](https://github.com/stefan-niedermann/nextcloud-commons/) supports both, absolute paths and absolute URLs to a Nextcloud instance and can delegate handling of public images to the default Glide image loader (fixed in `

[2021-05-31 13:38] #963 closed

[2021-06-04 07:25] molivier-fcms commented on #971
Hi Stefan,

Everything works as you say. These behaviors look logic.
You can merge it for the next release.

Thank you for this enhancement.

Matthieu

[2021-06-05 16:09] stefan-niedermann commented on #963
Good news, we will ship support for all kind of Nextcloud-hosted images (Shared links, Preview links, File links, ...) as well as old Deck attachments (regardless of https://github.com/nextcloud/deck/issues/3101) in the next release (`1.18.4`  or `1.19.0` - we'll see). You will not need to change your URLs or anything, it will just work.

[2021-06-07 09:12] stefan-niedermann commented on #972
Maybe something like that:

![grafik](https://user-images.githubusercontent.com/4741199/120988338-c29fee80-c77e-11eb-986d-6cd7663c08e6.png)

Compared to the [suggestion by @newhinton](https://github.com/stefan-niedermann/nextcloud-deck/issues/972#issuecomment-835863354) this solution
- Hides the account name
  - Clicking on it should expand a list, where each list item looks like today, so one can

[2021-06-07 09:20] newhinton commented on #972
It looks good, but does it "flow"? The current dialog does not allow for quick changes, as you have to always use the dropdown, so to move a card between boards you would have to make 4 clicks to select it. Your mockup does not seem to change that, you still need to first open the dropdown, and then select a board and a card.

Do i misunderstand your mockup's dialog-flow?

[2021-06-07 09:27] stefan-niedermann commented on #972
Account, board and list are preselected, so the proposal requires one click less than the current implementation. Quicker is only drag and drop 😉
The option to change the target account and board need to stay.

[2021-06-07 09:30] newhinton commented on #972
Yes, most certainly! I never meant to propose to remove those :D I imaged my initial mockup quite similar to how folders work, you can only select in your current folder, and if you go back the list shows you every available folder in that selection (Our folders here are the accounts, which contain "board-folders" which then contain "list-folders")

[2021-06-07 12:58] stefan-niedermann commented on #972
This seems to be a common workflow on iOS, haven't often seen this on Android yet. Actually moving a card to another board takes the exact same steps with your and my proposal :shrug: :
Yours: Switch back to board "folder", select a board
Mine: Tap on the board chooser, select a board

[2021-06-12 07:40] neerro opened #1012 "Incorrect behavior in enhanced view mode"
**Describe the bug and steps to reproduce the behavior:**
What we have:
I've created a new card in some deck in browser version of Deck. Then I put some date for to-do and set-up task owner. After that, a new card will appear in pending for to-do directory in which I am coming in. Then I wanna to review a new created card in enhanced view mode, for which purpose I clicked on settings (in left lowe

[2021-06-12 07:45] stefan-niedermann commented on #1012
So you are talking about the Web UI? In the Browser? Or the Android app?

[2021-06-12 07:46] neerro commented on #1012
In the browser (I use Firefox developer edition) latest update

[2021-06-12 07:50] stefan-niedermann commented on #1012
This is the **Deck Android** repo.
Open your issue here: https://github.com/nextcloud/deck/issues/new?assignees=&labels=&template=Bug_report.md

[2021-06-12 07:50] #1012 closed

[2021-06-12 07:53] neerro commented on #1012
Ok. Thanks.

[2021-06-12 08:01] stefan-niedermann commented on #1012
Tell me, is this a funny thing for you to not only ignore the issue template again but fill it partially and then remove the information again? I really would like to understand this kind of provocation after telling you more than 3 times how important this is to *help you* in *our freetime*.

![Screenshot_20210612-095336_Fennec](https://user-images.githubusercontent.com/4741199/121769558-94e2ed00

[2021-06-12 08:20] neerro commented on #1012
Definitely no nether funny non provocation. I'm a little bit tired and I'm angry as I found many bugs in android deck app which prevent me to work with app smoothly. It seems I paid for app and may get a pleasure for it but not, I need to spend my time for reporting to each bug I found, because it makes impossible works for me. Now I found three another bugs for deck android and forced to spend ti

[2021-06-12 08:36] stefan-niedermann commented on #1012
You are welcome to send me your Play Store order ID to info@niedermann.it so i can refund your money.

Without proper bug reports we can't fix them and without any bug reports we can't be aware of them. Obviously. @desperateCoder [explained this already](https://github.com/stefan-niedermann/nextcloud-deck/issues/977#issuecomment-840515046).

So ask yourself: How should we fix your three bugs if we

[2021-06-12 12:45] neerro opened #1013 "Unexpected behavior when link added to toggle field"
**Describe the bug and Steps to reproduce the behavior:**
You will find all steps and behavior on added [video link](https://youtu.be/UIAj5SquCm0)

**Expected behavior**
Toggle box should be work separate from main text field and needed possibility use link for open.

**Screenshots**
Video file on the link above

**Versions**
 - Nextcloud: latest
 - Nextcloud Deck: latest
 - Nextcloud Android: lat

[2021-06-12 12:50] neerro opened #1014 "Unexpected behavior when bold or italic format applied in text field"
**Describe the bug and Steps to reproduce the behavior:**
You will find all steps and behavior on added [video link](https://youtu.be/fy7jIf1Li_k)

**Expected behavior**
Both bold and italic formats should work properly and together, excluding effects to each other.

**Screenshots**
Video file on the link above

**Versions**
 - Nextcloud: latest
 - Nextcloud Deck: latest
 - Nextcloud Android: late

[2021-06-12 12:57] stefan-niedermann commented on #1013
While clicking in the empty space after the text is intented behavior (Tasks can be multiple lines long and are therefore treated as block elements rather than inline elements), i agree that clicking on the link should open that link.

Thank you very much for the videos, this will be very helpful for working out bugfixes.

[2021-06-12 13:02] neerro opened #1015 "Deck crashed due to color marks changing"
**Describe the bug**
When I try add new or change existing color marks, I can observe Deck crashing.

Steps to reproduce the behavior:
1. When I open card or deck menu
2. Click on mark field and try to add a new one mark or add mark, or change or delete.
2.1. Click on deck menu and try to add new mark, or change color of existing mark, or change name or something else.
3. See error (report of full

[2021-06-12 18:31] neerro opened #1016 "List headers in Deck has not refreshed/synchronized properly"
**Describe the bug**
For example I have a deck with some numbers of lists and suddenly I wanna change the name in one of it. So I did it in web UI interface. After some time is passed I decided to check the changes in Android app but I was surprised as there are were change nothing. When I repeated the same situation but only with one difference, I've just added some text in text field inside card

[2021-06-12 18:40] stefan-niedermann commented on #1016
This is a known bug of the **server app** (which we already [reported here](https://github.com/nextcloud/deck/issues/2866)). I recommend you to upvote the linked issue.

As a workaround you can disable the `ETags` in the android apps settings to force a full synchronization. This takes way longer than the usual synchronization, but you can reenable `ETags` again after the list has been updated.

[2021-06-12 18:40] #1016 closed

[2021-06-12 18:56] neerro commented on #1016
Ok. Done. Thank you.

[2021-06-12 19:07] desperateCoder commented on #1016
@neerro you're very welcome! Thanks for the filled out issue report, buddy! 😉

[2021-06-12 19:08] desperateCoder commented on #1016
did disabeling the etags work tho?

[2021-06-12 20:16] neerro commented on #1016
Yes I did, but met long loading with freeze status rounded animation on aprx. 20 sec. And quick enabled Etags again.

[2021-06-14 09:10] stefan-niedermann commented on #1013
This issue has successfully been [fixed upstream](https://github.com/stefan-niedermann/nextcloud-notes/pull/1260).
The fix will be published with **Deck Android `1.19.0`**.

[2021-06-14 09:10] #1013 closed

[2021-06-17 15:02] stefan-niedermann commented on #1015
A few assumptions since the terminology you used is not clear to me.
Just correct me if i misunderstood something:

- > color marks changing

  I assume that you mean "tag" when you write "mark".
- > When I open card or deck menu

  I assume you opened the sidebar and clicked on the three dots menu of any board.
  I assume you chose "Manage tags" in this menu and then the "Manage tags" dialog appe

[2021-06-17 15:33] #339 closed

[2021-06-17 16:01] #841 closed

[2021-06-17 16:01] stefan-niedermann commented on #841
Will be shipped in `1.19.0`.

[2021-06-17 19:45] neerro commented on #1015
Definitely yes I've been checked and in English version it's named as tags.

Yes, correct.

1. Open sidebar menu
2. Click on three dots of any deck
3. Click on manage tags
4. Choose one of tags and click on pencil for editing
5. Then the color can be changed by clicking on the rounded colored mark.

In my observation, that crash could not be appeared every time when I try to reproduce it. Those cr

[2021-06-19 18:20] desperateCoder commented on #1014
@neerro thanks for the well explained report, the video was really helpful! I looked into this and came to the conclusion that we need a full rewrite of the current logic here. Today I was already working on this for a couple of hours and will continue, but I guess this will take some more time.

I know, the feature seems very cheap and easy to build, but in fact it's quite complex and a hell of a

[2021-06-20 15:32] SteffoSpieler opened #1025 "Crash on Multitask (Huawei)"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

When opening the app and then adding an app to the multitask view (and resizing it) the app will crash.

Steps to reproduce the behavior:
1

[2021-06-20 16:12] desperateCoder commented on #1025
Hi @SteffoSpieler, thank you for your report.

This is kind of weird, because the code fragment mentioned in the crash report belongs to the drag and drop feature to move cards around. Did it really crash without interaction with the app itself?

If so, maybe a simple nullcheck would help @stefan-niedermann ?

@SteffoSpieler we'll have a look at this, as soon as we got feedback regarding my questi

[2021-06-20 16:19] SteffoSpieler commented on #1025
@desperateCoder I made a recording of the bug. This might help more. https://user-images.githubusercontent.com/41108856/122681323-f570ca80-d1f3-11eb-88c4-67bd536ea6c3.mp4

[2021-06-20 16:28] desperateCoder commented on #1025
@SteffoSpieler oh that's awesome buddy, we'll have a look!

PS: Nice website you got there! I can tell you'll rock your life, as you already achieved quite something already at your young age. Keep it up!
![8f977e058ed7152833ff83eaa5be50a1](https://user-images.githubusercontent.com/6911132/122681578-32898c80-d1f5-11eb-9041-6a4bcf04a533.png)

[2021-06-22 05:47] cloud2018 opened #1027 ""Upcoming cards" shows cards from different accounts"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Steps to reproduce the behavior:

1. Android with Nextcloud app and Deck app
2. 2 users on 2 different servers registered in Nextcloud app

[2021-06-22 05:52] stefan-niedermann commented on #1027
Duplicate of https://github.com/stefan-niedermann/nextcloud-deck/issues/962

[2021-06-22 05:52] #1027 closed

[2021-06-22 20:04] stefan-niedermann opened #1029 "💬3️⃣ Show and update comments unread counter"
See https://github.com/nextcloud/deck/pull/3025#issuecomment-866258534 - unfortunately it seems to not be documented yet (we should open an issue in the server repository for that).

UI wise it should work similar to the Web UI and display the comment indicator in a branded color, maybe also showing the counter of unread comments.

[2021-06-25 18:14] stefan-niedermann commented on #1014
@desperateCoder thanks for rewriting this code part!

@neerro Those improvements will be shipped with Deck Android `1.19.0` and should allow to apply styling via the context menu in a more straight forward, reliable and expected way.

If you find unexpected behavior in the editor with Deck `1.19.0` or higher, please report an issue with a sample again. As @desperateCoder mentioned, applying styles

[2021-06-25 18:14] #1014 closed

[2021-06-27 16:02] molivier-fcms opened #1034 "Due date are always shown with hours (french language)"
**Describe the bug**
With french language in my android UI, cards with due date are always shown with the date **and** the hour if the deadline is over 24h. If Android language is set in English, there is only the due date. It eats a precious space for cards with long title.

**Steps to reproduce the behavior**
1. (In android) go to `Settings` >  `General management` > `Language`
2. Add french lan

[2021-06-27 16:55] molivier-fcms opened #1035 ""Add a new card" widget for home screen"
**Is your feature request related to a problem? Please describe.**
In quick menu (top screen menu) we can add the button "Add a new card". But we don't have the same widget for home screen so we could create a card with one press on the widget icon (as we have with Notes android).

**Describe the solution you'd like**
Having a widget for creating a new card from home screen.

**Extra question**:
W

[2021-06-27 18:31] stefan-niedermann commented on #1034
Indeed, i can confirm that behavior! Very strange, german and english behaves as expected. I'll have a look at this issue, thanks for the report 🙂.

[2021-06-28 12:34] stefan-niedermann commented on #1035
Dear @molivier-fcms,
thank you for the feature request.

However, we have no plans to add a widget for this use case as it has several drawbacks (and we plan to remove it from the Notes app in a future release, too).
One of the drawbacks is inconsistent behavior (for example we needed to add the text ourself or have no text at all). We also can't detect which shape your icons on your launcher have

[2021-06-28 12:34] #1035 closed

[2021-06-28 13:29] stefan-niedermann commented on #1034
Now it gets even stranger. While i can reproduce the issue on my physical device, i don't see the problem on emulated devices (Android 5 and Android 12):

![grafik](https://user-images.githubusercontent.com/4741199/123644337-929bb680-d825-11eb-9670-86e0ffa3be19.png)

[2021-06-28 13:31] stefan-niedermann commented on #1034
Update: I can reproduce this issue on an emulated Android 5 device:
![grafik](https://user-images.githubusercontent.com/4741199/123644620-d55d8e80-d825-11eb-88f2-382904ace00b.png)

So maybe this isn't a bug in the Deck app at all but in Android itself (which might have been fixed in recent Android versions).

[2021-06-28 13:38] stefan-niedermann commented on #1034
Indeed: `DateUtils#getRelativeDateTimeString` returns on Android 5

[code]
while it returns on Android 12

[code]

:thinking: hmm... looks like we need to rewrite this code part a bit... we are making assumptions about the returned format:

[code]

[2021-06-28 15:46] molivier-fcms commented on #1035
Sure, thanks for these information. I did not pay attention about the native shortcut system. It fulfill my need. ;)

[2021-06-29 10:18] dsp77 opened #1037 "CardAttachmentsFragment not attached to an activity"
1. Existing Entry
2. Add to the entry an attachment from the photo gallery. - Note, Nokia 8.1 camera photos are about 11 MiB in size.
3. Deck created the full crash report, however, the App did not crash.

[code]

[2021-06-29 11:14] stefan-niedermann commented on #1037
Dear @dsp77, thanks for the report and sorry for the inconveniences!

This looks like a duplicate of #478 for which we unfortunately  haven't found a final solution yet, but still trying to track down this issue.

A few questions to be sure, though:

- Have you been able to upload other files via the Deck Android app (or the same file on a second try)?
- Have you tried killing the app and restarti

[2021-06-29 11:18] stefan-niedermann commented on #1037
As a side note: Next time please fill out the complete issue template. It is there for [a reason](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed), saves your and our time, avoids ping-pong-questions and usually helps us to solve reported issues faster 😉

[2021-06-30 18:24] dsp77 commented on #1037
The upload of the file did work. That is the strange thing. The APP brought up the error message, but it did not crash.

No, as the image was attached as expected, I just posted the error message.

Unfortunately, I am not able to reproduce the error. I created a new entry and attached an image, without problems. I also attached another image to the existing entry, that originally crashed with the

[2021-06-30 18:53] stefan-niedermann commented on #1037
Alright, it happened because a part of the UI was there two times - it shouldn't. When one of the two parts crashed, the error popped up while the rest of the app continued working.

The cause of the second part is Android killing parts of an app when it is in the background. Some other parts survive like "zombies" and then crash unexpectedly.

I'll close this issue in favor of #478 since it is th

[2021-06-30 18:53] #1037 closed

[2021-07-03 09:53] neerro opened #1044 "Deck crashed due to bold format was applied"
**Describe the bug**
See steps to reproduce field below

Steps to reproduce the behavior:
1. The access to the internet on android device has been closed.
2. Create a card in Deck
3. Added header and description in the relevant fields
4. Saved card and close app itself.
5. Then open created card once again. Open editing mode then marked some word (by finger holding on device screen) then open thre

[2021-07-03 10:06] stefan-niedermann commented on #1044
Thanks for the report and sorry for the inconveniences.

Can you share a minimal sample of the text in your description and tell us from where to where exactly you selected the text before you toggled `bold`?

We have some enhancements for the editor for version `1.19.0` in the pipeline which likely will also solve this issue, but it would be great if we can ensure that this bug will also be fixed

[2021-07-03 11:57] stefan-niedermann commented on #1025
Well this is only a symptom, not the cause of the error. The fragment shouldn't be null at this point. I am not a fan of just hiding the error as we won't remember it and have a bug for a long time then...

I will try to reproduce the issue and maybe we find a better solution, but yeah, if we aren't able to find the root cause, we might at least be able to prevent the crash...

Thanks fir the repo

[2021-07-05 14:48] #1044 closed

[2021-07-05 14:50] stefan-niedermann commented on #1044
`1.19.0` is getting rolled out starting today in stages. We assume that also this bug *should* be addressed.
Feel free to reopen this issue if it still occurs with `1.19.0` or later or alternatively provide a crashing sample from `1.18.3`, which will also allow us to verify whether this behavior still occurs.

[2021-07-05 17:04] stefan-niedermann commented on #1034
@molivier-fcms while a general clean solution will be quite comicated, i think i have at least found a solution for french language.

Would you mind testing [this debug build](https://github.com/stefan-niedermann/nextcloud-deck/suites/3162008149/artifacts/72760866)? You can install and use it safely parallel to the released version.

[2021-07-05 17:10] stefan-niedermann commented on #1034
The solution currently only eleminates `00:00`, i will try to enhance it so it behaves equally to english language. @desperateCoder can you check out the corresponding PR and replace the `.endsWith` part with an regex that goes for `2 digits - colon - 2 digits`?

[2021-07-05 20:55] desperateCoder commented on #1034
Sure, tomorrow at lunch break.

[2021-07-06 07:58] molivier-fcms commented on #1034
Currently I still have the hour with the date with this debug build.

[2021-07-06 08:01] desperateCoder commented on #1034
Is it "00:00" again or maybe a different time? Could you please share a screenshot?

[2021-07-06 08:26] molivier-fcms commented on #1034
I've got this:
![1080-476-max](https://user-images.githubusercontent.com/39309715/124567700-8971a180-de44-11eb-82ff-0917fc9f6629.jpg)

The build version is 1.19.0, right?

[2021-07-10 20:35] #986 closed

[2021-07-12 05:39] stefan-niedermann commented on #1034
@molivier-fcms could you please test [this build](https://github.com/stefan-niedermann/nextcloud-deck/suites/3212663558/artifacts/74325657) again?

[2021-07-12 07:45] stefan-niedermann commented on #731
Since this issue also appears without using the Deck Android app, we assume that the root cause is in the server.

We'll close this issue therefore in favor of https://github.com/nextcloud/deck/issues/2565 - feel free to reopen if the issue persists in the Deck Android app after the corresponding server issue has been fixed.

[2021-07-12 07:45] #731 closed

[2021-07-12 08:10] desperateCoder commented on #731
https://github.com/nextcloud/deck/issues/2565 is closed as a duplicate of https://github.com/nextcloud/deck/issues/2276

[2021-07-12 08:11] stefan-niedermann commented on #731
Thanks for the addition, i had the wrong issue in the clipboard :)

[2021-07-12 10:20] stefan-niedermann commented on #1025
@SteffoSpieler since neither @desperateCoder nor me can reproduce this on our physical devices (and also not in emulators), we need some more information:
- Are you using a custom ROM?
- Are you using another launcher than the default launcher?
- Are you able to reliable reproduce this issue *each* time you are performing the steps to reproduce?

[2021-07-12 10:42] SteffoSpieler commented on #1025
- I am not using a custom ROM.
- I am using the default EMUI launcher.
- I can reproduce this issue each time I am performing the steps to reproduce. (which you can also see in the video)

My Versions:
**Build-Number**: 11.0.0.153
**EMUI-Version**: 11.0.0
**Android-Version**: 10

[2021-07-12 11:00] stefan-niedermann commented on #1025
Could you please try [this build](https://github.com/stefan-niedermann/nextcloud-deck/suites/3214887669/artifacts/74394515)? You can safely install and use it parallel to the published version.

[2021-07-12 11:08] SteffoSpieler commented on #1025
The Bug is gone in your build.

[2021-07-12 11:14] stefan-niedermann commented on #1025
Awesome. Thanks for testing!

We'll ship this fix with `1.19.1`.

[2021-07-12 11:14] #1025 closed

[2021-07-15 10:50] stefan-niedermann commented on #1034
ping @molivier-fcms [⇧⇧⇧](https://github.com/stefan-niedermann/nextcloud-deck/issues/1034#issuecomment-877987330)

[2021-07-15 14:13] molivier-fcms commented on #1034
Sorry I missed the first message. The new build works as expected.
I don't have the target hour anymore, which is good. Here the behavior I observe:

- If event if below 1 hour: I see the remaining minutes
- If event is below 24 hours: I see remaining hours
- If event is below 48 hours: I see "tomorrow" (written in french)
- If event is below 72 hours: I see "After tomorrow" (written in french)
-

[2021-07-15 14:21] stefan-niedermann commented on #1034
Awesome, thanks for testing again!

We'll push this fix with `1.19.1`.

[2021-07-15 14:21] #1034 closed

[2021-07-23 08:00] MrLoverLoverMMMM opened #1061 "Not usable if internet connection is unstable"
Desciption:
If the internet connection is disconecting from time to time (for example on the go) or you wanna use the app offile you will receive every few minutes a syncronisation error.
An offline mode would be nice, so that you can delete items from the list or add some and as soon as you again have network it does the sync. The sync as well as the trying to sync would be nice in the background

[2021-07-23 08:15] stefan-niedermann commented on #1061
Hi @MrLoverLoverMMMM ,

thank you for picking up my offer to discuss this issue. At the Play Store developers are limited to 350 characters which makes a conversation ... well. ridiculous :wink:

First of all, please define what `latest` is, as this varies depending on your environment (for example: the "latest" Deck Server app for Nextcloud 20 is 1.2.8, for Nextcloud 21 is 1.4.3 and Nextcloud 22

[2021-07-23 17:53] rakekniven opened #1062 "l10n: Transifex sync is not working as expected"
Today it was reported that sync from Transifex to GitHub is not working.

Just checked Transifex regarding activity:

<img width="1028" alt="Bildschirmfoto 2021-07-23 um 19 50 40" src="https://user-images.githubusercontent.com/2069590/126821862-c4cf0e12-0e7f-44bd-8cfd-8def47d4a777.png">

Link: https://www.transifex.com/nextcloud/nextcloud/android-deck/

Checked GitHub afterwards:
<img width="1286"

[2021-07-24 22:04] neerro opened #1063 "Deck crashed when server synchronization is impossible"
**Describe the bug**
See steps to reproduce field below

**Steps to reproduce the behavior:**
1. Within steps are described below, I had no capability to synchronized my Android Deck app to the server. I had access to internet on Android but haven't on server.
2. I've start Android deck app.
3. In the existing deck, I've tried to add a new card.
4. Then I saw error below. When I've tried to reprod

[2021-07-25 00:22] desperateCoder commented on #1063
Hi @neerro, thanks for your report and sorry for the inconveniences! This is quite exotic and we didn't test this specific case yet, but that's a great hint, thanks for that!

We'll have a look at it, I guess we'll catch that and bring up a readable error, but the app should work as expected, you're totally right.

We'll keep you up to date!

[2021-07-26 00:28] neerro commented on #1063
It's impossible to work with Android Deck  app when server is not response for synchronization as I've got the next error when I have tryied create a new card in existing deck.
After entering header name and waiting for a some time (not more 15 sec.) I met the next error and crashing app.

[code]

[2021-07-26 00:49] neerro commented on #1063
The same error I've got when I tryied renew synchronization when server access is out.

Step to reproduce:

I open existing deck, put finger on mobile device screen and pull down to renew. After that round spinner was appeared but without any animation, it seems spinner had freezed. Then I've got message below  :(

[code]

[2021-07-26 08:31] stefan-niedermann commented on #1063
So, let me summarize, what we got until now:

1. The app did not crash, it displayed a message, that the synchronization was not successful
2. Your Nextcloud instance is not reachable

So what is your concrete suggestion about how to handle this state?

If a Nextcloud instance is not reachable, then the user gets a notification - that looks correct from my point of view. Do you suggest to hide thi

[2021-07-26 08:34] stefan-niedermann commented on #1061
@MrLoverLoverMMMM any news from you?

A few more hints about your setup would also be useful. I assume that your Nextcloud is only reachable in your private Wi-Fi, is this correct?

Keep in mind that "Offline capabilities" mean, that we can handle that your *device* is offline, not your server. So i am asking myself, why your server is not reachable the whole time?

Given you can only access your

[2021-07-26 08:38] MrLoverLoverMMMM commented on #1061
Hello ;)
Nope of course not, I have a whole datacenter and its of course from outside reachable as well!
My Server is reachable, but when my phone has instable connection at for example hotspots in shops, it fails from time to time to sync and annoyes with that.

[2021-07-26 08:40] stefan-niedermann commented on #1015
We analyzed this issue and are aware of the problem. Unfortunately we haven't been able to find the root cause of this yet. We therefore [put a bounty](https://help.nextcloud.com/t/looking-for-an-android-developer-who-can-solve-a-bug-in-nextcloud-deck/119482) on this issue for a freelancer who is able to help fixing this issue and keep looking for solutions to this platform related problem...

Clo

[2021-07-26 08:40] #1015 closed

[2021-07-26 08:46] stefan-niedermann commented on #1061
Thanks for the quick response 👋 🙂

I am asking because this is a part of the message you posted in your Play Store review before deleting it

[code]

and `/localip (port 8080)` sounds a bit cumbersome as a remote address.
Are you able to provide a test account? (if yes, please share the credentials with info@niedermann.it)

Unreliable network connectionsare always an issue. Of course we need to no

[2021-07-26 19:12] neerro commented on #1063
Not exactly, as sometimes I can see collapse the app after I push on close button in error window.

Within that issue, yes.

My suggestion in that case is very simple. Information about synchronization should be processed in silent mode. For example, as it is represented in this time. Round arrow spinner in each card are shown the status. For example red color non synchronized, green color - every

[2021-07-26 19:58] neerro opened #1064 "Unexpected behavior of android app for different scenarios"
**First scenario**
---
**Describe the bug and steps to reproduce**
So in this case I have good and strong internet connection on android device and access to my server/instance and synchronization capability. Open my android deck app then open existing deck, I wanna renew my synchronizations and put my finger on device screen then pull down. And after then I saw the window with next error message.

[2021-07-28 11:24] stefan-niedermann commented on #1063
All right, based on your feedback, we decided to catch exceptions which are most likely related to temporary infrastructure, connectivity problems or a unreachable server in the future silently. The sync indicators will stay of course to signal the user that an item is not yet synchronized.

When performing an active pull to refresh (swiping down), we will continue to display those kinds of errors

[2021-07-28 11:24] stefan-niedermann commented on #1064
See https://github.com/stefan-niedermann/nextcloud-deck/issues/1063#issuecomment-888232487

[2021-07-28 11:24] #1064 closed

[2021-07-28 11:28] stefan-niedermann commented on #1061
Please see [this comment](https://github.com/stefan-niedermann/nextcloud-deck/issues/1063#issuecomment-888232487) in a similar issue. Starting with `1.19.1` we will handle this kind of infrastructure related errors silently and only display them if a user actively pulls down to refresh.
Thank you for the report :) You can delete the test account you created for me.

[2021-07-28 11:28] #1061 closed

[2021-07-28 12:59] stefan-niedermann commented on #1061
(And with "infrastructure related" we explicitly mean also network related errors. As you are working on a datacenter, it is more likely that the connection aborts you noticed are related to the infrastructure *between* your device and the datacenter, for example cancelled calls when switching between wi-fi and mobile)

[2021-07-28 13:17] MrLoverLoverMMMM commented on #1061
Thx
-------- Ursprüngliche Nachricht --------Von: Niedermann IT-Dienstleistungen ***@***.***> Datum: 28.07.21  15:00  (GMT+01:00) An: stefan-niedermann/nextcloud-deck ***@***.***> Cc: MrLoverLoverMMMM ***@***.***>, Mention ***@***.***> Betreff: Re: [stefan-niedermann/nextcloud-deck] Not usable if internet
  connection is unstable (#1061)
(And with "infrastructure related" we explicitly mean also n

[2021-07-29 08:49] tobiasKaminsky commented on #1062
https://github.com/stefan-niedermann/nextcloud-deck/commit/54c0e576a36b6f7f6f81cd751c5d073c1ce92f7b

Now it works again.
Reason was that we switched docker container from docker hub to github docker repo, but failed to generate all needed containers.

[2021-07-29 09:02] #1062 closed

[2021-08-03 09:58] alexanderdd opened #1072 "HTTP 403 when creating a card"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Tried to create a card, crash report (below) was shown. Tried two times, same. The cards were there though.

[code]

[2021-08-03 10:08] stefan-niedermann commented on #1072
Hi @alexanderdd,

so first of all this does not look like a "crash", this looks like the card was created successfully on your device and it just did not get *synchronized* to your server and you therefore got this notification that something went wrong. This is an important difference, so tell me if my assumption is wrong here.

From the error message i can see a `HTTP 403` which basically means

[2021-08-03 10:54] desperateCoder commented on #1072
Also please check if your credentials are still valid. If you changed your password or something, please correct it in the Nextcloud FILES app. Maybe you'll also need to reconnect the account in the deck app afterwards.

[2021-08-03 20:05] stefan-niedermann commented on #1063
Deck Android 1.19.2 has been rolled out today for all users, closing this issue therefore 🙂

Thank you for the productive discussion.

[2021-08-03 20:05] #1063 closed

[2021-08-06 11:36] boulayor opened #1073 "duplicated cards when cloning boards+cards"
**Describe the bug**
When I clone a board, consisting of multiple lists, including multiple cards, all cards in some lists get duplicated oe to three times.
Resulting in a copy of the board, with the same amount of lists but with 1 to 4 times the cards. The multiplication seems to effect all Cards of a List the same. Either the cards in a List are duplicated or not, and zhe factor is in the same l

[2021-08-07 15:34] desperateCoder commented on #1073
Hi @boulayor, thanks for your report! @stefan-niedermann could reproduce this behaviour. I had a quick look over the code, couldn't find anything suspicious. We'll have a closer look at this, but resolving this issue could take a while. Seems like a race condition, which is very hard to spot, so please be patient.

[2021-08-08 16:33] stefan-niedermann commented on #1072
Closing due to missing feedback. Please feel free to reopen this issue with additional information, especially

[2021-08-08 16:33] #1072 closed

[2021-08-09 21:47] neerro opened #1075 "App always tries to upsync attachments which are no longer available locally"
**Describe the bug**
Android app does not synch with server. Server is online and I have full access to it.

Steps to reproduce the behavior:
1. Open app and see error message
2. The same error when I tried synch manually.

**Versions**

 - Nextcloud: 20.0.1
 - Nextcloud Deck: 1.4.3
 - Nextcloud Android: 3.16.1
 - Nextcloud Android Deck: 1.19.3

**Smartphone (please complete the following informat

[2021-08-10 06:46] stefan-niedermann commented on #1075
Looks like zhis image `/2021-07-28_BackGroundImage.jpg` could not be uploaded succesfully. Do you remember to which card you attached it? I guess it should be attached on the Android app but not in the web, is this correct?

[2021-08-10 11:45] neerro commented on #1075
Oh, yeah I suggest I know what the image is. I've tested possibility to upload an image within I haven't an access to instance (and yes, in mobile app). Just tried how it is workin in that case, and - no way, it doesn't work.

So, what I shal to do further?

[2021-08-10 12:41] stefan-niedermann commented on #1075
Uhm... Can you long press on this image in the Android app and then press <kbd>Delete</kbd>? ([I don't think so](https://github.com/nextcloud/deck/issues/2904), but please try it).

In the worst case you will need to remove your account from the Deck Android App and readd it, this should solve the problem. Make sure that everything else is synchronized though before doing this.

Alternatively dele

[2021-08-10 19:04] neerro commented on #1075
So, after this operation It looks like working. I have no see the error anymore. I have deleted the file as per your suggestion.
And one more thing, I couldn't open those file as It seems that It didn't upload completely, or there are some bugs in uploaded process.

[2021-08-10 19:21] neerro commented on #1075
For additional information...
After all mentioned actions above, I've tried to upload an image once again (instance is available). When I choose file from mobile and press upload, I didn't see the file in the deck card then I've tried to repeat this action in second time but met the same situation then I've tried in third time after that opened the error window. I closed the error window (error co

[2021-08-10 19:32] neerro commented on #1075
In last case, when image was synch with the instance I have no capability to delete image (by long press on this image in the Android app and then press ```Delete```) anymore from mobile app and server deck as well.

[2021-08-11 17:04] neerro opened #1076 "Need action ASAP with Deck server app"
I know that is not your branch but since I've updated to nextcloud version 22.1.0 I have no possibility to log in my cloud server from "cold" start (non cached). So I have been forced to disable my server deck app and as consequence I can't use android deck with server version (when server deck is off access to cloud server works fine). And I'm not alone, as I can see. Nextcloud deck issue [#3248]

[2021-08-11 17:09] stefan-niedermann commented on #1076
I am aware of the problem (i am watching the deck server repository as well), but what exactly are you expecting from us Android devs? We don't know the code of the deck server app nor can we push any bugfix there (or even publish new versions).

Why are you not able to contiue using the Deck Android app? Even not when being offline?

[2021-08-11 17:28] neerro commented on #1076
Yes, I know it, but I've made notice about in the hope of you could sort things out issue with developers server deck.

Yes, I can't use as after I tried to add a new card I've got one more error with code 302

[code]

[2021-08-11 17:30] stefan-niedermann commented on #1076
Does this also happen when you are in mobile data and enable the `Sync only on Wi-Fi` setting? Or when you put yiur device in aero plane mode?

[2021-08-11 17:32] neerro commented on #1076
The second one, in airplane mode.

[2021-08-11 17:36] neerro commented on #1076
The same error in wi-fi mode as I've described above. And also I can see new added card after error window closed.

[2021-08-11 17:57] stefan-niedermann commented on #1076
Well, the Deck Android client was never meant to be a standalone app and requires a server to synchronize with. It can handle offline state of the device as you noticed ("I saw the new card in list"). I will check why the app tries to perform network requests in aero plane mode while it shouldn't. When the server which it is connected to, doesn't have an enabled Deck app though it is correct to di

[2021-08-11 21:18] user13v31 opened #1078 "App crashes when clicking into single-card-widget"
**Describe the bug**
When I click into the single-card-widget I get a crash report and nothing else.  If I click on the title of the widget/card it works.

**Expected behavior**
I guess I should either be able to edit the card directly from the widget or also open the corresponding card.

**Versions**
 - Nextcloud Android: 3.16.1
 - Nextcloud Android Deck: 1.19.3

**Smartphone (please complete the

[2021-08-11 22:29] desperateCoder commented on #1078
Hi @user13v31, thanks for your report. Well have a look at it!

A quick test  worked for me, can you try a different card? Does it crash as well?  How many single card widgets do you have added to your home screen right now?

[2021-08-12 12:09] user13v31 commented on #1078
I tried it. As long as there is no description content it works, but as soo as there's a single character in the description it faults.
I only hat one widget but it happens with the third, too,  different cards, different boards.

[2021-08-12 12:52] desperateCoder commented on #1078
@user13v31 thanks for the research! I was able to reproduce it now.

Fun fact: it actually works if you tap on the title or the footer of the widget. Only if you tap on the center part (=description), it dies.

I guess it's some minor stuff, we'll fix that. I think @stefan-niedermann knows what to do here.

Thanks again for your response!

[2021-08-13 08:11] user13v31 commented on #1078
You're welcome. Thanks for putting your time into the Deck-App. I just love it.

[2021-08-13 10:57] q-wertz commented on #986
Hi,
before opening a new bug report I just wanted to make sure this is not an intended behavior:
Currently in the "Upcoming Cards" section I also see cards that are not assigned to me and which are from a shared board.

To me that looks wrong :sweat_smile:

[2021-08-13 11:18] stefan-niedermann commented on #986
@q-wertz please see [upcoming-analyzer.niedermann.it](https://upcoming-analyzer.niedermann.it/) for the rule set we adapted from the Deck server app.

If the behavior of the Deck server app 1.5 (or higher) is different to the Deck Android app, please just open a new issue here, if the behavior is the same and wrong on both platforms in your opinion, open a new issue in the [Deck server app reposit

[2021-08-14 10:25] q-wertz commented on #986
Thanks for the hint. I didn't know about the fact that 2nd rule makes the 3rd "useless".

Not what I would expect but makes sense in some way ("hey there is something that has to be done but no one is assigned")

I just currently had the workflow for finished cards to just shift it to a "Done" row, untag me and leave the due date as there is no "Done" tag (yet). Another discussion :)

[2021-08-14 11:12] user13v31 opened #1079 "Archiving swipe"
Hi

I would like to suggest an easier way to archive cards. Instead of having to click on their 3-point-menu to select archive I think it would be easier to be able to move them to an archiving-area that pops when press-moving a card (like when moving the card to another list).
I guess an alternative could be some kind of multiselect cards with the option to archive or an archive mode, but for me

[2021-08-14 11:16] desperateCoder commented on #1079
Hi @user13v31, thanks for your suggestion. Let's see what @stefan-niedermann thinks about it, since he is the master of the UI.

[2021-08-14 18:49] Florikoeln opened #1080 "Android App does not connect to server"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Deck (and also the other nextcloud apps installed from fdroid) cannot connect to my private hosted nextcloud. Connection via browser on and

[2021-08-14 19:29] desperateCoder commented on #1080
Hi @Florikoeln, thanks for your report!

That's wild! Never saw anything like this before in our app. I highly suspect an configuration error here, but yeah, let's find out.

Great catch to omit the url in your report. What happens, if you just enter it into a browser? I mean the **full** url provided in the error message. I suspect the server side just refuses the connection.

Does the Nextcloud

[2021-08-15 13:42] Florikoeln commented on #1080
Hi @desperateCoder, thanks for the quick answer.

I have tried:

1. connect to URL (w/o https) in browser (Phone, same WIFI as Nextcloud) --> nextcloud login Window
2. connect to URL (w/o https) in browser (Phone, LTE) --> netcloud login Window
3. connect to URL (with "https://") in browser (Phone, same WIFI as Nextcloud) --> nextcloud login Window
4. connect to URL (with "https://") in browser (P

[2021-08-15 21:56] q-wertz opened #1081 "Upcoming cards view differs from main Deck App"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
In the Android app upcoming card which don't have an assignee but a due date are shown in my list of upcoming cards (as it is intended accor

[2021-08-15 21:57] q-wertz commented on #986
Sorry, but I just checked again and the rules seem to differ.

In the Android app I see (as described) tasks that are not assigned to me but have a due date. I don't see them in the usual Deck app. Opened an issue for that (see https://github.com/stefan-niedermann/nextcloud-deck/issues/1081).

[2021-08-15 23:01] desperateCoder commented on #1081
Hi @q-wertz, thank you for your report!

Indeed, our current logic is as stated here:

https://github.com/stefan-niedermann/nextcloud-deck/blob/0b1c03f839095dae9508ea088464f9a3f922aa15/app/src/main/java/it/niedermann/nextcloud/deck/persistence/sync/adapters/db/dao/CardDao.java#L23

If I get you right, it is the last part, that isn't as intended: `OR (hasDueDate AND noAssignees))`
Right?

[2021-08-16 05:36] q-wertz commented on #1081
As I understand stefan-niedermanns comment https://github.com/stefan-niedermann/nextcloud-deck/issues/986#issuecomment-898385572 the Android App should act like the Server App.

In my opinion it currently differs.

[2021-08-16 15:48] desperateCoder commented on #1080
I think that's the point. Noone knows what is behind the IP right now. you could try to resolve the domain to the current IP, I guess it will be a different one now. The primary question is: how the hell did the Files app think it's a good idea to use the IP?! did you use a proxy or a VPN at setup time? Maybe something did automatically translate your domain to an IP?

Can you just use the actual

[2021-08-16 15:51] desperateCoder commented on #1081
@jakobroehrl did all the testing for the current logic. What' your opinion on this  @jakobroehrl? I mean - it's quite a minor change to just throw away the last portion of logic, but I think you were involved in the server logic as well, right? Did it change lately or something?

[2021-08-16 16:04] stefan-niedermann commented on #1081
@q-wertz Nextcloud Deck server changed its logic in version `1.5` - we decided to not maintain multiple different logics but only the latest Deck server version (because user can have multiple accounts in different versions and this would result in a huge maintenance hell).

@jakobroehrl can you confirm that this *is* the change between Deck `1.4` and `1.5`?

[2021-08-18 10:28] Florikoeln commented on #1080
I finally solved the issue:

1. Loggin into myfritz.net
2. Checked the full URL of the server (is in my case <computername>.<numbers and letters>.myfritz.net
3. Added the URL to "trusted domains" in config.php
3. Used this URL in the android files app --> login possible
4. removed account <numbers and letters>.myfritz.net in Deck
5. added new <computername>.<numbers and letters>.myfritz.net to Dec

[2021-08-18 10:28] #1080 closed

[2021-08-20 05:55] jakobroehrl commented on #1081
Hi,
there was a litte change in the 1.5.:
https://github.com/nextcloud/deck/commit/45a10f084043d311aee8b2e089f357e7637e39dc
https://github.com/nextcloud/deck/pull/3078

[2021-08-20 06:12] q-wertz commented on #1081
I'm still on 1.4.3 so that's the reason they differ. With 1.5 (only available for NC22) the Server and Android App will then have the same behavior.

[2021-08-20 06:12] #1081 closed

[2021-08-22 11:16] SethFalco opened #1087 "`CTRL` + `ENTER` to Save Changes on Card Description"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**

In many apps doing `CTRL` + `ENTER` acts as a "finished" action to either send, post, or save

[2021-08-22 11:25] desperateCoder commented on #1087
Hi @SethFalco, thanks for your request. Are you sure you want to request that feature for the android App? Or have you maybe mistaken it for the server app in the browser?

[2021-08-22 11:26] SethFalco commented on #1087
Ah whoops. ^-^' Yeah this was intended for the server app.
Sorry about that! That's what I get for rushing instead of thoroughly checking the repo I was on.

[2021-08-22 11:28] #1087 closed

[2021-08-22 11:31] desperateCoder commented on #1087
Your not the first one mistaking it and you won't be the last one, no oroblem

[2021-08-24 09:04] MrLoverLoverMMMM opened #1090 "Current Version of Android App does not qork in intranet or from outside"
Error
Proxy at wlan used
Nextcloud 21.0.5
Deck App: 1.19.3
Deck on Server: 1.4.3
[code]

[2021-08-24 09:12] MrLoverLoverMMMM commented on #1090
This issue occurs, when you switch between wifi and celular network and donot close the normal nextcloud app (not deck app).
if you close after switch the nextcloud app manually, then it will work

[2021-08-24 09:22] desperateCoder commented on #1090
@MrLoverLoverMMMM thanks for your report. Please fill out the issue template next time, it is there [for a reason](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed).

When you switch your connectivity to cellular, does the **Files** app still work? By that I mean, can you still up- and download files without restarting it?

Spoiler: This most

[2021-08-24 09:30] MrLoverLoverMMMM commented on #1090
No also not
-------- Ursprüngliche Nachricht --------Von: Artur ***@***.***> Datum: 24.08.21  11:22  (GMT+01:00) An: stefan-niedermann/nextcloud-deck ***@***.***> Cc: MrLoverLoverMMMM ***@***.***>, Mention ***@***.***> Betreff: Re: [stefan-niedermann/nextcloud-deck] Current Version of Android App
  does not qork in intranet or from outside (#1090)
@MrLoverLoverMMMM thanks for your report. Please f

[2021-08-24 09:43] desperateCoder commented on #1090
Thanks for your quick response! The Problem isn't Deck or SSO then, but the [Files app](https://github.com/nextcloud/android). Please open an issue in the linked repository and describe the problem in the Files app. As soon as the problem is solved in the Files, Deck will automatically start to work again as well.

The cause why we can't do anything here, is that we as the Deck app don't make any

[2021-08-24 09:43] #1090 closed

[2021-08-24 09:45] MrLoverLoverMMMM commented on #1090
OkPerfekt
-------- Ursprüngliche Nachricht --------Von: Artur ***@***.***> Datum: 24.08.21  11:43  (GMT+01:00) An: stefan-niedermann/nextcloud-deck ***@***.***> Cc: MrLoverLoverMMMM ***@***.***>, Mention ***@***.***> Betreff: Re: [stefan-niedermann/nextcloud-deck] Current Version of Android App
  does not qork in intranet or from outside (#1090)
Thanks for your quick response! The Problem isn't De

[2021-09-02 09:58] TomSaw opened #1095 "Reorderable Tags"
Just a little drag&drop handle to the right of each Tag. Well known from other lists

This would be awesome 🤪

[2021-09-02 10:10] stefan-niedermann commented on #1095
Hey @TomSaw :wave:

the tags currently do not have a order at all. This means, we can't reorder them because those changes won't be synchronized to the server and across devices.

I recommend you to request this feature in the [Deck server app](https://github.com/nextcloud/deck/issues/new?assignees=&labels=&template=Feature_request.md) - if they implement an order attribute for tags, the Android a

[2021-09-02 10:44] TomSaw commented on #1095
Thanks Stefan for the quick response,

Will do so when I'm back home and reference this issue here afterwards.

[2021-09-02 11:38] stefan-niedermann commented on #1095
Perfect :slightly_smiling_face: I am watching the Deck server app repository too and will reopen this issue if the feature has been implemented in the Deck server app.

[2021-09-02 11:38] #1095 closed

[2021-09-04 16:32] MartinMai commented on #644
I can reproduce creating many duplicate labels when clonig a board with cards in the android app.
The duplicate labels seem to appear only on the web-vie not in the app. The number of duplicate labels seems to vary (from 2 to many).
App Version 1.19.3, Deck Server Version 1.5.1, Nextcloud 22.1.1

[2021-09-04 16:47] desperateCoder commented on #644
Hi @MartinMai, thanks for your report and thanks for using the search! In this case, considering the fact you cloned a board, I guess your issue isn't really related to this one.

Please open a new issue for this, including the steps to reproduce (like stated in the issue template). That way we won't bother all the involved people here and we can focus on your actual problem.

Thanks in advance!

[2021-09-04 17:31] deathblade666 opened #1098 "App can no longer reach server?"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Hi I just setup nginx to provide ssl cert for my nextcloud instance. I have configured the nextcloud app and have no problema connecting th

[2021-09-04 17:47] desperateCoder commented on #1098
Hi @deathblade666, thanks for your report!

Just a wild guess: is the deck server app actually installed in your new instance? 😄

Alterntatively you could try reconnecting the app by deleting the apps storage, if you don't have non synchronized local changes on your phone.

The call is actually done by the files app, so there isn't much we can do about it.

Can you use deck via browser?

[2021-09-04 18:15] deathblade666 commented on #1098
Hi yes it is installed on my instance. Its the same instance ive been using just now have an external address. I have tried clearing app data as well as uninstall and reinstall same thing. I did notice that there is an update for my NC instance. I'll update it and try again

Also yes I can use deck via browser just fine

[2021-09-04 20:05] desperateCoder commented on #1098
Ok, thats kind of wild... uhm... are you sure the files app works properly? Is a newly added file uploaded to the server?

If yes, could you please try accessing your server via `curl`? Thats pretty much the call our app is making.
Like this:
`curl -X GET 'https://<username>:<password>@<domain>/index.php/apps/deck/api/v1.0/boards?verbose=true' -H 'Accept: application/json' -H 'OCS-APIRequest: true

[2021-09-04 20:18] desperateCoder commented on #1098
Oh, i also found this in the interwebz:

https://help.nextcloud.com/t/nextcloud-client-not-working-with-proxy-redirects/70117

And

https://github.com/nextcloud/android/issues/6465

The second one also has @stefan-niedermann involved, our fellow maintainer. Seems to be an issue with https-redirects. The notes app also uses the files app for the requests (surprise! Same maintainer). Maybe you could

[2021-09-05 01:02] deathblade666 commented on #1098
Thanks I'll take a look at those links. I assume by the files app you mean the standard next cloud app. Interesting so I just tested uploading a file it failed with the same error "permanently moved".  So it would seem it is an issue with the main app and how it handles redirects. Thank you for the information and your time! I will move my issue over to their repo.

Since this is an issue with the

[2021-09-05 01:02] #1098 closed

[2021-09-05 02:11] deathblade666 commented on #1098
Just FYI. I have tried various things I have found on line to fix this  none have worked. I have re-signed in under my non public address for my server and everything is working as expected.

Thanks again for pointing me to the actual issue.

[2021-09-05 08:47] desperateCoder commented on #1098
You're very welcome! 😊

I'm glad it worked out, at least sort of 😅

[2021-09-05 13:55] deathblade666 commented on #1098
Sorry just another FYI for anyone who might run come here for assistance. I have found a solution (at least for me) and have posted it in the Nextcloud android repo issue mentioned above.

[2021-09-06 10:19] desperateCoder commented on #1098
Sharing is caring, thanks for that! :heart:

[2021-09-07 15:41] jancwe opened #1100 "Possible Racecondition During Upload Of Multiple New Comments"
**Describe the bug**
When sending multiple comments, while the connection is bad, the order gets messed up as soon as they get uploaded.

Steps to reproduce the behavior:
1. Turn off the internet connection
2. Write some comments
3. Turn on the connection
4. Order of comments changes during upload

**Expected behavior**
Order of added comments should stay the same.

**Possible solution**

A possib

[2021-09-10 07:25] hoffrichterm opened #1102 "Failed to upload an attachment to a card"
**Describe the bug**
When I try to attach a Photo in the Decks app  an Exception is thrown

Steps to reproduce the behavior:
Open a card
Click on the Upload Symbol
Choose a Photo
Click on Upload

**Expected behavior**
The file should be attached to the card

**Screenshots**

![Screenshot_20210910-092333](https://user-images.githubusercontent.com/50859985/132816222-9937ddcd-cbff-4e3f-8a22-e6fed012a

[2021-09-10 08:18] stefan-niedermann commented on #1102
Hi @hoffrichterm 👋

1. Does this happen always when you try to upload an attachment, sometimes or only once?
2. Can you please check how much free storage do you have left on your phone?

[2021-09-10 08:23] hoffrichterm commented on #1102
Hi @stefan-niedermann

It happens always.
And here is a screenshot:
![Screenshot_20210910-102109](https://user-images.githubusercontent.com/50859985/132823810-f9059c0b-67bc-4ba5-8d95-003b5d7508bc.png)

[2021-09-10 12:05] #344 closed

[2021-09-10 12:05] #345 closed

[2021-09-10 12:15] stefan-niedermann commented on #1102
Hm, that's quite weird :thinking: Is only this picture affected or literally any image, file and contact you try to attach? How did you manage to upload the other attachments one can see in the screenshot? Via the Web UI?

[2021-09-10 14:49] #990 closed

[2021-09-10 14:51] stefan-niedermann commented on #990
:cry:

[2021-09-10 14:51] stefan-niedermann commented on #1102
Allright, we think we found the reason for this problem and we fixed it in the future `1.19.4` release. Let us know in case it occurs again with `1.19.4` or later.
Thanks for the detailed bug report!

Also for the sake of completeness: Marking as duplicate of #1075

[2021-09-10 14:51] #1102 closed

[2021-09-10 14:53] stefan-niedermann commented on #1075
Allright, we think we found the reason for this problem and we fixed it in the future `1.19.4` release. Thanks for the detailed bug report and let us know in case the issue occurs again with `1.19.4` or later :slightly_smiling_face:.

[2021-09-10 14:53] #1075 closed

[2021-09-10 16:45] stefan-niedermann commented on #545
Fixed in `1.19.4`.

[2021-09-10 16:45] #545 closed

[2021-09-10 17:41] stefan-niedermann commented on #1100
Sooo, we dug today into this shithole and *most* of the pitfalls are not our fault™. I think we have found a solution though which is satisfying.

**Problem No. 1:** The Nextcloud server does not allow clients to tell it the creation date. The server just assumes that the posted comment was created at the time the network request arrived. This means: You are offline on monday and post a comment. Y

[2021-09-10 17:41] #1100 closed

[2021-09-11 07:59] stefan-niedermann commented on #1079
It sounds like a nice idea, though i am worrying about the position of this drop area: Placing it on the left or right side will make it impossible to drag the card to another list, placing it at the top or bottom will make it impossible to drag the card to an edge to make the list scroll. Placing it in the middle might accidently lead to archive a card, when one actually wanted to swap position w

[2021-09-11 10:18] desperateCoder commented on #1078
It doesn't matter which card. I'll send you a screen capture via telegram.

Stack:

[code]

[2021-09-11 12:22] user13v31 commented on #1079
Hi,

thanks for the appreciation. I think a good idea would be to have two horizontal areas above the lists (there is enough space for separate areas I think). One in the area of the board name to archive and for scrolling just move it to the top of the list. Accidentally getting into the other area shouldn't do anything as long as you don't release it.

Am 11. September 2021 09:59:55 MESZ schrieb

[2021-09-11 13:03] user13v31 commented on #1078
Red and green works, blue crashes with lots of content and also with a single character (if the whole widget is filled it crashes)

Am 11. September 2021 11:49:20 MESZ schrieb Niedermann IT-Dienstleistungen ***@***.***>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2021-09-13 20:53] Valdnet opened #1104 "Filter operation when rotating a smartphone"
**- Steps to reproduce the behavior:**

1. Choose a filter.
2. Select a **label**.
3. Rotate the smartphone from vertical to horizontal position.

Issues:

1. The selected label becomes unselected.
2. The filter dot next to "Label" disappears.

**- Steps to reproduce the behavior:**

1. Choose a filter.
2. Select a **user**.
3. Rotate the smartphone from vertical to horizontal position.

Issues:

[2021-09-14 13:00] happnatious1 opened #1105 "Due date defaults to midnight"
If you select tomorrow on the calendar for the due date of a card and click OK it defaults to midnight so by the time that tomorrow comes it's already past due. It should default to midnight the next day so you have tomorrow to work on it.

[2021-09-14 14:59] Valdnet opened #1106 "Rename a list"
Steps to reproduce the behavior:

1. Synchronize your tasks.
2. Rename the list in "Deck" from the Nextcloud instance.
3. Synchronize your tasks.

The list name does not change in the "Deck" app for Android.

**Versions**
 - Nextcloud: 21.1.1
 - Nextcloud Deck: 1.5.2
 - Nextcloud Android: 10
 - Nextcloud Android Deck: 1.19.3

**Smartphone:**
- Android-Version: 10
- App-Store:
  - [ ] Google Play S

[2021-09-14 15:18] stefan-niedermann commented on #1106
This is a bug of the server app (https://github.com/nextcloud/deck/issues/2866)

As a workaround you can disable the `ETags` in the Deck Android apps settings, sync one time (this will take much longer than usual) and reenable the `Etags` again...

[2021-09-14 15:18] #1106 closed

[2021-09-18 17:46] desperateCoder commented on #1073
@boulayor are you on wifi or did you have kind of a bad connection or something? I have a quite hard time reproducing it. As you told already, yes, it doesn't happen **all** the time. But so far I wasn't able to break it yet. Did you pull-to-refresh right after cloning or something? Can you still reproduce it? Would be bad if we already fixed that "by accident" and I'm still trying to break it lik

[2021-09-19 18:12] user13v31 commented on #1078
Hallo

ich habe letztens eine andere CustomRom installiert. Vorher ArrowOS (Android 10), nun LineageOS18 (Android 11). Das Widget funktioniert nun reibungslos. Oder gab es ein Update?

Am 11. September 2021 15:03:36 MESZ schrieb level ***@***.***>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2021-09-19 18:15] user13v31 commented on #1078
Sorry for the german. I installed another CustomRom (LineageOS18, Android 11) and the widget is working now nice and clean. There wasn't an update, right?

Am 19. September 2021 20:12:23 MESZ schrieb level ***@***.***>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2021-09-19 21:08] desperateCoder commented on #1078
No problem 😅

Afaik no. At least not one that was addressing this particular issue.

That's good news! That explains, (kind of), why @stefan-niedermann wasn't able to reproduce that at all. Weird thing: afaik he's on LOS as well with his physical device (Poco F1), I'm on crDroid (Poco F3) and could reproduce it. Smells like an issue with our launchers I guess, which is quite weird, because of this

[2021-09-21 05:02] boulayor commented on #1073
@desperateCoder i'm connected to 4G. Speed, Ping an Jitter is fine (80/11Mbps Up/Down, 21ms Ping, 6ms Jitter), i have no indications for a bad connection.
I tried messing with the connection by switching from WLan to 4G while Cloning the board and cards. This time it went haywire. It created 3 Copies of the board (2 Empty), made 3 Copies of each List and some of the Cards in the Lists are multipli

[2021-09-21 07:03] desperateCoder commented on #1073
Ok, now **that's** wild. To make sure: they had all the same board color and name, right?

We actually log all the calls and their responses while development, but in the productive app the logging is turned off of course. If you like, wed provide you a dev app, so you can gather the app logs via MatLog or something.

Thanks for the research so far! I'll have to try that again, playing more around

[2021-09-21 07:11] desperateCoder commented on #1073
Oh, @stefan-niedermann just pointed out, that our app is capable of capturing logs by itself. For that, just enter the settings page, there is a dedicated entry for that.

[2021-09-21 09:56] stefan-niedermann commented on #1105
**TL;DR: We stick to what the Deck server app¹ does for the sake of consistency.**

In order to make the change happen, please raise a [feature request in the repository of the Deck server app](https://github.com/nextcloud/deck/issues/new?assignees=&labels=&template=Feature_request.md). The Android app will follow the behavior of the Deck server app here.

My personal opinion about your proposal:

[2021-09-21 09:56] #1105 closed

[2021-09-27 12:04] cptMikky opened #1110 "App "incompatible" with Onyx Boox running Android 10"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

F-Droid says the app is "incompatible with your device". When force-installed, the app apparently works but there is no icon in the launche

[2021-09-27 12:11] stefan-niedermann commented on #1110
Well, we did not explicitly mark the app as i compatible, so i do 't know what caused F-Droid to do so.

@Bubu can you spread some light on this?

[2021-09-27 12:16] cptMikky commented on #1110
@stefan-niedermann I didn't want to spam with tons of irrelevant information about the device but if there is something specific I can give you, I'm happy to do so.

There is _something_ wrong there because there is no launcher icon but I don't know if the two (F-Droid saying it's incompatible and the missing icon) are related or not.

[2021-09-27 12:36] desperateCoder commented on #1110
A quick search on this lead me to this: https://developer.android.com/guide/practices/compatibility

Don't know if it's relevant, I'm not too deep into android internals, but sounds reasonable.

Maybe there's a missing device feature?

[2021-09-27 12:48] cptMikky commented on #1110
The app uses camera and camera SDK:
[code]
However, the manifest doesn't say it's required as per the link above. Maybe F-Droid doesn't interpret the manifest correctly? I don't have Google Play on the device but Aurora store shows the "buy" button. I can't buy the app via the anonymous account though.

The device **does not** have camera hardware. Not sure about the SDK though, it's a custom-buil

[2021-09-27 13:19] desperateCoder commented on #1110
My link above also mentions drawables with different pixel densities and resolutions. Maybe we just didn't provide the icon in the right resolution for your device or something. I guess we need to do some research here and see what we can do about all this. I guess we need a bit more research here...

[2021-09-27 13:26] cptMikky commented on #1110
Could be. Anything I can help with?

Just to clarify: by _missing icon_ I mean there is no entry for `Deck` in the launchers at all. That is the app is "hidden" and cannot be launched from the launcher(s).

The app can be started via F-Droid (the "Open" button) and it listed in _Settings/Apps_.

[2021-09-27 13:32] desperateCoder commented on #1110
Oh! Ok, thanks, i indeed git that wrong. Is the icon shown in the app settings list?

If so, I guess all will be resolved, as soon as fdroid or your device are convinced of the compatibility.

[2021-09-27 13:40] desperateCoder commented on #1110
@stefan-niedermann maybe marking the camera as optional (`required="false"`) already resolves that? Additionally we should query the support where the camera is used and we are good to go?

[2021-09-27 13:43] cptMikky commented on #1110
In the application list under `Settings/Apps & notifications/See all apps`  _Nextcloud Deck_ sits happily right above _Nextcloud_ app. There is an actual (and correct) icon next to the app name.

[2021-09-29 22:11] alexanderdd commented on #1072
I think it was due to unstable connection or something. I had the necessary persmission all the time, and my credentials always worked.

Thanks for the quick replies.

It did not happen again.

[2021-10-02 07:43] alexminder opened #1117 "App crash while login into account"
**Describe the bug**
When I try to login in to Nextcloud account app crashes at import cards step.

Steps to reproduce the behavior:
1. Go to the Deck app
2. Click on login and select Nextcoud account
3. grant access to Nextcloud account
4. See error

**Expected behavior**

No errors. Work with deck cards and sync it with cloud.

**Versions**

 - Nextcloud: 20.0.9
 - Nextcloud Deck: 1.2.7
 - Nextc

[2021-10-02 11:11] stefan-niedermann commented on #1117
Just as a quick-shot until @desperateCoder has time to look into the actual issue: Have you already tried to clear the storage of the app as explained [in our FAQ](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#i-have-experienced-an-error)?

[2021-10-02 18:29] alexminder commented on #1117
Yes. Clearing storage does not help.

[2021-10-02 18:56] desperateCoder commented on #1117
Hi @alexminder, thanks for your report!

Honestly, I have no idea how this could happen, this part isn't critical at all and should run just fine, never had something like that before.

But anyways, i have built a special debug version of our app, you can install it along with your current app from fdroid. But this time, as it crashes, it will provide a bunch of details helping me to understand wh

[2021-10-04 09:44] stefan-niedermann commented on #1078
Give the fact that this issue is not reproducible on various stock launchers as well as on LineageOS, i'd consider this to be a bug in the used launcher.
I recommend to open a bug report at the issue tracker of the 3rd party launcher - at least i have no clue what we could change in order to workaround this bug.

Pull Requests are welcome of course, but for now, we'll close the issue here.

Thanks

[2021-10-04 09:44] #1078 closed

[2021-10-06 18:13] desperateCoder commented on #1117
Ok, here's another one to test, this time I explicitly check, if the account and the board (the two constraints on `stacks`) are present: [Download (≧︿≦)](https://github.com/stefan-niedermann/nextcloud-deck/suites/3978633259/artifacts/100089965)

Please make sure to uninstall the current DEV app before installing this one. Most probably this one will crash as well, but you know the procedure: copy

[2021-10-10 16:21] alexminder commented on #1117
[code]

[2021-10-10 17:44] desperateCoder commented on #1117
@alexminder thanks for your response! Sorry for bothering you again, but we get closer. I need to make these baby-steps, so I won't miss anything here.

So "fortunately" it was my expectation, the board wasn't created properly, and that's weird. But ok, I guess we'll need to dive deeper in.

Here is another one: [APK (ノ ゜Д゜)ノ ︵ ┻━┻](https://github.com/stefan-niedermann/nextcloud-deck/suites/401178

[2021-10-11 09:51] raphaotten opened #1119 "card details => order tags by name"
When viewing the tags in a lot of places, they're ordered via name. So structuring them with numbers is possible for example.
When viewing them in the app "card detail" view, they're ordered in another manner. Is it possible to change it for consistency?

[2021-10-11 10:00] stefan-niedermann commented on #1119
I agree that the tags should be ordered alphabetically in the places below. The ordering of the proposals should stay as it is (It is currently ordered by occurrence count, so that the most often used tags will be at the top)

![grafik](https://user-images.githubusercontent.com/4741199/136771701-f9bfb36c-b5f0-4bee-b5da-c8a2fbb183f9.png)
![grafik](https://user-images.githubusercontent.com/4741199/1

[2021-10-11 10:05] stefan-niedermann commented on #1073
@boulayor could you try to capture some logs for us, so we can analyze the issue better? In the settings of the app, just enable `Debug-Logs`, then clone your board with cards and in case you got duplicates, just hit the <kbd>:lady_beetle:</kbd> button in the sidebar header to share the logs. Don't forget to turn off the `Debug-Logs` in the settings when you are done :slightly_smiling_face:

[2021-10-11 10:38] desperateCoder commented on #1119
@raphaotten Alright then. I just merged that, it will be shipped with the next version (1.19.5).

Thanks for your request!

[2021-10-11 10:38] #1119 closed

[2021-10-13 12:32] stefan-niedermann commented on #1110
Ping @cptMikky ⇑

[2021-10-16 06:40] stefan-niedermann commented on #1117
@KSH-codes your error message seems to be unrelated to this issue. Could you please open a new issue filling the issue template? The more information you can provide, the better can we help. For exaple: Did this only appear after the last update? Did you just install the app and it directly failed? Did you already try to clear the storage of both apps [as described in our FAQ](https://github.com/s

[2021-10-16 08:35] stefan-niedermann commented on #1110
Awesome. I'll push those changes into the next release (`1.19.6`) :slightly_smiling_face: Thanks for reporting and testing.

[2021-10-16 08:35] #1110 closed

[2021-10-26 09:18] hansimausisteffiwurstbrot opened #1135 "Fragment manager destroyed"
Will continue to add info asap.

**Describe the bug**
The app seems to have issues syncing new cards. After creating a new one, it takes about a minute before there is any response and usually the following error message appers.

After a while, the app achieves a sync, but the error is problematic for me.

Steps to reproduce the behavior:
1. Add a card and save it
2. wait
3. See error

**Expected

[2021-10-29 11:53] MaRitt89 opened #1137 "Error uploading File in Deck"
[code]

[2021-10-29 16:14] ghost opened #1138 "Nextcloud files app api is not responding"
**Describe the bug**

Since a few days, I don't receive rss feeds anymore. Every time I open the app, I get the error "Nextcloud files api is not responding."

Steps to reproduce the behavior:

1. Open the app 'Nextcloud News'
2. Try to refresh rss feed
3. The error message is displayed

**Expected behavior**

The new rss feeds should be displayed.

**Smartphone :**
- Device:  FairPhone 3
- Androi

[2021-10-29 16:25] #1138 closed, assigned to nobody

[2021-10-30 19:23] jfreak53 opened #1139 "Fdroid install not working"
Installing from fdroid says can't find apk on fdroid servers. Tried 3 versions.

[2021-10-30 19:32] stefan-niedermann commented on #1139
The `apk` is there: https://f-droid.org/repo/it.niedermann.owncloud.notes_3004016.apk

Check your F-Droid installation, nothing we can do on our side...

[2021-10-30 19:32] #1139 closed

[2021-10-30 19:33] desperateCoder commented on #1139
Here the link to the right app (@stefan-niedermann is maintaining both of them):

https://f-droid.org/repo/it.niedermann.nextcloud.deck_1019006.apk

[2021-10-31 10:32] Simthem opened #1140 "Read Nextcloud Notes attachment on the android app like on the web nextcloud version"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Addition

[2021-10-31 11:09] stefan-niedermann commented on #1140
This is the **Deck** Android app, not the **Notes** Android app. What do you mean with "Read"? Just download the attachment and read it with any app of your choice?

Honestly, skipping the complete issue template and barely write a single sentence is not understandable for me. I have no idea what you are talking about. Why not just add a screenshot of "like on the web nextcloud version" so everyon

[2021-10-31 11:09] #1140 closed

[2021-11-01 14:15] hansimausisteffiwurstbrot commented on #1135
Clearing the storage solved the problem.

Thanks for the hint!

[2021-11-01 14:19] stefan-niedermann commented on #1135
Glad to hear that it finally works for you! It looks like the cause of the issue is related to https://github.com/stefan-niedermann/nextcloud-deck/issues/478 so i'll have a deeper look at the error message you posted. Thanks for the report!

[2021-11-05 16:37] stefan-niedermann commented on #1137
ping @MaRitt89 - please answer [my questions above](https://github.com/stefan-niedermann/nextcloud-deck/issues/1137#issuecomment-954786193).

[2021-11-13 14:09] desperateCoder commented on #1117
Hi @alexminder, sorry for the delay!

I managed to get each and every database query into the error message now.

WARNING: The error message will contain ALL the data in your boards the app was able to sync before it died (**but no credentials**)! So if you have very private data in there, maybe remove them from the logs before providing them. I promise I'm not interested in your actual data, but

[2021-11-15 16:56] desperateCoder commented on #1117
Thanks for your mail @alexminder,

unfortunately the log you sent wasn't even related to this issue, the server didn't provide a proper order of the card, which is weird. But anyways, I fixed that and made it more fault tolerant. It should now get to the point it failed before. Sorry for that, but good catch though, another problem fixed! Sorry for bothering you again :disappointed:

Here is a fix

[2021-11-17 16:30] alexminder commented on #1117
@desperateCoder Last debug version success imported decks without errors. No changes on servers side was.

[2021-11-18 12:05] stefan-niedermann commented on #1137
[Closing due to missing feedback](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed). Feel free to reopen answering [my questions](https://github.com/stefan-niedermann/nextcloud-deck/issues/1137#issuecomment-954786193) so we can provide support.

[2021-11-18 12:05] #1137 closed

[2021-11-19 15:58] hansimausisteffiwurstbrot commented on #1135
Sorry to say it's not solved.

The errors started to reappear.

I tried deleting the data&cache and un- and reinstalling both Nextcloud and Nextcloud Deck and now it turned unusable.
After configuring the Nextcloud App, I can't select the account in Nextcloud Deck.

A cascade of error messages appears, all the same:

App Version: 1.19.4
App Version Code: 1019004
Server App Version: 1.4.7
App Flavo

[2021-11-19 16:23] hansimausisteffiwurstbrot commented on #1135
The message appeared while the was "Loading Boards".

I killed it and then was able to open the app, but the entire profile was blank.

[2021-11-19 16:38] hansimausisteffiwurstbrot commented on #1135
Now the app tries to import boards for a minute before it states that it can't reatch the Nexctloud. The Nextcloud is up and running and reachable from that device, though.

The following message appears:

`
[code]
`

[2021-11-20 14:40] desperateCoder commented on #1135
@hansimausisteffiwurstbrot could you please try the version provided in the following comment?

https://github.com/stefan-niedermann/nextcloud-deck/issues/1117#issuecomment-969110504

This is a dev-build and is safe to install beside your actual app. The icon will hava a "DEV" label on it. If you already have a dev-version installed, I'd recommend to uninstall it first.

[2021-11-20 14:52] hansimausisteffiwurstbrot commented on #1135
Great! Installation worked like a charm and new cards are fixed instantly.
Thanks!

Any idea when I this version will be rolled out so I can switch back to the general version?

I'll close this issue and hope to leave it sealed. :)

[2021-11-20 15:01] desperateCoder commented on #1135
@hansimausisteffiwurstbrot you really don't want to have this version running, trust me! It is swallowing insane amounts of RAM for storing useless debug logs in case the app crashes. Why this version works better than the official one? I have no damn clue tbh. All it does different is storing the logs and spit them out in case something crashes.

Could you please try the version in [this post](ht

[2021-11-20 16:10] hansimausisteffiwurstbrot commented on #1135
Tried it and the following crash report appeared while it was importing the first board.

I'll guess I'll stick to the ram consuming one, it's better than none.

` ```
Full Crash:

App Version: 1.19.6
App Version Code: 1019006
App Flavor: dev

Files App Version Code: 30180090

---

OS Version: 3.18.71-perf-g0f5ce2e(ABT975)
OS API Level: 27
Device: bbb100
Manufacturer: BlackBerry
Model (and Product

[2021-11-20 16:26] desperateCoder commented on #1135
@hansimausisteffiwurstbrot nah buddy, not on my watch.

Take this one: [( ͡° ͜ʖ ͡°)_/¯ APK](https://github.com/stefan-niedermann/nextcloud-deck/suites/4417069710/artifacts/116779994)

This is the exact same as before, but without wasting the RAM.

[2021-11-20 16:38] hansimausisteffiwurstbrot commented on #1135
Thanks! :)

And now it's getting more confusing: none of the linked versions achieve to import the boards.
Any way to get rid of possible config data in addition to uninstalling?

[2021-11-20 16:43] stefan-niedermann commented on #1135
@hansimausisteffiwurstbrot yes, we always recommend to clear thw storage of the Deck app in favor of uninstalling it, because Google (🖕) decided to keep some data when uninstalling an app. You can achieve this (depending on your manufacturer) by going to your Android settings -> Apps -> Deck -> Storage -> Clear storage.

I am also sorry for the inconveniences, but it looks like you are stumbling f

[2021-11-20 16:46] hansimausisteffiwurstbrot commented on #1135
Thanks!

I tried that one and now it seems fine so far. Although an error message appears when importing the boards, the latest linked version now works well and syncs new cards without hickup.

I'll report in case it f*cks up again.

And no worries, I'm really thankful for your support!
And it shows me, that we're doing good in supporting you with money from the Freiheitswolke.

🙏 !

[2021-11-21 12:04] desperateCoder commented on #1117
@alexminder maybe I should also mention this:

As stated here: https://github.com/stefan-niedermann/nextcloud-deck/issues/1135#issuecomment-974676964

I wasn't aware of this to be honest, so I'll just leave it here in case this could cause other problems... You can also check the linked issue, there are a couple of versions linked, you could also try if you want.

By the way: If you could use a co

[2021-11-22 15:04] alexminder commented on #1117
Imported without errors

[2021-11-22 15:06] alexminder commented on #1117
I have deleted the app with all data before install every debug version. Nothing to clear.

[2021-11-22 15:11] desperateCoder commented on #1117
Great! :partying_face:

As long as it works I'm fine with it!

As mentioned, if you could need some PlayStore vouchers for this app, just tell us any time, HUGE THANKS man, you helped us a lot here!

Can we close this issue then? I'll talk to @stefan-niedermann, I think we should release a new version soon

[2021-11-24 09:51] ipoupaille opened #1164 "Add support for ISRG Root X1 for Android <= 7.0"
If a server is using a Lets Encrypt certificat, and is not sending cross signed root certificat (ISRG Root X1) by DST (during hello), it will not work on the app with android 7.0, even if the certificat has been added to user certificats.

My request is to add this certificat (ISRG Root XB) in network_security_config.xml, or allow user certificats (which is not the case by default starting with an

[2021-11-24 10:43] stefan-niedermann commented on #1164
Hi @ipoupaille,

the Nextcloud Deck Android app does not perform *any* network requests on it's own. For security purposes it uses the [Nextcloud Single Sign On mechanism](https://github.com/nextcloud/Android-SingleSignOn/), which basically means, the Deck app "asks" the Nextcloud Android app to perform the actual network requests.

Therefore my question: Does the Nextcloud Android app work in you

[2021-11-24 18:46] ipoupaille commented on #1164
Hi stefan-niedermann
sorry to bother you.
I just had the problem with another app, and checked in all others apps I have on my phone how is configured the network.
I do not have actually a problem with this app as my nextcloud server is sending the cross signed ISRG Root certificat.

[2021-11-24 19:41] stefan-niedermann commented on #1164
So your Nextcloud Android app works fine but your Deck Android app doesn't work?
Can you share the error message you are seeing in the Deck Android app please?

[2021-11-24 19:45] ipoupaille commented on #1164
Oh I am so sorry. My English seem not so good.
My deck app is actually working **fine**. I just have in mind the day were the same thing that append to me with another app today will append with deck: my nextcloud server with a ISRG Root certificat not cross signed by dst. When this day will come, it will not work anymore.

[2021-11-24 20:00] stefan-niedermann commented on #1164
So, to summarize:

1. Your Deck Android app is working fine now
2. Your certificate will change in the future to ISRG
3. You think the Deck Android app won't work then anymore

Okay, i think i can calm you:

1. The Deck Android app does not do any network requests
2. As long as the Nextcloud Android app keeps working, Deck Android will work, too
3. The Nextcloud Android app allows to manually conf

[2021-11-24 20:00] #1164 closed

[2021-11-25 10:51] stefan-niedermann opened #1165 "Refactor `PushNotificationActivity`"
# Current implementation

The current implementation receives the following arguments form the files app:
- `subject`
- `message`
- `link` (*should* contain a link to the Deck server app)
- `account`
- `objectId` (contains the `cardRemoteId`)

We are currently parsing the `link` property to retrieve the `boardRemoteId` and `cardRemoteId`. If we can't find the card locally, we try to synchronize th

[2021-11-25 10:57] stefan-niedermann opened #1167 "Test Deck Android `master` branch (= SSO `0.6.0`) with Files `3.17.1` on Android `5.1`"
On my local emulator i am experiencing issues with the combination mentioned in the title.

Android `11` and `12` work properly, but the exceptions seem to be unrelated to the Android version.

I already catched the exceptions and display a hint, that Files `3.18.x` should be used, but i'd like to
1. verify that there actually *is* an issue
2. understand the cause
3. know the exact Android version

[2021-11-26 11:07] hansimausisteffiwurstbrot commented on #1135
From time to time the error appears after creating a new card.
Much less often, though.

Syncing takes some time then, but it works after a while.

[2021-11-29 11:45] MrLoverLoverMMMM opened #1169 "Instable handling of connection changes from wifi, celular,..."
**Reproduce:**

You can recreate the problem relatively easily.
Install the apps, take the Deck account from the main Nextcloud app.
 on a Samsung Phone (Note10, Note10+, Z Fold 2) with android 11.
Use Deck.
Switch back and forth between different WLANs and Cellular and try to create entries in the app from time to time.
You will see it will load like endless and after 10-20 seconds you receive th

[2021-11-29 14:28] #1165 closed

[2021-11-29 15:13] desperateCoder commented on #1167
Just tested it, here we go:

[code]

[2021-11-30 09:38] stefan-niedermann commented on #1169
Well it's a matter of how to handle a problem → Currently we display them based on the assumption that the user should get notified in case something did not work as expected

We already do that, as you already noticed yourself, the items should be synced eventually the next time one synchronizes with an available network.

But i agree, that those kind of network related errors are a bit annoying,

[2021-11-30 09:39] stefan-niedermann commented on #1167
Well, this leads to the question:
- Why does this work on newer Android versions?
- What is the latest supported Android Version for a SSO `0.6.0` / Files `3.17.1` combination?

[2021-11-30 12:13] MrLoverLoverMMMM commented on #1169
Hi!
Well important for is would be, if I can just modificate the list offline in the apps-cache and as soon as the connection reapears it tries to syncronize it back into the server-app.
You could try to merge and if the list have changed since the last offline version you could ask to overwrite or keep server version or so when the app gets again a connection.
The reason is I need to modificate t

[2021-11-30 12:29] stefan-niedermann commented on #1169
That's what we are doing<sup>[1](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/java/it/niedermann/nextcloud/deck/ui/MainActivity.java#L976)</sup>. Due to Android limitations we can only do that while the app is open. Otherwise you will have to wait for the next background synchronization (depending on your settings), which obviously will take longer then.

Conflict h

[2021-11-30 12:34] MrLoverLoverMMMM commented on #1169
Well..
Currently I have no possibility at all to change the list or delete something or add something new when the connection is unstable as this error I posted initially is always interupting.
After I close the error the list stays the same and does not modify. Also not if I keep the app open and wait till the connection to reconnect.
The only way to get my change currently in the app is to look

[2021-11-30 12:34] MrLoverLoverMMMM commented on #1169
+ Merging was just an idea for future ;)

[2021-11-30 12:41] stefan-niedermann commented on #1169
So if i got you right, you try to create a new card in an unreliable network. After saving, you get the message (currently intended) and after closing the error message the card is "lost"? You can not see it on your Android device?

[2021-11-30 12:50] MrLoverLoverMMMM commented on #1169
Yes exactly.
This happens if I add a new card, modificate a card and try to save or just wanna delete a card.

[2021-11-30 13:09] desperateCoder commented on #1169
@stefan-niedermann an offline exception isn't a problem here, it would behave just as @MrLoverLoverMMMM wants it to. The problem is the unreliable connection, leading to classnotfound. If you two allow, i'll handle that in a central manner and throw an offline exception so it behaves as intended. It will be a little of an odd implementation, but I think it's worth doing so in favor of not includin

[2021-11-30 15:47] MrLoverLoverMMMM commented on #1169
Makes sense ;)
Thank you

[2021-12-03 08:27] reox opened #1175 "Sharing image from Autodesk Sketchbook into existing card fails"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Steps to reproduce the behavior:
1. Draw some image in Autodesk Sketchbook (I use the version from GP 5.2.5
2. Share the image, choose "Oth

[2021-12-03 09:52] stefan-niedermann commented on #1175
Well that's quite strange... I'll have a look into it as soon as i find some time. Does this happen also when you share from other apps (not sketchbook) into the Deck app?

[2021-12-03 10:01] reox commented on #1175
No, as said [Lecturenotes](https://play.google.com/store/apps/details?id=com.acadoid.lecturenotes) and [Screenshot Assistant](https://f-droid.org/en/packages/de.beatbrot.screenshotassistant/) have similar functionality, i.e., sharing the current image (selection) without saving it to sdcard. And they work just fine since #516 was solved.

[2021-12-03 10:22] stefan-niedermann commented on #1175
Awesome, thanks! Indeed, we explicitly currently [only support Uri-Schemes](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/java/it/niedermann/nextcloud/deck/ui/sharetarget/ShareTargetActivity.java#L114-L117), but no File-Schemes. Adding support for File-Scheme should be quite easy to add analogue to the Uri Scheme part. Maybe you want to try a Pull Request? :slightly_

[2021-12-03 10:44] reox commented on #1175
I would love to but my Java is quite rusty and you probably don't want copy paste stackoverflow code 😄

[2021-12-03 11:00] stefan-niedermann commented on #1175
No problem, i'll implement it, just might need some time 🙂

[2021-12-03 22:35] Fredericstella opened #1176 "Deck"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Steps to reproduce the behavior:
1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

**Expected behavior**

**Screenshots**

*

[2021-12-04 06:37] stefan-niedermann commented on #1176
Hello @Fredericstella 👋

thank you for filling out the issue template (you won't believe how many people just ignore or delete it). This helps us to quickly evaluate your issue and learn more abot your specific environment 🚀
This way we also don't have to ask the same questions over and over again, which saves much of our and your valuable freetime ⌚

The concise and short title you cose, will all

[2021-12-04 06:37] #1176 closed

[2021-12-06 19:04] user13v31 opened #1177 "Update function in single-note-widget"
Hi there,

i stumbled over another thing that vexes me every other day. Me and my wife use a single card as a shopping list and sometimes i don't see her changes. On my home screen I use the single-card-widget to see the list directly, tapping on it let's me edit the card, but I am not able to tell it to "update". Another situation where this problem might arise: editing the cards on different dev

[2021-12-06 20:15] desperateCoder commented on #1177
Hi @user13v31,

Thanks for your proposal! I guess we have a rare case of "I'm here to make a change, not a complaint" here, so thanks for your kind words!

I myself am misusing the app for the same thing with my girlfriend, so I'm the last one who is allowed to judge you 😉

I think you got a valid point here. Someone desperately waiting for something to get done might have the same use case. The t

[2021-12-08 22:00] Emporea commented on #1177
It would also be useful, if the widgets had a "add" button with "+" or something like that. Atleast its convinient to directly add something to a list etc.

[2021-12-09 08:19] stefan-niedermann opened #1180 "Date and time picker invisible on dark mode with light board color"
Given one uses the dark mode and wants to set the due date or time on a board with a light color, some parts are not themed well:

![Screenshot_20211208_225538](https://user-images.githubusercontent.com/4741199/145359461-8140d173-683e-4612-b515-0db0598478dd.jpg)

[2021-12-13 00:18] dodedodo opened #1182 "302 redirect not working"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
I migrated my nextcloud installation to a subdomain. To aid in the migration I enabled a http 302 redirect that works flawlessly with the de

[2021-12-13 06:18] stefan-niedermann commented on #1182
Good morning @dodedodo ,

this issue is caused by the Nextclouf Single Sign On Mechanism (see https://github.com/nextcloud/Android-SingleSignOn/issues/200) and therefore also affects the Notes app but can't be fixed there or here directly.

The only known workaround is to [clear the storage](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#i-have-experienced-an-error) of the

[2021-12-13 19:17] hansimausisteffiwurstbrot commented on #1135
I'm still having problems with the sync.

Another user of our Nextcloud just commented that he has troubles with the sync, too. I asked him to send me the error message and I'll ask other users if they experience sync troubles, too.

Is there any updated version I can try?

[2021-12-20 22:19] nextexplorer opened #1191 "Create link to show attachment in markdown in deck app"
**Feature request**

In the web application of deck there is the button "Anhang anhängen", which creates the markdown link to visualize an attachment, i.e.,
![📎 name_of_the_picture.jpg](/index.php/core/preview?fileId=1875&x=600&y=600&a=true)
For a non power user this is really a nice helper button. I miss this button in the deck app. Would it be possible to integrate the button in the deck app? Th

[2021-12-20 22:31] nextexplorer opened #1192 "Print markdown output as pdf to share content"
**feature request**

Sometimes I really miss a functionality in the deck app to print the markdown output (with pictures) as a pdf. This would be very helpful to share the content with someone who does not use the nextcloud and would like to see an easy to read pdf.
The option "Inhalt teilen" only extracts the markdown codes, which for example can't show the picture, which are only in the nextclou

[2021-12-26 17:36] pwalkr opened #1193 "Add menu to card view with delete and archive options"
I would like to delete or archive cards from the card view.

I live off the widgets, and frequently tap into the card view to make changes. To close them out, I go hunting for that card in the board view. It would help if the List widget or cancel/accept buttons always opened the board to associated lists, but they open the last-viewed list (also useful). I usually use the filter (after backing ou

[2021-12-26 23:41] desperateCoder commented on #1193
Funny thing: we don't even need to steal it, since @stefan-niedermann is the author of both of these apps.

I think it's up to him to decide.

[2021-12-27 18:35] MrLoverLoverMMMM commented on #1169
Is there a roadmap when it will be fixed?
I found another problem on note 10 + only.
On Note 10 + I always receive:

[code]

[2021-12-27 18:40] MrLoverLoverMMMM opened #1194 "Error when opening the Deck App from time to time at Samsung Note10+"
Hello!
On Samsung Note 10+ with NC 22.2.3, Ubuntu LTS and PHP 8.0 I receive this error from time to time.
It happens without creating or deleting cards. The app just needs to be opened and it happens already.
Also in the local network.
This issue is not creating logs on the server.

[code]

[2021-12-28 16:26] stefan-niedermann commented on #1194
Hello there 👋,

yeah, it's a "known issue" (https://github.com/stefan-niedermann/nextcloud-deck/issues/478) which we unfortunately haven't found a final solution yet.

I got some new ideas recently while reading Android developer documentations and maybe they are capable of fixing this issue... Until the you'll need to be patient unfortunately. As you noticrd yourself, just restarting the app shou

[2021-12-28 16:26] #1194 closed

[2021-12-28 17:04] MrLoverLoverMMMM commented on #1194
Thank you
-------- Ursprüngliche Nachricht --------Von: Niedermann IT-Dienstleistungen ***@***.***> Datum: 28.12.21  17:26  (GMT+01:00) An: stefan-niedermann/nextcloud-deck ***@***.***> Cc: MrLoverLoverMMMM ***@***.***>, Author ***@***.***> Betreff: Re: [stefan-niedermann/nextcloud-deck] Error when opening the Deck
  App from time to time at Samsung Note10+ (Issue #1194)

Hello there 👋,

yeah, it'

[2022-01-01 02:13] rwtallant13 opened #1195 "Dark mode parity between apps."
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**

Hardly. But I would love some parity- preferably the non amoled dark mode from the notes app-

[2022-01-01 22:34] eliasp opened #1196 "+ Button hides action menu of last card in non-scrollable lists"
**Describe the bug**
When the number of items in a list fills the view to the very bottom of the screen without causing the view to be scrollable, the action menu (3 dots) of the last card in the list is hidden by the + button for creating new items.

Usually, the + button is automatically hidden when scrolling to the very bottom of a list, but in this case this won't have any effect, as the list

[2022-01-05 11:04] piscocgn commented on #1169
Hi, I came along this issue while searching because I discovered a similar issue if I'm in cellular only. It does not happen if I'm in WiFi or cellular via VPN to my nextcloud instance at home.
If I create the item I get this message, but the item is created locally, but not remote. Sync is not working, same error message. If I'm back to Wifi I  can get it synced both (new remote items and local o

[2022-01-05 11:30] stefan-niedermann commented on #1169
@piscocgn your issue should be covered by [the proposal of @desperateCoder](https://github.com/stefan-niedermann/nextcloud-deck/issues/1169#issuecomment-982621343) as far as i can see, thanks for also bringing in your use case 🙂

[2022-01-13 11:50] stefan-niedermann commented on #1192
I see the use case to share information with people outside of your Nextcloud. However the solution approach is only fighting symptoms in my point of view.

The actual solution is to provide a public share via the Nextcloud Deck server app ([see also](https://github.com/nextcloud/deck/issues/14)). Introducing a PDF export will lead to
- "I want configuration options for the PDF output!"
- "I want

[2022-01-13 11:50] #1192 closed

[2022-01-13 11:53] stefan-niedermann commented on #1182
Closing this issue as it must be solved in the SSO library as describe above

[2022-01-13 11:53] #1182 closed

[2022-01-14 11:56] Kanten opened #1206 "No notifications on Android 12"
I don't see any notifications of current events after updating to Android 12.
Reinstalling the app and deleting old data did not bring any changes.
Also, I removed the app from Android's power saving list. Is this an issue related to Android 12?
Did I miss any setting options?

[2022-01-14 12:27] stefan-niedermann commented on #1206
Dear @Kanten,

as @desperateCoder (and [our FAQ](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#how-to-receive-notifications-when-a-due-date-is-reached)) correctly explained, the Deck Android app does not receive or display any push notification itself.

Push notifications are fetched and displayed by the Nextcloud Android app, tapping on them will hand over the information

[2022-01-14 12:27] #1206 closed

[2022-01-17 10:13] stefan-niedermann commented on #1167
Deck Android  `1.20.x` will require Nextcloud Android `3.18.x` or higher. Since this version has already been released, this issue is obsolete.

[2022-01-17 10:13] #1167 closed

[2022-01-17 11:46] #1169 closed

[2022-01-17 11:50] desperateCoder commented on #1169
@piscocgn @MrLoverLoverMMMM

We now handle these exceptions properly and display a message stating whats happened instead of crashing. You should face the expected behavior after updating to version `1.20.1`.

In case you face further problems, please open a new issue. We hope you guys like it :blush:

[2022-01-17 14:01] TtuxX opened #1210 "App crash while importing data - Window allocation of 2048 kb failed."
Hi there @stefan-niedermann and @desperateCoder ! :)

I hope you are doing fine and I wish you a Happy New Year !! :)

I am publishing this issue again (mentioned in my comment on issue https://github.com/stefan-niedermann/nextcloud-deck/issues/1117) as Deck app has not worked for me since the end of septembre 2021 and I miss it a lot for my day-to-day organisation!

**Describe the bug**

The Deck

[2022-01-17 14:23] stefan-niedermann commented on #1210
@desperateCoder looks like the issue we already knew about regarding too much activity on the database?

Maybe we should try to limit certain synchronization steps to batches? The change shouldn't be too big because we already are running te stuff on `CachedThreadpoolExecutor`s which could be changed to executors with a fixed thread pool size?

[2022-01-17 14:38] stefan-niedermann commented on #1210
@TtuxX this is just a trial and error, but I'd like to ask you to test [this debug build](https://github.com/stefan-niedermann/nextcloud-deck/suites/4962610182/artifacts/144401693) (download,  unzip and install it - it can be used alongside the Deck Android app from F-Droid). It will be slower then you might be used to because I chose a quite low limit (`10`) of parallel actions just to see whethe

[2022-01-17 14:50] desperateCoder commented on #1210
We can make a build with strict mode enabled (`detectLeakedClosableObjects` and (`detectLeakedSqLiteObjects`), I'll try that as soon as I find time for that and post the APK here. Since I can't reproduce that behavior, i depend on your help here @TtuxX

[2022-01-17 17:00] TtuxX commented on #1210
Thank you very much to you both for your kind help and for being so responsive!

@stefan-niedermann I confirm your debug build - while indeed slower - works, and import of large deck entries works fine! When I closed the app and started it again, tables where imported and ready to use.

At some point however during my tests with your new debug app I got an error message that I cannot reliably repr

[2022-01-18 14:25] stefan-niedermann commented on #1210
@TtuxX thanks for the feedback! Yeah, let's focus on one issue after another - as I mentioned, this was a hard limit to check whether it solves the issue at all. Before we can push the changes to production, we need to try a few more real world scenarios.

It would be great if you could [clear the storage](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#i-have-experienced-an

[2022-01-18 16:23] TtuxX commented on #1210
Thank you @stefan-niedermann ! The app loads faster than the previous one but crashes at the exact same point than the current Master version of Deck app. It throws again the same "Cursor window allocation of 2048 kb failed.", with a subliminal message "Too many open files" just before the crash pop-up.

[2022-01-19 16:51] desperateCoder commented on #1210
@TtuxX could you please test [this APK](https://github.com/stefan-niedermann/nextcloud-deck/suites/4972843565/artifacts/145017629) and gather logcat-logs? If your device is rooted maybe via MatLog or if not via ADB (`adb logcat > log.txt`)? It should now log possible violations, so we can find the leak.

What I'm interested in is the logs from right before you start the app until it crashes. There

[2022-01-19 18:20] TtuxX commented on #1210
@desperateCoder Thank you for your help ! I have my log file ready but have not found any occurrence of "violation" keyword.
Where could I privately upload my log file for you to access it ? Do you have an e-mail address or something else I could join you at ?

[2022-01-19 21:15] desperateCoder commented on #1210
@TtuxX the posted log is already quite interesting, but if you don't mind I'd like see the full one, too. You can mail it to @stefan-niedermann (`into@niedermann.it`).

I already found a couple of suspicious things while investigating this issue, I just can't proof it for now. Thanks for leading us to this! I hope I can dive deeper into this and get a clearer view of where the leaks exactly happen

[2022-01-19 22:59] TtuxX commented on #1210
Log file sent to Stefan!

Haha with pleasure! I hope you find the root cause :)

In your described sequence I missed the step of clearing the storage, my bad! :(
I installed your app, started gathering the logs, connected the account inside the Android Deck app, then it died importing data. I waited few seconds more, then took the logs.
If you want I will send you logs again tomorrow, ensuring I p

[2022-01-20 14:36] desperateCoder commented on #1210
@TtuxX thanks for both logs! I'll dive into this, hopefully I can find some time this weekend.

Thats fine, so I can check that later on, doesn't seem to be this particular problem then.

[2022-01-21 18:40] desperateCoder opened #1212 "glide dies when leaving card"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Steps to reproduce the behavior:
1. Create new card
2. Hit edit
3. Upload a shitload of pictures (like seven or something)
4. Press back
5.

[2022-01-24 14:42] R7JANV1 opened #1213 "Donate a coffee"
Our team has been using the Nextcloud Deck app for quite a while, but unfortunately the app is not free on the Google Play Store, so users always have to install Fdroid and download the app from there. We offer to cover the cost of the app but it is a big administrative burden because the members of our organization change frequently and with many organization members it is very time consuming. We

[2022-01-24 15:04] stefan-niedermann commented on #1213
@R7JANV1 could you please contact me via eMail at info@niedermann.it ? 🙂

[2022-01-24 21:32] hansimausisteffiwurstbrot commented on #1135
Hey,

I switched the device (still on the BB KeyOne, though) and this issue makes the app unusable.

I'm on the beta/testing channel via the Play store.

Could you provide me with another version that might run better?

After deleting the memory of both the NC main app and the Deck app it runs fine for a short time (like hours at max) then it stops syncing and gives out the following error message

[2022-01-24 21:44] desperateCoder commented on #1135
Hi @hansimausisteffiwurstbrot, sorry to hear! Any chance you just had a temporary problem with your internet connection? Or that your server was too busy or offline?

The error message indicates, that the connection to the server has failed. In fact we just worked a little on that, it will be shipped with the next version 1.20.1, but your particular case isn't covered there. We can add this case a

[2022-01-25 13:38] hansimausisteffiwurstbrot commented on #1135
I was sure it couldn't be the case, but now it's working again. :)

Thank you for your swift response!

[2022-01-25 14:16] desperateCoder commented on #1135
You're welcome buddy! But just to make sure: did the app actually crash? Or did it just show a toast and you gathered the error information from there?

I'm asking because if I'd DID crash, i'd add a few lines to prevent that.

Your particular case may happen, eg. if your server infrastructure is being currently maintained, the internet connection dies in an unfortunate timing constellation or for

[2022-01-26 08:26] #1213 closed

[2022-01-27 16:25] mortee opened #1221 "card is not synced when changes are only in attachments"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
When I only add or remove attachments on a card in the browser, the changed don't show up in the app.

Steps to reproduce the behavior:
- cr

[2022-01-27 16:45] mortee opened #1222 "weird handling of images and descriptions"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**
It's very nice that in the deck a preview is rendered if an image attachment is found. However

[2022-01-27 16:51] mortee commented on #928
I can reproduce this in app version 1.20.0. Apparently, the indicator icons are only shown when at least two are available of
- description
- attachments
- comments
- assignee

[2022-01-27 19:02] stefan-niedermann commented on #1221
Hi @mortee,

thanks you for the report!

This look pretty much like [yet another issue](https://github.com/nextcloud/deck/issues?q=etag+is%3Aissue+is%3Aopen+) with not up to date `ETags` of the (not by us developed) Deck server app.

@desperateCoder can you verify this? I'll open the issue then.

@mortee if my assumption is right, the Deck Android app is not the cause of the issue, but we'll take

[2022-01-27 19:05] mortee commented on #1221
@stefan-niedermann thank you! FWIW, I'm not currently affected by this issue, just noticed it, and thought it would be nice to report. I came across it while experienting with the non-appearing indicator icon for card description.

[2022-01-27 19:13] stefan-niedermann commented on #928
@mortee this behavior is by intention. The icon would cause the app to need a second line (for a consistent) for each card which wastes space for quite a little benefit.

[2022-01-27 19:15] mortee commented on #928
I see, my bad. I'm fine with this, just didn't know it wasn't a bug.

[2022-01-31 12:17] desperateCoder commented on #1210
@TtuxX sorry for the lack of communication lately.

Here is a footage of me during the last two weeks:

https://youtu.be/AbSehcT19u0

What I'm trying to say is that it still might take a while... I'll update you here as soon as there are some news

[2022-01-31 16:05] TtuxX commented on #1210
@desperateCoder Haha thank you very much for the update, I appreciate it! :)

I feel for you haha Digging into unexpected code issues often result into this kind of situation.

No worries, thank you so much again for your time and kind help! For now I can use the slow debug version that kinda works (except some unexpected crashes while opening some cards).

I hope you will be able to trace the ori

[2022-02-03 09:07] hansimausisteffiwurstbrot commented on #1135
Hey,
what to you mean by "just show a toast". Is the question whether the app showed the error message or just silently crashed?

[2022-02-03 09:16] desperateCoder commented on #1135
@hansimausisteffiwurstbrot there are 3 types of crashes:

1. Full crash without any information, the app is just gone
2. Full crash, showing a stack trace and hints to report the issue
3. There is a little popup saying that something went wrong. You can continue using the app

Which one was it?

[2022-02-04 07:11] MrLoverLoverMMMM opened #1223 "Pictures at attachments make problem at offline mode"
Hello!
I am not sure that this issue is already tracked. If yes delete this defect please.

If you attach pictures to card and you wanna use the app offline it throws endless exceptions as it needs to load the attachments.
The offline mode with sync and unstable connection (previous defect) works as long as you have no attachments.
Could you provide this offline sync functionality also with attach

[2022-02-17 01:11] eliasp opened #1229 ""Share board" adds user twice, causes server-side constraint violation and client crash"
**Describe the bug**
I found a certain constraint violation (details below) in my server logs over and over again.
It turned out to be caused by the Android Client trying to add a user twice to a board's ACL.
While trying to reproduce the issue a dialog with a client stacktrace appeared on 2 occasions (also below).

Steps to reproduce the behavior:
1. Go to 'Share board' modal
2. Add another user

[2022-02-18 11:53] desperateCoder commented on #1229
Hi @eliasp,
first of all: thanks for your really detailed and nicely explained report! We're really not used to that kind of issues! :sweat_smile:

I tried to reproduce it on my instance, but wasn't able to get any error out of it yet. This might be because of my pre-historic version of Nextcloud, I should update here...

I'll dive deeper into this as soon as I find some time for that and keep you

[2022-02-18 13:20] eliasp commented on #1229
Any data I could provide from Android (does it maintain a local SQLite DB?) of the App in this erroneous state that could help debug this further?

[2022-02-19 23:07] desperateCoder commented on #1229
I think I got this without sniffing your private data, but thanks for the offer!

It does. And I'm kind of ashamed of my past self, that I didn't have the same constraint on the table as the server. I guess back then when we started, a ton of things were different and we had a shitload to do, so this fell off at some point. And that's the possible fix I'm thinking of: throw away current shares fro

[2022-02-20 08:30] eliasp commented on #1229
Sounds reasonable, but I feel like there's still a race condition in the App logic itself leading to this state in the 1st place (although this would result now in a local constraint violation when persisting it).

Same for me. The 2nd instance of the same user is added "automatically": either it pops up instantly (is there an automatic sync in the background?) when having added the 1st one or aft

[2022-03-05 08:24] TomSaw commented on #1193
Yess please!

I would even claim the "widget being useless" when you're locked into cards opened from here.

My daily Workflow at least requests for the 'Move' action but getting the whole option-set for opened cards should be the way to go.

[2022-03-14 11:17] neerro opened #1242 "Unexplanation app's behavior"
**Describe the bug**

In mobile app there are was created a new deck with new list and card. When I've tried to rename and save list the app showed window with error massage (see in Stacktrace below). After I closed the error's window the list was renamed but will not synced with Deck server.
And I couldn't do nothing at all to resolve this issue. As every time I had tried to rename I meet the sam

[2022-03-14 16:00] stefan-niedermann commented on #1242
Hi @neerro

this is an issue of the Deck server app which also happens without using the Deck Android app (compare to https://github.com/nextcloud/deck/issues/3633#issuecomment-1066962981).

[2022-03-14 16:00] #1242 closed, assigned to nobody

[2022-03-22 12:44] daudtivan commented on #1193
I had some situations where a card gets duplicated (same title) and it makes even more complicated to decide what card exactly you want to discard and what card to maintain on an general ideas board list.

[2022-03-24 18:53] taiBsu opened #1243 "Unable to login with Nextcloud account"
**Describe the bug**
After downloading the app from the F-Droid store and choosing my NC account, I am getting an error (see below). Reinstall didn't help.

Steps to reproduce the behavior:
1. Download app from F-Store
2. start app, choose Nextcloud account, press OK
3. error pops up

**Expected behavior**
I'm supposed to see my decks.

**Versions**

 - Nextcloud: 23.0.2
 - Nextcloud Deck: 1.6.1

[2022-03-24 18:56] stefan-niedermann commented on #1243
Hi,

did you already follow the [steps of our FAQ](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#i-have-experienced-an-error)?

[2022-04-06 18:11] neerro opened #1245 "Error due photo attaching to the card"
**Describe the bug**
When I try to attached any photo to new created card and save progress the error suddenly has appear. It happens every time when I tried to repeate this action.
When card was created I could fulfill all necessary text information then save it and sync with instance  without any obstacles.
Stacktrace is attached below.

Steps to reproduce the behavior:
I did all necessary steps

[2022-04-06 18:20] stefan-niedermann commented on #1245
Hello @neerro

I am pretty sure that this is a duplicate of #1175, though it would be helpful if you could provide more information about what exactly you are doing.

- Do you open a card in the Deck Android app, go to the attachments tab?
- Do you pick the photo from the built in photo activity (1), from the preview (2) or from picking files (3)?

![screenshot](https://user-images.githubuserconte

[2022-04-08 00:47] deadwax opened #1249 "Order of lists does not sync from desktop"
I'm using Deck in a way in which the order of lists is important.  After making changes in the order of lists on the desktop the changes do not then sync to the Android client

Steps to reproduce the behavior:
1. Create a board and populate it with some lists on the desktop
2. Open the board on the android app
3. Edit the board on the desktop, changing the order of lists
4. Open android app and fi

[2022-04-08 04:34] stefan-niedermann commented on #1249
Hey @deadwax

i assume that this is caused by a [known bug](https://github.com/nextcloud/deck/issues/2866) in the (not by us developed) Deck server app.

To verify can you please open the settings in the Deck Android app (you can find them at the bottom of the sidebar) and **ttemporarily** disable `ETag`s? The next synchronization will take *very* long (up to multiple minhtes, depending on the amo

[2022-04-12 12:02] neerro commented on #1245
From the preview. The second one.

[2022-04-15 08:33] stefan-niedermann commented on #1245
At the first look I thought the issue was caused by the Deck Android App due to a bit of a missleading error message (on our side).

Though there is this section in the error message

<p>You don't have permission to access this resource.</p>
<p>Additionally, a 403 Forbidden

which shows us, that picking the image actually worked as it should, but while sending it to your Deck server, your server r

[2022-04-15 23:27] xdubx opened #1254 "SSO Download Error & FOREIGN KEY constraint failed"
**Describe the bug**
Deck App don't download the boards. And stuck by the third one. After that, the first error appears a few times and the last error appears in the last window.

Steps to reproduce the behavior:
1. Go to 'Select account '
2. Click on 'Active Session from the nextcloud app'
3. Click "ok"
4. See error

**Expected behavior**
Should download all boards.

**Screenshots**
None

**Vers

[2022-04-16 08:18] stefan-niedermann commented on #1254
@desperateCoder I think you already figured that the `SQLConstraint` exception was caused by the used `ThreadPoolExecutor`s, no? Did you already push your fix into `master` and do we want to take https://github.com/stefan-niedermann/nextcloud-deck/issues/1210 (with branch [`1210-fixed-thread-pools`](https://github.com/stefan-niedermann/nextcloud-deck/tree/1210-fixed-thread-pools) - still needs som

[2022-04-16 08:25] stefan-niedermann commented on #1249
Closing due to missing feedback. Please feel free to reopen if the aforementioned steps did not work.

[2022-04-16 08:25] #1249 closed

[2022-04-17 23:14] deadwax commented on #1249
Apologies, it has been a very busy few weeks.

Yes, disabling etags fixed the issue.

[2022-04-19 10:02] MitjaNemec commented on #1245
Could it be that the attachment (photo) size was bigger than  2MB. I've noticed that when I add a big attachment in Dec web app, the app refuses and gives an error message. But the android app crashed and then failed to sync.

[2022-04-19 16:59] daudtivan commented on #1104
same here

[2022-05-05 07:30] shtrom opened #1264 "Weird support request: restoring lost data in the Nextcloud DB from the Deck Android App"
# tl;dr

How can I change the local sqlite3 data to mark all cards as unsynced, so the Android app resyncs everything to the Nextcloud app?

# Context

For some reason I'm still to diagnose, my Nextcloud _server_ DB has a corrupted `oc_deck_cards` that I cannot restore (and, of course, my backups are 🤷🏼 because I ingored the issue for too long)... I have, however, a copy of the data, up-to-date, i

[2022-05-05 07:42] desperateCoder commented on #1264
Well, that's a very special request you have here. But i think we got your back.

It should work if you remove the (remote- not local-)IDs in the db and set the sync-state to locally edited. Locally edited would cause it to sync and the missing id will treat it as a new entry and insert instead of update.

I'll update here in my lunch break in like 2.5 hours and tell you the exact steps.

The only

[2022-05-05 07:47] desperateCoder commented on #1264
Oh and a really important thing: DON'T Open the app in the meantime! If the sync is triggered and the server won't say it knows the synced data (which will be the case if your server db is blank), the app will delete the data as well!

Once the remote IDs are resetted, your data will be safe

[2022-05-05 07:51] shtrom commented on #1264
Thanks mate. Your answer is already useful. I'll have a look at the DB and see if I can make sense of it.

Yup, I expected as much. At least in this case, I have a backup... Maybe I'll make a backup now...

[2022-05-05 08:02] desperateCoder commented on #1264
Excellent idea! You should be able to make a copy of your DB via ADB. In case we mess something up, we maybe can still restore everything from the last-resort copy.

I already have a plan, if the data is still in your apps DB, I'm quite convinced we can force it to work again. I'll write here later.

[2022-05-05 10:00] desperateCoder commented on #1264
OK, here you go:

[code]

that's a quite naive way i'd try first. I checked the tables, threw out anything non-related, checked for relevant fields and the above is the outcome.

If i didn't mess up my little copy-paste session, this should trick the app to sync all up again.

There are some related tables not mentioned above and i can't gaurantee they won't mess up something, but i think it shoul

[2022-05-05 10:51] shtrom commented on #1264
Cheers, I'll try this in a moment.

As I have only lost the `oc_deck_cards` table, should/could I limit myself to the `Card` and `JoinCard*` tables?
--
Olivier Mehani ***@***.***>
Sent from my mobile, please excuse my brevity.

[2022-05-05 10:54] ekianjo commented on #1243
Same issue here.　Turns out that the Deck android client only works with the Play Store version of Nextcloud. otherwise it complains of single-sign on feature missing (from the F-droid version) and refuses to log-in. Shouldn't there be another option for logging in?

[2022-05-05 11:00] desperateCoder commented on #1264
oh, i missed that. totally correct, to get your cards back you'll need the card table and all depending tables:

[code]

[2022-05-05 11:30] stefan-niedermann commented on #1243
No, we commited to Nextcloud Single Sign On for various reasons (like enhanced security, no need to maintain a separate network stack, out of the box support for edge cases, self signed certificates and way more).

No, since I am using the F-Droid version myself, I can confirm that this is *not* a generic issue with F-Droid (or the published build).

@ekianjo Could you please also post the used ve

[2022-05-05 11:57] shtrom commented on #1264
I don't seem to have a `state` column in any of the tables. Did you mean `status`?

[2022-05-05 11:59] desperateCoder commented on #1264
Yep, you're right, I'm dumb. Best dev ever. 😓

[2022-05-05 12:11] shtrom commented on #1264
Well, you know what? I think that worked.

After running all those (`s/state/status`) in the sqlite DB on the phone, and
[code]
on the server side, I restarted the app (which I had force-stopped before).

It started up and every task was marked as to sync 🔄, but that then disappeared, and
[code]

I'm spot-checking now, but this is all looking pretty good!

[2022-05-05 12:23] desperateCoder commented on #1264
That's at least some progress... You can activate the logging in the app in the settings, maybe that helps. You can post the output here if needed. But be aware that it contains your cards data, so be careful what you post.
It's nearly at the bottom of the settings.

Then you can trigger the sync and have a little bug button on the header of the sidebar. After the sync, hit the bug to retrieve the

[2022-05-05 12:37] shtrom commented on #1264
Nah, I think it's done. It's all there, synced back to the server 😌

[2022-05-05 12:44] desperateCoder commented on #1264
Aw man! Glad it worked! ❤️

Btw.: You nicely thought along, covering my mistakes. Wish all our users would be like that.

That was unconventional and fun! Finally the offline-capabilities I invested so much time in visibly paid off.

 If you think we're done here, feel free to close this issue and have a nice day!

[2022-05-05 12:59] shtrom commented on #1264
Yeah, to me offline caps is a must-have for this sort of apps. Otherwise there's no real point in a native app when a web view can do.

Hey, I'd like to send a token of gratitude. Should I just use the `Sponsor` link for this repo? I see the repo is not in your account. I am grateful for the original code for sure, but even more so for your help right then, so I want to make sure the love is share

[2022-05-05 13:10] desperateCoder commented on #1264
Aw man, thats really not necessary, but I won't resist either 😊

It's mostly a two-man-project, driven by me as the DB/server-communication guy and my buddy @stefan-niedermann as the UI-sorcerer. It started as two bros having a fun project and grew to... THIS.

 Its Stefan's repo and he is also managing the incomes, so @stefan-niedermann: whats the best way without paying unncessary commissions?

[2022-05-05 13:42] desperateCoder commented on #1264
Nah, gonna be shared as usual. And if it's a odd number, we'll saw that last penny in two.

[2022-05-05 13:59] desperateCoder commented on #1264
Chellange accepted. But be aware that we have Euros here, i don't have an Australian penny here to saw apart 😅

But you'll get your photo!

[2022-05-05 18:39] cddf opened #1268 "Keep the filters on restart and when switching boards"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**

We are using a huge board with many people and I'm usually only interested in cards tagged to

[2022-05-05 18:58] stefan-niedermann commented on #1268
I see a few issues with the rewuest:
- `Assigned to me` is literally the only filter that is available on each board (beside due date). Labels and other assigned users can differ from board to board.
- I am not sure what users would *expect* to happen. While it might be useful to keep the filters active in some scenarios, it will be hindering in other scenarios or even worse: One might not notice

[2022-05-06 10:42] cddf commented on #1268
Actually, my phrasing was quite ambiguous. With "keep filters when switching boards" I meant that the filters per board should stay constant when I switch between boards. So, no need to synchronize it between all different boards.

There are already several issues for the Nextcloud app, which are related:
- [Allow filtering per URL](https://github.com/nextcloud/deck/issues/3196)
- [Save filters](h

[2022-05-10 06:43] mariohommel opened #1269 "A card moved and archived is not syncing"
I moved a card and archived it on the desktop. These changes are not synced to Desk app.
Android 12
Nextcloud Version is 23.0.4

[2022-05-10 06:47] stefan-niedermann commented on #1269
Would you please fill out the issue template? It is there [for a reason](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed).

Please try disabling the `ETag`s in the settings of the Deck Android app and trigger a synchronization. It might take several minutes depending on the amount of cards you have. Check whether your card is in the correct

[2022-05-10 07:09] mariohommel commented on #1269
**Describe the bug**

I moved a card and archived it on the desktop. These changes are not synced to Desk app.

Steps to reproduce the behavior:
1. On desktop drag an existing card to another list and archive it.
2. Open Deck app on the smartphone.
3. Card is still visible at the old position and not archived.

**Expected behavior**

Card should be archived an on the new list.

**Screenshots**

-

[2022-05-10 07:10] mariohommel commented on #1269
Disabling ETags worked. The card was synced immediately after changing the setting. I even don't had to trigger a sync manually.

[2022-05-10 07:12] stefan-niedermann commented on #1269
Thanks! Yep, it's a bug in the Deck server app. I will take care of reporting it there (and post a link here in the aftermaths). Unfortunately, there is nothing we can do on our side to fix the issue.

[2022-05-10 07:13] desperateCoder commented on #1269
@stefan-niedermann we reported that quite some time ago... Better search for it

[2022-05-15 10:58] christianlupus opened #1274 "Make the +-botton smarter"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**

Typically, I need to add multiple cards to the stack at once. So, I  click on the +-button an

[2022-05-20 15:47] stefan-niedermann commented on #1264
brot kann ja jeder brechen 🤷‍♂️

[2022-05-20 17:35] desperateCoder commented on #1073
@boulayor sorry for the (huge) delay. I almost lost my mind on this, until I even found the lines causing this. Concurrency is great as long as it works, but when it doesn't, it is a hell of a debug session.

Could you please test the following version and confirm it either working or still faulty?

[(≧︿≦) APK](https://github.com/stefan-niedermann/nextcloud-deck/suites/6595843800/artifacts/2475831

[2022-05-20 17:52] desperateCoder commented on #1117
@alexminder @TtuxX  sorry for the (huge) delay. I almost lost my mind on this, until I even found the lines that might be causing this. Concurrency is great as long as it works, but when it doesn't, it is a hell of a debug session.

Could you please test the following version and confirm it either still working (@alexminder) or still faulty (@TtuxX )?

[(≧︿≦) APK](https://github.com/stefan-niederm

[2022-05-21 11:44] shtrom commented on #1264
🤣 cheers guys!

[2022-05-21 11:45] shtrom commented on #1264
und geld auch?

[2022-05-21 12:32] desperateCoder commented on #1264
Only if you got a money-breaking machine like i bought just for this occasion 💪

JK, smart people would just use a metal saw and a penny coming from the other end of the world, where everything is trying to kill you

Thanks again mate!

[2022-05-23 17:13] TtuxX commented on #1117
Dear @desperateCoder, thank you so much for your update on this thread ! I was missing the latest updates from your great app and refrained a lot from pinging you haha

I tried your app (stopping the app and deleting all the data and so on). However the app does not load all the boards like the previous debug version you sent me in this issue.

It now stalls trying to import the large board that a

[2022-05-23 19:46] desperateCoder commented on #1117
@TtuxX thanks for your feedback! As saidy it was pure hell and to be honest it still is. I did further tests and had different outcomes. The good thing: cloning boards seems to work fine now, even with bigger boards.

The bad thing: the devices still seem to be overwhelmed with big board trees and I still had quite some difficulties in my tests. The final word isn't spoken here yet, I'll keep work

[2022-05-24 09:10] TtuxX commented on #1117
Haha thank you very much for not letting this issue down !

I would like to start coding android apps but I am a bit worried about how complex debuging this issue seems to be, I didn't think that the code and the way of operating of an android app could be so obscure and difficult to trace :0
I remember reading you or Stefan say that "android is a bitch" haha

I sent to info@niedermann.it further

[2022-05-24 09:19] desperateCoder commented on #1117
Yep android can be a diva, but it also has its advantages.

It's not android making it so hard to debug, it's my own implementation. Sure, i could work synchronously call after call, but it would make everything super slow, so I contact the server in multiple simultaneous calls to speed the sync up.

Having all that offline capabilities, so you don't always rely on the server, makes everything eve

[2022-05-27 01:07] xdubx commented on #1254
I dated my nextcloud version to v24 and the deck app to and the error is gone. Meanwhile I changed my is version to android 11.
Someone of this factors solve the problem.

[2022-06-04 21:04] himarmajhool opened #1287 "Multiple duplicate cards, lists or boards after creating them offline, then enabling data/wireless and syncing to server"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Steps to reproduce the behavior:
1. Disable data and wireless on smartphone
2. Create and/or edit new cards/lists
3. Enable data or wireles

[2022-06-09 11:25] desperateCoder commented on #1287
Hi @himarmajhool, thanks for your report, and sorry for the delay, we were on a music festival these days.

Could you please check, if the following version does fix anything for you?

[(≧︿≦) APK](https://github.com/stefan-niedermann/nextcloud-deck/suites/6595843800/artifacts/247583160)

You can safely install it beside your current app, it will be installed as a second deck app with a "DEV" label

[2022-06-09 14:02] desperateCoder commented on #1287
Thanks for your fast reply!

The provided bugreport indeed helped a lot, thanks for sharing. A method I was using is standard java, but not available on every Android device, as it seems.

I replaced it with an alternative one and I'm hoping the following one will work better:

[(⌐⊙_⊙) APK](https://github.com/stefan-niedermann/nextcloud-deck/suites/6863435515/artifacts/265290235)

Before you insta

[2022-06-10 10:44] desperateCoder commented on #1287
Ping @himarmajhool (don't know if you hadn't time to test yet or didn't get a notification because i forgot to tag you, just making sure you see it)

[2022-06-10 14:49] himarmajhool commented on #1287
@desperateCoder sorry for the delay. I just downloaded and installed the new APK, I cleaned the storage and uninstalled the older version as instructed (BTW, I had uninstalled the release version too the first time to make sure there would be no interference while syncing).
The good news is that all my boards, lists and cards got imported successfully.
The bad news is that the problem remains. To

[2022-06-10 15:10] desperateCoder commented on #1287
@himarmajhool thanks for your feedback, i didn't want to distress you though 😅

Oh boy, ok, so the problem seems to lay deeper in the already very complex sync mechanism. Can you at least confirm, that the duplicated labels attached to the cards are gone? That's where I put the focus on in the build above in the first place.

To test that, just attach some labels to a couple of cards before going

[2022-06-10 15:46] himarmajhool commented on #1287
Just tested with new labels. The card does get duplicated but the labels are not (I mean I have the same labels in the duplicated card.)

It's a very tricky bug indeed, I don't think I could reproduce _exactly_ what happened the first time my boards got messed up (I made a lot of changes indeed, I wasn't aware I was offline at that time).

Thank you for your time and help and no need to apologize.

[2022-06-11 10:49] himarmajhool commented on #1287
Hi @desperateCoder, I tested the new APK, I ran the procedure to reproduce the bug twice and everything seemed to work as intended (labeling included).

[2022-06-11 10:54] desperateCoder commented on #1287
@himarmajhool glad to hear!

regarding the duplicated lists and cards: Not sure how exactly to reproduce that tbh... We had something similar when cloning boards, but i think i already had this resolved within the versions i provided here. Is there any issue left? Or should i consider this issue done now, whats your opinion?

If anything is still not working properly, don't hesitate to tell us.

[2022-06-11 11:29] himarmajhool commented on #1287
@desperateCoder, I guess it's safe to close the issue for now. I'll try to come back with more data (maybe logs from a local instance of NextCloud server, to see what happens exactly on syncing and exclude any possible server-side bugs) if ever the issue emerged in the future.

[2022-06-11 12:04] desperateCoder commented on #1287
Yeah, just open a new issue in case you encounter more difficulties.

Thanks again for your contributions, have a nice weekend!

[2022-06-11 12:04] #1287 closed

[2022-06-11 16:35] crispyduck00 opened #1289 "Enhanced support for Projects"
Hi, I know it is on the readmap but would like to ask if we can expect more project features, hopefully also adding a card to a project in near future?

Br
cripyduck

[2022-06-11 18:51] desperateCoder commented on #1289
Hi @crispyduck00 , thanks for your request!

To be honest, we didn't really work with projects, so this would need some more research. The API documentation doesn't contain a block regarding projects either ( see https://deck.readthedocs.io/en/latest/API/#cards)

That's not a showstopper, we still can sniff what the WebApps does, just want to say it might take some time.

But as you are here: what

[2022-06-12 05:48] crispyduck00 commented on #1289
Hi @desperateCoder , thanks for the fast answer.

What I would really need is a way to link cards to contacts. The idea behind projects is the possibillity to link thinks also frim different apps together.
Anyway contacts is not supporting it now, bit I use some "dummy" project per contact to  link cards and also files to it.
So it would be nice to be able to link cards to at least existing projec

[2022-06-14 20:50] aljawaid commented on #1221
hello, I had the same issue for NC 23.x... solved when you mentioned the `Etag` option.... can't tell all my users to keep doing that though

[2022-06-14 21:15] aljawaid opened #1290 "Some General Feedback on Deck for Android"
Hello, fantastic app, excellent for fast-moving workflow, but below are my suggestions and challenges, if anybody would like some feedback:

- Mobile notifications - excellent, but...
- - self-made comments shouldnt be a notification to oneself. or mute own comment notifications if deck server-side issue. I think when a comment is added to the card, it sends notifications to all users, even the co

[2022-06-14 21:21] aljawaid commented on #842
My suggestion is to keep the tabs seperate but allow option to add a third tab which shows them combined in time order.

[2022-06-15 05:42] stefan-niedermann commented on #1221
Yeah, that's why the issue is still open and I wrote "workaround" instead of "solution" 😉

[2022-06-15 05:44] stefan-niedermann commented on #842
We are a very small team of two core members and have to [decide what options we are able to maintain](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-dont-you-make-an-option-for).

While the issue has not been implemented yet, the eventual goal is consistency with the Deck server app, so we will not provide an option to toggle between the two variations in the end. Than

[2022-06-15 05:45] stefan-niedermann commented on #1290
Whoa, that's some big feedback - thank you very much for that!

Please give me some time to analyze the issue and write you a peoper response later today 🙂

[2022-06-15 06:32] stefan-niedermann commented on #1290
First of all: We are developing the Deck Android app as an independent team - we do not work for or are related in any way to the Nextcloud GmbH (which develops the Deck server app).

➡️ Please open an issue in the [repository of the Deck server app](https://github.com/nextcloud/deck/issues/new/choose) which generates the notifications

➡️ Reasonable Please split to a separate issue in our reposit

[2022-06-18 09:18] ilippert opened #1291 "timeline missing information/update when items are shared with the board"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Steps to reproduce the behavior:
1. add a card to another project/board
2. Open that board's timeline
3. See that the timeline does not rep

[2022-06-19 07:44] stefan-niedermann commented on #1291
Dear @ilippert

the information in the `Activity` tab is not collected by the Deck Android app but by the (not by us developed) Deck server app. The Deck Android app fetches and displays the information.

Therefore I'd kindly ask you to reopen your ticket in the [repository of the Deck server app](https://github.com/nextcloud/deck/issues/new?assignees=&labels=&template=Feature_request.md) - once y

[2022-06-19 07:44] #1291 closed

[2022-06-20 06:39] stefan-niedermann commented on #1210
Will be fixed in `1.20.1` - please reopen in case the error still happens with this or a higher version. Thanks everyone for testing and helping analysing this issue!

[2022-06-20 06:39] #1210 closed

[2022-06-20 06:40] stefan-niedermann commented on #1073
Should be fixed in `1.20.1` - please reopen the issue in case that the problem still occurs with this or a higher version. Thanks for helping us analysing and testing the problem!

[2022-06-20 07:46] ilippert commented on #1291
Dear Stefan Niedermann,
thank you for your kind response. I have now reported this at https://github.com/nextcloud/deck/issues/3874
Regards

[2022-06-20 08:30] stefan-niedermann commented on #1254
This cause of this issue should be fixed in `1.20.1`. Please reopen in case the problem occurs again with this or a higher version.

Thank you for the report!

[2022-06-20 08:30] #1254 closed

[2022-06-25 10:16] newhinton opened #1293 "Back button in widget"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
When a card is opened from the widget, the application does not have a backstack. This results in the application beeing closed instead of t

[2022-06-28 20:52] kuumaur opened #1295 "Offline usage behavior"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
#1063
In Android App with active internet connection, but with disconnected Nextcloud Server instance, Iam getting this message Window:

[co

[2022-06-28 21:03] desperateCoder commented on #1295
Hi @kuumaur, thanks for your message!

You're right, this shouldn't interrupt the workflow. We'll see how we can mitigate this by e.g. only showing a toast that states your status.

Well update the status of this issue here.

[2022-06-28 22:25] aljawaid opened #1296 "Feature Request: Add Voice Note Capability"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**
We can't take advantage of voicenotes, which are common in WhatsApp and the communication link

[2022-06-28 22:35] aljawaid opened #1297 "Feature Request: Clone Cards"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**
1. Cards can be moved but not cloned currently.

**Describe the solution you'd like**
1. Allow

[2022-06-28 22:38] aljawaid opened #1298 "Feature Request: Default Board on Startup"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**
Some users only work on certain 'daily' boards whilst having access to a few.

**Describe the

[2022-06-28 22:53] aljawaid opened #1299 "Feature Request: Allow Multi Line Comments"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**
The web allows multiline comments in cards but not in the mobile deck client.

**Describe the

[2022-06-28 23:26] aljawaid commented on #1290
Hello, sorry for the delay in responding... I managed to go through your response and I have linked what and where you advised.  I look forward to any of my issues or suggestions being taken further.

- _I meant the emojis from the keyboard for the comments section. I was expecting common emojis to be shown but it showed the default microsoft keyboard ones which were ugly._

- _exactly_

- _Just t

[2022-06-28 23:30] aljawaid commented on #1289
- _if that could rotate to landscape too then we could see more_

[2022-06-28 23:35] aljawaid commented on #1079
Maybe make it available as an option (to enable swipe), or longpress to reveal archive button.  Just a thought.

[2022-06-29 19:23] desperateCoder opened #1300 "German translation of error_dialog_capabilities_not_parsable"
https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/res/values-de/strings.xml#L235

I think something went wrong here: `nicht nicht`

CC: @rakekniven

[2022-06-29 20:01] rakekniven commented on #1300
Fixed at Transifex seconds ago.

[2022-06-29 20:04] desperateCoder commented on #1300
@rakekniven thanks man! We'll patiently wait for the next PR then.

And thanks for your effort in general! ❤️

[2022-06-30 16:53] kuumaur commented on #1295
I have tested the dev version.
As mentioned, I have synced the Boards ans card while vpn was active.
Closing vpn connection,
cleared open nextcloud deck dev app in memory,
launched nextcloud deck dev,
created a new card,
still getting a popup window.

[code]

[2022-07-01 10:29] desperateCoder commented on #1295
@kuumaur Yep, I'm dumb. I really should read my own code more carefully. I found the problem, here is a fixed version:

[(≧︿≦) APK](https://github.com/stefan-niedermann/nextcloud-deck/suites/7177186964/artifacts/286237604)

Uninstall the current DEV app, Install this version and retest just like the version before please. I'm quite confident that this one should work.

[2022-07-02 08:47] kuumaur commented on #1295
I have tested the dev version.
As mentioned, I have synced the Boards ans card while vpn was active.
Closing vpn connection,
cleared open nextcloud deck dev app in memory,
launched nextcloud deck dev,
created a new card,
still getting a popup window.

[code]

[2022-07-02 10:24] kuumaur commented on #1295
Mmmh, maybe Iam doing things wrong.
I have test my workflow again, but the window pops up again.
- wifi connection is established
- deinstalled old  dev version of nextcloud dev app
- installed new dev version of nextcloud dev app
- established vpn connection over wifi
- opened nexxtcloud deck dev app and imported account and board data
- killed/cleared nextcloud deck dev app
- disconnect vpn
- op

[2022-07-02 12:12] desperateCoder commented on #1295
@kuumaur nope, the second output is kind of expected and shows that my changes worked. Instead of an `UnknownErrorException` we now get an `OfflineException`, which is exactly what i wanted to happen.

BUT: The UI should handle this one slightly differently, you shouldn't get the crash window. Instead, a small toast should have been shown. So we're getting some progress, I'll look deeper into this

[2022-07-05 09:39] stefan-niedermann opened #1306 "Add monochrome icon for Android 12+"
Android 12+ provides support for monochrome icons in launchers (see below) :

![image](https://user-images.githubusercontent.com/12085737/177297413-d688ddde-c8ec-4fe0-8d2f-3b7306bd3a83.png)

It would be a nice touch if Notes also supported this !

[2022-07-05 10:27] desperateCoder commented on #1306
*deck

[2022-07-07 09:43] mmbannert opened #1307 "Cannot create new board"
Hi,

I am experiencing problems with the Deck app. Disabling ETags had no effect on the App's behavior.

**Describe the bug**
I cannot create a new board in the Deck app.

Steps to reproduce the behavior:
1. Open the menu by hitting the three horizontal lines in the top left corner
2. Click on 'add board'
3. Choose board title and color
4. Hit 'add'
5.

**Expected behavior**
A new board with the c

[2022-07-09 19:11] #1306 closed

[2022-07-09 19:14] #1299 closed

[2022-07-09 19:14] stefan-niedermann commented on #1299
Will be featured in version `1.20.2`

[2022-07-09 19:16] stefan-niedermann commented on #1290
Thanks for splitting this up into separate issues :slightly_smiling_face: Closing this one in favour of the follow-up issues.

[2022-07-09 19:16] #1290 closed

[2022-07-09 19:29] desperateCoder commented on #1307
Hi @mmbannert, sorry for the delay!
I looked into the code and found the line causing this thanks to your provided stacktrace. Honestly, as i wrote these lines, i was like "ain't gonna happen anyway, but safe is safe.". So, you managed to get this, congratulations! :sweat_smile:

From what I see, your initial account synchronization is kind of messed up (no idea why to be honest). Can you please t

[2022-07-09 20:48] desperateCoder commented on #1295
Hi @kuumaur, thanks for your patience! And sorry for falsely closing this issue :rofl:

@stefan-niedermann had a look and we changed the behavior in this case. Now you should get a proper toast message instead of an exception dialog.

Please try the following version and report back. I guess you know how to test :wink:

[ (ﾉ◕ヮ◕)ﾉ*:・ﾟ✧ APK](https://github.com/stefan-niedermann/nextcloud-deck/suites

[2022-07-11 14:56] mmbannert commented on #1307
Hi, thanks for the reply!

What should I expect the app data folder to be called? There is a "com.nextcloud.client" folder in Android/data. I deleted that one but it did not solve the problem. I am also fairly certain that this has nothing to do with the Deck app because the folder does not get created upon running Deck again - it only shows up as soon as I run the regular, generic Nextcloud app.

[2022-07-11 15:08] desperateCoder commented on #1307
Uhm... I'm quite confused.

1. The folder you deleted belongs to the main nextcloud files app.
2. You shouldn't delete any app folder, you should delete app data via settings.

After your action I'd recommend to check if your main nextcloud app still works. Maybe you deleted something that makes it stop working, but i guess it will still be working and only local files are gone and will be downloa

[2022-07-15 08:45] mmbannert commented on #1307
Thanks for clarifying. I think I know what you mean. Don't worry - no harm done! :) It's my responsibility after all.

Unfortunately, that still didn't solve my problem. I am getting the same error message. (Except that I actual have the older Shift5me, not the Shift6m, as stated in that message.)

It seems a bit odd that the syncing problem seems to exist only for one direction: creating boards,

[2022-07-29 22:45] tuximail commented on #1243
I am experiencing the same problem after switching to a new phone. So in comparison I have the old phone where the nextcloud App was from the Playstore and Deck from F-Droid. Also my Tablet where both apps are from F-Droid. Both scenarios working with the same versions as I am now using on the new phone (both from F-Droid here, too). So it really seems to be a different issue than it says in the e

[2022-07-29 23:41] desperateCoder commented on #1243
Hi @tuximail,

you can indeed provide something:

Can you please try reinstalling the app and then create a screen recording beginning at the first start of the app until it crashes? The steps described above might be right, but with a video I can see what happens between them, at least whats happening in the UI. That'd be great!

[2022-07-30 06:16] stefan-niedermann commented on #1243
Can everybody who is affected please also check whether they have installed the `Nextcloud Android Dev` app instead of the released `Nextcloud Android` app? There is currently [an issue with the Nextcloud Single Sign On mechanism](https://github.com/nextcloud/Android-SingleSignOn/issues/470) in case only the Dev variant is installed.

[2022-07-30 23:44] desperateCoder commented on #1295
ping @kuumaur

[2022-08-03 13:05] mstyp commented on #498
Wait, so, is this supposed to be working? Should I be able to open deck links in the android app or not? I've been really struggling with [lack of notifications for deck](https://github.com/nextcloud/android/issues/10526) and this would solve my issue.

[2022-08-03 15:08] stefan-niedermann commented on #498
Since this is still an open Pull Request, this has not been merged yet and is therefore not supposed to work.

[2022-08-05 20:45] tuximail commented on #1243
Thank you very much @stefan-niedermann! This was actually the problem here. I was using the Dev version - which should not make any difference, but because of the issue linked that only affects the Dev version, it mattered. After switching to the stable nextcloud client I could login.

[2022-08-06 09:58] stefan-niedermann commented on #1298
Given the lifecycle of an Android app is quite complex, I personally think implementing this feature is more confusing than helpful.
- "on startup" can mean anything here from "always when I press the launcher" to "when I open the app, go back to homescreen and return via recent apps".
- Not to mention various other use cases like "ending via home button" vs. "ending via back arrow".
- What if And

[2022-08-07 07:45] stefan-niedermann commented on #1243
@taiBsu and @ekianjo assuming this was also the cause of your issues, I'll close this in favor of https://github.com/nextcloud/Android-SingleSignOn/issues/470

Let us know if using the stable released Nextcloud app did not solve your issue, we'll reopen this one in this case.

[2022-08-07 07:45] #1243 closed

[2022-08-07 08:01] stefan-niedermann opened #1317 "Prevent empty list names"
As a follow up to https://github.com/nextcloud/deck/pull/3862?notification_referrer_id=NT_kwDOAEhYT7IzNzg2MTQ4NjMwOjQ3NDExOTk#event-7065743004 we need to adjust the apps UI to prevent entering empty list names when creating or updating a list name.

After a discussion with @desperateCoder it is a **non goal** to enforce this by the Android apps backend but only on the UI layer. Since there is no m

[2022-08-08 00:05] #1298 closed

[2022-08-16 06:57] #1293 closed

[2022-08-16 08:00] #1317 closed

[2022-08-16 08:45] #1180 closed

[2022-08-20 07:37] johanbook opened #1322 "Be able to select if calendar should start on Sunday or Monday"
When picking due dates for a card the calendar starts the week on Sunday for me. I would be great if it was possible to have an option in the settings that weeks start on Monday which is common in e.g. Europe.

I greatly appreciate the app otherwise!

[2022-08-21 13:25] NorVoi opened #1323 "Open Deck App via Nextcloud App"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**

Hi,

I'm not sure if I'm in the right place with my query.  I have the Deck app on my smartph

[2022-08-21 17:05] stefan-niedermann commented on #1323
This is already tracked [here](https://github.com/nextcloud/android/issues/8279) and can not be solved (only) in this repository. We are aware of this issue though 🙂

[2022-08-21 17:05] #1323 closed

[2022-08-30 20:28] JanOstrowka opened #1330 "Update to The Material Design 3"
I am a big fan of this app, and I use it for organizing my thoughts, tasks, ideas and more. It is one of my favorites. At the same time, I am mesmerized by the newly released `Material Design 3`. It's gorgeous!

Would it be possible, to update outdated components inside of the Deck, to the new design system?
e.g. date & time picker, top bar, cards etc.

I am not an Android developer, but maybe thi

[2022-08-31 15:11] Oleoleee opened #1331 "Markdown Check-Boxes in Darkmode almost invisible"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Markdown Check-boxes in Darkmode are almost invisible due to not inverting the color of the boxes

**Expected behavior**

Color of Check-bo

[2022-09-07 08:17] Jerome-Herbinet opened #1332 "When a stack is renamed from the web interface, its name does not change in the Android application, despite a refresh"
**Describe the bug**

When a stack is renamed from the web interface, its name does not change in the Android application, despite a refresh or even after having flushed application cache.

Steps to reproduce the behavior:
1. Go to the web interface and rename a stack
2. Refresh the app (swipe down)
3. Notice tha the name of the stack doesn't change

**Expected behavior**
The name should change af

[2022-09-07 08:26] desperateCoder commented on #1332
Hi @Jerome-Herbinet, thanks for your Report!

This is unfortunately a known issue we can't fix, since it is the server not updating the ETags properly, see: https://github.com/nextcloud/deck/issues/2866

As soon as the server app is fixed, the problem will vanish on our side.

As a quick fix you can disable etags in your Android-Deck-App settings.

As I see you contribute to Nextcloud, you can als

[2022-09-07 13:46] Bassmann opened #1333 "Support Android notifications"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

There are no android notifications for cards where a due date is set

Steps to reproduce the behavior:
1. Go to a card
2. Set a due date a

[2022-09-07 14:11] stefan-niedermann commented on #1333
Please check out our FAQ as stated in the issue template:
https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#how-to-receive-notifications-when-a-due-date-is-reached

[2022-09-07 14:11] #1333 closed

[2022-09-09 11:12] Jerome-Herbinet commented on #1332
Thank you @desperateCoder ; I may suggest one thing : What do you think about adding a "Known issues" section in /blob/master/README.md which would explain the problem and the Etags tip ? I can do it.

[2022-09-09 11:42] stefan-niedermann commented on #1332
I guess a hint in the [`FAQ.md`](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md) would make sense, yeah... Will add a section, thanks for the idea 🙂

[2022-09-09 11:42] #1332 closed

[2022-09-09 12:13] Jerome-Herbinet commented on #1332
Great ! ... and I recommend you to add a link to the FAQ in the README.md :-)

[2022-09-16 16:19] putt1ck opened #1337 "NC25b6/Deck1.8b1"
Connecting Deck app 1.20.2 (from Play Store) to Deck 1.8 beta 1 on Nextcloud 25 beta 6 works initially and then cannot show any boards returning an error. This happens after you choose the account to connect to. Each time it asks for permissions to access the selected account; pressing allow briefly shows a message about synchronising boards, then fails and returns an error.

[code]

[2022-09-16 16:41] putt1ck commented on #1337
Will give that a go, but this is a new phone and I was adding the account when the error first occurred.

[2022-09-17 04:35] putt1ck commented on #1337
Same outcome after the storage was cleared. Do you want me to try uninstalling it and starting from scratch?

[2022-09-24 03:53] aquananu commented on #1297
I have a little variation to this request

We should be able to create clone of card just as a link to the original card, this will help the user to create a board with cards they are associated or assigned, rather than following up on different boards and getting notification for all cards from all boards this is like having favorites in cards

Secondly, option not to turn off sync a particular b

[2022-09-24 03:57] aquananu opened #1341 "Sync error"
[code]

[2022-09-24 13:54] desperateCoder commented on #1341
Please see here: https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed

[2022-09-24 13:54] #1341 closed

[2022-09-27 11:42] jotoeri commented on #1337
Same here with
- fdroid flavor
- App Version Code: 1020002
- NC-GmbH Instance (So NC25 RC1 meanwhile, Deck version beta2 probably?)

Freshly installed app from fdroid, also tried clearing cache and storage meanwhile.
Opening the app allows to select the account, then while `Importing board 1 of 1` the app crashes.

[2022-09-27 11:51] stefan-niedermann commented on #1337
@jotoeri @putt1ck can one of you please provide a temporary test account on your instances for debugging purposes and send the credentials via mail to info@niedermann.it?

[2022-09-27 11:57] jotoeri commented on #1337
For me - i dont have an own instance to do so.
But if i assume right, you could also have a guest-account on the NC-GmbH instance, no? For me it is a Guest-Account there, identified by email-address.

[2022-09-27 12:07] stefan-niedermann commented on #1337
Yup. Have been able to reproduce the issue. Will debug this next week

[2022-09-29 11:41] reox opened #1344 "Crash when attaching a text to the description of an existing card"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

When I try to share a link, the deck app crashes.

Steps to reproduce the behavior:
1. open a website in firefox/chrome (tested both)
2. sh

[2022-09-29 11:43] stefan-niedermann commented on #1344
Thanks for the report, we'll have a look at it, but i guess a fix should be quite easy 🙂

[2022-10-02 06:46] #1344 closed

[2022-10-02 06:46] stefan-niedermann commented on #1344
Will be fixed in version `1.20.3`

[2022-10-02 06:49] stefan-niedermann commented on #1337
@desperateCoder this is the actual stacktrace:

[code]

[2022-10-02 07:00] stefan-niedermann commented on #1337
There are two issues:

1. Looks like there is a breaking change once again in the Deck server app (see stacktrace above)
2. `SyncManager#synchronize` does call `onError` two times **and** `onResponse` two times.
  This behavior leads to a race condition resulting in the stacktrace posted by @putt1ck in the original post: The account has been removed due to a error at the first sync but the app thi

[2022-10-02 08:31] stefan-niedermann commented on #1337
Okay, looks like yet another, not announced, breaking API change of the Deck server app. @desperateCoder implemented a workaround, so Deck Android `1.20.3` should be able to handle this situation. Thanks for the report.

[2022-10-02 08:31] #1337 closed

[2022-10-02 08:37] stefan-niedermann opened #1348 "`SyncManager#synchronize` should never call callback multiple times"
Steps to reproduce the behavior:
1. Ensure you have no accounts configured in Deck Android
2. Enforce issue, for example simulate throwing NPE as here https://github.com/stefan-niedermann/nextcloud-deck/issues/1337
3. Add breakpoints to the `SyncManager#onResponse` / `SyncManager#onError` callbacks in `ImportAccountActivity`
4. Import account
6. Watch both methods being called multiple times

This

[2022-10-02 08:56] stefan-niedermann commented on #1331
Neither reproducable on my physical Pocophone F1 device nor on an emulated device.

Given you [not only ignored but actually deleted parts of the issue template](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed), we can only assume local environment related issues like manufacturer or custom rom depending theming stuff.

![grafik](https://use

[2022-10-02 08:56] #1331 closed

[2022-10-08 18:46] farfromrefug opened #1351 "Crash while syncing"
I get this crash now while.syncing with my nextcloud self hosted
[code]

[2022-10-08 19:25] stefan-niedermann commented on #1351
For sure you already tried the suggested steps from the [FAQ regarding this topic](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#i-have-experienced-an-error) before [ignoring and deleting the issue template](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed)? 😉

[2022-10-08 19:39] farfromrefug commented on #1351
@stefan-niedermann I am sorry i actually removed the template because i thought (and still think) the crash report from the app was having everything necessary (and i checked, maybe i missed some) to report the issue.
I also realise now i had 2 different crashes and this is not the one i thought i copied. MY real issue was with coordinate layout crashing. And it was a crash. I did not read the FAQ

[2022-10-08 19:39] #1351 closed

[2022-10-08 20:09] S7venLights opened #1352 "Request: APK Releases on Github"
Simply so we can update with Obtanium or Octodroid.

[2022-10-08 20:52] stefan-niedermann commented on #1352
Why don't you use the F-Droid builds?

[2022-10-08 21:00] S7venLights commented on #1352
I like getting fast updates from Github and I like that Github apps have their own signing keys, which avoids the single fail point of fdroid builds.
See https://github.com/ImranR98/Obtainium
For a better description.

[2022-10-08 21:26] stefan-niedermann commented on #1351
No reason to feel offended! Well, Saturday evening, I got some minutes for a discussion :smile:

A crash report is simply by nature not able to provide all necessary information for a proper issue report. Being able to reproduce a bug is usually way more important than knowing the exact line in the source code where the actual crash happens.

A crash report is helpful to learn about the symptoms,

[2022-10-09 05:48] farfromrefug commented on #1351
Thanks for answering me!
For reference here is the true crash I wanted to report.  As I said I think it is enough on its own. Plus I actually don't have a context cause it happened randomly.
I ll let you do what you want with it.
Thanks
[code]

[2022-10-13 04:20] nickvergessen opened #1355 "Text '2022-10-14 05:00:00' could not be parsed at index 10"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
[code]

Steps to reproduce the behavior:
1. Go to the app and set up a new account you are using on the web interface since a long time
2. C

[2022-10-13 06:18] stefan-niedermann commented on #1355
@nickvergessen `duedate` used to be a timestamp in the past. Can you ask @juliushaertl whether this is a bug or a breaking change?

[2022-10-13 06:25] stefan-niedermann commented on #1355
Update: `duedate` had the format `2021-03-09T18:35:00+00:00"` in version `1.7.1`, while Deck `1.8.0-beta.2` returns a date with format `2022-10-20 22:00:00`.

Can this be fixed in the next Deck beta / rc?

[2022-10-13 06:30] stefan-niedermann commented on #1355
Reported in https://github.com/nextcloud/deck/issues/4112

[2022-10-13 22:43] eliasp opened #1356 "`NullPointerException` on `CoordinatorLayout`"
**Describe the bug**
While I was using another app, a Nextcloud Deck crash dialog popped up.

**Steps to reproduce the behavior:**
I can't reproduce the crash, but maybe the stacktrace helps identifying + fixing what happened.
Feel free to close this issue if this doesn't lead anywhere.

**Expected behavior**
The app shouldn't crash in the background, even though the response from the server might

[2022-10-13 22:48] eliasp opened #1357 "Changes to description get lost when rotating device twice"
**Describe the bug**
When rotating the device, then rotating it back to its original orientation while editing the description of a card - the changes will get lost.

Steps to reproduce the behavior:
1. Open an existing card
2. Start editing its description
3. Rotate the device to "landscape"
4. Rotate the device back to "portrait"
5. The changes to the description are gone, already existing text

[2022-10-14 06:17] stefan-niedermann commented on #1356
Looks like the same issue as in https://github.com/stefan-niedermann/nextcloud-deck/issues/1351

I already had a quick look at it and it seems that when the response of a UI triggered synchronization arrives and the UI has been destroyed in the meantime (e.g. by closing the app), this can happen.

I will firther investigate the issue, it should be fixable. Thanks for the report.

[2022-10-15 09:30] elumbella opened #1359 "Using existing nextcloud account not possible"
When starting the app and selecting the already existing nextcloud account on this device, login fails with a message about missing single sign on (see attached screenshot) This was not the case on my old device (Android 10), but is now (Android 12).
![Screenshot_20221015-112614](https://user-images.githubusercontent.com/2538681/195979391-f7208d5a-e105-4f63-bd20-c44708042fa5.png)

[2022-10-15 10:59] desperateCoder commented on #1359
Hi @elumbella, thanks for your report!

I'm using Android 12.1 and don't have any issues with that ("works on my machine" :sweat_smile:)

I think this is not a problem with the Deck app. What version of the Nextcloud Files app do you use? Make sure to use the latest version of both apps.

Maybe reinstalling the Files app could also fix it. Sorry for "im trüben fischen", this really isn't a commonl

[2022-10-15 11:50] elumbella commented on #1359
I was using the development version 20221008. I just installed the current version from the google play store and it is working now. I'll stick to that then. Thanks for the hint!

[2022-10-15 13:00] tacruc commented on #1337
Deck version  1.8.0-beta.2
[code]

Seams to be the same error in 1.20.3?

[2022-10-15 14:31] jotoeri commented on #1337
🤔 for me it works on 1.20.3/fdroid. Even with cleaning AppData and reauthentication it works.
![Screenshot_20221015-162905_Nextcloud_Deck](https://user-images.githubusercontent.com/47433654/195991882-dc9836ae-a500-466f-ba62-0ce862d5b29d.png)

[2022-10-15 15:23] stefan-niedermann commented on #1359
Please read https://github.com/stefan-niedermann/nextcloud-deck/issues/1243#issuecomment-1200100084

[2022-10-15 15:23] #1359 closed

[2022-10-15 15:25] stefan-niedermann commented on #1337
@tacruc there has been [another bug](https://github.com/nextcloud/deck/issues/4112) in the beta of the Deck server apo which should be fixed in the beta 3 / and / or the first RC. If your issue is still present with the next Deck Server issue **after** clearing the storage of the Deck Android app and reimporting your account, please let us know in a separate new issue.

I can't tell for sure thoug

[2022-10-15 15:30] stefan-niedermann commented on #1337
Also for everyone who was so brave to install Deck Server app **beta** versions: The latest bug might have corrupted the duedates in yoir database and I am not sure whether this will actually be fixed by the Nextcloud GmbH...

[2022-10-17 07:15] stefan-niedermann commented on #1337
So, looks like I misinterpreted the PR for the fix and there *is* a solution for people who installed the beta:

But from the one test that I did it basically recovers on read so that the state is acceptable. But the users timezone is gone for good, so for a CEST person all events modified lost the 2h offset and all cards have to be modified again to fix the time.

[2022-10-21 07:54] stefan-niedermann opened #1361 "Create new list: Dialog does not close"
1. Add a new list to a board
2. List is created
3. Dialog does not disappear

[2022-10-22 03:04] dineshkarthi95 commented on #1361
Hi can you pls assign this issue to me , I can help you with this

[2022-10-29 18:45] noseshimself opened #1367 "Initial setup fails with server in maintenance mode even after setting maintenance mode off"
**Describe the bug**

If the server is in maintenance mode during account setup after installing Deck it is not checked again after setting the server to operating mode.

Steps to reproduce the behavior in my case, overly complicated but it was like this:
1. Install the Nextcloud Android client
2. Set up several accounts on the same server
3. Install Deck
4. Set the server to maintenance mode
5. T

[2022-10-29 19:29] desperateCoder commented on #1367
Hi @noseshimself , thanks for your report!

Nice catch, i‘ll look into it! But since there is an easy workaround, this will be done with a lower priority.

[2022-10-29 22:09] noseshimself commented on #1367
The problem is nearly irrelevant unless it is an indication of something else needing fixing (or I would not have bothered reporting -- I have the special ability to find extreme border cases; if I was a navy member I would be working on a destroyer).

[2022-11-03 14:54] #1361 closed

[2022-11-03 14:54] stefan-niedermann commented on #1355
Fixed in the Deck server app

[2022-11-03 14:54] #1355 closed

[2022-11-03 14:56] #1356 closed

[2022-11-03 14:57] stefan-niedermann commented on #1356
Will be fixed in `1.21.0`. Please reopen or create a new issue in case this happens with `1.21.0` or later. Thank you for the report.

[2022-11-03 15:01] stefan-niedermann commented on #1322
Thanks! This is a setting that should not be done in any app but depend on the location you set globally on your smartphone:

As you see, we respect the your locale and the week starts with sunday in case you for example chose `United States` rather than `Germany`:

| DE | US |
| --- | --- |
| ![image](https://user-images.githubusercontent.com/4741199/199756601-381afb19-5766-44e2-978d-5e370262b8a9

[2022-11-03 15:01] #1322 closed

[2022-11-03 15:04] stefan-niedermann opened #1368 "Move from `Projects` to `Related Resources`"
See https://github.com/nextcloud/server/issues/28320

[2022-11-03 15:04] stefan-niedermann commented on #1289
[Projects](https://github.com/nextcloud/server/issues/28320) has been deprecated started with Nextcloud 25 Hub 3 - We will continue with the replacement "Related Resources" in #1368

[2022-11-03 15:04] #1289 closed

[2022-11-03 17:13] stefan-niedermann opened #1369 "Switch `Save` and `Edit` buttons when creating a new card"
Based on user feedback we should switch the <kbd>Save</kbd> and <kbd>Edit</kbd> buttons in the dialog when creating a new card.

This makes sense given both actions are positive submitting, <kbd>Save</kbd> is usually expected at the very end of a dialog.

[2022-11-03 18:55] stefan-niedermann opened #1370 "Creating a card by shortcut does only work for last selected account"
1. Import two accounts to the Deck Android app
2. Choose account A and close the app
3. Use the <kbd>Create new card</kbd> shortcut
4. Use the account switcher to switch to account B
5. Try to create the card
6. See `HTTP 403` and increasing amounts of dialogs when icking the <kbd>Create</kbd> button again

[2022-11-03 18:57] stefan-niedermann opened #1371 "Account selector should use displayname instead of username"
Known places: Shortcut to create a new card. Probably more plalces affected but solvable on a central place.

Need to ensure that the displayname is read from thr database.

[2022-11-04 09:25] #1330 closed

[2022-11-04 09:26] stefan-niedermann commented on #1330
Will be part of `1.21.0` :slightly_smiling_face:

[2022-11-04 09:29] stefan-niedermann opened #1373 "Local cached users throw error when deleted on the backend"
1. Have a instance with two users
2. Share a board form A to B
3. B is now "known" in the Deck Android app
4. Create a new board
5. Delete B on the server
6. Try to share the new board with B

[code]

[2022-11-04 10:53] #1371 closed

[2022-11-04 10:58] #1369 closed

[2022-11-08 04:06] aquananu opened #1374 "Sync failure when manually activating sync on a board"
[code]

[2022-11-08 04:10] aquananu commented on #1374
Just updated app to 1.20.3 still same

[code]

[2022-11-08 04:16] aquananu commented on #1374
It worked by disabling use etags

[2022-11-08 19:06] cloud2018 opened #1375 "Text in border in card detail view is "00:00" instead of "Time"."
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
Text in border in card detail view is "00:00" instead of "Time"
Date is "due date" in the frame as expected, so the expectation is that time

[2022-11-09 07:24] #1375 closed

[2022-11-09 07:24] stefan-niedermann commented on #1375
Will be fixed in `1.21.2`, thanks for the hint!

[2022-11-09 08:31] stefan-niedermann opened #1376 "Material 3 glitches"
- [x] Dialogs are still Material 2 style
- [x] Buttons can not be read in dialogs
- [x] `TakePhotoActivity` main FAB shadow is cut

[2022-11-09 16:30] Plobli opened #1379 "No access to file system possible on Android 13"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
It is not possible to select photos or other attachments from my smartphone as there is no query for permission to access the data system.
O

[2022-11-11 14:46] #1376 closed

[2022-11-12 09:13] Plobli commented on #1379
The issue appears only in Version 1.20.3. Version 1.20.2 ask for the right permission.
![Screenshot_20221112-100849](https://user-images.githubusercontent.com/4347582/201467385-42ec2b36-bb31-4ada-b992-a4b5f1abd171.png)

[2022-11-12 09:22] stefan-niedermann commented on #1379
Yup, I assume [setting the `compileSdk` to `33`](https://github.com/stefan-niedermann/nextcloud-deck/commit/ccf9fedc616361bdacc7b645d2e61a1577f80e0e#diff-51a0b488f963eb0be6c6599bf5df497313877cf5bdff3950807373912ac1cdc9) caused this. I'll have a look.

[2022-11-14 14:11] youphyun opened #1385 "Add new card title truncated"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
The Add new card title is truncated on a device with a smaller resolution.

Steps to reproduce the behavior:
1. Go to 'Card deck'
2. Click o

[2022-11-15 11:08] stefan-niedermann commented on #1385
Does this also hapoen eith the default keyboard?
Which size does your phone screen have?

[2022-11-22 08:42] gpopesc opened #1387 "Error on connecting account"
**Describe the bug**
I get an Error while trying to connect nextcloud account .
I have 2 android devices, I get the same error

Steps to reproduce the behavior:
1. Open app
2. Select an existing account
3. Click connect
4. See error

[code]
**Expected behavior**

**Screenshots**

**Versions**

 - Nextcloud: 24.0.6
 - Nextcloud Deck:  1.7.3
 - Nextcloud Android: 3.22.3
 - Nextcloud Android Deck: 1.

[2022-11-23 11:37] stefan-niedermann commented on #1385
*Might* be related to https://github.com/material-components/material-components-android/issues/1480 - we don't use the mentioned code snippet though:
[code]

[2022-11-23 11:39] stefan-niedermann commented on #1385
@youphyun @Toromtomtom can you verify that this behavior only started with `1.21.0` and it worked properly before that version?

[2022-11-26 13:26] Toromtomtom commented on #1385
@stefan-niedermann Yep, confirming. I downgraded to 1.20.3, and the input fields work as expected; upgraded to 1.21.1 and they are truncated again.

[2022-11-29 10:03] stefan-niedermann commented on #1387
Thank you for the report. This seems not to be an issue of the Deck Android app but maybe something more generic of the Nextcloud server itself. Please check out https://help.nextcloud.com/t/all-3rd-party-android-apps-stopped-working/150892 for staying up to date - unfortunately there is not much we can do on our side when the server replies an unexpected response.

Please also try opening the Dec