[2020-06-19 17:46] #540 closed

[2020-06-20 12:23] desperateCoder commented on #539
filtering by `A resource failed to call close` gives me a deterministic count of those logs. uploading a new attachment (i tried images) will result in one more log, but maybe you have to open that card so the attachment gets fetched.

[2020-06-20 14:25] desperateCoder commented on #518
see https://github.com/stefan-niedermann/nextcloud-deck/commit/b4aeaa9b0868419f06ebe7374f11d4aa3a3b0ba4

there was a new activity type missing.

[2020-06-20 14:30] jancborchardt commented on #525
@stefan-niedermann good stuff! :) Idea 2 is nicer as it only shows one "meta" color – that is, a color besides the colors for tags and due date etc.

[2020-06-20 15:30] #518 closed

[2020-06-20 15:43] stefan-niedermann commented on #525
How would you handle edge case colors in this scenario? Let's say `#ffffcc`? (or `#222200` on a black theme)

I would calculate whether or not the contrast ratio is sufficient, sure, but in this case nearly everything would be black on white - except the FAB maybe.

In Idea 1 we could simply draw 2px black padding around the circle in the toolbar.

(We didn't have this issue yet because in the cur

[2020-06-20 17:02] jancborchardt commented on #525
Don't new boards get an automatic color assigned from a palette which works both on light and dark?

If someone sets a very light/dark color, we can still use that color for the decorative elements of the highlighting (FAB, underline of the column tabs, etc) but the text should then be in the nearest properly contrasting grey. (Just like we handle it for the primary color fallback on the server.)

[2020-06-20 17:12] stefan-niedermann commented on #525
Yes, new boards have a good color as default. Just when selects manually an edge case color this would be an issue.

Makes sense, that one who sets the color should be aware of the problems and we display a more greyish UI in this case.

Fine for me. Time for implementing 👍

[2020-06-21 09:27] juliushaertl opened #543 "Add quick switch for multiple accounts"
When having multiple accounts configured it would be very helpful to have the small avatars accessible in the sidebar to switch between then without the need of another tap to get the account list.

This would basically align to how it is done in the files app:

![Screenshot_20200621-112410](https://user-images.githubusercontent.com/3404133/85221208-3ef4c280-b3b2-11ea-8756-7bab32bb15ce.png)

[2020-06-21 09:48] stefan-niedermann commented on #543
We already have adopted the new account picker from the files app:

![Screenshot_20200621-114557_Nextcloud_Deck](https://user-images.githubusercontent.com/4741199/85221553-d5c27e80-b3b4-11ea-808e-70c4c9273a88.png)

The amount of steps to switch the account has been decreased.

It's already available at Play Store (Beta channel) and soon F-Droid.

[2020-06-21 09:48] #543 closed

[2020-06-21 10:01] juliushaertl commented on #543
:see_no_evil: Sorry for the noise then, the update was pending and not yet downloaded by my phone yet. Looks nice and has the same effect requiring one tap less :+1:

[2020-06-21 13:13] stefan-niedermann commented on #516
@reox i have implemented a potential solution. Would you mind downloading and testing [this `apk` file](https://github.com/stefan-niedermann/nextcloud-deck/suites/822761595/artifacts/9098468)? (You can install it in parallel to your currently installed Deck app)

[2020-06-21 14:12] #524 closed

[2020-06-21 14:17] desperateCoder commented on #524
The issue was, that at card creation i didn't set the order properly, resulting in all cards having order 0. The reorder algorithm then saw that the new order is the same as the old one, so nothing to do here.

Now we set the order at creation properly. Additionally the reorder will recognize broken orders and fix them automatically for you if needed.

Please tell us, if you still encounter some i

[2020-06-21 14:18] desperateCoder commented on #524
Oh, one more thing: @stefan-niedermann told me we are going to ship this in the next version (1.5.1)

[2020-06-21 14:20] stefan-niedermann commented on #516
Fix will be in `1.5.1` - Please open a new issue if the problem still exists with this version.

[2020-06-21 14:20] #516 closed

[2020-06-21 14:25] drumdum commented on #528
@stefan-niedermann thank you for the new version. The debug messages now are very informative. I could find the board causing the error and was able to get it to work afterwards. First I removed the share and reshared it then. The Android app now synchronizes as aspected. Although I use the circles app this share was with one user only.

Thank you for your good work with this app as it really ease

[2020-06-21 14:25] #528 closed

[2020-06-21 14:25] desperateCoder commented on #435
uhm... i think i'm done here...

[2020-06-21 14:30] stefan-niedermann commented on #435
I know, we are waiting for https://github.com/nextcloud/Android-SingleSignOn/pull/204 to be merged and released and then need to merge https://github.com/stefan-niedermann/nextcloud-deck/pull/490 ...

[2020-06-21 14:31] stefan-niedermann commented on #528
You're welcome, credits to @desperateCoder :wink:

@drumdum Is it possible that you give us more information about the nature of the error? I mean: Was it a fault of the Android app or was there a defect dataset on your server instance?

[2020-06-21 14:34] desperateCoder commented on #528
@drumdum glad, it worked out for you!

To prevent such errors in the future, could you give us a hint, what exactly was wrong with this share?

The nextcloud ecosystem is so huge, so we never could test any constellation out there, so this kind of feedback is very valuable to us!

[2020-06-21 17:08] reox commented on #516
The link gives me a 404 :(

[2020-06-21 17:10] drumdum commented on #528
As it started after upgrading my Nextcloud instance, I think it was an issue within the server/database migration and not the Android app. Unfortunately I cannot give proof of that.

[2020-06-21 17:32] stefan-niedermann commented on #528
Thank you though for your time and help. Let us know if you encounter any further issues 🙂

[2020-06-22 06:43] stefan-niedermann opened #545 "Visualize synchronization progress"
# Idea

| Mockup | Description |
| --- | --- |
| ![grafik](https://user-images.githubusercontent.com/4741199/85256158-eed63880-b463-11ea-9d7e-3cf6dc81e9ec.png) | Would be very useful (at least for the initial sync of an account) to display some kind of progress. I thought about board level, like "Synchronizing board 2 of 7" with the name of the currently synchronized board below. |

# Advantages

[2020-06-22 08:35] stefan-niedermann commented on #415
@desperateCoder has this been fixed in the meantime? \*confused\* :confused:

[2020-06-22 08:56] desperateCoder commented on #415
I didn't see this error after the beta, so I guess yes.

[2020-06-22 09:16] #415 closed

[2020-06-22 09:41] llucax opened #547 "Synchronization Error"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

**D

[2020-06-22 09:44] llucax commented on #547
In case it helps, I see the failed attachments were still sort of shown in the app (in the cards view there was a clip symbol with a 4 but there were really only 2 attachments on that card). What I did was adding the attachments with the web interface after it failed in the App, so I think the sync error really comes from there.

Now I reset the App data, so all the information was downloaded agai

[2020-06-22 09:57] desperateCoder commented on #547
Hi @llucax, thanks for your report!
The reason it initially failed is, that the app failed to read your locally attached file. Maybe it was deleted in the meantime or the app has no more permissions to access it. (thumbnail might be still visible in app due to caching)

You did the very right thing to fix this issue quickly.

@stefan-niedermann should we handle `FileNotFoundException`s somehow to

[2020-06-22 12:21] llucax commented on #547
Hi @desperateCoder. I have very little idea of how these kind of situations should be handled. I think the root cause for this was the failure when attaching a file. I'll see if I can reproduce and send the trace. Once that type of *corruption* happened, is hard to decide which approach is best, but I guess it is always good to inform the users something unexpected happened and ask them to review

[2020-06-22 12:31] stefan-niedermann commented on #547
Hey there :wave:

Thanks for the report. Yes, we are cloning files to our own storage before we upload a file (starting with version `1.5.0` i think). In error case, we should delete this cloned file in each case, not only in case the attachment already exists on the server.

I think this `if` cause the corrupted state: https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/j

[2020-06-22 12:57] #547 closed

[2020-06-22 12:58] stefan-niedermann commented on #547
We will clean up attachments which failed to upload. Starting with version `1.5.3` this should no longer cause a corrupt state.

[2020-06-23 07:21] llucax opened #550 "Can't upload file"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

**D

[2020-06-23 07:24] llucax commented on #547
I found an easy workaround for this, just go back to the card, attachments, long tap on the failed (0 sized) attachment, click delete. Now sync works again.

[2020-06-23 07:35] stefan-niedermann commented on #550
Did you share *from* Nextcloud *to* Deck or did you open the Deck app, open a card and then select an attachment via the upload button?

[2020-06-23 09:40] llucax commented on #550
I clicked on the upload button in the deck app

On 23 June 2020 09:36:07 GMT+02:00, Niedermann IT-Dienstleistungen <notifications@github.com> wrote:

--
Leandro Lucarella (luca)
Sent from my phone. Please excuse my brevity and any typos.

[2020-06-23 11:26] stefan-niedermann commented on #550
And this happens everytime you try to attach a file to a card? Or does always the same error appear (of the *same file*)?

Can you upload othet attachments without problems?

[2020-06-23 14:00] llucax commented on #550
It is super weird. Now it is working, I tried with different file types (jpg, mp4 and pdf) at first in a new card and in a new deck and it worked, but then in the same card that gave me the error I posted here, with the same file, and now it worked.

[2020-06-23 14:06] stefan-niedermann commented on #550
Okay, i am pretty sure that the root cause is the same as in #547.

Let's wait for `1.5.3` as i said and open a new issue if the bug still occurs with this version 😉

[2020-06-23 14:06] llucax commented on #550
OK, now I could reproduce it, I wasn't using the exact same file. The problem seems to happen when trying to attach files that live in an external SD card.

[2020-06-23 14:07] llucax commented on #550
Any file I try to attach that lives in the external SD cards causes a crash.

[2020-06-23 14:22] llucax commented on #550
Are you still sure that this is the same root cause as #547 or maybe this shall be kept opened for now?

[2020-06-23 14:25] stefan-niedermann commented on #550
Indeed, i will have further look.

[2020-06-23 14:37] stefan-niedermann commented on #550
Tested and can confirm that i get the exact same message

`java.lang.IllegalStateException: failed to build request-body`

with version `1.5.0`, but it works flawlessly with `1.5.3`.

Don't know whether or not the root cause is the same, but it is fixed in `1.5.3` :smile:

[2020-06-23 14:37] #550 closed

[2020-06-23 22:59] juzim opened #552 "Can't sync because tag color can't be persisted"
Hi!

When I'm trying to sync the app with my server I get the following error:

[code]

I had created the tag "fritzbox" in the app ~and haven't found a way to edit/delete tags in the app.~ I figured out how to edit tag colors which resolved the issue.

[2020-06-23 23:03] #552 closed

[2020-06-24 09:50] stefan-niedermann opened #554 "Enqueue synchronization requests"
While using the application, there are often synchronizations performed.

- One at startup
- One after pulling down 2 refresh (reflex)
- One after creating a new card
- Background synchronization starts
- Leaving the app, go to gallery and share a file to the Deck app will again synchronize everything

This has several drawbacks, like bad device performance (it's very much activity), huge network

[2020-06-24 10:42] desperateCoder commented on #554
I don't think we need a queue here, i guess it's fine to just prevent multiple syncs at the same time. if a sync is ongoing, what should the enqueued one sync? The things changed in the last 20 seconds? I don't think that would give us much of a benefit.

Annotation: creating a new card won't trigger a sync by its meaning, it syncs only the created card and its decendents, if given. Sure, this cou

[2020-06-24 11:08] stefan-niedermann commented on #554
I know, just wanted to create a dramatic list with many many entries here :wink:

A "queue" is too much. It's more like a "queue with maximum 2 items" - the current sync, and the next sync if items have changes while the current sync is still doing it's job.

Like i said: At least have a rough look at the link Notes application, it isn't a real "queue" there neither, it's like i described: Current

[2020-06-26 06:45] stefan-niedermann opened #556 "Store colors as integer in database"
Current process:
----
- Validate colors retrieved from the REST API and manipulate it until something like `#abcdef` falls out
- Store it in database as String value
- After reading it, parse it again (multiple times since the account object itself does hold the string) and apply it to some elements

Problems:
----
- Each time one reads a color from the database, it needs to get parsed again
- Inc

[2020-06-26 13:20] stefan-niedermann opened #557 ""Archive cards" of list crashes the app when there is no list"
No shit, Sherlock.

Menu entry should only visible when there is at least one list in the board.

[2020-06-26 22:55] treuss opened #558 "Authenticate"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

**D

[2020-06-26 22:55] #558 closed

[2020-06-26 23:32] desperateCoder commented on #558
Uhm... Did this happen accidentally or was ist meant as a real issue? 😕 😀

[2020-06-27 08:56] #557 closed

[2020-06-27 09:09] treuss commented on #558
Actually I wanted to open an issue, but thanks to my clumsy finger I hit the submit button on my mobile. 😒🤭

[2020-06-27 09:17] desperateCoder commented on #558
😆 ok, then just try again 🤷‍♂️

[2020-06-27 12:13] stefan-niedermann opened #560 "Discussion: Use @WorkerThread instead of ...Directly convention"
Currently we have a convention that in `SyncManager` and the `...Adapter`s we name a method `...Directly()` if it must not be called from UI thread.

I propose to instead use the `@WorkerThread` annotation instead.

Javadoc of the annoation:

[code]

This will allow advanced benefits for the linter and better IDE support (at least in some situations) when calling this kind of method:

![grafik](ht

[2020-06-27 13:02] stefan-niedermann commented on #489
@niccokunzmann Are you able to reproduce this issue in the latest version?

[2020-06-27 13:03] stefan-niedermann commented on #482
Closing as not reproducible. Please reopen if you can reproduce this issue with the latest version and provide the requested information.

Thank you for the report though.

[2020-06-27 13:03] #482 closed

[2020-06-27 13:07] stefan-niedermann commented on #475
Should be fixed after solving https://github.com/stefan-niedermann/nextcloud-deck/issues/554

Please watch this issue to get noticed in which version this will be implemented. If it still happens after a new version containing the fix of #554 appeared, please open a new issue.

Unfortunately the issue itself is pretty hard to track down and we are not able to fix it based on the given information,

[2020-06-27 13:13] stefan-niedermann commented on #473
Sorry @simonspa i am not able to reproduce this issue on my physical device nor on an emulator.

Are you able to try this on another device (like friends or families)? If you need a free voucher for Play Store you can contact me at info@niedermann.it or use F-Droid.

[2020-06-27 13:37] desperateCoder commented on #510
@stefan-niedermann i tested this, seems to work smoothly. Please test on your test-devices, too, then tell us, when this is going to make our users happy :grin:

[2020-06-27 14:20] #510 closed

[2020-06-27 14:21] stefan-niedermann commented on #510
Will be published in version `1.6.0`

[2020-06-27 14:22] stefan-niedermann commented on #510
@jakobroehrl since you are quiet active at the Deck server app: This implementation will cause pretty much network traffic and requires much performance.

I would really appreciate if you could prioritize the corresponding server issue for a better implementation high: https://github.com/nextcloud/deck/issues/2080

cc @juliushaertl

[2020-06-27 14:50] stefan-niedermann commented on #510
Update: Sorry for the noise. See https://github.com/nextcloud/deck/issues/2080#issuecomment-650570516 (i think we won't need the new proposed API for a better implementation)

[2020-06-27 15:05] stefan-niedermann opened #561 "Do not sync all users of instance but use sharees OCS API"
Follow-Up to https://github.com/stefan-niedermann/nextcloud-deck/issues/510

- Do not fetch all users of the instance anymore as this has performance and traffic drawbacks
- Adjust `searchUserByUidOrDisplayNameForACL`:
  1. It already returns `LiveData`
  2. Return immediately a result with available users
  3. Parallel start network request to `/ocs/v1.php/apps/files_sharing/api/v1/sharees?search

[2020-06-27 15:17] #475 closed

[2020-06-27 15:17] stefan-niedermann commented on #475
Made me smile btw :slightly_smiling_face:

[2020-06-27 19:49] desperateCoder commented on #560
I don't even care tbh. If you find this helpful, we can do this, no problem at all. Personally i don't really need this, but i understand that it would be helpful for you in some cases

[2020-06-27 19:50] stefan-niedermann commented on #560
Okay, then i will do it. 🙂

[2020-06-27 19:52] desperateCoder commented on #556
Any solution for conversion? Migration-fails incoming! I promise! We would need to add a new column, read all values in the old one, convert them (this is the error prone part), write them in the new one and delete the old column.

Since there might be quite weird values out there, I am concerned, this might fail too often, but we can try, since your arguments are pretty valid.

[2020-06-27 20:02] stefan-niedermann commented on #556
All the cases which would fail to migrate are actually failing quite hard today - each time one reads a column :wink:

Therefore when we migrate, we should put a pretty big `try { ] catch (Throwable t) {}` around it and set a default value.

[2020-06-27 21:01] desperateCoder commented on #498
I think I'm done here, but I couln't test it yet (no UI). If it dies, just tell, gonna be fixed.

[2020-06-27 21:38] desperateCoder commented on #455
SyncManager knows what to do now, but couldn't test it yet (no UI). If this fails, tell me!

[2020-06-27 21:51] stefan-niedermann commented on #455
Just out of curiosity: why no `WrappedLivedata`? How can i catch errors?

[2020-06-27 22:22] desperateCoder commented on #455
I don't make any errors. Thats why. Just kidding, the method signature said simply `LiveData`, I changed that.

[2020-06-28 07:56] niccokunzmann commented on #489
My phone broke, so at the moment, I can not. I may probably do it once I transferred all to another phone.

[2020-06-28 13:23] treuss opened #564 "IllegalStateException: Not a JSON Object: "xxxxxx""
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

**D

[2020-06-28 13:41] stefan-niedermann commented on #564
Hey @treuss ,

- Have you tried to clear the storage of **both** apps [as described here](https://github.com/stefan-niedermann/nextcloud-deck/wiki/FAQ)?
- Are you using Nextcloud News also with the Single Sign On mechanism?
- Can you please create a test account and send the credentials to info@niedermann.it so we can have a look what's going on?
  - You can also try to login to this test account

[2020-06-28 14:10] treuss commented on #564
* Yes, I even erased both apps multiple times
* Using it per SSO-Mechanism. Just verified it once again. Works like a charm.
* Will send a test-account in a few minutes.

[2020-06-28 14:29] stefan-niedermann commented on #564
Test-Account works like a charm:

![grafik](https://user-images.githubusercontent.com/4741199/85950323-5d336300-b95c-11ea-8a6b-b475ab5fb07f.png)

Are you able to connect to this test account, too? I will send you the password i just set for the account via E-Mail.

[2020-06-28 14:34] stefan-niedermann commented on #564
Are you able to connect to your account from another device (family or friends)? (If you need free Play Store vouchers for testing purposes, let me know via info@niedermann.it)

[2020-06-28 14:37] treuss commented on #564
Ok, I could log in using the test-account. This is weird. My personal account works perfectly well.
Is there any chance to get some logs for this behavior?

[2020-06-28 14:48] treuss commented on #564
Don't know if this helps. I get the following stacktrace when klicking on the hamburger menu:

[code]

[2020-06-28 14:49] treuss commented on #564
Thanks for the offer, but I gladly already purchased.

[2020-06-28 15:08] stefan-niedermann commented on #564
Unfortunately not, this is a follow up of a defect account import and does not provide any useful information.

At least we know now, that this is an account specific issue.

You could try to fetch some logs using any [logcat reader](https://play.google.com/store/apps/details?id=com.dp.logcatapp) of your choice (though i think root access is required for this). If you are familiar with Android Stu

[2020-06-28 15:40] treuss commented on #564
I guessed so ;)

Android Studio shouldn't be an issue. It'd take some time though.

I started the whole thing using a Raspberry Pi 3B, which actually was pretty slow. It did it's job though, and since my main objectives were privacy (getting out of Google and other cloud services), a low energy footprint and having a fun server project, it was ok.
Next step was the 4GB version of the Raspberry Pi

[2020-06-28 15:48] treuss commented on #564
I could reproduce the error on my (sluggish) Kindle after deleting my account an doing a re-login.
`treuss` is my username:

[code]

[2020-06-28 15:56] stefan-niedermann commented on #564
Could you please try this version: https://niedermann.it/deck156.apk ? It *might* actually contain a fix for that, at least it's worth a try.

It will replace the app you got from Google Play. Of course: Clear storage of both apps again, before trying it!

You're welcome, we try to fix the issue :slightly_smiling_face:

[2020-06-28 15:59] stefan-niedermann commented on #498
Okay, i think i have a proof of concept in PR #563
Though there are some issues left (see linked PR), help would be appreciated.

[2020-06-28 16:06] desperateCoder commented on #564
God, please, NO! Not _this_ again! :sob:

We had quite some issues with this already, the cause is, that the server in some (unknown) constellation decides to send the owner of a board as a simple string instead of an object. The weird thing here is this: https://github.com/stefan-niedermann/nextcloud-deck/blob/a51df7357ec8cd561922acac1a75adb5ef95d3c8/app/src/main/java/it/niedermann/nextcloud/deck

[2020-06-28 16:07] stefan-niedermann commented on #564
@desperateCoder noticed that he still used `1.4.4` because the current version at Play Store is not yet rolled out completely? Let's wait if it works with the apk i shared above...

[2020-06-28 16:13] desperateCoder commented on #564
@stefan-niedermann but... i didn't change anything since then here... I mean... the line mentioned above is there for like forever, (including the TODO). I planned to remove this, as soon as the server _always_ returns the correct data, but unfortunately we see this every here and then... I think I'm about to cry.

But sure, it's definitely worth a try. Plan B: Build a debug-version which dies ins

[2020-06-28 16:14] treuss commented on #564
@desperateCoder I'm sorry, surely didn't want to ruin your Sunday! :-/
I did wipe my caches and rebooted the whole server, hoping it might be some nasty cache anomaly....

It's perfectly ok for me to wait for a new version. Willing to help you guys.

[2020-06-28 16:15] stefan-niedermann commented on #560
Added thread annotations.

Will keep the naming convention because linter does not show proper wanings in some situations.

[2020-06-28 16:15] #560 closed

[2020-06-28 16:22] desperateCoder commented on #564
@treuss god, none of this is your fault buddy! I just hate the fact, that anything i do to prevent this one fails at some point with the weirdest symptoms. Please ruin all my days if you have any issues, this app is kind of Stefans an my baby and we hate it, if it gets sick :laughing:

So thanks for your effort and cooperation with this! This doesn't only help you and other users, but it helps us

[2020-06-28 16:52] desperateCoder commented on #492
Ok, so I dug into the topic of users/groups and thought a bit more on this specific issue. You said, the _users_ (_not_ the groups) are assigned to the cards. This means, the app _does_ know about the users. The problem might be, that the `AccessControlList`s are written for the group, letting the App think, the users wouldn't have permissions on this card anyways, thus it hides those.

Could you

[2020-06-28 23:58] kbeerepoot commented on #492
Artur,

Indeed, the app does know about the users. This is proven by the fact that it shows the avatar of the user on the card in the app if that card is assigned to that specific user.

If I try to assign that card to an extra user though, the choice list that shows up will only show the owner of the board and the assigned group(s) name(s). But extra names to assign that card to can be searched f

[2020-06-29 06:07] desperateCoder commented on #492
Yep, this helps a lot! Everything you say sounds like we got the bad guy here. Thanks so far! I'll see what I can do about it now.

[2020-06-29 08:40] reox commented on #516
Tested it now and it works like a charm! thank you very much!

[2020-06-29 08:45] stefan-niedermann commented on #516
Really happy to hear that :slightly_smiling_face:

[2020-06-29 11:30] loicvh commented on #564
If I may "jump" into this issue, I got exactly the same issue as @treuss and I managed to find a workaround.

It seems that only some boards were causing issues, deleting them (not archiving), fixes the issue for me. I don't know if this can help, but maybe this could be some backward compatibility issue?

Also, to quickly detect which boards cause problems, I first added an account without any bo

[2020-06-29 12:39] treuss commented on #564
Thanks for the heads up @loicvh . Actually I was thinking of deleting all my boards, since [I seem to have run into another bug (not related to the Android App)](https://github.com/nextcloud/deck/issues/2083).

[2020-06-30 05:13] tobiasKaminsky opened #568 "No push notification on unassigning from a card"
- assign an user to a card -> get push notification to Android
- unassign the same user -> nothing

I think that this is as important as assigning.

[2020-06-30 05:14] tobiasKaminsky commented on #568
opsie. wrong repo.

[2020-06-30 05:14] #568 closed

[2020-06-30 05:15] stefan-niedermann commented on #568
haha, nice try 😄

[2020-06-30 05:16] tobiasKaminsky opened #569 "Sync card on Push Notification"
- have Deck Android app and Nextcloud App installed
- refresh Deck app
- go to web UI and create a new card, assign it to above user
- get a push notification for Deck
- see that Deck app does not know about the card yet and shows "open in browser", but not open in app

[2020-06-30 05:18] stefan-niedermann commented on #569
Nah, it's not a bug. We don't do a sync yet and can currently only open cards which are already present on the device.

The sync takes currently too long to do it this way...

[2020-06-30 05:26] tobiasKaminsky commented on #569
Hm, but in the notification you have the card ID, or?
So you could specifically only sync/check this?

[2020-06-30 05:42] stefan-niedermann commented on #569
Yeah, that's right...

[2020-06-30 10:15] stefan-niedermann opened #570 "Background sync does run even if it is turned off in the settings"

[2020-06-30 10:32] desperateCoder commented on #570
No way! 🤣

[2020-06-30 10:55] #570 closed

[2020-06-30 18:10] stefan-niedermann commented on #525
Phew :sweat: Done.

@jancborchardt @splitt3r and everyone else who is reading this: We are looking for testers of the new design:

- [You can download the APK here](https://github.com/stefan-niedermann/nextcloud-deck/suites/859960343/artifacts/9892896)
- The linked APK file can **safely** be installed **parallel** to the production version
- There are at least 8 different combination of Dark/Light

[2020-06-30 18:10] #525 closed

[2020-06-30 21:26] splitt3r commented on #525
Awesome ❤️ i will give it a try

[2020-07-01 11:28] michaelsam94 opened #572 "I started the application but there is a crash happened"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

**D

[2020-07-01 11:30] desperateCoder commented on #572
Hi @michaelsam94, thanks for your report!

Can you confirm, that the Deck app is installed on your nexcloud instance? Seems like it is not installed on the server side...

[2020-07-01 11:34] michaelsam94 commented on #572
I don't installed anything on serverside just choose server and create new account on nextcloud application is there a server you work with it on this development can I change the server from nextcloud app after creating account and has chosen the server already

[2020-07-01 11:44] stefan-niedermann commented on #572
Hi @michaelsam94

as in the [README](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/README.md#-requirements) mentioned, you need to install [Nextcloud Deck](https://apps.nextcloud.com/apps/deck) on your server first.
Please try to use a few punctuation marks, so we can better understand your issues :slightly_smiling_face:

Thank you in advance

[2020-07-01 12:10] stefan-niedermann commented on #572
Feel free to open a new issue filling the complete issue template in case the error still happens after installing the required server side app.

[2020-07-01 12:10] #572 closed

[2020-07-01 12:30] michaelsam94 commented on #569
does push notification work from deck app on server this enhancement of push notification need work on deck app itself I think not in deck client app. I need to work on this issue but need more clarification and to begin implementing this feature

[2020-07-01 12:40] stefan-niedermann commented on #569
Here are an [architectural overview about how Push notifications](https://github.com/stefan-niedermann/nextcloud-deck/issues/208#issuecomment-609008692) and [the concrete Pull Request which implemented this mechanism](https://github.com/stefan-niedermann/nextcloud-deck/pull/364) in the Deck Android app.

And *please* @michaelsam94 use some punctuation marks. It is *really* hard to understand you o

[2020-07-01 12:41] stefan-niedermann commented on #569
@tobiasKaminsky just for error research: Do you have "Sync only on Wi-Fi" enabled or disabled? Did you have Wi-Fi connection at this specific point where the issue appeared?

[2020-07-01 13:07] michaelsam94 commented on #569
@stefan-niedermann sorry for my poor English. I will try to enhance it. I need to ask does any action on deck board like adding new list or adding new card or editing card or putting label on card. does all these actions fire a push notification. I need to ask also about notification background service does it in next cloud app or in the deck app. there should be background service to receive push

[2020-07-01 13:30] stefan-niedermann commented on #569
No, the push notifications are only send in cases a user gets mentioned in a comment, assigned to a label or similar actions.

Yes, the Google Play Store flavor of the [Nextcloud Files app](https://github.com/nextcloud/android/) uses firebase, and **no, there will never be any proprietary dependencies in the Deck Android app.** That's why the File app is relaying the push notifications to the Deck

[2020-07-01 14:01] michaelsam94 commented on #569
this issue is talking about push notification If I understand it right. the use case is that when I assign card to user the user should get notification through nextcloud application. you need to make deck app has the same push notification functionality depending on nextcloud application you could make broadcast receiver in the deck app to listen to push notification that fired in next cloud app

[2020-07-01 14:02] tobiasKaminsky commented on #569
It was on emulator, but I cannot recall if wifi was enabled.
I assume that the new card info was just not fetched yet. Do you sync in background or why is it important to ask about wifi?

[2020-07-01 14:40] stefan-niedermann commented on #569
We already support Push notifications. I [have told you where the existing implementation is](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/java/it/niedermann/nextcloud/deck/ui/PushNotificationActivity.java#L78).

We already support Push notifications. I [showed you how it works](https://github.com/stefan-niedermann/nextcloud-deck/issues/208#issuecomment-609008692) a

[2020-07-01 14:42] stefan-niedermann commented on #569
We sync only this card, but the method we are calling only executes if one has connection (:heavy_check_mark:) **and** in case one has enabled "Sync only on Wi-Fi" it also checks if the current network is Wi-Fi or mobile data. We should skip the latter in case we received a push notification, but that's another issue.

[2020-07-01 15:09] stefan-niedermann opened #573 "Display list of projects linked to cards"
# Scope

- Readonly
- Only cards
- Fetch existing linked projects
- Display list of the projects with an generic icon and the `name` as label
- Pressing one item should open a dialog with a list of the resources `name`s connected to this project
- clicking an item in the resources list dialog, the `link` should be opened in web browser

Implementation started at branch `573-projects`

# API

Unfor

[2020-07-01 15:36] simonspa opened #574 "Null object reference in IRemoteEntity.setAccountId"
Hi,

I have (another) sporadically appearing stack trace for Deck on Android 10 Q, Google Pixel 4, which seems to appear after returning to the app left open in the background. I can, however, not reproduce it reliably - sorry for that...

Let me know if there is anything else I can provide to help you track this down.

**Stacktrace**

[code]

[2020-07-01 15:38] simonspa commented on #473
Hi @stefan-niedermann - incidentally I bought a new device just last week and I can report that it works just as intended on Android 10 / Google Pixel 4. I guess we can close this ticket...

[2020-07-01 15:38] #473 closed

[2020-07-01 15:40] stefan-niedermann commented on #473
Thank you for the feedback. I guess it was specific to this exact LineageOS build - keyboard handling on Android is a bitch. Glad to hear it works for you now :slightly_smiling_face:

[2020-07-01 15:41] stefan-niedermann commented on #574
Do you know which activity you had open before leaving the app? A board or a card in edit mode?

[2020-07-01 16:11] simonspa commented on #574
I remember relatively well that I had a board open but was not editing anything.

[2020-07-01 17:16] splitt3r opened #575 "[New Design from Files App] Feedback"
First i have to say that the new design looks damn amazing in all of the Nextcloud Android Apps ❤️. Thanks for the great work.

Two very small nitpicks:

| 1 | 2 |
| --- | --- |
| The account status icon is 🔵 in the Notes app but 🟢 in the Deck app. Is there a reason for it? ![image](https://user-images.githubusercontent.com/1869584/86272436-dd60ff00-bbce-11ea-8846-dd3fe2b66d77.png) | The second sm

[2020-07-01 17:33] stefan-niedermann commented on #575
Thank you for the feedback :heart:

Yes. **Notes** is a bit further in matters of branding and uses the instance **color of the account** (by default "Nextcloud"-blue) to color the check icon.
Since we are using the **color of the board** as branding color in the **Deck** app (because it provides a better context), this will be eventually the color of the checked-circle-icon. It is a bit tricky to

[2020-07-01 19:16] #575 closed

[2020-07-01 19:24] stefan-niedermann commented on #575
Updated APK: https://github.com/stefan-niedermann/nextcloud-deck/suites/865220878/artifacts/10003874

[2020-07-01 19:43] AndyScherzinger commented on #575
@stefan-niedermann fyi https://github.com/nextcloud/server/issues/21586#issuecomment-650045835 - we'll improve dark/light color calculations on the server-side and will add this to the files app as soon as it becomes available (with fallbacks of course) with Nc server 19.0.1

[2020-07-01 20:14] stefan-niedermann commented on #575
Thanks for the hint.

Deck app only uses the color of the boars, notes app uses only the main color of the account.

We do not use the `text color` anywhere, but calculate it ourself depending on where we need light / dark colors.

Where do you think this could be relevant?

[2020-07-01 21:56] AndyScherzinger commented on #575
Well, since you seem to not use the primary color, probably not. Maybe for the notes app then 🤔

[2020-07-02 17:31] xplosionmind opened #576 "Can't save note from Android app"
After clicking on the "V" to save a note in a list, I get this error message. It includes also data about my device and the version of the app.

[code]

[2020-07-02 17:49] stefan-niedermann commented on #576
Have you already tried the steps i linked in your other issue?

[2020-07-02 19:37] xplosionmind commented on #576
@stefan-niedermann I did

[2020-07-02 19:59] stefan-niedermann commented on #576
Then please fill out the complete issue template. It is important to know the exact steps you are doing (opening an existing card? creating a new card? what did you change before submitting?...) and also the versions of the Deck server app is important. We need more information to help you.

Please try in the meantime to edit / create cards at another board and report whether this works. If not: C

[2020-07-04 10:39] stefan-niedermann opened #577 "Apply board branding to active filter indicator"

[2020-07-04 18:32] #577 closed

[2020-07-05 08:16] Sandman0984 opened #578 "View Archived Cards"
Please consider adding a feature to show archived cards.  I can do it using the Nextcloud website, but not using the Android app.  Thank you!

[2020-07-05 08:19] #578 closed

[2020-07-05 08:19] Sandman0984 commented on #578
Duplicate issue, sorry!

[2020-07-05 08:50] stefan-niedermann commented on #578
No problem :slightly_smiling_face:

We plan to implement this feature but it is currently blocked because of performance concerns. Please be patient, it will definitely come at some point, as soon as we found a proper way to handle this :)

[2020-07-06 08:20] splashote opened #579 "Compact view"
Hey,

it would be great to have a compact view, where each card is shown in one line.

Imho it would facilitate working with the app.

Thanks + regards!

[2020-07-06 08:24] splashote opened #580 "Übersetzung =/= Übersetzer"
Moin,

ich fände es dem inklusiven Anliegen von nextcloud angemessen, wenn unter 'Credits' _Übersetzung_ anstelle von _Übersetzer_ stehen würde.

Besten Dank und viele Grüße!

Fabian

[2020-07-06 08:53] stefan-niedermann commented on #580
Moin,

[ich bin der Meinung](https://help.nextcloud.com/t/geschlechtsneutrale-sprache-genderneutral/82200/12?u=stefan-niedermann), dass Inklusion für alle offen stehen sollte - auch Personen aus eher bildungsfernen Schichten oder Personen mit Krankheiten wie Lese- und Rechtschreibstörungen, für die diese Art der Formulierungen sehr schwer zu erfassen und zu lesen sind. Zu oft schon, habe ich im ei

[2020-07-06 08:53] #580 closed

[2020-07-06 08:55] stefan-niedermann commented on #579
Yeah, i'm not 100% sure about this one. I'v heard some rumors that corresponding feature of the Web UI might get removed in the long term. Maybe the server app maintainer @juliushaertl can tell us more about his future plans for the compact mode, so we can plan this feature here appropriately?

[2020-07-06 09:12] stefan-niedermann commented on #580
PS.: Ich habe gerade gesehen, dass du `Übersetzung` anstelle von `Übersetzende` vorgeschlagen hast.

Der Begriff `Übersetzung` wäre zumindest semantisch einigermaßen korrekt¹, da ich aber persönlich der Begriff `Übersetzer` nach wie vor für den korrekten Terminus halte, werde ich hier nicht aktiv werden und überlasse es, wie im letzten Kommentar bereits gesagt, den Übersetzern, dies zu übernehmen

[2020-07-06 12:11] #561 closed

[2020-07-07 19:29] stefan-niedermann commented on #489
So i would suggest to simply open a new issue if you were able to reproduce the problem so we can have a deeper look - i haven't been able to force this error yet 🙂

[2020-07-07 19:29] #489 closed

[2020-07-07 20:02] niccokunzmann commented on #489
Yes, this is fine. I wonder: The smartphone I had was very slow. Maybe
this made it easier for race-conditions to appear. (no need to answer this)

Am 07.07.20 um 21:29 schrieb Niedermann IT-Dienstleistungen:

[2020-07-07 20:27] stefan-niedermann commented on #489
Yeah, i guess so. I try to test new app versions with low-end emulated devices though (128 MB RAM, single core, Android 4.2,...)

[2020-07-08 06:07] juliushaertl commented on #579
Honestly I don't have a really strong opinion on the compact view, i can see its use case to get a quicker overview but also with the new filter possibilities we have in the web app you could also just limit the display to relevant cards so I'm not sure if it is still that important. Not sure what to do there, I'm sure that we get quite some complains when we just drop it.

[2020-07-08 12:21] stefan-niedermann commented on #579
Will be shipped in version `1.7.0`.

[2020-07-08 12:21] #579 closed

[2020-07-09 08:57] petrisch opened #585 "Error message and blank board on Android app"
I have a issue with one of my two instances, where the Android App doesn't sync anymore and shows this output.

[code]
[code]
[code]
[code]
[code]
[code]
[code]

I have that since like 3 Versions back. I since deleted the account and even removed the Nextcloud App, with the same result.
My second instance has "the same" setup, but is on a arm64 machine. Sure not everything will be the same. But th

[2020-07-09 09:13] stefan-niedermann commented on #585
You are using the [circles](https://apps.nextcloud.com/apps/circles app, aren't you?

Is it possible that this is the difference? In one account you shared the board "IT stuff" with a circle. Can you try to remove it via web interface to see whether this prevents the crash?

[2020-07-09 09:23] petrisch commented on #585
Oh, thanks for that, I will try.
I am using Circles on both, but yes, on that instance i fiddeled around with that one.

[2020-07-09 09:26] stefan-niedermann commented on #585
But have you shared boards with a complete circle on both instances or only on the defect one?

It might be enough to remove the share of the "IT stuff" with the circle. You should start with testing this.

When we tracked down the root cause we can start implementing the missing parts for supporting for the circle app.

[2020-07-09 09:31] petrisch commented on #585
Yes that did it, works again.
The circle i shared this board with looked empty on the web interface sharing page where i deleted it now.
It came to my mind that i might have been trying out a federated circle from one machine to the other, and then trying to share it with that one. That didn't work and i might have deleted the federated circle leaving the share behind... or something similar

[2020-07-09 09:44] stefan-niedermann commented on #585
Glad to hear everything is working for you now 🙂

I have two more questions:

- Do you have another board which is shared with a circle and does this work well in combination with the Android app?
- Did the app completly crash or was there just a popup dialog which showed the error?

[2020-07-09 09:52] #585 closed

[2020-07-09 10:08] petrisch commented on #585
- Yes i have another Circle which has no federation tests in it, that works well. Also when i look at the share it has the circle name in it, which wasn't the case with the above.
- No the app didn't crash, it showed the error message at the bottom and I was able to copy it. As it should be :-)
thanks a lot.

[2020-07-09 10:57] stefan-niedermann opened #586 "Merge TraceableException into DeckException"
# Goal

I would like to display the user an error message which enables him/herself to solve parsing issues

1. to reduce the support work ("help for self help") and
2. to keep users which might not have a GitHub account and / or do not want to open an issue but instead like raging around.

It would be great to give the users hints like:

- "Could not synchronize board `Personal stuff`. Please try

[2020-07-09 11:06] desperateCoder commented on #586
I agree except on the drawbacks, I don't see any to be honest.

[2020-07-09 11:26] stefan-niedermann commented on #576
[Why this bug report has been closed](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed)

[2020-07-09 11:26] #576 closed

[2020-07-10 07:41] stefan-niedermann opened #587 "Compress images before uploading as attachment"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

Whe

[2020-07-10 13:28] Thieum4 opened #588 "Add the option to "Collapse Cards" in the mobile version just like in the server app"
Hi, I am not sure if you are planning to add this feature on the mobile version, but I really would appreciate it.
Thanks for all the work.

[2020-07-10 13:35] stefan-niedermann commented on #588
It is not only planned, it is already done and will be shipped in version `1.7.0`. You can already get this version at the [Play Store beta channel](https://play.google.com/apps/testing/it.niedermann.nextcloud.deck.play) and soon on F-Droid. 🙂

Please use the search function in the future to avoid opening duplicate issues https://github.com/stefan-niedermann/nextcloud-deck/issues/579

Cheers 👋

[2020-07-10 13:35] #588 closed

[2020-07-11 09:39] stefan-niedermann opened #590 "Add filter "unassigned cards""
For feature parity with server: [issue](https://github.com/nextcloud/deck/issues/1807) and [PR](https://github.com/nextcloud/deck/pull/1926).

- [x] Add a property `boolean noAssignedUser` to `FilterInformation` model
  - [x] Update copy constructor and `toString`
- [x] Respect this property in `SyncManager#getFullCardsForStack`
  If `noAssignedUser` is `true`, the method should return cards which

[2020-07-11 15:06] Thieum4 commented on #588
Okay, I've downloaded the beta version, great addition :) ! Do you think it might be possible to add a "toggle compact view" entry in the board menu (i.e these 3 vertical dots right side of the lists) to quickly change view ?
Regards

On Jul 10 2020, at 3:35 pm, Niedermann IT-Dienstleistungen <notifications@github.com> wrote:

[2020-07-11 15:16] stefan-niedermann commented on #588
Technically possible: Yes.

But sorry, this is nothing i plan to implement for various reasons like the limited space, the completely different context (the state of this setting is preserved across the different boards = application wide, while the context of the location you proposed is reserved for "within one board settings"), and so on.

I thought about it for some time but came to the conclu

[2020-07-11 15:17] stefan-niedermann commented on #588
Also this 3-dot-menu is meant for actions but not for settings. In my opinion this will lead to more confusion than the current position.

[2020-07-11 17:22] desperateCoder commented on #564
@loicvh Yep, this is kind-of known. The problem is, that some owners or sharees should be user-objects, but in some constellation they come as a simple string. Why? Don't know...

I don't want to tell the users "let's delete some boards!" as a solution, that wouldn't match my understanding of "help", depending on the importance of the data. But nice research though, especially how to determine, wh

[2020-07-11 18:42] Thieum4 commented on #588
Ok i see now, thanks for the insights.

[2020-07-12 18:18] desperateCoder commented on #574
I don't see any UI-fails here, this seems to be a very strange background-sync behavior or something. I included a check here, just skipping things that are `null`, which doesn't make sense at all. This particular one shouldn't occur again after the commit above. If something else fails, please tell us, since I wasn't able to reproduce it in any way.

@stefan-niedermann please have a look at the c

[2020-07-12 18:50] stefan-niedermann commented on #574
I suspect concurrent syncs (#554). The fix should do it, though. Please add a comment with a link to this issue and a `Decklog.error()` entry though.

@simonspa Please reopen if this happens again with version `1.8.0` or later. As always: Thanks for the report.

[2020-07-12 18:50] #574 closed

[2020-07-12 19:04] desperateCoder commented on #574
@stefan-niedermann done.

[2020-07-13 09:09] splashote commented on #580
Moin,

erst einmal freut es mich, dass du dich der Inklusion verschrieben siehst und dir die Mühe einer langen Antwort machst.

Es mag derweil sein, dass alle Menschen mit 'Übersetzer' gemeint sind, dass Sprache aber nicht mit 'meinen' funktioniert sondern vielschichtiger wirkt ist wissenschaftlich belegt:
https://www.researchgate.net/publication/247397952_Effekte_des_generischen_Maskulinums_und_a

[2020-07-13 11:56] stefan-niedermann opened #592 "Make card movement more robust"
Steps to reproduce **i think**:

1. Delete card via web UI
2. Move this card using the android app while sync has not yet been completed
3. Watch the world burn

Is it possible that *while* one tries to move a card (e. g. while picking the target stack) the card has been deleted?
If the card is no longer present, throw new `IllegalStateException` with a meaningful message like "Could not move card

[2020-07-13 11:57] stefan-niedermann commented on #453
Will be shipped in `1.7.0`.

[2020-07-13 11:57] #453 closed

[2020-07-13 12:47] stefan-niedermann commented on #455
Will be shipped in `1.8.0`.

[2020-07-13 12:48] #455 closed

[2020-07-13 14:51] pilsnerbeer opened #593 ""A session had already been started" log errors"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

**D

[2020-07-13 15:04] pilsnerbeer commented on #593
Edit: the logs start coming as soon as the Android app is opened. "Synchronization has failed" can be seen briefly but it quickly disappears.

![Screenshot_2](https://user-images.githubusercontent.com/36133540/87320177-e33dd500-c52a-11ea-8cb2-4ef8bb5c9758.png)

[2020-07-13 15:09] desperateCoder commented on #593
Hi @pilsnerbeer, thanks for your report!
I think we are the wrong project for this issue, i'd like to point you here: https://github.com/nextcloud/deck/issues
This is a PHP internal thingy, we don't have any chance to affect this behavior by changing our requests or stuff, this is an internal server-app topic.

@juliushaertl will know, what to do with this (most likely not start a started session

[2020-07-13 15:09] #593 closed

[2020-07-13 15:10] pilsnerbeer commented on #593
I see , sorry about that !

[2020-07-13 15:11] juliushaertl commented on #593
Doesn't seem deck related as well, so something from https://github.com/nextcloud/server/

[2020-07-13 15:12] desperateCoder commented on #593
No problem, buddy!
I'd like to add: regarding the sync issues: feel free to open a new issue and provide a stacktrace or something, I don't think the sync issues are related to the logged errors.

[2020-07-13 15:14] desperateCoder commented on #593
Is this a fastest-response-time-battle @juliushaertl ?! 🤔

[2020-07-13 15:16] stefan-niedermann commented on #593
![grafik](https://user-images.githubusercontent.com/4741199/87321503-99ee8500-c52c-11ea-8670-90c0158c4c52.png)

[2020-07-13 15:19] stefan-niedermann opened #594 "@Relation problem in FullBoard"
when building the app.

[code]

[2020-07-13 15:23] #594 closed

[2020-07-13 15:46] desperateCoder commented on #590
see draft PR https://github.com/stefan-niedermann/nextcloud-deck/pull/595

should work, but couldn't test (no UI)

[2020-07-13 16:27] ThomasKujawa opened #596 "nicht erreichbar, obwohl alles in Ordnung"
[code]

[2020-07-13 16:32] #596 closed

[2020-07-13 16:34] desperateCoder commented on #596
Oops, ein wunder, dass der Fehler so lange nicht aufgefallen ist.... Danke für die Meldung @ThomasKujawa!!

@stefan-niedermann: Did you already release 1.8.0? If not, please ship this fix, too!

[2020-07-13 16:35] stefan-niedermann commented on #596
Fix will be shipped with `1.8.1`. Next time please use the [issue template](https://github.com/stefan-niedermann/nextcloud-deck/issues/new/choose).

[2020-07-13 17:11] #590 closed

[2020-07-13 20:02] stefan-niedermann opened #597 "😎 Filter widget"
# Idea

The idea is to make a more advanced widget which works similar to the already existing filter mechanism.
This would solve every idea we came up in #217 :

- [x] [my assigned cards](https://github.com/stefan-niedermann/nextcloud-deck/issues/217#issue-530183936)
- [x] [due cards](https://github.com/stefan-niedermann/nextcloud-deck/issues/217#issue-530183936)
- [x] [all cards from project X](

[2020-07-13 22:19] stefan-niedermann commented on #564
@treuss since you had a [defect database migration](https://github.com/stefan-niedermann/nextcloud-deck/issues/564#issuecomment-651091950) on your server side app, i would propose to close this in favor of #586.

In fact there is nothing we can directly do if the state of the server side database is corrupt. Let's focus on helping the users to find the root cause and fix them (instead of hiding th

[2020-07-13 22:19] #564 closed

[2020-07-14 07:08] treuss commented on #564
Yes, this sounds more reasonable.
You might want to check though, why the pop-up window showing the stacktrace disappears in about 500 to 600ms on my device.

Since it's on to me to drop the boards, I'm actually thinking of dropping all Deck-related tables in the database. I guess a fresh, clean restart makes sense.

Hehe, glad to see a fellow here! 😉 🤘

[2020-07-14 07:16] desperateCoder commented on #564
Make it double! 😉 🤘

[2020-07-14 07:33] stefan-niedermann commented on #564
Yeah, i will have a look. I think it's because while syncing there happen multiple errors and each new error dismisses the previous errors. I just thought that at least the last error would stay longer 🤔 and i can't reproduce it yet unfortunately. But i'll have a look into it.

[2020-07-14 13:35] stefan-niedermann opened #598 "Back arrow in attachments details has wrong color in light theme"

[2020-07-14 14:53] cab404 opened #599 "A crash in attachments window"
**To Reproduce**
Steps to reproduce the behavior:
1. Card → Attachments
2. Add an 4K image attachment.
3. Click refresh circle on the bottom right

[code]

[2020-07-14 15:15] stefan-niedermann commented on #599
I assume with you mean the sync icon 🔄 ?
This actually isn't a button but an indicator that shows that the image hasn't been synchronized yet (not uploaded yet).

Can you please tell us whether or not this issue is reproducible and describe more about the steps to reproduce?
- Have you opened an existing card or did you create a new card?
- Have you enabled the "Sync only on Wi-Fi" option?
- Has y

[2020-07-14 15:46] #599 closed

[2020-07-14 15:47] stefan-niedermann commented on #599
Will be fixed in `1.8.3`. (I am still interested in the answer to PS 2 :wink: )

[2020-07-14 15:49] cab404 commented on #599
I've got a huge log from an app, so I tried to merge sections from it and this template :/

[2020-07-14 15:53] cab404 commented on #599
Ooops, stale repos D:

[2020-07-14 15:53] #598 closed

[2020-07-14 15:57] cab404 commented on #599
Done, reproduced)

[code]

[2020-07-14 15:59] stefan-niedermann commented on #599
Easy buddy, i already fixed the issue - The fix will be shipped with version `1.8.3` :laughing:

Thanks again for the report!

[2020-07-14 16:07] cab404 commented on #599
Thank you)
I can PR some improvements for the crash page later (e.g "Submit an issue" button with logs integrated into issue template), will that be of any use?

[2020-07-14 16:40] stefan-niedermann commented on #599
Thank you, i also thought about it, but decided to not do it for several reasons:

- Many users don't have a GitHub account. I already saw people giving away 1★ ratings with the words "needed an account to report issue, this is a bad culture" at the Nextcloud Android app
- People don't look whether this issue has already been reported (this causes a ton of support efforts for verification, discuss

[2020-07-15 17:39] stefan-niedermann commented on #401
Invalid, see https://github.com/nextcloud/server/issues/20612#issuecomment-658904411

[2020-07-15 17:39] #401 closed

[2020-07-16 06:24] stefan-niedermann opened #604 "No filter indicator when branding disabled"
Steps to reproduce:

1. Disable branding
2. Open filter dialog
3. Select any user / tag / due date
4. No filter indicator at tab

[2020-07-16 12:41] skeal opened #605 "Exception when cloning board"
Hello. When trying to clone a board, I get the following message. It's a quite simple deck setup currently as there is just one board there.

This happens only on one of my two nextcloud instances I manage. On the other instance the board is cloned empty. Thought it should copy the elements, too?

[code]

[2020-07-16 12:43] skeal commented on #28
I use version 1.8.2 from fdroid and the markup is shown as text only. Not rendered markup for checkboxes. Am I missing something here?

[2020-07-16 12:47] stefan-niedermann commented on #28
@skeal Checkboxes are not yet supported, markdown support is currently rudimentary.

We [plan to use Nextcloud Text for markdown rendering](https://github.com/stefan-niedermann/nextcloud-deck/issues/452) in the long term, which supports checkboxes.

[2020-07-16 12:48] desperateCoder commented on #605
Hi @skeal , thanks for the report!
I'll have a look at this. To make it easier for me: do you have any groups or circles involved in the board? You could try to create a test board with a few stacks/lists and try to clone it without shares or assigned users in it. Does that work on the broken instance?

The cards are not cloned though, this is as designed. @stefan-niedermann can surely tell us why

[2020-07-16 12:53] stefan-niedermann commented on #605
This is indeed currently expected behavior and matches the way the server app does it.
The "Clone board" function is meant to use a board as a template.

In the future we might provide the possibility to also clone cards though (via a checkbox).

[2020-07-16 13:19] skeal commented on #605
Ok then I'll help with debugging. Sadly deck then isn't usable for me. I wanted to use it for our checks of the cars at the volunteer fire-brigade. So the cards would be the same every month including checkboxes.

@desperateCoder : No there i no assigned user at any kind. It's just a clean, newly created board with only 2 cards. The only thing that may differ from the other setup is, that LDAP (ac

[2020-07-16 14:04] desperateCoder commented on #605
Yep. LDAP will be the problem here. The owner is not a user object, but a weird string. We really should see how to handle this...

Thanks for the note! That helps a lot!

I think we need a mechanism for groups, circles and LDAP @stefan-niedermann, I think we need a huge ticket here...

[2020-07-16 22:44] armaccloud opened #606 "View mode for the card deck note field"
**Is your feature request related to a problem? Please describe.**
Whenever I want to tick off a task in one of my cards (tickbox), I have to place an X into the markup in the note field.
When I want to read a text in the card, it contains markup formatting which looks untidy in such a small small text box.

**Describe the solution you'd like**
It would be great if the note field would open in a v

[2020-07-17 06:42] stefan-niedermann commented on #606
Hi @armaccloud

While I absolutely understand your struggle, we will unfortunately not do this (at this point).

We plan to move to [Nextcloud Text](https://github.com/nextcloud/text) as Markdown editor in the long term (https://github.com/stefan-niedermann/nextcloud-deck/issues/452) and we will not put any effort in [the current Markdown editor](https://github.com/yydcdut/RxMarkdown/). It is bugg

[2020-07-17 06:42] #606 closed

[2020-07-17 09:31] stefan-niedermann commented on #604
Will be shipped in `1.8.3`.

[2020-07-17 10:15] stefan-niedermann commented on #605
@skeal Regarding "clone cards when cloning a board": would you mind to open a new issue? I don't see a reason to not implement it 🙂

[2020-07-17 10:19] benjamindahl opened #607 "Crash while synchronising"
While synchronising my deck boards I get following error repeatedly

[code]

[2020-07-17 10:42] stefan-niedermann commented on #607
Thank you for the report. This is a duplicate of #515.

If you have any further information, like whether
- this only happens with one account
- this happens each single time
- you can create / edit cards and they get syned
- this only happens (or happens not?) when you pull down to refresh

please post them in #515.

[2020-07-17 10:42] #607 closed

[2020-07-17 10:57] skeal opened #608 "Clone lists and cards when cloning boards"
hello,

it would be great to have the possibility to clone also the cards in the lists when cloning the board.

As we do monthly checks for our cars in the fire brigade we have the same tasks repeating any month.
i would cover the parts of the cars in cards like "car", "equipment" etc with md-based checklists as description.

Like this we could have templates for all cars that can be cloned at the

[2020-07-17 10:59] desperateCoder commented on #515
Maybe there is too much data fetched by some cursors, how about pagination?

[2020-07-17 11:47] stefan-niedermann commented on #515
I think we better should have a look about what we are fetching currently.

For example: We are loading a list of `FullStacks` in the `MainActivity` to display the titles. I believe that for each `FullStack` all child `Card`s are loaded alongside. And i also think this is not necessary, because each visible column contains one `StackFragment` which is itself capable of loading and actually display

[2020-07-17 12:50] armaccloud commented on #606
@stefan-niedermann I understand it's much better to have a well-designed solution instead of a buggy one.  I will wait patiently for #452

[2020-07-17 13:03] stefan-niedermann commented on #515
Actually in the mentioned sample a pure `LiveData<List<Stack>>` is absolutely enough.

I added PR (https://github.com/stefan-niedermann/nextcloud-deck/pull/609) since it was a more or less small change but might have a big impact.

[2020-07-17 18:56] stefan-niedermann opened #611 "New method for updating stack"
- [x] Backend: Implement (already existing) signature `updateStackTitle(long accountId, long localStackId, @NonNull String newTitle)` in `SyncManager` @desperateCoder
- [x] UI: Update `MainActivity#onUpdateStack` to use the new method

[2020-07-18 08:31] tuximail opened #612 "Entries appear multiple times"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

**D

[2020-07-18 10:15] stefan-niedermann commented on #612
Thank you for the report. Please fill in the **complete** issue template, otherwise we can not work on it. It is there for a reason 🙂.

[2020-07-18 11:43] tuximail commented on #612
I am really sorry for the incomplete report. I was submitting it via mobile with disabled javascript and as I just found out the templates appear not in the issue textfield in that scenario..
Updated all missing fields in the original post.

[2020-07-18 12:25] desperateCoder commented on #612
No JS? I think in that case @stefan-niedermann can't really be mad 🤣

[2020-07-18 16:55] fm-sys opened #613 "Create new card via share-dialog"
**Describe the solution you'd like**

There should be a button "create a new card" when using the share-dialog from other apps to upload an image. It would open a dialog to enter the card title and then the card would be created and the image or whatever will be uploaded.

**Describe alternatives you've considered**

Currently, if you whant to add an image to a new card, you always have to create

[2020-07-19 11:44] stefan-niedermann commented on #612
@desperateCoder might this be a symptome of parallel syncs maybe?

@tuximail thanks for adding the infos 🙂

[2020-07-19 12:28] desperateCoder commented on #612
@stefan-niedermann most likely not... Especially in the online case: it is a completely isolated process, only linked to the rest of the application by the one IResponseCallback you create on the 'save'-tap... If you can promise you don't call it more than once, let's say on destroy or whatever, this is totally a weird one. I'll have to add some logs to verify, where exactly some process goes craz

[2020-07-19 13:41] tuximail commented on #612
What I found so interesting is that it worked completely fine with the try.nextcloud account (I even tested with a shared board). Can I help you with any information on my server side? Or is there anything that could be "tuned" e.g in the nextcloud deck app?

[2020-07-19 14:46] desperateCoder commented on #612
In fact, I had the same issue a few days ago, I think my instance could reproduce this. We'll analyze this, for now, unfortunately I only can guess what's happening... But thanks for your cooperation so far! We might return to the offer!

[2020-07-20 13:52] stefan-niedermann commented on #217
List widget will be shipped with `1.9.0` - thanks @dan0xii !
For all other wishes please read https://github.com/stefan-niedermann/nextcloud-deck/issues/597 (Filter widget) or open new issues if your idea isn't cover by the Filter widget.

[2020-07-20 13:52] #217 closed

[2020-07-20 15:39] splashote commented on #579
Hey,
thanks a lot for the implementation! It's great to have it!

A comment: I'd prefer to see the button at the side of the 'Filter' button in the main view and not in the settings. The nc app puts it there, too.

[2020-07-20 15:46] stefan-niedermann commented on #579
Depends on https://github.com/nextcloud/deck/issues/2127 - if the server changes the context, the android app will follow :)

[2020-07-20 23:01] splashote commented on #579
Ok, thanks for the link.

At the moment, the android app does not follow the server, right? :)

[2020-07-21 07:02] stefan-niedermann commented on #579
We are following the context but not the position of the icon. Let's discuss this in the server repository, the android app will follow 😉

[2020-07-21 09:52] xplosionmind commented on #576
Sorry if I didn't provide all of the necessary info. Anytime I try to both edit or create a card from the Android app, I get the error message above. From the web interface everything works fine. This issue is still happening in version 1.8.2 of the android app, and in the latest version of the online one.

[2020-07-21 10:34] stefan-niedermann commented on #576
It seems like you don't even read what i am writing. (For example: [Did you create a test account and have you been able to reproduce the issue there?](https://github.com/stefan-niedermann/nextcloud-deck/issues/576#issuecomment-653195826)). This is quite disrespectful for a free support.

Please [open a new issue](https://github.com/stefan-niedermann/nextcloud-deck/issues/new?labels=bug&template=b

[2020-07-21 11:39] stefan-niedermann opened #615 "Add filter "No tags""
See corresponding [server issue](https://github.com/nextcloud/deck/issues/2140) and pendant for [unassigned cards](https://github.com/stefan-niedermann/nextcloud-deck/issues/590).

**Work started on branch `615-filter-no-tags`.**

- [x] Add a property `boolean noAssignedLabel` to `FilterInformation` model
  - [x] Update copy constructor and `toString`
- [x] Respect this property in `SyncManager#ge

[2020-07-21 11:46] #554 closed

[2020-07-21 16:48] user655362020 opened #616 "Tags visible on unassigned cards"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

**I

[2020-07-21 16:52] stefan-niedermann commented on #616
I don't understand what you mean? Here is a card which is not assigned to anyone and has a tag. The tag is shown:

![Screenshot_20200721-185044_Nextcloud_Deck](https://user-images.githubusercontent.com/4741199/88083364-3e06aa80-cb83-11ea-9884-9987c496816c.png)

[2020-07-21 17:09] user655362020 commented on #616
It is not visible on my end. Maybe I should reinstall. Is it safe to do so ? (Provided I sync before)
![Screenshot_20200721-223518](https://user-images.githubusercontent.com/66375825/88085062-db0e1700-cb74-11ea-9be7-2b18f370df6d.jpg)
![Screenshot_20200721-223525](https://user-images.githubusercontent.com/66375825/88085078-e4977f00-cb74-11ea-83ad-588c21505c52.jpg)

[2020-07-21 17:11] stefan-niedermann commented on #616
Yes, given you synced, it is safe. But a @desperateCoder just told me he noticed the sane issue, so i guess it's a bug. I'll have a look.

[2020-07-21 17:12] desperateCoder commented on #616
@user655362020 it would be safe, but I just had the same behavior, I guess you found here something... I doubt, this would bring your labels back. The good news is: this seems to be just a display bug, your data is fine.

[2020-07-21 17:29] stefan-niedermann commented on #616
@user655362020 could you please tell us the exact version of the android app (you can find this information in the sidebar -> About) and which flavor you are using (Google Play Store or F-Droid or self-built)?

[2020-07-21 17:31] user655362020 commented on #616
Fdroid 1.8.2

I tried reinstalling. It is not visible. The tag is visible when card is assigned though. Are there any logs or config that I can provide ? (Have root access)

[2020-07-21 17:34] stefan-niedermann commented on #616
No, no, the version info was well enough (i guess you meant `1.8.2`?) Thanks so far. I will have a look, shouldn't be that hard to find that nasty little bug 😉

[2020-07-21 17:40] user655362020 commented on #616
Yes 1.8.2

[2020-07-21 17:54] stefan-niedermann commented on #616
Yup. Need to add check the labels here: https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/java/it/niedermann/nextcloud/deck/ui/card/CardAdapter.java#L117

@desperateCoder could you please fix? I am currently busy.

[2020-07-21 18:22] #615 closed

[2020-07-21 18:24] stefan-niedermann commented on #615
Will be shipped in `1.9.0`.

[2020-07-21 18:26] #616 closed

[2020-07-21 18:26] stefan-niedermann commented on #616
Fix will be shipped in `1.9.0`.

[2020-07-21 18:27] desperateCoder commented on #616
Oops? I was just about to fix it seconds ago. Sorry, only just read your comment...

[2020-07-22 11:58] #573 closed

[2020-07-22 11:58] stefan-niedermann commented on #573
Will be shipped in `1.9.0`.

[2020-07-22 13:46] stefan-niedermann opened #619 "Handle unknown project types"
Adding a chat room of the "Talk" app to an existing project breaks the sync:
[code]

[2020-07-22 14:00] stefan-niedermann commented on #619
Quickfix: Filter resources with a `String` id.
Long solution: Make sync being able to handle `String` ids.

[2020-07-22 15:53] stefan-niedermann opened #620 "Fix Indices warning on build"
[code]

[2020-07-22 17:00] devz3r0 opened #621 "Deck won't recognize Server App on 2nd Nextcloud"
**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https://try.nextcloud.com):
- [x] Yes
- [ ] No

Steps to reproduce the behavior:
1. Add Accounts from all nextcloud servers in nextcloud app
2. Add first Account from first server
3. Add Account from second server
4. See error unable to determine deck server
[code]
---

OS Version: 4.14.117-perf+(2005192100)
OS API Lev

[2020-07-22 17:49] desperateCoder commented on #621
Your server deck version seems to be quite outdated, please try  upgrading it. There is a missing node in a special endpoint we need

[2020-07-22 18:01] stefan-niedermann commented on #621
No @desperateCoder , he said he has installed `1.0.5` of the deck server app. `0.6.4` is the default value.

@devz3r0 please create a test account at your instance which is **not** working and send the credentials to info@niedermann.it, so we can analyze the issue

[2020-07-23 07:24] #435 closed

[2020-07-23 17:16] devz3r0 commented on #621
So, using 2 seperate Nextcloud instances on the same time is working for you?

[2020-07-23 17:41] desperateCoder commented on #621
Uhm... The app is supposed to to do so.
I'd suggest trying what @stefan-niedermann said

[2020-07-23 18:15] stefan-niedermann commented on #621
Yes of course :) It's either a bug that it doesn't work in your scenaruo (which we'd like to fix) or it's some weird setup of your instance (in this case i'd like to find out which, so we can better handle it).

So yeah, gimme a test account 😆

[2020-07-23 19:59] stefan-niedermann commented on #612
I have also been able to reproduce the issue (with a build which already contains queued sync).

I also checked that we only [`observeOnce`](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/java/it/niedermann/nextcloud/deck/ui/card/EditActivity.java#L198). Currently i suspect the `EditActivity` to not finish proper after creating the first card, but if this was the case

[2020-07-23 19:59] stefan-niedermann commented on #612
I have also been able to reproduce the issue (with a build which already contains queued sync).

I also checked that we only [`observeOnce`](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/java/it/niedermann/nextcloud/deck/ui/card/EditActivity.java#L198). Currently i suspect the `EditActivity` to not finish proper after creating the first card, but if this was the case

[2020-07-23 20:06] stefan-niedermann commented on #612
It seem to work properly if i go offline and create many cards. Going online again syncs them up as expected. @tuximail can you confirm this behavior?

So maybe `createFullCard` triggers a network request (if online) and in parallel creates the card locally or so? @desperateCoder

[2020-07-24 05:10] tuximail commented on #612
I can confirm the behavior in airplane/offline mode. After coming back online the newly created cards were synced properly...

[2020-07-24 06:11] devz3r0 commented on #621
As the other one is a corporate instance, I am not permitted to create accounts for external users, but I have access to some more NC instances and can check what is happening if i mix with them.

[2020-07-24 06:16] desperateCoder commented on #621
If you need even more, we each got an instance as well. So just ask

[2020-07-24 06:16] stefan-niedermann commented on #621
That's a pitty but totally understandable.

I can offer you another test account (just need an eMail adress to send the credentials) to check whether this is related to the instance itself or to the multi-account setup of the android app.

If you want to give the administrator technical hints, then you can tell him that the `capabilities` endpoint does not contain any information about the Deck ap

[2020-07-24 21:55] romevi opened #625 "Can't choose account"
I started using Deck on the web version and it works great. I went to download the Android app but when I choose my account I get this error back:

[code]

I'm not able to choose my account as the app just resets after giving me that error.

[2020-07-24 22:11] romevi commented on #625
And just like that it started working. :/

[2020-07-24 22:11] #625 closed

[2020-07-25 00:14] stefan-niedermann commented on #625
F-Droid or Play Store Beta Channel?

Did you do an upgrade from a previous version?

`1.9.1` is known to have a heavy bug. You should wait for `1.9.2` or use an older version.

Regards.

[2020-07-25 11:56] desperateCoder commented on #619
Branch: 619-project-ids-string

@stefan-niedermann I've gone for the long solution. Seems to work fine. If you can't break it, please check if you have to change something in the UI for this. The `OcsProjectResource` now has a field `idString`. If you need the ID anywhere, check which one of them is filled (`id` or `idString`)

[2020-07-25 12:18] stefan-niedermann commented on #619
Ah, so we have two fields and depending of the type one is filled and the other one not?
Wouldn't it be easier if we always mapped the id into a `String`?

[2020-07-25 12:18] desperateCoder commented on #611
done. (master)

[2020-07-25 12:20] desperateCoder commented on #619
maybe easyier, but this way i fully preserve the current sync functionality. trust me, this is the best you can get with the current rest of the application. The more extrawöschd, the more bugs.

[2020-07-25 12:33] #611 closed

[2020-07-25 12:40] #619 closed

[2020-07-25 13:02] stefan-niedermann opened #627 "Do not query full attachments in main view"
To reduce the database load (#515), i had a look at situations where we are querying much data from the database. One unnecessary thing is, to load the full `Attachment` list in `FullCard`.
We need this when we are in the context of the `EditActivity`, but we don't need it in the main view. Given one uses many attachments (2 per card or so), we load *all* information about those `Attachment`s.
Wha

[2020-07-25 13:02] stefan-niedermann commented on #515
Closing this in favor of smaller splitted issues (see #627)

[2020-07-25 13:02] #515 closed

[2020-07-26 11:41] Emporea opened #628 "sync fail after upgrading to 1.9.2"
[code]

[2020-07-26 11:53] stefan-niedermann commented on #628
@Emporea are you using Nextcloud Projects via the Web UI?

[2020-07-26 12:07] desperateCoder commented on #628
@stefan-niedermann I think I know why you are asking this, but I am pretty confident, this isn't the cause. I'd suspect a hickup or just another exotic constellation.

@Emporea does it keep failing or does that only happen from time to time?

[2020-07-26 12:22] desperateCoder commented on #620
yep. quite hard to mention the right ticket...

anyways, i'ts fixed: a44e13cc26a0b5f3ea8278708d3527d8e8e87731

[2020-07-26 12:22] #620 closed

[2020-07-26 12:43] desperateCoder commented on #628
@Emporea I honestly can't tell how this could happen, very weird. But I think I have a quite straight solution for this, which souldn't break anything else.
Please have a look at the following APK: [> click <](https://github.com/stefan-niedermann/nextcloud-deck/suites/965492204/artifacts/12196212)
It is safe to install it beside your current version. Please try to work with that and tell us, if yo

[2020-07-26 12:53] desperateCoder commented on #605
@skeal would you mind giving us a test-account on your instance? I don't need much, maybe some kB space for a board with a few test-cards, the important part is: it has to be a LDAP / AD user. I honestly have no idea how to set this up or something, this way I can work with your exact configuration and see, how I can handle this problem.

If you are ok with this, please send the credentials to @st

[2020-07-26 13:37] desperateCoder commented on #539
Honestly, i think this can be closed. I am clueless. having a look at the profiler, there is nothing suspicious. Used RAM is freed often, there are no issues, usage doesn't rise over time. Instead, I was surprised how great the app does, didn't expect that.

While searching for a solution i also saw posts like "I think you can just ignore these messages because every app i open they show these mes

[2020-07-26 13:39] #539 closed

[2020-07-26 15:21] desperateCoder commented on #621
@juliushaertl could you tell us, under which conditions the `deck` node int the `capabilities` endpoint is available? Is there anything we can check?

[2020-07-26 16:10] Emporea commented on #628
Ok, so I installed the debug apk and it hasn't happen with this app. With the regular app from F-Droid it doesn't occur everytime when I sync, and new items will get synced even when the error does appear, which is weird. It's hard to reproduce the error, it seems to be random ( obviously not, there must be a reason, but I do not change any behavior on purpose and sometimes it happens, sometimes n

[2020-07-26 16:21] desperateCoder commented on #628
Ok, thanks for trying out @Emporea! So, would you say the debug version solves the issue for you? Since I "fixed" that on the master branch, this would be included in the next upcoming version. To be honest, I have no clue why this happens. But on the other hand: We have thousands of NC instances on thousands of different servers with different configurations, with an app running on thousands of d

[2020-07-26 16:57] stefan-niedermann commented on #628
Will be shipped in `1.9.4`. Thanks for reporting.

[2020-07-26 17:38] Emporea commented on #628
Yeah, it seems like this problem got fixed in the dev app you provided. Thank you for your very fast support, even on a sunday!

[2020-07-26 17:42] stefan-niedermann commented on #628
You're welcome 😊 Have a nice weekend and much fun with the app! Don't hesitate to open a new issue if you are stumbling about another bug or have a feature request.

Thank you for your testing help! 🙂

Regards

[2020-07-26 17:43] stefan-niedermann commented on #628
oh, @desperateCoder you fixed the bug, maybe you want to close the issue? 😄

[2020-07-26 17:58] desperateCoder commented on #628
Nope, honor is to @Emporea. Whoever finds it, may keep it! 😆

@Emporea feel free to close! ❤️

[2020-07-26 18:07] #628 closed

[2020-07-27 06:17] juliushaertl commented on #621
@desperateCoder Are you issuing the capabilities request anonymously or logged in as a user? If the first is the case, it might be that the admin has limited the deck app to certain groups, which means that it is not loaded for anonymous requests and therefore not showing up.

[2020-07-27 06:27] stefan-niedermann commented on #621
Actually each request is performed authenticated (thanks to SSO thr main Nextcloud android app is doing the actual network request and it **should** always be authenticated).

We are never doing unauthenticated requests.

A authenticated user will always see the deck node in the `capabilities`, no matter whether or not the app is limited to a group where the user is member or not?

[2020-07-27 06:58] juliushaertl commented on #621
No, if the app is only enabled for specific groups it is not loaded on the server for other users and therefore the deck app capabilites code is never executed for those users.

[2020-07-27 07:01] juliushaertl commented on #621
@devz3r0 Please try running the following request against your non working server:

[code]

[2020-07-27 08:58] skeal commented on #605
I've sent an email with login data. Please handle with care. On any help needed, feel free to ask (logfiles etc)

[2020-07-27 10:51] desperateCoder commented on #605
So, we were able to resolve this issue by doing the following workaround:
* Remove the account from Deck app
* Remove the account from Nextcloud Files app
* Reconnect the account in Nextcloud Files app
* Reconnect the account in Deck app

By using an intentional broken version with some extra logging we found the root cause in mismatching user IDs. When using LDAP, there seemed to be a timespan, w

[2020-07-27 10:53] devz3r0 commented on #621
Hi,

I did that, piped it trough jq, and removed the domain name:

[code]

[2020-07-27 11:02] desperateCoder commented on #621
oooook. what the actual hell... all we need is actually there...

uhm, sounds dumb, but maybe delete the app data of the deck app and try adding the non-working account first? There is no reason, why this server souldn't work tbh...

[2020-07-27 15:43] desperateCoder commented on #492
@stefan-niedermann we did implement the user search including the debounce, i think for board-ACL? Could we adapt that endpoint to get valid users? I think the group-handling would be server-side, so maybe this solution would work? What do you think?

[2020-07-27 16:22] stefan-niedermann commented on #592
Well, closing as not reproducible with the mentioned steps.

After some analyze from @desperateCoder a card which has been deleted remotely and gets moved, will be restored automatically (which is actually a good behavior).

[2020-07-27 16:22] #592 closed

[2020-07-27 16:28] stefan-niedermann commented on #398
## Threading :heavy_check_mark:

Solved by https://github.com/stefan-niedermann/nextcloud-deck/issues/560 (Thread annotations) in combination with `...Directly` naming convention

## Exception Handling :heavy_check_mark:

Should now be relatively consistently handled with `WrappedLiveData<T>` return type and will be improved over the time.

## Documentation :heavy_check_mark:

I started to documen

[2020-07-27 16:28] #398 closed

[2020-07-27 16:32] stefan-niedermann commented on #452
Since this is one of the most often requested feature - @jakobroehrl are you still interested in this topic? I can provide some guidance, we also could work on it during the Nextcloud Conference (i believe there are other people also interested) - or we could use one of the Hacking Tuesdays (are you in the talk rooms of cloud.nextcloud.com?)

I guess we need some help from @juliushaertl because [a

[2020-07-27 17:19] silmaril42 opened #630 "🔍 Search"
I am missing a possibility to enter some text and see a filtered list of only the cards containing the entered text, similar to the magnifying glass in the web app.

This is a very helpful feature if you are working with long lists of cards.

This might be implemented as an additional tab in the current filter dialog, but there might be better ways to implement this in a user friendly way.

In the

[2020-07-27 17:31] stefan-niedermann commented on #630
Yep, will definitely come at some point. My idea was to have a similar UI like the Notes app has (and the future Nextcloud app will have).

When searching, i think we will hide the tab/column layout and only provide a list of the results, because this will provide a better overview. The concept of a search is different from the filter use case.

Let's ser what we will end up with. 🙂

[2020-07-27 18:00] devz3r0 commented on #621
I already mentioned that if I only use this instance alone, it works.

[2020-07-27 18:03] stefan-niedermann commented on #621
Correct

[2020-07-27 18:45] silmaril42 commented on #630
I agree that search is different from filter - so ideally we would have both :smile:

A text filter should behave just like the current filter, only with full text matching.

The search function should list all results. Getting the tab/column layout out of the way would probably be a good idea in this case. Maybe we could also have an option to limit the results to the current list or search all c

[2020-07-27 18:47] stefan-niedermann commented on #630
Step by step, we have limited free time 😉. We should start with a global search and can add filters later.

[2020-07-28 08:31] tobiasKaminsky commented on #605
We did a transition to userId a while ago (I guess even before Deck was released).
Maybe there is a problem with the transition…

[2020-07-28 15:29] q-wertz opened #631 "LDAP Users not shown"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

**D

[2020-07-28 15:42] stefan-niedermann commented on #631
@q-wertz yeah, we are aware of multiple issues with a LDAP backend. 😒

Sorry for being brash, but might it be possible that you could help us with providing 2-3 temporary test accounts 👥 on your instance with a correct LDAP setup?
We unfortunately neither have the resources nor the knowledge to set up a complete LDAP configuration with one of our testing instances. We currently try to solve those

[2020-07-28 15:48] desperateCoder commented on #631
There is only one thing I can add to @stefan-niedermann s message: Sorry for that! And maybe: thanks in advance!

[2020-07-29 08:42] devz3r0 commented on #621
As I read again over your authorisation part, I checked the nextcloud app itself, and it got deauthorized, on the second instance.
So i could see the file list for a short time, but got kicked out to the login screen.
After i reauthorized it, it started to work.
So it would help if you add a hint to recheck the nextcloud app on the issuing account.

[2020-07-29 08:42] #621 closed

[2020-07-29 08:56] desperateCoder commented on #621
We'll, nice research @devz3r0! Thanks for sharing!

@stefan-niedermann is that a new `hint`?

[2020-07-29 11:05] Aspire1Inspire2 opened #632 "User profile photo not shown"
Hi, I have users in my nextcloud server with their profile photos configured. And my nextcloud Android client is showing their profile photos correctly. However, the deck and notes apps are not showing the profile photos at all.
Is there anything I can do to help you figure out where the issue is coming from?

[2020-07-29 11:16] stefan-niedermann commented on #632
Hi @Aspire1Inspire2, first of all please fill out [the issue template](https://github.com/stefan-niedermann/nextcloud-deck/issues/new?labels=bug&template=bug_report.md), it is there [for a reason](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed) :slightly_smiling_face:.

[2020-07-29 12:15] stefan-niedermann commented on #621
Thank you @devz3r0 for the update! I added a hint in this case, so other users will get notified that the account might no longer be authorized.

[2020-07-30 04:45] Pilzinsel64 opened #633 "Error at syncing sincing one board of one of my accounts on one of my servers"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

**D

[2020-07-30 05:03] desperateCoder commented on #633
Hi @Pilzinsel64, thanks for the report!

It seems the server doesn't return the assigned users in the proper structure. Due to fragmentation we often have this kind of problem, especially with the assigned users.

I'd like to fix that, would you help us testing a possible fix? I have a plan how we can get this more tolerant, but I need someone with this special constellation who can confirm my fix

[2020-07-30 06:56] Pilzinsel64 commented on #633
Of course I would help! Will test all the APKs you will provide me.

[2020-07-30 08:50] Pilzinsel64 commented on #633
Btw, maybe this can help you. I guess the error in the android app happens because the blue user after updating from v0.8 to 1.0.
See this issue: <https://github.com/nextcloud/deck/issues/2154>

[2020-07-30 10:07] stefan-niedermann commented on #633
Probably he's just drunk! :laughing:

Okay, yeah, this might be the root cause. I suspect the server app to not properly did an migration while upgrading to the new version. This should definitely be fixed.

Though it would still be great if @desperateCoder could provide (and you could test) a more tolerant version which is capable of handling such edge cases more gracefully.

[2020-07-30 10:18] Pilzinsel64 commented on #633
😁

[2020-07-30 10:30] desperateCoder commented on #633
Ok, so here you go: [(∩｀-´)⊃━☆ﾟ.*･｡ﾟ](https://github.com/stefan-niedermann/nextcloud-deck/suites/983967566/artifacts/12614881)

Indeed, this could be the root cause why the user is returned that strange way, but anyways, the UID of the user is correct, only the structure is broken. So maybe we're lucky here.

Maybe :smile:, but if my fix really works, I'd say I was drunk at some point, too. The fi

[2020-07-30 10:41] stefan-niedermann commented on #633
Just in case @Pilzinsel64 didn't notice: The ASCII magician is the link to the `.apk`-file (took me longer to notice than i want to admit...)

https://github.com/stefan-niedermann/nextcloud-deck/suites/983967566/artifacts/12614881

[2020-07-30 11:52] Pilzinsel64 commented on #633
Alright, the main problem was solved!

But now I get another error when syncing the other two accounts on other servers. But I guess that's an seperated issue. However, it doesn't happen in the latest stabel version, so here is the stack trace:
[code]

[2020-07-30 13:29] stefan-niedermann commented on #633
Woohoo 🥳

It's up to @desperateCoder whether he wants to analyze the `NullPointer`. Guess it was a server hickup, but we aim for a more tolerant sync in the long term.

[2020-07-31 10:29] desperateCoder commented on #633
I don't think the server screwed up at the NPE, since it happened in the upsync. That's quite weird, I guess it was some kind of hickup tho, but it has no relation to my fix. As long as this won't come up any more, I think I'm happy with the current solution.

@stefan-niedermann: https://github.com/stefan-niedermann/nextcloud-deck/pull/634

[2020-07-31 10:32] stefan-niedermann commented on #633
Fix will be shipped with version `1.9.4`.

[2020-07-31 10:32] #633 closed

[2020-07-31 10:41] desperateCoder commented on #633
Oh, and @Pilzinsel64 thanks for your help fixing this issue!

Btw: I personally like the fact, that our app is being used by a such broad variety of users, but when I see a N64 modder, i get proud. I never had a N64, but i got a Retropie now, so chances aren't too few, that i will run _your_ software one day :wink:

[2020-08-01 04:53] shgysk8zer0 opened #636 "List widget blacked out in dark theme"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

List widget completely blacked out in dark mode

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https://tr

[2020-08-01 13:33] #636 closed

[2020-08-01 13:34] stefan-niedermann commented on #636
Thank you for the report @shgysk8zer0 and thank you for the fix @dan0xii !

Fix will be shipped with version `1.9.5`.

[2020-08-01 14:00] Pilzinsel64 commented on #633
@desperateCoder I liked to help very much. It's wonderful for me if I can help, anytime. 😉

Nextcloud is a really beautiful cloud system that can be used in soo many situations. I personaly have three cloud instances. One for my company, one for my private uses and friends, and one for me as Pilzinsel64 and the community.
Thanks to people like you there exist soo many wonderful apps (also for andr

[2020-08-01 14:03] stefan-niedermann commented on #633
Awwwwww

![IMG_20200801_160324_653](https://user-images.githubusercontent.com/4741199/89103233-8be7a200-d410-11ea-818b-7a5f7cacca5f.jpg)

[2020-08-02 14:35] desperateCoder commented on #631
I think this is a more specific version of this one: #492
The LDAP-thingy isn't the main problem, group-handling is. LDAP itself is an other pain point. I started implementing group-handling today, see PR #639

[2020-08-02 14:39] desperateCoder commented on #631
Oh, and @q-wertz see this one: https://github.com/stefan-niedermann/nextcloud-deck/issues/492#issuecomment-650792812

Can you confirm, you have the same result as @kbeerepoot? If so, LDAP isn't the problem at all.

[2020-08-02 16:55] desperateCoder commented on #631
@q-wertz @kbeerepoot see this.: [APK: (∩ ͡° ͜ʖ ͡°)⊃━☆ﾟ. *](https://github.com/stefan-niedermann/nextcloud-deck/suites/998076451/artifacts/12884218)
Does this version fix the group handling for you?
It's safe to install this APK, this **won't** overwrite your current app, but install an additional one labeled with "dev". Install, choose account, (hopefully) enjoy!

[2020-08-02 17:41] kbeerepoot commented on #631
Having some problems installing the APK, probably my fault but I do not know how to solve it right now. I'll wait and see how things will go for q-wertz ...

[2020-08-02 17:53] desperateCoder commented on #631
@kbeerepoot thats a pitty, I'd like to help if you want, just tell me what's wrong.

Waiting for @q-wertz is a valid option, but for me you two have different problems with the same root cause, that's why I'd like you to have tried it as well... @q-wertz wants to assign, you want to filter... If you'd like to do me a favor, it would be great if you can also try it out. Any problems installing the

[2020-08-02 18:38] kbeerepoot commented on #631
Read below ...

Strange, in my comment from June 29 in #492 you can read that I actually COULD assign from within the app, but needed to search for the name(s) to assign TO. A quick check now revealed that I can not assign to specific names from within the app anymore, but only to items in the choice list (which in my case are only the owner and the assigned group).

It is possible that there is a

[2020-08-02 18:43] dberardo opened #640 "bug on card deletion"
steps to reproduce:

1. create a card on any board
2. synchronise with server (swipe down)
3. delete that card

 log:
[code]

[2020-08-03 08:08] stefan-niedermann commented on #640
Confirmed and reproducable. It actually happens on each card one tries to delete (any card, no need for the manual pull to refresh).

[2020-08-03 08:16] jakobroehrl commented on #452
@stefan-niedermann I'm very interessted but I have only less time currently

[2020-08-03 08:50] q-wertz commented on #631
Sorry I was on holidays over the weekend.
When trying to install the test version I get the following error message:

[code]

[2020-08-03 08:54] q-wertz commented on #631
You marked this as outdated:

I tested it anyways and can confirm, that I also cannot see the users in the filter list...

[2020-08-03 10:19] desperateCoder commented on #631
I just fixed that, pretty dumb mistake... Please try this one: [APK: (╯°□°）╯︵ ┻━┻
](url)(you might need to uninstall your current dev version first...)

Ok, but did you also try the steps in this comment? https://github.com/stefan-niedermann/nextcloud-deck/issues/492#issuecomment-650792812 @kbeerepoot was able to get a user into the list by doing them. If it works for you as well, we have the same

[2020-08-03 14:12] q-wertz commented on #631
I tried the new version and now I get the following errors:
[code]
[code]

Sharing to the user from the app is not possible as the user does not appear in the users/groups list.
I shared it from the web version to some other user than myself, after synchronizing I can see the user in the card but I cannot filter for him (still not shown in tab `Benutzer`)

[2020-08-03 15:22] desperateCoder commented on #631
please, don't ask me what the first stacktrace is all about, i read "fragment" and feel the need to summon @stefan-niedermann ...

But the second one is just another stupidity of mine, fixed. please give it another try: [APK: ¯\_ಠ_ಠ_/¯](https://github.com/stefan-niedermann/nextcloud-deck/suites/1001803167/artifacts/12970979)

[2020-08-03 21:02] q-wertz commented on #631
Thanks for the new version. Installation and connecting to account works.
But I still cannot see the other users... Neither assign something to them nor filter for them...

Maybe @kbeerepoot can try it

[2020-08-03 21:28] desperateCoder commented on #631
I hope it works out for @kbeerepoot, your message did hurt more, than i want to admit. Last sunday shouldn't be wasted...
@stefan-niedermann any chance we can release this after having tested it in different constellations with groups and stuff, so @kbeerepoot can access the new code?

Regarding to you @q-wertz, I am not willing to give up. Maybe this is, where LDAP kicks in, so maybe we could bui

[2020-08-03 23:01] kbeerepoot commented on #631
Unfortunately I still have a problem installing the APK, that I'm not being able to solve. I'll have to wait till a version with the solution arrives in F-droid.

Again I like to draw attention to my post on June 29 in #492 where I stated that I actually could assign cards to specific users from within the app, but had to search for them by starting to type their (user-?)name in the field and appl

[2020-08-04 07:35] q-wertz commented on #631
Can imagine that this is really frustrating. Of course I can help you :)
I also installed Deck now on my private Server (without LDAP) but there I also cannot see the other users from the group... (But now I can check the non LDAP setup for you :wink: )
Typing the name does not make the user visible (as it was at some old version according to @kbeerepoot ).

[2020-08-04 09:40] JohannesStroebel opened #642 "Add Push Up Notification"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**
 Adding a time or date to a card is useless, if you don't look into the app everyday. Therefor

[2020-08-04 10:40] desperateCoder commented on #640
Sorry for the delay, see the issue in Android SSO above... That's the explanation to this behavior.

[2020-08-04 10:42] desperateCoder commented on #640
oh and @stefan-niedermann an alternative would be reverting the SSO version to an older one i guess? Would be a quickfix, but at least people can delete their cards again... or what feature relys on the currently used version?

[2020-08-04 10:43] stefan-niedermann commented on #640
ETag handling relies on it, don't know how much work it is to disable it.

[2020-08-04 10:58] desperateCoder commented on #642
Hi @JohannesStroebel, thanks for your report!

I'm not sure, but I get notifications... But not in our app, but in the nextcloud files app.. have you disabled the notifications there? @stefan-niedermann is there a need to install or activate some Server-Side app or setting for this?

[2020-08-04 11:08] desperateCoder commented on #631
@q-wertz oh boy, for me this works kind of fine, but hold on, we'll find a way to get behind this.

What does the following call get you?
[code]
(please replace the four variables!)

You can do this for both of your instances, would be quite interesting

[2020-08-04 11:16] stefan-niedermann commented on #642
Nah, @desperateCoder this issue is about getting notifications for a near **due date**. It's a request for a specific, new notification type.

Basically Push Notifications are already working (e. g. when someone assigns you or mentiones you in a comment).

Those notifications are sent from the Deck Server app, so you should reopen the issue there @JohannesStroebel

I think the closest existing iss

[2020-08-04 11:16] #642 closed

[2020-08-04 11:18] stefan-niedermann commented on #642
Also please see [this issue](https://github.com/stefan-niedermann/nextcloud-deck/issues/160) from our repository. The server app plans a calendar integration, so you should get due date notifications as soon as this has been implemented from your calendar once this has been implemented (though i don't know the current state of this plan as it also has to be done by the server app)

[2020-08-04 11:33] desperateCoder commented on #642
![Screenshot_20200804-133043](https://user-images.githubusercontent.com/6911132/89289102-fbe76980-d656-11ea-9ef9-086f51ea34ea.jpg)

[2020-08-04 11:38] JohannesStroebel commented on #642
No, Notifications are all allowed. The nextcloud files app doesn't have any deck related notifications. I do also get notifications in the files app, but only about e.g. autouploads, errors etc. which aren't related to the deck app.

[2020-08-04 11:40] JohannesStroebel commented on #642
Genau das hier fehlt mir. Das ist über die Deck App?

[2020-08-04 11:45] desperateCoder commented on #642
Ja nee, eben nicht... Der Spaß kommt bei mir immer via Files App...

![Screenshot_20200804-134502](https://user-images.githubusercontent.com/6911132/89290181-bfb50880-d658-11ea-9c02-841579ef093c.jpg)

Weiß nicht Mal so richtig wie ich mich dagegen wehren kann, wenn @stefan-niedermann Mal wieder due-date testet... Daher auch die Frage an ihn.

Hinweis an der Stelle: das kommt nur auf die Minute gen

[2020-08-04 11:46] stefan-niedermann commented on #642
Nein, über die Files App - Alle Push Notifications kommen über die Files App rein. Mach mal bitte nen Screenshot von deinen Benachrichtigungseinstellungen im Web UI?

[2020-08-04 11:47] stefan-niedermann commented on #642
Im Web UI oben rechts auf deinen Avatar, dann links auf "Aktuvutäten".

Sollte ungefähr so aussehen:

![Screenshot_20200804-134705_Firefox_Preview](https://user-images.githubusercontent.com/4741199/89290318-ff7bf000-d658-11ea-8a77-d2f0cb0a38af.png)

[2020-08-04 11:48] stefan-niedermann commented on #642
Doe Push Benachrichtigungen kommen zwar technisch über die Files App rein (sollten zumindest 😉 ), bei einem Klick darauf öffnet sich aber Deck (sofern du von Files App und Deck App aktuelle Versionen hast, ist noch relativ neu)

[2020-08-04 11:55] q-wertz commented on #631
On both setups with the standard user:
[code]
When using an admin account `NextcloudAdmin` (private setup):
[code]
Looks like a group permission problem...

[2020-08-04 12:11] stefan-niedermann commented on #640
As a quick fix we can be optimistic and temporarily catch and hide `NullPointerException`s in those cases (we even can limit it to this exact message).

I identified "Delete card" and "Delete board" so far.
@desperateCoder is there an easy way to give me a list of all methods where this can happen?

[2020-08-04 12:23] desperateCoder commented on #631
Ok, do that's why the second NPE could even occurr, and that's why my fix does mostly nothing for you. Seems like I need more input here, maybe @juliushaertl may have a hint, how we can access the data?

[2020-08-04 12:28] desperateCoder commented on #640
Yep, have a look at NextcloudServerAPI and DeckAPI. Wherever a void is defined as return value, we have this problem (most likely any delete operation)

[2020-08-04 12:28] stefan-niedermann commented on #640
Workaround implemented, releasing....

[2020-08-04 12:33] stefan-niedermann commented on #640
So, @dberardo you shouldn't see this error message with version `1.9.6`, thank you for reporting it!

Closing this in favor of https://github.com/nextcloud/Android-SingleSignOn/issues/231

[2020-08-04 12:33] #640 closed

[2020-08-04 12:54] JohannesStroebel commented on #642
Ah habe ich bei mir aus, da mir die Auto-Upload Benachrichtigungen auf den Geist gehen

[2020-08-04 13:00] stefan-niedermann commented on #642
Verstehe, dann ist das das Problem. Könntest du sie testweise mal einknipsen?

Ggfls wäre dann ein Issue in der Files App zu öffnen, dass die Notifications über unterschiedliche Kanäle getrennt ein- und ausschaltbar sind.

[2020-08-04 13:26] q-wertz commented on #631
@desperateCoder Digged into the deck API.
[code]
returns all users that are in the board as `users`

[2020-08-04 13:29] desperateCoder commented on #631
Holy... I had your password for a second.... You need to watch that you don't post it 🤣

[2020-08-04 13:30] q-wertz commented on #631
Yes I'm already changing it... stupid me. wanted to paste a link but my paste was an old one

[2020-08-04 13:33] JohannesStroebel commented on #642
Mir fällt gerade auf, dass ich tatsächlich nur die Hochlade-Benachrichtgung ausgeschalten hatte. Das von dir vorgeschlagene Features gibt es somit schon und die Benachrichtigungen sollten mir eigentlich angezeigt werden.

[2020-08-04 13:33] desperateCoder commented on #631
Dont panic I tried to remove it quickly, but you were faster.

If you run this curl, what do you get? I mean, I think I use /boards to get the info and handle the users there. But do I get the users in the group as well?

[2020-08-04 13:36] desperateCoder commented on #642
Vllt in Android? Also app-settings? Oder halt in der Files App selbst, was anderes würde mir auf die schnelle nicht einfallen...

[2020-08-04 13:37] stefan-niedermann commented on #642
Welche Versionen exakt von der Files und der Deck App verwendest du?

[2020-08-04 13:43] q-wertz commented on #631
Thanks. Password is changed :sweat_smile:

As I understand it I really get the users that have access to the board (as I only added groups).
Also see the ACL rules. `LDAPUser1` is part of the group `LDAPGroup1`
[code]

[2020-08-04 14:00] desperateCoder commented on #631
Ok, seeing this, LDAP ist definetly mit the problem here, but the users endpoint is. Can you confirm that the users in the list are actually all users in the group? Or are there users in the group that are missing in the list?

Quick test would be adding an user to the group and look up, if the new group member appears in the list afterwards

[2020-08-04 14:10] JohannesStroebel commented on #642
Deck: 1.9.3.

Files (Dev): 20200730

[2020-08-04 14:11] q-wertz commented on #631
I can confirm that all users from the LDAPGroup1 are in the list.
The uid/primary keys are the values from the column `owncloud_name` in `oc_ldap_user_mapping` table (and not the `ldap_dn`s)

[2020-08-04 14:17] stefan-niedermann commented on #642
Verrückt. Und du erhälst keinerlei Push-Notifications über die Files App? Hast du mal im Web UI überall ein Häkchen gesetzt und versucht, dir selbst eine Datei zu teilen oder so?

Und nur um sicher zu gehen: Hat dein Gerät Google Play Services?

Alles was die Deck Android App tut ist, den Klick auf eine Benachrichtigung abzufangen und in der Deck-App zu öffnen (sofern die Benachrichtigung von der

[2020-08-04 14:17] desperateCoder commented on #631
Well, I guess we found something here. Thank you so much for your help so far! I'll see, how I can improve this whole thing, as soon as I have some free time for this. Again: thanks!!

[2020-08-04 14:22] q-wertz commented on #631
No problem. Thanks for this app and your work :smiley:
As soon as you have a test version let me know.

[2020-08-04 14:28] JoergPalmer opened #644 "Labels in cards are added with every save action"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
When a card is created from the Android app, every "save" adds another one to all existing labels, so that the label is included multiple ti

[2020-08-04 14:31] stefan-niedermann commented on #644
Thank you for the report. While i agree that the Android app has  clearly a bug here, i still would like to mention @juliushaertl as this should be fetched at least at the API 😄

[2020-08-04 14:58] desperateCoder commented on #631
Aaaaaw man, thaks for your donation! ❤️

We absolutely appreciate that, thankful users are the most kick-ass thing here. The main thing we get are issues, so this is really a big deal for us, thank you, also from @stefan-niedermann who makes our app all fancy and shiny!

[2020-08-04 17:37] stefan-niedermann commented on #632
[Read why this issue has been closed](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed). Please feel free to open a new issue filling in the complete issue template.

[2020-08-04 17:37] #632 closed

[2020-08-05 08:24] reox commented on #644
on the web app it is really weird how to get rid of the multiple labels. If you click on the label in the list one dissappears at a time, not all at once...

[2020-08-05 08:29] JoergPalmer commented on #644
True .. also for me all Android app created cards get labels added, not just the one I'm saving.

[2020-08-05 08:33] stefan-niedermann commented on #644
@reox In the Web UI, click on the tags, you will see your label with a check in front of it. You can click multiple times on it (without leaving the edit mode or save the card). Click as often as you need to remove all the wrong labels as a workaround.

@JoergPalmer

[2020-08-05 10:14] OliDale opened #646 "Problem with uploading file (attachment)"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

I can't add file in any way: from nextcloud, from phone, from google disk

**To reproduce**
Issue is reproducible with an account from [try

[2020-08-05 10:25] stefan-niedermann commented on #646
Thank you! I will have a look as soon as possible, might be an android permission issue. Is this only since the latest version?

[2020-08-05 10:28] desperateCoder commented on #646
Hi @OliDale, thanks for your report!
Sorry for the inconveniences, we would like to resolve this.

You posted this screenshot:

Can you please copy the text and post it here completely? The relevant part for us isn't visible in the screenshot.

[2020-08-05 10:33] stefan-niedermann commented on #646
He sent me the full stacktrace via mail, i will add it here later

[2020-08-05 10:35] stefan-niedermann commented on #646
[code]

[2020-08-05 10:36] OliDale commented on #646
Only in latest version. Because I installed it only today.
Also I have crash report via try.nextcloud.com:
App Version: 1.9.6
App Version Code: 1009006
App Flavor: play

Deck Server Version: 1.0.5

Files App Version Code: 30120190

---

OS Version: 4.9.118-18847185(G965FXXUAETG3)
OS API Level: 29
Device: star2lte
Manufacturer: samsung
Model (and Product): SM-G965F (star2ltexx)

---

it.niedermann.

[2020-08-05 11:08] OliDale commented on #646
Here is scrinshot from my phone:
As you can see it has no permissions to files and camera (did't ask on first start)
![Screenshot_20200805-140433_Permission controller](https://user-images.githubusercontent.com/59027495/89405942-0cfeac00-d725-11ea-9c92-422ea8443d19.jpg)

[2020-08-05 11:48] stefan-niedermann commented on #646
Thank you for your help, this is the key. Will be fixed in the next version.

[2020-08-05 12:50] JoergPalmer commented on #644
For me, **all** cards created from the Android app get additional labels, not just the one I'm saving.

[2020-08-05 13:46] desperateCoder commented on #644
Ok, I was able to reproduce it. Most likely my fault, I'll fix that as soon as possible.

[2020-08-05 16:42] desperateCoder commented on #631
Alright buddy, I got something for you:  [APK: [̲̅$̲̅(̲̅ιο̲̅̅)̲̅$̲̅]](https://github.com/stefan-niedermann/nextcloud-deck/suites/1012420733/artifacts/13214277)

**Please make sure you uninstalled the old dev-app first**, otherwise android will crash the hell out of the app. (-> Database migration scripts)

With your hint and the confirmation of the server-app-developer I'm pretty confident we can

[2020-08-05 17:10] q-wertz commented on #631
Thank you :)

On the LDAP Setup (still on NC Version 18) I get the error that the there is no Deck installed or the Deck version could not be found when trying to connect.

Private Server (newest version) throws:
[code]

[2020-08-05 17:25] desperateCoder commented on #631
Wow. I need to drink less... or more... don't know. Fixed: [APK: ☉ ‿ ⚆](https://github.com/stefan-niedermann/nextcloud-deck/suites/1012603858/artifacts/13218644)

Uhm... this is quite weird, because the other (broken dev-) versions worked fine, right? I didn't change anything there, I'd guess this was kind of a server-hickup or something, just retry. If it still doesn't work, please double-check,

[2020-08-05 19:11] kbeerepoot commented on #631
YESSS !!  I don't exactly know how, but :
- I got the dev version downloaded
- I got the dev version installed
- I got the dev version working
- I can see the actual users in the filter list. It's working !!

but :

- assigning from within the app does not seem to be working flawless yet. When I select (bring the cursor to) the assignment field a choice list of three users pops up, where there sho

[2020-08-05 19:19] kbeerepoot commented on #631
By the way, does this mean I have to close #492 now?
Or do I wait till the real new app version is released?
Or will someone else close it for me?

[2020-08-05 19:36] desperateCoder commented on #631
Agreed! May not be perfect yet, but at least we see some improvements!

https://github.com/stefan-niedermann/nextcloud-deck/blob/6ef5b91b4a583a79cabd79c69c579fb7f861defe/app/src/main/res/values/customization.xml#L5-L6

Would you please try to type a not-listed name into the assignment-field? May be the group as well, I hope, the users will show up then.

Your're very welcome! :blush:

Or do I wait

[2020-08-05 20:03] desperateCoder commented on #644
Yep, I found it, it is the same as here: #640

Root cause:
https://github.com/nextcloud/Android-SingleSignOn/issues/231

I guess we're blocked here.

[2020-08-05 20:11] kbeerepoot commented on #631
Unfortunately that only partly seems to work. It works for the groupname and the owner, but not for the not-listed user that DOES have access to the board.

Bringing the cursor to the assignment field will initially bring up a list of no more than three (3) users that are not already assigned to the card. Starting to type ANYTHING in the field will change that list, sometimes bringing up the owner

[2020-08-05 20:14] kbeerepoot commented on #631
The assignment field in the web(browser)version does not seem to have any problem.

[2020-08-06 07:52] q-wertz commented on #631
Sorry for the delay. On my private setup (non LDAP):
I have the similar behaviour as @kbeerepoot . When trying to assign to an user:
- only three users are shown in the list (myself, the board-owner, one other (alphabetically the first one of the grouplist if this is of importance for you)
- difference to @kbeerepoot  is that I can see the board owner (which is also in the group in my case)
- assi

[2020-08-06 10:21] desperateCoder commented on #631
Ok, so i just had another look and it was obviously dumb to add my new data to the "proposal" (initial assignment proposals without search, full user-filter list), but not the "user search" filter when you type the username to assign.

Fixed: [APK: (ᕗ ͠° ਊ ͠° )ᕗ](https://github.com/stefan-niedermann/nextcloud-deck/suites/1015829488/artifacts/13291078)

I think you got a point there! The easy way:

[2020-08-06 10:43] q-wertz commented on #631
Works now :) The only confusing thing is, that one has to type in the name and only then it is suggested (otherwise 3 are suggested (based on something I don't know)). Would it be possible to have a list of all users which is scrollable?

The behavior of the Nextcloud App here is really strange... I can still access the account, no error message is thrown but when I tried to delete it the app went

[2020-08-06 10:52] stefan-niedermann commented on #631
If i might jump in at this point: Thank you for your responsiveness - it really makes it way more easier to fix bug when people actually repond 😉

I think we will keep this. It has various advantages over just showing a complete list. We thought well about it, and it just makes more sense to show proposals which are more likely in the first place. For example we can show users who are assigned to

[2020-08-06 10:56] q-wertz commented on #631
You're welcome. Thanks for the fast help :)

Ok :+1: I completely understand that point and it really makes sense.
(I just always have problems remembering names so I often scroll through the list to remember the name of my college who is just sitting next to me :roll_eyes: :facepalm: :rofl: )

[2020-08-06 11:03] kbeerepoot commented on #631
In my case also only three users, but not alphabetically. And a person already assigned to the card will not show up in the list of three ...

Aha, there is the important difference! In my case the board owner is not a member of the group, and that is because all my boards are made by an admin and only THEN shared TO a specific group

Same here

And also with me, assigning will work (though with l

[2020-08-06 11:12] desperateCoder commented on #631
:tada: :tada: :tada: Glad to hear! I just hope it works for @kbeerepoot as well :blush:

But did you get it to work then? Would be interesting, if the LDAP stuff breaks anything...

:rofl: we feel you! hint: the Filter dialogue doesn't have the limitation of 3 :wink:

Same here

@kbeerepoot did  you try the newest version? [APK: (ᕗ ͠° ਊ ͠° )ᕗ](https://github.com/stefan-niedermann/nextcloud-deck/su

[2020-08-06 11:47] kbeerepoot commented on #631
Deleted the old version and installed the new version of the dev-app. IT WORKS !! And, as intended, it will only let me assign the card to users that have access to the board. (I am not 100 % sure of it, but I have this nagging feeling in the back of my head that a way older version would actually show users that did not even have access to the board. Though I never tried what would be the result

[2020-08-06 13:03] q-wertz commented on #631
Sorry I forgot to mention this. Yes it also works there :tada:
I had a little struggle adding the account (took very long, then I aborted it but it was there...) but that's maybe a new feature of my "broken" phone setup now...

[2020-08-06 13:11] desperateCoder commented on #631
Well, then I'd like to say thanks again @q-wertz and @kbeerepoot, you each have the honor to close your opened issue regarding groups.

@stefan-niedermann you may look over this feature and merge it into master. Any idea, when this is going to be released?

[2020-08-06 13:19] #631 closed

[2020-08-06 14:13] #492 closed

[2020-08-07 09:45] aproposnix commented on #644
Can I get confirmation of one thing? Until there is fix for this issue, I should avoid creating cards within the Android app, correct? My understanding is that cards created from the web app don't have the same issue.

[2020-08-07 09:50] desperateCoder commented on #644
@aproposnix almost, you can create cards as many as you want, the problem relies in the labels **assignment**

what actually happens:
- you create a card (no problem)
- the label is assigned -> call to server
- server assigns, but doesn't return any data (ok so far)
- the SSO-Library fails internally, telling our app it didn't work
- so at the next sync **(!)** the card is still marked as "not syn

[2020-08-08 13:01] desperateCoder commented on #646
@stefan-niedermann SSO fix is implemented, you can merge the branch and release (Jitpack dependency!)

[2020-08-09 13:50] dberardo opened #649 "tag assignment misbehaving on server app"
i am surprised this issue hasn't been reported yet:

adding tags on a card in the Android deck app results in various duplicates of the same tag on the deck app in the nextcloud server.

i am running the latest nextcloud + deck combination both on Android and webhosted server.

steps to reproduce:
1- add an existing tag on an existing card on Android
2- navigate in the same board on server and che

[2020-08-09 13:54] desperateCoder commented on #649
Duplicate of #644

[2020-08-09 13:54] #649 closed

[2020-08-09 13:55] dberardo commented on #649
this issue might link to https://github.com/stefan-niedermann/nextcloud-deck/issues/644#issue-672837168

[2020-08-09 13:58] dberardo opened #650 "public links to boards"
it would be amazing if boards could be shared both in read only and edit node via a public link to anonymous users.

optionally those users could add temporary names and use them to comment or sign cards to themselves, etc.

[2020-08-09 14:00] stefan-niedermann commented on #650
Yup. This has to be implemented by the server app first though.

The Android app will follow once this feature is available, of course 😉

See https://github.com/nextcloud/deck/issues/14

[2020-08-09 14:00] #650 closed

[2020-08-09 14:01] desperateCoder commented on #649
If you wonder, this is what actually happens: https://github.com/stefan-niedermann/nextcloud-deck/issues/644#issuecomment-670434233

Sorry for the inconvenience, there is an error in a library we use to communicate with your server... I already fixed it and hope it gets released soon

[2020-08-09 14:43] stefan-niedermann commented on #492
Shipped in version `1.9.7`.

[2020-08-09 14:43] stefan-niedermann commented on #646
Fix shipped in version `1.9.7`.

[2020-08-09 14:43] #646 closed

[2020-08-09 15:02] #644 closed

[2020-08-09 15:03] stefan-niedermann commented on #644
Fix shipped with `1.9.7`.

[2020-08-09 15:05] desperateCoder commented on #649
Fyi: we just released the fixes, next update will get rid of the issues, sorry for the label-spamming tho :unamused:

[2020-08-11 11:06] aproposnix commented on #644
thank you everyone who worked to resolve this! I can confirm from my side that I'm not getting duplicated tags.

[2020-08-11 11:09] desperateCoder commented on #644
@aproposnix you're welcome 😄, sorry for the inconveniences!

[2020-08-12 06:32] stefan-niedermann opened #652 "Recognize + [ ] syntax for task counter"
[corresponding server issue](https://github.com/nextcloud/deck/issues/2187#event-3646044737)

**Currently recognized syntax:**

[code]
**To add:**

[code]

[2020-08-12 08:21] q-wertz commented on #631
Just for information:
Version **1.9.7** fixes this

[2020-08-13 05:55] proserver1 opened #653 "create card with attached photo from within app (to use it as photo note eg like google keep)"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Addition

[2020-08-13 06:29] stefan-niedermann commented on #653
Thank you for your request. This is a duplicate of https://github.com/stefan-niedermann/nextcloud-deck/issues/289.

We plan to add support and [have started the work](https://github.com/stefan-niedermann/nextcloud-deck/pull/555), but there are a few obstacles regarding permissions and storing the image to a temporary file before uploading it.

[2020-08-13 06:29] #653 closed

[2020-08-14 18:50] splashote commented on #597
hey,
great to see the progress on the widget.
what I would suggest is the following:
- open the selected card when clicking on it

- add a **+** button in the top right corner to easily add a card to the list displayed.

I see that the latter might not always be useful depending on the kind of 'filter set' you chose for it.
Anyway, I really miss it.

looking forward to the upcoming development, be

[2020-08-14 18:57] stefan-niedermann commented on #597
Thank you for your input. The ➕ button will be possible because simply can display a choose dialog (just like the shortcut we already have when long-pressing the launcher icon).

Though this is out of scope for the first catch from my point of view - use the already existing [live tile](https://miro.medium.com/max/1012/0*zYn9jRHUGJTkE4CB.) or the [shortcut](https://miro.medium.com/max/3927/1*gfQYi

[2020-08-14 19:04] splashote opened #655 "List wiget: crash on 'clicking' on a list entry"
The following message appears when I click on an entry of the list widget.

nextcloud 18.0.6
Deck app on server: 1.0.4

[code]

[2020-08-14 19:11] stefan-niedermann commented on #655
Thank you for the report.

**Please fill the [issue template](https://github.com/stefan-niedermann/nextcloud-deck/issues/new?labels=bug&template=bug_report.md)** - it's there for a reason 😉

We need exact steps to reproduce. Does it happen always? Did you edit another card recently? If yes: From the same account or from another? Does it still happen if you remove and readd the widget?

Literally *

[2020-08-14 19:16] splashote opened #656 "List widget: List not loaded"
After selecting a list to be shown in the widget, the entries don't appear.

The widget shows the right colored circle, and the name of the list, nothing else.

Deck Android App version 1.9.7
Deck version on server: 1.0.5
Nextcloud version on server 18.0.7

[2020-08-14 19:37] splashote commented on #656
Will add further information based on template later, lousy internet connection on the train...

[2020-08-15 12:42] aproposnix opened #657 "Syncronization Errors when creating a long card title"
**Describe the bug**
When I try to sync between the Android app and the server, I get lots of errors which results in no synchronization between the Mobile App and the Server.

Server log:
[PHP] Error: session_start(): A session had already been started - ignoring at /var/www/nextcloud/lib/private/Session/Internal.php#209

GET /index.php/apps/deck/api/v1.0/boards/14/stacks/55/cards/95?
from 12.12.

[2020-08-15 14:40] desperateCoder commented on #657
This title seems to be too long for the server, the message states:

Regarding this:

I have uninstalled the Playstore version for now and installed the latest version on F-Droid. I am now able to sync but I am still getting spammed with the server errors.

Doesn't really matter, if the App is from F-Droid or Play Store. Create the same title in the F-Droid version, you'll get the same error. We c

[2020-08-15 14:52] stefan-niedermann commented on #657
So this might be related to this server issue: https://github.com/nextcloud/deck/issues/1923

[2020-08-15 15:14] aproposnix commented on #657
Shouldn't the application or server not allow me to save if the text is too long?

I'm still getting spammed with the server errors every time I sync now.

[2020-08-15 15:25] desperateCoder commented on #657
Good question tho.... @stefan-niedermann??

Oh. Please post the error messages here, we'll have a look!

[2020-08-15 15:38] aproposnix commented on #657
No Problem... it's just the same message as above...

[PHP] Error: session_start(): A session had already been started - ignoring at /var/www/nextcloud/lib/private/Session/Internal.php#209

GET /index.php/apps/deck/api/v1.0/boards/3/stacks/10/cards/315?
from SNIP at 2020-08-15T15:04:13+00:00

[PHP] Error: session_start(): A session had already been started - ignoring at /var/www/nextcloud/lib/priv

[2020-08-15 15:54] desperateCoder commented on #657
But... this won't come up to the android app, right? To make this clear, we know the server app developer, @juliushaertl is a fellow friend of ours, he is working at Nextcloud, but we do this app in our spare time, not paid by Nextcloud, and don't really have an insight, how all of this works internally like he does. The code is open source, but my PHP-skills are very limited...

If the issue is n

[2020-08-15 19:19] aproposnix commented on #657
Yeah right, it's the Web App that's spamming the NC log. Not the mobile app.  Sorry for any confusion.

Thanks, I'll follow up on this.

Thanks for your help. It's really appreciated.

[2020-08-16 13:11] splashote commented on #656
now it loaded.

no idea why.

[2020-08-16 13:12] #656 closed

[2020-08-16 13:48] stefan-niedermann commented on #656
Well, main thing it works. Might be everything (for example a slow database connection which had to be initialized first).

Let us know if this happens more often!

Cheers

[2020-08-17 15:05] aproposnix commented on #657
Back on this point, as you can see, the web app does not allow the creation of a title with too many characters.
It would be great if the mobile app did the same.

http://pix.toile-libre.org/upload/original/1597681470.png

[2020-08-17 15:26] stefan-niedermann commented on #657
We limit the length of the title depending on the server version - because an older version of the server did only allow `100` characters while newer versions allow longer titles. I currently suspect either the server version to not be detected correctly *or* that your server did not correctly migrate the server database when you updated your server app from an old version. This will need more inv

[2020-08-17 16:06] dan0xii commented on #655
Hello @splashote, I'm having trouble reproducing this with the versions you have given. More information as per Stefan's post would be appreciated.

[2020-08-17 16:19] splashote commented on #655
As I fail to reproduce the crash myself I close the bug.
It only happened with one instance of nextcloud (=not with the other one I'm using) and re-creating the widget with the same list solved the issue. Now I can click on the same entries that caused the crash and they open up as they should.

Thanks for your commitment! :)

[2020-08-17 16:19] #655 closed

[2020-08-17 16:48] stefan-niedermann commented on #655
Great to hear! Thank you for the feedback and let us know if it occurs again.

[2020-08-18 10:47] aproposnix commented on #657
Could you possibly provide some pointers on what I can look into?  As far as I am aware, I have correctly migrated the server database after upgrading. Is there an OCC command to check if it is? If I go under settings (security & set-up warnings), there are no warnings at all.

[2020-08-18 11:37] stefan-niedermann commented on #657
I also can only ask server app develiper @juliushaertl - it looks like you are running the latest server app version `1.0.5`.

Since version `1.0.0` of the server app, the title is allowed to be `255` characters long - the Android app allows therefore `255` characters for the title - you have ebtered `138` characters (should be fine).

@juliushaertl is there a way to find out
- what the limitation

[2020-08-18 12:07] aproposnix commented on #657
@stefan-niedermann

The workaround fixes the problem with syncing the card back to the server from the Android app. If I understand correctly, the errors will go away with a future release - see https://github.com/nextcloud/server/issues/20490

[2020-08-18 12:32] stefan-niedermann commented on #657
Glad to hear!

However i am not sure whether the linked issue really solves the problem and i'd like to wait for @juliushaertl statement befoee closing this issue.

Besides this topic: Any other issues you are facing with the app?

[2020-08-18 16:19] aproposnix commented on #657
@stefan-niedermann

 According to @juliushaertl

Other than the app allowing the long title, I've no other issues with this.

Thanks a lot for working on these apps. I'm using both your Deck app as well as the Notes app every day. It's all very important to my workflow.

[2020-08-18 19:23] juliushaertl commented on #657
Running `show create table oc_deck_cards` should give you the database schema of the cards table that indicates the length of the title column

Hm, depending on the output of the first, could you maybe also post the output of `select * from oc_migrations where app='deck';`

[2020-08-20 11:44] stefan-niedermann commented on #657
Glad to hear that.

According to [your sarcastic comment](https://github.com/nextcloud/deck/issues/2207) this is hard to believe.

If you expect support and help next time, you should consider to directly ask instead of putting a 2★ rating at the Play Store for a single issue which ultimately is caused by *your* broken instance.

You did not even update your rating. For an open source project whic

[2020-08-20 11:44] #657 closed

[2020-08-20 12:12] aproposnix commented on #657
Wow. I'm sorry if you took my comment as sarcasm. It really want meant to be.. I'm happy to have the Android app as a backup to the desktop. Seriously, all apologies for offending.

[2020-08-20 12:23] desperateCoder commented on #657
Seems like we have a little misunderstanding here. I didn't get the comment as sarcasm, so I didn't take anything personal here. No worries @aproposnix, you provided some very useful hints for fixing a bunch of errors.

On the other hand I don't see beta-user ratings in play store, but if you like our work as much as you state, I'd like to know what we did wrong to get a two-star-rating? No need t

[2020-08-20 12:28] aproposnix commented on #657
Yeah, I've updated the beta rating already. I completely just forgot to do it to be honest. I try to limit my interaction with Google play.

[2020-08-20 12:35] desperateCoder commented on #657
Thanks buddy, really appreciated! I think the rating was the point leading to the misunderstandings here, I've had forgotten to update it too, I guess 😅

And thanks for not taking it personally and your maturw reaction here.

For any further issues - we're here.

[2020-08-20 13:54] stefan-niedermann commented on #657
Apologies. Had a bad day, sorry for my misinterpretation, i overreacted. 😕

[2020-08-21 13:58] HelplessFool opened #660 "Add workaround for known issue in FAQ.md"
On selecting account and allowing access the following error is received:

[code]

Deck works with two other devices running the same version of the app.  I can see files on the cloud using the nextcloud app.  No errors occur there.

What further information would help you debug this?

[2020-08-21 19:17] digitalrevisor opened #661 "302"
[code]

Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https://try.nextcloud.com):
- [ ] Yes
- [ ] No

Ste

[2020-08-21 19:47] fahrradflucht opened #662 "Exception on card deletion"
**Describe the bug**

Deleting a card works flawlessly, but consistently throws a null pointer exception.

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https://try.nextcloud.com):
- [x] Yes
- [ ] No

Steps to reproduce the behavior:
1. Open Hamburger Menu on card in overview
2. Tap delete card
3. See error

**Versions**
 - Nextcloud: 19
 - Nextcloud Deck: 1.0.5

[2020-08-22 04:57] #662 closed, assigned to nobody

[2020-08-22 13:39] aproposnix opened #663 "Allow archiving cards from filtered results only"
**Describe the solution you'd like**
I would like to be able to filter my cards based on tags and to archive only the cards in that filtered view.

1. User applies filter for Tag X
2. User Sees filtered Results with only cards containing the tag 'X'.
3. User selects "Archive Cards" from the menu
4. All cards with the tag 'X' in that column are archived
5. user removes filter
6. All cards without t

[2020-08-22 20:38] MelBourbon opened #664 "Profile picture (avatar) not shown in app"
**Describe the bug**
Avatar (profile) picture is not shown when user is assigned to a card in the Deck Android App even if it's selected on server and correctly shown in Nextcloud App. Instead the standard picture is shown for all users.

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https://try.nextcloud.com):
- [x] Yes
- [ ] No

Steps to reproduce the behavior:

[2020-08-26 10:21] piiskop opened #670 "The UI isn't scrollable using a smartphone on the second time."
**Describe the bug**
If I go to deck using a smartphone, I can scroll the cards for the first time but after I remove my finger, the view isn't scrollable anymore, so I can't see the cards that don't fit to the list unless I refresh the page.

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https://try.nextcloud.com):
- [x] Yes
- [ ] No

Steps to reproduce the behav

[2020-08-26 10:43] stefan-niedermann commented on #670
Hi, this repository is only about the native Android App, not about the web app.

There is already an open issue in the correct repository, please check out this: https://github.com/nextcloud/deck/issues/1960

[2020-08-26 10:43] #670 closed

[2020-08-26 10:52] stefan-niedermann commented on #670
This app **is** **F**ree and **O**pen **S**ource **S**oftware.

You can [build it yourself](https://github.com/stefan-niedermann/nextcloud-deck) or use it from [F-Droid](https://f-droid.org/de/packages/it.niedermann.nextcloud.deck/). The Play Store version is identical and build from exact this source code. It is paid as we see it as a donation for the further development.

Seems like you confound

[2020-08-26 10:58] piiskop commented on #670
I didn't know that, just saw 2.99 euros or something.

The app seems to function well regarding to scrolling, just tried it from F-Droid.

[2020-08-26 11:25] stefan-niedermann commented on #661
[Why this issue has been closed](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed)

[2020-08-26 11:25] #661 closed

[2020-08-26 11:29] stefan-niedermann commented on #605
I will close this issue as we were able to solve it for @skeal (please reopen if i didn't remember correctly).

@tobiasKaminsky

Maybe there is a problem with the transition…

If we can provide help (open an issue in *your* tracker or so) let us know!

[2020-08-26 11:29] #605 closed

[2020-08-26 11:31] stefan-niedermann commented on #660
@HelplessFool can you please install the "Nextcloud Notes" app on your server abd on your phone and try to connect? This way we might able to detect whether the problem is in the Deck app itself or in the lib (or files app).

[2020-08-26 13:05] HelplessFool commented on #660
Nice idea.

I've installed notes on the server and on my phone (Deck works) and tablet (Deck doesn't work).

- Notes worked straight away on the phone, no issues.
- Notes doesn't work on the tablet.  Looks like a very similar error message to the one at the top of this thread.
    - Only difference I can see by eye-balling is that the line about Deck version is missing.

So, I'm guessing the issue

[2020-08-26 13:23] aproposnix opened #671 "Open boards of projects within the app"
**Describe the solution you'd like**
When I click on a relationship with another Deck board, I would like to have it open to that board within Deck.

Currently the links just open in the mobile browser and not within Deck.

**Describe alternatives you've considered**
I can just open the linked project in the mobile web browser.

[2020-08-26 13:40] stefan-niedermann commented on #671
Yes, we have to face the same problem like on push notifications: It is possible that the card has not yet been synced to the app yet. Therefore we have to look into the database, sync if possible and then return the card.

[2020-08-26 17:51] David-Development commented on #660
It does indeed look like an issue with the communication between the single sign on library and the nextcloud app. If you have disabled all power saving features (if available) I'm kinda running out of ideas as well. It is really difficult to debug this problem deeper as you would need to build the app yourself (including the single-sign-on library) and try to debug it. However I'm not sure if thi

[2020-08-26 18:23] HelplessFool commented on #660
@David-Development How would I find more logcat output?  What I provided initially was the error message that you can copy from the app.  I'm happy to provide if I know how to get at it.

[2020-08-26 18:59] stefan-niedermann commented on #660
@David-Development According to [this medium article](https://medium.com/mobile-app-development-publication/debug-messages-your-responsible-to-clear-it-before-release-1a0f872d66f) not :man_shrugging:

[2020-08-26 19:05] David-Development commented on #660
@HelplessFool you should be able to find the logs by using an app (for example https://play.google.com/store/apps/details?id=com.nolanlawson.logcat&hl=de_CH) or by connecting your tablet to your computer and by running the `adb logcat` command (however if you don't have adb yet the app I mentioned before might be the easiest option - otherwise you can find a tutorial on how to install adb here: ht

[2020-08-26 19:24] HelplessFool commented on #660
@David-Development I've got adb working so will have a look.  Is the best thing to do to try the app, have it fail and then plug in and use adb?  Anything particular that I should look for to know whether I'm looking at useful stuff or just random goings on on the device?

[2020-08-26 20:02] David-Development commented on #660
@HelplessFool Would be good if you close both apps (nextcloud files app and deck app) and then start "recording" the log. Then start the deck app and try to login. Make sure that no sensitive data is in the log before sending it to us 🙂 Thank you!

[2020-08-26 20:33] HelplessFool commented on #660
I think this is it:  Tell me if you need more context.
I've cut out a bit in the middle that looks like it's another app trying to do stuff.
[code]

[code]

[2020-08-27 14:01] desperateCoder commented on #660
08-26 21:22:38.820  1008  1525 W ActivityManager: Unable to start service Intent { cmp=com.nextcloud.client/com.owncloud.android.services.AccountManagerService } U=0: not found

I guess that's what we're looking for. Who or what the hell is TabletMasterService?

[2020-08-27 14:03] desperateCoder commented on #660
See this, below the post there is a guide you could try regarding "memory usage"

[2020-08-27 14:56] HelplessFool commented on #660
That sorts it!!!!!

Thank you.  I've been struggling with the memory usage stuff.

I've done some further debugging so that the exact issue can be identified.  The results are as follows:

- Memory usage isn't the issue.
- Auto-start apps restrictions is.
    - Auto-start apps doesn't need to be permitted for Nextcloud.
    - Linked start-up apps does need to be permitted for Nextcloud (and appear

[2020-08-27 18:21] stefan-niedermann commented on #660
Absolutely! Thank you very much for the great research! Let's keep this issue open until i found some time to update our README.md and maybe @David-Development wants to add some kind of "known issues" section in the SSO README.md?

[2020-08-28 06:32] stefan-niedermann commented on #664
This is a strange one. I have a few questions @MelBourbon

- Is your user avatar shown in the top right of the app, where you can manage your accounts?
- Do other users of your instance also see no avatar or is it visible for them?
- Can you create a test account and share the credentials with info@niedermann.it so we can try to reproduce the problem?

[2020-08-28 06:37] desperateCoder commented on #660
@HelplessFool your nick name seems to be a lie to me. Thanks for the badass research, your responsiveness and your cooperation, that helps you, us, and other users! Great job buddy!! ❤️

[2020-08-28 09:54] MelBourbon commented on #664
Hi @stefan-niedermann
- No, only the placeholder is shown in the top right of the app (see screenshot attached)
- No, other users also only see the placeholder picture (second screenshot attached was made by another user)
- Test account is created and credentials will be send by mail

Screenhot 1:
![Screenshot_20200828-113530](https://user-images.githubusercontent.com/30600002/91548058-1f839400-e9

[2020-08-28 10:49] stefan-niedermann commented on #664
Thank you very much. The first impression is, that your Nextcloud instance is not in the root directory of your domain but under a subfolder `example.com/nextcloud` - this might be the cause. You checked, that the issue is reproducible with an account from `try.nextcloud.com` - are you sure this is valid? I will try to have a closer look soon, but i am currently a bit busy.

[2020-08-28 12:20] MelBourbon commented on #664
Yes, issue seems to be related to the point that instance is not in the root directory. I now checked it again with another instance by a friend which is in the root directory and there it is working.

[2020-08-29 07:16] stefan-niedermann commented on #664
@desperateCoder i need a way to get the absolute path to an instance. Can you check if there is a property in the `capabilities` response or so? Maybe we have to store it in the database and make it accessible. In this case we should perform a migration which puts `example.com` there until the next sync (which might or might not change it to `example.com/mycloud` then).

[2020-08-29 12:39] jvlker commented on #664
I can confirm that issue. I got only the default avatars and hosted my nextcloud exactly in the described subfolder (url/nextcloud)

[2020-08-29 14:17] desperateCoder commented on #664
@MelBourbon any chances, your server just has died or something?

![grafik](https://user-images.githubusercontent.com/6911132/91638915-1bce3b00-ea13-11ea-9e4f-c1cb25dd59a1.png)

[2020-08-29 14:32] desperateCoder commented on #664
@MelBourbon The domain can't even be resolved (DNS lookup fails), something is quite broken there... I can confirm it worked a few hours ago (you got some nice photographing skills - respect!). Now as I wanted to fix this issue, the site is gone...

Please have a look what's wrong there and give some feedback as soon as it is back up.

[2020-08-29 14:43] desperateCoder commented on #664
@MelBourbon ok it seems to be back, but holy cow, it tells me the following:

[2020-08-29 15:30] MelBourbon commented on #664
@desperateCoder Sorry. Was not aware that you will need my instance to test. Based on this issue and as I always wanted to do I switched to the main url only (without `/nextcloud`). With this my instance is not the right one for testing this issue. Sorry for the inconveniences.

[2020-08-29 16:08] desperateCoder commented on #664
@MelBourbon no problem buddy! My primary concern was, that your server just broke and no one has a clue why :sweat_smile:

@jvlker would you mind providing us a test-account on your instance? If you send the credentials to info@niedermann.it, I'll have a look how we can fix this, so you and other users don't need to move your instance around. Would be much appreciated, after @MelBourbon stole our

[2020-08-29 18:38] jvlker commented on #664
:D
@desperateCoder yes, I can grant you access to my instance. You'll get an email soon.

[2020-08-30 10:38] desperateCoder commented on #664
@jvlker thank you very much for the test account, I was able to run some tests on it already.

"Unfortunately" the URL to the avatars seems to get built correctly, we already **do** take the `/nextcloud` into account, but somehow the avatar still doesn't want to get displayed...

Please keep the test account a few days more, so @stefan-niedermann can test these days, too.

Again: thanks for your h

[2020-08-30 14:17] stefan-niedermann commented on #664
Okay, my tests so far: I can confirm that this `curl` works:

[code]

I can also confirm that the correct url is requested:

[code]

So: The `/nextcloud` subfolder does not seem to be the root cause (even if it seems to be since you both have issues and both have a similar setup).

Further investigation...

[2020-09-01 10:39] jakobroehrl opened #673 "💬 Allow mention users in the comments"
In the browser the @ sign shows up a list of users to mention.
This function would be nice to have here, too.

[2020-09-01 10:54] stefan-niedermann commented on #673
I think we need support in the server app before we can implement it. The `description` property includes more meta data about the mentions, we need this stuff for the comments, too.

[2020-09-01 10:59] jakobroehrl commented on #673
cc @juliushaertl

[2020-09-01 11:02] stefan-niedermann commented on #673
Forget it, i didn't read the issue correctly. I am dumb. We don't need anything from the server, sorry for the noise. 😳

[2020-09-01 11:15] EnRic0111 commented on #160
Hey, thanks for the Deck Tool with Nextcloud. I'll just test to use nextcloud and its Apps for my Company, especially Deck. Its simple and works well. I just brought your mobile Android App Deck and checked if i get notifications from the notes i set. In here i saw you already working on it, great. If it's possible, you could implement the feature. Please let us know the progress in here. Many tha

[2020-09-01 11:35] stefan-niedermann opened #674 "Parse colors with alpha channel"
For reference: https://github.com/nextcloud/deck/pull/1545#discussion_r481067417

It might be *possible* to receive color with a format `#rgba` and `#rrggbbaa`. We need to make sure that our `ColorUtil` is capable of parsing a correct color in this cases (+ extend the UnitTests).

[2020-09-01 12:24] juliushaertl commented on #674
We will just drop those for now in deck and apply the rgb values there, since both the frontend and database of deck currently only support plain colors without an alpha channel. However for the future it might make sense to already have this available in the app :wink:

[2020-09-03 15:49] #674 closed

[2020-09-03 15:57] stefan-niedermann commented on #652
Maybe we should use the same regex as the server for feature parity (or provide a PR for the server to adapt our solution?)

[2020-09-03 16:00] stefan-niedermann commented on #452
Maybe we can find a solt in the upcoming conference? 2020-10-06 - 2020-10-08? I am sure @juliushaertl and @tobiasKaminsky (andaybe @AndyScherzinger) are interested as well?

[2020-09-03 16:35] stefan-niedermann commented on #608
So, lists are already cloned, and i implemented the UI part for also cloning the cards.

@desperateCoder please see branch `608-clone-cards-when-cloning-boards`, i left you a `TODO` in `SyncManager#cloneBoard` to respect the `boolean` flag `cloneCards`.

[2020-09-03 16:54] stefan-niedermann commented on #671
@desperateCoder i need some regex magic to parse the `boardRemoteId` and `cardRemoteId` from

`/index.php/apps/deck/#/board/45/card/34`

and the `boardRemoteId` from

`/index.php/apps/deck/#/board/45`

please add two static methods to `CardProjectResourceViewHolder` which both expect a `@NonNull String url`

[2020-09-03 17:13] stefan-niedermann commented on #673
@desperateCoder i need some regex magic for `if <anything-or-empty>@<anything-except-whitespaces-or-enter-or-space> then true`

[2020-09-04 09:21] desperateCoder commented on #671
Done [in master]. works a little bit different than you wanted (you got only one method for both), but it is much more performant like this.

I documented it as well, i guess you gonna be happy with it, once you try it. It even provides a little bit of error tolerance as well (stuff as trailing `/`s and stuff).

Hope it works out

[2020-09-04 09:44] stefan-niedermann commented on #671
Nice, i added some unit tests in `ProjectUtilTest.java` and set them to `@Ignore` because some of them still fail. Would you mind having a look at the different scenarios?

[2020-09-04 10:58] juliushaertl commented on #673
As a small hint, mentions also might be like `@"User Name" if the uid in Nextcloud contains spaces.

[2020-09-04 11:05] stefan-niedermann commented on #664
@MelBourbon and @jvlker do your user ids contain a space character?

[2020-09-04 11:18] desperateCoder commented on #671
done.

[2020-09-04 11:49] desperateCoder commented on #673
Great hint @juliushaertl, thanks! Additionally we wondered, what exactly is valid for a uid. Are `-`, `_` or any other special characters allowed?

[2020-09-04 13:19] desperateCoder commented on #673
@stefan-niedermann have a look. Also see `CommentsUtilTest` and add, whatever you can imagine.

[2020-09-04 14:41] juliushaertl commented on #673
https://github.com/nextcloud/server/blob/cb057829f72c70e819f456edfadbb29d72dba832/lib/private/Comments/Comment.php#L231 might help ;)

[2020-09-04 17:04] #673 closed

[2020-09-04 17:04] stefan-niedermann commented on #673
Will be shipped in `1.10.0`

[2020-09-04 18:54] jakobroehrl opened #679 "show more than 7 assigned users"
It's not possible to see more then 7 assigned users:
![Screenshot_20200904-193443](https://user-images.githubusercontent.com/24530680/92276144-bdacc680-eef0-11ea-997c-a4019060481e.jpg)

[2020-09-05 07:03] wiwie opened #680 "Loading indicator is shown indefinitely and no synchronization"
Android deck version: 1.9.7
Server deck version: 1.0.5

We often have the problem that when editing a card and navigating back to the card overview, the loading indicator is shown indefinitely but apparently no synchronization is happening. Only when forcefully closing the app and reopening it the edits of other persons are shown.

[2020-09-05 07:37] jakobroehrl commented on #597
@stefan-niedermann
Do you have an idee when this awesome filter widget could be ready? Would love to test it.
Would it be possible to create a widget that shows these upcoming cards? https://github.com/nextcloud/deck/issues/2231

[2020-09-05 13:17] stefan-niedermann commented on #680
The sync is currently pretty slow because all the data have to be transferred completely. A little server hickup might interrupt this process. We are currently working on `ETag` support which will drastically speed up the sync and save much data transfer. If you agree, I propose to close this as it is nearly impossible to debug and would like to ask you to report the problem if it still occurs wit

[2020-09-05 13:36] wiwie commented on #680
Yes, i totally agree that it's almost impossible to debug as is. I think before closing this I'll look for something in the logs?

[2020-09-05 13:58] stefan-niedermann commented on #680
Yeah, feel free to install an ADB-app to read the debug logs 🙂

[2020-09-06 13:22] jvlker commented on #664
@stefan-niedermann no, its similar to my github name, only letters.

[2020-09-06 18:05] jakobroehrl commented on #680
I have exactly this problem when I open the deck app and do a reload. The app was running in the background.
Killing the app "solves" this issue. Its not a performance issue, I only have some cards, after killing the app the sync only takes 1-2 secs

[2020-09-06 20:36] maxammann commented on #680
I have the same problem, but I think that there could be potentially a bug. I watched the ADB logcat while refreshing the app.

There is a lot of output for each request the app does. This stops after half a minute, but the loading spinner is still visible. The spinner keeps showing for at least 10min. The view of the board seems up to date.

This could mean that the loading spinner is not notifie

[2020-09-07 05:38] proserver1 opened #681 "move dialog: no cancel/move buttons when title long"
Steps to reproduce the behavior:

1 create a card with long title
2 check on device with small didplay like a common smartphone
3 try to move card to another stack
4 cancel/ move are not visible anymore

**Screenshots**
![Screenshot_20200907-072539~2.png](https://user-images.githubusercontent.com/5900693/92351788-d4177580-f0dc-11ea-90b0-0da756df85d1.png)

**Versions**
 - Nextcloud Android Deck: 1.

[2020-09-07 06:57] stefan-niedermann commented on #681
I am sure you checked this already, but: The dialog is not scrollable, is it? You can't scroll down to reach the buttons?

[2020-09-07 07:49] proserver1 commented on #681
no, it's not scrollable (just rechecked to be sure)

On 07.09.20 08:58, Niedermann IT-Dienstleistungen wrote:

--

Mit freundlichen Grüßen / Kind Regards
Peter Vratny

PROSERVER1.AT EDV-Dienstleistungen
Welser Strasse 91
A-4643 Pettenbach
Tel    : +43.123.6605060
Fax    : +43.720.605060/20
Störung 24/7: +43.123.6605060/30

https://www.proserver1.at

Anleitungen und Kundentools:
https://tools.prose

[2020-09-07 21:16] stefan-niedermann commented on #679
Wrapping the `LinearLayout` in a `HorizontScrollView` should be a quickwin.

[2020-09-07 21:16] stefan-niedermann commented on #671
Opening cards within the app has been implemented and will be shipped with `1.10.0`. I will keep the app open for opening boards within the app.

[2020-09-07 21:20] stefan-niedermann commented on #680
It might be caused by the queueing mechanism. If one opens the app it will always perform a sync (1). If one does a pull to refresh, a second sync (2) is triggered, but it will wait until the (1) first sync finished and then start.

Maybe there is some kind of conflict under special circumstances which prevents the "end" event to reach the UI or so. 🤔

[2020-09-08 09:18] stefan-niedermann commented on #597
Not yet, sorry. We are busy with `ETag` support and some other stuff. Yes, i think it should be possible.

[2020-09-08 15:56] #681 closed

[2020-09-09 19:56] maxammann commented on #680
I will take a look at the logcat logs in the following days/weeks

[2020-09-09 20:11] desperateCoder commented on #680
@maxammann totally appreciated! It's hard to fix those kind of bugs blindly. Thanks for your help and thanks for the report @wiwie !

[2020-09-11 11:18] desperateCoder commented on #652
Dug into this, the current regex is valid, since there is no opening `[` to the last closing `]`. But anyways, if you ask me, you can simply close this, since we already find those checkboxes, regardless the listing char. I'd expect id just like it is.

Do you think there is more to do @stefan-niedermann?

[2020-09-11 13:14] #652 closed

[2020-09-11 19:08] stefan-niedermann commented on #679
Seems to be not that trivial. If we use an `HorizontalScrollView`, this are cannot be used anymore for swiping between the tabs.

I guess we need some kind of `GridView` therefore, like in the attachments fragment. This had also the benefit of all avatars being visible directly without scrolling.

[2020-09-11 19:12] stefan-niedermann commented on #671
Opening the board within the app needs some more work: We need an `startActivityForResult` when opening a card with an appropriate return code, because we need to end the `EditActivity` to be finished to return to the `MainActivity`. A drawback of this solution is that if one opens a card from another activity (like push notifications), this will not work.

Another idea is to parametrize the `Main

[2020-09-12 08:59] maxammann commented on #680
Here is a log, which shows a problem. The server responds with a 304 in the last line. The loading spinner does not disappear and a later refresh is not possible.

[code]

[2020-09-12 11:48] stefan-niedermann opened #683 "NPE (reported via E-Mail)"
[code]

[2020-09-12 13:02] desperateCoder commented on #683
I'm pretty sure this is fixed with the clone cards feature. We just need to verify that after a release

[2020-09-12 14:36] desperateCoder commented on #608
@skeal Thanks for your patience! I worked on this feature these days and have to admit, that it wasn't nearly as easy as i expected. I had several issues with concurrency and stuff, but I now finally have a kind-of "does what it should do" version:

APK download: [вєωαяє, ι αм ƒαη¢у!](https://github.com/stefan-niedermann/nextcloud-deck/suites/1178100139/artifacts/17219730)

As always: this is a De

[2020-09-12 16:20] stefan-niedermann commented on #683
Sobald ich die Startseite von Deck öffne mit dem zuletzt geöffneten Board mit der zuletzt angesehenen Liste

[2020-09-15 10:52] desperateCoder commented on #608
Ping @skeal :see_no_evil:

[2020-09-15 11:21] skeal commented on #608
Sorry for not having answered yet. I tried it and it looked really good ... Until restart of your Deck Dev version. It then duplicated the copied cards again (Before: Fahrzeugcheck, Materialcheck; After: Fahrzeugcheck, Fahrzeugcheck, Materialcheck, Materialcheck)

This also is shown then in the browser version of deck in nextcloud.

So the board itself is copied once with cards and then the cards

[2020-09-15 11:29] desperateCoder commented on #608
@skeal no worries, thanks for the reply!

Aaaw snap. I thought I had fixed that... On the other hand: the app is trying to make sure, the trucks are double-checked, **its a feature**! :smile: Just kidding, I'll see, if I can reproduce it or what else is wrong. Thanks for the feedback so far!

Your board has two lists, right? My first guess would be, that it is synced once per list...

[2020-09-15 11:35] skeal commented on #608
Yes there are the lists "Zu erledigen" and "Erledigt" currently for testing. The board also has two cards in "Zu erledigen". "Erledigt" is empty currently.

[2020-09-15 15:22] kstlv opened #684 "Spelling errors in Russian"
The file contains spelling errors. File path: `nextcloud-deck/app/src/main/res/values-ru/strings.xml`

**Wrong strings**

[code]

**Right strings**

[code]

[2020-09-15 15:26] desperateCoder commented on #684
Hi @kstlv,

thanks for the report! My (russian) girlfriend approved it, we'll fix that!

[2020-09-15 18:28] stefan-niedermann commented on #684
cc @rakekniven

[2020-09-16 16:17] stefan-niedermann commented on #684
Thank you very much @rakekniven !

@kstlv this will be fixed in the next released version.

[2020-09-16 16:17] #684 closed

[2020-09-18 00:59] creywood commented on #680
I'm also seeing this.

If you need any further logs etc let me know.

[2020-09-22 20:46] Solar-Simon opened #686 "crash on start"
**Describe the bug**
When I start the Deck App following Error appears:

[code]

The App was running fine till I moved the hole server to another provider. The dns was still the same, leading to a different IP

**Versions**
 - Nextcloud: 19.0.3
 - Nextcloud Deck: 1.1.0
 - Nextcloud Android: 3.13.0
 - Nextcloud Android Deck: 1.9.7

[2020-09-22 21:02] desperateCoder commented on #686
Hi @Solar-Simon, thanks for your report! First time seeing this kind of issue, so I think you just nailed it by mentioning, that you moved your server.

Have you already set up your new account at the files app?
1. If yes: Try to delete the app-data of the Deck app and relogin into your account, just like as you would after first installation.
2. If no: do so, then do the steps in 1.

Please provi

[2020-09-22 21:07] Solar-Simon commented on #686
I tried all that.
* I deleted app-data
* I uninstalled the app and reinstalled
* I uninstalled the nextcloud app and reconnected the account from beginning.

it happend already several month ago and I was just waiting for some update to maybe solve it. But no its time to act ;)
The Error Log says: "Deck Server Version: 0.6.4", But isn't it 1.1.0? Is there something wrong?

[2020-09-22 21:43] quanticPI opened #687 "Handle not available server better"
**Given the server is not available**, we have currently a bad handling in some cases.
To reproduce, temporarily rename `index.php` of your instance to something else, so the endpoint is no longer available.

## No. 1: Creating boards does not do anything

**Actual behavior:**
Nothing happens

**Expected behavior:**
- Create board locally
- Display some kind of error message after the failed sync

[2020-09-23 05:59] stefan-niedermann commented on #686
`0.6.4` is our minimum supported server version and will be used as default in case the actual server didn't respond as expected. It's just the log, imagine it as `unkown`

[2020-09-23 10:41] desperateCoder commented on #686
Did you try it in the mentioned order? Because you need to reconnect the Nextcloud files app first, then reconnect Deck.
Does the files app work flawlessly with your new server?

No need to wait, unless you're lazy :smile: We're happy to help as fast as we can and we aren't afraid of duplicates. It is better to know the issues fast than having unhappy users out there waiting for a fix for a proble

[2020-09-24 09:39] digitalrevisor commented on #661
Deck sidemenu doesnt work well on android browser chrome.

Fix it pleace.

Same issue on android mobile app Deck as last time. I dont fix to connect
my account. It should be easier to log in for users!!!

Med vennleg helsing

Roger Hopland

Dagleg leiar - partner

[image: RG_logoikon_e-post (2)]

Revisorgruppen Fjordane AS

Naustdalsvegen 1B, 6800 Førde | Avdelinger - Bergen | Nordfjordeid | Stryn

[2020-09-24 09:41] digitalrevisor commented on #661
The issue is here.

[code]

Med vennleg helsing

Roger Hopland

Dagleg leiar - partner

[image: RG_logoikon_e-post (2)]

Revisorgruppen Fjordane AS

Naustdalsvegen 1B, 6800 Førde | Avdelinger - Bergen | Nordfjordeid | Stryn |
Måløy
*S:* +47 57824090 | *M:* +47 90077351 | *E:* roger@r-r.no | *W:* www.rg.no

[image: felles:Kunder:Revisorgruppen:UHY logos:UHY logo.eps]

Medlem av UHY International, e

[2020-09-24 10:09] stefan-niedermann commented on #661
Let me quote the Guidelines for submitting bug reports:

Please open issues regarding the deck server app in the [correct repository](https://github.com/nextcloud/deck/issues/new?template=Bug_report.md).

You are using version `0.6.0` of the Deck Android app. The current version is `1.9.7` (Yes, a few months and a new major version have passed in the meantime).

If you want support from us, i sugg

[2020-09-26 10:08] goldengel commented on #686
I had same issue since several month. I solved i by the following:

Nextcloud Version: 19.0.3
Server Version: Deck 1.0.5
App Version 1.9.7

Problem: Deck App does crash on startup
Reason: Some conflicts on parsing attached files
Solution: Delete attached files in SQL database ‘oc_deck_attachment’

Connect in Deck App with account > wait 1 minute (if nothing is responding in app) > kill app > re-op

[2020-09-26 14:02] desperateCoder commented on #686
@goldengel thanks for your suggestion! Are you really sure the error mentioned something like `Account.getUserName()` has failed? At this point, the app didn't even attempt to connect to the server, since it hasn't any information about it :thinking:
I'm pretty sure you had some different problems than @Solar-Simon, but great that you care enough to suggest your solution! Thanks for sharing!

[2020-09-26 14:06] desperateCoder commented on #686
@Solar-Simon would you mind providing us a test account on your instance? I'd like to see, if I get the same error on my development machine, I'd be able to track down the root cause.
No need for much disk space or stuff, just a regular account with minimum permissions would be enough.
If you're fine with it, please create it and send the credentials to info@niedermann.it - thanks in advance!

[2020-09-26 14:14] desperateCoder commented on #687
Hi @quanticPI, thanks for your report!
I just tried it, but it worked for me :confused:
What I did:
- set Android to airplane mode
- create a board
- enter a list name

After that, the app instantly opened the newly created board and showed the created list. The board was also listed in the sidebar. Did I miss something here? Did you do anything differently?

@stefan-niedermann could you please co

[2020-09-26 15:02] stefan-niedermann commented on #687
I can confirm that it works for me - @quanticPI can yiu reproduce this issue every time? Have you set "Sync on wi-fi only" preference active?

[2020-09-27 14:51] quanticPI commented on #687
Hi @desperateCoder, @stefan-niedermann ,
I confirm that setting my phone to airplane mode works for me too.

What I do is I don't turn on airplane mode, phone has Internet access, but I turn off my Nextcloud server so what I think happens is the app tries to connect but in the end it fails to receive a respond from the server. I suppose in airplane mode tha app handles the offline mode correctly b

[2020-09-29 09:38] Solar-Simon commented on #686
Hey, not so sure weather this is a good message now:
I reinstalled the Deck App on my phone once again - now it's working all fine.
So I cant reproduce the error anymore.
For now this Issue could be closed, from my side.
Any further questions? Thanks for your quick and friendly help!!!

[2020-09-29 09:44] stefan-niedermann commented on #686
Well first of all: good news for you! Thank you for the update. 🙂

I guess it will be nearly impossible to find the exact root cause, especially since you can not longer reprouce it yourself.

Let's close it for now and spend more time on an analysis in case you ever experience it again.

It might have to do with your server migration (anything not fully initialized or so) or a server hickup or ma

[2020-09-29 09:44] #686 closed

[2020-09-29 09:56] desperateCoder commented on #686
Glad it worked out for you!

I guess it was just the order of things you tried - I'm fine with that as long as it works for you.

Very appreciated, thanks!

Sure, you're welcome, any time!

[2020-10-01 08:26] stefan-niedermann opened #689 "OfflineException"
## Steps to reproduce

1. Activate "Sync only on wi-fi"
2. Disable wi-fi (mobile data is enabled)
3. Open a card with projects
4. Click on a project

[code]

[2020-10-01 08:38] stefan-niedermann commented on #663
No, this action is always in the context of the current list. It should never archive cards from other lists.

When we "Archive cards", we know in the UI the current `Filterinformation`. We should pass it down to the archive method of the `SyncManager` - no need to iterate the visible cards.

@desperateCoder you can already prepare the called method (just copy it and add the`Filterinformation` to

[2020-10-01 10:17] desperateCoder commented on #663
@stefan-niedermann To get this straight: you'll give me `FilterInformation` and a `stackId`, and I am supposed to delete alle filter results for the specified stack, not all matches of the 'FilterInformation', right?

Thumb up for "thats right", otherwise correct me.

[2020-10-01 11:55] stefan-niedermann commented on #663
Yes, except one detail:

Not `delete` but `archive`.

[2020-10-01 12:28] aproposnix opened #690 "Add "Upcoming cards" board to mobile app"
**Describe the solution you'd like**
Add the "Upcoming cards" board to the mobile app. So when the user opens the blade menu, they will see it listed as the first board in the board list.

[2020-10-01 13:12] stefan-niedermann commented on #690
I am not 100% sure about this feature. I think this is a better use case for a widget instead of the app itself - (and will be covered by #597 in this case. The server app doesn't have this possibility, but on the Android platform i'd rather think that this should be handeled by a widget - open for other opinions, though :)

[2020-10-02 12:17] aproposnix commented on #690
@stefan-niedermann Yeah, I think a widget could do the trick. Basically it would be an agenda view that would show all upcoming tasks + past due.

[2020-10-03 14:38] stefan-niedermann commented on #569
There was an implementation error. We are working on a fix on branch `push-notification-rework`.

[2020-10-03 15:35] #569 closed

[2020-10-03 15:36] stefan-niedermann commented on #569
Will be fixed in version `1.10.0`.

[2020-10-03 15:37] #689 closed

[2020-10-03 15:49] desperateCoder commented on #608
@skeal Ok, so I investigated this a little more and couln't find any issues. I'd suspect a server-hickup or something. If you encounter any further issues, please report! This feature will be shipped with version 1.10.0. Enjoy (in case it works :sweat_smile:)

[2020-10-03 15:49] #608 closed

[2020-10-03 17:04] stefan-niedermann commented on #160
Actually this is already working in the meantime:

Since we have implemented Push Notifications a few releases ago, you will get notified in the app when a card reaches its due date.
No need for external solutions with calendar and stuff - the Deck server app sends a notification and the Android App handles it.

Indeed this is way better since any local solution within the App because the server a

[2020-10-03 17:04] #160 closed

[2020-10-03 17:05] stefan-niedermann commented on #160
PS.: There is a known issue with Push Notifications in the current release - but it is already fixed and will be shipped in `1.10.0`.

[2020-10-03 17:21] stefan-niedermann commented on #663
@desperateCoder see `SyncManager#archiveCardsInStack` - it now gets the `FilterInformation` object. Do something with it :)

[2020-10-03 19:34] stefan-niedermann commented on #679
Fixed. Will be shipped with `1.10.0`.

![grafik](https://user-images.githubusercontent.com/4741199/95000323-28b8ee00-05c0-11eb-9a95-4d317ea67ecc.png)

[2020-10-03 19:34] #679 closed

[2020-10-03 20:47] #556 closed

[2020-10-04 09:52] stefan-niedermann commented on #663
Fixed & will be shipped with `1.11.0`.

Only the visible cards of the list will be archived now (If you have an active filter, only those cards which are left will get archived instead of *all*).

[2020-10-04 09:52] #663 closed

[2020-10-04 11:21] stefan-niedermann commented on #683
Should be fixed in the latest releases. If occurs again, open issue.

[2020-10-04 12:27] tacruc opened #694 "Shard board not shown in the app."
First of all thanks for the nice app.

**Describe the bug**
I have an minor issue with it. On my web interface there are two boards.
One is owned by an other user, on my app I only see my personal board.

**Screenshots**

![grafik](https://user-images.githubusercontent.com/402891/95015242-2e5c1580-064c-11eb-9887-61b67f040f1b.png)
![grafik](https://user-images.githubusercontent.com/402891/95015536-

[2020-10-04 12:31] stefan-niedermann commented on #694
@tacruc have you tried to perform a full sync (pull to refresh)?

And can you also try to ask your friend to create a new board and share it with you? So we can get an idea of whether this is an issue with this specific board or with the sharing itself?

[2020-10-04 12:38] tacruc commented on #694
I removed and readded my account, now every board is there.
So I don't know what went wrong before.

[2020-10-04 12:38] #694 closed

[2020-10-04 12:41] desperateCoder commented on #694
@tacruc :smile: those are my favourite bugs! Sorry for your inconveniences, i guess there has been a kind of network- or server hickup or something, that lead to a "hanging" state. If you have any more trouble with our app, open an issue any time! :smiley:

[2020-10-04 12:43] tacruc commented on #694
Don't be sorry. I'm happy you programmed the app.

[2020-10-04 12:45] desperateCoder commented on #694
Aaaaaw :heart:

Having grateful users like you is unlikely motivating, pays of for all the work instantly!  Thanks, and stay tuned and safe!

[2020-10-04 13:15] stefan-niedermann commented on #660
Pull Request for updating the README.md of SSO: https://github.com/nextcloud/Android-SingleSignOn/pull/258

[2020-10-04 13:15] #660 closed

[2020-10-04 13:26] stefan-niedermann commented on #612
@tuximail can you please test this again as soon as `1.10.0` has been released? This should be fixed starting with this version.

If it still occurs with `1.10.0` or higher, just reopen this issue please :)

Thank you for reporting the issue!

[2020-10-04 13:26] #612 closed

[2020-10-04 16:11] stefan-niedermann commented on #687
Not trivial. To reproduce one can temporarily rename `index.php` to something else and then try to create a card.

[2020-10-05 14:07] aproposnix commented on #663
@stefan-niedermann I was offered an updated version on play today (it says version 1.10 but it's from the beta channel). After installing it, the filtering is broken as I am not able to select them from the list. I'm not sure if it's caused by this ticket or not.

[2020-10-05 14:27] desperateCoder commented on #663
@aproposnix sorry if that's a dumb question, but as I was testing the feature it took me a few seconds to realize, that the labels aren't clickable, I needed to tab on the row, but right to the label. Is that maybe your problem? @stefan-niedermann is this as-designed?

[2020-10-05 14:39] desperateCoder commented on #663
Ok, so apparently sometimes it's the little things 😅

That'd be great, thanks!

[2020-10-05 14:48] stefan-niedermann commented on #663
Yeah, please open a separate issue - i already noticed it (it was also the case in the last version), but with an issue it's easier to keep it in mind :)

[2020-10-05 14:50] aproposnix opened #696 "Filtering: Clicking on the tag label does not select the tag"
**Describe the bug**
When a user is in the tag filter, they cannot click on the tag label but they must click to the right side of the label.
This is problematic for left handed people.

**To reproduce**
1. Open tag filter
2. Click on the tag label (the bubble)
3. Nothing happens - it is not selected

**Expected behavior**
Clicking on the label will select the tag

**Smartphone (please complete th

[2020-10-05 18:51] aproposnix commented on #663
Just one more thing... just to be clear, does the current beta from the play store have this fix applied already?

[2020-10-05 19:51] desperateCoder commented on #663
I just looked up the commit history of the 1.10 tag and nope, sorry, tagged is tagged. But it will be shipped at 1.11, just as @stefan-niedermann promised. Maybe he's a generous guy and tag it soon 😉

[2020-10-08 07:51] #696 closed

[2020-10-08 07:54] stefan-niedermann commented on #696
Fix will be shipped in `1.11.0`, thanks for reporting!

[2020-10-09 12:22] aproposnix commented on #663
No, I'm still on the Google Play version mostly because it want the latest ASAP :)

[2020-10-09 13:07] desperateCoder commented on #663
@aproposnix oh, you mean the buggy ones? 🤣

Thanks for your patience and contributions, and for not just bragging about everything, but helping to get it fixed. You deserve a damn medal for that!

[2020-10-11 11:50] bspire opened #699 "Synchronization error"
I do repeatedly get the following synchronization error on Nextcloud Deck.

Is there anything I can do to get rid of this error?

[code]

[2020-10-11 11:57] stefan-niedermann commented on #699
This seems to be an issue of the recently released server app version `1.1.0`.
@juliushaertl can you have a look please?

[2020-10-11 12:00] stefan-niedermann commented on #699
Can you try to delete the card with the link to bild.de? `\\\/bild-plus\\\/sparfochs\\\/2020\\\/sparfochs\\\/mit-der-richtigen-strategie-klappt-es-ausgesorgt-haben-sie-wenn-73025862.bild.html`

[2020-10-11 14:43] desperateCoder commented on #699
Guess we should limit the title length @stefan-niedermann
Guess you should validate that, too @juliushaertl

@bspire shortening the title or renaming the card might already do the trick. If nothing works: try deleting the card as @stefan-niedermann stated

[2020-10-11 14:47] stefan-niedermann commented on #699
@desperateCoder we **have** limited the title length (to `100` characters until server version `1.0.0` and to `255` characters bginning with server version `1.0.0`) :thinking: (see [1](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/java/it/niedermann/nextcloud/deck/model/ocs/Version.java#L163) and [](https://github.com/stefan-niedermann/nextcloud-deck/blob/88df72060df

[2020-10-11 16:08] bspire commented on #699
The card does not exist anymore. I already deleted it on the mobile app. However, synchronization error still occurs.

[2020-10-11 16:10] bspire commented on #699
If I remember correctly, I created a new card via the Share functionality on Android.

[2020-10-11 16:15] desperateCoder commented on #699
Weird. Then please try to wipe the app data and reconnect to your account afterwards. This should definitely fix it. But make sure, any other changes are already synced to the server first.

[2020-10-11 19:58] bspire commented on #699
Clearing app data resolves the issue.

Still weird how the problem could arise.

[2020-10-11 20:33] stefan-niedermann commented on #699
Glad to hear the problem is solved for you :) I guess we maybe are missing a check when sharing into a new note. I will have a look.

Though it's strange that the sync error still happened after you deleted the card - maybe @desperateCoder has an idea about this behavior?

[2020-10-11 20:41] bspire commented on #699
I can reproduce the issue when sharing a link from BILD app into a new deck card. On first synchronization the loading indicator in the app does not disappear. It seems like synchronization does not finish.

[2020-10-12 05:47] juliushaertl commented on #699
See server app issue https://github.com/nextcloud/deck/issues/1923 for that

[2020-10-12 14:33] stefan-niedermann opened #701 "Configure due date notifications per board"
see https://github.com/nextcloud/deck/pull/2430

[2020-10-12 14:37] stefan-niedermann opened #702 "Validate title length when sharing into new note"
Follow-Up to https://github.com/stefan-niedermann/nextcloud-deck/issues/699#issuecomment-706715854

Check whether the validation for the title length is correctly implemented when
- [x] Sharing text into a new card
- [ ] Pasting stuff into the `EditText`

[2020-10-12 14:42] stefan-niedermann commented on #699
Okay then: I just opened an issue to check whether the validations are correctly in the Android app (which i believe): https://github.com/stefan-niedermann/nextcloud-deck/issues/702

I strongly believe that the Android app checks it correctly (255 characters), but you are missing a database migration in the server app, as @juliushaertl described in the linked issue https://github.com/nextcloud/dec

[2020-10-12 14:42] #699 closed

[2020-10-15 09:11] varac opened #704 "Exclude "Done" cards from upcoming view"
**Is your feature request related to a problem? Please describe.**

I really like the "upcoming cards" view - however when you move a card to a "Done" column they still show up in the upcoming cards view, which is counter-intuitive to what this view is meant.
This can be solved by archiving "Done" cards but with a lot of boards this task is tedious.

**Describe the solution you'd like**

Cards fro

[2020-10-15 09:21] stefan-niedermann commented on #704
Thank you for your request.

This repository is *only* for the Android app. Since we don't have this kind of view, i guess you wanted to open the issue in the server apps repository, which you can find here: https://github.com/nextcloud/deck/issues/new/choose

Regards

[2020-10-15 09:21] #704 closed

[2020-10-16 08:02] Jeanoo opened #705 "the program closes at startup"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https://try.nextcloud.com):
- [ ] Yes
- [X ] No

Steps to r

[2020-10-16 23:33] Mangleuz opened #706 "LDAP avatars not displayed on cards."
LDAP avatars not displayed on cards. (Unlike in the Talk app). Instead there are gray identical avatars, demanding that one first must open the card and then click on all the gray avatars under 'assigned users', one by one, to know who is who. (Which with about 15 users makes the app close to unusable).

[2020-10-17 05:44] stefan-niedermann commented on #706
Dear @Mangleuz, thank you for the report. Can you please check whether or not this is related to #644 (-> Is your cloud located directly at the domain like `cloud.example.com` or is it accessed via a subfolder like `example.com/my-cloud/`?

Do you have local users (non-LDAP) where it works? I am wondering because you have been very specific about LDAP.

[2020-10-17 17:39] llucax opened #707 "Link for PushNotifications could not be parsed"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

The app crashed after switching to another app and the switching back after a while.

**To reproduce**
Issue is reproducible with an accoun

[2020-10-17 18:30] stefan-niedermann commented on #707
Hey, thanks for the report! Are you able to reproduce this issue or did it only happen one time?

[2020-10-17 18:33] stefan-niedermann commented on #707
Did you receive and open a push notification and then switched back?

[2020-10-17 18:52] llucax commented on #707
On a simple switch, I can't reproduce it. I'm forcing the resume of the activity by using the debugging option of Android "Don't keep activities", because otherwise I can't predict when my phone will decide to kill the app in the background, but I'm not sure if that could also *interfere* with the bug.

Sadly I don't remember how I left the app before switching back, but I'm almost sure I didn't *

[2020-10-18 01:05] Mangleuz commented on #706
Thank you for the reply!

Yes, the cloud is accessed as `example.com/my-cloud/` and no, we have no local users, only LDAP ones. One can one do?

[2020-10-19 09:16] jakobroehrl opened #709 "Sync on app start"
If I open the app, the cards are not up to date because I changed something on other devices.
Maybe it would be nice to do a auto sync if the app was opened (like on the notes app)

[2020-10-19 09:29] desperateCoder commented on #709
Uhm....it actually should behave like this.... @stefan-niedermann ? Something I'm not aware of?

@jakobroehrl maybe you're on mobile data and set the app to "only sync on WiFi"?

[2020-10-19 09:31] jakobroehrl commented on #709
No, mobile data are actived.
Maybe the auto start sync is running always into this: https://github.com/stefan-niedermann/nextcloud-deck/issues/680

[2020-10-19 10:44] stefan-niedermann commented on #709
Yes, it should already auto-sync on start.
Maybe this is related to #680
Notice, that at the start-up sync the sync animation is not shown (by intention)
@jakobroehrl you are aware that due to the lack of `ETag` support of the server app a synchronization can easily take up one minute (or even more, depending on the amount of data)? Have you already tried to be "patient"? 😉

[2020-10-19 11:06] jakobroehrl commented on #709
I waited 5 mins.
I only have 60 cards in 10 boards.
So it must be https://github.com/stefan-niedermann/nextcloud-deck/issues/680
Is there a way to solve So it must be https://github.com/stefan-niedermann/nextcloud-deck/issues/680 soon?

[2020-10-19 11:06] #709 closed

[2020-10-19 11:14] stefan-niedermann commented on #709
As commented in #680 this is not easy to debug. I still think the best chance to stabilze the sync is `ETag` support. And there we rely on the server app. So no, i don't see any shortcut here, but i am open for ideas 🙂

[2020-10-19 19:49] aproposnix opened #710 "Allow the creation of relationships like the web app"
**Describe the solution you'd like**
I would like to be able to create relationships (for example, link to another card) from within the mobile app.

**Describe alternatives you've considered**
Currently I have to use the desktop app for this.

**Note**
It's been happening to me more often lately that I could use this feature. I'm guessing it's probably already been discussed. Adding it here becau

[2020-10-21 19:58] heikar opened #711 "Cannot add stack widget"
**Describe the bug**
If i try to add the stack widget, then the app opens with a sreen with title "Add stack widget" and i can choose a user, a board and a status. When i click to "Add", the app closes and no widget is added.

**To reproduce**
Steps to reproduce the behavior:
1. Open widget dialog on android
2. Click on 'Nextcloud Deck' and then choose the stack widget
3. Choose a user, a board an

[2020-10-21 21:18] ReleaseTheKnowledge opened #712 "Option to show deadlines from cards in the calendar"
**Is your feature request related to a problem? Please describe.**
The deadlines from the deck cards don't show on my calendar app (which they do on Nextcloud in web browser).

**Describe the solution you'd like**
I would like an option to get the deadlines from Deck to also be visible on the calendar on my android phone.

**Describe alternatives you've considered**
I considered if this should be

[2020-10-22 06:15] stefan-niedermann commented on #712
No need to reinvent the wheel 🙂

There is a solution to synchronize calendars which works flawlessly, as you already mentioned yourself: CalDAV. I propose to use DAVx5.

1. We are a little crew itht very limited resources, and we would never get that kind of great CalDAV support as those guys.
2. It might be confusing for users that the Deck calendars are there multiple times (one time from the De

[2020-10-22 06:16] #712 closed

[2020-10-22 06:43] stefan-niedermann commented on #711
Dear @heikar please fill out the *complete* issue template. From which source have you got the App? Play Store? F-Droid? Beta channel? Huawei?
Does it work with an account from try.nextcloud.com?
The template [is there for a reason](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed), please use it.

I can not reproduce this issue. Does this ha

[2020-10-27 19:21] desperateCoder commented on #705
Hi @Jeanoo, thanks for your report!

I could need some more details: does this really happen every time you start the app? Has it ever worked for you?

I have the same device as you, but I got a custom ROM on it. Are you using OxygenOS?

[2020-10-27 19:59] Jeanoo commented on #705
it happens every time I create a list followed by a card without an internet connection
I do not use OxygenOS

[2020-10-28 18:42] stefan-niedermann opened #715 "Migrate from java.util.Date and java.util.Calendar to java.time.*"
Requires #714 to be merged.

Now when the new `java.time.*` API is available for us, we should migrate from `java.util.Date` and `java.util.Calendar` to the new classes.

As far as i can see, we use `java.util.Calendar` only in the UI, it should be pretty easy to replace it with `java.time.*`. It will be more difficult to replace `java.util.Date`, which we use everywhere including the database lay

[2020-10-30 19:06] desperateCoder commented on #597
![grafik](https://user-images.githubusercontent.com/6911132/97746932-72c3bf80-1aeb-11eb-9167-5139e9d7f7a2.png)

[2020-10-31 08:01] stefan-niedermann commented on #711
[Why this issue has been closed](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed).

[2020-10-31 08:01] #711 closed

[2020-10-31 08:03] stefan-niedermann commented on #705
@Jeanoo can you please verify that it is each time the exact same error message when it crashes after your described steps?

[code]

Or is it different (please post the other message in this case)?

[2020-11-01 14:23] Jeanoo commented on #705
Hello,
I don't quite understand what you want to tell me.

Today, I've re-installed nextcloud and deck to get back on track.

without doing anything just update the page I have a series of problems, look:

`Full Crash:

App Version: 1.11.1

App Version Code: 1011001

App Flavor: fdroid

Files App Version Code: 30130190

---

OS Version: 3.18.14-15260192(T580XXS5CTD1)

OS API Level: 27

Device: gta

[2020-11-01 14:32] desperateCoder commented on #705
Oh boy, we're really sorry that you're facing this problems!

Everything I can read out the error messages points to a memory issue, which is hard to cover, since we can't test the app on each end every hard- and software constellation out there. You already gave us some hints, but sorry if the analysis of this takes quite some time.

One more thing you could tell us: how much ram does your device

[2020-11-01 14:47] Jeanoo commented on #705
tell you where nextcoud (server) is installed

[2020-11-01 15:26] Jeanoo commented on #705
I have just carried out the same operation
create a list followed by a map without internet connection, result Full Crash then duplicates

[2020-11-01 15:30] stefan-niedermann commented on #705
I don't know what you mean with "a map without internet connection", can you please share a screenshot of this "map"?

---

[I asked you](https://github.com/stefan-niedermann/nextcloud-deck/issues/705#issuecomment-719900474) if the error message always contains `OutOfMemoryError`. You sent [3 more samples](https://github.com/stefan-niedermann/nextcloud-deck/issues/705#issuecomment-720096415) which

[2020-11-02 08:34] stefan-niedermann commented on #289
@jakobroehrl @q-wertz please have a look at [this PR](https://github.com/stefan-niedermann/nextcloud-deck/pull/555#issue-439167467) - It would be awesome if you could help testing the new stuff :rocket:  :slightly_smiling_face:

[2020-11-02 09:31] Jeanoo commented on #705
I will try to explain myself better.
In the presentation of de deck android in https://f-droid.org/en/packages/it.niedermann.nextcloud.deck/
it is noted:
"Works offline."
When I create an "offline" card it works very well!
However, when I create an offline list followed by an offline card it doesn't work, I get a Full Crash and duplicates.

[2020-11-02 09:46] Jeanoo commented on #705
It's probably related to the fact that I have a huge list and maps.
Lists: about 50
maps: about 300
material: i have a raspberrypi 4 8GB with nextcloudpi distribution
Device: Iphone and galaxy tab and pc windows
all appliances are working well.

If my raspberry wouldn't work well, I would have problems outside the android deck application and this is not the case, except with the online version of