[2020-03-04 14:45] putt1ck commented on #292
I thought it was planned to change it to list

[2020-03-04 14:46] ilippert opened #293 "Allow to move card to different deck"
I am frustrated when I want to move a card to a different stack. I cannot easily find a context menu or a drag and drop possibility to move something, e.g. from stack "todo" to stack "doing", in my case...

I propose a drag and drop possibility: when dragging a card above a different stack, that stack should (might) give some visual feedback (maybe with a _ _ _ underline of the stack's name?) that

[2020-03-04 14:47] ilippert commented on #292
I would value
a) consistency within the app (i.e. both times the same word)
b) consistency with the app on the server (there it is called stack)

[2020-03-04 14:50] desperateCoder commented on #293
Just tap a card and hold it for a second

[2020-03-04 14:52] putt1ck commented on #292
Going to be "list" on web app: https://github.com/nextcloud/deck/issues/1088

[2020-03-04 14:58] stefan-niedermann commented on #293
Please clarify the terminology:

Do you want to move card between two different stacks (aka columns aka list - yes we will unify this here)

**or** do you want to move card to a different board (aka deck) like the title of the issue says?

[2020-03-04 14:58] ilippert commented on #293
hm, ok, then this might be a bug - when I tap and hold, a drag operations seems to begin, but I cannot drop it on the stack name.

[2020-03-04 14:59] ilippert commented on #293
but, I just see: i can drag it onto the left/right of the screen - and then it gets moved into the neighboring stack. ok - that was not obvious to me.

[2020-03-04 14:59] stefan-niedermann commented on #293
Aah, you habe to drag it to the right or left end, the active stack will switch then automatically.

[2020-03-04 15:01] stefan-niedermann commented on #293
Yep, i will open a new issue for that, so newcomers won't to read this thread ;-)

[2020-03-04 15:01] #293 closed

[2020-03-04 15:01] ilippert commented on #292
cheers

[2020-03-04 15:02] stefan-niedermann opened #294 "Enable dropping cards on a stack title"
When dragging a card, one should be able to drop it to a stack title to move it there.

[2020-03-04 15:04] stefan-niedermann commented on #293
see https://github.com/stefan-niedermann/nextcloud-deck/issues/294

[2020-03-04 15:06] stefan-niedermann commented on #292
@ilippert maybe you want to open a PR to adjust the `strings.xml`-file? (only the default file is required, all other files will be translated via transifex) 🙂

[2020-03-04 17:19] desperateCoder opened #295 "Enhance switch-stack-swipe"
The current swipe behavior is pretty skill-reqiring, since one has to swipe really, really horizontally. This should be more tolerant

[2020-03-04 19:42] #285 closed

[2020-03-04 19:57] #290 closed

[2020-03-04 20:03] desperateCoder commented on #290
Yay! ❤️

[2020-03-04 21:18] alexanderdd commented on #261
@stefan-niedermann so the editing screen is fixed (wow that was quick!), but does the title also wrap in the card view?
Because it does in the web version of deck.

BTW I think 100chars is a sensible limit.

[2020-03-05 05:57] stefan-niedermann commented on #261
The card view will stay for now as it is. Please keep in mind, that we are focused on mobile here and we have to consider which and how many information we are displaying at once while the web interface primary targets big screens.

But i will discuss the card layout at the next hackweek at whole (there are more points to discuss, e. g. the presentation of the labels etc).

[2020-03-05 10:52] licaon-kter commented on #140
@stefan-niedermann Some help, build 19 fails with:
[code]
...what am I missing?

[2020-03-05 22:14] alexanderdd opened #298 "new card layout for web and app?"
EDIT: everyone agrees that the card layout should be the same in web and app. Now, this thread is for discussing the new card layout which was created by deck developers in a hack week. It is already implemented in the app and is supposed to be rolled out to web. Some users are unhappy with the new layout.

## Proposed new card layout (screenshot from android app 0.1.4)
![new layout](https://user-

[2020-03-06 02:40] vadiof commented on #250
I faced this issue on 0.0.18 and it is still exist on 0.1.0 from F-droid. Looks like some input handler is absolutely intolerant to down swipe. I've uploaded video of this flaw.
![ScreenRec-20200306-052009](https://user-images.githubusercontent.com/29149307/76044787-41422680-5f53-11ea-870c-973366ee624f.gif)
Also I would suggest devs have a look how similar input situation handles in SkyTube, for e

[2020-03-06 02:45] vadiof opened #299 "Right and left swiping is intolerant to tremulant swiping."
I commented in #250 but didn't find the way to reanable that issue. Gif is also there
I faced this issue on 0.0.18 and it is still exist on 0.1.0 from F-droid. Looks like some input handler is absolutely intolerant to down swipe. I've uploaded video of this flaw.
Also I would suggest devs have a look how similar input situation is handled in SkyTube, for example. It is smooth and tolerant to littl

[2020-03-06 07:41] stefan-niedermann commented on #298
cc @juliushaertl and @jancborchardt

I thought at the last hackweek we came to the conclusion that the web interface will adapt the new layout we defined at the hackweek?

I am still against showing the full title because we have smartphones with samller screens here. When editing, the full title is shown and on desktop we simply have much more space.

Would be nice if we three could decide a fina

[2020-03-06 17:20] desperateCoder commented on #299
see #295
@vadiof you are not alone, i'll get @stefan-niedermann make this happen :wink:

[2020-03-06 17:30] stefan-niedermann commented on #295
Closing in favor of #299.

[2020-03-06 17:30] #295 closed

[2020-03-06 21:35] stefan-niedermann commented on #276
Yeah, root cause is that i query each label from the database that is not yet assigned, and since it is only assigned to database as soon as one actually saves the card, the labels will appear again. I will have to adjust the `AutoCompleteAdapters` to sort out the lables which have been added in the meantime.

[2020-03-06 21:41] desperateCoder commented on #276
✔️

[2020-03-06 22:45] #286 closed

[2020-03-07 11:10] #276 closed

[2020-03-07 12:58] #256 closed

[2020-03-07 23:29] stefan-niedermann commented on #299
Possible solution: https://stackoverflow.com/a/29946734

[2020-03-08 13:42] #299 closed

[2020-03-08 16:36] alexanderdd commented on #298
can you please post a link/image for "the new layout we defined at the hackweek"

[2020-03-09 14:08] stefan-niedermann opened #306 "Provide new DBStatus for unimportant changes"
When currently drag a card to the bottom all cards above it have the status `LOCAL_EDITED`.

While this is technically true, i don't want to display a sync icon to 20 cards only because one card has been moved.

A new `DBStatus`-entry could solve this issue, e.g. `DBStatus.LOCAL_EDITED_NOT_IMPORTANT_FOR_UI`. This status will be used if **only** the order has been changed (for now). Future fields m

[2020-03-09 14:20] stefan-niedermann opened #307 "Only clear glide cache when currently online"
Otherwise all precuews are lost until next time internet connection is available.

[2020-03-09 14:24] stefan-niedermann commented on #298
It's basically exactly what you can see in the android app. Avatars bottom right, labels bottom left, title top left, description in second line, menu & duedate top right.

[2020-03-09 20:11] jakobroehrl opened #309 "🏷️ Manage tags per board"
Is there a way to show/edit the board tags?
Did not find them, thanks.
PS: Great job so far... :)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/89833280-manage-tags-per-board?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com

[2020-03-09 20:30] stefan-niedermann commented on #146
Closing in favor if #309

[2020-03-09 20:30] #146 closed

[2020-03-09 20:30] stefan-niedermann commented on #309
Not yet, thanks for the feedback!

[2020-03-09 20:42] stefan-niedermann opened #310 "App crashes after sharing a board"
Go to "Share board"-dialog and tap into the user-search field. A proposal appears.

When the dialog now is closed, the app crashes with the following stacktrace:

[code]

[2020-03-09 21:30] Chluz commented on #271
Hi, I seem to be getting the same issue,  also on a OnePlus device (3T)
Thanks for developing this great app by the way

[2020-03-09 21:36] desperateCoder commented on #271
Hi @Chluz!
Thanks, we're glad you like it!

What app version do you use? I'm using a OnePlus 3 (no T) and don't get any error here.aybe a update might help out? If not: please tell us the exact steps to reproduce this issue, anything (like rotating the device etc.) May help! If the issue persists, please feel free to open a new issue for this.

[2020-03-10 07:18] reox opened #311 "Render more markdown in description"
**Is your feature request related to a problem? Please describe.**
The webinterface is able to render some markdown, for example checkboxes in the form of `[ ]` and `[x]`. It would be very nice to see this function in the app too and be able to check the things in the comment.
So far, these markdown feature seems to be implemented in the webinterface:
* checkboxes via `[ ]` and `[x]`
* lists via `

[2020-03-10 07:29] stefan-niedermann commented on #311
Thank you for the feedback 🙂.

Yes, this is absolutely valid. Though the comments will be readonly for a while (so no toggling checkboxes for now) because we are still using a buggy library.

<details>
<summary>Click here for technical details</summary>

We are currently using `RxMarkdown` for the description. We do this, because it is a fast lib and we are using it also in the Notes-app. But it h

[2020-03-10 11:57] reox commented on #311
thanks for the feedback and technical description!
I also noticed now, that several markdown elements do actually work already in the app.
So checkboxes and lists/enumerations seems to be the only things missing IMO

[2020-03-10 12:10] stefan-niedermann commented on #311
Btw do you really refer to "comments" or to the "description" of the cards? (long term goal is of course to support both well)

[2020-03-10 13:08] reox commented on #311
Oh, I did not even noticed that there is a different :man_facepalming:
I actually mean the description! I'll change that in the first entry

[2020-03-10 15:02] stefan-niedermann commented on #248
I think i have a better idea:

`CardChooserActivity extends MainActivity`. Then set the title to something like "Send to card" in the `onCreate`-callback. This way the user has the familiar interface and we have way less work. The user can do everything like switching boards, stacks and even add accounts with little important differences:

- Drag 'n' Drop should be deactivated by overwriting `onLo

[2020-03-10 17:37] #310 closed

[2020-03-10 17:57] #307 closed

[2020-03-11 10:47] stefan-niedermann opened #314 "Improve first run experience"
- [x] if `hasAccounts` in `DrawerActivity` returns `false`, start new intent to open new `ImportAccountActivity` (IAC)
- [x] IAC should have nothing but a descriptive welcome text and a primary cta button to open the import-dialog
- [x] When an account was successfully chosen, set a result and go back to `MainActivity`, where the usual workflow will still the same
- [x] when the user deletes the l

[2020-03-11 18:48] nr458h opened #315 "Can't change order of cards"
I don't know if this is a bug or a feature request.

Expected behavior
When I take a card and place it at a different place in the same column I expect it to stay there

Actual behavior
When I move a card in the same column and update the board (with a pull down) the card is moved back to the previous position

[2020-03-11 19:07] desperateCoder commented on #315
Bug. But a nasty one, because I can't reproduce it. When you have moved a card from position 1 to position 3, the first three cards should have a sync indicator (blue sync icon) at least for a second until the changes are synced. Can you confirm? If yes: do the indicators stay? If no: could you please provide a video? What app- and Deck-Server-Version do you have installed there?

[2020-03-12 12:40] kbeerepoot opened #316 "Move cards between stacks using the 'details' tab"
**Is your feature request related to a problem? Please describe.**
Moving cards between stacks by dragging them to the right or left can be a bit confusing. It is easy to 'overshoot' the right stack, and lose the overview of wether you're in the right position to drop the card.

**Describe the solution you'd like**
When a card is tapped, the details tab will open and display the properties of the

[2020-03-12 13:19] stefan-niedermann commented on #316
cc @jancborchardt

I don't think this i a good idea.

First of all, we woulf have to display

- Account
- Board
- Stack

and so on, too.

We have very limited space on mobile phones and we plan to display the comments of  card below the details in the future. It will be very crouded. Dropdowns aren't a good idea neither, there could be many stacks, especially when we would introduce nested and dep

[2020-03-12 13:19] #316 closed

[2020-03-12 13:49] kbeerepoot commented on #316
OK, so all properties of a card is maybe overstating it, but I still think that at least just adding stack name would be very beneficial in easily managing a card. I assume there is not something as 'nested stacks' coming up ? And I am not actually asking for the 'Board' and 'Account' being visible on the Details tab (that would be overdoing it).

Yes, dragging and dropping is intuitive on a kanba

[2020-03-12 14:04] stefan-niedermann commented on #316
Can you please link the issue you opened in the server repo here?

Adding the stack would only make sense if it is editable, otherwise it is a really useless information. Where would you place the stack dropdown?

[2020-03-12 14:14] kbeerepoot commented on #316
https://github.com/nextcloud/deck/issues/1593

Well, yes, that's what I meant to express from the start. Sorry if I was not clear enough. I would place the stack dropdown at the top of the editable properties, because I assume this is actually the
property that on average will be changed most frequently ...

[2020-03-12 14:32] stefan-niedermann commented on #316
As i commented in the linked issue, we also have this way to move cards:

| Menu | Select |
| --- | --- |
| ![Screenshot_20200312-152857_Nextcloud_Deck](https://user-images.githubusercontent.com/4741199/76532028-57317900-6476-11ea-8552-bab7534f4f41.png) | ![Screenshot_20200312-152904_Nextcloud_Deck](https://user-images.githubusercontent.com/4741199/76532052-5e588700-6476-11ea-8bb0-440ebff6762f.png

[2020-03-12 14:59] kbeerepoot commented on #316
I can seem to find that functionality in Deck on my Moto G6 Android phone. How do I get there ?

![Screenshot_20200312-155416](https://user-images.githubusercontent.com/28199141/76534738-2fdcab00-647a-11ea-8d8e-b40c4aea30b8.png)

[2020-03-12 15:02] stefan-niedermann commented on #316
Which version of the android app do you have installed? This looks outdated (you can find the version information in the Sidebar -> About).

Actually it is already there, it's just a bug in this version. At the top right of each card is a three dot-menu (it is cut in half here). Just tap in thr top right corner, a little left of the cutted dots and the menu will appear - or update your version 😉

[2020-03-12 15:06] kbeerepoot commented on #316
Version : v0.1.0

Server app version : v0.8.0

[2020-03-12 15:09] stefan-niedermann commented on #316
yep. Please update :)

[2020-03-12 15:12] kbeerepoot commented on #316
Found it. And it works now. Mea culpa, mea culpa, mea maxima culpa. I don understand how I could have overlooked this update.

Thanks for the help.

[2020-03-12 15:14] stefan-niedermann commented on #316
Absolutely no problem :) we are happy about every feedback!

[2020-03-12 17:17] kbeerepoot commented on #298
WIth all due respect, I think the duedate top right is absolutely a bad choice. It takes this space away from the card title, which is often hard to understand already because it is truncated when running out of horizontal space.

And 99,9% of the time I still have tons of horizontal space in the bottom left because I mostly use 1 label at a time ...

[2020-03-12 17:41] stefan-niedermann commented on #298
The due date is on the top right because

- It only consumes space if it is set
- **If** it is set, it is very important, actually nothing is more important than a due date which is near or overdue, an given it should always be at the same place, it is the natural position
- Just because *you* only use one label, this is not automatically the case for all of our users 😉

Don't think we didn't pond

[2020-03-12 17:54] desperateCoder commented on #298
@kbeerepoot what about you crate a draft of your desired card layout having everything well placed and we'll ask @janborchard and @juliushaertl about their opinion?

In the end we all want a nice app, but we have to find a way not to ignore anyone elses use cases. We really tied to make it the nicest we could!

Just think about it and and you will see, that this topic isn't just that easy. Make a

[2020-03-12 18:12] kbeerepoot commented on #298
Again, with all due respect :

... which is probably quite often in an app that is aiming to help people getting things done (in time)

In my opinion the title of a card, that tells you **_what_** actually needs to get done, is even **_more_** important than the due date. I now regularly see cards with a due date in the near future where I can not see immediately **_what_** I need to get done soon

[2020-03-12 18:20] stefan-niedermann commented on #298
No offense 🙂 Can you do a mock-up like @desperateCoder suggested? We need the following components:

- title
- description (optional)
- overflow-menu
- labels (optional, possibility to display at least 3 + "more")
- users (optional, possibility to display at least 3 + "more")
- duedate (optional)

We need variants for each optional case in a matrix, where e.g. labels are present, but no due date.

[2020-03-12 18:26] kbeerepoot commented on #298
I am not very good with graphic applications, and the only thing I would like to see happen is that duedate moves from top right to bottom left.

I have great respect and admiration for the efforts of all the people that participate in this project, because I can not program my way out of a wet paper bag, and I do understand that the topic just isn't that easy. I will therefore take a step back in

[2020-03-12 18:31] kbeerepoot commented on #298
I'll try, but it might take a while and Iḿ not even sure that I can pull it off. Brest assured that I **_do_** appreciate all your efforts ...

[2020-03-12 19:02] desperateCoder commented on #298
@kbeerepoot Point taken! And you have absolutely the right to tell us your opinion! In the end text based communication can't transport emotions and expressions that well so I'd suggest we all calm down and stay friends.

I'm kind of a potato in UI design as well, that's why I'm responsible for the sync and don't have a valuable opinion in this topic, so I just try to find a solution for our probl

[2020-03-12 23:51] alexanderdd commented on #298
What was the problem with the old layout? (Which is still in use in deck web view) The only problem I see is that the full title should be visible (not cropped). Details should be in details view IMHO, not on the card.

If you guys have a long discussion and make a decision at a hack week, it would be good to document it and publish it somewhere (blog, or help.nextcloud.com)
Does it exist? If not,

[2020-03-13 05:20] stefan-niedermann commented on #298
No, there is in fact no documentation. We will try to do it better next time and work on our communication. At the time of thr last hackweek we did not publish the app at the Play Store and the F-Droid version was an early alpha preview - We didn't even thought we had real users at this time.

Disclaimer: We are not working for or are directly related to Nextcloud, this is a freetime project from

[2020-03-13 08:10] jancborchardt commented on #298
In general, let’s take things step by step. One big issue with a lot of things will just overflow with different takes on things. :)

So let’s start with what @kbeerepoot said:

I do remember we also talked about that at the hackweek @stefan-niedermann @desperateCoder and we just decided to go with the placement in the top right for now.

Looking at the screenshot in the readme for example, bottom

[2020-03-13 09:00] hitam4450 opened #317 "Adjust theme for each account"
Hi,

To make the Look & Feel compatible with the nextcloud app, Theming should be included.

I do have multiple instances of Nextcloud running and each instance does have a separate theming color to be able to distinguish between the instances right at looking at the screen !

I am sure, this will be very helpful for the NextCloud deck app as well !!

Best regards, hitam 4450

<bountysource-plugin

[2020-03-14 07:12] weinic opened #318 "Hinzufügen von Anhängen bei neuen Karten schlägt fehl"
Fehler beim hochladen von Anhängen.

Wenn ich eine neue Aufgabe erstelle (klick auf das plus Symbol) und dann zu den Anhängen gehe und dort etwas hochladen möchte, stürzt die APP ab.

[code]

[2020-03-14 07:21] stefan-niedermann commented on #318
Ich nehme an, wenn die Karte einmal gespeichert wurde klappt der upload?

[2020-03-14 07:25] weinic commented on #318
Wow sehr schnelle Antwort,

Ja das ist richtig, erst nachdem die Karte gespeichert wurde, lässt sich
auch ein Anhang hinzufügen.

Mfg Christoph

Niedermann IT-Dienstleistungen <notifications@github.com> schrieb am Sa.,
14. März 2020, 08:21:

[2020-03-14 09:15] stefan-niedermann commented on #318
Danke für die Info. Wir werden als Quickfix den Upload-Button bei der Neuanlage verbergen, sodass die App nicht mehr abstürzen kann und uns dann mittelfristig um ein besseres Verhalten kümmern.

Danke für das Feedback!

[2020-03-14 10:40] desperateCoder commented on #318
Tatsache, hab ich null bedacht. Wird erledigt!

[2020-03-14 10:51] desperateCoder commented on #318
Hab gerade Mal nachgesehen, der sync-manager tut das sogar schon. @stefan-niedermann du weißt, was zu tun ist, ich zieh mich wieder raus.

[2020-03-14 12:43] #306 closed

[2020-03-14 12:47] desperateCoder commented on #306
new status:
[code]

[2020-03-14 12:57] stefan-niedermann commented on #306
Much better, nice idea!

[2020-03-14 18:16] #314 closed

[2020-03-14 18:54] stefan-niedermann commented on #318
Der Crash wurde inzwischen am `master`-Branch behoben und sollte nicht mehr auftreten.

Tatsächlich Anhänge bei der Neuerstellung einer Karte hinzuzufügen, erfordert allerdings noch ein wenig Arbeit. Wird demnächst angegangen.

[2020-03-14 18:55] stefan-niedermann opened #320 "Add attachments while creating a new card"

[2020-03-14 18:55] stefan-niedermann commented on #318
Follow-Up: #320

[2020-03-14 18:55] #318 closed

[2020-03-15 10:42] alexanderdd opened #324 "wrong user image when using multiple accounts"
**Describe the bug**
When you use multiple accounts, the user image from one account is used for all accounts.

**To Reproduce**
Steps to reproduce the behavior:
1. have multiple NC instances with different user images,
2. connect those instances to nextcloud deck app on android
3. one user image is used for all accounts, also when assigning yourself to a card

**Expected behavior**
different user

[2020-03-15 10:45] desperateCoder commented on #324
Thanks for the report @alexanderdd, I can confirm.

[2020-03-15 11:25] alexanderdd commented on #298
I changed the title and edited my first post, please have a look.

Is it possible to move this issue to https://github.com/nextcloud/deck/ ? I think it should be discussed there because this is a big decision in where Nextcloud Deck is going, and the people at Nextcloud Deck should be able to see this discussion. If it is not possible to move I will create a new thread over there and close this on

[2020-03-15 11:35] desperateCoder commented on #298
@alexanderdd I don't know if we can move this there, but I'd ask in general: @juliushaertl @jancborchardt are you willing to discuss this in generally (again)? As far as I can tell, @juliushaertl is about to implement the frontend (porting to vue.js) and more features, I don't know if he'd like to reconsider this right now.

[2020-03-15 12:38] stefan-niedermann commented on #324
Switching works correctly, also the correct file is requested by `Glide`. I guess, it's some kind of tricky caching-mechanism, maybe because the `target()`s are identically :thinking:

[code]

[2020-03-15 14:46] stefan-niedermann commented on #283
I added a visible information in form of a snackbar (in case a sync failed) as a quickfix. This issue stays open, because this is not a permanent solution.

[2020-03-15 17:26] stefan-niedermann commented on #248
I added this feature.

It is now possible, to share content (text **and** images) from a 3rd-party app to any card of any stack of any board of any account (lol) you have configured.

Text is currently attached to the description

We will improve the behavior in the future. For example, i plan to let the user decide where text should be placed (above or below description or as a comment) in the fu

[2020-03-15 17:26] #248 closed

[2020-03-15 17:37] stefan-niedermann commented on #248
(This feature will be in the next version released **after** `0.3.0`)

[2020-03-15 17:43] desperateCoder commented on #248
Woah, didn't know you're working on this! Nice, gj Stefan!

[2020-03-15 17:59] stefan-niedermann commented on #248
- Use any share provider (Gallery, Notes, ...)
- Pick "Share to"
- Pick "Deck"
- Browse all boards and stacks, one could even add a new account with this approach
- Clicking on a card will attach the text to the description (or upload the image as an attachment)

| Share | Select |
| --- | --- |
| ![grafik](https://user-images.githubusercontent.com/4741199/76707358-d335f600-66ee-11ea-9458-aa41a8c7

[2020-03-15 18:08] desperateCoder commented on #320
yo, @stefan-niedermann, I thought we got this one working? no? merge+close?

[2020-03-15 19:30] stefan-niedermann commented on #320
Isn't it still on a branch?

[2020-03-16 06:55] stefan-niedermann opened #326 "Animate chipgroups"
All chipgroups (we use them to display labels) should be animated.

It's just a single line on the chipgroup-tag in the xml:

[code]
https://stackoverflow.com/a/59244956

[2020-03-16 19:08] mentalinc commented on #248
Excellent thanks so much for implementing this feature look forward to
seeing it released!

On Mon, 16 Mar 2020, 06:59 Niedermann IT-Dienstleistungen, <
notifications@github.com> wrote:

[2020-03-18 10:17] #326 closed

[2020-03-18 10:52] stefan-niedermann commented on #298
I adjusted the layout to what i can see in the (not yet released) alpha version of the deck app.

![grafik](https://user-images.githubusercontent.com/4741199/76953070-5bdead00-690e-11ea-930e-09cc57c87aa5.png)

Basically compared to the latest released version of the Deck app the following changes were made:

- Labels have now their own row
- Labels will not be cut off after 2 characters
- Duedate

[2020-03-18 15:07] kbeerepoot commented on #298
Just my two cents :

- In my opinion the labels did not necessarily need their own row, but of course they do if they will not be cut off after two characters;
- I was OK with the labels cutting off after 2 characters, especially because I'm more oriented towards the colour of the labels than towards their actual text;
- I'm very happy with the duedate going to the bottom left, but could also very

[2020-03-18 15:32] desperateCoder commented on #207
For anyone waiting for this: Our friend @juliushaertl has already built the server part for us (not released yet, i'm working on a nightly build).

As you can see above, here is happening a lot now. Sorry for the delay!

Note: we only can release this feature, as soon as the server-app is released, too. This might also take a while, but be sure, we didn't forget you guys!

[2020-03-18 16:39] nr458h commented on #315
Sorry for not responding - somehow the problem disappeared without any change (or upgrade).
I will close here and if it reappears I will provide more information ;)
Thanks anyway

[2020-03-18 16:39] #315 closed

[2020-03-18 17:11] desperateCoder commented on #315
Lol, weird. But hey! That's my favorite kind of bug ❤️

Glad, that it works for you! If not: reopen anytime!

[2020-03-18 18:13] desperateCoder opened #329 "rapidly moving cards makes app crash"
**Describe the bug**
Fastly move cards, no matter if cross or same stack

**Stacktrace**
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90320602-rapidly-moving-cards-makes-app-crash?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bou

[2020-03-18 20:06] stefan-niedermann commented on #298
So we definitely need to make the duedate more distinguishable from the labels if we place them in the same area. Maybe by placing an icon of an alarm clock next to it? @jancborchardt

[2020-03-18 22:38] alexanderdd commented on #298
1. In the old version, labels were very easy to distinguish from due date because of the **smaller height**, I think that is very smart design/UX. In the screenshots of the app above the labels are even higher than due date, not good IMHO. And/or use a label symbol at the beginning.
2. Also it's a great idea to use **rounded edges for labels and sharp edges for due date**, which was used in the ol

[2020-03-19 07:08] desperateCoder commented on #329
possible solution: https://stackoverflow.com/questions/29246783/viewpager-fast-swipes-gives-indexoutofboundsexception

[2020-03-20 17:43] dan0xii commented on #217
I'm putting together a widget that shows the cards in a specified stack. I should have a working prototype in the next week or so and maybe then I could tweak it to meet some of the above criteria.

[2020-03-20 17:49] desperateCoder commented on #217
@dan0xii awesome! Thanks in advance, we're looking forward to see it!
If you need any help, let us know!

[2020-03-20 18:13] stefan-niedermann commented on #217
woohoo, great to have you here at Deck, too, @dan0xii ! 🎉

[2020-03-21 12:07] stefan-niedermann commented on #248
There's another limitation i just noticed. Sendijg data from telegram or from an email-app is not possible at the moment. I think this is because the sent file is not yet physically stored on the phone. We will analyse and enhance this behavior in a future release.

[2020-03-22 11:32] #320 closed

[2020-03-22 13:47] desperateCoder commented on #207
Yeah, that`s pretty much it from my perspective for now.

@stefan-niedermann i think you can start making the UI nice and shiny. I bet there are some methods missing, but i think the basic stuff should be there.

[2020-03-22 15:18] stefan-niedermann commented on #207
So, basically one can read and write comments now.

There are a few things left, which i will fix in the next few days, but it's mainly some visual & fancy stuff.

[2020-03-23 14:15] CarFla opened #336 "Wrong version"
**Describe the bug**
When start Deck on android and connect to nextcloud There is an indication for upgrade Deck. After that connect to firefox to link of nextcloud istance

**To Reproduce**
Steps to reproduce the behavior:
1. Donwload from Fdroid Nextcloud for deck ver. 0.4.0
2. Open Deck
3. Choose account of nextcloud existent
4. See error

**Expected behavior**
I have Deck on android ver. 0.4.0

[2020-03-23 15:28] stefan-niedermann commented on #336
Dear @CarFla,

thank you for reporting this bug.

Can you please provide a test account for your instance and send the credentials to info@niedermann.it so we can reproduce it?

Thank you in advance

[2020-03-24 09:15] stefan-niedermann commented on #207
`0.5.0` will feature support for comments.
To be able to use this feature, the server app needs to be at least version `1.0.0-alpha1`. So just be patient until the new major version of the server app has been released and then you will be able to use comments :)

[2020-03-24 09:15] #207 closed

[2020-03-24 09:38] stefan-niedermann opened #339 "💬 Allow adding comments while creating new cards"

[2020-03-24 09:38] stefan-niedermann opened #340 "💬 Edit comments"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90569045-edit-comments?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github).
</bountysource-

[2020-03-24 09:39] stefan-niedermann opened #341 "💬 Delete comments"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90569044-delete-comments?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github).
</bountysourc

[2020-03-24 09:40] stefan-niedermann opened #342 "💬 Copy comments to clipboard"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90569043-copy-comments-to-clipboard?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github).
</

[2020-03-24 09:40] stefan-niedermann opened #343 "⚡ Copy activity to clipboard"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90569041-copy-activity-to-clipboard?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github).
</

[2020-03-24 09:43] stefan-niedermann opened #344 "💬 Fix initial comment list position"
**Expected:** When entering the comments tab and there are so many comments that they don't fit on the screen, the list should scrolled completely to the latest entry.

**Current:** There is a small distance so the latest comment is not visible. Maybe this distance matches the size of the input bar and this could be the cause.

[2020-03-24 09:45] stefan-niedermann opened #345 "💬 Scroll list when focussing the edit text for comments"
When the edit text for adding comments is getting focused, and the list was scrolled to the latest entry previously, the list should be scrolled to the latest entry again, after the virtual keyboard appeared.

[2020-03-24 09:49] stefan-niedermann commented on #215
This would technically be possible but this is straight against my philosophy. Sorry, but i will not include any proprietary libraries in this project.

We already have the background sync (each 15 minutes), this has to be sufficient until a greater solution for all open source apps can be found.

Also: If someone mentions you in a comment, you will get notified via the Files app which supports pu

[2020-03-24 09:49] #215 closed

[2020-03-24 14:30] stefan-niedermann opened #346 "💬 Display sync icon on not yet synced comments"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90569038-display-sync-icon-on-not-yet-synced-comments?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_

[2020-03-26 16:47] CarFla commented on #336
Hi @stefan-niedermann
I create new user, but before to send you I test it and... all ok.
After that I retry with my user and no error.

I dont know why before creation of new user it indicates wrong version.

BUT, with new user i can view and modify board, with my user no.

I think that the problem is the user in my nextcloud server.

thank you for your help and sorry for the inconvenience.

[2020-03-26 17:40] stefan-niedermann commented on #336
Absolutely no problem 🙂 I am glad to hear that you eventually got the app working.

So, how exactly can we help you at this point? What do you need and where exactly are problems left which we can solve?

[2020-03-26 23:07] jancborchardt commented on #298
Sorry, I was out of commission because of travel last week.

I’m not going to read through every single thing because @stefan-niedermann summarized it quite well and the screenshots show it clearly: It’s a whole mess.

Right now, the Android app is the standard when it comes to the interface of the Deck app as this is the last we discussed. Yes we should sit together again, but we won’t question e

[2020-03-27 14:23] #343 closed

[2020-03-27 14:31] #342 closed

[2020-03-27 19:43] #341 closed

[2020-03-27 19:54] #346 closed

[2020-03-27 20:22] stefan-niedermann opened #350 "Sync icon doesn't disappear when adding a comment"
Only after leaving the card, performing a sync and reentering the card makes the sync icon disappear.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90711846-sync-icon-doesn-t-disappear-when-adding-a-comment?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysour

[2020-03-28 07:57] kai11 commented on #207
Perfect. Waiting for server app

[2020-03-28 08:04] stefan-niedermann commented on #207
# Sneak preview

![Screenshot_20200328-090322_Nextcloud_Deck](https://user-images.githubusercontent.com/4741199/77818485-0e62fc80-70d3-11ea-9c55-fec3a6d72fd6.png)

[2020-03-28 13:13] dan0xii opened #351 "Can't "Save" changes to card"
**Describe the bug**
Specifically, I can't save changes and close the card.

**To Reproduce**
Steps to reproduce the behavior:
1. Open an existing card
2. Edit the description
_or_ add a tag
3. Tap the "tick" to save and close
4. Nothing happens. Tap "X" to close and you are warned that you have unsaved changes. If you select "Discard" the card will close and when you re-open it you will see that

[2020-03-28 14:02] desperateCoder commented on #351
Hi @dan0xii, thanks for your report!
Well, that's a quite weird behavior, I can't really reproduce it. But to be fair: I got the latest 0.5.2 version of the Android app from play store.
Is your build from f-droid?

Can you persistently reproduce this behavior on any card on any board and any stack?

[2020-03-28 14:59] dan0xii commented on #351
Yes, it's happening on cards in all three of the boards I've got setup. I can add a card fine but the problem occurs when i go back to edit.

I've just created a new board, new stack and new card fine. I go back to change the new card and I get the issue described.

-------- Original Message --------
On 28 Mar 2020, 14:02, Artur wrote:

[2020-03-28 15:36] #292 closed

[2020-03-28 15:36] stefan-niedermann commented on #292
I renamed "Stack" to "List" at all appearances (Of course it might take some time, until all languages are updated by Transifex).

[2020-03-29 09:10] nidomiro opened #353 "App-Crash when moving card right after unlock"
**Describe the bug**
The App crashed while Moving a card right after unlocking the Screen (It was locked for some Time).
My assumption (without looking at the code) is, that it was caused by a timing-problem with the Sync and drag and drop [Drag Started, then Sync, on Drop the reference was null, because of the Sync].

**To Reproduce**
As of now, I could not reproduce the crash.
I will edit this s

[2020-03-29 09:16] nidomiro opened #354 "Create new Card: DueDate not saved"
**Describe the bug**
When I'm creating a new card and select a DueDate it will not be saved.
Editing the card and setting the date again works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new card with DueDate (Date and Time)
2. Save the card
3. You can see the DueDate
4. Sync will automatically happen
5. DueDate is gone

**Expected behavior**
DueDate is still there,

[2020-03-29 09:35] stefan-niedermann commented on #354
Thank you, this is a known issue of the server and cannot be fixed on our side.

Please see and upvote here: https://github.com/nextcloud/deck/issues/1430

[2020-03-29 09:35] #354 closed

[2020-03-29 09:38] stefan-niedermann commented on #353
Thank you for the report.

This might get fixed by #333 because we basically rewrote the whole part.

[2020-03-29 09:40] nidomiro commented on #354
Thanks for your quick reply.
I left a :+1:  on the ticket you mentioned :)

[2020-03-29 09:45] stefan-niedermann commented on #354
Thanks for the report :) Have fun with the app and let us know if you encounter any further issues, so we can fix them :wink:

[2020-03-29 13:33] desperateCoder commented on #350
fixed via https://github.com/stefan-niedermann/nextcloud-deck/commit/44b8c924f77a7a6fc88e72ddd310dd0e3b582709

[2020-03-29 13:33] #350 closed

[2020-03-29 14:23] juliushaertl commented on #298
What do you mean with this can be done? :wink: I generally agree that the title should not be cut off.

As mentioned in https://github.com/stefan-niedermann/nextcloud-deck/issues/192, I really think labels are a key component in organizing cards, so cutting of is removing important information here.

Personally I don't see much value in showing the first line of the description, I would even argue

[2020-03-29 17:12] kbeerepoot commented on #298
I totally agree. The title is the most important part of any card, because it is supposed to tell you WHAT needs to be done.

With all due respect, in my opinion the most important component in organizing cards is the stack that it is located in. I do not really care to see the full labels on the card, as long as I can use the full labels to make a selection of cards to be shown (a feature I hope

[2020-03-30 08:10] PanderMusubi opened #355 "Upgrade icon"
**Describe the bug**
Upgrade icon to use latest style artwork

The [current icon](https://f-droid.org/en/packages/it.niedermann.nextcloud.deck/) is using an old style.

**Expected behavior**
Use latest style Nextcloud in artwork

**Screenshots**
Please upgrade icon to use the latest Nextcloud style as seen in

![](https://f-droid.org/repo/it.niedermann.owncloud.notes/en-US/icon_sOQTkc5JR-7Dt0WXW7W

[2020-03-30 09:14] stefan-niedermann commented on #355
Nope, the Nextcliud guys decided that the apps will no use this background.

The evolution is like:

1. plain lightblue background
2. dotted background
3. linear gradient with blue colors background

Further information see here: https://github.com/nextcloud/talk-android/pull/695

PS.: You should update your apps, they are outdated. I know that each of the shown app has at least merged the new ico

[2020-03-30 09:14] #355 closed

[2020-03-31 11:06] jancborchardt commented on #298
I’m also fine to remove the preview of the description in favor of showing more of the title, even if multiline. @juliushaertl @stefan-niedermann we should probably ellipsize / fade it at some point, otherwise one card can occupy the whole view?

[2020-03-31 15:18] stefan-niedermann commented on #298
Technically ellipsizing / fading the title after a few lines is possible, sure. We are already doing this after one line already and apparently this doesn't fit all needs (one of the points in this issue is to not limit the title at all). So how many line should we go for?

[2020-03-31 15:22] juliushaertl commented on #298
The card title is limited on the database level to 100 characters, so I doubt that this will exceed 3-5 lines :wink:

[2020-04-02 18:03] stefan-niedermann commented on #336
*bump* :)

[2020-04-03 18:39] stefan-niedermann opened #357 "Account quick switching"
The sidebar header should display two more accounts in the top right corner. Clicking on one of the should switch the account.

Development should start *after* #333 has been merged.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/91179639-account-quick-switching?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&

[2020-04-03 19:42] stefan-niedermann opened #358 "Create PickStackActivity"
## Background

To create new cards we need some information like `accountId`, `boardId` and `stackId`.

In the default workflow one would open the app, navigate to the place where a new card should be created and then hits the "create"-button. From this position all the needed information can be passed to the `EditActivity`.

## Problem with current implementation

When using android shortcut or t

[2020-04-03 19:50] stefan-niedermann commented on #208
@tobiasKaminsky can you please have a look at [this comment](https://github.com/stefan-niedermann/nextcloud-deck/issues/208#issuecomment-552143715) and tell me whether this is technically possible and if this is something you would consider to implement at your end? (of course i would be happy to help you at a shared PR)

[2020-04-04 08:58] tobiasKaminsky commented on #208
Problem is that each 3rd-party app (via SSO) needs an independent app token and currently we cannot create a new app-token from an app-token.
As far as I know @rullzer managed to do this.
I will talk with him, if and when this will be on server, and then I can start implementing it in SSO and thus any 3rd-party can get an app-token and thus register for push itself.

Would this be good?

(I do not

[2020-04-04 09:43] stefan-niedermann commented on #208
My idea has nothing to do with SSO - It's just about Android stuff. The files app already handles push notifications very well and displays an Android notification when something happens. Clicking on this android notification currently opens the web interface of Nextcloud.

My idea is that the files app checks whether or not there is a handler for a special kind of notification, and then starts th

[2020-04-04 09:56] tobiasKaminsky commented on #208
Might be working.
But push does not have many infos in it. Mainly it is is the id of the notification.

[2020-04-04 10:31] stefan-niedermann commented on #208
Yep, that's where @desperateCoder comes into the game.

The files app receives a notification with those fields: https://github.com/nextcloud/android/blob/01b1e719ffdf0546acf54d2e450aca81edee59be/src/main/java/com/owncloud/android/datamodel/DecryptedPushMessage.java#L32-L39

If the field `app` says, that the notification comes from the `Deck server app`, the files app will start an Intent and call

[2020-04-04 10:41] desperateCoder commented on #208
Yep, no problem at all. Sounds good, as long as the ocs service is implemented and allows me to get the data. The important point is: I need to know for which account, since we could have multiple accounts with conflicting remote-IDs of boards, stacks and cards.

[2020-04-04 10:42] stefan-niedermann opened #359 "Implement ETags for synchronization Speed-Up"
This issue depends on https://github.com/nextcloud/deck/issues/1650

Basically each `GET`-response from the server will contain an `ETag`-header. This header has to be stored in the clients database.

On each `GET`-request the client will have to add a `If-None-Match`-header with the value of the previously stored `ETag`-header. Of course it can be `null` or empty if it is the first request to thi

[2020-04-04 10:45] stefan-niedermann commented on #208
Yep, this is technically no problem, i already told @tobiasKaminsky that he needs to pass the account. I guess we will get the account like `user@example.com` because he cannot know the internal `accountId`s of course :wink:

[2020-04-04 10:59] desperateCoder commented on #208
So we hope the user hasn't have used the email address for both of his servers? I guess we at least need his domain additionally

[2020-04-04 11:02] stefan-niedermann commented on #208
No, @desperateCoder i meant username@nextcloud-instance.com. This is unique.

[2020-04-04 14:29] desperateCoder opened #360 "Reenable server side reorder"
and implement onResponse()

[2020-04-04 14:54] stefan-niedermann commented on #360
Since we will increase the min version of the android app, we should increase it to `1.0.0` directly (this way we can also remove the feature toggles for the comments). We therefore should wait with this feature until server `1.0.0` has been shipped for 2 months *and* we have to think about what we do with users who upgrade the android app but do not have an up to date server? block the app? just

[2020-04-07 12:29] #284 closed

[2020-04-07 12:29] #329 closed

[2020-04-07 12:29] #353 closed

[2020-04-07 13:30] #340 closed

[2020-04-07 17:27] Nicos-git opened #363 "Crash when opening unsynchronised card"
**Describe the bug**
Well, I'm not sure if it's my OS or a bug in Deck.
When I try to open an unsyncronised card, Deck crashes with NullPointerException.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to airplane mode
2. Create a new card and insert any title
3. Save card (sync icon apears)
4. Reopen card

**Expected behavior**
To see my original card ;)

**Screenshots**
Will be prov

[2020-04-07 17:44] desperateCoder commented on #363
Hi @Nicos-git, thanks for your report!
Nope, I guess that's our fault, gonna be fixed!

[2020-04-07 18:36] #363 closed

[2020-04-07 18:37] stefan-niedermann commented on #363
Thanks for the report. Will be fixed in `0.6.0`. Please let us know if you stumble upon this issue again :)

[2020-04-07 18:56] stefan-niedermann commented on #336
Please feel free to open a new issue if you still have troubles adding an account.

[2020-04-07 18:56] #336 closed

[2020-04-07 19:03] stefan-niedermann commented on #188
Obsolete.

[2020-04-07 19:03] #188 closed

[2020-04-07 19:04] stefan-niedermann commented on #324
Note to future @stefan-niedermann: I guess `Glide.with(context).clear(imageView)` might be useful though i didn't figure out yet how to exactly use it and if it can fix the issue at all.

[2020-04-07 19:13] stefan-niedermann commented on #317
@desperateCoder the `Account` class needs a property `themeColor` to achieve this. Just update it everytime you are reading the `Capabilities`-endpoint, this should be by far enough.

When you write an database update script, you can use `#0082c9`  as initial value.

PS.: I also thought about storing the server version for each account locally, we should talk about this topic before we do anything

[2020-04-08 09:31] alexanderdd commented on #298
Hi people,

(reminder for newcomers: this applies to the future card layout of android app and web version)

- **grey metadata area**: @jancborchardt you write that the new card layout (https://github.com/stefan-niedermann/nextcloud-deck/issues/298#issuecomment-600554347) looks messy. One of the reasons it looks messy is because you removed the grey from metadata area.
-> My suggestion: make metad

[2020-04-08 10:01] stefan-niedermann opened #366 "Show whole card title in main view"
Don't ellipsize the card title but show everything.

[2020-04-08 10:09] stefan-niedermann commented on #298
- **grey metadata area:** This is subjective and the UX-chief of Nextcloud (@jancborchardt) as well as the server developer (@juliushaertl) and the android developer (@stefan-niedermann) think it looks better without the greyish background. Therefore i think, we all have a very clear opinion about this topic and i don't see a reason to make it grey again.

- **Cutting off labels at two letters**:

[2020-04-08 10:56] stefan-niedermann commented on #363
`0.6.0` has been tagged today and should be available on F-Droid in a few days.

[2020-04-08 12:22] desperateCoder commented on #317
For further development:

So we have to extract:
* the server-deck-version (default: 0.6.4)
* theming->color (default: `#0082c9`)
* theming->colorText (default: `#ffffff`)
* the maintenance-flag (default: false)

Capabilities calll when in maintenance mode:
[code]
... and when not in maintenance:
[code]

[2020-04-08 14:53] desperateCoder commented on #317
@stefan-niedermann I'm kind of done here. Have fun with it!

[2020-04-09 07:08] juliushaertl commented on #298
I tent to say that reducing the margin here would be fine since it is not a click/tab target, but up to you imo. I've played a bit with margins and rounding on the server and actually think adjusting to the android styles is nicer (see screenshot below).

:+1: I also gave that a try and it helps to distinquish between the labels a bit, however this makes the first card line pretty limited, so I st

[2020-04-09 07:34] #358 closed

[2020-04-09 08:15] jancborchardt commented on #298
Don’t have anything to add to what @stefan-niedermann and @juliushaertl said. :+1:

Let’s wrap this one up as it’s touching too many different topics and is just a confusing discussion for everyone. → Julius’ proposal is great and we can continue in the individual issues.

[2020-04-09 09:08] juliushaertl commented on #298
Web PR in https://github.com/nextcloud/deck/pull/1669

[2020-04-09 09:44] stefan-niedermann opened #368 "Display task counter"
Web interface for reference:

![grafik](https://user-images.githubusercontent.com/4741199/78881685-70b6e800-7a57-11ea-9188-08bc88ce7274.png)

[2020-04-09 13:26] #298 closed

[2020-04-09 14:14] stefan-niedermann commented on #298
I adjusted the android app based on what you created in https://github.com/stefan-niedermann/nextcloud-deck/issues/298#issuecomment-611368560 and this is the result:

| Screen 1 | Screen 2 |
| --- | --- |
| ![grafik](https://user-images.githubusercontent.com/4741199/78904298-973b4a00-7a7c-11ea-97b7-1f733aefc266.png) | ![grafik](https://user-images.githubusercontent.com/4741199/78904332-a02c1b80-7a

[2020-04-09 16:40] #366 closed

[2020-04-09 16:40] #368 closed

[2020-04-10 14:31] jancborchardt commented on #298
Btw just a detail on both web and Android: The avatars overlaying need a bit of separation. In the Text app we have this 2px white/background-colored border which looks very nice. :)

[2020-04-10 14:39] stefan-niedermann commented on #298
@jancborchardt please open a new issue for that :)

[2020-04-11 12:16] desperateCoder opened #371 "Label unassign doesn't work properly"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. add a label, save and close
2. open same card unassign label, save and close
3. pull2refresh

**Screenshots**
![grafik](https://user-images.githubusercontent.com/6911132/79043324-c24da700-7bfe-11ea-9573-6690f0c16015.png)

[2020-04-11 13:39] #371 closed

[2020-04-11 16:26] desperateCoder opened #372 "Adding labels after removing: not shown in StackFragment"
**Describe the bug**
Remove a label from a card and readd it ->  the label is not shown in the overview

**To Reproduce**
Steps to reproduce the behavior:
1. open card with label
2. remove label and save
3. reopen same card, readd label and save
4. no label shown

[2020-04-11 17:42] #372 closed

[2020-04-13 13:26] stefan-niedermann commented on #208
Proof of concept successful. See #364 for current implementation state.

[2020-04-13 17:51] #208 closed

[2020-04-13 17:53] stefan-niedermann commented on #208
Handling of push notifications is complete and will be within the next release.

**Attention:** This feature depends on this Pull Request in the files app: https://github.com/nextcloud/android/pull/5825

It will only work, after this PR has been merged and the files app has been released.

Thank you @tobiasKaminsky for your help :rocket:

[2020-04-14 11:03] stefan-niedermann opened #378 "Crash when drag n drop offline"

[2020-04-16 18:35] stefan-niedermann commented on #378
@desperateCoder you said this was fixed i think? Can you link the commit here and close this issue if this is correct pls?

[2020-04-17 15:43] stefan-niedermann commented on #378
Confirmed to work.

[2020-04-17 15:43] #378 closed

[2020-04-17 15:44] #317 closed

[2020-04-17 16:21] desperateCoder commented on #378
Ok? Nice... My favorite kind of bugs.

[2020-04-17 19:03] stefan-niedermann commented on #317
Will be released as a setting in version `0.7.0`.

[2020-04-17 19:24] stefan-niedermann opened #381 "Caches for color calculations?"
Some of the `ColorUtil`-methods will be called pretty often because of the branding. While the operations are pretty small (some multiplications and divisions), i though we should maybe add a in-memory cache mechanism. The question is whether or not the access to the hashmap is cheaper than the calculation :thinking:

I did some statistics:

[code]

Side notes:

Given
- the brand color does not ch

[2020-04-17 19:32] stefan-niedermann opened #382 "Extract OverlappingAvatarLayout into own reusable component"
This should be moved into a own class `OverlappingAvatarLayout` which is extending `RelativeLayout`. Currently it is quiet hard to refactor and causes the `CardDetailsFragment` to have much logic which it doesn't actually need.

![grafik](https://user-images.githubusercontent.com/4741199/79606958-b0826d00-80f2-11ea-862b-4f1603128294.png)

[2020-04-17 19:34] stefan-niedermann opened #383 "SyncManager and "childs" must not know Activity class"
The synchronization mechanism must not use any view related stuff. It currently needs an `Activity` as an argument only for one reason: The `callOnUiThread`-method, which executes the `onError`-block on the UI-thread.

The callers are responsible them self in the future to run the `onError`-callbacks on the UI-thread if it really needs to happen on the UI-thread.

[2020-04-17 21:12] desperateCoder commented on #381
Regarding to the number of calls, I guess I'll handle this. We are talking about storing 7 colors in memory, peanuts. But it won't be a map, I'll see what fits best

[2020-04-17 21:39] stefan-niedermann commented on #74
Thsi issue has been solved in the meantime.

[2020-04-17 21:39] #74 closed

[2020-04-17 21:40] stefan-niedermann commented on #192
Fixed in version `0.7.0`.

[2020-04-17 21:40] #192 closed

[2020-04-18 12:04] desperateCoder commented on #383
Assign me, as soon as the UI covers all `onError()`s. If you want, we can talk about adding the `Activity` into the callback and let the default implementation handle the most of this stuff.

[2020-04-18 12:08] desperateCoder opened #387 "Deleting ACL wont work"
**Describe the bug**
see https://github.com/stefan-niedermann/nextcloud-deck/pull/385

[2020-04-18 12:09] desperateCoder opened #388 "Maintanance info wont update"
**Describe the bug**
https://github.com/stefan-niedermann/nextcloud-deck/pull/384

[2020-04-18 13:53] #387 closed

[2020-04-18 14:55] #388 closed

[2020-04-18 15:22] #381 closed

[2020-04-18 16:18] stefan-niedermann commented on #283
Fixed, will be in `0.7.0` as requested.

[2020-04-18 16:18] #283 closed

[2020-04-18 17:39] stefan-niedermann opened #389 "Adding a second account does not work flawlessly"
Steps to repeoduce:

1. Add first account
2. Add second account

Impact: Branding-color is not updated and `accountIsGettingImported`-snackbar does not disappear.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/91179636-adding-a-second-account-does-not-work-flawlessly?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=is

[2020-04-18 19:19] #382 closed

[2020-04-18 19:20] #383 closed

[2020-04-18 20:24] stefan-niedermann opened #391 "OfflineException"
Steps to reproduce:

sync only on wifi = true

1. edit board permissions from "can only share* to "can share and edit"
2. perform fullnsync
3. crash

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/91179635-offlineexception?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github)** We accept bounties v

[2020-04-19 07:37] SpaceCafe opened #392 "Dark mode following system default"
**Is your feature request related to a problem? Please describe.**
I occasionally switch between normal and darkmode on my android 10 phone.

**Describe the solution you'd like**
An automatic change would be nice.

**Additional context**
I assume that the following API is helpful: [Dark theme – Changing themes in-app](https://developer.android.com/guide/topics/ui/look-and-feel/darktheme#changing_t

[2020-04-19 08:10] stefan-niedermann commented on #392
Jup, do you want to create a Pull Request @SpaceCafe ? 🙂🚀

[2020-04-19 22:17] nicolas-it commented on #363
Perfectly fixed :)
Thanks for your work, I really appreciate it!

[2020-04-20 06:23] stefan-niedermann commented on #363
You're welcome 🙂

[2020-04-20 07:52] stefan-niedermann opened #395 "📦 Archived cards"
See https://github.com/nextcloud/deck/issues/1721 for server **inspiration.**

See branch: [`395-archived-cards`](https://github.com/stefan-niedermann/nextcloud-deck/tree/395-archived-cards)

See PR: #399

# Backend

- [x] Implement `SyncManager#dearchiveCard`
- [ ] Implement `SyncManager#getArchivedFullCardsForBoard` (empty method is already there) **ordered by last modified DESC**

# UI / UX

-

[2020-04-20 08:51] stefan-niedermann opened #396 "🎚 Filter cards"
# UI / UX

- [x] Define `Parcelable` data object `FilterInformation`
- [x] Add filter button as a menu point in the top right corner of the `MainActivity`.
- [x] Clicking on it should launch the new `RequestFilterDialogFragment`
- [x] After retrieving new filter information, pass the information down to `StackAdapter`
- [x] Pass filter infromation from `StackAdapter` to `StackFragment` as new opti

[2020-04-20 10:03] stefan-niedermann commented on #324
I did some further tests (branch [`324-avatars-not-updating-proof-of-concept`](https://github.com/stefan-niedermann/nextcloud-deck/compare/324-avatars-not-updating-proof-of-concept?expand=1)) and research and i think the root cause is the way we are initializing the `SingleSignOnLibraryGlideModule`. The problem is, that we are requesting one time the current `SingleSignOnAccount` and build one tim

[2020-04-20 15:02] stefan-niedermann opened #397 "In case of maintenance mode parse the answer more strictly"
`SyncManager#getCapabilities` parses the response of the server in the `onError`-callback quiet loosely:

[code]

While this implementation might be fast, i would prefer a more strict parsing of the response to check if the node fragments are actually in the expected place of the JSON-tree.

Reliability is more important than performance when detecting the maintenance state.

Example:

[code]

[2020-04-20 15:22] #389 closed

[2020-04-20 15:41] stefan-niedermann commented on #391
This was actually caused by the capabilities request when pull 2 refresh and has been fixed in https://github.com/stefan-niedermann/nextcloud-deck/commit/b53a1bfee462933f3d4d34a5faad46b8110d5545

[2020-04-20 15:41] #391 closed

[2020-04-20 16:46] jancborchardt commented on #298
@stefan-niedermann didn’t we use to have that though? With the white border around the circular avatars?

[2020-04-20 17:02] juliushaertl commented on #298
Please also open an issue in the deck app itself, so it doesn't get lost in a closed pull request.

[2020-04-20 17:17] stefan-niedermann commented on #298
@jancborchardt no, we didn't have it yet in the deck android app nor in the deck web app :) just open two reminders in both repositories please, so we don't forget it.

[2020-04-20 19:58] stefan-niedermann opened #398 "SyncManager API reconsolidation"
When using the `SyncManager` i noticed a few inconsistencies which make a powerful class actually bad to use.

Each of the given APIs behaves slightly different and makes especially error handling a pain in the ass. Especially the following points are different in each method:

# Issues

## Threading

Some of the methods start new threads, which make Exceptions uncatchable. Other methods do run on

[2020-04-21 06:31] stefan-niedermann opened #401 "💬 Check if comments app is disabled"
Depends on https://github.com/nextcloud/server/issues/20612 (@desperateCoder please subscribe to this issue)

# Backend

- [ ] Extend Account-class with a new property
- [ ] Defaults to `enabled`
- [ ] Take care of a `capabilities`-endpoint of older server version which *do not* contain the `comments`-entry in the response → default to `enabled`

# UI

- [ ] Respect this when showing / hiding the

[2020-04-21 18:20] stefan-niedermann opened #403 "Pass `Account` instance down to `EditActivity` instead of just `accountId`"
`Account` already implements `Serializable`, should be no issue. This will save us a few database queries.

[2020-04-21 18:42] desperateCoder commented on #403
What about a more central solution? Singleton? If I have to rewrite sync and SyncManager anyways, we can also do this. I guess this is going to be a huge PR, but idk, feelin' cute and sh*t

[2020-04-21 18:50] stefan-niedermann commented on #403
No, it has to be provided this way and not fetched from a singleton because of, you know, android stuff. One needs to provide everything an activity needs via a bundle to ensure, that it can get recovered correctly when stopped in the lifecycle, on orientation changes and so on...

This is a pure UI stuff-thingy, but thank you :)

[2020-04-21 19:09] desperateCoder commented on #403
We hate Android. Life would be so much easier in vanilla java. /Useless complaints

[2020-04-22 07:57] #403 closed

[2020-04-23 07:09] #397 closed

[2020-04-23 07:22] stefan-niedermann commented on #270
This should be fixed with `0.7.0` (not yet released), please reopen if this issue appears again.

Thank you for reporting 🙂

[2020-04-23 07:22] #270 closed

[2020-04-23 07:54] stefan-niedermann commented on #324
Thanks for the report. This will be in `0.7.0` (not yet released). Please notify us if this issue reappears.

[2020-04-23 07:54] #324 closed

[2020-04-23 07:55] stefan-niedermann commented on #351
I did quiet a lot of refactoring in the `EditActivity` since this issue was reported. Can you reproduce it still with the latest master?

[2020-04-23 14:53] stefan-niedermann opened #405 "Glide throws many errors"
Everything works great, but the log is spammed by Glide.

[2020-04-24 12:19] stefan-niedermann commented on #396
Will be shipped with `0.7.0`.

[2020-04-24 12:19] #396 closed

[2020-04-24 12:25] stefan-niedermann commented on #405
Update:

Here are some sample stacktraces:

[code]

I think this might not be a follow-up issue of #324 but independent of it. It might be caused by a defect attachment maybe? :thinking:

[2020-04-24 13:28] desperateCoder commented on #405
most likely... i guess you get this only on your account? Since I am not getting this log, i guess its in fact telling the truth...

[2020-04-24 13:34] desperateCoder commented on #405
you can try wiping the data and only import my instance, if it persists do the same and import yours. If this doesn't help either, maybe build a try/catch around the loading-call to find the bad guy here

[2020-04-24 14:19] stefan-niedermann opened #408 "Enable branding by default"
Branding works good, we should enable it by default when upgrading to `0.7.0`.

- [x] `SyncManager#synchronizeEverything` has to call `SyncManager#refreshCapabilities` for each account

[2020-04-24 14:28] stefan-niedermann commented on #395
This is blocked because the endpoints to retrieve cards does not return archived cards. We have no option to get a list of the archived cards therefore.

Some work on the server side is necessary.

# Optional query param

When calling the endpoint for cards an optional query parameter could be added like `?archived=true`.

## Pro

- Backwards compatible
- Minimal changes on our side

## Contra

-

[2020-04-24 14:32] stefan-niedermann commented on #289
I have some troubles when receiving files which are not physically on the device yet.

I guess we have to store a local copy of the files in the app-directory and upload it from there, but i do not yet fully understand the concept of the `DocumentProvider`. Knowledge input or a Pull Request is welcome 🙂.

[2020-04-24 14:33] stefan-niedermann commented on #351
This should be foxed in the meantime at the latest `master`. Reopen if you are still experiencing the issue. Thank you :)

[2020-04-24 14:33] #351 closed

[2020-04-24 14:45] stefan-niedermann opened #409 "AccessControl switches are not branded"
Use existing `BrandedSwitch`.

[2020-04-24 16:42] stefan-niedermann commented on #259
Will be fixed in `0.7.0` (not yet released).

Thank you.

[2020-04-24 16:42] #259 closed

[2020-04-24 16:44] stefan-niedermann opened #410 "After revoking self access from board, board is still shown"
User A shares board with user b

user b revokes his access from this board

board should be deleted but is still visible.

Not sure if this should be handeled by app-backend @desperateCoder since the board should no longer be available for user b i would expect the boards livedata to fire again maybe?

[2020-04-24 16:45] stefan-niedermann opened #411 "Filter on board without stacks throws exception"
Have a board without any stack.

Filter icon should not be visible.

reminder: Also test what happens when last stack gets deleted.

[2020-04-24 19:04] #409 closed

[2020-04-25 09:43] q-wertz opened #412 "Typo duedate"
**Describe the bug**
When translating in transifex I saw that you use the word "duedate". As far as I know the correct spelling would be "due date"

[2020-04-25 09:45] desperateCoder commented on #412
@q-wertz thanks for the report, we'll fix that! And big thanks for contributing the translation for our app! ❤️

[2020-04-25 09:48] q-wertz commented on #412
Thanks you for providing this app :)

[2020-04-25 10:07] q-wertz commented on #289
Maybe this is also related https://github.com/nextcloud/deck/issues/564 and https://github.com/nextcloud/server/issues/10292

[2020-04-25 10:26] desperateCoder commented on #412
Well, @Valdnet didn't loose any time. See: https://github.com/stefan-niedermann/nextcloud-deck/pull/413

Thanks to both of you!

[2020-04-25 10:26] #412 closed

[2020-04-25 10:50] dan0xii commented on #351
Yep, looks like it's fixed now.

[2020-04-25 11:20] stefan-niedermann commented on #351
Thanks for the feedback 🙂

[2020-04-25 12:10] krestyanikov opened #414 "When added, the lebels are not synchronized with the server."
**Describe the bug**
Thank you for your work. The application is really great. We use custom labels a lot. Usually we use 5 to 10 of them. However, there is a problem with them. When you try to add a label through an application in the autocomplete set, there are always only 3 options, although in reality there are more.

**To Reproduce**
Steps to reproduce the behavior:
1. Add more custom labels

[2020-04-25 12:14] stefan-niedermann opened #415 "Create new Access for user"
User A: Create a new board and go to access control list. Add user b.

This is what one can see now in the web interface:

![grafik](https://user-images.githubusercontent.com/4741199/80279566-d31e1280-86fe-11ea-9034-66244dc0aac5.png)

We can also see this in the DOM of the web interface:

![grafik](https://user-images.githubusercontent.com/4741199/80279579-f2b53b00-86fe-11ea-8edb-1bd958e82531.png)

[2020-04-25 12:19] stefan-niedermann commented on #414
Yeah, it's a duplicate of https://github.com/stefan-niedermann/nextcloud-deck/issues/263

You can just start typing then the other tags will occur. We just thought that we display the most often used tags directly when clicking on the input field.

[2020-04-25 12:20] #414 closed

[2020-04-25 12:20] stefan-niedermann commented on #263
I agree, performance shouldn't be an issue even if one has 100 tags in one board because we already are using a `RecyclerView`.

[2020-04-25 12:28] #410 closed

[2020-04-25 12:31] stefan-niedermann opened #417 "Revoke self from AccessControl of currently active board"
Steps to reproduce:

1. Let someone share Board "TestBoard" with you (including `Share`-permission)
2. Go to the "TestBoard" in the android app.
3. Revoke yourself from the AccessControl
4. Expected currently active board to switch to another board
5. In reality the board stays the just "deleted" board where you should no longer be able to access anything

[2020-04-25 12:42] #411 closed

[2020-04-25 14:53] desperateCoder commented on #415
I guess this is a follow-up to a server-side bug. I already told @juliushaertl, the participant of a ACL entity isn't a user anymore, but a string like "0:stefan". If I'm wrong, i'll fix that after i have updated to the next beta of the server. Blocked for now.

[2020-04-25 17:52] stefan-niedermann opened #418 "Pull 2 Refresh does not work on boards without stacks"

[2020-04-25 18:41] #417 closed

[2020-04-25 20:33] stefan-niedermann opened #420 ""Move card" is not branded"
Steps to reproduce:

1. Open 3-dot-menu of a card in the main view
2. Choose "Move card"
3. Bullet points are not branded

Valid solutions:

- Brand bullet points
- Completely hide bullet points since the actual selection cannot be confirmed like the bullet points suggest (write "current" in brackets after the current stack)

[2020-04-25 20:35] stefan-niedermann opened #421 ""Delete list": Tell user how many card will be deleted"
In confirm dialog of "Delete list" should the number of the cards that will be deleted be mentioned in the description.

[2020-04-25 22:51] stefan-niedermann opened #422 "Allows 255 characters for card title on server >= 1.0.0"
Context: https://github.com/nextcloud/deck/pull/1729#event-3270485410

- [x] Backend: make sure database allows at least 255 characters for card titles (Also see new return status code in error case in linked issue)
- [x] UI: Set `maxLength` for card title depending on server version

[2020-04-26 06:43] stefan-niedermann opened #423 "Handle too old server version"
Given the version of the current account < minimum supported version:

- [x] Teat user interface always like there is no option to edit - the user should not be able to make changes
- [x] Also hide operations in the boards menus
- [x] The UI should display some kind of hint (like maintenance mode) and offer an "update"-button
- [x] The app backend should treat this state similar to when the user i

[2020-04-26 15:24] proserver1 opened #424 "Deck as a "share to" location -> create new card"
**Is your feature request related to a problem? Please describe.**
no problem

**Describe the solution you'd like**
"send to" "new card" as an additional option to "send to"  "add to card"

[2020-04-26 16:36] #263 closed

[2020-04-26 16:36] stefan-niedermann commented on #263
All tags will be shown beginning with version `0.7.0` (not yet released). When typing, matching tags are shown only (like the current behavior).

[2020-04-26 17:07] #424 closed

[2020-04-26 17:08] stefan-niedermann commented on #424
Will be in version `0.7.0` (not yet released). Thank you for the proposal and a special thanks for your donations :slightly_smiling_face: :heart:

[2020-04-26 17:45] #418 closed

[2020-04-27 06:32] desperateCoder commented on #408
done. fyi: I implemented it as the first step of a sync, not only for `syncEverything()`. This way, if the server is in maintenance mode, the sync is not triggered, since it wouldn't work anyway.

If you are ok with this behaviour, you can close this issue.

[2020-04-27 06:34] desperateCoder commented on #405
any news here?

[2020-04-27 07:11] desperateCoder commented on #395
@stefan-niedermann see last commit, its in branch 395-archived-cards

[2020-04-27 08:27] stefan-niedermann commented on #408
Works like a charm. thanks :)

[2020-04-27 08:27] #408 closed

[2020-04-27 08:55] #422 closed

[2020-04-27 09:33] #421 closed

[2020-04-27 11:05] stefan-niedermann opened #429 "Cleanup after failed upload of attachment"
When uploading the **exact same attachment 2 times** to the same card, the server starts burning and gets mad and returns status 500.

The problem is, that the attachment is still in our local database and everytime one tries to sync, the log is spammed with 500 errors.

Also this leads to the attachment being present in the card forever with a `DBStatus.LOCAL_EDITED`

See documentation in `SyncMa

[2020-04-27 14:46] stefan-niedermann opened #431 "ColorChooser occurs multiple times when editing board"
Not 100% reproducible, but i guess that the `initCustomColorChooser()`-method is called from `selectColor()` each time the LiveData in `EditBoardDialogFragment` fires.

One solution would be to change the observation to a `observeOnce`, but we should better analyse why the LiveData fires multiple time even when the Board itself does not change (maybe it fires because cards are getting updated?) an

[2020-04-27 19:09] stefan-niedermann commented on #431
Basically the issue is solved, the `ColorChooser` can now handle many calls on `selectColor`.

Though i would like @desperateCoder to have a look at `SyncManager#getFullBoardById` and why it fires so often when synchronizing (Just post a log entry in `EditBoardDialogFragment` line `63`, you will notice it fires pretty often even nothing of the board actually changes). Can you see what i am missing

[2020-04-27 19:21] stefan-niedermann commented on #405
Seems to be a bug by the Android framework itself (since Version `Q`) and should not affect the functionality.

The Glide team [implemented a workaround](https://github.com/bumptech/glide/commit/1c51b24b5af61a73267e36e486abe7e5157002e7) in version `4.11.0` of Glide. Switching to this Glide version solved the issue.

See https://github.com/bumptech/glide/issues/3851#issuecomment-573717396

[2020-04-27 19:21] #405 closed

[2020-04-27 19:36] stefan-niedermann commented on #429
Cleanest ways would probably be to ask @juliushaertl to return a clean `409 Conflict` http status code instead of a generic `500 Internal Server Error` in case that the "File already exists".

@juliushaertl if you agree, i will open an issue in your repository.

[2020-04-27 19:44] juliushaertl commented on #429
Ah right, that will already be the case with 1.0, but please open an issue for the docs :wink:

[2020-04-27 19:50] stefan-niedermann commented on #429
Thanks :) Another breaking change! :smiling_imp: Any further surprises? :laughing:

@desperateCoder this is your turn now. Go catch whatever jus throws in this case now and delete the local attachment from the database. The UI should already give the user a hint, but the zombie-attachment is still there.

[2020-04-27 20:55] stefan-niedermann opened #433 "Separate overlapping avatars with 2dp"
The overlapping avatars should be separated from each other with a `2dp` border.

[2020-04-28 06:29] desperateCoder commented on #429
@stefan-niedermann should i handle both versions (409 && 500) or only the new one?

I'd tend to handle both codes with the given message equally

[2020-04-28 06:45] stefan-niedermann commented on #429
Since we did not support this error case yet, i am personally fine with only supporting the new message. It does not make the situation worse for users and we plan to raise the minimum supported server version to `1.0.0` in a few months.

But if you want to, you can handle both cases of course - But keep in mind to not forget to drop this support when we raise the version. Tip: for differences bet

[2020-04-28 07:29] desperateCoder commented on #429
done. i only handle 409.

[2020-04-28 07:29] #429 closed

[2020-04-28 07:45] stefan-niedermann commented on #395
Still a quiet strange behavior, i tested and experience this:

1. Go offline
2. Archive card
3. Card disappears
4. Open "Archived cards" view (top right, the "package" icon)
5. Expected card to be present, but it wasn't
6. Have a look into the database
7. Expected card `archived` flag to be `1`, but was `0`.

Questions:

- Why did the `archived` flag not change?
- Why did the card disappear when t

[2020-04-28 07:49] desperateCoder commented on #431
This is because you have `FullBoard`s. So all the relations are tracked as well and will cause the `LiveData` to fire for any `Label`, `User,` `AccessControl` and `Stack`. You could observe the stack only, or maybe `onlyIfChanged()` might help. But at the end of the day this works as designed by Room.

[2020-04-28 07:55] stefan-niedermann commented on #431
Ah, `onlyIfChanged` wasn't used in the `Adapter`. I added it, and **now** it works like expected :smile:

I understand the concept of all relations firing new LiveData, but i assumed that `onlyIfChanged` was already present (which wasn't the case).

[2020-04-28 07:55] #431 closed

[2020-04-28 13:09] stefan-niedermann opened #434 "Check if Transformations.distinctUntilChanged can replace LiveDataHelper.onlyIfChanged"
From the [docs](https://developer.android.com/reference/androidx/lifecycle/Transformations#distinctUntilChanged(androidx.lifecycle.LiveData%3CX%3E)):

The implementation looks pretty similar:

[code]

[2020-04-28 16:47] #433 closed

[2020-04-28 16:50] stefan-niedermann commented on #433
cc @jancborchardt for the 2px border around the avatars.

![grafik](https://user-images.githubusercontent.com/4741199/80514584-01128980-8981-11ea-8685-4c8c415e1d95.png)
![grafik](https://user-images.githubusercontent.com/4741199/80514628-0d96e200-8981-11ea-8309-099c44d0a834.png)

[2020-04-29 08:50] jancborchardt commented on #433
Great stuff, looks perfect! :) Is this a component of sorts we could re-use in the Files app too?

[2020-04-29 08:59] stefan-niedermann commented on #433
In theory this is reusable.

@tobiasKaminsky if you **want** to reuse this component, i will put some :heart: into it and extract it into a own module :package:.

But beware, the border is a hard color value which has to be set depending on where you are using the `OverlappingAvatarsLayout` - because in the sample case the background of the material card uses a transparent color, and if use the ex

[2020-04-29 14:49] stefan-niedermann opened #435 "Implement ETags for Capabilities endpoint"
Depends on https://github.com/nextcloud/server/issues/20693 (issue) and https://github.com/nextcloud/server/pull/20722 (pull request).

The `capabilities` endpoint will support `ETags` in the future.

To simulate this behavior, one can change in `core/Controller/OCSController.php` the end of the `getCapabilities()`-function from

[code]
to

[code]

Description of how it works can be found here: ht

[2020-04-29 18:38] stefan-niedermann opened #436 "Creating a new board does not switch to this board after submit"

[2020-04-29 19:33] stefan-niedermann opened #437 "Wrong icon in activities tab"
When creating a new card in a board which supports comments, the last tab should display a lightning, but actually displays the comments icon.

[2020-04-29 20:37] stefan-niedermann opened #438 "Creating board when offline gets deleted after next sync"

[2020-04-29 20:38] stefan-niedermann opened #439 "Creating stack offline does not work"
They get deleted as soon as one goes online again and performs a full sync.

[2020-04-29 20:52] stefan-niedermann opened #440 "Adding comments adds one additional empty comment"
Add comment with texr "abc".

Comment "abc" is created but additionally a comment with an empty text gets created.

[2020-04-30 06:49] #437 closed

[2020-04-30 07:14] #436 closed

[2020-04-30 08:06] stefan-niedermann commented on #440
Okay and now the funny part: Just played a little bit aroudn and this seems to be solved when using `Transformations.distinctUntilChanged` instead of `LiveDataHelper.onlyIfChanged` (#434) :laughing:

[2020-04-30 09:20] stefan-niedermann commented on #440
Ah, this is completely independent from #434, it depends on how the comment gets submitted:

- Pressing FAB: 1 comment
- Pressing virtual keyboard enter: 1 comment
- Pressing physical keyboard enter: 2 comments

[2020-04-30 09:21] #434 closed

[2020-04-30 09:49] #440 closed

[2020-04-30 10:25] #438 closed

[2020-04-30 10:26] desperateCoder commented on #439
fixed in https://github.com/stefan-niedermann/nextcloud-deck/commit/71134ce94b3bd0ff86358fc8bce89a293bcdfe06

[2020-04-30 10:26] #439 closed

[2020-05-01 05:52] sh2515 opened #443 "JsonArray cannot be cast to JsonObject"
[code]

If you need anymore details let me know.

[2020-05-01 06:52] stefan-niedermann commented on #443
Hi @sh2515,

yes, we will need more information to tackle this issue i guess.

please describe the exact steps you did to get this error message. Did you freshly install it? Did you use it for a while? Did you perform an update lately? Did you create a tag or a card or did?

Can you reproduce this issue?

Have you tried to de- and reinstall the app? Does it happen again?

I also see you used an ol

[2020-05-01 07:37] ipoupaille opened #444 "Crash on some devices caused by maxLines-ellipsize combination"
Appear after success login

Log:

[code]

[2020-05-01 08:04] stefan-niedermann commented on #444
Can you please try version `0.6.0` and tell me if it worked there for you? I will have a look asap.

[2020-05-01 08:25] ipoupaille commented on #444
This is the same

[code]

[2020-05-01 08:46] stefan-niedermann commented on #444
Seems to be a bug in android itself according to [this Stackoverflow entry](https://stackoverflow.com/a/45442154). I will try to find a workaround but i need your help @ipoupaille because i cannot reproduce it on my machines. You will need to test some fixes and tell me whether or not it works. Is this okay for you?

[2020-05-01 09:03] ipoupaille commented on #444
It is ok for me if it is not too hard. I don't know a lot about android.

[2020-05-01 09:17] stefan-niedermann commented on #444
I will just send you `.apk`-files and you only will need to install them and tell me if they crash or not :wink: pretty easy.

[2020-05-01 09:22] stefan-niedermann commented on #443
@sh2515 can you try to clear the storage of the app (Android settings → Apps → Nextcloud Deck → Storage → Clear storage), install version `1.0.0` from F-Droid and try it again?

[2020-05-01 09:28] stefan-niedermann commented on #444
And here comes the first `.apk`-file (you obviously have to unzip before you can install it - sorry, it comes straight from our CI / CD system which always zippes the apps):

https://github.com/stefan-niedermann/nextcloud-deck/suites/645042073/artifacts/5444914

I removed some of the most probable causes for the error. We need to find the exact place that is causing the issues before we can solve

[2020-05-01 09:42] desperateCoder commented on #443
Anything i could do something about is printed in the exception-screen, i don't think it would make any sense trying to gather more information, since the error could be caused by pretty much anything. Dumping the whole thing could actually help, but i guess not many users use nextcloud just to dump their private data to random guys on the internet? :grin:

In most cases i think just reinstalling

[2020-05-01 13:18] ipoupaille commented on #444
It is working.

[2020-05-01 13:22] ipoupaille commented on #444
Oops, I still have a problem when the application goes to background, and again to foreground:
[code]

[2020-05-01 22:13] stefan-niedermann commented on #444
Okay, can you now test this please: https://github.com/stefan-niedermann/nextcloud-deck/suites/646590678/artifacts/5482346

Does this still work for you?

[2020-05-02 07:17] ipoupaille commented on #444
No, I have again the ArrayIndexOutOfBoundsException in android.text.StaticLayout.calculateEllipsis(StaticLayout.java:733)

Regards,

[2020-05-02 12:55] stefan-niedermann commented on #444
Thanks. I isolated 3 possible locations of the error.

Next test app: https://github.com/stefan-niedermann/nextcloud-deck/suites/647626349/artifacts/5506174

[2020-05-02 13:50] ipoupaille commented on #444
This is working.
Each element is quiet height (2 lines). On another device, it is taking only one line.
I hadn't noticed it the first time.

![IMG_20200502_154725895](https://user-images.githubusercontent.com/36363815/80865922-71285480-8c8c-11ea-93bf-3ea02bd7fba0.jpg)

[2020-05-02 13:57] stefan-niedermann commented on #444
That's fine, you just haven't got the newest version on your other device. But that's another topic.

So, about the issue, it seems to be a consequence of https://github.com/stefan-niedermann/nextcloud-deck/issues/136#issuecomment-536216820

I will have a look what we can do here.

[2020-05-02 14:05] ipoupaille commented on #444
Thank you very much for the time spent.
Is the version you provided to me usable until the issue is corrected in a official version?
Regards

[2020-05-02 14:06] stefan-niedermann commented on #444
It can be used safely, but beware that it won't receive any updates.

[2020-05-02 14:14] stefan-niedermann commented on #444
First attempt to fix it: https://github.com/stefan-niedermann/nextcloud-deck/suites/647728262/artifacts/5509060

Sorry again that i have to bother you with all those attempts, but as i can't reproduce it, i have no other options to fix it :slightly_frowning_face:

[2020-05-02 14:29] ipoupaille commented on #444
I am so sorry, but it is not working. Still ArrayOutOfBoundsException.

[2020-05-02 14:37] stefan-niedermann commented on #444
Next: https://github.com/stefan-niedermann/nextcloud-deck/suites/647753824/artifacts/5509679

[2020-05-02 14:41] ipoupaille commented on #444
It is working

[2020-05-02 14:42] stefan-niedermann commented on #444
That's good news. Now i will try to restore the original behavior for current android versions and if it keeps working, we can merge this into master and publish the fix with the next version.

[2020-05-02 14:51] stefan-niedermann commented on #444
Hopefully last version: https://github.com/stefan-niedermann/nextcloud-deck/suites/647767259/artifacts/5510045

😓💨

[2020-05-02 14:58] ipoupaille commented on #444
It is working. Congratulations.

[2020-05-02 14:59] stefan-niedermann commented on #444
Thanks you! Will be released in version `1.0.0`.

I think i deserved a cake.

![gif](https://media.giphy.com/media/11qA23s14znYMU/giphy.gif)

[2020-05-02 14:59] #444 closed

[2020-05-02 15:01] ipoupaille commented on #444
Has version 1.0.0 not already been released?
Enjoy you peace of cake.

[2020-05-02 15:02] stefan-niedermann commented on #444
Sorry, edited - definitely the next version, likely `1.1.0`, maybe `1.0.3`, let's see...

[2020-05-02 15:11] #309 closed

[2020-05-02 15:13] stefan-niedermann commented on #309
Will be released on version `1.1.0`.

![grafik](https://user-images.githubusercontent.com/4741199/80868043-43e1a380-8c98-11ea-8dc0-b96fb1b63ee5.png)

[2020-05-03 19:20] simonspa opened #447 "Render card text as Markdown"
**Is your feature request related to a problem? Please describe.**
In the web app the card description text is rendered as Markdown, i.e. with titles, bullet lists and most importantly checkbox lists. I do see that these are picked up already and displayed as small icon on the card.

**Describe the solution you'd like**
It would be great if the text would also be rendered in the Android app. This

[2020-05-03 19:46] stefan-niedermann commented on #447
Duplicate of https://github.com/stefan-niedermann/nextcloud-deck/issues/311

[2020-05-03 19:46] #447 closed

[2020-05-04 11:19] stefan-niedermann opened #448 "Three sample tasks on fresh server setup cause sync errors"
Given you have a clean new server setup and sync the very first time with the android app
When you change one of the example tasks
Then it will cause sync errors until you delete the changed example task.

See `FIXME` hint in https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/java/it/niedermann/nextcloud/deck/persistence/sync/helpers/providers/CardDataProvider.java#L75-L8

[2020-05-04 12:26] desperateCoder commented on #448
Server Version? It should work on your server, mine is broken, jus knows.

[2020-05-04 12:35] stefan-niedermann commented on #448
it was on a `1.0.0-beta2` (not yours).

[2020-05-04 17:23] stefan-niedermann commented on #443
@sh2515 please feel free to reopen this issue if it still occurs after clearing the storage of both apps, Nextcloud Android and Nextcloud Deck Android, and provide the [requested information](https://github.com/stefan-niedermann/nextcloud-deck/issues/443#issuecomment-622274153).

Regards

[2020-05-05 13:31] niccokunzmann opened #451 "Error when clicking into new card title field"
When clicking into the title field of the a new card, I got the following error message:

[code]

[2020-05-05 13:39] stefan-niedermann commented on #451
Excuse me? [I just told you in to please update the app to the latest version](https://github.com/nextcloud/deck/issues/1796#event-3302783489). `0.0.16` is **outdated** and not longer supported.

Current versions are:

- Google Play Store: `1.0.2`
- Google Play Store (Beta channel): `1.1.0`
- F-Droid: `1.0.1`

Feel free to open a new issue [using the issue template](https://github.com/stefan-niede

[2020-05-05 13:39] #451 closed

[2020-05-06 08:05] stefan-niedermann opened #452 "Use Nextcloud Text for description for appropriate markdown rendering"
https://github.com/juliushaertl/nextcloud-text/tree/master/src

Of course it should work offline, too. Might need some changes in the lib itself.
Plus we need some kind of wrapper library for Android which hides the webview stuff in a custom `View` class so it is reusable in any Android app.

[2020-05-06 08:05] stefan-niedermann commented on #311
Closing this in favor of issue number 452 (Use Nextcloud Text for description for appropriate markdown rendering).

[2020-05-06 08:05] #311 closed

[2020-05-06 15:24] stefan-niedermann opened #453 "🔀 Move cards to other boards and accounts"
# Backend

- [x] Implement `SyncManager#moveCard()` @desperateCoder

# Frontend

- [x] Refactor UI so we can reuse the `Account` / `Board` / `Stack` picker from `PrepareCreateActivity`
- [x] Display selects from `Account` `Board` and `Stack` in the move dialog for single cards
- [x] call `SyncManager#moveCard()` instead of only updating the stack via `SyncManager#updateCard()`

![grafik](https://u

[2020-05-06 15:31] stefan-niedermann opened #454 "💬↩️ Reply to comments"
Check whether or not API is already available (https://github.com/nextcloud/deck/issues/1831) and implement.

Menu on longpressing comments should contain a menu item "Reply". Clicking to it should add a preview at the top of the input field with a abort-cross at the right side as known by many messengers.

[2020-05-06 15:33] stefan-niedermann opened #455 "➕ Clone boards with existing stacks and labels"
- [x] Implement `SyncManager#cloneBoard` @desperateCoder
- [x] Implement new menu item in `DrawerMenuUtil`
  - [x] Step 1: Do not display any dialog but directly use the following parameters:
    - Use `%1$s (Copy)` as new board title
    - origin board color as the target board color
    - origin accountId as the target accountId
  - [x] Step 2: Reuse `EditBoardDialog` to allow user change title

[2020-05-06 17:23] q-wertz opened #456 "Clear storage tip: show direct button to start app info page"
**Describe the bug**
Only a cosmetic bug...
The explanation how to delete the storage of the Nextcloud / Nextcloud Deck app does not really fit the Android naming (at least on Android 10)
https://github.com/stefan-niedermann/nextcloud-deck/blob/c45bb3ce09f5bf7aab80f89aba047c32f103b741/app/src/main/res/values/strings.xml#L231

**Expected behavior**
On Android 10 (maybe bad translated from German, m

[2020-05-06 17:32] stefan-niedermann commented on #456
Yep, sure it's `storage` and not `cache`.

Hmm. I don't think there is a general description that fits to every device, rom and version...

[2020-05-06 17:35] stefan-niedermann commented on #456
Maybe we can simply use a button and open this page directly on click 🤔

[2020-05-06 17:39] desperateCoder commented on #456
Nope, waaay too good ux. 😉

[2020-05-06 17:56] stefan-niedermann commented on #456
Shut up, backend donkey!

[2020-05-06 17:58] desperateCoder commented on #456
❤️

[2020-05-06 18:03] stefan-niedermann commented on #456
❤️

[2020-05-06 18:19] stefan-niedermann commented on #456
Found [this information](https://stackoverflow.com/a/4772481), should be possible:

[code]

[2020-05-06 19:15] q-wertz commented on #456
Me neither. I think the "navigation description" is just a little bit misleading for non technical users.
The button idea sounds quite nice to me.

[2020-05-06 19:36] simonspa opened #458 "Crash on Android 7.1"
**Describe the bug**
Got this stack trace when starting:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app
2. See error

**Expected behavior**
:-)

[2020-05-06 19:42] stefan-niedermann commented on #458
Hmm... a few questions:

- did it work once and stopped working or did you start the app the very first time?
- have you done an update or is this version a fresh install?
- have you recently deleted a board?

Could you please try to delete the storage of the app and readd your account? (android settings -> apps -> Nextcloud Deck -> storage -> delete storage)

[2020-05-06 19:45] stefan-niedermann commented on #456
jup. will implement it that way. Something like

[code]

[2020-05-06 20:08] simonspa commented on #458
It's a bit mysterious indeed:

* mostly it works just fine, the crash only appears spuriously
* normally, the app works flawlessly
* this is a fresh install of 1.0

One suspicion I have is that it has to do with network changes: I currently test Deck and this app with my testing NC server only reachable from within my LAN. It "feels" like the crashes appear after I have been outside the network. I

[2020-05-06 20:17] stefan-niedermann commented on #458
I have also an idea and will further investigate it.

It might get caused by applying the branding before the last used board could be read from storage. So if you are able to reproduce the issue on a regular base you could disable the branding in the app settings to verify if this prevents the crashes.

[2020-05-07 09:58] Chluz opened #459 "Crash on Oneplus 3T on new task"
**Describe the bug**
Unpon creating a new task, crash on method getLocalId()

**To Reproduce**
Steps to reproduce the behavior:
1. Open App
2. Click on + (new task)
3. Enter a name
4. Click on checkmark to save task
5. App crashes

**Expected behavior**
App does not crash

**Screenshots**

**Smartphone (please complete the following information):**
- Device: Oneplus 3T (device immobile since openi

[2020-05-07 10:19] stefan-niedermann commented on #459
Dear @Chluz,

to fix this, we need some more information:

- thank you for the bug report. Does this only happen on new tasks or also on editing?
- which server version exactly are you using?
- does it also happen on other boards / accounts?
- how is the setup of this board? are you the owner? did people share it with you (which permissions are granted for you)

Thank you in advance

[2020-05-07 10:39] Chluz commented on #459
Hi Stefan,

thanks for the quick reply:
- It only happens on new tasks
- I'm using version 	1.0.0 of Deck, selfhosted on Nextcloud 18.0.4
- It happens on other boards as well. I could not test other accounts.
- I am testing on board that I have created and own. They are not shared.

[2020-05-07 10:45] desperateCoder commented on #459
Did you use the 1.0.0-beta of the server app before? There was a bug regarding to the user-representation in the servers responses. If you upgraded the afterwards, this could be the cause...

[2020-05-07 11:21] Chluz commented on #459
I don't think I used that version.
For good, I fully deleted the app on the server (including all deck tables) and then reinstalled and reenabled the app same result.

[2020-05-07 11:25] stefan-niedermann commented on #459
Have you tried to clear the storage of the android app, too?

Android settings -> Apps -> Nextcloud Deck -> Storage -> Delete storage

If this doesn't help either we will need an test account to reproduce this issue.

[2020-05-07 12:01] Chluz commented on #459
Clearing the storage did not work. I can create a test account on my server if required

[2020-05-07 12:03] desperateCoder commented on #459
This would help a lot! You can be sure, we wouldn't release the app, if we also had this kind of issues on our instances.

[2020-05-07 12:40] stefan-niedermann commented on #459
you can send the credentials of the test account to info@niedermann.it i will share them with @desperateCoder only.

[2020-05-07 13:20] stefan-niedermann opened #460 "About credentials exposes markup (strong tag)"
![grafik](https://user-images.githubusercontent.com/4741199/81299260-3ea89e00-9076-11ea-9a5c-f4a8a6486e45.png)

[2020-05-07 13:23] desperateCoder commented on #460
Holy cow! Wtf is this about?! Did I screw up parsing? Or is this a display-only issue?

[2020-05-07 13:26] stefan-niedermann commented on #460
It's a display-only issue, don't worry.

[2020-05-07 13:55] stefan-niedermann commented on #460
Jup. Translations are outdated:

![grafik](https://user-images.githubusercontent.com/4741199/81302619-e3c57580-907a-11ea-86db-fe25132cd1a4.png)

We removed all the HTML stuff so the translations are easier, but it seems like some languages haven't been updated since then.

Affected are at least language codes `b+en+001`m `ko` and `nb-rNO` (i looked for `href` and `strong` in the translated files)

[2020-05-07 14:25] Chluz commented on #459
Done, thanks again

[2020-05-07 14:30] stefan-niedermann commented on #459
Received. Could log in, create a new task and sync it to the server successfully at the first glance, will investigate further...

Might be a local / environment issue.

[2020-05-07 14:35] Chluz commented on #459
I suspect something specific to oneplus devices, there was another bug that was identical a while back from another user, I think with a oneplus device

[2020-05-07 14:46] desperateCoder commented on #459
Mine is a OnePlus 3 (no T), but with a custom rom (Android 10), hold on, I'll give it a try.

[2020-05-07 14:51] desperateCoder commented on #459
No issues. 😞
![Screenshot_20200507-164904](https://user-images.githubusercontent.com/6911132/81309186-f2178f80-9082-11ea-95d9-f4ce5f10a7e1.jpg)

[2020-05-07 14:57] Chluz commented on #459
ok, I tested with the test account I created for you, and no issues.
I am using LDAP and SSO for the main account. I will check with another account on that. Thanks for your help

[2020-05-07 15:04] desperateCoder commented on #459
@Chluz this is quite insteresting, i don't think we ever tested it this way. We use the [Nextcloud SSO library](https://github.com/nextcloud/Android-SingleSignOn) for network communication. Maybe our friends @tobiasKaminsky and @David-Development are able to tell us, if this should generally be working in this constellation?

If they say it should generally work, we could investigate it further by

[2020-05-07 15:06] stefan-niedermann commented on #459
@Chluz said, he can edit task but not create tasks. Therefore i assume the SSO bridge itself is working well.

How do we determine the userId when create a new card? I think we use the username of the current account, no? This might be wrong in case of using LDAP on the server.

[2020-05-07 15:09] stefan-niedermann commented on #459
I think @juliushaertl can tell us what we have to consider when creating new cards in a LDAP scenario regarding the user.

[2020-05-07 15:14] desperateCoder commented on #459
@stefan-niedermann absolutely valid point. The `uid` of a user should match the `userName` of the account. Do anyone know an easy way to look into our SQLite DB? Sure, ADB would work, but i dont know if @Chluz is fimiliar with ADB and Android stuff. Are you?

[2020-05-07 15:17] Chluz commented on #459
I'm familiar with ADB enough to allow me to flash bootloaders and recoveries :)

[2020-05-07 15:21] niccokunzmann opened #461 "Open card + backbutton crash"
When I open a card and click the back button before the loading of the activity is complete, I received this error:

[code]

[2020-05-07 15:23] Chluz commented on #459
Ok, I have tested the following:
- New account on LDAP and SSO: working fine
- Old account (different non admin user) on LDAP and SSO: working fine.

Only my account seems to not be working...

[2020-05-07 15:25] niccokunzmann opened #463 "How to delete labels"
I wonder if it is possible. How can I delete Labels with this app? I would expect this in the settings.

[2020-05-07 15:30] desperateCoder commented on #463
Since the latest version you can open the sidebar on the left, then select the three-dot menu or the desired board, then select "manage labels". Does that work for you?

[2020-05-07 15:32] niccokunzmann opened #464 "Allow moving cards to different decks/boards"
When I want to move a card, I open the menu. There, I expect an entry named "to deck >" which opens a new menu with the decks. When I click on a deck, it opens the menu with the columns of the deck and shows the name of the deck at the top. When I click on a column name of the new deck, I would like to see a bar at the bottom for a long time which says "moved card.to column X of deck Y" and a butt

[2020-05-07 15:34] niccokunzmann commented on #463
I have version 1.0.1, latest from f-droid.

[2020-05-07 15:34] stefan-niedermann commented on #464
Duplicate of #453

[2020-05-07 15:34] #464 closed

[2020-05-07 15:35] stefan-niedermann commented on #463
Version `1.1.0` is already tagged and will be shipped by F-Droid within the next few days. Managing labels will be possible with this version, just a little patience :slightly_smiling_face:

[2020-05-07 15:35] #463 closed

[2020-05-07 15:55] sh2515 commented on #443
I tried:
1  reinstalled the app
2. Deleted the data and cache
3. Updated the app to the one of Google play
![Screenshot_20200507-165048](https://user-images.githubusercontent.com/5173444/81316236-41f65680-9083-11ea-9a31-a8c9819e0785.png)
I get the attached error. Not sure what is wrong with it.

Let me know if you need the information sending through as you describe above.

[2020-05-07 16:06] stefan-niedermann commented on #443
Which version of the Deck server app are you using exactly, please?

[2020-05-07 17:37] tobiasKaminsky commented on #459
is this an admin?
What other apps do you have enabled on NC server?

[2020-05-07 17:39] Chluz commented on #459
This is indeed an admin.
These are the enabled apps:
[code]

[2020-05-07 17:44] tobiasKaminsky commented on #459
@desperateCoder what is userName for you? The one he logged in with?
Then this might be the reason, as this can be anything in a ldap scenario (and elsewhere).
E.g. you can have
- userId: tobi
- loginName: tobias@mail.xxx OR tobi OR telephoneNumber (in LDAP)
- pass: will be app token

Why does it need to match?

[2020-05-07 19:38] jakobroehrl commented on #452
@stefan-niedermann Great! Why Do you consider using it?
I proposed it here already: https://github.com/stefan-niedermann/nextcloud-notes/issues/698
Thanks!

[2020-05-07 19:50] stefan-niedermann commented on #452
Because the use case is different and performance is in the notes app a way more sensible topic because people use it for 10k-20k character texts. If everything goes fine at the deck app with this plan, i will reconsider it for the notes app.

Maybe you are interested in contributing here? 🙂

[2020-05-07 20:18] stefan-niedermann opened #465 "Connection fails because "order" of a stack is null"
[code]

[2020-05-07 21:13] stefan-niedermann commented on #465
@juliushaertl do you know how a stack `order` can be `null`? One of our users has a Deck instance which currently cannot get synced because one of the stacks has `order: null`. While we will try to fix this on the client (by catching the `null` and default it to `0`, this might be an issue you want to fix on the backend also?

[2020-05-08 03:53] bubelov opened #466 "App crashes on startup when using certain Nextcloud theme colors"
**Describe the bug**

My Nextcloud returns account.color = #000, which [Android's Color class can't parse](https://developer.android.com/reference/android/graphics/Color.html#parseColor%28java.lang.String%29) so the app crashes on this line:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Nextcloud -> Settings -> Theming
2. Set color as #000000
3. Install Nextcloud Deck
4. Try

[2020-05-08 05:10] jakobroehrl commented on #452
OK, fine.
I would love to do something on Android. Did my 1st Andorid PR this week with Mario. But I need a mentor here, and I would like to do first some things in the Deck Server App.

[2020-05-08 06:17] stefan-niedermann commented on #452
Sure, whenever you have time :) Be warned though: ⚠️ Android is a bitch 😉

[2020-05-08 06:19] stefan-niedermann commented on #466
Absolutel, thank you very much for this very detailled bug report! Will fix as soon as possible.

[2020-05-08 06:36] fds2610 opened #467 "Android NC Deck App - only ontime replication?"
**Describe the bug**
configuring an account results in initial downloading all deck-cards and their details quite well. unfortunately after this initial download no changes on either side are being replicated to and from the phone.

**To Reproduce**
Steps to reproduce the behavior:
change a deck-card
start replication
nothing changes.

**Expected behavior**
changes should be replicated to either s

[2020-05-08 06:43] stefan-niedermann commented on #467
Try to pull to refresh (swipe from top to bottom and release your finger then).
It should start to synchronize (Circle should start spinning). Does any snackbar at the bottom appear which has a "more" action on the right side?
Should look something like this:

![grafik](https://user-images.githubusercontent.com/4741199/81378676-f9cd4780-9107-11ea-8182-6b3173e80ac9.png)

If yes: Press it and post t

[2020-05-08 06:44] stefan-niedermann commented on #466
I'll do this one.

[2020-05-08 06:45] kai11 commented on #207
Server app v 1.0.0 released and comments work fine in Android app. Thanks for this huge effort.

[2020-05-08 06:46] stefan-niedermann commented on #207
Great to hear that everything works as expected.

We will enhance the comments area as soon as we ironed out some basty remaining bugs :)

[2020-05-08 07:11] fds2610 commented on #467
Hi Stefan,
unfortunately i do not get a "more..." displayed as the sync wheel spins forever...

[2020-05-08 07:14] desperateCoder commented on #207
@kai11 you're welcome, buddy! Glad to hear nice words here and then, not only bug reports 😀

[2020-05-08 07:46] stefan-niedermann commented on #467
How many boards / lists / cards do you have and how fast is your internet connection? Is it possible that the sync simply takes up some time?

[2020-05-08 07:57] #466 closed

[2020-05-08 08:08] stefan-niedermann commented on #466
Will be fixed in version `1.1.1`. Thanks!

[2020-05-08 08:19] fds2610 commented on #467
hmmm... it's 4 boards with 12 cards in total - and I waited for days before i opened the bug, here.

[2020-05-08 08:25] stefan-niedermann commented on #467
Which server version are you using exactly please? And which version of the android app?

[2020-05-08 08:25] stefan-niedermann commented on #465
@desperateCoder your fix worked.

[2020-05-08 08:25] #465 closed

[2020-05-08 08:33] fds2610 commented on #467
NC server: 18.0.3
NC deck: 0.8.2
app: 1.0.2

[2020-05-08 08:39] stefan-niedermann commented on #467
Can you update the server to `1.0.0` (it has been released as a stable version a few days ago) - just we can ensure that no old version causes this.

It certainly sounds like an issue with your internet. Have you maybe enabled the "Sync only on Wifi" option?

If not: Can you provide us a test account so we can try to reproduce the issue? (Just send the credentials to info@niedermann.it)

[2020-05-08 08:42] fds2610 commented on #467
after updating to 1.0.0 it works (at least once, now).
Yes, WLAN sync only is turned on, though I AM in wlan connection and i established the initial setup with the same conditions. I will continue to monitor this topic... thank you for your patience !

[2020-05-08 08:42] #467 closed

[2020-05-08 08:43] stefan-niedermann commented on #467
Absolutely no problem :slightly_smiling_face:  That's why we are here. Just let us know if you have any further problem.

[2020-05-08 09:38] deljones opened #470 "Cant create new tags"
**Not Able to create new tags**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a board
2. Create a list and a card in the list
3. Double click the card. Info opens up on the right
4. Go to tags. Type in the new tag name. Nothing happens

**Expected behavior**

**Smartphone **
In the Andoid version of Deck YOU CAN create new tags which do appear on the desktop version. You just can't

[2020-05-08 10:01] stefan-niedermann commented on #470
So you only have an issue with the web version? In this case open the issue please in this repository: https://github.com/nextcloud/deck/issues/new?template=Bug_report.md

[2020-05-08 10:33] stefan-niedermann commented on #443
Ping @sh2515

[2020-05-08 10:35] stefan-niedermann commented on #420
Closing in favor of #453

[2020-05-08 10:35] #420 closed

[2020-05-08 10:48] stefan-niedermann commented on #470
Closing because of https://github.com/nextcloud/deck/issues/1830

[2020-05-08 10:48] #470 closed

[2020-05-08 10:57] desperateCoder commented on #459
@tobiasKaminsky sorry for the late response!
this is `userName`:
[code]

(where `account` is the `SingleSignOnAccount` selected by the user in your dialog)

The other question is: is this the username returned by the server (@juliushaertl) in the participants / acl / comments / assigned users?

[2020-05-08 11:10] cappuMUC opened #471 "📦 Archived board is shown list of boards"
**Describe the bug**
I have an archived project in my  project list which is hidden in Nextcloud's web UI . In the Deck app it is presented as a normal, unarchived project.

**To Reproduce**
1. Archive a new or existing board in the web UI
2. Open Deck app on Android device

**Expected behavior**
The archived board is hidden or at least marked as archived in the list of boards.

**Smartphone (plea

[2020-05-08 11:26] stefan-niedermann commented on #471
@desperateCoder i think at least the following queries should hide `archived` cards:

- `getBoards`
- `getFullBoards` (Currently unused, but for consistency)
- `getBoardsWithEditPermission`

Alternatively we can add an additional argument `boolean withoutArchived` or so, but i don't see any reasons to do this effort for now.

Please add a line of Javadoc to those methods which says, that the metho

[2020-05-08 11:27] stefan-niedermann opened #472 "📦 Archive boards"
- [x] Implement `SyncManager#archiveBoard` (stub method already exists)
- [x] Implement `hasArchivedBoards`
- [x] Implement `getBoards` and `getFullBoards` *with* flag - Updated Javadoc tells you how
- [x] Use it in UI

[2020-05-08 12:16] desperateCoder commented on #471
done. no flag, since there is currently no need.

[2020-05-08 12:20] stefan-niedermann commented on #471
Works, will be shipped with `1.3.0`.

I will open further issues for a good integration of archived boards in the future, but hiding archived boards in the first step seems to be a good quick fix to avoid confusion.

[2020-05-08 12:20] #471 closed

[2020-05-08 13:26] rakekniven commented on #460
Fixed in en_GB, ko and nb-NO

[2020-05-08 13:27] rakekniven commented on #460
Did not find other occurences

[2020-05-08 14:18] stefan-niedermann commented on #460
Great, thank you! :)

[2020-05-08 14:18] #460 closed

[2020-05-08 14:19] stefan-niedermann commented on #460
Let us know if you need some beer or so @rakekniven ! At some point in the future there *will* be a Nextcloud hackweek or conference again for sure. Would be great if we could thank you for all the transifex-stuff personal :)

[2020-05-08 19:16] simonspa opened #473 "Don't preselect title when edit card"
When opening a card, currently the title is preselected for editing. For me, this immediately opens the keyboard which covers up half of the card.

I think it would be more fluid if the title is not selected - at least I only rarely find myself editing it anyway. This way, the whole card would be visible immediately.

![Screenshot_20200508-211537](https://user-images.githubusercontent.com/1677436/

[2020-05-08 19:36] desperateCoder commented on #473
Do you mean in edit mode or in general? I pretty much agree with you, but in create mode, I'd like to keep this behavior.

[2020-05-08 19:38] stefan-niedermann commented on #473
This should already be the case

- Create new card: Open keyboard and focus title
- Edit existing card: Keep keyboard closed and do not focus anything

Just tested it and works on my device. @desperateCoder can you confirm this?

Which version of the app exactly are you using @simonspa (see "About" in sidebar)

[2020-05-08 19:47] simonspa commented on #473
@desperateCoder I agree with you, when creating a new card this of course makes sense.

@stefan-niedermann I'm on the latest offered to me by Google Play (1.0.2) which I realize is not the latest released one. Let me try to trigger Google Play, maybe it trickled through by now...

[2020-05-08 19:49] simonspa commented on #473
I'm on version 1.2.1 now but still have the same behavior: the keyboard opens no matter whether it is a new card that is created or an existing one I just opened for viewing.

[2020-05-08 19:49] stefan-niedermann commented on #473
This should already be included since a `0.x.x`-version, so ...

What exact device are you using?

[2020-05-08 19:50] simonspa commented on #473
It's an Oneplus X (`onyx`) with LineageOS, i.e. Android 7.1.2

[2020-05-08 20:01] desperateCoder commented on #473
OnePlus 3 on Colt OS  Android 10 here. Works as desired for me... That's weird, because @stefan-niedermann uses Lineage as well (Poco F1). Maybe an exotic setting in the rom options?

[2020-05-08 20:06] simonspa commented on #473
Not that I'm aware of - it's the (pretty old) standard installation, the last one they offered for this device...

[2020-05-08 20:10] stefan-niedermann commented on #473
I will have a look 👀  with an emulator, but i can't promise anything for old custom roms, unfortunately 🤷‍♂️

[2020-05-09 00:18] motifsmedia opened #474 "Checkbox markup no longer working with update to version 1.0"
Previously checkbox markup was working by simply doing this in a card's description
`[ ] this is a checkbox. `

Now the above does not render a checkbox, but instead renders the text as the literal `[ ]`

All of my previous cards that used checkboxes are no longer working. This was a great way to add sub tasks to a single card.

I have found that a checkbox can work if it is preceded by a hyphen s

[2020-05-09 04:53] stefan-niedermann commented on #474
Hi, wrong repository, buddy. This is only about the Android app.

But there is already an open issue describing the problem in the correct repository: https://github.com/nextcloud/deck/issues/1828

You should upvote and subscribe to it 🙂.

Regards

[2020-05-09 04:53] #474 closed

[2020-05-09 09:40] simonspa opened #475 "Random (rare) crash during synchronisation attempt"
**Describe the bug**
Sometimes I manage to run into random synchronisation errors such as the stack trace appended below. Server is working fine and does not show any errors in the log (neither NC nor webserver).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to aboard
2. Swipe lists back and forth
3. Pull down to sync in probably too quick succession?
4. See error

**Additional informat

[2020-05-09 12:56] stefan-niedermann commented on #461
I am sorry, but i can't reproduce it. Even with an emulated low-end device (512 MB RAM, no hardware acceleration etc - much worse than your Galaxy S2).

I would tent to say this might be an issue of your custom rom. Are you able to reproduce this on any other device or in an emulator?

[2020-05-09 13:00] stefan-niedermann commented on #458
Have you been able to reproduce this issue? Could you verify your suspicion, that it has something to do with network changes?

[2020-05-09 13:05] #472 closed

[2020-05-09 13:19] simonspa commented on #458
I played around but I can't reproduce it really. It sometimes reappeared, mostly after the app was dormant for a while and I reopen it. Unfortunately nothing more concrete, sorry... :/

[2020-05-09 13:30] stefan-niedermann commented on #443
@sh2515 we need to know the exact server version. There was a bug in a beta version of the server which can cause this behavior.

[2020-05-09 14:59] stefan-niedermann commented on #423
![grafik](https://user-images.githubusercontent.com/4741199/81477141-68003000-9216-11ea-92dd-607810857bd9.png)

[2020-05-09 15:42] desperateCoder commented on #461
I can reproduce this. I'll give @stefan-niedermann a stack trace as soon as possible, so no worries @niccokunzmann

[2020-05-09 16:04] Chluz commented on #459
If you need any further info on that specific account of mine which is failing, by running a special APK with more logging for example, do tell me. I'm very much interested in helping out to determine what is going wrong as this is my personal account :).

[2020-05-09 16:19] #423 closed

[2020-05-09 16:29] stefan-niedermann commented on #415
Is this fixed in server version `1.0.0`?

[2020-05-09 17:13] stefan-niedermann commented on #217
@dan0xii any news? maybe i can offer some help?

[2020-05-10 06:29] gitkald opened #477 "Crash"
I can start the app and it worked well. But I if send the app in background, work with other apps, than the app crash.

OS: Android 6, Lenovo Tab

[code]

[2020-05-10 06:40] stefan-niedermann commented on #477
Why did you cut off the error message though? Those are information we need to hunt down the bugs. Which version exactly are you using of the Nextcloud Android app, Nextcloud Deck Android app and of the Nextcloud Deck server app? Which flavor are you using (F-Droid or Play Store)?

Can you try to clear the storage and then readd your account in the first place? (Android settings → Apps → Nextcloud

[2020-05-10 06:56] stefan-niedermann opened #478 "Zombie fragments after system initiated process death"
# Cause

After Android did a system initiated process death, the app throws errors after opening it again. This is, because there are still all Fragments intact and Android only killed the corresponding Activity. After recreating the Activity, there will be new Fragments (which work fine), but also the old Fragments still exist with an empty `ViewModel`.

# Reproduce

1. Run App with :arrow_forwar

[2020-05-10 06:57] stefan-niedermann commented on #458
I found the cause of the issue. It appears, when you put the app into background, the Android system itself kills the app (for example because of low resources) and you switch back to the app.

That's why it is so hard to reproduce - Android decides *when* it needs resources.

We will track and fix this in #478 where i described the complete scenario.

Thank you for your report and help.

[2020-05-10 06:57] #458 closed

[2020-05-10 06:58] stefan-niedermann commented on #477
Never mind, i found the root cause of the issue and we will track and fix this bug in #478 . Next version will solve this bug.

Thank you for the report!

But for the next time reporting an issue please keep the error message intact :v:

[2020-05-10 06:58] #477 closed

[2020-05-10 07:00] gitkald commented on #477
Hi Stefan, thanks 4 your answer. I use your App Button to copy the log information. I didn't see moren lines, like those I posted.

And it was a fresh install from google playstore.

Same issue after deleting the storrage.

[2020-05-10 12:01] stefan-niedermann opened #479 "Due date not saved when creating new cards"
Server: `1.0.0`
Client: `1.2.1`

[2020-05-10 14:58] stefan-niedermann commented on #479
The due date is confirmed to be present in the `SyncManager` and seems to be present in the request also:

[code]

Not sure though, what the `IndexOutOfBoundsException` means or where it comes from. @desperateCoder ?

[2020-05-10 15:21] desperateCoder commented on #479
It says, the card has no owner. Why? No clue. An update of a card requires an owner, otherwise the server will reject the call.

I suspect the server is not setting an owner in some cases, so i'd like to ask @juliushaertl, could you clarify this? Is it possible, that the owner isn't set in the `Card` response in some cases?

[2020-05-10 17:54] sh2515 commented on #443
I don't think it's a bug in your app, I think it's my phone. I am having lots of issues with other apps also after buying a new phone. Sorry.On 9 May 2020 2:30 pm, Niedermann IT-Dienstleistungen <notifications@github.com> wrote:
@sh2515 we need to know the exact server version. There was a bug in a beta version of the server which can cause this behavior.

—You are receiving this because you were

[2020-05-10 18:20] stefan-niedermann commented on #443
Thank you for the feedback. In this case i will close the issue. Feel free to reopen or create a new issue in case you think it's about the app and you can provide more information :slightly_smiling_face:

Good luck with your device

[2020-05-10 18:20] #443 closed

[2020-05-11 07:46] stefan-niedermann commented on #479
Currently not reproducible.

Original reporter:

[2020-05-11 07:46] #479 closed

[2020-05-11 09:23] niccokunzmann opened #482 "Crash after deleted column"
I deleted a column and it did not go away. Then I swiped around.

[code]

[2020-05-11 10:36] stefan-niedermann commented on #461
Jup, i recently also had it on an emulated device. Tricky one! Will have a deeper look at it.

[2020-05-11 10:37] stefan-niedermann commented on #482
Thank you for the report. Do you have more information about the environment (How many accounts, how many boards, how many stacks, which of them were empty) and exact steps to reproduce this issue?

Unfortunately it's very hard to fix a bug which can not be reproduced. :slightly_frowning_face:

[2020-05-11 11:54] stefan-niedermann commented on #456
Everything is read, just waiting for a change in the Single-Sign-On library... https://github.com/nextcloud/Android-SingleSignOn/pull/203

[2020-05-11 12:21] juliushaertl commented on #452
As discussed when https://github.com/juliushaertl/nextcloud-text is in a somehow usable state, we can look into providing an offline version that could handle the editing in a web view then. I'll keep you updated.

[2020-05-11 12:48] juliushaertl commented on #465
Not sure why this could be the case, might be some PHP/Database magic and we do not use strict types in the deck app yet, so it is not forced to be an integer.

[2020-05-11 12:52] stefan-niedermann commented on #465
hehe :laughing:

[code]

Guess we have a workaround for it, therefore no critical issue anymore. Though a little bittle tiny whiny typechecking isn't *that* bad after all :wink:

[2020-05-11 12:54] juliushaertl commented on #465
I don't get how that could happen from the server code as the order should always be set to a numeric value from creating/updating the stack and the database mapper should not convert such a numeric value to null :see_no_evil:

[2020-05-11 12:56] juliushaertl commented on #465
Ah the database column might be `null` so maybe it is some old table row from before the check was added.

[2020-05-11 13:03] juliushaertl commented on #415
Should (tm) be fixed, yes as the primary key does no longer return the concatinated `0:uid` value. However there is a different issue with the sharing in the mobile app that it is only using known users for sharing boards.

For searching existing users the sharee api from the server https://docs.nextcloud.com/server/latest/developer_manual/client_apis/OCS/ocs-sharee-api.html should be used.

See h

[2020-05-11 16:48] bugzy opened #483 "Import and export decks"
**Is your feature request related to a problem? Please describe.**
I would like the ability to import my list of tasks into decks. However, there is no way to do that.

Possible simple solution:
An import from and export to CSV will be best. Kanboard uses CSVs with the following column format that I think will work here also:
Title | Description | Assignee Username | Creator Username | Color Name

[2020-05-11 16:52] stefan-niedermann commented on #483
I think this is something that should be implemented in the web interface. I don't see a real use case for this feature in the Android app at the moment.

https://github.com/nextcloud/deck/issues/new?template=Feature_request.md

[2020-05-11 17:54] bugzy commented on #483
Ah. I intended this for the web interface but put it in the wrong issue tracker

[2020-05-11 17:54] #483 closed

[2020-05-12 09:10] stefan-niedermann commented on #459
@Chluz can you please download and install this test app: https://github.com/stefan-niedermann/nextcloud-deck/suites/674209484/artifacts/6123043 ?
It should give us a better error message in this scenario.

[2020-05-12 09:23] desperateCoder commented on #459
@Chluz the app will crash, but provide your account ID and the known user IDs. just post the exception message as you initially did, as you created this issue.

[2020-05-12 16:25] MonkeySon commented on #298
@juliushaertl @kbeerepoot

Hello Folks, may I add a comment about the "has description" icon discussion?

For Context: I am only using deck for my personal usage and project tracking, not in a team environment. Also I am not using the android app, only the desktop version.

I agree on not displaying the first line of the description and, honestly, I didn't known about the tooltip of the icon. But

[2020-05-12 17:10] desperateCoder commented on #298
@MonkeySon
![grafik](https://user-images.githubusercontent.com/6911132/81723867-c54ce900-9483-11ea-827f-38c2f5c528de.png)

Just kidding :smile:

As we try to mimic the Server Layout as much as it makes sense, maybe we should move this discussion to the server repo, since this issue is done and closed.

[2020-05-12 18:34] Chluz commented on #459
Thanks very much for that version. the crash trace is below.
It's showing the user ID that was previously created from the ldap UUID attribute. I some time ago changed that setup using the option Internal Username Attribute = sAMAccountName in the LDAP and corrected the database accordingly. I'm now going t look through the database to see why this user ID is coming up.

[code]

[2020-05-12 18:43] desperateCoder commented on #459
Well, this helps already a lot. I'd like to add, that "chluz | chluz" is not the actual username, "chluz" is. I output two database columns separated by “ | ". So keep that in mind, in case you correct your database.

@tobiasKaminsky any clue, what went wrong here?

[2020-05-12 19:00] Chluz commented on #459
I've gone through the database, and cannot find any relevant tables where D6A285EE-6F69-47A0-8B33-1BED5552623E appears. If anyone has a tip on where to look i'd be happy to look again

[2020-05-12 19:10] desperateCoder commented on #459
Have a look at oc_deck_cards, there should be a column named "owner"

[2020-05-12 19:19] desperateCoder commented on #459
Oh, I should also mention, that this column should say "chluz". This means, that you could replace that by D6A285EE-6F69-47A0-8B33-1BED5552623E, not the other way. To change the account name, I have no clue where to do so. Maybe @tobiasKaminsky or @juliushaertl can tell? I am only the Android-sync-guy, so pardon me, if this isn't very helpful.

[2020-05-12 19:19] Chluz commented on #459
Thanks desperateCoder. I check, and I see a few cards, but they are all owned by 'chluz' (and some of our test users)

[2020-05-12 19:21] Chluz commented on #459
Haha, too fast :D thanks for the insight in any case. Lets see if someone has an idea of another table to look into

[2020-05-12 19:21] desperateCoder commented on #459
Well, our messages kind of collided. 😄

[2020-05-12 19:51] stefan-niedermann commented on #217
I made a first little step with a simple card widget (mostly to learn something about how android widgets work).

![widget](https://user-images.githubusercontent.com/4741199/81734102-4c558d80-9493-11ea-9674-038d9c2bae8c.png)

I think the most important features for further widget are

- A `BoardWidget` which displays one board (the stacks below each other). We should reuse the existing filter dial

[2020-05-12 20:50] dan0xii commented on #217
Sounds good. I have the framework for a stack widget which I'll upload tomorrow.

I'm busy working on the configuration activity but the whole thing needs some work.

-------- Original Message --------
On 12 May 2020, 20:51, Niedermann IT-Dienstleistungen wrote:

[2020-05-13 05:35] jakobroehrl opened #486 "cloud a deck notification open the deck app?"
Is it possible to open the deck app (with the mentioned card) when the user clicks on a deck notification?

[2020-05-13 06:18] stefan-niedermann commented on #486
Yes, we already support this on our side, but to make it work, this PR has to be merged first: https://github.com/nextcloud/android/pull/5825 (and the Nextcloud Android app has to be released of course).

[2020-05-13 06:18] #486 closed

[2020-05-13 06:22] jakobroehrl commented on #486
Very nice, thanks!

[2020-05-13 06:46] stefan-niedermann commented on #217
@dan0xii just invited you as a contributor to this repository. I think this will make collaboration easier, and you can directly work on a branch here instead of a fork if you want :slightly_smiling_face: :rocket:

[2020-05-13 07:54] stefan-niedermann opened #488 "Archiving cards is not responsive"
Archiving a card using the three-dot-menu seems to do nothing. Though the card is archived in the background which will result in the following behavior:
- "Archiving" a card a second time will result in a sync error which basically says "`500` this card is already archived"
- Completely closing and restarting the app will make those cards disappear

### Analyse

The `LiveData` fires correctly, an

[2020-05-13 09:01] niccokunzmann opened #489 "Crash after moving newly created list to the left"
I opened the app and the default board appeared. I added a new list with the plus button next to the other lists. This list was selected. Then, in the ... menu, I clicked "move to left". Then, the app showed me this:

[code]

Apologies: I am reporting so many crashes because I have FastHub-libre installed and thus it is easy for me to report. However, FastHub-libre does not use the issue templates

[2020-05-13 09:04] niccokunzmann commented on #489
After re-opening the app, I see that there is no card created. I guess this could be a race condition: No card was created on the server but still there this card should be moved.

[2020-05-13 09:34] desperateCoder commented on #488
@stefan-niedermann please test

[2020-05-13 10:10] #488 closed

[2020-05-13 16:40] MonkeySon commented on #298
Ok, by "server repo" you mean the nextcloud server?
What exactly is the card layout meant to mimic, or in other words: what "design guideline" does the icon "break"?

[2020-05-13 16:41] stefan-niedermann commented on #298
By server repo he means https://github.com/nextcloud/deck/issues

[2020-05-13 16:45] stefan-niedermann commented on #298
We try to mimic here in the Android app the layout of the web interface while respecting the Nextcloud Design *and* Material design.

You are welcome to open separate new issues if you have further questions to the design or other aspects 🙂

[2020-05-13 16:45] MonkeySon commented on #298
Oh my... sorry, I was totally thinking this IS the server repo!

[2020-05-13 16:45] stefan-niedermann commented on #298
No proble. 😆

[2020-05-13 18:11] kbeerepoot opened #492 "Filter does not seem to work as expected"
**Describe the bug**
The filter functionality does not seem to work as expected. As an admin who created the board, I have granted acces to that board to a specific user group (not the individual members of that group). I have subsequently assigned specific cards to specific users **of that group**, but when I try to apply a filter I only see the admin and the group name that the users belong to a

[2020-05-13 18:17] stefan-niedermann commented on #492
@desperateCoder i think this is a direct consequence of the issue which tobi explained to us about user discoverability?

[2020-05-13 19:29] stefan-niedermann commented on #492
Might reference https://github.com/stefan-niedermann/nextcloud-deck/issues/415#issuecomment-626688314

[2020-05-13 19:39] kbeerepoot commented on #492
Sorry, I **did** run a search for related keywords before I created this issue, but I have to say that the content of '#415' is too conceptual to hit on my search.

[2020-05-13 19:41] stefan-niedermann commented on #492
No problem. I want to make sure first, that both issues have the same cause :)

[2020-05-14 06:45] ipoupaille opened #493 "Crash when opening parameters with 1.3.0"
When opening paramaters or about, the app crash:

[code]

[2020-05-14 06:53] stefan-niedermann commented on #493
Should be fixed with `1.4.0` (already tagged), but i will double check this before closing this issue.

[2020-05-14 06:54] stefan-niedermann commented on #493
Jup, will be fixed in `1.4.0`.

[2020-05-14 06:54] #493 closed

[2020-05-14 06:54] stefan-niedermann commented on #493
Thank you for the report though :wink:

[2020-05-14 07:06] desperateCoder commented on #492
Hi @kbeerepoot, thanks for your report!

I guess we have kind of a feature request here, since i have to admit, that i was completely unaware of groups. At the moment I don't even know how i can gather the needed group information, since the REST-API i am talking to won't tell me yet.

I'll see what i can do about this, but it might take some time, sorry.

[2020-05-14 08:17] q-wertz opened #494 "🏷 Show "..." tag, if tags don't fit into row instead of ellipsizing all"
**Describe the bug**
The calculated width of the tags seems wrong (width raises from left to right) if many tags are next to each other (see screenshot)

**To Reproduce**
Steps to reproduce the behavior:
1. Create new Task
2. Add some tags
3. See error

**Expected behavior**
The Tags should all have the same size. Maybe also split them over two lines when there are too many (e.g. less than first 4

[2020-05-14 08:25] stefan-niedermann commented on #494
Not a bug, compare to web interface (`≥ 1.0.0`):

![grafik](https://user-images.githubusercontent.com/4741199/81910710-94c49680-95cc-11ea-825f-34154bddec7b.png)

Two lines would take up too much space and focus from the title. But if anyone is capable of implementing the `LabelLayout` in the way you described (Put as much labels as space is available. If they don't fit, put a "ellipsize" label as

[2020-05-14 08:40] stefan-niedermann commented on #494
The longer i think about it, the more i believe that the current behavior is better than only displaying 2-3 tags and an "..." tag, because:

- You can see all tags and guess them by the start of their name
- Even if they are displayed so small, that there is no text anymore, you can guess them based on their color

Alternative is to only display a subset of all tags which might be critical for ot

[2020-05-14 08:42] q-wertz commented on #494
In the browser (on PC) the advantage is, that by hovering over the tag it get's "expanded".
How is the width of the tags calculated? For me it looks like it's depending on the full size text lenght and then downscaled (which I personally don't think is a good way because the length of the tagname does not necessarily correspont to the importance...)
Wouldn't it make more sense to just distribute t

[2020-05-14 08:54] stefan-niedermann commented on #494
Currently it's in a flexbox layout and therefore the final width is based on the text length, correct.

While this does not match the importance of the text, it will help to recognize labels by the length. If you have an important label like "bug" (which you typically will color in red), you will remember and recognize a small red label.

This won't fix the problem you described (width does not ma

[2020-05-14 08:58] stefan-niedermann opened #495 "📦 Archive all cards of a stack"
# Backend

- [x] Implement in `SyncManager`: `public WrappedLiveData<Void> archiveCardsInStack(long accountId, long stackLocalId)`

# UI

- [ ] Add entry in column menu

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/91568897-archive-all-cards-of-a-stack?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_sourc

[2020-05-14 09:33] q-wertz commented on #494
Ok. Thanks for the explanation :)
I also already thought of the prefix case but in the end it's a matter of taste and there is no "perfect" solution...

[2020-05-14 09:42] stefan-niedermann commented on #494
Guess so, but discussions from time to time are good to reflect decisions which have been made in the past, therefore closing as "won't fix" - for now 🙂

[2020-05-14 09:42] #494 closed

[2020-05-14 10:53] tobiasKaminsky commented on #459
Changing something manually in database always asks for trouble…
If every userID was replaced correctly in DB, I suspect that still the old value is stored in NC Files Android app, so maybe try remove and re-add the account…

[2020-05-14 14:12] desperateCoder opened #496 "Comments-reply: better way of solving race conditions"
DeckCommentsDataProvider.java:59
instead of fetching the whole list, we should rather get a single one, or even better: fetch the data pre-ordered.

Blocked by:
https://github.com/nextcloud/deck/issues/1889

[2020-05-14 19:53] Chluz commented on #459
Hi TobiasKaminsky, thanks for the input. I know that its always a bad idea to do this, but I needed to reorganise the usernames I believe to get sso working (from memory).
I have tried to delete the account in NC app and readd, same issue. I will take another look at the database. Maybe I missed something.

[2020-05-14 20:24] jakobroehrl opened #497 "copy and share (internal) link to board or card"
from nextcloud app:

![Screenshot_20200514-222154](https://user-images.githubusercontent.com/24530680/81982151-a4c29180-9631-11ea-9390-303eafa7a899.jpg)

[2020-05-14 20:28] jakobroehrl opened #498 "open link to a deck board/card directly in the deck app"
**Is your feature request related to a problem? Please describe.**
If I click on a deck link the browser pops up

**Describe the solution you'd like**
Open it directly in the deck app
It's working for the android file app and it's super convenient:
https://github.com/nextcloud/android/pull/5345

[2020-05-14 21:47] stefan-niedermann commented on #498
If i understood you correct, the link must propose to open links beginning with the protocol `nc://` followed by `directlink/` plus for example `deck/5/list/4/card3`. So for example a link that gets opened by deck is:

`nc://directlink/deck/5/list/4/card/3`

This is possible, but who uses this kind of link? The greates user experience would be to detect a link with the part `[...]/index.php/apps/d

[2020-05-15 07:18] #496 closed

[2020-05-15 07:26] hj-beckers opened #499 "version 1.3.0 unusable"
**Describe the bug**

Every action leads to a runtimeException. Trying downgrade to 1.2.1 gives an "error at installation of Nextcloud Deck. installation failed because of an unknown error. " (translated from german).

**To Reproduce**
Steps to reproduce the behavior:
Just open a card.

**Expected behavior**

The card should be displayed.
**Smartphone (please complete the following information):**

[2020-05-15 07:33] desperateCoder commented on #499
Hi @hj-beckers,
thanks for the Report! This is a weird message, seems like your local database is kind of broken. Could you please try to wipe the application storage or simply reinstall the app? I guess this will fix it.

Please tell us, if this solved it for you.

[2020-05-15 07:46] hj-beckers commented on #499
No success. I removed and reinstalled the app (via F-droid-client) but the crash(es) remain.

Yours
Hermann-Josef Beckers

App Version: 1.3.0

App Version Code: 1003000

App Flavor: fdroid

Files App Version Code: com.nextcloud.client

---

OS Version: 3.10.40-10100220(N910FXXU1DRI2)

OS API Level: 23

Device: trlte

Manufacturer: samsung

Model (and Product): SM-N910F (trltexx)

---

java.lang.Ru

[2020-05-15 07:48] desperateCoder commented on #499
Ah, but this is an other error occurring here. I think the next update should fix it, right @stefan-niedermann? have a look at the new stacktrace.

[2020-05-15 09:37] stefan-niedermann commented on #499
Those issues are already fixed and released in version `1.4.0`. Please wait until F-Droid finished the build and updated their index. Thank you for the report and feel free to reopen of course, if those issues persist.

Duplicate of #493

[2020-05-15 09:37] #499 closed

[2020-05-16 08:41] ipoupaille opened #500 "crash sometimes when starting app"
[code]

[2020-05-16 08:53] ipoupaille opened #501 "list not synchronized between apps when list is emptied"
1. Create a list on phone 1
2. Add items in list
3. Wait for syncro on phone 2
4. Delete all items of the list with phone 1
5. Wait for synchro on phone 2 => KO
6. Add a new item with phone 1
7. Wait for synchro on phone 2 => working again

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/91568895-list-not-synchronized-between-apps-wh

[2020-05-16 08:57] ipoupaille commented on #501
It is possible that bug #500 is because of this one

[2020-05-16 08:57] stefan-niedermann commented on #501
With "KO" you mean an app crash or just that it doesn't sync anymore?

What happens if you trigger a manual synchronization via Pull 2 Refresh?

[2020-05-16 08:59] ipoupaille commented on #501
I mean with ko no sync.
Manual sync does nothing on my device

[2020-05-16 09:01] stefan-niedermann commented on #500
The cause is known and fixed on our side as well as in the Nextcloud Single Sign On library (which causes the error).

We just need to wait for a new release of the Nextclour Single Sign On library.

Therefore i will close this issue - the fix will come some day and we cannot really speed it up here, sorry.

@tobiasKaminsky i am referring to https://github.com/nextcloud/Android-SingleSignOn/pull/2

[2020-05-16 09:01] #500 closed

[2020-05-16 11:46] riweckr opened #502 "Crash when connecting an account"
**Describe the bug**
Crash on first start connecting an accout.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the App
2. Click on 'Konto Auswählen' and grant permissions.
3. Grant permission in the Nextcloud app
4. See error

**Expected behavior**
No crash

**Smartphone (please complete the following information):**
- Device: Motorola E4 Plus XT1771
- Android-Version: 7.1
- App-Store

[2020-05-16 11:58] desperateCoder commented on #502
Hi @riweckr, thanks for your report.
seems like your server version is quite outdated. The rest API of that version doesn't provide some endpoints we need to work properly. Please try to update your deck app in the web UI, I guess this will fix your issue.

[2020-05-16 12:03] stefan-niedermann commented on #502
@desperateCoder the version could not be parsed at all, therefore i think that the `0.6.4` is just some initial state from somewhere. We support server `0.6.4` by the way, so it also should work in case he is really using this version.

[2020-05-16 12:05] stefan-niedermann commented on #502
Though your server didn't respond a correct version. Can you creaate a test account for us and send the credentials via email to info@niedermann.it including a link to this issue, please?

[2020-05-16 12:40] riweckr commented on #502
My bad, the App was not installed on this server at all. Sorry!

But more useful error message would be helpful. ;)

[2020-05-16 12:40] #502 closed

[2020-05-16 12:47] desperateCoder commented on #502
😆 no problem buddy, but you're absolutely right. But unfortunately it isn't that easy to tell apart if we have a bug or the server is broken. We have a huge fragmentation in versions of nextcloud, deck app and hosting (self signed certificates, ldap auth, you name it). But I'll try to give a hint at least.

Hopefully, it works for you now? Is everything fine?

[2020-05-16 13:04] stefan-niedermann commented on #502
I have added an enhanced error message with a hint to check whether or not the server side app is enabled :)

[2020-05-16 14:05] stefan-niedermann commented on #501
Can you tell us, please whether or not the items are still visible in the web UI between step 4. and 5.? What are the versions of the android deck app and the server deck app?

[2020-05-16 15:34] ipoupaille commented on #501
Elements are not visible in web ui.
server deck version is 1.0.0
android deck app version is 1.4.0

[2020-05-16 18:42] jakobroehrl commented on #498
I don't know how to solve it, but I think if User A sends a board or card link to User B via Chat or Mail and User B opens the link on mobile it would be nice if the deck app opens an not the browser.

[2020-05-16 18:46] stefan-niedermann commented on #498
🤷‍♂️ Maybe one can create intent-filters dynamically at runtime (when we know the hosts).

Any help, hints and PRs appreciated.

[2020-05-16 20:52] DrMantisTobbogan opened #503 "App crashes when connecting a new account."
**Describe the bug**
The app crashes when first trying to connect the account. Very similar to issue #502 except the application is enabled in the server.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app.
2. Click grant permissions in the Deck app.
3. Grant permissions in the Nextcloud app.
4. See error

**Expected behavior**
The app doesn't crash.

**Screenshots**

**Smartphone

[2020-05-17 06:50] stefan-niedermann commented on #503
How technically advanced are you? Are you able to use `Postman` or `wget` to give us the output of your `capabilities` REST-endpoint?

If not, we will need you to create a test account to reproduce the issue (credentials and link to this issue via email to info@niedermann.it)

[2020-05-17 07:30] stefan-niedermann commented on #478
Current solution has bad side effects. Needs further investigation.

Maybe somewhere references to the fragments are hold.

https://stackoverflow.com/questions/9727173/support-fragmentpageradapter-holds-reference-to-old-fragments/9745935#9745935

[2020-05-17 10:22] stefan-niedermann commented on #501
Thank you, i can reproduce the issue.

[2020-05-17 11:01] dan0xii commented on #217
Sounds good, thanks. I've created the `stack-widget` branch and it's little more than a framework at the moment. I'm working on the configuration activity and then it should be styling work to do after that.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Wednesday, 13 May 2020 07:47, Niedermann IT-Dienstleistungen <notifications@github.com> wrote:

[2020-05-17 11:05] stefan-niedermann commented on #497
I will only implement "share" link to cards, because

- in recent android versions the share dialog also contains a "copy" entry
- an additional "copy" entry would need a separate item in the menu, and i want to keep it clear

[2020-05-17 11:06] stefan-niedermann commented on #497
![image](https://user-images.githubusercontent.com/4741199/82142781-20455e00-983f-11ea-9a0e-4fb1f6dc15fd.png)

![image](https://user-images.githubusercontent.com/4741199/82142788-2f2c1080-983f-11ea-8994-2f1db306eb1d.png)

This function is only available beginning with verison `1.0.0` of the server because i am not sure if the URL changed while rewriting the app to `vue`.

[2020-05-17 11:07] #497 closed

[2020-05-17 11:08] stefan-niedermann commented on #497
Will be in android app version `1.4.1`

[2020-05-17 12:59] desperateCoder opened #505 "DueDate not saved properly"
**Describe the bug**
When you set the time at 14:00 pmand saves it get changed at 2:00 am

It is sent correctly to the server, the response is also correct, but parsing the response seems to mess up the time value of the due date.

Thanks to Edu P.G. for finding this issue!

[2020-05-17 14:07] desperateCoder commented on #505
@stefan-niedermann please also test and close

[2020-05-17 14:37] DrMantisTobbogan commented on #503
I have some experience with REST (although none with Postman or Nextcloud OCS).

Here is the output of the [capabilities ](https://docs.nextcloud.com/server/15/developer_manual/client_apis/OCS/index.html#capabilities-api)call:

[code]

[2020-05-17 14:43] stefan-niedermann commented on #505
Tested and confirmed to work.

Will be shipped with `1.4.2`.

[2020-05-17 14:43] #505 closed

[2020-05-17 15:23] desperateCoder commented on #503
@DrMantisTobbogan Thanks for that perfect research! This looks exactly like the data we expect,  really weird that the app can't parse that.

Just to make sure, we request it with an additional query-param like that:
`@GET("cloud/capabilities?format=json")`
Could you please post the output in JSON by adding `?format=json` to the URL you are calling? Sorry, that you need to censor your URLs _again_

[2020-05-17 15:37] stefan-niedermann commented on #503
I think it would be easier for all if you could provide us a test account (credentials to info@niedermann.it), so we can directly debug the issue and don't need to bother you with this stuff 😉

[2020-05-17 15:51] DrMantisTobbogan commented on #503
Thanks for the help, I just setup the account. Let me know if you don't get the welcome email or need different permissions.

[2020-05-17 17:38] desperateCoder commented on #503
@DrMantisTobbogan actually @stefan-niedermann censored it :smile:, but no problem at all!

Thanks for the test account, i just tried it and unfortunately had no luck. Works just fine. I suspect kind of temporary issues here, since your server seems to work flawlessly in my test.

Can you confirm, the problem still persists for you? I can't see any cause, why this should not be working for now, so

[2020-05-17 18:44] DrMantisTobbogan commented on #503
Thanks for trying @desperateCoder and @stefan-niedermann,

Definitely a bit of an one-off case here I think. I tried reinstalling the server-side and local app again but with no luck (and the same error message).

I can hold out until the next release, hopefully things will sort themselves out.

Thanks again 😄

[2020-05-17 18:53] desperateCoder commented on #503
No problem buddy! But I wonder if you can log in using the provided test account. @stefan-niedermann will mail you the credentials, this one drives me crazy tbh

[2020-05-17 19:44] DrMantisTobbogan commented on #503
I got a timeout error with @stefan-niedermann account; very strange considering the server is up and I can interact with the Nextcloud files app just fine with his account.

`
[code]
`

[2020-05-17 19:57] desperateCoder commented on #503
Your domain is in the stacktrace! 😄

[2020-05-17 20:02] DrMantisTobbogan commented on #503
Thanks again, eventually I will learn (or get hacked 🤦); the server is back online and tried again with the test account. I'm getting a different error message now, this one is somewhat more descriptive hopefully:

[code]

[2020-05-17 20:05] stefan-niedermann commented on #503
Try clearing the app storage and sign in again please

[2020-05-17 20:06] desperateCoder commented on #503
Well, _thats_ actually good news. You passed the Capabilities-endpoint. Seems, something got stuck here, maybe in a different try. Clearing the app data might fix it.

[2020-05-17 20:25] DrMantisTobbogan commented on #503
Clearing the cache seems to have solved the issue for the test account for sure. I was able to login and create a new item on the board.

I tried again with my personal account and am still getting the same error message as before `java.lang.IllegalArgumentException: capabilities endpoint returned no version string at all!`

[2020-05-18 09:07] desperateCoder commented on #503
Well, we have two options now: @stefan-niedermann provides a test account on one of our instances, or you wait for the next update for more detailed messages. I think it's already tagged and should be available soon

[2020-05-18 14:57] DrMantisTobbogan commented on #503
Hi @desperateCoder, I am okay waiting for the next release to see what happens. You can mark this as closed for now not that makes things easier.

[2020-05-18 15:51] gleanlux commented on #503
I have the same problem. :(

Device: Oneplus 7T Pro
Android-Version: 10
App Store: Google Play Store
App Version: 1.4.2
App Version Code: 1004002

Nextcloud version: 18.0.4
Deck version: 1.0.1

I tried what was written above.
"Clearing the app data might fix it."

[2020-05-18 15:58] stefan-niedermann commented on #503
@gleanlux what exactly is the error message you receive? Can you also please post it here?

@gleanlux if possible, can you please create a test account for us and share the credentials to info@niedermann.it ?

[2020-05-18 16:20] gleanlux commented on #503
@stefan-niedermann
I wrote an email.

I have an idea!
My server log is full a "login failed" messages.
I use 2FA. Could this be a problem?
As well as. My phone also use Nextcloud app.

[2020-05-18 16:34] DrMantisTobbogan commented on #503
@gleanlux, I can confirm that I am seeing the same thing in my log files. Tons of failed logins from both my account and the test account we were using for this issue.

{"reqId":"xxxx","level":2,"time":"2020-05-18T16:30:33+00:00","remoteAddr":"xxxx","user":"--","app":"core","method":"PROPFIND","url":"/remote.php/webdav/xxxx","message":"Login failed: 'xxxxxx' (Remote IP: 'xxxxxxxx')","userAgent":"M

[2020-05-18 16:39] gleanlux commented on #503
@DrMantisTobbogan
Maybe you also use "2FA"?

@stefan-niedermann
The created test account has been successfully logged in.

[2020-05-18 17:20] gleanlux commented on #503
The problem is solved! :)

I think, the original Nextcloud app is collided through.

- When I added the new test account, it worked perfectly with it.
- My own account still isn't.
- I turned off 2FA, the error persisted.

Solution:
- I deleted accounts in both apps.
- I cleared the cache in both apps.
- I've added my own account again and it's working!

@stefan-niedermann
Thanks for the quick hel

[2020-05-18 17:31] stefan-niedermann commented on #503
Interesting, glad to help, but it seems you solved the issue yourself^^.

@DrMantisTobbogan maybe you can also try to delete your account in both apps and readd it?

[2020-05-18 18:17] DrMantisTobbogan commented on #503
@stefan-niedermann, following @gleanlux solution solved the problem for me as well! 👍

[2020-05-18 18:19] desperateCoder commented on #503
Well... 🥇 @gleanlux!
🥳 🥳 🥳

[2020-05-18 18:25] stefan-niedermann commented on #503
Great to hear, thanks a lot for all the analyzes!

[2020-05-18 18:25] #503 closed

[2020-05-19 10:51] desperateCoder commented on #459
@Chluz have a look at this one: https://github.com/stefan-niedermann/nextcloud-deck/issues/503#issuecomment-630324302
This seems to be a magic hack or something, maybe it solves it for you as well?

[2020-05-19 13:45] Chluz commented on #459
That worked ! I did as suggested in the comment above (deleted the storage rather than cache just to be safe) and everything is working now. Thanks @desperateCoder !

I had tried to delete the account before, but never from both the Deck and Nextcloud apps at the same time.

[2020-05-19 13:45] #459 closed

[2020-05-19 14:25] desperateCoder commented on #459
😆 I guess we have some kind of atomic bomb for those bugs now.

Glad it worked out for you @Chluz, you're welcome!

[2020-05-20 16:33] szaimen commented on #498
actually that is exactly the same what the android app does:
look here:
https://github.com/nextcloud/android/pull/5345/files#diff-84fb62e1c8a8f1b095012858ba4dc95dR124-R131

For your app this should work (didn't test):
[code]
to make it work also if pretty urls are enabled, this is proably better:
[code]

[2020-05-20 16:41] stefan-niedermann commented on #498
interesting. Will this not open a app chooser everytime one clicks *any* link?

[2020-05-20 16:45] szaimen commented on #498
No, because it will only open the app chooser if the pattern matches, which is the pattern that you told him to look for: in this case the link must be a http or https link and contain `/index.php/apps/deck/` or `/apps/deck/`

[2020-05-20 16:47] stefan-niedermann commented on #498
Aah, i got it. Will have a look at it, thanks for the hint!

[2020-05-20 16:54] szaimen commented on #498
btw: links from the deck app seems to contain always the following: `apps/deck/#/`
So you could probably expand the pattern that I've suggested from `".*/apps/deck/.*"` to `".*/apps/deck/#/.*"`

[2020-05-20 17:14] szaimen commented on #498
Actually, to make it also in multiuser-environments right, the following is maybe helpful:
https://github.com/nextcloud/android/pull/5345#issuecomment-582066821

[2020-05-20 17:26] stefan-niedermann commented on #498
- If no user matches the account, *open link in browser*
- Else: Synchronize all boards of the given user lists from this host
  - If no user has permission to access to this board / card, *open link in browser*
  - Else if only one user has access to this board / card, *open it in the app*
  - Else if multiple users have access to this board / card, display an account chooser from which view this

[2020-05-20 18:01] szaimen commented on #498
You could also offer the user to log into an existing account that matches the url...

[2020-05-20 18:05] stefan-niedermann commented on #498
Yeaaaaaaaaah.... let's start with small steps and enhance it later :laughing:

There are some issues, because we use only Single-Sign-On and it's not that easy because first we would have to fix https://github.com/nextcloud/Android-SingleSignOn/issues/106 (or need to be able to pass a host to the "Add Account" activity of the files app)

[2020-05-20 22:54] szaimen commented on #498
actually this wouldn't work:
[code]
What will work though is:
[code]
or
[code]

[2020-05-21 19:56] TerryHewitt opened #509 "Problem starting Nextcloud Deck on Galaxy S9 running Android"
Just installed Nextcloud Deck on my Galaxy S9 running Android from the google play store.

When I start the application I get a screen which fills the device screen.
I click the button "Choose Account"
Briefly I see a smaller window with "Add account", "OK" and "cancel" on it and within 1 second it disappears.

How do I get that smaller window to stay at the front so I can connect to my server?

B

[2020-05-21 21:01] desperateCoder commented on #509
Hi @TerryHewitt, thaks for the report!
This shouldn't happen, the app is supposed to show you the accounts registered in your Nextcloud Files app for Android.
Please make sure you have your account set up in the Files app.
If this doesn't help either, try the following: https://github.com/stefan-niedermann/nextcloud-deck/issues/503#issuecomment-630324302

If even that won't help, please tell us!

[2020-05-22 08:28] jakobroehrl opened #510 "Can't share board with some users (working on the server)"
**Describe the bug**
In the app I can share a board only with a few users, other users aren't available.
On the server I can share the board with all users.

Server:
![grafik](https://user-images.githubusercontent.com/24530680/82647520-9c142180-9c16-11ea-9f4a-d3d2b220efd7.png)

- Device: tested on 3 different smartphones
- Android-Version: 8-10
- App-Store: Google Play Store App

[2020-05-22 09:09] desperateCoder commented on #510
Hi @jakobroehrl,

please try the following:
* Web: share a board with a user not shown in android app
* Android: synchronize
* Android: create a board
*Android: try to share created board to the person in step 1
-> is the person shown?

I don't think this is a device-specific issue, i'd guess the app currently doesn't know the users, because in the data known to the app the specific user is never

[2020-05-22 10:05] stefan-niedermann commented on #510
@desperateCoder same as #492 ?

[2020-05-22 10:27] jakobroehrl commented on #510
@desperateCoder Thanks, this is working.

[2020-05-22 10:34] desperateCoder commented on #510
@jakobroehrl this is sort of a workaround then, but we should fetch all available users at some point. Guess I'll dig into this. Thanks for testing!

@stefan-niedermann don't think so, but can be implemented in the same scope.

[2020-05-25 07:21] desperateCoder commented on #448
is this still a thing?

[2020-05-25 07:25] stefan-niedermann commented on #448
Not sure, create a dummy account at your instance and try it 😉

[2020-05-25 07:58] #461 closed

[2020-05-25 12:30] stefan-niedermann commented on #509
@TerryHewitt can you give us an update whether you were able to solve the issue with the tips of @desperateCoder ?

[2020-05-25 13:11] stefan-niedermann commented on #448
Not reproducible with client `1.4.2` and server `1.0.1`

[2020-05-25 13:11] #448 closed

[2020-05-25 19:40] desperateCoder commented on #495
done. see ae537258366c91c183e3329673ed7ae797d877ee

`SyncManager`: `public WrappedLiveData<Void> archiveCardsInStack(long accountId, long stackLocalId)`

[2020-05-26 16:06] ahangarha opened #511 "Wrong checkmark direction in RTL layout"
**Describe the bug**
When the layout is RTL (due to system language being set to Persian, Arabic, Urdu,...) the checkmark in cards is shown in wrong direction. It shouldn't flip as it is used the same way it is used in LTR.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the phone language as one of RTL languages
2. make card in Deck with checkboxes
3. the checkmark is shown while it is

[2020-05-26 16:11] stefan-niedermann commented on #511
After i read your issue at the server repository i wanted to contact and ask you to check the android app as well ;-).

Thank you very much and please open more issues if you find more left/right errors. You don't need to fill the full issue template, the screenshot and a hint what is wrong will be enough.

In case you want a free Play Store voucher (i saw you are using F-Droid), send me an email

[2020-05-26 16:11] ahangarha opened #512 "Issue with dragging card to another list in RTL layout"
**Describe the bug**
When the layout of app is RTL (due to system language being set to some RTL languages such as Persian, Arabic, Urdu,...) there is an issue with dragging card to other lists. If user want to drag a card into the list on right side, the user should drag it to left (and same for opposite direction)

**To Reproduce**
Steps to reproduce the behavior:
1. Set system language to some

[2020-05-26 16:16] stefan-niedermann commented on #511
Will be fixed in next release.

[2020-05-26 16:17] #511 closed

[2020-05-26 16:35] #512 closed

[2020-05-26 16:35] stefan-niedermann commented on #512
Will be fixed in the next version, thank you for report!

[2020-05-26 16:45] desperateCoder commented on #512
@ahangarha thanks for the reports! Personally, I don't have a clue how it should behave RTL, so your issues are pure gold. As @stefan-niedermann already said, please keep complaining, if you see that something is wrong!

[2020-05-26 17:17] stefan-niedermann commented on #512
@desperateCoder you can enable "Force RTL layout for all languages" in android developer options, also on emulated devices.

Something like the drag and drop issue really seems to be obvious 😆 but honestly i don't have any idea about how icons and graphics should behave, or tabs^^ So as @desperateCode said: keep complaining!

[2020-05-26 20:07] ahangarha commented on #512
Thank you so much for your quick respond and fix.

I am proudly using Nextcloud and recently I saw massive improvement on Deck so I decided to use it seriously. And as Iranian who is concerned about localization, I am focusing on RTL issues. So I will bother you again and again :D

I wish I could help with coding as well but reporting issues and translating into Persian as well as talking to publi

[2020-05-30 15:20] TerryHewitt commented on #509
Stefan,

My apologies, for the delay in replying.

I deleted my accounts in the base (files)  Nextcloud application.

Then I created account in Deck client and connected to my server

The I could add my other accounts to Files.

Thanks for the advice. Working without problems now.

Best wishes

Terry

Professor W T Hewitt

WTH Associates Ltd

Telephone: +44 7905 759 003

Company registration numbe

[2020-05-30 15:41] stefan-niedermann commented on #509
Thank you very much for the feedback! Let us know if you encounter any further issues :)

[2020-05-30 15:41] #509 closed

[2020-06-03 22:49] elpraga opened #514 "App crashes every time on startup - unknown color - dark mode enabled"
[code]

[2020-06-04 03:04] stefan-niedermann commented on #514
Thank you for the report! Working on a fix right now.

[2020-06-04 06:48] #514 closed

[2020-06-04 06:51] stefan-niedermann commented on #514
I have fixed the problem in version **`1.4.3`**. Because of corona the distribution at Play Store might take **up to 2 weeks**.

Thank you again for reporting this issue :slightly_smiling_face: This kind of feedback is incredible valuable for us to stabilize the app for various different envrionments. If you need some free vouchers for the app (e.g. for coworkers or family) send an e-mail with a l

[2020-06-05 01:12] lvarnava commented on #503
[code]

[2020-06-05 06:02] stefan-niedermann commented on #503
Dear @lvarnava could you please [open a separate issue](https://github.com/stefan-niedermann/nextcloud-deck/issues/new?assignees=&labels=bug&template=bug_report.md&title=) for your problem? (it seems unrelated to the other error messages in this issue)

Have you already tried to clear the storage of **both** apps? Nextcloud Android and Deck Android and import your account again? You can clear the

[2020-06-05 07:44] stefan-niedermann opened #515 "RuntimeException: Exception while computing database live data"
@desperateCoder this is from a customer, only information at this time is "happens often" (I'll try to get more infos).

Maybe you read something out of this stacktrace what the cause might be?

[code]

[2020-06-05 07:49] stefan-niedermann commented on #515
More information: Happens on sync and crashes the app (not caught).

[2020-06-06 14:33] roboticsalign commented on #160
It would be great to get notified before/at the due date. An integration to the calendar would be sufficient for me, so the calendar app could handle the reminder: https://github.com/nextcloud/deck/issues/15

Do you see further benefits of a seperated notification from the deck app?

[2020-06-06 15:09] stefan-niedermann commented on #160
Well, only drawback is that we would assume that the user has calendar sync configured.

Of course i like the idea because it would keep the implementation and maintenance efforts small, but maybe we need to provide it as fallback though. (there are always people complaining that they don't want to have two separate apps for one purpose).

I'll try on my personal phone how it feels with reminders

[2020-06-06 19:20] desperateCoder commented on #515
This is a hard one... most likely a memory leak anywhere... can we ask the affected user, if the stacktrace is always the same? If yes, maybe pagination might help, see:
https://stackoverflow.com/a/56554830/2355392

[2020-06-08 05:27] reox opened #516 "Share screenshots into card attachment"
**Is your feature request related to a problem? Please describe.**

Might be related to #248 (Not sure if there is already an issue for that matter though, have not found one)
I'm using https://f-droid.org/en/packages/de.beatbrot.screenshotassistant/ to make screenshots. I would like to be able to attach them to cards directly using the share button.
However, If I click the share button I get the

[2020-06-08 05:45] stefan-niedermann commented on #516
yeah, i'm not sure how this can be implemented yet. Maybe we have to write incoming files to the disk ourself before uploading them.

Maybe you can contribute a PoC Pull Request @reox ? 🙂 🚀

[2020-06-08 06:32] desperateCoder commented on #516
Keep in mind, that we also have offline capabilities. This makes the disk interaction kind of mandatory, I guess.

[2020-06-08 06:40] reox commented on #516
I read that there is a attachment API: https://github.com/nextcloud/deck/blob/master/docs/API.md#post-boardsboardidstacksstackidcardscardidattachments---upload-an-attachment
So it would probably be easy to take the binary stream and just POST it?

I also looked up the code in the screenshot tool: https://github.com/beatbrot/ScreenshotAssistant/blob/master/app/src/main/java/de/beatbrot/screenshotas

[2020-06-08 06:48] stefan-niedermann commented on #516
Oh, the screenshot tool is from my buddy @beatbrot ? maybe he can give us a hint about how to deal with the results of his app? 😉

[2020-06-08 07:06] desperateCoder commented on #516
@reox the actual upload is already implemented and working in our app, including offline capabilities. The only challenge here is to store the file at some place our app has permissions to read from.

[2020-06-08 07:32] reox commented on #516
Btw I tested to upload an image via the share button to my nextcloud directly, which works quite nicely

[2020-06-08 07:55] stefan-niedermann commented on #516
Of course, it's a different app and is not directly related to the capabilities of the Deck Android App.

[2020-06-08 07:57] stefan-niedermann commented on #516
The issue seems to be caused here: https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/java/it/niedermann/nextcloud/deck/ui/SelectCardActivity.java#L54

We can't determine a path for the shared image and therefore not upload it. This might be either related to missing permissions or maybe we simply don't receive a file uri but some kind of blob which we do have to store as

[2020-06-08 08:42] stefan-niedermann opened #518 "Activities do not load deterministically"
Sometimes the activities do not load.
In the web app they are displayed, but in the app not. This is different from card to card (within one board) and seems not to depend on the internet connection (tried several times while connected to wifi).

[2020-06-08 09:16] reox commented on #516
What I meant is that it looks like the nextcloud app gets the correct filename etc from the screenshot tool.

Okay, so what I see is this:
[code]

However, it does not fail because it can not read the file it looks :)

[2020-06-09 14:08] stefan-niedermann opened #519 "Old translations are causing rendering issues"
@rakekniven i found some translations (`b+en+001` and `nb-rNO`) which are outdated.

![grafik](https://user-images.githubusercontent.com/4741199/84157186-ba797a00-aa6a-11ea-9832-169ee93889d2.png)
![grafik](https://user-images.githubusercontent.com/4741199/84157429-0a584100-aa6b-11ea-8787-f394e987786e.png)

This is mostly not a huge issue, but in this case there are some HTML fragments. We removed

[2020-06-09 14:25] stefan-niedermann commented on #456
Fixed in `1.4.4`.

[2020-06-09 14:25] #456 closed

[2020-06-09 14:57] rakekniven commented on #519
Haven't we discussed and fixed this recently?
Just had a look at one norway string and it is ok at Transifex.
When did you search the strings?

[2020-06-09 15:03] stefan-niedermann commented on #519
Current `master` and `transifex` branch both say that there are still HTML tags: https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/res/values-nb-rNO/strings.xml

Last changes in `nb-rNO` have been made in december: https://github.com/stefan-niedermann/nextcloud-deck/commits/master/app/src/main/res/values-nb-rNO/strings.xml

I think it was either another language or it wa

[2020-06-09 15:08] rakekniven commented on #519
See here:
![grafik](https://user-images.githubusercontent.com/2069590/84165263-cb7ab900-aa73-11ea-85fa-900521966a08.png)

[2020-06-09 15:10] stefan-niedermann commented on #519
Strange, updates from transifex are incoming on a daily basis.

Today, yesterday, ...

![grafik](https://user-images.githubusercontent.com/4741199/84165534-1d234380-aa74-11ea-824b-20dc4271f37b.png)

[2020-06-09 15:43] #495 closed

[2020-06-09 16:46] desperateCoder commented on #501
will be fixed in `1.5.0`

[2020-06-09 16:46] #501 closed

[2020-06-09 16:50] desperateCoder commented on #501
ah, and btw @ipoupaille: thanks for this report. And sorry for the inconveniences, the bug was intended as "performance improvement", but stopped the sync for this particular case. Please keep complaining! :smiley:

[2020-06-09 18:45] rakekniven commented on #519
Puuh, think we have to ask @MorrisJobke for help

[2020-06-10 19:59] GeneralLuzi opened #521 "SQLiteConstraintException"
Error while linking app with cloud account. Therefore not possible to use app at all.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start app
2. Link with account
3. Accept linking with account

**Expected behavior**
no error message

**Smartphone (please complete the following information):**
- Device: Samsung Galaxy S10
- Android-Version: 10
- App-Store:
  - [ ] Google Play Store

[2020-06-11 11:56] desperateCoder commented on #521
Well, this is a strange one. According to my code a Board has two foreign keys: Account and owner (user table). If we wouldn't have an account, the sync wouldn't even start, so there has to be a problem with the owner.

@GeneralLuzi is the information about your deck server version correct? The stacktrace says you run 0.6.4. In this case you could be affected by a server bug, where the users aren'

[2020-06-11 15:02] rufferson opened #522 "Is there support for NextCloud v14?"
**Describe the bug**

Have NC server in Alpine LXC container with latest deck app. NC is installed from the alpine repo and is v14 it seems. Deck app on the server is installed from online NC repo so should be latest. I understand there's api incompstibility but is there a workaround without pulling latest NC from the git?
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to google ap

[2020-06-11 17:13] stefan-niedermann commented on #522
@desperateCoder this is one of the cases i also experienced with the Notes app: Under some circumstances the `capabilities` endpoint does not return any theming stuff or (more important) any installed apps.

@rufferson did you try with an admin account or with an user account?

[2020-06-11 17:17] stefan-niedermann commented on #522
wtf just read - nextcloud 14? *fourteen*?

Honestly: No support. [Even NC 16 is officially end of support from Nextcloud GmbH](https://nextcloud.com/blog/minor-releases-18-0-5-17-0-7-and-16-0-11-are-here-end-of-support-for-16/).

So sorry, but no.

I can offer you to refund your app purchase, but don't get me wrong: We cannot support a version which is end of life for over a year now.

If you want

[2020-06-11 17:17] #522 closed

[2020-06-11 19:48] drissner opened #523 "Error after initial start"
After the installation and adding my account, I got the following error message. Nonetheless, the app works fine so far. Maybe it helps you to debug
[code]

[2020-06-11 20:43] stefan-niedermann commented on #523
Thanks @drissner !

I will have a look, but this kind of errors are generally hard to debug and most likely caused by some kind of server hickup.

If you want to test, it would be interesting whether or not you are able to reproduce this issue after clearing the storage if the Deck Android App (Android settings -> Apps -> Deck -> Storage -> Clear storage).

In this case a test-account would be use

[2020-06-11 21:17] thenickname opened #524 "Card order not synced properly"
Card order is not synced when changing it in Android app. After interacting with the board through the web app, order syncing seems to start working in the Android app as well.

**To Reproduce**
1. Open Android app
2. Create new card(s)
2. Change card order
3. Notice that the sync icon that usually appears on the card does not appear
4. Refresh board
5. See how card positions change to their old s

[2020-06-12 04:50] drissner commented on #523
Thanks for your quick reply! I could not reproduce the error - the app works very well. Thanks a lot! You can close the issue.

[2020-06-12 04:50] #523 closed

[2020-06-12 05:41] stefan-niedermann commented on #523
Great, let us know if you encounter any other issues or have a feature request 🙁 and thanks for the kind words in your rating ❤️

[2020-06-12 05:44] stefan-niedermann commented on #524
References https://github.com/stefan-niedermann/nextcloud-deck/issues/360

[2020-06-12 07:02] rufferson commented on #522
No need to get emotional, just asking :) Good luck in your effort, no need for refund, let consider it a donation for opensource project.

[2020-06-12 07:06] stefan-niedermann commented on #522
Thank you 😄

Wasn't emotional though, just incredibly surprised that it seems like this version is really the latest version distributed by Alpine repositories 😳. Have you considered to open this as a bug in their issue tracker?

[2020-06-12 07:30] rufferson commented on #522
Thanks for the tip, that's actually a solution, browsing over their git repo I realised the latest tip is using v18.0.6, it's just lxc profile is pinned at alpine v3.8. Switching to `latest-stable` repo moved me to the v18

[2020-06-12 07:43] desperateCoder commented on #522
Asking the real questions: does it work now?

[2020-06-12 07:43] stefan-niedermann commented on #522
Interesting. Let us know if you experiencing the sign up issue with v18 :)

[2020-06-12 10:25] rufferson commented on #522
Yes I've graduallt upgraded to 17th version now (alpine v3. 11) and it started working. now just latest-stable remains

[2020-06-12 10:28] stefan-niedermann commented on #522
Really glad to hear, thanks for the update :)

And sorry again for "getting emotional", i think my self-defense-mode was activated when i thought that this will result in another "App is shit"-rating at Play Store :smile:

[2020-06-12 20:14] stefan-niedermann opened #525 "Adjust design to new style of Nextcloud app"
I'd like to consider to adjust the design of the Deck app to the new style of the Files, Talk and Notes app.

@jancborchardt i need your input here. Some kind of scribble or maybe a design season at your talk instance.

A few things i already considered:

- Every Android app uses as brand color the color of the current account / instance. For clarity we should continue this.
- Now the header will

[2020-06-13 01:48] jancborchardt commented on #525
I would actually say that it would be very nice to use the _board_ color as the header and FAB color. Because e.g. for the common case that you only have 1 account, it’s very difficult to distinguish the boards. I would say the theming color only needs to be present in the heading of the sidebar.

That way we really use the colors in the way they relate to things, and we also don’t combine too man

[2020-06-13 19:08] The-Ludwig commented on #217
Any News? Already implemented? Is there a beta-app?

[2020-06-13 19:25] stefan-niedermann commented on #217
It is currently developed on a branch. You can contribute at anytime if you want, let me know if you are interested 🙂.

We will release it as soon as it is usable 😉

[2020-06-14 12:34] stefan-niedermann opened #526 "Build warning for foreign keys"
![grafik](https://user-images.githubusercontent.com/4741199/84593368-30575a00-ae4c-11ea-8f59-f524104d50f4.png)

[2020-06-15 07:43] stefan-niedermann commented on #521
@GeneralLuzi could you please try to clear the storage of **both** apps, Nextcloud Android **and** Nextcloud Deck Android and then readd your account?

If this doesn't help neither, can you please try to create a test account and try to connect to it yourself? In this case I suspect a defect dataset on your server Deck instance.

[2020-06-15 09:26] varac commented on #14
Hej, user here without the files app :) For me installing the file apps *only* to authenticate deck is too much of a burden because it will grant access of my smartphone to all my files stored in nextcloud, which I don't want to because of security concerns (I use the desktop files app but don't want my smartphone access the files).
So a different authentication method would be much appreciated.

[2020-06-15 09:40] varac opened #527 "Add independent authentication method"
Currently, deck relies on Nextcloud Files for authentication SSO (see https://github.com/stefan-niedermann/nextcloud-deck/issues/14#issuecomment-443648978).

Installing the file apps only to authenticate deck is too much of a burden because it will grant access of my smartphone to all my files stored in nextcloud, which I don't want to because of security concerns (I use the desktop files app but

[2020-06-15 09:45] varac commented on #527
See https://github.com/stefan-niedermann/nextcloud-deck/issues/14#issuecomment-644014074 as well for my comment at the closed issue.

[2020-06-15 09:50] stefan-niedermann commented on #14
That's a pitty, but i'm afraid that this will not happen.

The way better UX is only a very small part of the advantages of this mechanism (and probably the only directly visible parts for users).

Other advantages are
- 🔒 Security benefits: The Deck app does no longer store a password itself.
- 🔌 Reliability: All network activities are based on the official files app. This ensures the same suppor

[2020-06-15 09:52] stefan-niedermann commented on #527
That's a pitty, but i'm afraid that this will not happen.

    only to authenticate deck

The way better UX is only a very small part of the advantages of this mechanism (and probably the only directly visible parts for users).

Other advantages are

    lock Security benefits: The Deck app does no longer store a password itself.
    electric_plug Reliability: All network activities are based on t

[2020-06-15 09:52] drumdum opened #528 "One account may not be synchronized with nextcloud deck, but others do"
**Describe the bug**
Synchronisation with my main account's deck is not possible after upgrading Nextcloud to version 17. I've already upgraded to version 18.0.6 with no success. Synchronisation with other accounts on the same Nextcloud is no problem.

As described in another issue I deleted storage of both the Nextcloud app and the Nextcloud Deck app on android. But the problem persists. My impre

[2020-06-15 09:52] #527 closed

[2020-06-15 09:57] stefan-niedermann commented on #528
@drumdum

are you able to do the following `curl` requests for the non-working and for a working account?

`curl "https://username:password@example.com/ocs/v2.php/cloud/capabilities?format=json" -H 'OCS-APIRequest: true'`

Can you categorize which of the accounts are Admins or Non-Admins? e. g: "All working users are Admin, the non-working user is not an admin"?

@desperateCoder I noticed in an is

[2020-06-15 10:07] varac commented on #527
I use LineageOS, no google services and prefer apps from FDroid like you, but still I don't trust my Android smartphone less then my desktop. So I'd still like to make the destinction that I only want my laptop to access my shared files.

I can understand that you don't want to implement this. Maybe the issue is more on the Nextcloud files app side and I'll try to start there a discussion about se

[2020-06-15 10:18] stefan-niedermann commented on #527
Absolutely valid :slightly_smiling_face:

Honestly i don't think that the SSO will be separated from the main Nextcloud app, good luck though. And i'm faithfully sorry that i can't help you here.

It's just - we are a very small development team and we have extremely limited resources and free time (which we also have to split for multiple open source projects), so we have to decide at some point

[2020-06-15 10:19] varac commented on #527
see https://github.com/nextcloud/android/issues/6294 for the feature request for the Nextcloud app to seperare SSO and file sync.

[2020-06-15 10:34] desperateCoder commented on #528
The stacktrace states there is a problem parsing the ACL of a board, the capabilities have to be fine here. A deep dive in the code brought me to this line:
[code]
Looks to me like a very weird response, since EDIT and MANAGE worked well before, but not the SHARE. I'd suggest catching all exceptions while parsing and include them in a single stacktrace including the json, which we weren't able to

[2020-06-15 16:12] #526 closed

[2020-06-16 05:34] tobiasKaminsky commented on #527
You can disallow this setting. It should not be needed for SSO.

[2020-06-16 06:38] varac commented on #527
Hugh, how ? I can't find any option to disable file sync/access.

[2020-06-16 06:42] stefan-niedermann commented on #454
@desperateCoder i think the database migrations are outdated, could you please update this on the branch?

[2020-06-16 06:55] stefan-niedermann opened #531 "Issue with Glide SSO module"
We have an issue with the avatar fetching of Glide.

It seems like instead of the whole URL only the Path of the given image is used:

https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/java/it/niedermann/nextcloud/deck/util/glide/SingleSignOnStreamFetcher.java#L76

The problem is only visible when you want to fetch image from *other hosts* than the current single sign on

[2020-06-16 07:22] tobiasKaminsky commented on #527
Android settings -> app -> search for nextcloud -> permissions -> storage -> disable it

[2020-06-16 07:40] varac commented on #527
Well that would only disable *storing/syncing* files on my phone, but I want to disable *access* to files. NC app lets you choose which folders to sync/store and which not, but you can still access the latter ones, right ?

[2020-06-16 12:17] stefan-niedermann commented on #454
I updated the migrations and wait for the server app `1.0.3` to be released for a final test.

[2020-06-16 12:28] stefan-niedermann commented on #60
This issue is obsolete because in recent versions the three-dot-menu replaces the former <kbd>+</kbd> button and contains the context menu for the currently active list.

Also there seems to be no proper API in the `TabLayout` to create a context menu on long press.

[2020-06-16 12:28] #60 closed

[2020-06-16 12:52] stefan-niedermann opened #534 "📎 Allow to overwrite already existing attachment"
If one tries to upload an already existing attachment, we currently block it and say "Does already exist".

We can offer the user to overwrite an attachment. Might need a version check if it is not yet available.

Context: https://github.com/nextcloud/deck/issues/1966#issuecomment-644688819
Blocked by: https://github.com/nextcloud/deck/issues/2034

[2020-06-16 13:12] stefan-niedermann commented on #519
@MorrisJobke is currently not available, but Joas responded with this hint:

so if the package dropped it might not update anymore, and maybe the removal failes due to android repo logic

And according to https://github.com/nextcloud/docker-ci/blob/master/translations/handleAppTranslations.sh#L80 it looks like the `xml` files are not getting deleted if they have once been integrated and then fell

[2020-06-16 18:44] GeneralLuzi commented on #521
Hey,

on last weekend, I found the issue. It was on the server side and independent to this app. Sorry for the inconvenience.

Either the server restart or the user rights of the www directory was the issue…

Please close this thread.

Thanks and BR GL

Von: Niedermann IT-Dienstleistungen <notifications@github.com>
Gesendet: Montag, 15. Juni 2020 09:44
An: stefan-niedermann/nextcloud-deck <nextclo

[2020-06-16 18:48] stefan-niedermann commented on #521
Thank you very much for the update and let us know if you encounter any further issues!

[2020-06-16 18:48] #521 closed

[2020-06-17 12:29] devz3r0 opened #535 "No due Date after creating a new Deck Entry"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

**D

[2020-06-17 13:18] desperateCoder commented on #535
Hi @devz3r0,
thanks for your report!

Unfortunately both of us can't reproduce this behavior, creating a new card with due date, updating and deleting the due date works fine for us.

Is this a fresh server install of 1.0.2 or did you do an update?

Maybe we can reproduce this behavior on your server, could you provide us a test account? Just send the credentials to info@niedermann.it and we will

[2020-06-17 15:21] #519 closed

[2020-06-17 15:29] stefan-niedermann commented on #519
Temporarily solved by completely removing `b+en+001` and `nb-rNO` for now.

Further tracking of this issue in https://github.com/nextcloud/docker-ci/issues/230 because all other Android apps are affected as well.

[2020-06-17 16:14] #531 closed

[2020-06-17 16:21] rakekniven commented on #519
Hello Stefan,

sorry for my late response.

English is at 100%
![2020-06-17_18h19_21](https://user-images.githubusercontent.com/2069590/84923192-30af5980-b0c7-11ea-8003-5af26034da8f.png)

For norwegian see
![2020-06-17_18h18_58](https://user-images.githubusercontent.com/2069590/84923198-32791d00-b0c7-11ea-995f-5dfdb5eb4444.png)

That is mysteriuous.

[2020-06-17 16:39] stefan-niedermann commented on #519
Huh. Strange. When i deleted those files, they were definitely below 50% in the repository.

Let's see what happens next time @nextcloud-bot comes around :man_shrugging:

[2020-06-17 17:52] stefan-niedermann commented on #525
# Idea 1

Actually i thought more about a brighter theme, where the account color is used as primary tint and the board color is visualized with a colored circle (![grafik](https://user-images.githubusercontent.com/4741199/84930670-ed0e1d00-b0d1-11ea-9661-ee34a6f92370.png))

I prefer this idea because the tint of the primary elements (like FABs) would be the same in every app which will guide the

[2020-06-17 19:48] stefan-niedermann commented on #357
Solved by #525

[2020-06-17 19:48] #357 closed

[2020-06-18 06:49] devz3r0 commented on #535
thanks it is working now again, it looks like it was a sync problem, so it did not get the due data at that time.
I removed the card and readded it, now it's there.
I was using blokada, perhaps that caused some interruptions too.

[2020-06-18 06:49] #535 closed

[2020-06-18 06:52] stefan-niedermann commented on #535
Thank you very much for the update and let us know if you encounter any further issues which we will happily analyse :smile:

[2020-06-18 10:46] stefan-niedermann commented on #519
Just for documentation purposes: The [last pull from transifex](https://github.com/stefan-niedermann/nextcloud-deck/pull/537/files) did not contain one of the two languages.

[2020-06-18 12:53] JohannesStroebel commented on #524
I can confirm this bug. Xiaomi Mi 9t

[2020-06-18 14:30] stefan-niedermann opened #539 "Analyse "A resource failed to call close." logs"
When performing a full sync, there are many log entries called `A resource failed to call close.`.
This reads like there was a stream not closed. Hence this issue to analyze whether or not we forgot to release a open database or network connection or whether there is any other plausible explanation.

[code]

[2020-06-19 06:12] tobiasKaminsky commented on #527
So you want to prevent Deck from having access to your files?
As you can add/link files to cards, this would be an artificial limitation, or?

[2020-06-19 06:14] stefan-niedermann commented on #527
@tobiasKaminsky i think [he wants to prevent his phone from having access to his files](https://github.com/stefan-niedermann/nextcloud-deck/issues/527#issuecomment-644034924), because he doesn't trust his phone.

[2020-06-19 11:10] tobiasKaminsky commented on #527
ah. If this this so, then you can change this in security settings on web for the token:
![image](https://user-images.githubusercontent.com/5836855/85126680-412e1400-b22e-11ea-81e9-6e11b5ca411e.png)

[2020-06-19 11:14] stefan-niedermann commented on #527
Didn't even know that! Good to know, thanks. And maybe solves @varac issue

[2020-06-19 11:25] varac commented on #527
@tobiasKaminsky Oh, awesome, I didn't know that neither, that's what I was looking for.

[2020-06-19 14:16] pilsnerbeer opened #540 "Sync doesnt work, endless loading"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

**D

[2020-06-19 15:35] stefan-niedermann commented on #540
Dear @pilsnerbeer,

- have you tried to clear the storage of **both** apps and then add your account again [as described here](https://github.com/stefan-niedermann/nextcloud-deck/wiki/FAQ)?
- I can see a card in your screenshot: Did the initial sync work or have you created the card locally?
- How many boards and card (estimated) do you have? The sync can take really long (even up to a minute) sin

[2020-06-19 15:59] stefan-niedermann commented on #454
Will be shipped in version `1.5.0`.

[2020-06-19 15:59] #454 closed

[2020-06-19 16:22] yodatak opened #542 "crash when the internet connection is bad"
I got this error

[code]

[2020-06-19 16:32] stefan-niedermann commented on #542
Please update to the latest version.

If the error persists [follow those steps](https://github.com/stefan-niedermann/nextcloud-deck/wiki/FAQ#i-have-experienced-an-error) and provide a few more information than "I got this error".

- Does the app crash completely or only show a snackbar?
- Does it happen always after open the app, or when you pull down to refresh or when creating a card or what?
-

[2020-06-19 16:32] #542 closed

[2020-06-19 16:32] stefan-niedermann commented on #542
PS.: We have [issue templates](https://github.com/stefan-niedermann/nextcloud-deck/issues/new/choose) for a reason :wink: Please make use of them if you open issues.

[2020-06-19 16:40] pilsnerbeer commented on #540
1) I have reinstalled both apps.
2) No, that is a local card that is attempting to reach server (no success)
3) I have total of 3 boards. One board might have 50-100 cards but Deck server app has no problem loading it, only Android app seems to be struggling.

After reinstalling, I now can't get pass the welcome screen: (stuck again). I should also note the app worked fine a few months ago.

![Scr

[2020-06-19 17:04] stefan-niedermann commented on #540
Thank you for the information.

- Can you create a new test account on your server and try to synchronize with it? If the problem occurs there, too: Can you share the credentials of the test account with us for testing purposes (info@niedermann.it)
- What exactly did happen after you pressed "Choose account"? Have you seen the account pop-up and did you granted the permissions? What then? The circ

[2020-06-19 17:32] pilsnerbeer commented on #540
I created a test account and everything immediately started working. I switched to my main account and there too, surprisingly, were no more issues. As if the app fixed itself somehow... The pull-to-refresh is still very slow (~20s) but creating cards is no longer stuck. I haven't changed any settings on my phone or server, it just started working ¯\_(ツ)_/¯

[2020-06-19 17:46] stefan-niedermann commented on #540
😄 yeah... well... Let's categorize this as "server hickup". I really can't tell you anymore about it, sorry.

Would you mind notifying us if this happens again? Just reopen this issue or link this one please.

About the 20s sync: Yeah, it's a known issue and we rely on a issue at the server to support `ETags` for a better sync performance. We're working on it 😉