[2018-10-24 09:45] violoncelloch opened #4 "Prebuilt version to test?"
Do there exist any prebuilt version of the app to test it?

[2018-10-24 09:46] stefan-niedermann commented on #4
You can get it from F-Droid :)

[2018-10-24 11:09] violoncelloch commented on #4
So you will publish it on F-Droid if there is a first usable version?

[2018-10-24 11:52] stefan-niedermann commented on #4
It will definitely be published at f-droid, yes.

[2018-10-24 11:53] #4 closed

[2018-11-06 16:26] timkrief opened #6 "Not working on OnePlus 3T"
Hi, thank you for making an android app for the deck app, we really need it :+1: .

I build the app using android studio and I ran it on my phone, a OnePlus 3T.
A popup asked me to connect to my nextcloud instance, which I did, and then, nothing happened. I have a Deck on my cloud and it is not showing up here.

I'm using the deck app version 0.4.1 on my nextcloud instance version 13.0.6.

If you

[2018-11-06 16:46] stefan-niedermann commented on #6
Hi @timkrief,

thank you for the information :) Please note that this app is **Pre-Alpha**-status and not productive usable (Most of the displayed data are mocks).

Have you installed the [Nextcloud Files](https://play.google.com/store/apps/details?id=com.nextcloud.client) app on your phone? You need to have it installed and configured. There will be a note and a redirection in the future.

[2018-11-06 16:47] timkrief opened #7 "Icon not displayed properly"
Hi, another thing I noticed is that the deck icon is not showing up properly, the background is the right one but the icon itself is the default android icon. Here's what it looks like on my OnePlus 3T:
<img src="https://user-images.githubusercontent.com/14089949/48079510-cc8a9b00-e1eb-11e8-8d9d-55174e2de378.jpg" alt="screenshot" width="200"/>

[2018-11-06 16:52] timkrief commented on #6
Hi @stefan-niedermann . Of course, I know it's pre-alpha, and I am not expecting to use it just now, it's totally okay :rofl: , I installed it to test it and give you feedback :wink: .

Yes the nextcloud files app version 3.3.2 have been installed from f-droid, and it is configured.

[2018-11-06 17:15] stefan-niedermann commented on #7
@juliushaertl do you want to have a look at this issue since you provided the icon PR https://github.com/stefan-niedermann/nextcloud-deck/pull/2 ? :)

[2018-11-06 17:17] desperateCoder commented on #6
Hi @timkrief,
close the app (stop process) and reopen it. Then you should see some mock-stacks and cards, and your real boards in the sidebar. Loading data right after the login  isn't implemented yet, bit no worries, we will add that.

[2018-11-06 17:29] stefan-niedermann opened #8 "Set up transifex"
Maybe @MorrisJobke can help out and set up the same automization like at the [Nextcloud Notes App](https://github.com/stefan-niedermann/nextcloud-notes/issues/14#issuecomment-274211294)?

:heart: :smiley:

[2018-11-06 18:08] timkrief commented on #6
Hi, @desperateCoder (nice pseudo 😉) I followed what you said and nothing changed. Is this possibly because I'm not using Nextcloud 14? I might try to debug later.

[2018-11-06 18:12] stefan-niedermann commented on #6
No, the server version does not make a difference. I am not sure if all the changes we need have been released in the Files app. Are you able to test with the current master of the Files app?

(Yes i know, currently a bit triggy, but until we are done with the first version of this app, the Files app will have shipped the SingleSignOn-Feature for sure)

[2018-11-06 19:15] juliushaertl opened #9 "Multi account support"
Not sure if you already have that in mind, but it would be awesome if users could set up and use multiple accounts at once.

[2018-11-09 10:34] juliushaertl commented on #9
@desperateCoder @stefan-niedermann Btw. we have another hackweek in Stuttgart from November 26th to 30th, 2018. https://nextcloud.com/blog/join-us-at-our-next-contributor-week/ It would be awesome if you could join, so we can work on the app and I can make sure to buy you some beers :wink:

[2018-11-09 12:22] stefan-niedermann commented on #9
Yes, we know, but it has been announced too late, we have both no time at this week :-/

3 weeks from announcment are unfortunately too little time.

[2018-11-11 19:38] IzzySoft commented on #4
Stefan, if you want to have a "pre-run" via [my F-Droid repo](https://apt.izzysoft.de/fdroid), just ping me. It already served many apps as "stepping stone" in the past. And would make it easier for your testers if they can have "auto updates" :wink:

And if you know someone who could lend a hand to another Android-Nextcloud app: the dev of Nextcloud Bookmarks is "Land unter" and looking for someo

[2018-11-11 19:49] stefan-niedermann commented on #4
Great to hear, thank you :) I think we can soon go public at the official F-Droid repository.

Current state: View boards, stacks and cards.
Limitations: No edit, no creation, no offline capabilities.

As soon as the app works offline, we will publish it on F-Droid as a viewer app and extend it step by step.

Are you talking about this https://play.google.com/store/apps/details?id=org.schabi.nxboo

[2018-11-11 19:51] stefan-niedermann commented on #6
Okay, all changes we need to run this app are published in the latest version of the files app. Can you please retry the current released files app version and the master branch of this app again? :) Would be happy to hear if the problems still occur.

[2018-11-11 21:04] timkrief commented on #6
By Files app you mean the Nextcloud main app for android, right? I have the lastest version 3.3.2. I tried to clean install this deck app again and it is still not displaying any deck.

[2018-11-11 21:33] IzzySoft commented on #4
OK, great – then we'll meet over there (disclosure: I'm one of the F-Droid maintainers). My offer still stands, eg when you need a beta channel (with a different package name).

And yes, I've meant Schabi's. Email coming soon :wink:

[2018-11-11 22:17] desperateCoder commented on #6
@timkrief thanks :D
Yes, he is talking about the main NC app.
Actually it should work, so so am sorry to ask the dumb questions: do you have any boards created in the web-app? Maybe updating to the current master of the Android deck app could do the trick too, since we are still alpha and can't tell if your version was broken... We changed quite a lot yesterday and today. Just give it a try. If th

[2018-11-11 22:41] IzzySoft commented on #4
No offense taken! If you two decided, please let derSchabi know. I'm not involved directly, I'm just a user of his app. I've sent all details to Stefan by mail.

Thanks for helping out!

[2018-11-12 10:11] juliushaertl commented on #6
@timkrief You will need the verson 0.5.0 of the deck app, which is scheduled this week for a final release. Feel free to give the latest prerelease a try in the meantime: https://github.com/nextcloud/deck/releases/tag/v0.5.0-rc1

[2018-11-12 10:50] timkrief commented on #6
@desperateCoder ^^ Yes I do have boards created in the web app. I'll try and update my master of the android deck app.
@juliushaertl Thank you for this information. I'll wait for the update. I'm using version 0.4.1 right now

[2018-11-13 10:31] MorrisJobke commented on #8
@stefan-niedermann Sure - give @nextcloud-bot push permissions to this repo and we are in the game. BTW I documented the way on how to setup this: https://docs.nextcloud.com/server/14/developer_manual/app/l10n.html#setup-of-the-transifex-sync but let me do this quickly :)

[2018-11-13 11:01] MorrisJobke commented on #8
https://github.com/nextcloud/docker-ci/commit/1ceb9d38f88205b3f71a2933b1a3826539ed6533

[2018-11-13 11:02] MorrisJobke commented on #8
Once #11 is merged and @nextcloud-bot has push access it will show up in the `transifex` branch.

[2018-11-13 11:05] #8 closed

[2018-11-18 18:06] timkrief commented on #6
**Update:**
I now have the version 5.0 of the deck app on nextcloud. I built the last version of this android app and ran it. I got the prompt and I was able to setup my account as expected but nothing was displayed after that. When I tried to launch the app again it closes immediately.
I have to go in the settings and force the app to stop to be able to use it. Finally, the sample deck is then di

[2018-11-18 18:08] timkrief commented on #7
I tried, the icon is now, indeed, displayed properly :wink:

[2018-11-18 19:02] stefan-niedermann commented on #6
Just to make sure: did you use the very latest master branch of this repository?

This used to be the behaviour some commits ago, but in the meantime this demo-code has been replaced by real server calls which should display your real (and only your real) boards.

Which title do the demo boards and cards have?

[2018-11-21 20:39] raumneun opened #12 "Crash after account selection on Nexus 5X"
First of all, thanks for the effort and I'm looking forward to your app! I just cloned the master branch and compiled in android studio, however, it does not work for me as I get an FC after account selection on my Nexus 5X. I know, it's far from productive state, but I thought I'd let you know anyway.
I have Android 6.0.1 (SDK 23) on my phone (rather old cyanogenmod installation...) and NC14 with

[2018-11-21 22:07] desperateCoder commented on #12
Hi @raumneun,
thanks for your feedback!

According to the stacktrace, i guess it is an issue with Nextcloud SSO, maybe in the communication between the SSO-code and the files app. Maybe @David-Development or @AndyScherzinger could have a look at this?

Sorry for the slow progress btw, I'd wish, we could have more spare time for this...

[2018-11-22 18:44] raumneun commented on #12
Just a quick update: I changed from the old cyanogen mod install to newest lineage OS and it works now. After selecting the account, there was a dialog if Nextcloud Deck should be allowed to access accounts. On the old install, it crashed before that. Maybe that helps with finding the issue.
New android version is 8.1.0, API 27.

I really appreciate that you guys spent your spare time on this, abs

[2018-11-23 09:37] tobiasKaminsky commented on #12
@raumneun what Android version was your "old cyanogenmod"?

[2018-11-23 10:56] raumneun commented on #12
@tobiasKaminsky as stated in the first post, that was Android 6.0.1 (SDK 23)

[2018-11-23 11:13] tobiasKaminsky commented on #12
@David-Development this should be working on 6.x, or?

[2018-11-26 15:23] R4U5CH1337 opened #13 "how to install"
Hi
I was wondering how to install the code or zip to my Fairphone 2 LOS 15.1 (or how to install it generally on Android) - do you have any advice for me? I'm new with this topic.

Thanks a lot and thanks for the great work so far.

[2018-11-26 15:29] desperateCoder commented on #13
Hi,

Currently this app is in alpha stadium, doesn't do much at all.

If you still want to install it, you would need an Android Studio running on your computer (IDE for Android), check out the code and build it manually.

Right now, there isn't a prebuilt APK, since it would change quite often and take time we subsequently can't put in development.

[2018-11-26 15:33] R4U5CH1337 commented on #13
Hi.
I see. So I'll follow you and check your progress here. Think this app will be really handy one day.

Vielen lieben Dank für die schnelle Antwort!

[2018-11-26 15:42] desperateCoder commented on #13
Yes, I think that's the way to go. As soon as we have a quite reliable viewer-functionality, we will release a build, then start adding more features.

Gerne, Danke für dein Interesse!

[2018-12-02 00:52] jancborchardt opened #14 "Use credentials from Nextcloud Files, Talk, Notes or News app"
Since this is another of the cool suite of Nextcloud Android apps, it would be great if it would take the credentials automatically too. :) Maybe that’s already planned?

cc @David-Development @AndyScherziner @tobiasKaminsky

[2018-12-02 07:53] juliushaertl commented on #14
Yes, this is already implemented. The app will use the files apps new single sign on. :wink:

[2018-12-02 07:53] #14 closed

[2018-12-02 10:41] jancborchardt commented on #14
Wow, in pre-alpha and already great! :tada: :)

[2018-12-03 09:45] tobiasKaminsky commented on #14
@jancborchardt just for clarification, the current SSO only works with Files, so it cannot take credentials from Talk, News, … as stated in title.
It also not planned to have any apps serving as "master" for SSO, only Files as a central app should do this.

[2018-12-03 10:01] stefan-niedermann commented on #14
Right, we will try to have this as only authentication method with an information pop up in case a user has *only* deck installed and *not* the files app. User will get notified that the files apo is a required dependency and a redirect to the Play Store will be implemented.

We will see if we get much feedbackt of users who do not want to install the files app, but i dou t anyone will install onl

[2018-12-09 13:11] stefan-niedermann opened #20 "CalledFromWrongThreadException"
[code]

[2018-12-09 19:15] AndyScherzinger opened #21 "Implement proper due date coloring"
@juliushaertl can you point me to the code part of the server app where you set the different colors on the due date?
Highly appreciate your feedback :)

[2018-12-09 19:37] desperateCoder commented on #20
Oops. Didn't know a '#20' in commit-message would close this...But yeah. See the commit.

[2018-12-09 21:18] willsALMANJ opened #22 "Offline capabilities"
I am very much looking forward to the release of this app. The readme mentions "offline capabilties". What offline capabilties are you planning? A viewer capable of viewing all data from the time of the last sync? I imagine resolving conflicts between changes to two offline instances would get very messy -- will the app be read-only when offline?

[2018-12-09 21:51] stefan-niedermann commented on #22
It is planned to be capable of editing when one is offline, and yes, merging might get tricky ;-)

[2018-12-09 21:57] desperateCoder commented on #22
Hi @willsALMANJ,
It is planned to have a fully functional offline app, with a bidirectional synchronization function. No worries, I think you'll get what you are looking for.

As you mentioned, there is still a lot of work to do, the merging will get tricky, but we are on it. Just be patient and keep track. If you have more requests, just do it as you already did and tell us.

Best regards!

[2018-12-10 16:43] juliushaertl commented on #21
It is defined here: https://github.com/nextcloud/deck/blob/master/css/style.scss#L511 but the variables used are some from the server and some calculated. Those result in the following:

The state can be found in the card data provided by the server as value of overdue in the cards json:

| value of overdue | description | color |
|---|---|---|
| 0 | future: greater then 1 day until duedate  | `no

[2018-12-10 17:34] David-Development commented on #12
@tobiasKaminsky So sorry for the delay, completely missed this issue as I was on vacation at the time.

The single sign on should work on Android 6.

I'm not sure what's happening here.. Looks like the account is not properly configured..?

[code]

This exception is thrown in the Nextcloud Files app and the exception is then passed on to the deck app where the stacktrace is printed.

I don't know

[2018-12-10 23:02] AndyScherzinger commented on #21
I am fine calculating them on the client which is what I was planning to do.

One question regarding the calculation: Are you doing this wit a day precision or on the timestamp itself, e.g.
Due Date: 2.1.2019 8:00am
* client time 1.1.2019 7:00am
* client time 1.1.2019 9:00am

So with day precision both would be overdue->1 using the timestamp 7am would be 25hrs so overdue->0 and 9am would be 23hrs

[2018-12-11 06:33] willsALMANJ commented on #22
Thanks for the information. I look forward to seeing how the bidirectional synchronization works.

[2018-12-11 06:33] #22 closed

[2018-12-11 07:17] raumneun commented on #12
@David-Development: Yes I did. Since the phone is reset, I cannot really reproduce the problem on that device anymore. However, my wife has a stock Samsung J5 duos and it shows the same behaviour. Since Android version, availability of GAPPS, device itself, absence/presence of privacy functions (privacy guard, trust,....) are different for my old phone and the J5, these things cannot really be a p

[2018-12-11 21:47] AndyScherzinger commented on #21
Foudn it miyself, day-precision, implemented via #26 :)

[2018-12-11 21:49] #21 closed

[2018-12-18 09:00] David-Development commented on #12
@raumneun Sorry for the delay. I'm glad to hear that it's working on your device now!

About your wifes phone.. I have no idea what could cause this issue. I'm guessing you already updated to the latest version of both the files app and the deck app?

Does your wifes phone show the same stacktrace you provided? Or does it crash with a different stacktrace?

[2018-12-18 11:01] juliushaertl opened #28 "Description rendering"
Right now, the description is shown directly on the card. I would expect it to be
- [x] visible in the cards detail view only.
- [x] Markdown should also be supported when viewing the description.

[2018-12-18 11:04] AndyScherzinger commented on #28
At the moment there is no details view actually. But we might be able to implement this via #25.
While there we would like to get some input from designers on how to design the flow and screens.

cc @stefan-niedermann since he is working on the editing part.

[2018-12-18 11:06] AndyScherzinger commented on #6
Hi @timkrief are you still experiencing this with the latest `master` and with the latest Nextcloud Android Files client v3.4.0?

If so please re-open the issue. :)

[2018-12-18 11:06] #6 closed

[2018-12-18 11:44] AndyScherzinger commented on #28
@stefan-niedermann Sweet! 👍

[2018-12-18 11:45] juliushaertl commented on #28
@stefan-niedermann Yes, good idea :+1:

[2018-12-18 13:59] #20 closed

[2018-12-18 13:59] #13 closed

[2018-12-18 14:08] AndyScherzinger commented on #20
@desperateCoder the commit message shouldn't close it put the merge of the commit to master does. Same for posting

Resolves #20 within the issue's description upon merge :) Gotta love automation 🚀

[2018-12-19 15:30] AndyScherzinger opened #29 "NPE on Labels"
@desperateCoder maybe you have an idea :)

actual master keeps crashing for me every once in a while:
[code]

[2019-01-01 16:19] rakekniven opened #31 "Encoding trouble with string results in bad string at Transifex"
https://github.com/stefan-niedermann/nextcloud-deck/blob/c0be6d634dd4fa49ddc96230e43acd0ec240d491/app/src/main/res/values/strings.xml#L37

See https://www.transifex.com/nextcloud/nextcloud/translate/#de_DE/$/157711546?q=issue%3Aopen

Cannot add any image here, sorry.

[2019-01-01 16:31] rakekniven commented on #31
Another one:

https://github.com/stefan-niedermann/nextcloud-deck/blob/c0be6d634dd4fa49ddc96230e43acd0ec240d491/app/src/main/res/values/strings.xml#L23

[2019-01-01 16:32] rakekniven commented on #31
One more:
https://github.com/stefan-niedermann/nextcloud-deck/blob/c0be6d634dd4fa49ddc96230e43acd0ec240d491/app/src/main/res/values/strings.xml#L29

[2019-01-01 16:33] rakekniven commented on #31
Next:

https://github.com/stefan-niedermann/nextcloud-deck/blob/c0be6d634dd4fa49ddc96230e43acd0ec240d491/app/src/main/res/values/strings.xml#L31

[2019-01-01 20:49] stefan-niedermann commented on #31
Thank you for the hint, i will fix asap :)

[2019-01-04 12:13] tobiasKaminsky commented on #31
@stefan-niedermann to have links correctly and clickable displayed, you can have a look how we do it in our "participate view":

https://github.com/nextcloud/android/blob/59cf6b9ba4965f38f2749f0624013daf0b83c946/src/main/java/com/owncloud/android/ui/activity/ParticipateActivity.java#L72-L77

This is "forum":
![2019-01-04-131242](https://user-images.githubusercontent.com/5836855/50687650-720e8f00-1

[2019-01-04 12:23] tobiasKaminsky commented on #29
How can you trigger this?
I do not even get any deck/column/card displayed in the app.

[2019-01-21 03:25] jahnertz opened #32 "Horizontal Scrolling on Desktop"
It would be nice to have an easier way to scroll horizontally across lists on desktop devices. Currently using the horizontal scrollbar is the only way. This could possibly be done by dragging the background (as is implemented in Trello)

[2019-01-21 03:27] #32 closed, assigned to nobody

[2019-01-21 03:34] jahnertz commented on #32
Oops wrong repo haha.

[2019-01-23 20:05] maxammann opened #33 "Donation broken?"
Hey Stefan,
just wanted to buy you a few beers or coffe :)
But I got this message on Liberapay: Your donation to stefan-niedermann cannot be processed right now because the account of the beneficiary isn't ready to receive money.

[2019-01-24 06:17] stefan-niedermann commented on #33
uh? i will have a look :D thanks :)

[2019-01-24 21:12] maxammann commented on #33
Any issues I can work on right now? Seems like you are currently working on editing.

Do you already have plans for the offline functionality?

[2019-01-25 07:19] stefan-niedermann commented on #33
Yes. we are working on a branch to use `Room` instead of `GreenDAO` - any help is highly appreciated :)

[2019-02-15 13:18] rakekniven opened #34 "Remove unwanted string from translation at Transifex"
Please remove the following string. No need to translate.

https://github.com/stefan-niedermann/nextcloud-deck/blob/35a23d203efc05c978441e9c322033707c273381/app/src/main/res/values-b%2Ben%2B001/strings.xml#L12

shared_preference_last_sync

[2019-02-15 13:20] rakekniven commented on #31
Any update on here?

[2019-02-18 08:47] tobiasKaminsky commented on #34
I would put such strings in setup.xml insead of strings, so that Transifex will never try to translate it.

[2019-02-18 09:16] AndyScherzinger commented on #34
other than that they should have a `translatable="false"` too :)

[2019-02-21 14:22] Aquariu opened #35 "Release availability and/or f-droid release"
Dear developpers,
Thanks for this project, it would bring some real improvement in my Nextcloud use.

Unless I'm too lazy/blind/unaware, I can't find any released apk for this app. Search on f-droid returns nothing, neither does a Play Store search. Please tell me where I can find a release package (and close this issue as it's not a bug report).

Kind regards,
Olivier

[2019-02-21 14:28] violoncelloCH commented on #35
see #4

[2019-02-21 14:31] desperateCoder commented on #35
Hi Oliver,

thank you for your interest in our work!

We are currently working on it, the current status of this project is still not really usable and unstable. As soon as we have something reliable, we will release it on both platforms.

Please be patient, since we are doing it in our spare time.

Best regards
Artur

[2019-02-21 14:36] Aquariu commented on #35
Sure thing, thanks for the feedback.
I just stumbled upon it so no hurry on my part.

It seems like an interresting addition to Nextcloud Deck as it would allow less browser-loving people to use the capabilities of Deck without leaving their beloved smartphone.

[2019-02-21 14:51] desperateCoder commented on #35
That's not even all! We plan to include offline support and maybe more! But first things first :)

Now that is a great idea! We absolutely should! @stefan-niedermann go for it!

[2019-02-21 17:08] stefan-niedermann commented on #35
jup, good idea. i will add it to the `README.md` :)

[2019-02-21 17:08] #35 closed

[2019-02-28 09:59] desperateCoder commented on #29
@AndyScherzinger I guess this problem is already gone?

[2019-02-28 10:25] AndyScherzinger commented on #29
I guess os, yes

[2019-02-28 10:25] #29 closed

[2019-03-12 21:42] AndyScherzinger commented on #28
description visible in details view and not on board/stack has been pushed to master

[2019-03-12 21:42] AndyScherzinger commented on #9
Work on master has been started by @stefan-niedermann regarding this feature

[2019-03-13 16:26] stefan-niedermann commented on #9
Implemented in acd5c5b634eccd1d3579581a66cab01ab54ac00d 5d817140f22d3885e044ae4206fe6770cd9601ed 849ef214cbd289bf11878fa5b900c1ea2f9e0927 7619146110449059c99af90fa5968b6ef2d9fe57 0ba17e72fbc2865cb48b319b7115d6a70077fa92 a5aa4891a9edb68903659500d18f60a28248fb26

[2019-03-13 16:26] #9 closed

[2019-03-13 16:37] stefan-niedermann commented on #33
@maxammann could you please test this link? https://liberapay.com/stefan-niedermann/donate
I'm pretty sure it should work, since i receive other donations, too.

[2019-03-13 16:40] stefan-niedermann commented on #12
@raumneun can you please retry with the latest master? Lots of changes have been made and the app should be more reliable and stable.

Feel free to reopen, if the issue still occurs.

[2019-03-13 16:40] #12 closed

[2019-03-13 16:42] stefan-niedermann opened #41 "Create cards"

[2019-03-13 16:42] stefan-niedermann opened #42 "Create stacks"
# Remaining Work

- [x] When creating a new stack via android app, the new stack is at the last position. Opening at the webapp, the created stack is on the first position. Maybe has something to do with the sync (cc @desperateCoder)
- [x] When a new stack has been created, it should be focused directly

# Current state

Creating new stacks is already possible

![grafik](https://user-images.github

[2019-03-13 16:42] stefan-niedermann opened #43 "Create boards"
# Remaining work

- [x] When selecting a color, the previous color has to be deselected
- [x] Depending on screen size and resolution, not all colors are displayed yet

# Current state

Creating new boards is already possible

![grafik](https://user-images.githubusercontent.com/4741199/54840208-c2fe5d00-4ccc-11e9-9c73-4b050299a519.png)

[2019-03-13 16:43] stefan-niedermann opened #44 "Delete accounts"

[2019-03-13 16:43] stefan-niedermann opened #45 "Display activity"

[2019-03-13 16:44] stefan-niedermann opened #46 "Header of sidebar has black text color on focus / long click"

[2019-03-13 16:45] stefan-niedermann opened #47 "Drag 'n' drop cards"
# Remaining work

- [x] persist new position of card
- [x] enable drag 'n' drop between different stacks

[2019-03-13 16:45] desperateCoder commented on #12
@raumneun we have also changed the complete persistence, so you would have to uninstall the app and reinstall it before testing. Thanks in advance!

[2019-03-13 19:51] #34 closed

[2019-03-13 20:07] stefan-niedermann opened #48 "Remember last account"

[2019-03-13 20:07] stefan-niedermann opened #49 "Remember last board per account"

[2019-03-14 09:16] #46 closed

[2019-03-14 16:12] stefan-niedermann opened #51 "Display "create"-button for labels as last item in autocomplete"
When typing in the `EditText` to search for labels,
- [x] the last item should always be a "+ Create", so one can directly create inline new labels.
- [x] Clicking it should create and directly assign the label to the current card.

[2019-03-14 16:14] stefan-niedermann opened #52 "Suggest user and labels in autocomplete when clicking on the EditText"
When clicking on the `EditText` to search for users and / or labels and the text is "" then a list of most used users / labels should be displayed until the first character has been entered.

[2019-03-14 16:15] stefan-niedermann opened #53 "Change scroll behavior of edit mode"
When the edit mode does not fit into the screen (e. g. because of a huge description), then currently the scrollable area is only the details tab.
Instead the whole screen including the title and the tabs should be scrollable (ActionBar should stay fixed on top).

[2019-03-14 16:17] stefan-niedermann opened #54 "Edit label should contain the current title"
When editing a card, the title in the `ActionBar` says currently only "Edit". Instead it should be "Edit `<current title>`".
When changing the title in `EditText` then the title in the `ActionBar` should be updated on every key stroke.

[2019-03-14 22:36] stefan-niedermann opened #55 "Column should have card_spacing padding at the bottom"
Currently a column does not have a padding at the bottom, therefore it looks like the last card in the column is cut (when having enough columns to fill the screen). Each column should have a padding with the value `card_spacing` at the bottom. Pay attention to the scrollbar, because i tried it once and the scrollbar no longer was able to reach the top of the column.

[2019-03-15 12:56] stefan-niedermann commented on #31
@rakekniven yes, @tobiasKaminsky fixed today the bad translations on transifex (there have been some spaces where they shouldn't have been)

The encoding you mentioned in the first few posts ist fine, because it is HTML embedded in the XML - therefore the `<`-characters in the HTML-tags have to be encoded.

[2019-03-15 12:56] svbergerem commented on #33
![no payment method](https://user-images.githubusercontent.com/3798614/54432626-03d4ff80-472a-11e9-90d8-16ca38b993d5.png)

[2019-03-15 13:01] stefan-niedermann commented on #33
I just readded a payment method (it seems like it got lost when Liberapay had issues with Mangopay) - Can you please retest @svbergerem or @maxammann ? :)

[2019-03-15 13:29] #33 closed

[2019-03-15 13:37] svbergerem commented on #33
It works. :+1:

[2019-03-15 14:33] #54 closed

[2019-03-15 14:35] stefan-niedermann commented on #33
I have received it already :heart:  Thank you @svbergerem - the money will be spend for the current Nextcloud hackweek in Stuttgart for @desperateCoder and myself :rocket: :rocket: :rocket:

The support is very appreciated :+1: :smiley:

[2019-03-16 07:56] rakekniven commented on #31
To be honest I am not satisfied with the answer.
The encoding looks bad at Transifex. See
![2019-03-16_08h54_35](https://user-images.githubusercontent.com/2069590/54472471-308c2400-47c9-11e9-8887-8bf9160cdf68.png)

There should be another way to handle URLs. I cannot judge the comment by @tobiasKaminsky from technical side. Currently we only have such strange strings for this app at Transifex.

I

[2019-03-16 09:12] stefan-niedermann commented on #31
Well that's the same way, we are handling for Nextcloud Notes (android) which works pretty good with transifx.

Pull Requests for changing this behavior are welcome :)

[2019-03-17 10:13] Jiack214 opened #57 "Crash after login"
Android version: 8.1.0 (LineageOS)
Nextcloud server: selfhosted v15.0.5
Nextcloud Deck: last version
Nextcloud Android: 3.5.0 RC2 (f-droid)

I just successfully build this app (last commit: 7cfcebd) but it crashes immediately after login.

`FATAL EXCEPTION: main
Process: it.niedermann.nextcloud.deck, PID: 16661
java.lang.NullPointerException: Attempt to invoke virtual method 'void it.niedermann.ne

[2019-03-17 10:38] desperateCoder commented on #57
Hold on, i'll have a look at this one...

[2019-03-17 10:47] desperateCoder commented on #57
@Jiack214 the following commit should fix the NullPointerException: https://github.com/stefan-niedermann/nextcloud-deck/commit/1cba8fe0a62956789ca5a45ea31cccf22ccb72c5

But i'm afraid the real problem could persist. At least one call to the server seems to fail, but on my machine it doesn't. Please pull the master and try again. If it fails, i'd be glad to get a stacktrace.

Thanks for testing!

[2019-03-17 10:56] desperateCoder commented on #57
@Jiack214 I guess i know where the Problem is: at this week there was the Nextcloud hackweek, where i sat right beside @juliushaertl, who wrote the Nextcloud server app. We fixed a bunch of issues, but the fixes aren't released yet. There is a build you can put on your server, which includes the fixes:
https://cloud.bitgrid.net/s/steo9XtYnYMyjwH

After patching the problems should be solved. If no

[2019-03-17 11:42] desperateCoder commented on #33
@svbergerem Wow, that was quite unexpected...  :smiley:  Thank you very much! :heart:  We absolutely appreciate that, we will do our best to fulfill your donation! :rocket:

[2019-03-17 12:46] Jiack214 commented on #57
Thank you so much.
The last commit prevents crash but app does not show any board.
Do you know when fixes are you going to be released? I'm not admin, so I prefer to wait the official update if it's soon.

[2019-03-17 13:14] desperateCoder commented on #57
@Jiack214 actually I don't. But soon Nextcloud 16 will be released. @juliushaertl can you tell us more?

[2019-03-17 14:59] desperateCoder commented on #57
@Jiack214 for now you could try the following state: https://github.com/stefan-niedermann/nextcloud-deck/commit/a7301357bb0e4df1934585189674d238ef5ace7b

As far as i remember, this one doesn't rely on the mentioned changes, while still pretty up to date. Just give it a try... good luck!

[2019-03-17 17:06] AndyScherzinger commented on #57
@desperateCoder just tried the latest master and I don't get any cards rendered noch columns (not a single stack trace in the logcat). Fetching form server seems to work fine (no logcat issues) but I only see the boards (with their title) and noting else :/

[2019-03-18 10:40] tobiasKaminsky opened #58 "SSO: "Invalid If-Modified-Since header provided.""
In order to test/fix problems with SSO I checked out lastest SSO and integrated into deck, but after authenticated I do get:
[code]

Deck: master
SSO: master
Files app: master
Nextcloud server: master

[2019-03-18 10:42] tobiasKaminsky commented on #58
It happens on this path:
/nc/index.php/apps/deck/api/v1.0/boards

Header is: If-Modified-Since: Do., 01 Jan. 1970 12:00:00 GMT \r\n

[2019-03-18 10:43] desperateCoder commented on #58
Have a look at a log message titled "lastSync", there should be a date. Please post it, in theory it should work...

[2019-03-18 10:46] desperateCoder commented on #58
Interesting... For me it works... @stefan-niedermann could you create a user for @tobiasKaminsky on your server? If the problem persists, we should have a closer look

[2019-03-18 10:52] stefan-niedermann commented on #58
@tobiasKaminsky please write me an email, i will tell you credentials as soon as i have your mal address

[2019-03-18 10:52] tobiasKaminsky commented on #58
It seems that the date string for if-modified-since header is localized.
This needs always be english.

[2019-03-18 10:53] tobiasKaminsky commented on #58
https://github.com/stefan-niedermann/nextcloud-deck/blob/b5615bdb42a9cdf94d9eabe72e474f93b766c126/app/src/main/java/it/niedermann/nextcloud/deck/persistence/sync/adapters/ServerAdapter.java#L77-L86

[2019-03-18 10:58] desperateCoder commented on #58
Oops. You're right. I can fix that at the evening, but you can make a PR as well, should be fixed in the date until or the Dateiformat (API_FORMAT)

[2019-03-18 11:00] tobiasKaminsky commented on #58
Already done in #59

[2019-03-18 11:14] #58 closed

[2019-03-18 11:40] tobiasKaminsky commented on #57
Same for me as @AndyScherzinger described.
Furthermore I can see which calls are piped through NC files app. It seems that only /nc/index.php/apps/deck/api/v1.0/boards is used, but no other call.
I would at least expect boards/{boardId}/stacks" (getStacks())

[2019-03-18 11:46] desperateCoder commented on #57
Yeah, because the stacks aren't delivered by the API on the currently released NC-deck version. Do you really have the current master of the server app running? Can you provide the json of the boards call? (See Android app logs)

[2019-03-19 06:22] tobiasKaminsky commented on #31
We could think about splitting this up:
text + &lt;href=" + url + ">Name + &lt;/a>

where
- text, name is in transifex
- url is in setup.xml (as an example) with translatable=false
- both &lt… are also with translatable=false and constants, e.g. link_start _link_end

This way no one could do any error again (like we saw on japanese)

[2019-03-21 10:12] juliushaertl commented on #57
@Jiack214 I plan to to a beta release early next week. The stable release will be out before Nextcloud 16 is being released.

[2019-03-21 10:28] desperateCoder commented on #57
@juliushaertl will the release also contain the labels in the boards call?

[2019-03-21 10:29] juliushaertl commented on #57
@desperateCoder You mean the stacks we added last week?

[2019-03-21 10:30] juliushaertl commented on #57
The fix we did was merged for the next release: https://github.com/nextcloud/deck/pull/939

[2019-03-21 10:31] desperateCoder commented on #57
@juliushaertl nope, I assume the stacks will be released. I'd need the labels too, as i would have to select each board explicitly to get the labels of the boards, see our Telegram conversation ;)

[2019-03-21 15:09] stefan-niedermann commented on #48
Fixed in ebe094331be7ee46b1f6915d63dde48f68e5f6df 1b7c4f4475be5f5d3d8aefc87e2b7419a9af521f 05bd4a464b66312cb1483e15a114eb6329f55a92 and some others.

fyi @desperateCoder

[2019-03-21 15:09] #48 closed

[2019-03-22 08:22] #49 closed

[2019-03-22 10:51] stefan-niedermann commented on #43
fyi @desperateCoder creating boards with

[code]

causes currently this exception:

[code]

[2019-03-22 11:03] desperateCoder commented on #43
The combination of Account ID and remote Id already exists. Do you set the remote Id? That would be a bad idea. Don't set any ID!

If this is not the case: what data exactly do you want to save? Post a json or stuff.

[2019-03-22 17:13] stefan-niedermann opened #60 "Context menu for stacks"
The current three dot menu to manage stacks looks out of place, because it is positioned in another row. Noone associates it with the stacks.

Initially i thought we should make the stacks draggabke, but this would cause too many moveable elements on the screen.

Instead we should have a popover menu on long press which provides the following actions:

- [ ] Rename
- [ ] Move left
- [ ] Move right

[2019-03-22 22:20] timkittel commented on #55
Hi Stefan,

thanks for the awesome project, I would love to see it working!

I was trying to have a look at this issue, but actually I don't even manage to see a stack/column. When connecting the Deck App to my cloud, it correctly identifies the boards, but when choosing the boards no stacks/columns are shown. Is there a trick that I am missing or is it currently not working? (:

Cheers,
Tim

[2019-03-22 22:36] desperateCoder commented on #55
Hi @timkittel , please have a look at https://github.com/stefan-niedermann/nextcloud-deck/issues/57

The cause is the same one. If you have access to your server, then the needed steps are described in this issue (update deck webapp to dev-version)

[2019-03-22 22:37] desperateCoder commented on #55
By the way, depending on your last pull, you should probably pull again ;)

[2019-03-24 11:01] timkittel commented on #55
Thanks to both of you. Managed to set it up and submitted a PR (:

[2019-03-24 11:05] desperateCoder commented on #55
@timkittel You're welcome buddy, thank you for your contribution!

[2019-03-25 08:10] desperateCoder commented on #55
Thanks @timkittel!

[2019-03-25 08:10] #55 closed

[2019-03-25 17:22] desperateCoder opened #62 "Edit mode: back button jumps to first stack"
When opening edit-view of a card inside the second and following stack/column and pressing the back button, the first stack/column is active.

I'd expect returning to the same stack/column i tapped on a card, maybe even restoring the scroll state.

[2019-04-01 21:48] AndyScherzinger commented on #45
@nickvergessen @juliushaertl can you provide @desperateCoder with some hints how he can retrieve the activity items for a single card from the server? Thanks ❤️

[2019-04-01 21:50] desperateCoder commented on #45
@juliushaertl would be great, that :heart:

[2019-04-01 21:55] AndyScherzinger commented on #45
And also how we can post comments :smiley:

[2019-04-08 08:02] juliushaertl commented on #45
For activity you can find some documentation here: https://github.com/nextcloud/activity/blob/master/docs/endpoint-v2.md

You can request the activity for a board with the object type `deck_board` and for a card with `deck_card`. The objectId is then the board or card id.

Comments: https://github.com/nextcloud/server/issues/7315#issuecomment-347468998
objectType: deckCard
objectId: the card id

[2019-04-08 09:15] desperateCoder commented on #45
Thanks @juliushaertl!

[2019-04-09 10:43] timkittel opened #65 "Release as Viewer App"
Hi,
what are the last necessary steps/issues until this App can be released (on F-Droid?) as a Viewer App? And any recommendations where help would be appreciated?
Best,
Tim

[2019-04-09 12:03] stefan-niedermann commented on #65
I will have a talk with the other developers and evaluate if we want to do that (we would need to remove some functionality and maintain those changes).

I will post a roadmap in the README when we came to a conclusion.

Help would be appreciated in each open issue, especially in Drag'n'Drop cards accross stacks - this feature is essential IMHO, even for a "viewer"-release.

For the frontend part:

[2019-04-09 12:16] desperateCoder commented on #65
I'd even pitch just releasing it as it is, since the current state is already all functional for viewing cards. The half-way implemented features don't break anything, and if they do, just reinstall the app. The black voodoo stuff I am currently working on is the sync from client to server, which has no impact on the viewing functionality, there is already some other voodoo implemented for that.

[2019-04-09 15:02] timkittel commented on #65
That sounds like a lot of work. Hence, I really like @desperateCoder's suggestion of releasing it (more or less) as is. I think the only thing one might add would be short messages when things do not work, e.g. that a change to card is currently not saved and reverted when the app synchronizes the next time.

doing that already (:

[2019-04-12 10:53] stefan-niedermann opened #66 "Shortcuts for create operation"
Sample implementation in Nextcloud Notes: https://github.com/stefan-niedermann/nextcloud-notes/blob/master/app/src/main/AndroidManifest.xml#L26-L28

![Shortcuts](https://images.techhive.com/images/article/2016/11/android-71-app-shortcuts-100693489-large.jpg)

[2019-04-12 10:54] stefan-niedermann opened #67 "Recreate database completely onUpgrade"
Since we are not downward-compatible yet, we should completely recreate the database on an app upgrade and trigger a sync.

This is a requirement for a first F-Droid beta release (#65).

[2019-04-12 11:07] stefan-niedermann opened #68 "Make strings with hyperlinks better translateable"
To make strings with links more easily translatable we should built those strings at runtime like

`text` + `&lt;href="` + `url` + `">` + `Name` + `&lt;/a>`

while the "technical" parts should be marked as not-translatable strings and the actual URLs and texts are separate strings.

Follow-up to #31
CC: @rakekniven @tobiasKaminsky

[2019-04-12 11:07] stefan-niedermann commented on #31
Okay, i agree.

[2019-04-12 11:07] #31 closed

[2019-04-12 11:07] stefan-niedermann commented on #31
tracked in #68

[2019-04-12 12:00] tobiasKaminsky commented on #67
Is this really needed? If you publish the app on Fdroid and an user that already manually installed the app, tries to install it via Fdroid it will fail, as the app id is the same, but the signing key is different.

[2019-04-12 12:02] tobiasKaminsky commented on #68
Nice idea.
I would even extract this into a static buildTranslatedLink(…) method.

[2019-04-12 12:03] tobiasKaminsky commented on #31
Ha, I see now that this was my idea :rofl:

[2019-04-12 13:24] stefan-niedermann commented on #67
What does recreating the database have to do with an different app signature?

Database will change often. Every time we will publish a new version on F-Droid probably will crash. Therefore we would need to be downward compatible or - as it is more easy for now - just drop and recreate database and perform a sync?

[2019-04-12 13:25] stefan-niedermann commented on #31
i was just about to write exactly this :D

[2019-04-12 16:33] rakekniven commented on #31
Nice catch. Happy to get this solved.

[2019-04-15 05:58] tobiasKaminsky commented on #67
I was just triggered by Fdroid release…

On Files app we have a DatabaseHelper that supports a callback on Database upgrade.
As you use LiveData/Room, I am sure there is something similar, which can migrate data and table structure from one db version to the next.

[2019-04-15 06:04] tobiasKaminsky commented on #68
Seems we did this already, so for reference:

https://github.com/nextcloud/android/blob/24c0092d742f1d9dcad0c64e787cba5af7d2f250/src/main/java/com/owncloud/android/ui/activity/ParticipateActivity.java#L71-L76

https://github.com/nextcloud/android/blob/92bbcfb973594f9f0aafa16def97d9f003dcbe54/src/main/res/values/strings.xml#L548-L550

[2019-04-15 06:18] stefan-niedermann commented on #67
Yes, there is. the problem is, that we would have to implement it fully and as we do not want to have this work at this time, a recreation should be enough for a alpha release - for a stable version we would maintain a proper upgrad instead of a recreation of course ;)

[2019-04-15 07:04] tobiasKaminsky commented on #67
Ah. Ok. Then sorry for my noise ;-)

[2019-04-17 08:15] iSpeeX commented on #65
Hello,
I'm wandering how can I install the apk to test it and help as much as I can. Can someone help me with this ?

By the way : keep up the good work, you guys are really good !

[2019-04-17 09:25] stefan-niedermann commented on #65
Thank you :) We are working on a first alpha F-Droid release. A Play Store release will still take some time, as we only want to release a productively usable version on Play Store.

You can grab any issue, ideally one labled as "good first issue" or "help wanted" and start a PR. :rocket"

[2019-04-17 09:49] desperateCoder commented on #65
Thanks @iSpeeX, glad to hear that!

Currently the app is under heavy development, so there isn't really an APK we would safely release for users. As a developer you can just clone our repo, build the app via Android Studio and start testing and contributing as @stefan-niedermann said.

Did this help you?

[2019-04-17 10:08] iSpeeX commented on #65
Well, I'm not a developer... I mean, I'm more into Systems/Networks/Management, but I'll take a look on Android Studio !
You helped me a lot, I know how to get the apk from Android Studio so i'll give it a try soon.

Thank you guys

[2019-04-18 07:06] desperateCoder commented on #65
Please note, that the currently released server app isn't compatible, you will have to install at least the beta version mentioned in the readme file. The release of the beta version may take some days to weeks.

[2019-04-20 16:24] #67 closed

[2019-05-01 16:26] stefan-niedermann commented on #57
I guess the [latest release](https://github.com/nextcloud/deck/releases/tag/v0.6.1) should contain all necessary fixes. Please retest and reopen this issue if errors still occur :rocket:

[2019-05-01 16:26] #57 closed

[2019-05-04 20:18] #43 closed

[2019-05-04 20:24] stefan-niedermann opened #70 "Implement free color chooser for board creation"
Currently there is a hard coded set of colors which can be chosen when one creates a new board.

This issue is about implementing a "last" color, which displays a pipette to choose a arbitrary color when the given colors are not enough.

If someone wants to work on this issue, please start a discussion and offer some scribble of how it could look like - let's talk about it first and then start imp

[2019-05-04 21:17] AndyScherzinger commented on #43
Nice work 👍

[2019-05-05 07:35] stefan-niedermann commented on #43
Iam not very happy with it, code-wise it's a bit dirty. But it works for now and we can refactor it at a later point...

[2019-05-05 08:10] AndyScherzinger commented on #43
Sounds good, refactoring at a later time shouldn't be an issue :)

[2019-05-05 17:36] #44 closed

[2019-05-05 21:22] stefan-niedermann commented on #65
Good news, folks: I recently opened a request to add this app to the F-Droid-Repository: https://gitlab.com/fdroid/fdroiddata/issues/1613

**Important**: This app is still under heavy development, it might break with each new version and writing access is not possible / might cause problems or lead to data loss. So be careful and do not use it productively!!

[2019-05-05 21:22] #65 closed

[2019-05-05 21:53] desperateCoder opened #71 "lastsync not working for new account"
syncing a new account wont bring up any data, because lastsync is last sync of other existing boards. fix that.

[2019-05-06 08:48] #71 closed

[2019-05-06 09:04] #62 closed

[2019-05-06 14:30] #42 closed

[2019-05-06 14:57] stefan-niedermann commented on #66
While implementing this i saw some problems design-wise: We could simply use the latest board and latest stack, but maybe some kind of dialog to choose the destination of the created card would be more useful.

cc @jancborchardt @juliushaertl @AndyScherzinger

[2019-05-07 14:12] jancborchardt commented on #66
In the view that opens where you fill out the card, it could simply have a header with board color, board name and stack name? Then you can tap on the header to change it. And that way there’s not an intermediary step but just an element of the normal flow.

[2019-05-07 14:19] stefan-niedermann commented on #66
You mean the choose board/stack dropdowns should **always* be present when editing/creating a card or only when using the shortcut?

I think it might clutter the UI for the "normal" creation/edit workflow from within the app and would only display it when using the shortcut.

[2019-05-08 11:19] jancborchardt commented on #66
Yes, exactly, they are only relevant when using that shortcut. :)

[2019-05-09 11:29] #68 closed

[2019-05-09 15:08] stefan-niedermann commented on #43
Refactored in 7df89b45322fd23c5485d217a1635f7e35b851e7 4b40b781b2d749b020973f4a36f28a71fe21e9e1 7a8f47581fe6347daefcb44fc2891454ea2aec63 7a8f47581fe6347daefcb44fc2891454ea2aec63 476df50b4697d2ca1c476158f101a6614af8b9d5 b87d14021dfc7c70fe5c49c48207616bb7ca06e7 79aa5d90c6e54914adbdf2c3506c90c9c08915f7 80fffd440ed790f2d76cc6f7f03afdf864cffb86

[2019-05-09 15:32] stefan-niedermann opened #74 "Actionbar has wrong text color on Android 4"
**Describe the bug**
On Android 4 the text color of the
- [x] board titles
- [x] the stacks is black on a blue background.
- [ ] Icons in MainActivity

**Expected behavior**
It should be white on blue background, just like the toolbar in the about activity

**Screenshots**
![device-2019-05-09-172927](https://user-images.githubusercontent.com/4741199/57466069-314cae00-7280-11e9-8e41-a0faafb86125.pn

[2019-05-09 16:53] AndyScherzinger commented on #74
Hard to say, I can have a look at it but it might take some time... Just started a new project gig at work...

[2019-05-13 15:54] kai11 opened #75 "Refresh problem"
I've compiled master branch and tested it on my phone with 2 nextcloud decks I'm working with.

**To Reproduce**
Steps to reproduce the behavior:
1. Add account
2. Decks fetched, but not columns and not tasks.
3. Wait some time (I had to wait one day once).
4. Add new column via web and new card.
5. Even after some waiting and refreshing, I don't see new columns and new cards.

Closing and opening

[2019-05-13 16:08] desperateCoder commented on #75
Hi @kai11,
thanks for testing our App :smiley: !
To me it looks like you aren't at the latest server(!) deck app. As stated in the Readme, it should be at least version 0.6.1 or later, the later the better.

The server app had to be changed to provide more date for our app, so it seems the app is expecting some data it doesn't get and crashes.

If you verify your server-deck-app version and the pr

[2019-05-13 19:09] kai11 commented on #75
Server version upgrade fixed this problem.
I had one server on 0.6.1 and another on 0.5.2 and second one was selected by default.

[2019-05-13 19:11] kai11 commented on #75
Actually it may be confusing for new users who simply forgot to update.
Maybe it should be a message or toast or notification?

[2019-05-13 19:39] desperateCoder commented on #75
@kai11 You are totally right! @stefan-niedermann? Go for it!

[2019-05-14 10:39] desperateCoder commented on #75
This feature can be implemented, as soon as we have a dev build of https://github.com/nextcloud/deck/pull/1047

@juliushaertl thanks for that, hope it is going to be released soon

[2019-05-14 11:00] tobiasKaminsky commented on #75
Actually you can already built it in, assuming that if you do not get a proper value for this capability, you are < 0.6.1.

[2019-05-14 12:05] desperateCoder commented on #75
@tobiasKaminsky You are... Kinda... Right... Admit! The devil told you!

[2019-05-14 12:19] desperateCoder commented on #75
@tobiasKaminsky the current version is 0.6.1, the version will be available at the next release I guess?? So the current version is already compatible, but I won't get a version, right? So there still might be a problem, right?

[2019-05-14 12:28] tobiasKaminsky commented on #75
Hm. Did not knew that 0.6.1 is compatible.
Maybe Julius can do a 0.6.2 soon which would solve it.

[2019-05-14 12:32] desperateCoder commented on #75
@tobiasKaminsky maybe we could just display a warning that it _might_ be an incompatible version and make the user double-check that, in case he doesn't get stacks...

[2019-05-14 14:50] tobiasKaminsky commented on #75
If you do not have a version string and show instead a "might be possible too old server" is also good :-D

[2019-05-14 14:54] juliushaertl commented on #75
Yes, a 0.6.2 is waiting to be released. I'll make sure to include the capability entry in that.

[2019-05-14 17:27] desperateCoder commented on #51
Here you go:
In syncManager:
[code]

[2019-05-15 20:10] desperateCoder opened #77 "scrolling behavior"
Abort scroll up at drop action!

[2019-05-16 05:20] lachmanfrantisek opened #78 "Nextcloud files app (dev) from fdroid not recognised"
**Describe the bug**
The app (fdroid 0.0.2) shows the pop-up, that the Nextcloud files app is not installed. I am already using dev version of files app from the fdroid (20190502 version).

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app
2. See the pop-up, that the Nextcloud files app is not installed.
3. Try to add a new account from the side menu. (what was weird, I'll fill a

[2019-05-16 06:38] stefan-niedermann commented on #78
Thank you for the report. We are currently talking to the authors of the Single-Sign-On about how this issue can be fixed. :)

[2019-05-16 07:28] tobiasKaminsky commented on #78
As far as I know SSO currently requires the official app installed, and cannot be used with dev version of files app.

[2019-05-16 07:35] lachmanfrantisek commented on #78
Thank you for the response!

OK, so it is a "problem" with the main app?
Is it possible to support basic login or we would like to use Single-Sign-On only?

Thank you!

[2019-05-16 07:44] lachmanfrantisek opened #80 "Left menu empty after the startup"
**Describe the bug**

After the start of the app (fdroid 0.0.2) I do not have any accounts (see #78 ).

When I wanted to add a new account by hand I did not know on what I need to click.  The  left menu is empty and it took me a while to click on the top text.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the left menu when having no accounts.
2. The menu is empty.
3. To add a new acc

[2019-05-16 07:48] violoncelloCH commented on #78
I've got something similar... With the normal Nextcloud Files app from F-Droid, when I open Deck, it shows a prompt to select the the account from the files app or "add an account"... When selecting my account (default) and clicking ok Deck shows an error with "you have to allow access to single-sign-on", however there was no promt or anything...

[2019-05-16 07:55] tobiasKaminsky commented on #80
There should be an "arrow down" to indicate that the list can be switched:
![2019-05-16-095448](https://user-images.githubusercontent.com/5836855/57836298-ad834c00-77c0-11e9-881c-b929bbad6750.png)

Also if there is no account yet, it should directly show "add account" functionality

[2019-05-16 08:01] lachmanfrantisek commented on #80
Thanks for the clarification. I know the behaviour from Files app (like your screenshot), but I was just confused that there is nothing in the menu and no button to add an account. (And the `show "add account" functionality` was not raised due to #78 )

[2019-05-16 09:37] stefan-niedermann commented on #80
@TobiasKaminsky the arrow should be there, but @AndyScherziger mentioned there is a bug which prevents the arrow to be displayed.

However: 1. The whole area is clickable

2. This issue might get solved automatically - We will not allow the app to be used without a valid account (and yes, we aim to support the Dev-Version of the files app)

3. SSO will stay the only way to authenticate due to many

[2019-05-16 09:38] stefan-niedermann commented on #78
For reference: https://github.com/nextcloud/Android-SingleSignOn/pull/63

[2019-05-16 10:35] lachmanfrantisek commented on #80
Thanks for the info. If you think this issue is not needed, feel free to close it.

[2019-05-16 10:36] #80 closed

[2019-05-16 12:30] stefan-niedermann commented on #51
First creation throws `405` status-code from Deck-API. Second time (different label text) i get `UNIQUE constraint failed`. When i pass the label into `createAndAssignLabelToCard`, the passed label has a local-id, a static variable (so i am able to distinguish between new and existing labels). Maybe the local id should be ignored when creating new labels.

[code]

[code]

[2019-05-16 12:45] desperateCoder commented on #51
Master?

[2019-05-16 14:47] stefan-niedermann commented on #51
yes

[2019-05-16 16:28] #77 closed

[2019-05-16 17:54] desperateCoder commented on #77
the last three commits belong to https://github.com/stefan-niedermann/nextcloud-deck/issues/51

[2019-05-16 17:59] desperateCoder commented on #51
Since i am waiting @juliushaertl to respond, i am blocked so far. If the error is on the server side, my implementation is complete.
However, the server says:

[code]
My commits are tagged with the wrong issue btw, i linked it above.

[2019-05-17 11:46] croulibri opened #81 "Single Sign-on not working with Android 7"
Nextcloud deck 0.6.2 on Nextcloud 15.0.5.
Android 7.1.2. with

- Android Nextcloud 3.6.0 (from f-Droid)
- Adroid Nextcloud Deck 0.0.2 (from f-Droid)

----

When I first open Nextcloud Deck on my Android device, I have to choose a Nextcloud account on the account chooser dialogue. I select an existing one and immediately I have a pop-up "_Error : You have to accept the requested permissions to use

[2019-05-17 13:32] kai11 opened #82 "After adding second account list of boards dont refresh"
**Describe the bug**
After adding second account list of boards dont refresh

**To Reproduce**
Steps to reproduce the behavior:
1. Add one account
2. Left sidebar display correct boards for this account now
3. Add another account
4. Select it from accounts menu
5. Left sidebar still shows boards from old account
6. Switching accounts and refresh gesture don't help - lost of boards have only boards

[2019-05-17 13:59] desperateCoder commented on #82
Hello again @kai11 :D

Thanks for the report, we will have a look at this.

Just wondering: if you restart the app, does something happen? As I remember from the last time I tried, they should suddenly appear..

And a dummy-question: is the server-deck-app version of your second account or instance  up to date?

[2019-05-17 17:33] kai11 commented on #82
Closing, swiping app left and reopening dont help.
Force stop dont help either.
They appear after some time - few hours or so.

[2019-05-20 19:36] David-Development commented on #81
@croulibri It has been fixed, but it is not published yet ([PR](https://github.com/nextcloud/Android-SingleSignOn/pull/62)). I will release an update of the SingleSignOn library soon!

There are some changes required in this app as well.. not sure when @stefan-niedermann and @desperateCoder are planning on doing another release.
Or are you guys waiting for me?

[2019-05-20 21:57] stefan-niedermann commented on #81
We are waiting for the next stable release of the sso lib and then publish a new version on F-Droid :)

[2019-05-21 08:08] DCSH82 commented on #82
Can confirm this behaviour. Server side deck app is up-to-date, deck 0.6.2 on nextcloud 16.0.1. No ability to refresh or list boards on second account.

[2019-05-21 08:17] desperateCoder commented on #82
Maybe related to SSO? Didn't @david-development or @tobiasKaminsky mention something about multi account handling not working properly? It worked well before the refactoring of the SSO, do you guys have further information or might this really be a bug in deck?

[2019-05-21 08:25] tobiasKaminsky commented on #82
Hm. SSO should now work with multi accounts.
(the only problem right now is multi apps (official files app vs. dev files app)

[2019-05-21 08:26] desperateCoder commented on #82
Thanks, I'll have a look at it as soon as I can

[2019-05-21 16:57] David-Development commented on #81
@stefan-niedermann 0.3.1 is out ;) https://github.com/nextcloud/Android-SingleSignOn/releases/tag/0.3.1

[2019-05-21 18:24] stefan-niedermann commented on #81
Great news, thank you :)

[2019-05-22 12:30] desperateCoder commented on #82
Hi @Aquariu ,
thanks for the report! We will fix this as soon as possible!

@stefan-niedermann this one is getting out of hand, please give it a look before 0.0.3!

[2019-05-22 12:35] Aquariu commented on #82
Please note that there was no urgency in my report :) I realise this is not production ready and that's fine.

Congratulation on you for working on this. I will keep on testing releases until it's ready for my use case.

Kind regards,

Olivier

[2019-05-22 12:41] desperateCoder commented on #82
@Aquariu since you are the third one reporting this, I would like to solve this asap, but thanks for comforting us :laugh:

Thank you for your support, we hope you guys like our work and are proud of having that much reactions and users for a pre-alpha, buggy app :sweat:

Stay tuned! The next release will hopefully come soon!

[2019-05-22 13:05] Aquariu opened #83 "Attach a file to a card,or add text to a card through the android Intent system"
**Is your feature request related to a problem? Please describe.**

Not really.

**Describe the solution you'd like**

As proposed recently in [here](https://github.com/nextcloud/deck/issues/1060), the Files app could share to a Deck card (avoiding the need to download the file first, or sharing a link only).

If ever that gets done, there could be the same kind of attachment process on the androi

[2019-05-22 15:06] tobiasKaminsky commented on #83
Talk app is doing something similar…
Maybe it is worth to take a look?

[2019-05-23 13:20] Aquariu commented on #83
Addition:

I juste realised that tapping on a Notification in the Nextcloud android app would open the Browser.
And there are notifications when a shared card is updated by someone !
The Intent mentionned above should also be able to propose the user to open the Deck app when tapping on this Notification.

Kind regards,

Olivier

[2019-05-23 13:27] tobiasKaminsky commented on #83
Hm. Ideally Deck app should handle those push notifications directly, like Talk is doing it.
If the "specialized" apps are not installed / do not handle it, it is ok that Nextcloud Files app is showing it and then redirects to web UI.

[2019-05-23 13:31] Aquariu commented on #83
OK. I am not familiar with how 2 apps will sort-of fight over which get the right to handle push notifications. Your way is better if it's feasible. It will require additionnal settings in the app itself to turn On/Off notifications (not everybody likes to be bothered this way).

[2019-05-23 13:36] tobiasKaminsky commented on #83
Each app is registering on server for push notification and as far as I understood it, there is then a predefined order, so that first NC Talk will get the message, and only if it not installed it will go to NC Files app.
But this is logic done on server side.

True, but e.g. on Talk or Files there is also (not yet) such a config, or?

[2019-05-23 13:54] stefan-niedermann commented on #83
Of course, all the intents to handle files and text are welcome features. The only problem i see it receiving push notifications directly, as the deck android app does not and will never rely on a proprietary service like the Google services (greetings to huawei ;) ). Therefore: If we can find a way to handle this (of course without polling), then i appreciate to build it in, under the permission

[2019-05-23 14:00] Aquariu commented on #83
I was under the impression that the f-droid versions of Nextcloud, Talk, .... were built without GCM. (Google Cloud Messaging). How do they manage to get notifications to the users ? (or maybe I'm totally wrong).

[2019-05-23 18:49] Spartachetto commented on #83
As far as I understand Nextcloud Talk (fdroid version) doesn't.

For your reference: https://github.com/nextcloud/talk-android/issues/257

@mario could eventually give some useful information.

[2019-05-24 05:29] tobiasKaminsky commented on #83
None of our fdroid versions (Talk, Files, …) can have push notifications via Google Cloud Messaging as this is not allowed by FDroid (after all that is the idea of true open source, to not use proprietary software).
Talk & Files installed via Gplay do have Push Notification.

[2019-05-25 12:03] TobiasDev commented on #75
Hello! I also see this issue that my data isn't refreshed.

I'm on latest deck for NC and I'm using the app from F-Droid (so not sure if I should report it yet or not?). :)

[2019-05-25 12:29] desperateCoder commented on #75
Hi @TobiasDev,
Thank you for your report!
We are aware of these problems and are currently about to resolve them.

Please be patient and wait for the next update via f-droid, if the problems still persists for you, please open a new issue then.

[2019-05-26 14:39] stefan-niedermann commented on #81
@croulibri can you retest the login with the current master please?

[2019-05-26 15:40] stefan-niedermann commented on #81
@croulibri forget it, i see there is still some work left. Tracking in https://github.com/stefan-niedermann/nextcloud-deck/tree/android-7-permissions

[2019-05-27 08:58] rouvenvolkmann opened #84 "App crashes when clicking on "Due date""
**Description**

When creating a new card: clicking on "Due date" or "00:00" next to it, the app always crashes.

**Smartphone:**
 - Device: LG G6
 - Android-Version: Lineage OS 15.1 / Android 8.1.0

**Stacktrace**

[code]

[2019-05-30 18:51] kai11 commented on #28
Its more than markdown - checklists / subtasks are very useful too,
https://github.com/nextcloud/deck/issues/53

I think there must be two views - detail view (rendered markdown, checkable checklists) and edit view (raw text).
Right now edit screen have only second view.

[2019-05-31 07:36] tubia opened #87 "Unable to create a new deck"
**Describe the bug**
When I try to add a new deck, a java error is shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the left sidebar
2. Click on 'add deck'
3. In the popup, select color and name and click 'create'
4. In the main window you see

[code]

**Expected behavior**
Create a new deck

**Screenshots**
No screenshots.

**Smartphone (please complete the following information)

[2019-05-31 17:25] desperateCoder commented on #87
Hi @tubia,
thanks for your report!

I just tried it myself and had no problem at all.

Unfortunately i can't tell what`s wrong by the data you provided, since the code does'nt match with the stack above (some development has happened since your version, but not affecting the code in your stacktrace)

To be able to help you, i'd need the following information:
* Which version of the Deck-Server-Plu

[2019-05-31 18:45] dupondje opened #88 "Deleted Stack still shown"
**Describe the bug**
When a stack is removed, it is still shown in the App.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a stack
2. Now its correctly visible in the app
3. Remove the stack via a browser
4. The stack is still visible inside the app

**Expected behavior**
The stack should be hidden (as its removed).

**Smartphone (please complete the following information):**
 - Devi

[2019-05-31 18:49] desperateCoder commented on #87
@tubia I just realized, that the provided stacktrace might be all you got in the Exception dialogue, right?

Sorry for that, i fixed it in commit 4d7f5e6dae86b2481f8cbae1d3b5c3fd4ecf9e34

Do you have Android Studio running? The logs should display the whole exception, just as the next release will.

[2019-05-31 19:03] desperateCoder commented on #88
Hi @dupondje,
thanks for your report!

As it would possibly drain your mobile data, we don't automatically synchronize the state unless you tell the app to do so. Handling WiFi-connections is not implemented yet like this, but it might be one day. Remember: we are still pre-alpha :sweat_smile:

So this leads me to the following question: Did you try to swipe down to refresh or restart the app? Or

[2019-05-31 19:14] desperateCoder commented on #84
Hi @rouvenvolkmann,
thanks for your report!

We will have a look at this, even though it works on my machine (best excuse ever! :smile:)

@stefan-niedermann or @AndyScherzinger feel free to hunt this bug!

Btw: future stacktraces will get a little more detailed: 4d7f5e6dae86b2481f8cbae1d3b5c3fd4ecf9e34

[2019-05-31 19:20] dupondje commented on #88
Hi @desperateCoder

That was a quick response :)
Even trying a force sync, stopping the app, removing the cache didn't fix it :(

The stack was still visible.

Then I debugged the API call's it does, but there the stack was not passed anymore. So it seems like it was stuck somewhere in the GUI of the app.

I did remove all data for the app, and did setup again, and now its really gone :)

[2019-05-31 19:43] desperateCoder commented on #88
So was yours! Getting that much attention kind of forces us to stand behind our community, thanks to all of you for your interest in our project! Your feedback is quite important to us, since we can't have a million devices with another million of ROMs, so yeah, thats the least we can do for you guys!

Thats all i wanted to hear! I am the backend-guy responsible for the sync, so i guess this is ju

[2019-06-03 21:07] #84 closed

[2019-06-03 21:07] AndyScherzinger commented on #84
Can reproduce it on master:
```java.lang.NullPointerException: Attempt to invoke virtual method 'it.niedermann.nextcloud.deck.model.Card it.niedermann.nextcloud.deck.model.full.FullCard.getCard()' on a null object reference```

Latest master should now be fixed :)

[2019-06-14 20:40] #81 closed

[2019-06-14 20:40] stefan-niedermann commented on #81
Login is now possible with android 6 and 7 (master-branch) - Please note, that there are still some problems left with multi account setup

[2019-06-14 20:57] stefan-niedermann commented on #82
I think this might be solved in the meantime on master (with 8a197a3c29b029319f82703cc461b1ebff54a88c)

@kai11 can you retest with master and tell us if the second account is still not synchronizing when creating it initially?

[2019-06-16 21:16] stalker314314 opened #94 "Ability to archive cards"
Seems that only thing missing for my use case is ability to archive cards on mobile:) Let's narrow this issue down to *only* implement archiving action (and not go into showing[1]/unarchiving...)

I am sorry if this exists, but I see menu item and I get "not implemented yet".

[1] When I archive card from Web, I still see it in Android app

[2019-06-16 22:34] desperateCoder commented on #94
Hi @stalker314314,
thanks for your request! I'd say this one is a low hanging fruit, since it is just an update call, which in fact sould already work. Just some missing wiring. I'll have a look at this as soon as possible.

[2019-06-17 17:05] desperateCoder commented on #94
Hi @stalker314314
I played around a little, i think it should work already, but there is still some work left.

Would be great if you could confirm it with the latest master!

[2019-06-17 19:55] stalker314314 commented on #94
I tried with master, but I am not sure what to expect. I create item **test item** from web and try to archive from Android. I do not get any feedback on Android (item is still there, no toast), this is what I get in logcat:
[code]

so I refresh on Android (pull to refresh), this is in logcat:
[code]

and on web refresh, I get this:

![slika](https://user-images.githubusercontent.com/188751/596316

[2019-06-17 19:58] stalker314314 commented on #94
wait...they are not gone, I found them:) They are just somehow _moved_ to completely different board? My board was ID=3, and they are now in ID=2:) Hope this helps:)

[2019-06-17 20:08] desperateCoder commented on #94
holy cow... i was aware of the errors in logcat, i had less than 45 minutes and just hacked it down, i saw the card was gone so i assumed it worked... sorry for that fail! :laughing:

I'll give it another try maybe tomorrow, thank you very much for testing my crappy code! and sorry again!

[2019-06-17 20:10] stalker314314 commented on #94
so, I am continuing to debug, seems that `stackId` was wrong when trying to update card...I will try to track that down too. Don't be sorry, no worries, this is best to-do manager I have, I am just missing Android version, so this is my way of helping:)

[2019-06-17 20:14] desperateCoder commented on #94
Oh, and i am also aware of the fact that the UI doesn't refresh. I'll fix that asap.

And yes, you are right! the StackID is most likely wrong, since we have a local and a remote ID. The update should also set the Stack(remote)ID, since the DB reads the local one. let me fix that real quick...

[2019-06-17 20:17] desperateCoder commented on #94
I guarantee, this does only work better, but is buggy as hell. Didn't test it either... I'll have a further look next time, i hope tomorrow evening. Hope it helps so far...

[2019-06-17 20:28] desperateCoder commented on #94
*cough* :man_shrugging:

[2019-06-17 20:38] desperateCoder commented on #94
Sorry, I think this needs some more attention... Just tested it, sounds good, doesn't work. I'll handle that as soon as i can.

[2019-06-17 20:44] stalker314314 commented on #94
no problem, whenever, there is no rush!

[2019-06-18 16:57] gerhardbeck opened #95 "Show version of app installed on server"
I have quite some problems and think it might be, that the server app ist old.
As the server app is maintained in a big company I got no idea which version it is and feel unsure to open some issues if I don't know the version of the server app.
Therefore: is there a possibility to show the version number of the server app in "about"?

[2019-06-18 17:05] gerhardbeck opened #96 "Unable to create cardds"
**Describe the bug**
Unfortunately I'm unable to create cards: When trying to add a new Card on + there is no "save" button. When moving back it didn't save
Same problem when trying to change an existing card
Boards work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '+'
2. write anything
3. no saving

**Expected behavior**
whether a button "save" or saving then clicking "back"

**Sm

[2019-06-18 17:07] desperateCoder commented on #95
Hi @gerhardbeck
thanks for your report!
Please have a look at https://github.com/stefan-niedermann/nextcloud-deck/issues/75

Currently the server doesn't propagate the version of the deck app to the clients, but we are already working on it. The next Deck version will support this. We would only have a gap of like 2 versions, where we can't tell, if the installed server app verision is compatible.

[2019-06-18 17:11] desperateCoder commented on #96
Hi @gerhardbeck,
since we are in alpha stadium, not all features are ready yet. We stated it in any readme you can find: the current state is a pure viewer app and it is far from perfect even for this purpose. :smile:

We do our best, but please be patient, since we are working on this app in our spare time. Just trust me, one day this will work, too.

[2019-06-18 17:37] gerhardbeck commented on #95
Hi @desperateCoder #75 inspired my issue :-)

[2019-06-18 17:38] gerhardbeck commented on #96
@desperateCoder Well, I think you're much better than a viewer app as one can add boards. Therefore I thought it is a bug...
I love the app, even in alpha state...

[2019-06-18 17:45] desperateCoder commented on #96
Glad to hear that! We will add that for sure! The "Kuddelmuddel" of the features is because we didn't plan to release it before having a stable editor app, but the pressure and interest of the users was very high, so some edit features implemented before are still available.

A good friend of mine would also love this feature, so I hope @stefan-niedermann will find some time to implement this soon

[2019-06-18 20:47] desperateCoder commented on #94
Hi @stalker314314,

as promised I had a deeper look into this this evening, the error log should be gone now.

But archiving a card seems to be a problem right now on the server side: https://github.com/nextcloud/deck/issues/1095

I'll have to wait for a fix, but as soon as a new server app version is available, our app should start working without further development on the Android app.

Feel fre

[2019-06-18 20:47] #94 closed

[2019-06-19 14:32] Nils160988 commented on #82
I can also confirm the bug for 0.0.2.

Retest with current master works fine :)

[2019-06-19 15:27] stefan-niedermann commented on #82
Great to hear :) I will close this issue.

And thanks for testing and reporting!

[2019-06-19 15:27] #82 closed

[2019-06-19 15:31] stefan-niedermann commented on #96
I would say, we can close this issue in favor of #41 since this is a duplicate :)

[2019-06-19 15:32] #96 closed

[2019-06-19 15:36] stefan-niedermann commented on #95
Indeed, this should be displayed in the `AboutFragmentCreditsTab` below of `TextView#about_version`.

![grafik](https://user-images.githubusercontent.com/4741199/59779587-d06db800-92b8-11e9-84e9-d144d763cb7f.png)

[2019-06-19 19:39] #51 closed

[2019-06-22 16:37] sunjam opened #98 "After creating a new board, display it"
**Is your feature request related to a problem? Please describe.**
I successfully created a new board, but am not shown it until I browse back to the menu and select it.  It would be nice to have some small confirmation that the board has been created if it is not automatically displayed.

**Describe the solution you'd like**
After creating a new board by title and color, it would make sense for t

[2019-06-22 17:56] desperateCoder commented on #98
Hi @sunjam,

Thank you for your contribution! This makes sense, but please be patient. We have a lot more functionalities to implement, but maybe it isn't that complicated and @stefan-niedermann will fix that together with other improvements.

Our focus right now is on more critical issues, so please don't be mad if this isn't fixed in the next release. It will be fixed for sure!

[2019-06-22 23:18] sunjam commented on #88
fwiw, I tried to refresh by swiping down.  I noticed that force quitting and restarting the app will show the correct state, whether those changes were made on the Android app or in 16.1.1 webui.

[2019-06-23 07:04] tomeinstein opened #99 "Android 9. Integer cannot be cast to Long"
java.lang.ClassCastException: java.lang.Integer cannot be cast to java.lang.Long
	at android.app.SharedPreferencesImpl.getLong(SharedPreferencesImpl.java:310)
	at it.niedermann.nextcloud.deck.ui.DrawerActivity.lambda$null$2$DrawerActivity(DrawerActivity.java:133)
	at it.niedermann.nextcloud.deck.ui.-$$Lambda$DrawerActivity$bCpozhu_AVJ_lTe_ch2lk50NFgg.onChanged(Unknown Source:4)
	at androidx.lifecy

[2019-06-24 07:58] jgrete commented on #88
Hi,
I've got the same behaviour.
The same happens when I changed to a different account.
I'm always getting the very first stack...
I'm looking forward to see further development. Thanks for your work!
Jürgen

[2019-06-25 16:48] Aquariu commented on #99
Had this issue also when updateding to 0.3.
Completely remove the app and reinstall fixed it.

[2019-06-25 16:50] Aquariu commented on #82
Just came here to confirm bug closure: second account via Single Sign On works like a charm, switching back and forth between both works great to.

Thanks :)

[2019-06-25 16:53] Aquariu commented on #83
Thank you all for your replies.

My original intent (no pun intended :) ) was about the file upload and inclusion into the Cards. Let's not waste energy on messaging and notification as it's a difficult topic.

[2019-06-25 16:54] desperateCoder commented on #82
Great! Thanks for testing! Stay tuned!

[2019-06-25 16:57] desperateCoder commented on #83
Hi @Aquariu, please be patient on this, we do our best getting everything to work, i guess as soon as the more critical topics are done, we can focus in card editing and anything belonging there like attachments.

[2019-06-25 17:00] Aquariu commented on #83
I'm not in any particular hurry :)
I jus thought that the topic had diverged on notification which was not  (in my opinion) a good thing.

[2019-06-25 17:49] stefan-niedermann commented on #82
:rocket: :rocket: :rocket:

[2019-06-25 17:52] stefan-niedermann commented on #99
@tomeinstein can you reproduce this issue while the app is running? If not, please don't be mad, but i will close this issue, because we consider each "Update" currently breaking change that will at least require a complete deletion of the app storage.

I remember the code part that has changed (we switched a shared preferences item from `int` to `long`, so this exception is understandable from my

[2019-06-25 17:52] #99 closed

[2019-06-26 22:07] denis-pujdak-adm-it commented on #87
I got the following error:
java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Long it.niedermann.nextcloud.deck.model.User.getLocalId()' on a null object reference
	at it.niedermann.nextcloud.deck.persistence.sync.SyncManager.lambda$createBoard$2$SyncManager(SyncManager.java:170)
	at it.niedermann.nextcloud.deck.persistence.sync.-$$Lambda$SyncManager$3P2D-7BtdnPRYG9owpMOaZ

[2019-06-29 18:50] desperateCoder commented on #78
Hi @lachmanfrantisek, violoncelloCH,
The SSO guys @David-Development  and @tobiasKaminsky have released a new version supporting the Dev-App (see https://github.com/nextcloud/Android-SingleSignOn/pull/63).

Feel free to test the latest master (i bumped the version) and if it works, get those guys a beer already! :grin:

[2019-06-30 19:30] Moini opened #100 "Cannot create a new board"
Very similar to https://github.com/stefan-niedermann/nextcloud-deck/issues/87, but my error message is longer:

* open app
* open hamburger menu
* click on '+ Add Board' (or is it deck in the English version?)
* select a color and enter a title
* click to create

**Smartphone:**
 - Device: Moto X4
 - Android-Version: Lineage OS 16 (Based on Android 9)
-  System language: German

**Version of Deck:

[2019-06-30 20:02] desperateCoder commented on #100
Hi @Moini,
Thanks for your report! The locals is the ID of the user as it is saved on your device. Since we support multiple accounts, the IDs may collide, therefore we need something unique per device, the localId.

The problem isn't the ID itself, we are reading a user, but the app doesn't find what it's looking for, so there is no ID where we expect one.

I'll have a look at this as soon as I f

[2019-06-30 23:37] Moini commented on #100
Thank you! Please let me know if there's any additional info you need.

[2019-07-02 07:44] croulibri commented on #81
Yes, login is now possible with Android Nextcloud Deck 0.0.3 (from f-Droid)

Thanks !

[2019-07-03 13:52] sargoon opened #102 "[Bug Report] When I click on the "Delete column" option, the application crashes."
**Describe the bug**
When I click on the "Delete column" option, the application crashes immediately.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Nextcloud Deck
2. Click on the "Delete column" option.
3. And you will see the application crashes and appears the error codes.

**Expected behavior**
When I click on the "Delete column" option, the application should delete any existi

[2019-07-03 14:48] desperateCoder commented on #102
Hi @sargoon,
Thanks for your report! This feature is not implemented yet, but the app at least schouldn't crash, maybe even show a toast to inform the user...

@stefan-niedermann maybe you could fix that real quick?

[2019-07-05 16:39] desperateCoder opened #103 "Handle OfflineException"
As the `SyncManager` throws an `OfflineException` when the device has no internet connection, the ExceptionHandler should catch this one seperately and display a toast or anything similar to inform the user. Right now the app crashes for no (valid) reason.

I don't know, if the ExceptionHandler is the right place to catch the Exceptions, but something should be done here...

Not throwing an `Offli

[2019-07-08 07:11] mithodin opened #104 "No boards displayed in app after login"
**Describe the bug**
After installing the nextcloud files and deck android app and setting both up, no boards are show in deck, even though there are plenty in the web app.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Nextcloud files and deck android app
2. Add account in nextcloud files
3. Select account in deck app
4. Restart deck app

**Expected behavior**
Show existing online

[2019-07-08 07:57] desperateCoder commented on #104
@mithodin, thanks for your report!
Can you tell the server app version? If it is not the latest, please update it and try again. I'd  also recommend to reinstall the Android app after the server app update.

[2019-07-08 07:59] mithodin commented on #104
Server version of deck is 0.6.4, nextcloud 16.0.2

[2019-07-08 16:41] juliushaertl commented on #104
Hm, maybe this was caused by my change in deck 0.6.4: https://github.com/nextcloud/deck/issues/1107

@desperateCoder The response format of the acl list in boards was changed to be an array (which was already the case for an empty entry). Any chance you adjust that in the app, as the reported issue was right imo, since we should keep the format consistent.

[2019-07-08 16:49] desperateCoder commented on #104
@juliushaertl i actually faced this on Friday, I already fixed that in the upsync branch... But I did not get this problem at sync time... Odd, but I'll investigate this with the latest master, no problem at all, just too few time right now 😅

Any more API changes I should know about?

[2019-07-08 17:04] desperateCoder commented on #104
@juliushaertl, @mithodin,
i just checked Julius' suggestion, and it pretty much sums it up.
Hold on, fix incoming in 3... 2.. 1...

[2019-07-08 17:08] #104 closed

[2019-07-08 17:11] desperateCoder commented on #104
@mithodin this fix will be available within the next release. @stefan-niedermann we should update the minimum deck version to 0.6.4, i'll implement the NC-API for reading the capabilities, hopefully we are safe from outdated server-app versions then.

[2019-07-08 17:12] desperateCoder commented on #104
oh and thanks for your suggestion @juliushaertl, you saved me a bunch of time! :+1:

[2019-07-09 22:57] AlmightyFrog commented on #81
Is there any further action needed? It still does not work on on devices (Android 7 and 8).
The versions I have installed are from F-Droid: Nextcloud 3.7.0 RC and Nextcloud Deck 0.0.3

[2019-07-10 05:28] desperateCoder commented on #81
Hi @AlmightyFrog,
Dis you try to un- and reinstall the whole app?
Sometimes the local database needs to be wiped, that's the simplest way.

[2019-07-10 06:41] stefan-niedermann commented on #81
Also: Does the login itself work or are just no boards displayed? There is another bug with the server app version 0.6.4 which will soon be fixed in the android version 0.0.4 :)

[2019-07-10 22:34] AlmightyFrog commented on #81
Yes, I did full reinstall, clearing cache. Didn't help at all. It was like i was presented my account to select but when i clicked on it I got message like shown in this issue. I saw the permission request for accessing contacts, but not the one to find accounts on my device (in german "Konten auf dem Gerät suchen"). looks like that was missing.

Had to enable this manually on the LineageOS built

[2019-07-13 16:36] desperateCoder commented on #41
*bump* @stefan-niedermann

next to dev pls

[2019-07-14 10:33] desperateCoder opened #106 "Exception in StackFaragment"
**Describe the bug**
While randomly doing pull-down-syncs, opening card details and pushing the back button, somtimes i see the following logcat entries (at least on **upsync-branch**):
[code]

[2019-07-14 10:43] desperateCoder opened #107 "Wrong last-board-handling"
**Describe the bug**
After the first sync there is a random board selected, maybe the first being created at sync time.
After the sync the boards have a different order, so selecting a card and pressing back leads the user to a different board, since the indices are diffrent now.
(tested on **upsync branch**)

**To Reproduce**
Steps to reproduce the behavior:
![error](https://user-images.githubuse

[2019-07-14 21:59] selfisekai opened #108 "dark mode"
**Is your feature request related to a problem? Please describe.**
my eyes are getting burnt

**Describe the solution you'd like**
a dark mode available to switch on in app settings/hamburger menu

**Describe alternatives you've considered**
- dark mode by default
- only dark interface (like Spotify)

[2019-07-15 06:39] desperateCoder commented on #108
Hi, thanks for your request!
We will consider this after the key features are complete!
I also like to have a dark mode, so the chances are good 😉

[2019-07-25 16:17] stefan-niedermann opened #112 "DueDate gets not synced to server"
Setting a dueDate works, it also gets persisted in database, so offline no problem. Next time going online the server always wins the sync and overrides the client. Reproducable in master.

[2019-08-01 14:00] #95 closed

[2019-08-01 14:03] desperateCoder commented on #95
Don't you want to show nextcloud version as well @stefan-niedermann ?

[2019-08-01 14:10] stefan-niedermann commented on #95
no need, since the deck server app itself has a minimum requirement for the nextcloud app itself.
All APIs we are using from NC directly (like capabilities) are there since NC 1

[2019-08-01 14:15] desperateCoder commented on #95
Ok, nevermind then. *Shrug*

[2019-08-16 15:13] nr458h commented on #108
In addition to a dark theme please consider also a true black theme for AMOLED displays. Thanks in advance

[2019-08-16 15:57] desperateCoder commented on #108
@nr458h shure Thing! But first things first! 😝

[2019-08-23 22:12] CaptInsano commented on #41
Looking forward to this.

I need a kanban solution with a decent andoid app!

[2019-08-23 22:26] desperateCoder commented on #41
C'mon @stefan-niedermann 😝

[2019-08-24 21:29] stefan-niedermann commented on #41
@desperateCoder please have a look at `create-cards`-branch. Basically i think it might work this way, but there are two problems left:

1. When i type in a title and press back, i can see the created card for a second in the list, but then it gets deleted (maybe some problem with the sync mechansim?) -> Can you check this pls?
2. There might be a timing problem: The user-object (which is needed t

[2019-08-24 22:24] desperateCoder commented on #41
Yep, I'll have a look at this asap. Thanks for the UI base!

[2019-09-14 15:49] #41 closed

[2019-09-15 07:00] stefan-niedermann commented on #98
Okay, some work has been done here - if one creates a new board, it will be displayed directly.
**but**: You will have to create a new stack to work with this new board and this currently causes a NPE in the SyncManager#createStack().

[code]

The main problem is, that `board` is `null` here, but it should not since `accountId` and `stack.getBoardId()` seem to be filled correctly. Maybe a local/re

[2019-09-15 07:02] stefan-niedermann commented on #87
Can you please both check if this problem still persists? We had a lot of changes in the "create board"-section of the code ;)

[2019-09-15 07:13] stefan-niedermann commented on #112
Seems to be fixed on latest master.

[2019-09-15 07:13] #112 closed

[2019-09-15 07:15] stefan-niedermann commented on #78
The latest version of this app (0.0.5) supports the dev app of files. Please wait a few days until it gets released on F-Droid or compile it from the master branch.

[2019-09-15 07:15] #78 closed

[2019-09-15 08:13] stefan-niedermann commented on #106
not reproducable (maybe fixed??)

[2019-09-15 08:13] #106 closed

[2019-09-15 10:20] #88 closed

[2019-09-15 10:21] #102 closed

[2019-09-15 10:31] #98 closed

[2019-09-15 10:31] stefan-niedermann commented on #98
Should work with version 0.0.6 and on latest master. Please reopen if still issues occur. Thanks for reporting :)

[2019-09-15 14:38] stefan-niedermann commented on #87
Feel free to open a new issue if the problem still occurs. The next version should be available on F-Droid in a few days or you can compile the current master.

[2019-09-15 14:38] #87 closed

[2019-09-15 15:21] stefan-niedermann commented on #100
Hi @Moini can you please retest with the latest version (0.0.6 - should be on F-Droid in a few days) or with the latest master?

Everything should work fine right now - if the issue still persists, please reopen this or create a new issue.

Thanks for reporting!

[2019-09-15 15:21] #100 closed

[2019-09-15 18:24] Moini commented on #100
Yep, I will, as soon as I have updated the app.

[2019-09-16 13:27] stefan-niedermann opened #126 "Assigning users and labels on creation causes exception"
The `card` has no `localId` since it has not been created at this point in time. Assigning tries to read the `localId`, gets a `null` and tries to pass it into a `long` which causes the app to crash.

[code]

[2019-09-16 13:55] desperateCoder commented on #126
Uhm... Why don't you just trigger save before the assignment? I mean... What should I do? Persist the card on any assignment? This would break the propagation to the server...

Please just trigger save before label- and user assignment.

[2019-09-16 14:12] stefan-niedermann commented on #126
yep. something like this. the issue is just a reminder.

[2019-09-17 17:14] stefan-niedermann commented on #75
The latest master checks for the minimal version (currently 0.6.4) and displays an error message with the option to directly upgrade your deck app version in your nextcloud instance.

please open a new issue if you notice any further issues :)

PS.: F-Droid updates will take some time because we did not tag this version yet. Stay patient in this case :)

[2019-09-17 17:14] #75 closed

[2019-09-17 17:21] desperateCoder commented on #75
In addition: there were a bunch of improvements since the last version, hope you guys will enjoy them!

[2019-09-18 11:56] stefan-niedermann opened #129 "Deleting last column in an board causes NPE"
Fix: "Delete column" action should only be available when the current board has one or more columns.

[2019-09-18 11:58] stefan-niedermann opened #130 "Confirm dialog for deleting boards"
When the "Delete board" is clicked, there should be a confirm dialog similar to "Delete column" to make clear that this action is destructive and cannot be undone.

[2019-09-18 11:59] stefan-niedermann opened #131 "Deleting a board displays empty content view"
After a board has been deleted, the title of the next available board is displayed, but no columns and no cards.

[2019-09-18 12:25] stefan-niedermann opened #132 "Hide FAB on scrolling"
The fliating action button should be hidden when scrolling down and displayed again when scrolling up to not interfer with the last cards.

[2019-09-18 13:34] #129 closed

[2019-09-18 13:39] desperateCoder commented on #47
Come on @stefan-niedermann. This is resolved. Do it!

[2019-09-18 13:45] #47 closed

[2019-09-18 13:53] #131 closed

[2019-09-19 22:48] Nils160988 opened #136 "Account name not displayed correctly when it contains space character"
**Describe the bug**
Only the part of the username before a space character occurs is displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create at least one user with space character in it
2. Add accounts to nextcloud deck
3. See the panel where you can choose between different account

**Expected behavior**
The accounts' names are displayed completely.

**Smartphone (please complete

[2019-09-20 03:41] kai11 opened #137 "NullPointerException on creating card"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open App
2. Choose account
3. Clicl on floating + button
4. Write text for new card
5. See exception

**Expected behavior**
New card created

**Smartphone (please complete the following information):**
 - Device: Moto Z Play
 - Android-Version: 8.0.0
 - App version: 0.0.8

[2019-09-20 03:51] kai11 commented on #137
BTW it creates empty cards

[2019-09-20 03:53] kai11 commented on #137
After few updates it works fine and creates
I had this prpb'em when on Create card dialog I saw only title text,
Now, when I see title and tabs below, it works fine

[2019-09-20 05:34] desperateCoder commented on #136
Could you tell us the name of the board or at least how many characters are the first word has? Maybe there is simply no more space to display it, so it's cut off?

[2019-09-20 06:26] stefan-niedermann commented on #137
Thanks dor reporting. The cards have to be created while you did not save so you can assign labels and users during the creation - but of course the should be cleaned up on error - or in the first place there should not even be an error of course :)

[2019-09-20 06:28] stefan-niedermann commented on #136
I guess so, we definitely should ellipsize the account name proberly, but in the first place we need whether or not the account name is simply too long.

[2019-09-20 07:02] Nils160988 commented on #136
See following screenshot:

![Screenshot](https://user-images.githubusercontent.com/29654384/65306155-086ceb80-db85-11e9-8f5d-9387dd71e111.png)

For the account with firstname@domain it works (just cutoff because too long), for the account with "FirstName Lastname"@domain it does not.

[2019-09-20 08:50] kai11 commented on #137
Aby idea why after fresh install on Create dialog I saw only text box, but after few data refreshes I saw full dialog with text box and tabs?

[2019-09-20 08:58] stefan-niedermann commented on #137
The tabs and everything below are only shown as soon as the empty card has been created successfully (because otherwise assigning labels and users would result in an error since the card does not exist yet). for this reason it takes some time until the tabs are displayed. The soultion is not final yet, we are looking for better solutions which respect that assigning currently needs an existing car

[2019-09-20 09:40] desperateCoder commented on #137
However we need a better solution for this @stefan-niedermann.

@kai11 can you confirm it is much faster when you are offline?

[2019-09-20 09:50] kai11 commented on #137
![Screenshot_20190920-115432](https://user-images.githubusercontent.com/5407282/65317830-36622800-dba5-11e9-93c0-c4692a0752b8.png)
![Screenshot_20190920-115426](https://user-images.githubusercontent.com/5407282/65317831-36622800-dba5-11e9-8f9c-15c9dc68638c.png)

[2019-09-20 09:51] kai11 commented on #137
First screen - after data refresh, second - immediately after install without data refresh

[2019-09-20 09:54] desperateCoder commented on #137
So @stefan-niedermann and me decided, we will change this as follows:
@stefan-niedermann will hold all data in the UI until the user decides to save the card. No DB/Server interaction until this point. I will then take the created card and all assignments and save it to the DB and, if online, propagate it to the server as well.

This way you should'nt have to wait and sync anymore.

[2019-09-22 17:51] dupondje opened #140 "No build updates on F-Droid"
Nice to see there have been many improvements on the app the latest weeks.
But the updated releases are not pushed to F-Droid.

Can this be checked? Or eventually build APK here?

[2019-09-22 18:03] desperateCoder commented on #140
Hi @dupondje, this is funny, since we are also waiting for F-Droid to recognize our releases...

We actually have no clue whats wrong currently, and i have no idea what to do about that. Maybe @stefan-niedermann could dig into this, but afaik he es as clueless as i am.

Here is the current master (22.09.2019, about 14:00).
**ATTENTION:**
Github won't let me upload APKs here, so i renamed it to zip

[2019-09-22 20:12] dupondje commented on #140
Seems to build fine on F-Droid, but then it's stuck somewhere:
https://f-droid.org/wiki/index.php?title=it.niedermann.nextcloud.deck/lastbuild_8&redirect=no

[2019-09-23 06:03] AndyScherzinger commented on #140
Publishing is done manually by members of the f-droid team which takes an undefined amount of time, you'd have to ping folks like @Bubu to take a look

[2019-09-23 06:19] stefan-niedermann commented on #140
@Bubu i thought this would be done automatically when the build was successful. Shall we ping you every time we do a release?

[2019-09-23 07:49] Bubu commented on #140
AFAIK there just wasn't an index update since the app got built? But I justarrived back from vacation, so I'm not sure...

[2019-09-23 07:59] stefan-niedermann opened #142 "Reorder does not work when drag from top to bottom"

[2019-09-23 07:59] stefan-niedermann opened #143 "Share boards"
"Edit board" dialog should contain a user picker to share boards with users

[2019-09-23 08:00] stefan-niedermann opened #144 "Ask dismiss dialog only when changes"
When opening a card and press the back button, the dismiss dialog should only appear when there are changes

[2019-09-23 08:02] stefan-niedermann opened #145 "Rename columns"
When clicking on the three dots menu, there should be a menu point "Rename column" which provides a dialog similar to "Edit board" to rename the current column.

[2019-09-23 08:03] stefan-niedermann opened #146 "Set label color"
when creating a new label using "Add <label>", a dialog should display a picker to choose a color for the label.

[2019-09-23 08:08] stefan-niedermann commented on #137
Fixed on master (except some minor bugs regarding labels) - Thank you for reporting and as always: Please be patient until 0.0.9 gets released :)

[2019-09-23 08:08] #137 closed

[2019-09-23 08:10] stefan-niedermann commented on #103
Makes sense for online-only features like activities - everything that is offline capable should not throw it (and currently does not).

[2019-09-23 08:10] #103 closed

[2019-09-23 09:08] stefan-niedermann opened #147 "Make own board permissions usable"
Each board show which permissions the current users have got on it:

[code]

https://github.com/nextcloud/deck/blob/master/docs/API.md#200-success-2

- [x] Make the permissions of current user accessable on Board objects via `can` methods (@desperateCoder)
- [x] Hide actions like " Add column" if the current user is not allowed to (@stefan-niedermann)

[2019-09-23 09:15] stefan-niedermann opened #148 "Share boards with permissions"
It should be possible to share boards with users from within the app.

- [x] "Edit board" should display a user picker below the color chooser.
- [x] Each user in `acl`-list should be displayed below - Board objects need to gain access to this information (@desperateCoder)
- [x] Adding a new user should add an entry to the previously mentioned list
- [x] The layout of the list should be an avatar

[2019-09-23 10:24] #143 closed

[2019-09-23 13:27] stefan-niedermann opened #149 "Use LinearLayout instead of Flexbox"
Try to use `LinearLayout` in edit card detail fragment to align due date items instead of Flexbox for performance reasons. It might work to define `width`-properties for the icons and `layout_weight` for the date- and time picker.

[2019-09-24 16:36] #149 closed

[2019-09-24 17:52] #144 closed

[2019-09-25 05:52] stefan-niedermann commented on #136
Possiblr solution after some research: Use an `actionLayout` for the menuItems to define an own Layout which is capable of correct ellipsizing. This might be also useful for the boards menuItems which currently also are simply cut off at a space character.

[2019-09-25 19:06] desperateCoder opened #156 "due date not properly updated"
**Describe the bug**
On creating a card the due date isn't saved on server, so it disappears, but we have known that.
But then setting a date with time, the time somehow changes and can't be updated anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Change due date and save

**Expected behavior**
Due date is set

[2019-09-26 08:22] stefan-niedermann commented on #140
0.0.8 is available on F-Droid, so i guess this issue is solved :)

Thanks for @Bubu if there was more to do  except being patient and waiting for an index update <3

[2019-09-26 10:43] stefan-niedermann commented on #156
Hint for myself: Maybe `c.getTime()` should be passed here:

https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/java/it/niedermann/nextcloud/deck/ui/card/CardDetailsFragment.java#L407

[2019-09-26 10:46] stefan-niedermann commented on #156
Hint for myself: `activity.setDueDate(...)` should be called on `onTimeSet()` analog to `onDateSet()` too:

https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/java/it/niedermann/nextcloud/deck/ui/card/CardDetailsFragment.java#L417

@desperateCoder can you confirm, that the issue only is about the `time` and not about the `date`?

[2019-09-26 10:50] desperateCoder commented on #156
Yes. Setting the date works fine, even a changed time is persisted. The issue only occurres  when you don't change the date

[2019-09-26 11:28] stefan-niedermann opened #157 "Remove assigned users from card"
When a card is opened in user mode, clicking on an already assigned user should display a dialog to unassign this user from the card.

[2019-09-26 12:37] stefan-niedermann opened #158 "URLs for attachments are wrong"
...and result in an `403`-error.

When opening an attachment from the web view, the `cardId`-property in the URL is different from opening the same attachment from the android app.

Maybe the error is caused by using `localId` instead of `remoteId` of the card.

[2019-09-26 14:18] stefan-niedermann commented on #158
@desperateCoder please change `cardId`-property in `Attachments.java` to remote card id or add another property like `remoteCardId`.

[2019-09-26 14:20] #156 closed

[2019-09-26 14:25] desperateCoder commented on #158
You are in the detail view of the card. Any more questions?

[2019-09-26 15:11] #158 closed

[2019-09-26 15:11] stefan-niedermann commented on #158
![grafik](https://user-images.githubusercontent.com/4741199/65700911-bb0ae580-e080-11e9-831e-5493571d580a.png)

[2019-09-26 15:22] #147 closed

[2019-09-26 15:41] #130 closed

[2019-09-26 15:45] stefan-niedermann commented on #53
Maybe useful: https://mobikul.com/viewpager/

[2019-09-26 18:40] stefan-niedermann commented on #145
@desperateCoder

`SyncManager::updateStack` should return a `LiveData`. Currently using it seems to rename it locally and after a manual triggered sync it deletes the stack local and remote. (see `master`-branch)

[2019-09-26 18:51] #28 closed

[2019-09-26 19:25] stefan-niedermann commented on #45
`SyncManager.syncActivitiesForCard` throws `NullPointerException`:

[code]

[2019-09-26 23:41] Moini commented on #100
Just updated to 0.0.8 - works :) Thanks a lot , @stefan-niedermann !

[2019-09-27 06:18] stefan-niedermann commented on #100
You're welcome :)

[2019-09-27 15:30] stefan-niedermann commented on #53
Sooo, i finally got this working (`53-change-scroll-behavior-of-edit-mode`), but i am not happy with it.

Have a look at the video:

![ezgif-1-06bba6c8fbca](https://user-images.githubusercontent.com/4741199/65781744-79477100-e14c-11e9-8bf0-969aff9a91a5.gif)

Given you have a large description (or a small screen) and you scroll down, everything looks awesome. But as soon as you swipe to the next ta

[2019-09-27 17:19] #132 closed

[2019-09-27 18:52] stefan-niedermann opened #159 "Double-clicking card opens EditActivity twice"
Remove click listener after first click

[2019-09-27 20:24] #108 closed

[2019-09-27 21:45] nr458h opened #160 "Add notifications/alarm for cards with a due date"
It would be great to get notifications about cards wich have a due date for today/ or the upcoming day.
In this way I wouldn't need to go through all cards to see, which of them have a due date.

[2019-09-27 21:52] stefan-niedermann commented on #160
Sounds like a good feature. We will definitely consider it after completing the main features :)

But i have concerns, that it might not be reliable because of the battery optimizations of current ROMs.

[2019-09-27 22:16] desperateCoder commented on #142
should be fixed, UI-Bug still remains...

[2019-09-27 22:26] stefan-niedermann commented on #142
should be fixed, too :)

[2019-09-27 22:26] #142 closed

[2019-09-27 23:21] desperateCoder opened #161 "Cross-Stack DnD won't move card to proper order"
[reminder for me...]

[2019-09-27 23:25] desperateCoder commented on #45
@stefan-niedermann are we done with this? close?

[2019-09-27 23:30] #45 closed

[2019-09-27 23:59] #145 closed

[2019-09-28 00:25] desperateCoder opened #162 "create board with user and description"
constraint violation?! wtf

[2019-09-28 09:19] stefan-niedermann opened #164 "Rotating in EditActivity causes crash"
[code]

[2019-09-28 09:28] #164 closed

[2019-09-28 09:44] #157 closed

[2019-09-28 18:44] stefan-niedermann commented on #52
@desperateCoder see `DataBaseAdapter::validateSearchTerm` for comment hint what's missing and some ToDos for @desperateCoder. After this has been implemented, i can do the Frontend-Stuff

[2019-09-28 18:56] #136 closed

[2019-09-28 18:57] stefan-niedermann commented on #136
We are using ellipsize now for the accounts.
On modern android it will look like this

![grafik](https://user-images.githubusercontent.com/4741199/65821184-7e7eeb80-e232-11e9-8d4d-4a037041cc9b.png)

and on old Android versions (This is Android 4):

![grafik](https://user-images.githubusercontent.com/4741199/65821190-876fbd00-e232-11e9-9353-d7aff04493f6.png)

So basically we try to ellpisize the mi

[2019-09-28 19:59] stefan-niedermann opened #165 "SyncOnWifiOnly causes OfflineException on several actions"
**To Reproduce**
Steps to reproduce the behavior:
1. Set `Sync only on wifi` to true in the settings
2. Disable wifi
3. assign a label or a user to a card or unassign it
4. See error

**Expected behavior**
`OfflineException` should be catched and the changes (assigns/unassigns) should be made local and synced next time when internet (= wifi in this case) is available again.

**Stacktrace**
[code]

[2019-09-30 07:39] nr458h commented on #140
I'm afraid, this issue is not solved. We are again two releases behind

[2019-09-30 07:43] stefan-niedermann commented on #140
Well, F-Droid does not fetch every release. They update their index periodically only all few days. So if we are doing multiple releases within one day, F-Droid will update their index only some days later and publish the latest version.

@Bubu maybe you can tell us if this assumption is correct or if we need to open an issue in the `fdroiddata`-repo on gitlab?

[2019-09-30 08:08] Bubu commented on #140
This is correct, AFAIK.

[2019-09-30 14:06] nr458h commented on #140
ok, thanks for the explanation ;)

[2019-10-03 09:31] machinaeXlasse opened #167 "NullPointer Excecption when creating a new label"
**The bug**

I get this Error on every app startup:
[code]

Unfortunately I can not really tell what I did right before.

I removed several boards from both my accounts using the webapp.
Also I was Synchronizing the second account shortly before the error.

I got a glimpse that all cards for the account that is opened on startup are updated correctly but for the other (I once managed quickly enogh

[2019-10-03 09:37] desperateCoder commented on #167
Hi @machinaeXlasse, really glad to hear you like our work!

Thanks for your report! I actually have same issue, for @stefan-niedermann it seems to work. Now I know it isn't my data constellation, so I can hunt this bug.

Unfortunately it is in my code and not in Stefan's 😝 , so I'll have a look at it ASAP.

[2019-10-03 10:02] desperateCoder commented on #167
@machinaeXlasse can you tell me the version of the android deck app you are using? I looked it up, the line mentioned in the stacktrace is empty in the current master branch, I'd like to have a look at the version installed on your device, but @stefan-niedermann is releasing every 2 seconds :stuck_out_tongue: , so i have a hard time diving into it without knowing your exact version.
You can look i

[2019-10-03 11:10] desperateCoder commented on #167
ok, i dug into this, seems like a not properly synchronized Label is causing the sync to die... any chance, you had created a label while testing?

[2019-10-03 11:24] machinaeXlasse commented on #167
I actually did create a label. It had worked, but only showed up after I left the card edit mode. Because it didn't come up right away I created the same label twice.

My version is 0.0.8 from F-Droid

[2019-10-03 11:27] machinaeXlasse commented on #167
Just reproduced the error like this:
Created a label in card edit mode (add new)
Created the same label (add new)
Removed one of the two labels

[2019-10-03 11:41] desperateCoder commented on #167
Ok, just as i thought.  The extra step, creating a second identical label isn't even breaking it. the label itself is.
So, what happens is:
* You create a label and the sync triggered.
* First of all the board including the labels is synced
* Since the createLabel call is executed asynchronous, the sync doesn't wait for the response
* Then stacks and cards are synced, but they didn't change, matte

[2019-10-03 15:56] machinaeXlasse commented on #167
Take your time! Still looking forward :-D
I'm happy I can already use it in many ways.

[2019-10-05 12:06] desperateCoder opened #169 "Remote deleted labels are kept by app"
**Describe the bug**
If i delete some Labels on the server and sync, they are unassigned, but not deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Delete labels on the server
2. sync in app

**Expected behavior**
deleted labels are unassigned (check) and not proposed anymore (they still are.)

[2019-10-05 12:13] desperateCoder commented on #165
Implemented a offline-check. If there is nothing more to do (please test it), fell free to close.

[2019-10-06 17:23] nr458h opened #170 "Do not show already assigned users in search"
when I add a person to a task, it is already assigned, the app crashes with this error:

[code]

[2019-10-06 17:45] desperateCoder commented on #170
Hi @nr458h,
thanks for your report!
Why would you even want to do this, if the user is already assigned?! Just kidding :yum:, that's quite embarrassing, we'll fix that asap! Thanks again!

[2019-10-06 17:47] desperateCoder commented on #170
@stefan-niedermann the UI should maybe hide already assigned users, too. I thought, we already have that... strange.

[2019-10-06 18:13] nr458h commented on #170
I'm on 0.0.8.8

[2019-10-06 19:18] jancborchardt commented on #53
Is it possible to have the tabs sticky at the top, that is that they don’t scroll out of view?

[2019-10-06 19:29] stefan-niedermann commented on #53
We could move the title into the details for now (and later into the blue toolbar as you suggested on the conf 2019, but that's a later step). It would make the title only editable in the details tab, but it would stay readable in the blue toolbar.

This way the tabs would always stick on the top (like in the About-section). Is this, what you suggested?

[2019-10-06 21:15] jancborchardt commented on #53
That’s definitely a good step forward, yes. :) So the tabs would then also be blue, right?

[2019-10-07 17:30] #169 closed

[2019-10-07 17:42] desperateCoder commented on #170
One more thing: i think it's quite confusing to the user, if we hide a already assigned user.
For instance:
* I have a card with @stefan-niedermann assigned.
* I am not a very smart person or i just didn't see that.
* I try to add @stefan-niedermann as an assignee.
* Why the hell wouldn't he show up? I **know** this user exists!
* This app is crap!

Status quo: you see @stefan-niedermann, select h

[2019-10-07 17:45] desperateCoder commented on #162
Duplicate of   #170

[2019-10-07 17:45] #162 closed

[2019-10-07 18:36] desperateCoder commented on #52
@stefan-niedermann have a look at my commit linked above.
Please handle this stuff in UI as we agreed, because a search function should search and now there are proposal-functions for this purpose. if the user didn't enter anything yet, call propose, if he did, call search.

And don't forget to unsubscribe! :wink:

[2019-10-07 18:37] stefan-niedermann commented on #170
No, its confusing to still see the already assigned user and it wastes space for more suggestions.

already assigned users should not be displayed in the suggestion box.

[2019-10-07 19:35] desperateCoder commented on #170
This is something for a hacking session then. I looked it up, in the place, where the search is called, there is no card(-ID), so that's your construction site. If i change it, i'll break it. See the label (why haven't we had this label yet?)

[2019-10-07 22:07] nr458h commented on #170
I agree to @stefan-niedermann for example Outlook handels it this way and it is clear to the user why an assigned user don't show up again.
But in-between I would be nice if I pick the user again the up doesn't crash.

[2019-10-08 14:57] simonsan commented on #170
If the user is already assigned I would not show him in suggestions, but if the exact wording is given in search I would show the username and show a symbol (checkmark/checkboxes?) next to him that the person is already assigned. I would even propose to unassign a user by tapping the corresponding checkbox next to it or so.

[2019-10-10 16:05] kai11 opened #173 "Description not saved"
**Describe the bug**
Descruption of new card is not saved

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any board with columns
2. Click on + floating button.
3. Fill card and description
4. Save
5. Card title is saved, description is not

**Expected behavior**
Description must be saved - like it is for exsiting cards.

**Smartphone (please complete the following information):**
 - De

[2019-10-10 16:08] kai11 opened #174 "Rename column dialog title says Add column"
**Describe the bug**
in title.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any board wuth columns
2. Click on 3 dots
3. Select Rename column
4. See dialog with title Add column

**Expected behavior**
Must be Rebame column

**Smartphone (please complete the following information):**
 - Device: Moto Z Play
 - Android-Version: 8
 - Android Nextcloud Deck: 0.0.10

[2019-10-10 16:19] kai11 opened #175 "Menu to move cards between columns"
**Is your feature request related to a problem? Please describe.**
When I need to move card to another column, I cannot move it there fast.
I need to wait for column scrolling and only then drop card to its place in new column.
This is very tiresome - especially with 4+ columns or columns with long names.

**Describe the solution you'd like**
1. Add column selector to card menu (Assign card to me,

[2019-10-10 16:27] kai11 commented on #173
Randomly description not saved for old cards as well sometimes - but no exception and I was not able reliably reproduce this problem

[2019-10-11 16:35] desperateCoder commented on #173
Hi @kai11,
thanks for your report! This is a known issue at the server side: https://github.com/nextcloud/deck/issues/1138

It is already fixed, but not released yet afaik. As soon you update the server app with a version including the fix, it should start to work.

Regarding to the updates: this schouldn't happen, so please keep an eye on this. If you figure out what exact constellation leads to

[2019-10-12 14:52] nr458h commented on #140
As I m waiting patient for the dark theme - version hit the f-droid store. I just want to inform you, that version 0.0.10 is still not available. Sorry for the annoying pinning of this topic ☺️

[2019-10-12 15:25] stefan-niedermann commented on #140
Seems like F-Droid data already fetched version 10: https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/it.niedermann.nextcloud.deck.yml

[code]

The tag has been created 15 days ago, this seems indeed be way too long for an index update.

@Bubu maybe you could have another look? Let me know how i can help you.

[2019-10-12 16:15] stefan-niedermann commented on #140
https://gitlab.com/fdroid/fdroiddata/issues/1753#note_229643978

[2019-10-12 16:37] stefan-niedermann commented on #165
Given `syncOnlyOnWifi` ist `true` and wifi is disabled.
When you unassign a user from a card:

[code]

[2019-10-12 18:44] IzzySoft commented on #140
Tag was detected and build block added, but [build fails](https://f-droid.org/wiki/page/it.niedermann.nextcloud.deck/lastbuild_10). I'm neither Android dev nor do I have build experience, so that's all I can do: pointing to that log…

[2019-10-12 18:50] stefan-niedermann commented on #140
That's the info that was missing! Thank you. I guess we have to add

[code]

to the build.gradle-file. I remember that i had to do that with the notes app, too but i am wonderung how any previous version could land in F-Droid :D

I am currently not on PC, maybe @desperateCoder can fix this quickly or i will try to fix it tomorrow.

Thanks @IzzySoft !

[2019-10-12 22:24] #140 closed

[2019-10-12 22:26] stefan-niedermann commented on #140
I think the next tagged version will not abort the build now anymore when translations are missing.

I will keep an eye on the F-Droid build an reopen in case i missed something.

[2019-10-12 22:48] IzzySoft commented on #140
Glad I could help! Always a good idea to [take a look at the build logs](https://f-droid.org/wiki/index.php?title=Special:RecentChanges&hidebots=0&days=30&limit=500) :wink: Just bookmark that link :rofl:

[2019-10-13 12:55] stefan-niedermann commented on #52
@desperateCoder please implement `SyncManager::getLabelSuggestions` and `SyncManager::getUserSuggestions`. The UI should work out of the box as soon as this has been implemented.

[2019-10-13 12:56] stefan-niedermann commented on #52
Sidenote: I got some inspiration for this topic here: https://stackoverflow.com/a/5783983

[2019-10-13 13:30] stefan-niedermann commented on #174
This has already been fixed on master in bad7522 :) Thanks for reporting.

[2019-10-13 13:30] #174 closed

[2019-10-13 14:27] stefan-niedermann commented on #53
Okay, i implemented what we have discussed about previously:

![ezgif-5-a791a24eb0f6](https://user-images.githubusercontent.com/4741199/66717119-dfcbc080-edd5-11e9-845c-aa553cfcd071.gif)

[2019-10-13 14:27] #53 closed

[2019-10-13 14:46] desperateCoder opened #177 "Create dialog is brain-dead"
**Describe the bug**
With the latest master creating a card isn't possible. The dialog opens, but one does not simply edit the fields displayed in it. The input fields don't react to anything.

**To Reproduce**
Steps to reproduce the behavior:
1. \+ via FAB
2. Try editing something.

[2019-10-13 14:51] desperateCoder commented on #52
Should work now, even tested it :stuck_out_tongue_closed_eyes: . But you should be aware of the fact that you wont' get any results, if there aren't any users / labels assigned on this board yet, since there is no data my query can be based on.

[2019-10-13 14:56] stefan-niedermann commented on #52
Proposals should always be `topX` (if not enough data, just fill the list up with any other labels/users - if possible). Only valid reason for having less results than `topX` is if there are less than `topX` labels/users available at all.

[2019-10-13 20:21] #177 closed

[2019-10-14 13:38] jancborchardt commented on #53
Seems very good! :) Nice one @stefan-niedermann

[2019-10-14 21:56] nr458h commented on #108
thanks for the implementation of the dark mode!

As you closed the thread, may I ask if you would like to add also an AMOLED-true black theme? Would be highly appreciated.

Thanks anyway

[2019-10-15 05:55] stefan-niedermann commented on #108
It's currently not planned because we have much more important features to imement and we want to focus first on making this app reliable and stable.

We can have a look afterwards but i cannot promise anything at this point of time, sorry.

[2019-10-15 16:08] Nils160988 commented on #136
Thanks for fixing, works as expected now!

[2019-10-15 16:49] stefan-niedermann commented on #136
You're welcome, thanks for reporting :)

[2019-10-15 19:31] stefan-niedermann commented on #28
The current implementation will not allow image embedding, but i am pretty sure, we will replace the imementation since the  `RxMarkdow `-library is not maintained anymore.

It's more like a quickwin to render some markdown :)

[2019-10-16 05:40] stefan-niedermann commented on #165
When opening About page with disabled Wi-Fi and `syncOnlyOnWifi: true`:

[code]

[2019-10-16 05:42] stefan-niedermann commented on #165
But i think this might be a valid case to throw an OfflineException. This should be handeled on the UI side maybe.

[2019-10-16 06:23] desperateCoder commented on #165
Same for fetching the activities, right? Currently I don't sync them when offline, but we should, right?

[2019-10-16 09:32] stefan-niedermann opened #180 "Make user and label assignments cancelable"
When one edits a card and assigns/unassigns a label or user, then the current behavior does execute a network request directly, without saving the card.

Pressing "cancel" does therefore not really "cancel" the edition, because the (un)assignments are already performed and synchronized.

@desperateCoder can i simply fill up the `List<Label/User>` of the card instead just as we are currently doing

[2019-10-16 10:21] stefan-niedermann opened #181 "Enhance modified detection for pressing back button in edit mode"
# Current behavior

In `EditActivity` is a boolean flag `modified` which is set to `true` whenever a user makes changes.

This has two drawbacks:

1. It is set unnecessary every time a change is made
2. If one changes e.g. the `title` from `A` to `B` and back to `A`, the flag is currently `true`, even if there are no changes

# Proposal

- [ ] Implement copy constructor in all needed places (@desp

[2019-10-16 10:27] stefan-niedermann opened #182 ""Delete column"-menu disappears in some cases"
# Steps to reproduce

1. Open a board where one has the `EditBoard`-permission
2. "Delete column" is available in the overflow menu (✔️)
3. Switch to a board where one has not the `EditBoard`-permission
4. "Delete column" is not available (✔️)
5. Switch to first board again
6. "Delete column" should be available in the overflow menu, but it is not (❌)

[2019-10-16 10:40] desperateCoder commented on #181
@stefan-niedermann Short answer is no. The hash code can collide, even if the objects differ. That's not how hash code works. What you need is a deep copy and equals.

[2019-10-16 10:47] desperateCoder commented on #180
@stefan-niedermann not out of the box, but we can make this work on Saturday of course.

[2019-10-16 11:58] stefan-niedermann commented on #181
So i guess Android Studio easily allows one to generate a `@Overide clone()`-method? If we do this on all our models, at least in `FullCard` and all it's children, this should be enough, shouldn't it?

[2019-10-16 12:27] stefan-niedermann commented on #52
Note: When pressing `Enter` on the virtual keyboard after tabbing into the Labels-field the search is currently triggered which results in a

[code]

[2019-10-16 13:26] desperateCoder commented on #52
Uhm... What exactly can I do about it? Why is a single line input control even accepting a line feed?! I'd see this as a concern of the UI...

[2019-10-16 13:48] desperateCoder commented on #181
I'd prefer a copy constructor, since clone has some pitfalls, afaik intellij would help you here, too. But yeah, that should make it work.

But we have to be aware, that the equals method won't do what we need out of the box, when it comes to comparing lists. But i'd say we'll handle that.

[2019-10-16 14:04] stefan-niedermann commented on #52
This was a note for me, it is fault of the UI.

[2019-10-16 15:42] stefan-niedermann commented on #165
Activities are fine right now - It doesn't blow up the application and we have nice text there which explains that activities are only loaded when online.

That's enough for now. I fixed the about activity in e5de3bfe71de50f19fd800d4df7e676c27112e54.

[2019-10-16 15:42] #165 closed

[2019-10-16 17:17] #182 closed

[2019-10-16 18:49] stefan-niedermann commented on #148
- `FullBoard::getOwner()` returns a `List<User>` - i would have expected only a single `User`, is this on purpose?
- `AccessControl::getUser()` returns `null`. Is it possible to populate this object?

[2019-10-17 10:53] stefan-niedermann commented on #173
So basically the issue is already resolved.

@kai11 please test this as soon as the next server app version has been released an reopen this issue in case it still occurs.

Also:

Thanks for reporting :)

[2019-10-17 10:53] #173 closed

[2019-10-17 12:36] stefan-niedermann opened #185 "Use butterknife resource binding where possible"
Make advantage of e.g. `@BindBoolean()` instead of every time requesting with `resources.getBoolen()` for cleaner code.

[2019-10-17 12:37] stefan-niedermann opened #186 "Use recyclerviews where possible"
Currently in many places lists are created using empty `LinearLayout`s instead of proper lists.

One should use `RecyclerView`s instead.

[2019-10-17 12:39] stefan-niedermann opened #187 "Make use of tools attributes"
Make use of `tools:`-attribute to proper display layout files in the preview of Android Studio.

https://developer.android.com/studio/write/tool-attributes

[2019-10-17 13:29] stefan-niedermann opened #188 "Do not recreate menu when switching between accounts and boards"
# Current behavior

When one clicks on the menu header in the sidenav, the menu toggles between boards-menu and accounts-menu.

Each time one clicks, the menu is cleared and populated from scratch.

# Problems

Besides this is very bad for performance, building the boards-menu froms cratch leads to a call of `displayStacksForCurrentBoard()` which itself triggers basically a complete redraw of the

[2019-10-18 10:08] stefan-niedermann opened #189 ""Unassign card from me" does not work when offline"
When one is offline (or SyncOnlyOnWifi with disabled wifi), directly **unassigning** a card from myself does not work (from the three-dots-menu in the board-view), even after reenabling the internet connection.

Hint: Directly **assigning** the card to myself when offline is working well.

[2019-10-19 10:25] #186 closed

[2019-10-19 12:27] #185 closed

[2019-10-19 12:37] #187 closed

[2019-10-19 15:45] juliushaertl opened #191 "Title field should have focus when creating a new card"
Since the title is the most important part of a new card, the input field should be focused automatically.

[2019-10-19 15:47] #52 closed

[2019-10-19 15:50] juliushaertl opened #192 "Show more characters for the label text"
I know this was discussed at some point but after using the Android app for a while I think the two character limited labels on cards do not give enough context. Especially when using multiple labels with the same color, e.g. for representing state or categorization the text is kind of crucial to get an overview. I would propose to go back to the original version and show the full label text. Mayb

[2019-10-19 16:00] stefan-niedermann commented on #191
![grafik](https://user-images.githubusercontent.com/4741199/67147962-3172c000-f29a-11e9-8673-47a1585c6da3.png)

[2019-10-19 16:00] #191 closed

[2019-10-19 16:25] juliushaertl commented on #191
Wow that was fast :heart:

[2019-10-19 16:35] stefan-niedermann commented on #167
Sorry, my bad!!

[2019-10-19 16:36] #170 closed

[2019-10-19 16:40] stefan-niedermann opened #193 "AccessControl::getUser() returns null"
... instead of populated `User`-object.

[2019-10-19 18:27] #180 closed

[2019-10-19 18:52] stefan-niedermann commented on #148
@desperateCoder i left you some `ToDo`s in `UserDao`...

[2019-10-19 19:11] #181 closed

[2019-10-19 20:00] #193 closed

[2019-10-19 20:25] #189 closed

[2019-10-19 22:33] stefan-niedermann commented on #107
Not reproducable on current master.

[2019-10-19 22:33] #107 closed

[2019-10-19 23:39] #148 closed

[2019-10-20 10:01] loicvh opened #195 "Can't create new card"
**Bug description**
When creating a new card, it is not possible to edit any field. If I let it blank, the card is created but yields to an error if I want to edit it.

Note that if I create the card from the web UI, the modification via nextcloud-deck works as a charm.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a card from android nextcloud-deck
2. Try to modify any fields, they

[2019-10-20 10:10] desperateCoder commented on #195
hi @loicvh thanks for your report! we had already found this issue, too, it is already fixed in version 0.0.12, i think the update is already available on F-Droid.

Yesterday we released 0.0.13 with a whole bunch of fixes and features, i guess it will be available these days on F-Droid. So stay tuned!

Feel free to close this issue, if the update fixes it for you!

[2019-10-20 10:24] loicvh commented on #195
@desperateCoder Indeed, I just updated via F-droid and everything works. Thank you for the (incredibly fast) answer.

[2019-10-20 10:24] #195 closed

[2019-10-20 10:58] desperateCoder commented on #195
You're welcome! Thank you for using our app, even if it's broken sometimes and thanks for reporting any issue, that helps us a lot!

[2019-10-20 12:47] #66 closed

[2019-10-21 10:25] stefan-niedermann opened #196 "Offline ACL changes are not synced when online again"

[2019-10-21 10:30] stefan-niedermann opened #197 "Assing / Unassign / Assign does not work when offline"
1. Go offline
2. Assign directly to you
3. Unassign directly
4. Assign directly to you -> Does not happen

[2019-10-23 08:39] stefan-niedermann commented on #140
Yes, we are aware that 0.0.13 is not a:

[2019-10-26 14:10] #197 closed

[2019-10-26 14:31] desperateCoder opened #199 "Creating cards: Fastly clicking on the checkmark tries to create card twice"
**Describe the bug**
When fastly double tapping the checkmark to save a freshly created card, the app dies due to a constraint-violation. the card-creation is triggered twice.

**To Reproduce**
Steps to reproduce the behavior:
1. tap the '+' button to add a card
2. fill the title
3. fastly double tap the save-checkmark
4. See error -> app crash

**Expected behavior**
the UI should be locked on the

[2019-10-26 14:32] desperateCoder commented on #159
still occurs!

[2019-10-26 16:44] #161 closed

[2019-10-26 17:16] desperateCoder opened #200 "Impossible to create a new label"
**Describe the bug**
I just wanted to fix https://github.com/stefan-niedermann/nextcloud-deck/issues/167 but found a new bug.

Currently it's impossible to create a new label. You would try to enter the new label title, the filtering is triggered, but the add option won't show up.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a card (edit, create, doesn't matter)
2. Enter a non existi

[2019-10-26 17:16] desperateCoder commented on #167
Unfortunately blocked by https://github.com/stefan-niedermann/nextcloud-deck/issues/200

[2019-10-26 17:46] #196 closed

[2019-10-27 06:57] stefan-niedermann commented on #159
I will look for each `new Intent` and set the flags `intent.setFlags(Intent.FLAG_ACTIVITY_CLEAR_TOP | Intent.FLAG_ACTIVITY_SINGLE_TOP | Intent.FLAG_ACTIVITY_NEW_TASK);`.

This should solve the problems.

[2019-10-30 23:14] nickvergessen opened #201 "Due date is black in dark mode"
**Describe the bug**
Have a card with a due date.
Enable dark mode.
Try to read the due date.

![IMG_20191031_094709](https://user-images.githubusercontent.com/4741199/67932087-8e884300-fbc3-11e9-8d30-c2c5cc6516ec.jpg)

[2019-10-31 06:46] stefan-niedermann commented on #201
Confirmed, this happens if the due date is in the future and not marked yellow nor red.

[2019-11-04 15:21] desperateCoder commented on #200
All right, i'm dumb af. Didn't have permissions... nothing to do here.

[2019-11-04 15:21] #200 closed

[2019-11-04 15:22] desperateCoder commented on #167
My bad, #200 is a false positive. This one is going to be fixed next.

[2019-11-04 16:01] desperateCoder commented on #167
Well... that's weird. The problem seems to be solved by an other change or something, it doesn't happen anymore...

@stefan-niedermann Feel free to release soon and tell @machinaeXlasse when you did so.

@machinaeXlasse when you got the new version, please test if the problem still persists for you. Dor me, at the current master, it does not. If you are happy with the result, feel free to close th

[2019-11-04 16:03] desperateCoder commented on #167
Oh, i should also mention: as i tested it, i also tested the offline behaviour and found some issues, that are related to card- and label-handling. I fixed those on the fly. I hope it is quite solid now.

[2019-11-04 16:08] desperateCoder opened #202 "Creating a label: Display issue"
**Describe the bug**
When creating a new label in the card-edit-activity, the card is correctly created and stuff, but the label is shown below with the "Add " -prefix.

after saving and re-entering the edit mode the label is displayed correctly, also on the web-UI, so this is a display issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to edit mode of a card
2. enter a non-existing l

[2019-11-05 19:33] #159 closed

[2019-11-05 19:37] #199 closed

[2019-11-05 19:54] #201 closed

[2019-11-05 19:55] stefan-niedermann commented on #167
`0.0.14` has been released. @machinaeXlasse please wait for the F-Droid-release (or build the master branch yourself). As @desperateCoder already mentioned: Just reopen this issue, if the problem still occurs.

Thank you.

[2019-11-05 20:38] cddf opened #204 "Moving cards to another column sets the due time to 0:00"
**Describe the bug**
When moving a card with due date to another column the time is changed to 0:00

**To Reproduce**
Steps to reproduce the behavior:
1. Create or choose a card with due date and time > 0
2. Move it to another column
3. See the time is now 0:00

**Expected behavior**
The time should not change.

**Smartphone:**
 - Device: LG G5
 - Android-Version: 8

**App version**
0.0.12 (F-Droi

[2019-11-05 21:12] desperateCoder commented on #204
Hi @cddf!
Thanks for your report!
I guess this is still a server-issue. It is already fixed afaik, but not released, right @juliushaertl?

But i'll have a look at it anyways!

[2019-11-06 08:56] cddf commented on #204
By the way, thanks for the nice and fast improving app!

[2019-11-06 15:14] desperateCoder commented on #167
Dang... just happened again.

[2019-11-06 15:34] desperateCoder commented on #204
@juliushaertl @cddf just dug into this, i think it's kind of our fault. I am sending a wrong timestamp as it seems, yet no idea why. Sorry for falsely accusing the server! :smile:

[2019-11-06 15:38] desperateCoder commented on #204
You're welcome! We are proud that so many people are interested in our work, so stay tuned and tell us anytime, when something is wrong!

[2019-11-06 15:49] desperateCoder opened #205 "Due Date: Timestamp handling, Timezones"
**Describe the bug**
The handling of the timestamps of the due date are completely chaotic.
There seems to be an issue regarding timezones / offsets.

* Setting a time and saving seems to work.
* changing the card (not the due date) results in the due-time + 1 hour
* Also see #204

[2019-11-06 16:10] desperateCoder commented on #205
Should use a TypeAdapter: https://stackoverflow.com/questions/26044881/java-date-to-utc-using-gson

[2019-11-09 13:32] kai11 opened #207 "Comments 💬"
**!! Branch: comments !!**

**Is your feature request related to a problem? Please describe.**
Right now Activity tab on Edit card screen have readonly activities only.
On Deck web app I can add comments there.

**Describe the solution you'd like**
Ability to add comments to Card Activities.

**Describe alternatives you've considered**
ATM I add comments via web interface, it's cumbersome.

[2019-11-09 19:19] nickvergessen opened #208 "Handle push notifications"
Hi there,

this is just a general issue to discuss whether this all makes sense.

For the talk mobile apps we added the following behaviour:
1. The register for push notifications just like the normal file apps
2. When a deck app is registered for notifications for this user, the push notifications for deck only go to the deck app. At the same time the deck app gets no other notifications.

This w

[2019-11-09 22:29] stefan-niedermann commented on #208
The deck app requires the files app to be installed because it only allows login via Single-Sign-On.

[2019-11-09 22:31] stefan-niedermann commented on #208
A solution i thought about was: The deck app doesn't handle notifications at all, but registers a URI handler. The files app could check whether or not a handler is registered and redirects the notification-click-action to the deck app....?

[2019-11-09 22:40] violoncelloCH commented on #208
does the deck app even really need *push* notifications? I mean afaik it's just reminders which are time based... a calender app doesn't need push either for it's notifications generated on data which is synchronized and stored locally...

[2019-11-09 23:18] desperateCoder commented on #208
@violoncelloCH has a good point there... What else could be a use case for push notifications?

[2019-11-10 05:32] putt1ck commented on #208
Comments. It's the single most important aspect of a connected Kanban system. Comments provide clarity and iteration to the original card; when someone posts a comment it is often either a question seeking better understanding or an answer providing it. If you're using Deck as a collaborative project management system, then seeing that a comment has been made is quite important.

[2019-11-11 08:08] juliushaertl commented on #208
Use cases from my POV:
- Mentioned in a comment
- Card assigned
- Card reached due date

[2019-11-11 19:43] Ricomanda opened #209 "No mark of the selected column"
There is no mark (the white line under the column name) when pushing a card from one column to another.
Swiping through the columns doesn't change the position of the line so I can't see where I drop the card.

[2019-11-11 19:45] Ricomanda opened #210 "Wrong reminder time"
Entering a reminder, e.g. 16:15 leads to a 05:15 reminder.

[2019-11-11 19:48] desperateCoder commented on #209
Holy cow... Never recognized that... You're right!

[2019-11-11 19:50] Ricomanda commented on #210
**Describe the bug**
Entering a reminder, e.g. 16:15 leads to a 05:15 reminder.

**To Reproduce**
Steps to reproduce the behavior:

- create a new card
- enter a reminder time, e.g. 16:15
- close the card
- reopen it
- now the time is set to 05:15

**Expected behavior**
The time should not change.

**Hard- and Software**

- Deck v0.0.14 (v0.6.6 server version)
- Lineage OS 16.0
- BQ Aquaris X
- Ne

[2019-11-11 19:50] desperateCoder commented on #210
Yep, Time-Handling is already on the menu: #205

[2019-11-11 19:52] Ricomanda commented on #209
**Describe the bug**
Moving a card does not change the column marker (white line under column name).

**To Reproduce**
Steps to reproduce the behavior:

- hold and push a card to a screen corner
- the column is switched

**Expected behavior**
The mark should hit the right column.

**Hard- and Software**

- Deck v0.0.14 (v0.6.6 server version)
- Lineage OS 16.0
- BQ Aquaris X
- NextCloudPi 16.0.5
-

[2019-11-11 20:00] Ricomanda opened #211 "Attachments 📎"
There should be a FAB to load up files in the attachments tab of a card.

[2019-11-12 17:22] stalker314314 opened #212 "Crash opening not-yet-synced task"
0.0.14 version from F-Droid on Android 8.

**To Reproduce**
Steps to reproduce the behavior:
1. Create task (just title is enough)
2. While there is still "🔄" icon, tap again to open task
3. App should crash

**Expected behavior**
Task should be opened.

**Stacktrace**
[code]

[2019-11-16 09:56] #209 closed

[2019-11-16 09:57] stefan-niedermann commented on #209
Thanks for the report! This issue has been fixed, please wait for the next release :)

[2019-11-23 12:42] jakobroehrl opened #215 "Push Updates"
It would be great to see changes from other users without reloading.
On the Browser App we need this get it working: https://github.com/nextcloud/deck/issues/1186

**Describe alternatives you've considered**
Reload the data manually

[2019-11-23 15:31] stefan-niedermann commented on #215
This is a problem due keeping a service alive. Especially without Play Services (and we aim to support devices without Play Services and have no plans of creating another flavor for Play Services users).

We'll see what we can dk, but i think Pull to Refresh will be the best thing we can offer under this circumstates.

[2019-11-23 17:33] nr458h commented on #215
probably handling it like the news app could be a way: there you can set the option to update when you launch the app.

[2019-11-23 17:36] stefan-niedermann commented on #215
This should already be the case, if not i'm definitely for this implementation :) can you double checkt if this is the case yet, please?

[2019-11-23 18:30] desperateCoder commented on #215
I think it's synchronizing, but not showing the loading indicator

[2019-11-24 12:20] jakobroehrl commented on #215
@stefan-niedermann
I understand you. But I think an auto update is really important for a collaborative app like Deck.

[2019-11-25 17:53] goldstar611 commented on #212
I have this same issue. Forcing a manual sync also crashes the app. Thanks for making this app!

[2019-11-25 18:09] desperateCoder commented on #212
The cause is quite obvious to us (thanks for the stacktrace!) and it's not (that) hard to fix. We already discussed it and the only reason it isn't fixed yet is lack of time, since this is a free-time project. Sorry for us taking so long to fix it, but no worries, I think this one is gone with the next release.

@goldstar611 you're very welcome, thanks for using our app!

[2019-11-29 06:52] jakobroehrl opened #217 "widget for the homscreen"
Some homescreen widgets maybe would be helpful:
 - my assigned cards
 - due cards
 - all cards from project X

[2019-11-29 07:15] stefan-niedermann commented on #217
Yes. I suggest to split this issue down into one separate issue per widget.

Maybe you can scribble down how you imagine each widget design wise? Like a list? Which information would you consider to be important?

Please describe the widgets as detailled as possible, for example: What does "due dates" display? Cards where due dates have been exceeted or also cards where the due date is very close?

[2019-11-30 06:00] jancborchardt commented on #215
Couldn't it simply use auto-update when the device has Play Services, and when it doesn't there's still pull to refresh? :) Basically progressive enhancement based on what the device supports.

(An option for this seems unnecessary, especially on launch it would be confusing.)

[2019-12-06 06:38] jakobroehrl commented on #217
Thought about it and tested a lot of apps. I would start with one configurable widget.
List view with Add Card possibility.
The list view is filterable:
 - All boards, special board
 - All tags, special tags
 - All, assigned to me

Some screenshots:
![grafik](https://user-images.githubusercontent.com/24530680/70301669-4fb95e80-17fb-11ea-9aeb-ca5721b12063.png)
![grafik](https://user-images.githubus

[2019-12-06 07:34] stefan-niedermann commented on #217
Nice research, thank you.

So i see two widgets:

# Cards

The configuration screen should allow (multiple) choices for

- account
- boards
- columns
- labels
- assignees

Then one could filter for the issues one wants to see.

# Overdue

Displays all cards with overdue sorted by overdue (first the ones which are already overdue, then the ones which will overdue in near future)

[2019-12-06 17:06] desperateCoder commented on #207
@stefan-niedermann please implement the UI and the `SyncManager` stub, then I'll fill the `SyncManager` part

[2019-12-06 17:11] desperateCoder commented on #212
@stefan-niedermann as discussed: only fetch the Activities for synced cards (react on `LiveData` push after sync is done)

[2019-12-06 18:29] #210 closed

[2019-12-06 18:31] #212 closed

[2019-12-06 18:31] stefan-niedermann commented on #212
@stalker314314 this issue has been fixed. Please retest with the `master`-branch or wait for the next released version.

Thank you for reporting it :)

[2019-12-06 19:11] #202 closed

[2019-12-06 19:42] stefan-niedermann commented on #207
@desperateCoder UI part is done, just toggle `CardActivityFragment::101` and implement `SyncManager::addCommentToCard()`

[2019-12-06 20:11] #204 closed

[2019-12-06 20:11] #205 closed

[2019-12-11 10:18] stefan-niedermann opened #224 "Make reusable component for empty content views"
Currently each empty content view is more or less hard coded, but still looking identical to each other.

To keep the same look and feel but have less code at the end of the day, a reusable component (similar to the color picker) should be created and used.

[2019-12-12 11:28] ImaCrea commented on #207
Just tested it today, and excited this issue is a work in progress. Most of the work on our side is happening in the comments. Thank you very much for porting this app, soon we'll be able to totaly jump off Trello! <3

[2019-12-12 18:15] #224 closed

[2019-12-13 13:50] qoheniac commented on #215
Could Tutanota's [solution](https://github.com/tutao/tutanota/commit/449c36eac5755571f4c5d28a74dfdc13c3cdc6df) be an option?

[2019-12-13 19:49] stefan-niedermann opened #230 "Background synchronization"
Because it's always nice to have an up2date level - e. g. one does not have to wait for sync completion on startup or when somebody has no network connection, to get the latest infos.

Working branch: `background-synchronization`.

- [x] Enable basic background worker job
- [x] Make setting to en/disable the background sync (Off, 15 Minutes, 1 Hour, 1 Day) @stefan-niedermann
- [x] Implement `SyncM

[2019-12-14 09:30] #175 closed

[2019-12-14 17:06] desperateCoder commented on #167
@machinaeXlasse since this is a race condition, it's hard for me to tell if i'm just lucky or really fixed the issue. Please test it (current master, or just wait for the next release) and feel free to reopen this issue, if the problem still persists. I did a few tests and anything went well for me. Technically it should work well for all, but the machine is always right, so please tell me, if i'm

[2019-12-14 17:06] #167 closed

[2019-12-15 22:27] bpcurse opened #231 "User avatars not updated on modification"
If a user's avatar is changed in nextcloud the deck app keeps displaying the old one.

[2019-12-16 06:39] stefan-niedermann commented on #231
Yes, only solutuon for now:

1. Perform a full synchronisation
2. Delete app data
3. Configure the accounts again

We could invalidate the `Glide`-cache after soms time, e.g. one week...? I have not found a perfrct solution yet, ideas are welcome.

[2019-12-16 18:23] desperateCoder commented on #207
For further implementation: The web-UI makes the following request:
* POST
* https://my.fancy.nextcloud-domain.com/remote.php/dav/comments/deckCard/338/
* Content-Type: application/json
* response: 201
* Body:
[code]

[2019-12-17 10:46] bpcurse commented on #231
Nextcloud Android Files App handles this quite well. Not only avatar changes, even login screen background modifications.
Could it possibly be of any help to look into the code over there?
Sorry if this is too shortsighted as I'm not into java and the server/deck APIs.

[2019-12-17 11:08] stefan-niedermann commented on #231
@tobiasKaminsky do you use `Glide` too for fetching the avatars in the files app? How do you handle caching?

[2019-12-17 11:13] mario commented on #231
I use Coil. Glide is not well suited to etags based caching.

[2019-12-17 11:30] tobiasKaminsky commented on #231
I created a test branch for switching to glide.
There I used my own ObjectKey, which is a prefix + etag.
Thus I can easily use glides validation mechanism.

[2019-12-17 11:32] tobiasKaminsky commented on #231
At a quick glance I did not see how coil uses etags?

[2019-12-17 11:59] stefan-niedermann commented on #231
Looks good. Does the `etag` support work out of the box or do i have to implement this myself? In other words: Will `coil` itself recognize that there is a new avatar automaticall?

[2019-12-17 12:00] stefan-niedermann commented on #231
Sorry @tobiasKaminsky i read your comments too late. Can you post a link to your branch here so i can have a look?

[2019-12-17 12:20] mario commented on #231
@tobiasKaminsky simply through okhttp caching, IMHO much simpler than any custom stuff that needs to be done with Glide.

[2019-12-22 15:32] randy-jr-olive opened #236 "Empty Add column view refers to a "three dots menu" that is not visible"
When opening the app and creating a new board from an empty account the "No columns yet" empty view refers to "using the three dots menu". There is no 3 three dots menu at this stage in the view, just the + icon for the boards and the fab + button in the bottom right corner.

**To Reproduce**
Steps to reproduce the behavior:
1. open the app and sign into a blank account
2. create a new board
3. on

[2019-12-22 15:35] randy-jr-olive commented on #236
I noticed this as I was looking through the code for how the color picker works (that's an issue I'd like to work on). I'm new to Android Dev (not new to software dev, just android).

I would like to fix this text string issue, it seems like a simple fix, just change out the strings.xml reference to correctly refer to the + button, instead of the three dots menu.

However, there is a design questi

[2019-12-22 15:37] desperateCoder commented on #236
Hi @randy-jr-olive!
Woah, that's quite weird... One thing you could try to fix this for you right now: log in at the web UI and just open the deck web-app. If that fixes your issue, I guess it is related to an other bug we are facing currently (link will follow up in a minute...)

[2019-12-22 15:42] desperateCoder commented on #236
Here you go: https://github.com/nextcloud/deck/issues/1262

Regarding to the UI, I'd suggest talking to @stefan-niedermann, since he wrote the most of the UI, I'm just the server-dude. What's your opinion @stefan-niedermann? I don't care at all :smile:

[2019-12-22 15:52] desperateCoder commented on #236
@randy-jr-olive: in fact there _should_ be a three-dot-menu. See our screenshots, the red circle in your screenshot is the place, it should actually be... So the string is technically correct, but where the heck is the menu button?  As mentioned, I'd try to open the Web-Deck-App once, this may fix enough for you to be able to work on the color chooser.

But we should keep this one in mind, since t

[2019-12-22 16:31] randy-jr-olive commented on #236
@desperateCoder I've tried opening the web deck app, then also logging into and out of the web UI and re-opened the web deck app. The three dot menu is still missing in this one case. However, it does display correctly once there is a column in the board. It only seems to be missing when there is no columns yet.

[2019-12-22 16:41] stefan-niedermann commented on #236
I will have a look asap, currently busy, sry

[2019-12-22 16:43] stefan-niedermann commented on #236
One question: could you please check whether or not this also happened with version 0.0.14? this might help us to fix the problem easier. i'm pretty sure, this used to work in the past

[2019-12-22 16:50] randy-jr-olive commented on #236
I can do that, is there an easy way to roll this back in android studio to that version?

[2019-12-22 16:52] desperateCoder commented on #236
@randy-jr-olive lower right corner, there should be the git button where now should be displayed "master" (i guess). just look for a tag with the version label

[2019-12-22 17:00] stefan-niedermann commented on #236
Or on F-Droif simply deinstall, scroll down to "versions" and install 0.0.14

[2019-12-22 17:02] randy-jr-olive commented on #236
I've checked it from android studio checking out the tag 0.0.14
I've reinstalled the app in the emulator and it shows version v0.0.14
The three dot menu is still missing here for me. I also tried opening the web app with this version as well, that had no effect.
![Screenshot from 2019-12-22 12-01-02](https://user-images.githubusercontent.com/8314978/71324908-f156d600-24b2-11ea-9879-0974bd075553.pn

[2019-12-22 17:17] desperateCoder commented on #236
Nice, thanks for your research! seems to be a job for @stefan-niedermann.

Did i get you right? Are you able to work on your original issue now?

Big thanks for your interest in our project and your contribution by the way!

[2019-12-22 17:28] randy-jr-olive commented on #236
@desperateCoder I'm just getting into all this, and I'm interested in working on both these issues. I see this as maybe an easy first fix to get familiar with the code before I try to take on adding a new feature.

[2019-12-22 17:32] desperateCoder commented on #236
We're very grateful for that, anytime you need help, just tell us!

[2019-12-22 19:23] bk1285 opened #237 "Add "Move to" menu"
Assuming a deck with e.g five stacks (1...5), I often end up moving multiple cards from e.g. 2 to 4. Currently, this involves navigating back and forth between column 2 and 4 for each card.

To simplify this task, I'd like to propose a "Move to" drop-down menu, attached to each card, which allows to move a card directly from stack 2 to any other stack. The user still sees the original stack (2 in

[2019-12-22 19:27] stefan-niedermann commented on #237
Yes, this is already implemented on master and will be shipped with the next release :)

https://github.com/stefan-niedermann/nextcloud-deck/issues/175

Thanm you for your interest :)

[2019-12-22 19:27] #237 closed

[2019-12-22 19:41] bk1285 commented on #237
Great! That was quick! ;)

[2019-12-22 21:45] randy-jr-olive commented on #236
The issue here appears to be that the menu view that gets loaded for the new board (MainActivity.java line 438) there is no option for adding a new board. Further, since the 2 options that are there will only display a menu if currentBoardHasStacks is true.

`
menu.findItem(R.id.action_card_list_rename_column).setVisible(currentBoardHasStacks);
menu.findItem(R.id.action_card_list_delete_column).se

[2019-12-22 21:48] stefan-niedermann commented on #236
Oh boy, i've been so blended. Of course it's just a matter of text. We moved some tome ago the option "Use the three dot menu". There is a "+" -sign in the second row currently to add a stack. We should just change the wording.

[2019-12-22 21:49] stefan-niedermann commented on #236
Do you want to create a PR to change the wording? The other languages will autmoatically be translated via transifex, just the default (fallback) language needs to be changes.

[2019-12-22 21:57] randy-jr-olive commented on #236
I can do that, if it's as simple as swapping out all the instances of
`
<string name="add_a_new_column_using_the_three_dots_menu">Add a new column using the three dots menu.</string>
`
with
`
<string name="add_a_new_column_using_the_button">Add a new column using the + button</string>
`

[2019-12-22 21:58] stefan-niedermann commented on #236
Thank you very much, your PR will be very welcome :)

And **sorry** for wasting your time (checking old versions and so on) !!

[2019-12-22 22:00] randy-jr-olive commented on #236
I'll take care of that. Absolutely no worries, it was a challenge figuring out where to dive into the code and poke around. That was as good a starting point as any :)

[2019-12-22 22:15] stefan-niedermann commented on #236
Would be great to keep you as a cobtributor :) maybe you have time to take care of an issue in the future, too 🚀 :)

[2019-12-22 22:25] desperateCoder commented on #236
Man, you canadians are just as polite as anyone says :laughing:

[2019-12-22 22:31] #236 closed

[2019-12-22 22:39] stefan-niedermann commented on #236
@desperateCoder where the fuck did you know that @randy-jr-olive is an canadian?! 😆

[2019-12-22 22:51] desperateCoder commented on #236
@stefan-niedermann
![maxresdefault](https://user-images.githubusercontent.com/6911132/71328349-0153d180-2516-11ea-8839-dac0482a450b.jpg)

[2019-12-24 01:51] randy-jr-olive opened #239 "App fails to launch, persistent java.lang.NullPointerException error"
**Describe the bug**
When I launch the app in an Emulator, more often than not I get an error for a java.lang.NullPointerException.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the app
2. the error appears seconds after the app launches, all on it's own without any input from me

**Expected behavior**
The app should open and present my Deck to me

**Screenshots**
![Screenshot from

[2019-12-24 01:53] randy-jr-olive commented on #239
I've done a bit of poking around and it looks like it relates to when the app loads and the SyncManager calls doUpSyncFor and seems to run into the null point exception. Not my area of expertise, but I'll keep poking around.

[2019-12-24 10:24] desperateCoder commented on #239
So, you have reached Mordor. This is my spooky corner, I'm curious, if you can figure out, what actually happens there.

Just to be absolutely shure: have you built your code upon the latest master or upon the 0.0.14 tag as Stefan mentioned?

I am asking, because I think I know, what happens here. Did you create a label? I thought I fixed that recently...

[2019-12-24 10:27] desperateCoder commented on #239
Here you go:
https://github.com/stefan-niedermann/nextcloud-deck/issues/167#issuecomment-537909408

Please make sure, the last linked commit is included in your version

[2019-12-24 10:42] desperateCoder commented on #239
To be able to work on your feature, you could just delete the app data. If you could just tell me, if you have the Bugfix mentioned above, I'd take care of this one (again 😢), since the sync mechanism is quite complicated because of the offline functionality.

[2019-12-24 13:45] stefan-niedermann opened #241 "Adjust empty content views depending on edit permissions"
**Describe the bug**
Empty content views mostly hold a descriptive not of how to handle this error like "Press + to add". This should not be the case if the user does not have the permissions to do the action.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a board where you do not have edit permissions
2. Go to an empty cobtent viee
3. See error

[2019-12-24 13:48] stefan-niedermann opened #242 "Due date needs padding right when user has no edit permission"
Because there is no three dots menu which causes a padding when the user does not have edit permissions.

Possible other solution: Maybe the card itself should have padding?

![Screenshot_20191224-144703_Nextcloud_Deck](https://user-images.githubusercontent.com/4741199/71415501-4eda5680-265c-11ea-8762-a8812280af92.png)

[2019-12-24 14:50] randy-jr-olive commented on #239
I've rebased my local repo on the latest from this github repo and I'm still getting that error. I've also tried deleting every board I have in deck, so it's a completely blank account. I'm still getting this error.
So, corrently, I get this error now every time, and I get it even when there is nothing for the app to load (I have no decks).
Anything I could be looking at here to help fix this?

[2019-12-24 15:24] desperateCoder commented on #239
Yep, as mentioned: delete app data. And by that I don't mean any boards, I mean the setting in Android's app info. Or just uninstall the app via android. After reinstalling the app, it should sync normally.

[2019-12-24 15:36] desperateCoder commented on #239
I already looked up the line, where the Nullpointer is thrown. I guess, a simple nullcheck on the remote IDs of the labels should fix it. But I think I should solve this kind of issue in a more central place if possible, so feel free to just focus on your task.

Sorry for the many bleeding edges you had to face so far, we are working on them! I hope I can solve some issues in my few days off until

[2019-12-24 15:46] randy-jr-olive commented on #239
No worries, slow and steady works for me.
Uninstalling the app from the emulator and starting over works to fix that error, the app launches now. However, I can't create a new board from the app. This may be unrelated to this null pointer issue, so I don't want to drag that into this issue.
Here is a video of what this new issue looks like:
[video no board created issue](https://www.youtube.com/wa

[2019-12-24 15:56] desperateCoder commented on #239
Weird..  I thought you fixed that @stefan-niedermann?

@randy-jr-olive I'd suggest creating a board and stacks using the web UI for now, so you can work on your feature

[2019-12-24 16:17] randy-jr-olive commented on #70
I've had a look at how the web UI does color picking. They use a set of default colors and a last option with a color picker that launches the color wheel to choose a custom color.

![Screenshot from 2019-12-24 11-03-49](https://user-images.githubusercontent.com/8314978/71419607-483ce680-263e-11ea-8ddf-d98b52b31a9d.png)

I think, for simplicity, keeping a similar UI pattern would work in the app f

[2019-12-24 17:37] stefan-niedermann commented on #70
I agree in all points and had myself already a look at this lib, too :)

[2019-12-25 13:47] desperateCoder opened #243 "Creating boards not possible"
@randy-jr-olive found following behaviour:

[video no board created issue](https://www.youtube.com/watch?v=QSrKwoYb8BM)

@randy-jr-olive can you reproduce this and tell us the steps?

_Originally posted by @randy-jr-olive in https://github.com/stefan-niedermann/nextcloud-deck/issues/239#issuecomment-568769349_

[2019-12-25 13:49] #239 closed

[2019-12-25 18:32] randy-jr-olive commented on #243
I've tried to reproduce this issue, but I've had no luck. I'm not sure what was causing this, but it hasn't happened since then. I think if this was just a problem for me then it's probable safe to close this issue. If it happens again I can create a new issue at that point.

[2019-12-25 20:03] randy-jr-olive commented on #70
I've added the code to create a custom color picker icon. The code also exists to detect if the selected color is custom and to color the icon accordingly. Next is to implement the actual color picker activity to choose a custom color.

Here's what it looks like so far:

![Screenshot from 2019-12-25 14-56-39](https://user-images.githubusercontent.com/8314978/71450026-819d5100-2727-11ea-8c12-13fe27

[2019-12-25 21:43] desperateCoder commented on #243
... or just reopen it 🤷‍♂

[2019-12-25 21:43] #243 closed

[2019-12-25 21:49] desperateCoder commented on #70
Looks neat! Thanks! I'm a terrible UI designer, but wouldn't it be even nicer if the custom color is displayed at first position, checked, and the color picker displayed just normal? Just a suggestion, can't really tell if this is what a user would want 😅

[2019-12-25 22:28] stefan-niedermann commented on #70
No @desperateCoder, we should better provide some basic colors to choose from (as it is now). Most people will not use the picker at all, it's an edgecase.

Better provide a simple solution for most people instead od the most configurable solution which would be oversized for majority of the users.

[2019-12-25 22:32] stefan-niedermann commented on #70
@randy-jr-olive can you please contact me via email at info@niedermann.it ? i would like to talk to you in private :) (not urgent)

[2019-12-25 23:18] randy-jr-olive commented on #70
My plan was to just try and match what the Deck web UI does, to reduce the differences between the 2 apps as much as possible. Helps keep things sorted in my head.

[2019-12-25 23:27] desperateCoder commented on #70
Feel free I'm absolutely happy with your solution! Good job!

[2019-12-27 00:27] randy-jr-olive commented on #70
A quick prototype of the custom color picker. Still a few things to tweak on it (Like having it remember the last color and set the color wheel position back to that when re-opened).

I've made sure that the custom colors are also saved and changed in the web UI correctly.

![customColors01](https://user-images.githubusercontent.com/8314978/71494480-893b2380-2815-11ea-9634-ac3b3586ab2a.gif)

[2019-12-27 06:25] stefan-niedermann commented on #70
looks great so far :) maybe already open a draft PR so i can have a look at the code?

[2019-12-27 07:05] desperateCoder commented on #70
Nice! Thanks!

[2019-12-27 13:12] #230 closed

[2019-12-27 15:00] desperateCoder commented on #207
Development in Branch: feature/comments

This feature may take some time, since the server endpoint is very inconsistent, e.g. an update has the http method "PROPPATCH" and needs a huge, creepy XML body for a simple update task.

Also it's gonna be hard getting this to work offline as well, since i have to post the stuff above, but i get it back from the server as an activity.

The feature itself

[2019-12-29 01:03] mentalinc opened #248 "Add Deck as a "share to" location"
**Is your feature request related to a problem? Please describe.**
No issues, just improved usability

**Describe the solution you'd like**
When sharing an item, e.g. a url from chrome, having Deck as an option.
It would be great to then select the board and card (or create a new card) related to the URL.

example:
Have a great idea, search on phone to find a way to do it(it's at hand PC is not).

[2019-12-29 01:09] mentalinc opened #249 "Keyboard doesn't auto pop up when creating new card"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' any board'
2. Click on ' the plus button to create a new card'
3. new card opens with cursor blinking in the title.
4. See error - keyboard doesn't auto open.
5. need to then click (where the cursor already is) to bring up keyboard

**Expected behavior**
as above,

[2019-12-29 10:53] desperateCoder commented on #248
Hi, thanks for your report! This is something, we also have considered, but we didn't come to a really smooth workflow. We can't imagine how to make it nice and easy, maybe you have an idea? The point is:
* We could have multiple accounts
* We could have multiple boards
* We most probably will have multiple stacks in a board
* We most probably will have multiple cards in a stack
* As you mentioned

[2019-12-30 20:30] agilob opened #250 "Sliding right causes column refresh"
**Describe the bug**
Sliding right (from left to right) triggers refresh, but sliding left moves to column on left

[2020-01-02 13:36] watschu opened #252 "Clicking the + Button when no Board is present leads to FC"
**Describe the bug**
When first starting the app, the + button in the header bar invites to click. Doing so leads to a Null Pointer Exception

This happens at least in versions 0.0.15 and 0.0.16

**To Reproduce**
Steps to reproduce
1. Start app, log into server.
2. If present, deleta all existing boards
3. Press the + button in the header (create column button)
4. See error:

**Expected behavior**

[2020-01-02 13:46] stefan-niedermann commented on #252
Totally true :) Good catch

[2020-01-02 14:04] desperateCoder opened #253 "NPE on drag after dark-mode toggle"
**Describe the bug**
App crashes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings and toggle dark mode
2. Go back to the stack view and try to drag a card
3. Boom

**Stacktrace**
[code]

[2020-01-02 14:09] desperateCoder commented on #250
Hi @agilob, thanks for your report!

Are you sure, you did not accidentally swipe down a little? I can't really reproduce it. Maybe a video of the behavior could help, too.

[2020-01-02 14:35] stefan-niedermann opened #254 "EmptyContentView is not inflateable on API level 14"

[2020-01-02 14:54] agilob commented on #250
Hmm seems to work today, I tried it like 10 times before reporting the issue and I couldnt swipe-right, it was always refreshing widgets and loading circle was showing. Works fine today, sorry.

[2020-01-02 14:54] #250 closed

[2020-01-02 14:59] desperateCoder commented on #250
😄 no problem buddy, I was just wondering if we messed it up at our last release or something

[2020-01-03 22:09] armaccloud commented on #249
We might want to add that, together with the keyboard to pop up, the shift key to be pressed by default since in most cases you'd start a line with a capital letter.

[2020-01-03 22:11] desperateCoder commented on #249
Yep, good point!

[2020-01-03 22:28] armaccloud opened #256 "Tags menu doesn't show a second time"
**Describe the bug**
When clicking the tags field, then unselecting the tags field (without choosing a tag), you cannot reopen the tags menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new card
2. Click on 'select tags'
3. Click outside drop-down menu without choosing a tag
4. Click on 'select tags' again
5. Verify the drop-down menu isn't shown

**Expected behavior**
The tags dr

[2020-01-03 22:57] armaccloud opened #257 "Switch stacks earlier with card drag n drop"
**Is your feature request related to a problem? Please describe.**
Whenever I switch a card from one stack to another (drag n drop), I have to push quite hard against my phone protector at the edge of the screen before deck switches stacks. This will happen with most phone protector for mine is a pretty general one.

**Describe the solution you'd like**
Deck should switch stacks a little earlier t

[2020-01-03 23:09] desperateCoder commented on #257
But... Why? This is a good point!

[2020-01-03 23:25] armaccloud commented on #257
I must have accidentally closed this issue, because for all I knew I just opened it :)

[2020-01-03 23:40] armaccloud opened #258 "Deck crashes: Device is currently offline"
**Description**
When performing an operation in Deck, then close it (or switch to another app), it crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a deck
2. Drag n drop a card from one stack to another
3. Close the app (background)
4. Wait a few seconds
5. A full screen error appears

**Expected behavior**
The app doesn't display an error.

**Additional information**
* The pho

[2020-01-03 23:44] desperateCoder commented on #258
Is it always an OfflineException?

Quite weird behavior... Tbh I never tried that. Yeah, we'll have a look at this. Thanks for reporting!

[2020-01-03 23:45] armaccloud commented on #258
Yes, always an offline exception.
You're welcome, thanks for the work on this app!

[2020-01-03 23:47] desperateCoder commented on #258
You're welcome as well! 😄

[2020-01-04 06:20] armaccloud opened #259 "After deletion of board, title of first board is shown empty"
**Description**
After the deletion of a board, the title of the first (top) board is shown as empty (even though it isn't).

**To Reproduce**
Steps to reproduce the behavior:
1. Verify the first board in your board list has  an active stack & card
2. Create a new board with a stack
3. Delete the newly created board
4. Verify the name of the top board is now shown as an empty board (even though it'

[2020-01-04 08:19] stefan-niedermann commented on #258
@desperateCoder might this be caused by background sync? i noticed there is a bug in the UI which leads to an execution eben if it has been turned off in the settings, so it will get executed always.

[2020-01-04 11:11] desperateCoder commented on #258
I think it's similar. This depends on what Android does, when the app is hidden. In Theory, it could destroy the activity, but async execution is still running. as soon as it is done, it checks for the| activity not to be null, but it is. The exception is thrown without UI context and the app crashes.

This needs further investigation, but I think it will be something like this

[2020-01-04 15:43] armaccloud commented on #258
Doing some more testing, it seems to occur when I have the battery saver (standard android functionality) on. It blocks background processes, so sync cannot work then.

I must note however that I had background sync turned off for the test.

[2020-01-05 22:10] Tonus1 commented on #248
I'd suggest to add a new card.

Choose account, board and stack with drop-down menus.

That's 3 clicks away, best we can have (if I had to share via email it would be account, dest, object for instance).

[2020-01-05 22:25] mentalinc commented on #248
Agree, and can all be prepopulated based on the boards and stacks that
exist already.

On Mon, 6 Jan 2020, 11:10 Tonus1, <notifications@github.com> wrote:

[2020-01-05 22:31] desperateCoder commented on #248
And we always should assume it is a new card? Should it be created at first or at last stack rank?

[2020-01-05 22:34] mentalinc commented on #248
Fiar assumption I think for new card, otherwise ends up in a logic
nightmare of which card, and where in the description to add the shared
content...

I'd say add to the bottom of the stack, but could add a toggle to select if
it should be the top or bottom? (but just more UX clutter).

It's almost no effort to put in the correct place once created

On Mon, 6 Jan 2020, 11:31 Artur, <notifications@

[2020-01-05 22:37] desperateCoder commented on #248
@stefan-niedermann? Any thoughts? I'd be totally ok with this, but in the end you are going to implement this

[2020-01-09 21:35] Nicos-git opened #260 "Crash if Label starts with a space"
**Describe the bug**
Deck crashes if you create a new card and put a space into the label field.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new card
2. Select label-field ("Schlagworte")
3. Enter space
4. See error

**Expected behavior**
Find corresponding labels.

**Screenshots**
<img width="360" alt="Screenshot_20200109-223209" src="https://user-images.githubusercontent.com/2

[2020-01-09 22:26] desperateCoder commented on #260
Ok, wow. Thanks for your report! Will be fixed in next release!

[2020-01-10 23:58] kbeerepoot opened #261 "Wrap card title to new line(s) if length exceeds width of screen"
**Is your feature request related to a problem? Please describe.**
The problem is the fact that the title of a card does not wrap if the length of it is too big to fit the width of the screen, but instead is truncated and displays the three consecutive dots at the end of the line.

**Describe the solution you'd like**
I would love to see the title wrapped to a new line and continued there. I would

[2020-01-11 00:10] kbeerepoot opened #262 "Max card title length is not enforced correctly"
**Describe the bug**
When an new card is created, it seems that the accepted lable length is indefinite because one can keep entering text. If the entered length of the label exceeds the enforced maximum length in the web interface, though, the card can not be saved.

**Expected behavior**
I expected that the field would refuse any more character entries at the moment that the enforced maximum len

[2020-01-11 06:28] stefan-niedermann commented on #262
We were not aware of a max length (at least there is nothing in the REST docu).

The limit should be enforced by the backend or removed from the web interface imho.

Maybe you can open a new issue at the deck server repository?

[2020-01-11 08:15] armaccloud opened #263 "🏷️ Auto complete: Display all available tags on click (scrollabel)"
**Is your feature request related to a problem? Please describe.**
When applying a tag to a card, there are only three tags shown, even though there are more tags defined for the board. The only in which you can select a tag that is not shown, is to know the name so you can filter the  tags by name.

**Describe the solution you'd like**
An option would be to show all tags in the list and have the

[2020-01-11 08:35] armaccloud opened #264 "An empty card can be created, which stays in sync state forever"
**Description**
An empty card (no content whatsoever) can be created, then the card remains in a sync state.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new card by clicking the + button
2. Without entering any information, click the creation button
3. Verify an empty card has been created, with a persistent sync indicator

**Expected behavior**
The card name field should be a man

[2020-01-17 19:53] Nicos-git commented on #260
Perfect! Thank you very much for your effort and your work!

[2020-01-18 12:11] #260 closed

[2020-01-18 12:31] desperateCoder commented on #264
@stefan-niedermann: the reason why this happens is because the server responds with this:
[code]

The UI should handle this rather than the transport layer (-> SyncManager)

@armaccloud changing the title to anything non-empty would make it work again.

[2020-01-18 12:48] desperateCoder commented on #254
isn't this quite obsolete now? https://github.com/stefan-niedermann/nextcloud-deck/pull/247#discussion_r361801114

[2020-01-18 12:56] stefan-niedermann commented on #254
Nope, i guess we have to Switch to `androix.fragment`, i think (not tested) that it crashes up to Android 5

[2020-01-19 13:00] desperateCoder commented on #257
@armaccloud what value would you suggest?
[code]
Should we make it 30 for now? 40? @stefan-niedermann your opinion?

[2020-01-19 13:16] armaccloud commented on #257
@desperateCoder I would go with 30, as I think there's just a slight increase necessary.

[2020-01-19 13:17] stefan-niedermann commented on #257
Yes, let's increase it to `30` for the next release to get some feedback. We can always increase it in future versions with no effort.

[2020-01-19 13:33] #257 closed

[2020-01-19 14:20] #264 closed

[2020-01-19 14:39] #252 closed

[2020-01-19 14:39] stefan-niedermann commented on #252
Fixed in `0.0.17`.

[2020-01-19 17:29] desperateCoder commented on #207
So, after further investigation, I decided to ask our server-friend @juliushaertl, if he could give me a hand with this: https://github.com/nextcloud/deck/issues/1473

This would make things much easier, not only for us but anyone using the Deck-REST-API.

[2020-01-19 17:51] #258 closed

[2020-01-19 18:06] desperateCoder commented on #262
@juliushaertl could you please clarify this? I had no idea there was a limit? What are the rules for label creation?

[2020-01-19 18:19] desperateCoder commented on #249
@stefan-niedermann: https://github.com/stefan-niedermann/nextcloud-deck/blob/dea65019e73719acdd962bb2c5adf36e30caff0c/app/src/main/java/it/niedermann/nextcloud/deck/ui/EditActivity.java#L251

Very annoying, easy to fix, please fix this next!

[2020-01-19 20:31] kbeerepoot commented on #262
In my personal experience, if I am in the Deck app in the web environment and I create a new card, the card label will stop accepting input after a 100 characters but the card can be saved.

If I do the same in the Android Deck app, the field will keep accepting input after a 100 characters but this will create problems saving and/or syncing the card.

[2020-01-19 20:33] kbeerepoot commented on #262
In my personal experience, if I am in the Deck app in the web environment and I create a new card, the card label will stop accepting input after a 100 characters but the card can be saved.

If I do the same in the Android Deck app, the field will keep accepting input after a 100 characters but this will create problems saving and/or syncing the card.

[2020-01-19 20:33] kbeerepoot commented on #262
Sorry, did not mean to close

[2020-01-21 13:40] klawdhfzasjhaa commented on #263
I would like to add:

I want to use years as tags: 2020, 2021... But only "20" is shown, although there would be enough place left. Especially on a tablet in landscape mode, it would be good to have a more responsive design.

[2020-01-21 15:32] stefan-niedermann commented on #263
Did i understand you correct, that this is a direct duplicate of https://github.com/stefan-niedermann/nextcloud-deck/issues/192 ?

[2020-01-21 17:44] armaccloud commented on #263
This issue is unrelated to #192, but I think the comment from @klawdhfzasjhaa is.

[2020-01-21 17:48] stefan-niedermann commented on #263
Yes, i meant @klawdhfzasjhaa's comment :)

[2020-01-24 17:55] desperateCoder commented on #215
I just fount this one: https://github.com/nextcloud/deck/issues/256

Feel free to take part in this discussion, since one day we are affected by this as well

[2020-01-27 20:44] cddf opened #270 "NullPointerException when saving new card after rotating the device"
**Describe the bug**
The app sometimes crashes when a new card is saved.
It's not completely clear for me, how to reproduce it always.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a clean start of the app
2. Rotate 90°
3. Click the + to create a new card
    - When a card has already been saved without rotating it works without crash
4. Save the card
5. App crashes

**Expected behavi

[2020-01-27 20:58] desperateCoder commented on #270
@cddf thanks for your report! As I'm the "Server-Synchronisation" guy I never tried that tbh, but this should definitely not happen (no s**t Sherlock!)

We'll have a look at this, maybe on Saturday.

@stefan-niedermann no idea what Android does when rotating, but maybe it is similar to the crah-after-nightmode-toggle thingy, just to have that in mind. Could be a timing problem, let's test the step

[2020-01-27 22:28] sh2515 opened #271 "Adding task"
**Describe the bug**

Creating a task this error came up

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.the plus sign..'
2. Click on '..the tick..'
3. Scroll down to '....'
4. See error

**Expected behavior**

Should see another task added
**Screenshots**

**Smartphone (please complete the following information):**
 - Device: [m10
 - Android-Version: [e.g. 8]

**Stacktrace**
[code]

[2020-02-01 15:14] #254 closed

[2020-02-01 16:33] #249 closed

[2020-02-01 16:41] #242 closed

[2020-02-01 16:58] #241 closed

[2020-02-04 17:24] desperateCoder commented on #211
State of Development:

Today i got file uploads via SSO working. I needed to fork the SSO-library and now have submitted a pull request: https://github.com/nextcloud/Android-SingleSignOn/pull/166

The state right now is that a file can be attached to a card and the attachment is deleted, when it is deleted on server side.

Next steps:
- [ ] Add UI to delete an attachment (@stefan-niedermann)
- [ ]

[2020-02-05 11:59] armaccloud commented on #261
I think that growing the card size based on the title length, can make the overview look sloppy.
Would be good if indeed it shows the full text in the edit screen, but keep the card size tidy in the overview.

[2020-02-05 16:08] Bondarz commented on #271
Same.
OnePlus6T - LineageOS 16 - NextCloud (Storageshare by Hetzner)

[code]

[2020-02-05 20:50] stefan-niedermann commented on #211
Undo is not needed at this time. we can add support for it later.

I just noticed if you pick the same file 2, the server responds with

`java.lang.IllegalStateException: {"status":500,"message":"File already exists."}`

This is not a good reaction, @juliushaertl you should go for a `409 Conflict` so we can handle this case appropriately.

[2020-02-06 10:30] rms-joe opened #274 "due date+time set back to none after creation"
**Describe the bug**
after creating new card mostly (seen otherwise/working seldomly):
new card shows up with a sync sign (due date+time shown)
sync sign disappears
card gets shifted to the end
due date and time set back to none

**To Reproduce**
Steps to reproduce the behavior:
setup: existing board with several cards / colums
1) go to "create new card"
2) name it and set due date + time
3) ackno

[2020-02-06 10:47] stefan-niedermann commented on #274
Thank you for reporting this issue. This is a known bug on the server and will be fixed in a future release of the server app.

Unfortunately there is nothing we can do on the android client side.

[2020-02-06 10:47] #274 closed

[2020-02-06 10:47] stefan-niedermann commented on #274
See https://github.com/nextcloud/deck/issues/1430

[2020-02-08 16:12] desperateCoder commented on #271
Hi,
well, thats quite weird. You didn't mention adding a title, in version 17 it should prevent creating a card with empty title.

In case you entered one: can anyone (@sh2515 @Bondarz) provide a video of what exactly you did? I can't reproduce it.

Did you rotate the phone while testing? If you reinstall the app, does this still happen? What server app version you are working on (you can also fin

[2020-02-08 17:57] kbeerepoot commented on #261
Although I understand your concern about sloppyness, I think I can not agree with you. Remember we are talking about the mobile version of the app here. If on average I can not understand what a card is about because the title is truncated way too early to understand the subject, I would need to select and open almost every card in edit mode just to see what it is about. That kind of defeats the p

[2020-02-10 14:04] #262 closed

[2020-02-10 14:22] #211 closed

[2020-02-10 14:35] #70 closed

[2020-02-10 18:14] desperateCoder opened #276 "Add labels: possible adding a label more than once"
**Describe the bug**
In edit mode, just add a specific label as many times as you want.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to edit mode
2. Click on label search bar
3. Select a label
4. Repeat and select the same label again

**Expected behavior**
temporary assigned label shouldn't show up

@stefan-niedermann since the SQL selects only non-assigned labels and additionally you

[2020-02-10 18:16] stefan-niedermann commented on #276
But... but why should one do that? 😆

[2020-02-10 18:16] desperateCoder opened #277 "After adding label: tap on label-searchbar won't show recommendations"
**Describe the bug**
when assigning a label, the recommendations won't show up again

**To Reproduce**
Steps to reproduce the behavior:
1. Go to edit mode
2. Click on label field
3. Add a label
4. click on label field

**Expected behavior**
recommend me something

[2020-02-10 18:18] desperateCoder commented on #276
Because I can. I shouldn't be able to do that!

[2020-02-10 18:36] stefan-niedermann commented on #277
dup of https://github.com/stefan-niedermann/nextcloud-deck/issues/256 ?

[2020-02-10 18:49] desperateCoder commented on #277
Dup

[2020-02-10 18:49] #277 closed

[2020-02-24 08:47] #231 closed

[2020-02-24 08:48] stefan-niedermann commented on #231
We will stay with Glide for now. Manually Pull Down 2 refresh will clear the Glide cache. This will load the new avatar on the next app start.

This is a workaround until we have proper `ETag`-handling implemented.

[2020-02-25 20:16] stefan-niedermann commented on #271
ping @sh2515 @Bondarz please see https://github.com/stefan-niedermann/nextcloud-deck/issues/271#issuecomment-583750700

[2020-02-25 20:23] #253 closed

[2020-02-25 21:15] sh2515 commented on #271
Hi
Sorry I didn't see your previous message. Since the update I haven't had the issue anymore.

[2020-02-26 06:42] stefan-niedermann commented on #271
Thank you for the feedback.

@Bondarz please feel free to open a new issue if you are still getting an error message

[2020-02-26 06:42] #271 closed

[2020-02-26 07:01] stefan-niedermann commented on #83
Closing in favor of #248 (basically a duplicate but with better descriptions about how it might look in the future)

[2020-02-26 07:01] #83 closed

[2020-02-27 09:28] jakobroehrl opened #283 "Show an info if server is in maintenance mode"
The files App is showing this:
![grafik](https://user-images.githubusercontent.com/24530680/75430620-df2e6380-594b-11ea-814c-857ae8b8cd2a.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/89243566-show-an-info-if-server-is-in-maintenance-mode?utm_campaign=plugin&utm_content=tracker%2F111574910&utm_medium=issues&utm_source=github)

[2020-02-27 09:57] desperateCoder commented on #283
@tobiasKaminsky how does this work in the files app? Via capabilities endpoint? How can I recognize that?

[2020-02-27 09:58] stefan-niedermann commented on #283
yes, capabilities endpoint has a booleam property `maintenance`.

[2020-02-27 10:00] desperateCoder commented on #283
@stefan-niedermann what would you need to get this work? We already have this endpoint, maybe I have to parse the flag as well and this would be done, but afaik you don't really call this endpoint that often? Should I add a dedicated endpoint for this?

[2020-02-27 10:11] stefan-niedermann commented on #283
We are currently only calling the endpoint if we want to know the server version - this happens only on adding an account and when opening the about activity.

We should fetch the maintenance state every time we open the app **and** if we have an internet connection. In this case it would make sense to check the server version, too on every startup since are already doing the request 🤷‍♂

Therefor

[2020-02-27 23:04] alexanderdd commented on #261
@kbeerepoot maybe rename this issue to "wrap card title to.." because what you mean is the title. Labels are something else in Deck (customizable, with color)

I agree with the first post.

Look at it from the perspective of the user.

If a user needs to enter a lot of details (more than 20 words), she/he will put the details in the "description" section.
If the user decides to have a longer title

[2020-02-28 05:33] stefan-niedermann commented on #261
Aaah, now i got what you want 😄 Thanks for clarification @alexanderdd !

I will have a look.

[2020-02-28 06:34] #261 closed

[2020-02-28 06:36] stefan-niedermann commented on #261
Keep in mind though, that there's a limitation of 100 characters (which results in max. up to 5 lines given `w` is the widest character).

| Single Line | Multi Line |
| --- | --- |
| ![grafik](https://user-images.githubusercontent.com/4741199/75516476-dea1d580-59fc-11ea-8606-5a454138b6f5.png) | ![grafik](https://user-images.githubusercontent.com/4741199/75516429-c03bda00-59fc-11ea-91db-b102de439e

[2020-02-28 09:21] tobiasKaminsky commented on #283
If you do any(?) call to a server which is in maintenance mode, you will get back a 503, which you then can use for showing such an info.

[2020-02-28 09:50] stefan-niedermann commented on #283
@tobiasKaminsky does this also cover calls to 3rd party apis like deck?

[2020-02-28 10:22] tobiasKaminsky commented on #283
Via "channel" is this? OCS?
I am only sure for webdav.

@juliushaertl heeeeeeelp :-)

[2020-02-28 10:38] juliushaertl commented on #283
Yes, all endpoints will return a 503 response in that case.

[2020-02-28 14:01] stefan-niedermann commented on #283
@desperateCoder In this case we should think about whether we really want to query the `maintenance`-endpoint each time on app start or if it wouldn't be better to check the response codes on usual syncs to broadcast an event that triggers the UI state (like in the screenshot).

This way we could save an unnecessairy request.

[2020-02-28 14:09] desperateCoder commented on #283
✔️ I'll see, if I can handle this somewhere central and then throw a dedicated exception

[2020-02-28 14:12] stefan-niedermann commented on #283
That won't be enough because i need to get notified as soon as the next sync works normal again.

Guess we will have to deal with Android Broadcasts.

[2020-03-01 07:21] stefan-niedermann opened #284 "Migrate to ViewPager2 🧹"
See [migration guide](https://developer.android.com/training/animation/vp2-migration).

- [x] AboutActivity
- [x] EditActivity

On branch:

- [x] [TabLayoutHelper](https://github.com/h6ah4i/android-tablayouthelper/issues/13)
- [x] MainActivity
- [ ] Fix Drag'n'Drop

### Issues

Currently Drag'n'Drop mechansim fetches the current stack fragment to query its child recyclerview. Getting directly the

[2020-03-01 07:24] stefan-niedermann opened #285 "Migrate from ButterKnife to ViewBinding 🧹"
Since `ButterKnife` is more or less officially marked as deprecated, we should move on to Android ViewBinding (explicitely **not** DataBinding).

This is how we did it in the Notes app: https://github.com/stefan-niedermann/nextcloud-notes/pull/748/files

The procedure should be similar except that we are using more `@BindString`s and variations at which we have to look in detail.

[2020-03-01 07:29] stefan-niedermann opened #286 "Get rid of HTML formatting in strings.xml 🧹"
Hostorically we have many string (e.g. the version number in the `AboutActivity`) which are formatted using HTML tags.

This should be migrated to using `Spannables` instead because:
- We don't have to care about escaping this stuff correctly nor do the translaters have
- Android doesn't have to parse this stuff as we directly can tell it what the result should look like
- We don't have to concate

[2020-03-02 07:37] tobiasKaminsky commented on #283
On Files I do it this way:
- if sync/operation fails: show maintenance info (it is only an info)
- upon next sync/operation/app start (which includes a regular refresh=sync) -> either still show info or operation works and thus remove the info

[2020-03-03 11:33] jakobroehrl opened #289 "📎 Add more sources to upload attachments"
**Is your feature request related to a problem? Please describe.**
new button "camara" within the attachment section to make a photo and upload it directly as new attachment

**Describe alternatives you've considered**
Start the camara App manually, take a pic, open deck go to attachments, click the upload Button, search for the photo, add it

[2020-03-03 11:35] desperateCoder commented on #289
Yep, that's a good one!

[2020-03-03 11:35] stefan-niedermann commented on #289
Sure, makes sense. I guess we will have either a!expandable floating action button or a bottom sheet like in whatsapo/telegram in the future.

[2020-03-03 11:47] jakobroehrl commented on #160
I think we should give an battery optimization Info on the 1st start
It could be handy to give the user a hint.
Tutanota has the possibility to deactive the battery optimization with one click on the 1st start.

[2020-03-03 14:29] stefan-niedermann commented on #160
We are currently relying on `WorkManager` which is battery optimized and the recommended way for recurring tasks. It has a minimum execution distance of 15 minutes. This should be enough for checking duedates and displaying notifications.

I don't see a reason to disable the android battery optimization here, but thank you for the hint.

[2020-03-03 17:45] stefan-niedermann opened #290 "Card context menu is cut off"
Affected version: `0.1.0`.

The three-dot-menu which is on each card in the `MainActivity` is vertically cut off.

This makes it hard to tap and it looks shitty.

[2020-03-04 14:38] ilippert opened #292 "Wording of column and stack confusing"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to a board
2. Click on the three points on the right (context menu)
3. See that the stack is called column

**Expected behavior**
The stack should be called stack.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/89570232-wording-of-column-and-stack-confusing?utm_campaign=plugin

[2020-03-04 14:40] desperateCoder commented on #292
@juliushaertl what is it now? Didn't you mention you wanted to rename stacks to columns?

[2020-03-04 14:41] ilippert commented on #292
it currently is column

it should be stack, to be consistent (and specific to the logic of the app's design, in my perception)