[2020-11-02 09:52] desperateCoder commented on #705
Ok, so I think your problem is related to the limited RAM (2GB, right?) of your device, not the raspberry.

I think reading the changed cards fills up all memory, then your device starts to panic and won't give our app enough memory for your big load of data.

I'll see, if and what I can do about it. Thanks so far!

[2020-11-02 10:27] stefan-niedermann commented on #702
Analysis finished.

The Android app behaves correctly (:heavy_check_mark: ) and trims in both scenarios the given text to `255` characters. Though the server app still [has a missing database migration](https://github.com/nextcloud/deck/issues/1923), therefore upgraded instances will cut the title at `100` characters.
The Web UI behaves the same way (and cuts the title at `100` characters).

At le

[2020-11-02 10:27] #702 closed

[2020-11-02 10:29] Jeanoo commented on #705
Ok thank you !
my galaxy device has 2GB of ram

[2020-11-02 10:30] stefan-niedermann commented on #690
So after getting a :+1: and also you agreed @aproposnix :

Let's go for the #597 Filter widget to cover this use case instead of implementing it directly into the app itself. :slightly_smiling_face:

[2020-11-02 10:32] stefan-niedermann commented on #706
@Mangleuz I am pretty sure it's the same issue as #644. Is it possible that you create temporarily a local test user and see whether or not his avatar will show up? (just login as the test user, create a private board and card and assign yourself - completely unrelated to all the other users).

[2020-11-03 07:49] varac commented on #680
I also often experience this. I close the app, start it again, swip down to start a sync, and the cards don't sync. The only workaround I found is to force-stop the app from the system settings and delete the cache. Afterwards it syncs initially and then the loading indicator keeps spinning forever again.
This make the app pretty unusable for me.
Is there any issue to track the `etag` progress ?

[2020-11-03 07:52] varac commented on #680
Nevermind, found these related etag issues: [android app](https://github.com/stefan-niedermann/nextcloud-deck/issues/359) which relies on the [server app](https://github.com/nextcloud/deck/issues/1650). Fingers crossed and thanks anyway for this nice app !

[2020-11-09 17:41] stefan-niedermann commented on #289
@jakobroehrl @q-wertz @splitt3r since you were interested in this issue, i'd like to ask you whether you are interested in testing some more improvements we've done before i release it as a beta? :slightly_smiling_face:

Here is the [`APK`](https://github.com/stefan-niedermann/nextcloud-deck/suites/1474431761/artifacts/25408191) to download and test - feedback is very welcome here.

[2020-11-10 11:48] jakobroehrl commented on #289
wow! This is working awesome!

[2020-11-10 12:56] q-wertz commented on #289
Looks amazing :tada:
My only problem was that on first sight I had trouble to find the camera. Might be more intuitive to not have it in the Gallery tab but in a separate one with own symbol?
![Screenshot_20201110-134918~3](https://user-images.githubusercontent.com/20948931/98676841-0bf89e80-2354-11eb-9fb7-94ab96298494.png)

[2020-11-10 14:45] stefan-niedermann commented on #289
Hmm, did the upper left item (with the camera symbol) not display a live preview of the camera for you? (because it is black but it *should* display a live cam)

I orientated pretty much at the attachments picker of Telegram and it seemed to be pretty intuitive (for me at least 😆 )

[2020-11-10 17:32] q-wertz commented on #289
It is black because it was covered :laughing:
So everything fine. Maybe just also had the wrong expectations from the previous version/other apps. :+1:

[2020-11-10 18:15] stefan-niedermann commented on #289
According to the material guidelines the bottom navigation (which we use) should only host up to 5 items - i planned to add one for audio one for video.

The concept idea is to have one picker per media type and each of the pickers shows a "primary / native" action + previews for quick access.

- camera + images
- native contact picker + direct contacts
- native file picker + downloaded files

and

[2020-11-10 21:32] stefan-niedermann commented on #289
The current state will be in version `1.12.0` (which is already tagged for F-Droid and available on Play Store beta channel).

Feel free to still discuss this feature in this or a new issue, but it "works as expected" and noone reported any bugs so far, so i thought: "let's get some more feedback from the community" :slightly_smiling_face:

[2020-11-10 21:32] #289 closed

[2020-11-11 03:40] aproposnix commented on #289
I don't mean to seem so pedantic but the rounded corners don't feel right when the menu is fully loaded with the round corners. Other than that, this is an awesome new feature.

![signal-2020-11-10-223042](https://user-images.githubusercontent.com/6204273/98762384-856cad00-23a5-11eb-9d5b-20afa0dee5ff.jpeg)

[2020-11-11 07:56] stefan-niedermann commented on #289
Indeed, i will have a look whether we can animate those corners :).

[2020-11-12 20:12] Jeanoo opened #725 "Archive lists"
Suggestion
If I understand the purpose of archiving cards is to make room for all the cards to be clearly visible.
Then I don't understand why the lists were not archived at the same time as the maps?

[2020-11-12 20:25] q-wertz commented on #289
I think it makes sense to design it the way you said:+1:

Nevertheless, here are some screenshots how different messengers handle this (if you need some inspiration one day and maybe you don't have one of these :wink:):
![Threema](https://user-images.githubusercontent.com/20948931/98991709-22555480-2524-11eb-9efa-4950e0d26141.png)
![Whatsapp](https://user-images.githubusercontent.com/20948931/9899

[2020-11-12 20:39] stefan-niedermann commented on #725
Because lists are meant to be a way to describe a kind of workflow for cards, like `ToDo` → `Work in Progress` → `Done`.
The cards should move from the left to the right within their lifecycle. Since the lists (= "states") are static in this scenario, they don't disappear when archiving all the cards of a list. The lists are the same for future cards which will be dragged there.

(At least that's

[2020-11-12 20:39] #725 closed

[2020-11-12 20:41] stefan-niedermann commented on #725
PS.: As you wrote "suggestion", i have to say, that we follow the server app. If you propose to change this behavior, you need to ask [in the repository of the server app](https://github.com/nextcloud/deck/issues/new?template=Feature_request.md).

[2020-11-12 21:19] FHFS opened #726 "Unable to add Deck Stack List Widget to android home screen."
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Unable to add Deck Stack List Widget to android home screen.

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.co

[2020-11-13 09:10] stefan-niedermann commented on #726
Hm. Can you please try to
- Completely uninstall and reinstall the app
- Import your account from the Files app
- Disable battery optimizations
- Restart the phone

Without any error message we have no chance to fix this issue, i can't reproduce it. @desperateCoder are you able to reproduce it?

@FHFS maybe you can install any Logcat reader from F-Droid and check whether you are able to fetch any

[2020-11-13 09:57] Jeanoo commented on #725
Thank you Stefan, I have created a message here https://github.com/nextcloud/deck/issues/2530

[2020-11-15 17:23] stefan-niedermann opened #729 "BottomNavigation in attachment picker is not colored when branding is disabled"
- Disable branding in the settings
- Open a card
- Go to attachments tab
- Click `+` floating action button
- Selected item is black/white but should have the `defaultBrand` color

[2020-11-15 17:48] stefan-niedermann commented on #359
The server app has implemented support for `ETags` starting with version `1.2.0-beta1`.

[2020-11-16 08:07] #729 closed

[2020-11-16 08:30] stefan-niedermann commented on #707
@desperateCoder branch: `707-push-notifications`

I have added a few unit tests for `ProjectUtil#extractBoardIdAndCardIdFromUrl`, please try to adjust the extraction magic to match the new unit test setup.

What has changed: The `#` character in the URL is now optional.

I think @llucax is using an old Deck version, where the URLs didn't contain this character yet. @llucax which version of the Dec

[2020-11-16 08:42] llucax commented on #707
In case it helps in any way, I didn't experience the crash again since I reported it. I update the app frequently though, and I am now at 1.12.1 (updated just today).

[2020-11-16 10:45] stefan-niedermann commented on #707
Thank you for the feedback - i already updated the error messages that we will get better messages the next time it happens - let us implement this hardening and then close this issue u til it happens again 🙂

[2020-11-16 11:10] FHFS commented on #726
@stefan-niedermann
I've tried your suggestion, but that gives the same result.
I've just installed a logcat reader. I will try to get some logs soon.

[2020-11-16 11:24] #707 closed

[2020-11-16 11:27] stefan-niedermann commented on #707
Okay, as discussed:
- we have build a more robust implementation to avoid those kind of error
- we have build in more meaningful logging

Both improvements will be shipped with version `1.12.2`.

Please continue to report any issues, especially if this error happens again :+1: Thank you for your contribution!

[2020-11-16 17:41] rad-li opened #731 "Wrong time"
The execution time is displayed incorrectly. This happens if the local time differs from UTC. In all other cases, there is no error. In my case, the difference is +3 hours. WebUI.

 - Nextcloud: 20.0.1
 - Nextcloud Deck: 1.2.0
![Снимок экрана_2020-11-16_20-38-08](https://user-images.githubusercontent.com/74559754/99287963-ff8cae00-284b-11eb-976c-baba67ec46f1.png)
![Снимок экрана_2020-11-16_20-38-3

[2020-11-16 17:49] stefan-niedermann commented on #731
Dear @rad-li

if i understand you correctly the time in the Web UI is displayed incorrect.

But is it displayed correctly in the Android App?

Because this repository is only for issues in the Android App.
You can open bug reports for the Web UI in [this repository](https://github.com/nextcloud/deck/issues/new?template=Bug_report.md).

[2020-11-16 18:32] rad-li commented on #731
I haven't used the Android app before, but now I've installed it and checked it out. The app also has this error.  I think the error is in the server side.

I opened error reports in https://github.com/nextcloud/deck/issues/2565

[2020-11-16 19:55] FHFS commented on #726
[Logcat output @pastebin](https://pastebin.com/AVjpQyCQ)
Hope this helps, let me know if I can do anything else

[2020-11-16 20:22] stefan-niedermann commented on #726
Thanks so far! I'll have a look whether we can find a useful hint in it.

Are you using a custom ROM or a 3rd party launcher or something like this?

[2020-11-16 20:23] stefan-niedermann commented on #726
And also:

- Doesn't the widget appear at all or is the widget there but not showing any cards?
- Is the Single Card Widget working for you without any issues?

[2020-11-16 22:10] FHFS commented on #726
@stefan-niedermann
- Thanks so far! I'll have a look whether we can find a useful hint in it.
  - No, thank you! =D
- Are you using a custom ROM or a 3rd party launcher or something like this?
  - **Yes, poco launcher, I just tested it. It does work in the normal launcher. Should I close the issue?**
- Doesn't the widget appear at all or is the widget there but not showing any cards?
  - nothing a

[2020-11-16 22:19] stefan-niedermann commented on #726
Well, that's a good question. We have tested the widget in Trebuchet Launcher, Pixel Launcher and Lawnchair. If it just isn't working in Poco Launcher, i guess it is a bug there. Since it is proprietary as far as i know, i can't check it unfortunately.

It would definitely make sense to report this issue upstream - i think it's from Xiaomi, right?

[2020-11-17 12:53] Torenga opened #732 ""Upcoming" Overview, inspired by NC Deck"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**
I want to get an overview of cards with upcoming due dates akin to NC-Decks "Upcoming Cards" f

[2020-11-17 12:58] stefan-niedermann commented on #732
Please see here: https://github.com/stefan-niedermann/nextcloud-deck/issues/690#issuecomment-702124737

[2020-11-17 15:10] Torenga commented on #732
My bad - I tried searching for similar issues but missed this one.

[2020-11-17 15:10] #732 closed

[2020-11-17 15:10] Torenga commented on #732
Duplicate of #690

[2020-11-17 15:40] stefan-niedermann commented on #732
All good - the GitHub search isn't that good after all...

[2020-11-18 11:59] stefan-niedermann commented on #726
Closing this as an upstream bug - @FHFS it would be great if you could keep us updated (and post a link to an issue, if you report it upstream). :slightly_smiling_face:

[2020-11-18 11:59] #726 closed

[2020-11-18 13:12] rakekniven opened #733 "Add comments to your source strings to help translators with useful context"
Hello @stefan-niedermann ,

continuing to our discussion in the community chat I kindly ask you to improve/overwork the comments for your app.

What I found out today:

Following line contains a xml comment
https://github.com/stefan-niedermann/nextcloud-deck/blob/559681f7c58380d2e4aeeabcfa03a2b8940503c9/app/src/main/res/values/strings.xml#L13

From my understanding the comment is not related with

[2020-11-18 13:18] stefan-niedermann commented on #733
Thanks :)
You were right: Those kind of comments were section headers - i removed them all in https://github.com/stefan-niedermann/nextcloud-deck/commit/8e72fa374cf71406bcc081b046187f615a38054b

What do you expect form comments?
- A description *where* in the UI they are used?
- Information like "uppercase / lowercase" or "this sentence should not have a `.` at its end"?

I will happily add a comm

[2020-11-18 13:34] rakekniven commented on #733
You are fast as my Abarth :-)

Often we have very short strings like "Move item". Translator is asking "Where do I move the entry to?" To another list? Up or down in the list?
Right now you do not need to spend time to add comments. Questions will come and me or others can file PRs :-)

One answer I need to finish the Android thing:

[2020-11-18 13:41] stefan-niedermann commented on #733
Yep.

Usually you will find a `strings.xml` file at

[code]

Just put a comment directly above an `xml` tag to make it appear in Transifex like:

[code]

The string in line `3` will be the term which will be translated and the content of line `2` in this example (`Key is a string just for demonstration purposes`) will be visible as descriptive text in Transifex.

[2020-11-18 13:49] rakekniven commented on #733
Ok, thanks for explaining.

With Qt you do this in your c++, qml, or js files and the command lupdate is creating the TS file. I thought maybe the Strings.xml is generated as well. But hey sometimes it is easier than you think :-)

[2020-11-18 14:06] stefan-niedermann commented on #733
:slightly_smiling_face: There is some tooling support from Android Studio for the `strings.xml`, but for this kind of comments i am not aware of any tools.

Just putting the comment above the `xml` items should be easy enought, though. Even for beginners :)

[2020-11-18 14:36] #733 closed

[2020-11-20 12:32] stefan-niedermann commented on #452
I have started a [Pull Request](https://github.com/stefan-niedermann/nextcloud-deck/pull/735) for a enhanced Markdown handling and tried 4 different approaches. None of them satisfies me completely, so we will have to implement and try them out further. Help is very appreciated and welcome :heart:

[2020-11-20 14:16] stefan-niedermann opened #736 "Improve Threading"
Currently we make quite large usage of the `doAsync`-method, e.g. in the `SyncManager`.

I propose to make use of `Executors`. We should rethink about where `newCachedThreadPool()` or `newFixedThreadPool()` would make sense to reduce the excessive threading.

[2020-11-20 15:27] markushub opened #738 "ArrayIndexOutOfBoundsException"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

after start app deck and switch to another list app full crash

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.

[2020-11-20 15:31] desperateCoder commented on #738
Oops? Probably my bad. Thanks for reporting! I'll have a look! Thanks!

[2020-11-20 16:50] stefan-niedermann commented on #736
I did some measurement in the branch `736-improve-threading`:
- `SyncManager` use separate cached `CachedThreadPool`s for
  - `E_SINGLE_TASKS`
  - `E_SYNC_ACCOUNTS`
  - `E_SYNC_BOARDS`
  - `E_SYNC_CARDS`
  - `E_SYNC_ACTIVITIES`
- `SyncManager` use one (!) `SingleThreadPool` for *each* async task
- `SyncManager` like in master, create a `new Thread` for each async task

The results were disappointi

[2020-11-20 16:50] #736 closed

[2020-11-21 09:55] stefan-niedermann commented on #738
@desperateCoder sure? looks more like an issue with the UI...

@markushub are you able to reproduce this issue or did it only happen one single time?

[2020-11-21 10:34] desperateCoder commented on #738
@stefan-niedermann u're right... I misread StackAdapter... Probably your bad. 😄

[2020-11-21 13:30] stefan-niedermann commented on #597
![IMG_20201121_142954](https://user-images.githubusercontent.com/4741199/99878498-18a7ad00-2c06-11eb-9e02-f6c9d12b053c.jpg)

[2020-11-21 13:55] stefan-niedermann opened #739 "Translation typo"
@rakekniven i don't have the resource ID in mind right now (i'm on my phone), but i noticed this typo and wanted to let you know:

"Keine Schlagwort**e** zuweisen"?
"Keine Schlag**wörter** zuweisen"?

![Screenshot_20201121-145307_Nextcloud_Deck](https://user-images.githubusercontent.com/4741199/99878971-6d005c00-2c09-11eb-92af-e338ac7b5167.png)

Edit: It's in the Deck Android App.

[2020-11-21 14:09] rakekniven commented on #739
English string is: "No assigned tag"

So changed it to "Kein Schlagwort zugewiesen".

Your german suggestion would bring me to english string "Do not assign tags". Am I wrong?

[2020-11-21 14:21] desperateCoder commented on #739
@rakekniven nope, you're right! But the trailing 'e' of "keine" shouldn't be there like it is in Stefans screenshot (no plural)

[2020-11-21 14:22] stefan-niedermann commented on #739
Sounds good 👍

[2020-11-21 14:22] rakekniven commented on #739
Ok, feel free to close it.

[2020-11-21 14:30] #739 closed

[2020-11-21 14:30] stefan-niedermann commented on #739
🙏  thank you :)

[2020-11-21 15:15] markushub commented on #738
currently no to reproduce. It happens only once.
Maybe you can catch the exception direct from source.

[2020-11-21 16:17] markushub opened #740 "NullPointerException: Attempt to invoke virtual method"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

after start app deck (and do nothing) app full crash

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https

[2020-11-21 16:22] desperateCoder commented on #740
@markushub thanks for the report! No luck these times, huh? @stefan-niedermann will be at my place in an hour or so, I'll force him to fix this.

[2020-11-21 16:24] stefan-niedermann commented on #740
Your server has not been connected successfully - Please try to clear the storage of the app and reimport your account [as described here](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#i-have-experienced-an-error).

Hint @desperateCoder - no server app version at the stacktrace instead of `0.6.4` in the current version.

[2020-11-21 19:02] jmlgo opened #741 "List widget not working on Xiaomi launcher"
**Describe the bug**

Regardless what list I pick, the widget never appears on my home screen.

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https://try.nextcloud.com):
- [ ] Yes

Steps to reproduce the behavior:
1. Go to widgets
2. Click on Nextcloud Deck List (3x2)
3. Pick one of the available lists

**Expected behavior**
The widget should be on the home screen

[2020-11-21 19:04] stefan-niedermann commented on #741
Which launcher are you using?

[2020-11-21 19:05] jmlgo commented on #741
Default MIUI system launcher.

[2020-11-21 19:08] stefan-niedermann commented on #741
Does the Single Card widget work flawlessly?

[2020-11-21 19:11] jmlgo commented on #741
Indeed, it does.

There two options for the MIUI launcher:
![IMG_20201121_200847](https://user-images.githubusercontent.com/16480649/99885486-959e4b00-2c35-11eb-8152-5acc03fcff32.jpg)

Tried both of them with the list widget, unsuccessfully.

[2020-11-21 19:12] stefan-niedermann commented on #741
Can you try steps 1-4 [mentioned here](https://www.guidingtech.com/fix-miui-widgets-not-working/) please? It seems to be an issue on Xiaomi launcher only.

[2020-11-21 19:20] jmlgo commented on #741
Tried all but the MIUI optimizations one.
To require this option whould be a major flaw, since the behavior of the system changes completly.
I'll try this option with my old xiaomi phone, since disabling the optimizations requires a reboot and affects the usability.
I'll try to get and post here a trace from the logcat after adding the widget.

[2020-11-21 19:25] stefan-niedermann commented on #741
Yep, in the first place it's to help us finding the root cause of the issue, it's not meant as a proper solution.
I hope to get information whether it is caused by Xiamo or whether an exception is thrown (widgets are damn shitty to debug). If it works with one of those options, i can be sure that our code works actually correct, then we can try to find a workaround for xiaomi. Otherwise we will ne

[2020-11-22 11:10] #687 closed

[2020-11-22 11:12] stefan-niedermann commented on #687
We implemented a more robust sync for the scenario where one creates a board or a card while the server itself is not available.

Those improvements will be shipped in `1.12.2`. They don't cover each and every use case yet but should be enough to continue working for a while when the server is temporarily not available.

We'll have another look in the future.

[2020-11-22 18:04] stefan-niedermann commented on #359
Will be shipped with `1.13.0`.

[2020-11-22 18:04] #359 closed

[2020-11-22 18:07] stefan-niedermann commented on #680
`ETag`s have been implemented and will be shipped with `1.13.0`. They require at least version [`1.2.0` of the server app](https://github.com/nextcloud/deck/releases/tag/v1.2.0). This should completely solve this issue - please feel free to create a new or reopen this issue if the problem appears again with `1.13.0` (or higher) of the Android app. (Staged Roll-Out will start soon...)

[2020-11-22 19:53] stefan-niedermann commented on #741
cc @dan0xii do you have a Xiaomi device?

[2020-11-22 20:29] jmlgo commented on #741
I couldn't find anything relevant on the logcat after trying to add the widget; only this warning, maybe it says something to you:

`11-22 21:16:35.195 W/XSpaceManagerService(1637): checkXSpaceControl, from:android, to:it.niedermann.nextcloud.deck, with act:android.appwidget.action.APPWIDGET_CONFIGURE, callingUserId:0, toUserId:0`

I have experience debbuging desktop software and embedded devices,

[2020-11-23 08:18] jakobroehrl commented on #680
Working superfast and without any problems with the new 1.13!
👍

[2020-11-24 17:24] stefan-niedermann commented on #740
@markushub did clearing the storage and reimporting the account work for you or are you experiencing the same issue?

[2020-11-24 17:30] stefan-niedermann opened #745 "Local board settings"
We need some kind to store settings per board. They are currently not synchronizable with the server (this will be a follow-up issue).

We can start with `compactMode: boolean` as a property.

Further possible settings are
- `filterInformation: FilterInformation`
- `showArchivedCards: boolean`

Maybe we can place them directly in the board column? I expect them to be synchronizable in the future.

[2020-11-24 17:36] stefan-niedermann commented on #395
Blocked by https://github.com/nextcloud/deck/issues/2613

[2020-11-24 17:41] stefan-niedermann commented on #745
References https://github.com/nextcloud/deck/issues/2614 (for sync part)

[2020-11-25 16:02] markushub commented on #740
thank you. Clearing the storage and reimporting the account solves the problem

[2020-11-25 16:02] #740 closed

[2020-11-25 16:08] stefan-niedermann commented on #740
Thanks for the feedback!

[2020-11-25 16:30] markushub commented on #664
I also can't see avatars. My nextcloud is running on vhost inside a sub directory.
Its hard to use deck on android without see the assignment in a list overview.
I have to go inside details, see the default icon and have to push it to see the name.

Is the problem based on nextcloud server side to provide a avatar or on android side?
I hope it will be fixed soon.
Thank you for your great work with

[2020-11-25 16:36] stefan-niedermann commented on #664
@markushub The issue is most probably caused by the Deck Android App.
We haven't found the root cause yet, but suspect it to be related to the fact, that the cloud is located in a subfolder.

---

Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue.

[2020-11-26 21:33] smaugilein opened #746 "No autocompletion for usernames with only one character while trying to share board"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

While using the collaborate feature to share a board it is not possible to pick users whose username consists of single characters. These u

[2020-11-26 21:39] smaugilein opened #747 "Auto save on leaving app"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**

To use nextcloud Deck as a notes app I am missing an important feature: Often I want to quick

[2020-11-27 06:23] stefan-niedermann commented on #747
Yeah, i get the problem. We decided explicitely to not autosave but use the more explicit ✔️ to save, but we will rethink about it. Maybe we can make a setting for this or so.

[2020-11-27 06:26] stefan-niedermann commented on #746
Actually not a bug but another intented implementation for a better performance when querying users. Usually the usernames have at least two characters. What happens if you enter the username and press submit on your virtual keyboard?

I will make a branch and test how it feels if we already propose results when the first character has been entered.

[2020-11-27 07:02] smaugilein commented on #746
The submit button on the keyboard does not submit (or close) the form. It seems necessary to choose a name from the drop-down list to submit data.

[2020-11-27 07:06] smaugilein commented on #747
I prefer that solution. Thanks a lot!

[2020-11-27 07:29] stefan-niedermann commented on #746
Actually only a title is mandatory. It might take a moment to save the stuff (we currently are waiting until everything is safed until we close it - maybe you have a slow device?).

I will hav a look into this issue, thanks for reporting.

[2020-11-27 07:35] smaugilein commented on #746
Neither the username nor preferences for setting the permissions show up after submitting. The window stays as it is. When choosing an user from the autocomplete list everything works as expected immediately...

[2020-11-27 07:36] smaugilein commented on #746
(Device is an modded LG G6 with Android 10 running smooth like butter... ;-) )

[2020-11-27 07:41] stefan-niedermann commented on #746
Aaah, sorry, i was wrong. I thought we were talking about the editing of a card. 😄

I'm currently busy, but i will have a look as soon as i can.

[2020-11-27 10:15] smaugilein commented on #746
Take your time! :smiley:

[2020-11-29 16:48] binaryatrocity opened #748 "Exception After Selecting Account (FileDescriptor)"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
After selecting an account to use, and allowing the app access the the account in question an exception is immediately thrown at which point

[2020-11-29 17:08] desperateCoder commented on #748
Hi @binaryatrocity, thanks for your report!
Sorry to hear that you have these issue. Reading the Stacktrace, it seems to be a problem in the communication between the Nextcloud Files app and our Deck app.

Have you tried clearing the local storage of both apps as described [here](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#i-have-experienced-an-error)? Just make sure you

[2020-11-29 18:03] binaryatrocity commented on #748
I had tried that, and it didn't help, tried it again just to be sure. It did seem like the Nextcloud Android app was having issues clearing its storage, as it was never asking me to login...

I uninstalled the base Nextcloud app entirely, then re-installed which did force a re-authentication. After this process the Nextcloud Deck app is functioning as expected.

[2020-11-29 18:03] #748 closed

[2020-11-29 18:19] desperateCoder commented on #748
Oh wow, good job on reading the hints! And thanks for the feedback!
We're glad it worked out for you, feel free to open an issue here any time, if you encounter further issues :smiley:

[2020-12-03 11:58] ctr49 opened #750 "iOS app"
**Is your feature request related to a problem? Please describe.**
I would like to use Nextcloud Deck on iOS but this app is only for Android.

**Describe the solution you'd like**
Either port the app to iOS or refactor the app to be platform-agnostic (i.e. through Flutter?)

**Describe alternatives you've considered**
An alternative is to use the online web interface to Nextcloud in the browser.

[2020-12-03 12:14] desperateCoder commented on #750
Hi @ctr49,

thanks for the interest in our app! have a look at this one:
https://github.com/cbackas/iOS-Deck

@cbackas is surely happy, if the iOS users show some interest in his repo as well.

For us, we dont't have Macs, we don't have Apple Developer accounts which are ridiculously expensive, and we have zero skills in Swift or Objective C. Our app itself is completely Android native, porting th

[2020-12-03 12:14] #750 closed

[2020-12-10 12:11] stefan-niedermann commented on #452
Fixed in `1.13.1`.

We decided to go for `Markwon` instead of `Nextcloud Text` because we preferred a native solution over a webview based.

This version also ships a "preview" mode which supports tables and syntax highlighting.

[2020-12-10 12:11] #452 closed

[2020-12-10 12:19] stefan-niedermann commented on #452
| 1 | 2 |
| --- | --- |
| ![device-2020-12-10-131509](https://user-images.githubusercontent.com/4741199/101771116-bdbcf380-3ae9-11eb-81ed-b2a67e310999.png) | ![device-2020-12-10-131551](https://user-images.githubusercontent.com/4741199/101771197-d6c5a480-3ae9-11eb-8797-90b8910646b9.png) |
| ![device-2020-12-10-131756](https://user-images.githubusercontent.com/4741199/101771389-24daa800-3aea-11eb-9

[2020-12-11 08:35] neerro opened #754 "Not showing attached files in mobile app"
**Describe the bug**
When I attached the image (.jpg) to the Deck task I couldn't saw the image preview and full image when I tried to open it. Attached screenshots is self explanatory of the issue.

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https://try.nextcloud.com):
- [ ] Yes
- [x] No (Because the issue is on the app)

**Expected behavior**
I would to see t

[2020-12-11 08:47] desperateCoder commented on #754
Hi @neerro,
thanks for your report and sorry for the inconveniences.

Is your nextcloud server installed on the root of your domain? By that I mean is it something like `my-nextcloud-domain.ru` or is it `my-nextcloud-domain.ru/nextcloud`?

In the card list view, is your user-avatar shown in the top right corner? Or is it a generic user-icon?

[2020-12-11 08:58] neerro commented on #754
Hi Artur,
The nextcloud domain has a view as: my-nextcloud-domain.ru/nextcloud
Avatar is shown as a generic user-icon as I didn't put my personal user-icon.

[2020-12-11 09:20] desperateCoder commented on #754
Ok, I think this is related to this issue: https://github.com/stefan-niedermann/nextcloud-deck/issues/664

I guess your avatar in the looks like this?
![grafik](https://user-images.githubusercontent.com/6911132/101884940-b523f600-3b99-11eb-9f02-f9c25316f8d1.png)
and not like this:
![grafik](https://user-images.githubusercontent.com/6911132/101885115-fb795500-3b99-11eb-8861-428c6dd25f94.png)
(this

[2020-12-11 10:11] neerro commented on #754
"I guess your avatar in the Android app looks like this?" - definitely Yes.
Now I checked and found that I have approximate the same issue (image view) with Deck on web application (I haven't capability to see images in preview).

[2020-12-11 13:48] fm-sys commented on #392
I would like to work on it...

[2020-12-11 13:51] desperateCoder commented on #392
@fm-sys great! Just create a draft pull request and you are ready to go! If there is anything we can do for you just tell us!

[2020-12-11 13:52] stefan-niedermann commented on #392
Great, it should look like the corresponding setting in the [Notes app](https://github.com/stefan-niedermann/nextcloud-notes/issues).

Just fork the repository and start a PR where we can work together and review the progress 🙂

Some notes:
- Following system default should be the default setting
- When migrating an user who never changed the setting, use the new default
- When migrating an user w

[2020-12-11 18:14] fm-sys commented on #392
Thanks for pointing to the Notes app. I think I can use some code parts from over there...

[2020-12-11 19:05] stefan-niedermann commented on #706
@Mangleuz are you also affected by #754 ?

[2020-12-11 21:42] neerro opened #756 "✅ Toggle checkboxes in description on click"
**Describe the bug**
I've attached screenshot for clear understanding. There are no way for easy using markdown check-list in description box inside of tasks.
First of all we may observe some point before starting markdown code on the first line.
The second one I have no possibility to  mark the tasks in check-list just to put on click, for this option I should manually put X inside [ ]. For examp

[2020-12-11 22:01] stefan-niedermann commented on #756
Well, actually it's not a bug but a feature request. 😉

We replaced the complete markdown editor recently and released version `1.13.1` at the Play Store Beta channel - this will bring a few enhancements to the editor but not solve your issue yet (toggle checkboxes by click).

I will keep this issue open as a feature request, so we don't forget it. 🙂

Unfortunately I do not understand this

This p

[2020-12-12 12:12] lightlike opened #757 "Continued loading-symbol and device is currently offline after already synced."
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
Deck-App continues to load after already finishing the sync of the current deck and shows an error (see below) after waiting for about a min

[2020-12-12 12:28] desperateCoder commented on #757
Hi @lightlike, thanks for your report!

This is weird. The offline exception happens only if:
* your device is actually offline
* your device has WiFi disabled and you chose "only sync on WiFi" in the app-settings.

Do you remember if your WiFi was enabled at this time? Any chance you lost Internet connection at that time?

@stefan-niedermann what versions of the server and Android Deck are needed

[2020-12-12 12:29] neerro commented on #756
Thank you Stefan for your fast response and your correction. Yes of course it should be feature request :)

So, I mean when we mark the task as done (for example: clicked on toggle checkbox) the text is automatically become strikethrough (as: - [x] ~~Text~~). For example this feature has implemented in Trello. From my lowly point of view many functions could be taken from Trello and will implement

[2020-12-12 12:40] desperateCoder commented on #754
Well, that's very interesting! Thanks for sharing this information with us!
@MelBourbon, @jvlker can you confirm this behaviour on your instances?

[2020-12-12 12:41] stefan-niedermann commented on #756
Step by step 🙂 As i said, i agree that toggling checkboxes is a must have feature and we will support it at some point in the future.

But as a simple example where a ~~striked~~ text will completely change the semantic, take this description as an example:

[code]
In this case actuall `Sarah` needs to be displayed as ~~Sarah~~, so it ain't that easy. I will have a talk with a few designers about

[2020-12-12 12:43] stefan-niedermann commented on #754
Stop. @desperateCoder in the Web UI it is **no** bug but a not yet implemented feature (see https://github.com/nextcloud/deck/issues/2645). Please focus only on the Android app here.

[2020-12-12 13:34] neerro commented on #756
Description:
We need to find out how much sausages we will have.
Neighbours who will bring sausages:
- [x] Thomas
- [ ] Sarah
- [x] Bernhard
In this case actuall Sarah needs to be displayed as Sarah, so it ain't that easy. I will have a talk with a few designers about this topic, but for now we will only commit to implement toggleable checkboxes via click.

No. It's actually not. For this case we

[2020-12-12 15:00] desperateCoder commented on #756
If I may add my own two cents:

@neerro: Yep, thats **your** point of view. I bet if you ask ten people, you get twelve points of views.

@stefan-niedermann: Yep, not all, but **the most**.

IMHO you both got absolutely valid points. In cases like these I'm about to say: let the user decide. Make it a setting to toggle the behavior. Since I am just the backend-dude here and @stefan-niedermann is t

[2020-12-12 15:18] stefan-niedermann commented on #757
Deck Server 1.2.2, Deck Android 1.13.0

Deck Android 1.13.0 has already been released and is already available at F-Droid. You should update 🙂

However, the `OfflineException` should not occur. Maybe the connection has switched from wi-fi to mobile data during the sync and was offline for a very short time - this would explain the behavior.

I'd propose you update and when the issue does not occur

[2020-12-12 15:34] #392 closed

[2020-12-12 15:35] stefan-niedermann commented on #392
Thank you @fm-sys for solving this - The change will be released in `1.13.2`.

[2020-12-12 16:22] desperateCoder commented on #392
@fm-sys thank you! ❤️

[2020-12-12 20:16] lightlike commented on #757
I do not imagine that this has something to do with mobile data, as this is almost always disable on that phone.
There might be some wierd switching-stuff between modes in the background but I don't really see that.

I'll try the new version as soon as I can and write if that helps. (The sync is pretty quick as we see the cards change, but the loading continues even after syncing)

[2020-12-13 12:01] lightlike commented on #757
Update did not help and I found another Galaxy Phone (Galaxy A20e) that has the same problem.

[2020-12-13 12:27] stefan-niedermann commented on #757
Okay then, time to share a few more information with us (each hint will help to fix this problem):

1. Does this happen on *every* sync (pull down to refresh)?
  - If **not**: Does the not-disappearing loading spinner and the `OfflineException` always occur together or does sometimes only one of the two issues occur?
2. Please answer @desperateCoder question: Is the setting "Sync only on Wi-Fi" en

[2020-12-13 13:05] lightlike commented on #757
1. Yes. This happens every sync. We do not always get the error (it takes quite some time for the error to show up), but this behaviour always happens.
2. Should be Sync on Wi-fi and mobile data. I also see no options to change that.
3.
  - connection should be stable enought for this and the server is on the same network
  - I testet this right next to the WLAN-AP and that did not help.
  - I wil

[2020-12-13 13:57] desperateCoder commented on #757
Ok? Wow. Never heard of something similar, thats more than weird.

In the side menu, where you can also switch the boards, there is an entry for Settings. No need to change anything for resolving this bug, but maybe you'll find some useful settings there :wink:

Totally fine.

So, to sum this up: we have a strange behavior and no clue, where and why this stuff happens. If you are willing to help u

[2020-12-13 14:34] lightlike commented on #757
That makes sense. I only searched in the Android menues.
Wi-fi-only takes the same amount of time. Except once where it worked quite quick. (this is so inconsistent :confused:)

- At the moment I can reproduce the long load times but I am unable to get any error-messages to show so this might take some time.
- I did some Android Development (Xamarin) before and I might be able to find the logs (wi

[2020-12-13 14:46] desperateCoder commented on #757
If you are on Android Deck version >=1.13.0 the sync will selectively sync specific boards, which have changed. And since you stated that you host your Nextcloud instance in your own network, it may also depend on the performance of your server. So yes, it is inconsistent depending on various factors. Could you please verify, which version you are on right now? (side menu -> About)

I guess I'd go

[2020-12-13 15:14] desperateCoder commented on #757
Here you go: [APK Download ( ͡° ͜ʖ ͡°)](https://github.com/stefan-niedermann/nextcloud-deck/suites/1660072458/artifacts/30856952)

So IF it dies, it will exactly state, **what** went wrong. It is safe to install it, it won't have any effect on your current installation, so no worries. You'll end up with two deck apps on your phone, the one labeled with "dev" is this one.

[2020-12-13 22:18] lightlike commented on #757
Seems that the device that I testet was still on 1.11.1. I'll get the new version tomorrow.
I'll also install the dev-Version then and try getting something from that. But from what I have gathered today, the error will be annoying to reproduce.

[2020-12-13 23:21] Mangleuz commented on #706
Because of the not being able to use Deck on Android (no avatars) our team stopped using it. Therefore I do not know. We would love to use it on Android though!

Our Nextcloud instance is a bit sensitive/fragile so we did not want to create any local users outside LDAP since these users previously has turned into "ghost-users" that lingers around in the system after we have (in numerous ways) have

[2020-12-13 23:34] Mangleuz commented on #754
I (in retrospect stupidly enough) replied and also updated my reply to this here: #706

[2020-12-15 08:17] stefan-niedermann commented on #311
Fixed in `1.13.1`.

[2020-12-17 15:46] stefan-niedermann opened #766 "Enhance context based formatting"
`MarkwonMarkdownUtilTest` contains a few commented test cases.
`MarkwonMarkdownUtil` contains the implementation of those test cases and should be adjusted, so that all currently commented unit tests pass.

Update: The corresponding `markdown` module where the code is, has been moved to the Notes app: https://github.com/stefan-niedermann/nextcloud-notes/tree/master/markdown

The issue is still val

[2020-12-17 16:11] stefan-niedermann opened #767 "Migrate StackWidget to FilterWidget infrastructure"
The `FilterWidget` is capable of providing all information we need. To reduce the code and keep it more maintainable, we should migrate the backend of the `StackWidget` to this infrastructure.

Depends on #737.

[2020-12-18 11:41] stefan-niedermann opened #768 "Auto continuate ordered lists"
The markdown editor should automatically continue ordered lists, just like it already does for unordered lists and checkbox lists.

An ordered list can be recognized at

[code]

The new line should continue with the number of the former line + 1.
The best place to start implementing this is probably in `AutoContinuationTextWatcher#handleNewLineInserted()`.

[2020-12-18 14:56] stefan-niedermann commented on #757
@lightlike do you have any new information for us with the latest version?

[2020-12-18 17:39] lightlike commented on #757
Nope. Sorry I didn't have the time. It is currently very busy with University. I'll try getting you something in the next fiew days.

[2020-12-19 08:26] stefan-niedermann opened #769 "Highlight current board in drawer"
Similar to the Notes app, the current board should be highlighted in the drawer:

![grafik](https://user-images.githubusercontent.com/4741199/102684830-3e5fac00-41dc-11eb-9465-658108995250.png)

[2020-12-19 09:03] #768 closed

[2020-12-19 16:24] desperateCoder commented on #705
@Jeanoo could you check, if this still happens with the latest version? By "latest" I mean something above version 1.12.2 (you can look this up in the about page of the Android Deck app), there should be an update on F-Droid already. Also please make sure, you have the latest Server-Deck app, which should be at version 1.2.2.

We made a bunch of optimizations, maybe thats already enough to save yo

[2020-12-19 17:16] desperateCoder commented on #597
Just realized:

(https://github.com/stefan-niedermann/nextcloud-deck/issues/217#issue-530183936)

Should we add that? Or maybe later on? not sure how desired this is... What dou you think? @stefan-niedermann? @jakobroehrl ?

[2020-12-19 19:12] jakobroehrl commented on #597
I think this are the most useful filters:
 - my assigned cards
 - due cards

How long does it take to implement it?

[2020-12-19 19:24] desperateCoder commented on #597
We're on it for a while now to be honest :sweat_smile:

We're currently working on the "Upcoming Cards" widget: Cards assigned to me ordered by Due date. But we're prepared for more: a powerful, configurable filter widget. This might take a while to implement it really well, but while we build the basis to this, it would be interesting if we should also take projects into account. That's why I'm a

[2020-12-19 21:51] Enrico204 opened #772 "Crash when moving card with custom tags between boards"
**Describe the bug**
The app crashes when a card with a custom tag is moved between boards.

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https://try.nextcloud.com):
- [ ] Yes
- [ ] No

Sorry I can't test it right now, I'll test it in few days

Steps to reproduce the behavior:
1. Create a new card in a board
2. Add a custom tag and add the tag to the card
3. Crea

[2020-12-19 22:14] desperateCoder commented on #772
Hi @Enrico204, thanks for your report!

I think there is no need to test it in this case, I guess I know what is going on here. I'll investigate that these days and give you some feedback then.

Stay safe!

[2020-12-20 11:57] desperateCoder commented on #772
@Enrico204 are you able to reproduce it reliably? If yes, would you mind installing a dev build with more verbose logging?

I know what the problem is (the label seems not being created locally - which is **very** strange), but I can't get into these problems on my machine somehow.

[2020-12-20 12:37] desperateCoder commented on #597
Never mind, just added that.

[2020-12-20 16:05] stefan-niedermann commented on #754
Good news, we believe that we have been able to solve this issue completely. If you want, you can safely try the solution, installing the [latest `APK` directly from here](https://github.com/stefan-niedermann/nextcloud-deck/suites/1700393111/artifacts/31998649) - it will be installed parallel to your default Deck Android app.

It will be released with the next version `1.13.5`.

Please don't hesit

[2020-12-20 16:05] #754 closed

[2020-12-20 16:05] stefan-niedermann commented on #706
Good news, we believe that we have been able to solve this issue completely. If you want, you can safely try the solution, installing the [latest `APK` directly from here](https://github.com/stefan-niedermann/nextcloud-deck/suites/1700393111/artifacts/31998649) - it will be installed parallel to your default Deck Android app.

It will be released with the next version `1.13.5`.

Please don't hesit

[2020-12-20 16:05] #706 closed

[2020-12-20 16:05] stefan-niedermann commented on #664
Good news, we believe that we have been able to solve this issue completely. If you want, you can safely try the solution, installing the [latest `APK` directly from here](https://github.com/stefan-niedermann/nextcloud-deck/suites/1700393111/artifacts/31998649) - it will be installed parallel to your default Deck Android app.

It will be released with the next version `1.13.5`.

Please don't hesit

[2020-12-20 16:05] #664 closed

[2020-12-20 19:54] Enrico204 commented on #772
I can confirm that I can reproduce this issue every time. I've updated the app to 1.13.3, however the crash is still there (FYI).

Sometimes the card is duplicated, at least it seems to. I think that this might be related to a race condition between the client-to-server activity and the crash itself (the SQLite).

Also I just tried with the latest `master` (`2b0b5b24`) and the issue is still there

[2020-12-21 10:22] neerro commented on #754
Pleased to hear it from you Stefan. Really that's good news. Thank you for your nicely collaboration and hard work. I'll be waiting  with impatience for a new release (and while I'll try the latest APK). Would you tell an approximate date for it?

[2020-12-21 10:47] stefan-niedermann commented on #754
We are currently releasing `1.13.4` in a staged rollout (currently ~ 10%). We aim to get it to 100% until Dec 24.

I will publish `1.13.5` at the [Play Store beta channel](https://play.google.com/apps/testing/it.niedermann.nextcloud.deck.play) later today. It will take a few weeks though until we can roll out it completely at the production channel for all users finally (which is only partially ou

[2020-12-21 12:26] desperateCoder commented on #772
That's nothing, we can't fix:
I'd start in the `SyncManager`:
https://github.com/stefan-niedermann/nextcloud-deck/blob/d9c089fa3783534d12b4eff3dc742079269821c9/app/src/main/java/it/niedermann/nextcloud/deck/persistence/sync/SyncManager.java#L1316

The problem itself shouldn't be there directly, I suspect it later on, when cloning the assigned tags (in our code we call them `labels`) and the assign

[2020-12-21 18:08] stefan-niedermann commented on #746
@desperateCoder do you see any potential performance issues when we start querying users already with the first character?

[2020-12-21 18:32] desperateCoder commented on #746
I can clearly say: it depends. I think in most of the cases it would be totally fine to do this. If used by a bigger corporation or something, the whole thing will blow up and the phone might catch fire. Maybe we can make it depend on the amount of Users in the according `Account`. From UX-perspective, I think you would be also concerned if you have a hundred users there, and every second one has

[2020-12-21 18:52] stefan-niedermann commented on #746
@smaugilein can you confirm that the user `J` has access to the board and is not yet assigned to the card? Are you able to assign the user via the web UI?

[2020-12-21 19:07] lightlike commented on #757
Updates to Version 1.13:
- Updates work faster but still takes more than 30 sec for one board (only one board for that entire account, fiew items moved/added).
  - saw the items updating in the first 2-3 seconds
- I was unable to reproduce the exception at all (maybe that really was some network issue). I will try the dev-version over the next days.

[2020-12-21 21:17] #769 closed

[2020-12-21 21:21] smaugilein commented on #746
@desperateCoder Thank you for insights into the technique used. This means that the filtering of the user or user list happens on the device and not via server query? The server can load matching users via database query much faster than the device. I think your app is not the only one with this issue either. How do other programs solve the query?
Regarding the number of users in the installation:

[2020-12-21 21:21] smaugilein commented on #746
@stefan-niedermann Yes, "J" has access and can be added normally from the browser UI. As a workaround, I also did this exactly the same way. About the app, of course, it would be more elegant.

[2020-12-22 12:35] desperateCoder commented on #746
Exactly.

Uhm... Wait. Our app also has a database. We query data from the server and save it into out local database. We're almost fully functional without internet connection because of that. As soon as you get an connection, you can sync your local changes up to the server to synchronize both databases. The point, why the server lookup might be faster is, that the server has *slightly* more pow

[2020-12-22 12:46] desperateCoder commented on #746
By the way: this is the query we are using:

https://github.com/stefan-niedermann/nextcloud-deck/blob/0bb2388916a8f4e4191d20571e09f6a5ab2d3564/app/src/main/java/it/niedermann/nextcloud/deck/persistence/sync/adapters/db/dao/UserDao.java#L47-L55

So there are two rules:
* "J" will not be displayed, if "J" is the owner of the board (-> "J" created it)
* "J" will not be displayed, if the board already

[2020-12-25 13:08] jakobroehrl commented on #289
@stefan-niedermann
This is so awesome implemented.
Is there a change to implement this function in Android-talk, too?

[2020-12-25 13:13] stefan-niedermann commented on #289
I am not aware of one, but i happily will have a talk with @AndyScherzinger and @tobiasKaminsky if they are interested to adapt the implementation 😉 It should be pretty portable and easy to adapt I think...

Merry christmas and stay well!

[2020-12-26 11:51] desperateCoder commented on #772
@Enrico204 there's a small chance that we fixed that by accident. If you try the current master branch, it contains a fix of a (horribly dumb) mistake in a SQL-query. Take your time, just wanted to mention that.

[2020-12-27 13:08] Luke1982 opened #779 "Create push notifications when card expiry date/time expires"
I love the Android App, but it would be very nice if there was a push notification when a card expiration date/time is met or almost met.

[2020-12-27 13:16] desperateCoder commented on #779
Hi @Luke1982,

In fact this should already be working, if you have play services installed. The push notifications will pop up via the nextcloud files app. If you have play services enabled, please check your notification settings in Android. You could also check. If the server app has some settings for that. I get plenty of notifications via push.

[2020-12-28 14:58] l-mb opened #781 "Tablet/Portrait mode to display multiple columns at once"
I also use Nextcloud Deck on my tablet (or my phone in landscape mode).

There's enough space to show multiple columns/lists (splitting the screen horizontally, perhaps with configurable width/number of columns?), which would make both visualization as well as interaction more powerful.

It'd be sufficient if all lists scrolled at the same time, but if columns could be scrolled individually as wel

[2020-12-28 15:04] stefan-niedermann commented on #781
Yep, that would be an awesome enhancement, i agree. I once had a working prototype for that, back then, when we used `ViewPager` to display the lists.
Unfortunately this doesn't work anymore with `ViewPager2` (which we use for a few months now) and i have no clue how this could be implemented 🤷‍♂️

So **yes** to the request, but i need definitely help from the community with ideas about how to imp

[2020-12-28 15:07] Luke1982 commented on #779
I have the nextcloud files app (with that I mean the nextcloud main app), but I don't know what you mean by the play services. Is that an app? My nextcloud app says 'notifications are not available'

[2020-12-28 15:13] stefan-niedermann commented on #779
Correctly 👍

If you have installed a custom ROM or did some advanced modding on your phone **or** if you have a new Huawei device, it might be possible, that you are lacking Play Services (it's some proprietary stuff from Google to enable battery optimized push notifications).

In this case, the Deck app of course doesn't receive push notifications also, because we use the feature from the files a

[2020-12-28 15:14] #779 closed

[2020-12-28 19:22] Luke1982 commented on #779
I have a fairphone 3 which, as I recall is very close to stock android and I installed the app through the play store. I think I do have play services. Will check with the nextcloud people

[2020-12-28 19:34] stefan-niedermann commented on #779
Yes, when you got your apps from the Play Store, you actually **have** Play Services. In this case this might be really a bug in the Nextcloud app. Would be great if you could link your issue from the files app here and notify us about the progress 🙂 ?

[2020-12-28 20:20] Luke1982 commented on #779
I think it is the NC app version, as you can see [here](https://github.com/nextcloud/android/issues/7567). Don't want to create duplicate issues

[2020-12-28 20:38] desperateCoder commented on #779
Thanks for the feedback! Now we know what's happening, in case we get more bug reports like yours.

[2020-12-28 22:13] MediaPlusPL opened #782 "NPE on applying branding"
Version 1.13.5
Telephone huawei Mate 10 lite

[code]

[2020-12-28 22:29] desperateCoder commented on #782
Hi @MediaPlusPL, thanks for your report!

We'll have a look at this, sorry for the inconveniences.

One thing I'd also like to mention: The term "Unstable application" in the title sounds a little bit like an offense. We'll fix this as soon as possible, but reading this - while it works for 99% of our users - just hurts. We do our best providing a stable application, but we also do this in our spa

[2020-12-30 14:33] stefan-niedermann commented on #757
Thank you for the update!

Since you haven't been able to reproduce the issue, i will close this issue. Just feel free to reopen it or create a new one in case you notice this error again 🙂

[2020-12-30 14:33] #757 closed

[2020-12-30 17:06] lightlike commented on #757
Yea. Sorry I did not answer. :sweat_smile:
The new Update seems to be a lot better but some times it seems linke something forgot to disable the loading Symbol.
It works completely fine and as soon as you refresh the page (close and reopen) it seems to disappear. You do not even need to completely close the app.

[2021-01-02 08:17] foo-git opened #783 "List widget is not synced with Deck App"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
The list widget is not automatically synced when adding/editing cards in the Nextcloud Deck App, resulting in a stale view of cards.

**To r

[2021-01-02 15:13] stefan-niedermann commented on #783
That's a bit strange, i can't reproduce the issue. Hav you already tried to remove and readd the widget? What launcher are you using?

[2021-01-02 16:11] foo-git commented on #783
First, thanks for your good work regarding the Nextcloud Apps :)
I updated the bug description, as I also could not reproduce it like that, sorry.
It seems that you need to move cards to trigger the bug (at least in my case).

[2021-01-03 09:17] foo-git commented on #783
After some more observation I think it depends also on the time passed since the widget creation:
Yesterday, directly after widget creation, the Deck App and the List widgets are perfectly synced.
Some hours later of not using Deck App/List widgets, changes in the Deck App are not synced to the List widgets.
Today that's still the case.

[2021-01-04 06:23] itstueben commented on #783
I have the Same Problem.
Some hours later of not using Deck App/List widgets, changes in the Deck App were not synced to the List widgets.

Sony Xperia 5
Standard Launcher
Android 10

[2021-01-05 00:41] Enrico204 commented on #772
You're right, I did a test with latest `master` and the problem is gone! :-) great! :tada:
Thanks :-)

[2021-01-05 00:41] #772 closed

[2021-01-05 00:45] desperateCoder commented on #772
Always glad to help! 😊

Thanks for testing and reporting, this helps us a lot!

Stay safe!

[2021-01-05 15:37] morbificagent opened #787 "Archiving cards isnt synced to Android App"
If i archive a card in ne nextcloud deck webinterface this state isnt reflected to the Android-App.
If i mark the card as archived in the android app i get the errormessage:

"Status 500 Operation not allowed. This card is archived."

Which make sense, because it is already ;-)

Now i get the Sync-error on every sync of the android app :-(

The Server is Nextcloud 20.0.4 and the deck app on both s

[2021-01-05 15:45] desperateCoder commented on #787
Hi @morbificagent,

Thanks for your report! We'll have a look at this.

As a quick fix for your syncing errors, just clear the app data storage in the Android app settings. Then just reconnect in the deck app and you should be fine, until we fix this.

Stay safe!

[2021-01-06 07:54] morbificagent commented on #787
Hi together,

wow, that was a fast reply and i was it home already..
I have reinstalled the Android-App yesterday and at the moment i cant reproduce the problem.
So eventually it was a "bad timing" as i have marked the card as archived in the Webinterface, hadnt synced the android app and tried to mark it as "archive it" in the app... If i sync now it would repot this error as the app doesnt know

[2021-01-06 08:00] stefan-niedermann commented on #787
Ah, so you marked it as archived in both, the web UI *and* the android app and **then** performed a sync? this might explain the clash indeed... 🤔

[2021-01-06 08:21] morbificagent commented on #787
Yes, right.

Eventually it would be possible to catch in any way like that a "last change time"of the editing card could be checked or something like that. And if the last change time of that specific card is after the last sync -> force a sync before make changes

[2021-01-06 08:28] Ruben1992 commented on #783
Hi guys,

I am experiencing the same problem.
However I found a way to trigger the synchronisation:
If I change my power mode (just changing it, doesn't seem to matter to what mode) the widgets suddenly refresh.
So this probably has to do with a battery save program which terminates background tasks.
However for me even if I have the settings on "high performance" and disable "optimise battery usa

[2021-01-06 09:34] stefan-niedermann commented on #787
Well... hello there conflict handling 😆 We will find a solution :)

[2021-01-06 10:04] morbificagent commented on #787
;-) Perfect

[2021-01-06 18:40] desperateCoder commented on #787
I absolutely agree. Isn't even that hard. **But:**

This takes this whole thing to another level. Conflict handling is a very complex thing to accomplish, without messing up any data of our users (e.g. yours). Might work in a couple of scenarios, but could go very, **very** wrong. For now, I'd go for the small solution catching the archived-scenario and see, if we can get full conflict handling to

[2021-01-06 21:50] politas commented on #756
So what's the current state of markdown support supposed to be in the mobile app? I've got the latest version from the play store, and it seems to not be rendering any markdown elements.

[2021-01-06 22:44] stefan-niedermann commented on #756
@politas i really don't get what you mean.

Sample screenshots directly taken from version `1.13.4` which show the support for
- headlines
- lists
- checkboxes
- quotes
- syntax highlighting and
- tables

in
- edit mode (left) and
- preview mode (right) (clicking on the :eye: eye icon in the top right of the description):

| 1 | 2 |
| --- | --- |
| ![grafik](https://user-images.githubusercontent.c

[2021-01-06 23:11] politas commented on #756
Ah, I guess my problem is that I was expecting to open cards in view mode by default, and didn't notice that tiny eye symbol.

[2021-01-06 23:20] stefan-niedermann commented on #756
Glad you found it now 🙂. We will think about adding a hint and a setting for open always in view mode or rember the last decision in the future.

[2021-01-08 13:20] MediaPlusPL commented on #782
I have next problem :(

App Version: 1.13.5
App Version Code: 1013005
Server App Version: 1.2.2
App Flavor: play

Files App Version Code: 30140190

---

OS Version: 4.4.23+(354(C432))
OS API Level: 26
Device: HWRNE
Manufacturer: HUAWEI
Model (and Product): RNE-L21 (RNE-L21)

---

java.lang.ArrayIndexOutOfBoundsException: length=22; index=22
	at java.util.ArrayList.add(ArrayList.java:468)
	at it.ni

[2021-01-08 13:29] desperateCoder opened #789 "ArrayIndexOutOfBoundsException in CardDataProvider"
original post: https://github.com/stefan-niedermann/nextcloud-deck/issues/782#issuecomment-756752358

[code]

[2021-01-08 13:30] desperateCoder commented on #782
@MediaPlusPL sorry for the inconveniences! We'll have a loo at it in a dedicated issue: https://github.com/stefan-niedermann/nextcloud-deck/issues/789

[2021-01-08 13:48] #789 closed

[2021-01-08 13:50] desperateCoder commented on #789
@MediaPlusPL I think I found the problem. We were modifying a list from multiple threads at the same time. The fix will be shipped with the next release.

[2021-01-08 13:58] stefan-niedermann commented on #789
@MediaPlusPL Your second issue has been fixed in `1.13.6`. I just pushed this version to the Play Store beta channel. Depending on Google it should be available for you in the next few hours.

[2021-01-08 14:40] stefan-niedermann opened #790 "Upgrade colorpickerview"
Follow-Up issue to https://github.com/stefan-niedermann/nextcloud-deck/pull/788

[Changelog](https://github.com/skydoves/ColorPickerView/releases)

[2021-01-08 16:57] TacoTheDank commented on #790
@stefan-niedermann The specific breakage is that the `@drawable/wheel` resource called [here](https://github.com/stefan-niedermann/nextcloud-deck/blob/e94355ebf47cc345c5e455f7b9803e5f7f8e9d2a/app/src/main/res/layout/widget_color_chooser.xml#L41) no longer exists, and I think you now have to create one manually using one of the [color palettes](https://github.com/skydoves/ColorPickerView/releases/t

[2021-01-08 20:58] tensau opened #791 "Checkbox in Card view to set cards finished/archived"
It would be grwat to have a checkbox on every card in the card list which marks a card as archived (or finished when https://github.com/nextcloud/deck/issues/534 is implemented).
On my workflow, I use Deck and this really great app not only in the classic "Kanban-style", but also as a ToDo-list i.e. for grocery shopping.
Therefore, it would be useful to spare the extra click on the three dot-menu

[2021-01-08 21:36] stefan-niedermann commented on #791
When the server app has implemented such a feature, we will follow.

[2021-01-09 12:08] desperateCoder commented on #705
Ping @Jeanoo

[2021-01-09 19:14] Jeanoo commented on #705
I'm sorry, but I don't use the application anymore.

[2021-01-10 08:26] stefan-niedermann commented on #705
That's a pitty, thank you for the feedback, though 🙂.

We'll close the issue as not reproducible then because no other user ever reported it and no developer is able to reproduce it on any emulator or physical device.

In case you decide to give the app another try, let us know if you encounter any issue again.

Regards and a good start in the new year! 🙂

[2021-01-10 08:26] #705 closed

[2021-01-11 20:57] bnjbvr opened #795 "Most Android app actions duplicated on server"
**Describe the bug**

It happened to me that adding a card to a list (in a given project) would sometimes create duplicates of the same card, when refreshing on the android app (and as confirmed by looking at the web app). Today, something a bit worse happened: I've created a new project and it was duplicated; then in the new project I've created new lists, and two out of them were duplicated as w

[2021-01-11 21:06] desperateCoder commented on #795
Hi @bnjbvr,
thanks for your report! And big sorry for the inconveniences! To be honest, none of our users reported anything like that, but we'll have a look at this for sure!

This sounds really odd, the sync is mostly my code and I can't really explain how this can actually happen... Are you a new user or do you use Deck for Android for a long time and are experiencing this behavior for the first

[2021-01-11 21:49] bnjbvr commented on #795
No worries! I'm a recurring user, and I've observed this when I've started using Deck (around 6 months ago), and again just today. So it doesn't seem to happen 100% of the time, for some reason, it's intermittent. Both instances I was using WiFi and wasn't offline. I'll try to gather logs or something, the next time this happens!

[2021-01-11 21:55] desperateCoder commented on #795
Aw, that'd be great! In the meantime I'll try to reproduce that as well.

[2021-01-12 22:00] droogi opened #798 "Nullpointerexception"
Hallo Herr Niedermann
Diese Fehlermeldung hab ich beim Start der Android App bekommen.
Gruß Ralf

[code]

!-
Guidelines for submitting bug reports:

* Bug reports which do not fill the complete issue template will be closed.
* Please have a look at our [FAQ](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md)
* Please search the existing issues first, it's likely that your issu

[2021-01-12 22:08] droogi opened #799 "Fehler beim hochladen eines Anhangs"
[code]

[2021-01-12 22:12] stefan-niedermann commented on #798
Danke fürs Bescheid geben! Das scheint ein Duplikat von #782 zu sein.

Wir werden das Thema in #782 weiter verfolgen.

[2021-01-12 22:12] #798 closed

[2021-01-13 00:10] thw26 commented on #683
I'm not sure if this is the exact issue as referenced in this issue, but I am seeing the following error in the Nextcloud app when trying to add an account in the Deck app. Let me know if I can provide other information.

[code]

[2021-01-13 11:23] jakobroehrl opened #800 "📆 Upcoming cards widget"
Thanks for this nice improvement 👍
On my test it doesn't update the view.
Is this already implemented?

[2021-01-13 12:29] stefan-niedermann commented on #800
Yes this has been implemented. Please be more verbose about the issue:
- Have you tried a pull to refresh to perform a sync?
- Does it work for local changes or also not for local changes?
- What kind of actions did you perform? Move / Create / Edit, ...

[2021-01-13 12:41] jakobroehrl commented on #800
Tested and found the problem.
Due cards are only shown if I'm one of the assignees. This is good for shared board but not for private boards, I think.
At least so it is implemented on the server app

[2021-01-13 13:02] jakobroehrl opened #801 "📆 Upcoming cards widget improvements"
Thanks again, this feature is very nice.

Some improvements:
 - Maybe show more data (with option to show or hide):
    - due date
    - Board, List
 - ability to add new cards (+ sign)
 - design ideas:
![image](https://user-images.githubusercontent.com/24530680/104455636-e1230480-55a7-11eb-81a1-d420407fee1f.png)

[2021-01-13 14:58] stefan-niedermann commented on #800
I asked @juliushaertl a few weeks ago whether he can explain me how the "Upcoming cards" view of the Web UI works, but he seems to be a bit busy right now. Maybe you have more insights about this view in the Web UI?

Did we miss any other rule?

What we have right now:
- Display each card where `current user` is assigned, sorted and grouped by the `due date`

What we missed according to your comme

[2021-01-13 19:02] jakobroehrl commented on #800
This is right.

[2021-01-19 20:14] stefan-niedermann opened #804 "Move cards: Only show lossy warning if the card has lossy content"
We currently display a warning that we can't keep users, labels and attachments when we move a card.
We should only display this warning if the card has actually one of those entities.

[2021-01-21 21:13] fm-sys opened #806 "crash when adding list widget to homescreen"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

crash when adding list widget to homescreen

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https://try.ne

[2021-01-21 21:43] stefan-niedermann commented on #806
Thanks for the report. Are you able to reproduce the issue or was that a one-shot?

[2021-01-22 13:57] fm-sys commented on #806
Always reproducible for me but probably device specific. I even tried to reinstall the Deck but the bug still exists...

[2021-01-22 14:21] stefan-niedermann commented on #806
I wonder whether this might be related to [the issues on the Xiaomi launcher](https://github.com/stefan-niedermann/nextcloud-deck/issues) :thinking:

Well, the list widget was written with poor knowledge. Do you have the same issues with the "Upcoming cards" widget? Since you are on F-Droid, you should already be able to use this in the most recent version. Because if you are able to add the "Upco

[2021-01-22 22:10] fm-sys commented on #806
"Upcoming cards" is working for me (no crash), but it shows all cards which haven't any due-date and these with a due-date aren't listed at all 😅

And it currently looks not really well-designed, but this is a totally different topic ;-)

[2021-01-23 07:32] stefan-niedermann commented on #806
Well, that's another topic, indeed - it's an early draft which also has not been released on Play Store production channel because of a few known issues.

The important part here is, that it doesn't crash while adding it, so i really believe that #767 will solve this becauss of the different technologie¹ we used - it also should solve some refresh-issues for users who are able to add it without cr

[2021-01-23 07:32] #806 closed

[2021-01-23 11:30] fm-sys commented on #806
A never have worked with widgets either, but what about displaying labels etc in there? So basically the same UI as inside the app...?

[2021-01-23 11:32] stefan-niedermann commented on #806
We will continue to work on the "Upcoming cards" widget, no worries :slightly_smiling_face: It's a proof of concept to see whether it works or not (because Android is a bitch and we don't know *that* much about Android stuff either) - let's first get it work, publish for *all* users and *then* enhance it :) in little steps.

We will discuss with the UX engineers of Nextcloud about what we will act

[2021-01-23 20:48] jakobroehrl opened #807 "Error message while starting the app"
It only occurs 1x

[code]

[2021-01-23 22:01] stefan-niedermann commented on #807
Seems to be related (or even duplicate) to https://github.com/stefan-niedermann/nextcloud-deck/issues/782

I guess you got it only once and can not reproduce it?

[2021-01-24 11:36] jakobroehrl commented on #807
Right

[2021-01-24 15:44] stefan-niedermann commented on #807
Yep, it's a duplicate of #782 - closing therefore and tracking it there :)

[code]

[2021-01-24 15:44] #807 closed

[2021-01-24 15:51] #782 closed

[2021-01-24 15:52] stefan-niedermann commented on #782
Will be fixed in `1.14.1`.

[2021-01-24 15:52] stefan-niedermann commented on #807
Will be fixed in `1.14.1`.

[2021-01-25 12:16] jakobroehrl commented on #680
@stefan-niedermann
With 1.2.3 the problem is back.
Could I provide more informations to help?

[2021-01-28 11:21] tilllt opened #813 "Filter Widget issue with Multiple Assignees"
Thanks for the phantastic App.
There is a minor issue with the "Filter by Username" functionality. As far as i can see, the Filter needs an exact match to show Cards that are assigned to you. That maybe a desired behaviour for some people, in our context, we have tasks which are assigned to multiple people in the Team.

I may have a Task to complete, it may be assigned to
- John Doe
**AND**
- Jane

[2021-01-28 11:44] desperateCoder commented on #813
Hi, thanks for your report!

I absolutely agree with your point, but I thought I built it just that way... Tested the filter and got this:

https://user-images.githubusercontent.com/6911132/106133846-13b32c80-6166-11eb-9a68-80f438e73fbf.mp4

Did I understand something wrong? You mentioned a Widget, but it is work in progress and not yet released afaik. Do you mean the stuff in the video above?

[2021-01-28 11:47] stefan-niedermann commented on #813
@desperateCoder the "Upcoming cards" widget is released on F-Droid and at the Play Store beta channel. He means that.

[2021-01-28 12:00] tilllt commented on #813
No, sorry for the confusion. I think I used the term "Widget" while I mean the app. I am checking right now if there is a different problem that causes the mentioned behaviour.

[2021-01-28 13:50] tilllt commented on #813
There was a totally unrelated problem with the Sync of the Cards, so i couldnt find them since they were not already synced. Sorry for the confusion. Thanks again for the great app.

[2021-01-28 13:50] #813 closed

[2021-01-28 13:51] desperateCoder commented on #813
😅 never mind, you're welcome! Glad, it worked out for you!

[2021-01-29 07:25] velletti opened #814 "Attach image to a card, stored in nextcloud not possible (crash)"
Steps to reproduce the behavior:
1. Go to ' single card -> attachment'
2. Click on ' show all files '
3. Scroll to your nextcloud server. select the folder with image and select image'
4. See error

[code]

**Expected behavior**
Image should be attaced like images i took with my phone and are stored locally on the phone.
if i first download the same image to the phone f.e. by sending it via whatsa

[2021-01-29 07:31] stefan-niedermann commented on #814
Absolutel, thank you for the report 🙂
I'll have a look at this.

[2021-01-31 10:28] stefan-niedermann commented on #814
That's a bit weird: I am able to reproduce this on my physical device but on the emulator it works as expected. I will try to debug my physical device now to find the differences.

[2021-01-31 10:59] stefan-niedermann commented on #814
Okay, it looks like picking this kind of files must not happen on the UI thread (which makes sense because it might not yet be available on the device and a download would block the UI).

The fix will be released with version `1.14.2` which will soon be available at F-Droid and the [Play Store beta channel](https://play.google.com/apps/testing/it.niedermann.nextcloud.deck.play). It will unfortunat

[2021-01-31 10:59] #814 closed

[2021-01-31 11:00] stefan-niedermann commented on #814
Thanks for the report :heart:

Feel free to reopen the issue in case it occurs again *after* `1.14.2`.

[2021-01-31 11:06] stefan-niedermann commented on #799
Are you able to reproduce this issue?
Might the storage of your phone be full?

[2021-01-31 12:00] droogi commented on #799
Hello, indeed I noticed two days ago that the SD in my mobil is full. I cleaned up a bit and used my second account my.owndrive.com for testing. I could not reproduce the failure. I cannot test with my raspberry nextcloud, it was installed fresh and I can't install deck because of unzip error.
I ll send a comment when deck is available in my installation.
Regards, droogi

[2021-01-31 13:13] stefan-niedermann commented on #800
@jakobroehrl would you please test [this apk](https://github.com/stefan-niedermann/nextcloud-deck/suites/1936029170/artifacts/38210062)? It should also show all cards of not-shared boards with a due date.

Thanks to @desperateCoder who implemented the missing feature!

[2021-02-01 06:39] jakobroehrl commented on #800
Tested it, it works much better, thanks!
Found nevertheless a bug, I think.
To me assigned cards are twice in the widget list.

[2021-02-01 06:58] stefan-niedermann opened #818 "📆 Upcoming cards widget - assigned cards duplicates"
Origin: https://github.com/stefan-niedermann/nextcloud-deck/issues/800#issuecomment-770611171

Cards from boards which are not shared which areassigned to one self will be in the Card widget doubled.

**Maybe we should simply use as `Set` instead of a `List` here?**

[2021-02-01 06:58] stefan-niedermann commented on #800
Will be tracked in #818

[2021-02-01 06:58] #800 closed

[2021-02-01 11:47] #818 closed

[2021-02-01 12:10] desperateCoder commented on #818
fixed on `master`

[2021-02-01 12:16] stefan-niedermann commented on #818
@jakobroehrl In case you want to test & confirm: [Here is the `.apk`](https://github.com/stefan-niedermann/nextcloud-deck/suites/1941453844/artifacts/38354532) which should fix the duplicates :slightly_smiling_face: - thx @desperateCoder

[2021-02-01 12:34] jakobroehrl commented on #818
Working fine.
The cards in the category "no due" are on the server version only shown if they are on a shared board and assigned to me.

[2021-02-01 12:40] stefan-niedermann commented on #818
@jakobroehrl please open a separate issue for that :) We can enhance the widget step by step, but now we will roll out it first, before we are getting lost in fine tuning - i heard some people are waiting for it :smile:

[2021-02-01 13:19] jakobroehrl opened #819 "📆 Upcoming cards widget - "no due" cards"
Origin: https://github.com/stefan-niedermann/nextcloud-deck/issues/818#issuecomment-770824058

Cards in the category "no due" are on the server version only shown if they are on a shared board and assigned to me.

[2021-02-01 21:17] kartoffelheinz commented on #783
Same problem here, using latest Android 11 on Pixel 4 with app version 1.14.1, installed from Google Play Store.

Refreshing of List widgets does not seem to work at all. I cannot force a refresh using power mode switching as Ruben1992 suggested.

Anything I can do to help?

[2021-02-01 22:22] stefan-niedermann commented on #783
@kartoffelheinz a Pull Request for #767 is of course appreciated - otherwise you will unfortunately have to wait until we reimplement the widget ourself. I don't think there is a "quickfix" for this issue. :slightly_frowning_face:

[2021-02-02 10:34] kartoffelheinz commented on #783
I understand. Sadly, I have zero experience in android app development :/

Since the Widget-Filter / Upcoming-Widget seems a lot more important, I vote that you put your available time into developing / improving these, as it has much more important use cases than single stack views anyway.

[2021-02-02 11:19] desperateCoder commented on #819
Hi @jakobroehrl,
try [this](https://github.com/stefan-niedermann/nextcloud-deck/suites/1949752262/artifacts/38588190) please and let us know what you think.

![image](https://user-images.githubusercontent.com/6911132/106592703-2061c700-6550-11eb-8125-40803262c616.png)

[2021-02-03 08:10] stefan-niedermann commented on #819
Released in `1.14.5`.

[2021-02-03 08:10] #819 closed

[2021-02-04 12:36] Ruben1992 commented on #783
I have found that the widget does synchronise, but it does take quite a long time. I havent measured how long it takes, but it is in the order of days.
But I agree with kartoffelheinz, I think its better not to devote time on this, but instead focus on the reimplementation of the widget

[2021-02-05 12:35] jakobroehrl opened #822 "Upcoming cards widget - cards of deleted/archived boards are shown"
I see some cards of deleted and/or archived boards in my overview widget

[2021-02-05 13:28] desperateCoder commented on #822
Very good point! Thanks! I am currently filtering only deleted, cards, my bad. I'll fix that asap

[2021-02-05 14:36] stefan-niedermann opened #823 "NPE in CardPropagationDataProvider"
[code]

[2021-02-06 17:20] hjuergens opened #824 "IllegalargumentException in NextcloudArrayDeserializer"
Right after i select my account i  get the following message:

[code]

[2021-02-06 17:55] desperateCoder commented on #824
Hi, thanks for your report!

I lately had something similar,does restarting the app fix this? Worked out for me... If that doesn't help, please try deleting the app storage via android app settings, then retry.

Sorry for the inconveniences though!

While this is a quick fix, I'll investigate this further, seems like an inconsistent answer from the server, really weird...

[2021-02-07 14:05] #824 closed

[2021-02-07 14:10] stefan-niedermann commented on #824
@hjuergens will be fixed in `1.14.6`.

[2021-02-07 14:19] #823 closed

[2021-02-08 18:00] kartoffelheinz commented on #783
As an additional sidenote: The new Upcoming Widget seems to suffer from similar refreshing problems. Since I use the beta version I would refraing from opening another issue for that at this time, this is just to let you know. Maybe it helps to narrow down what the problem is, as I believe the upcoming widget already uses the new FilterWidget infrastructure.

[2021-02-08 20:05] jakobroehrl commented on #680
@stefan-niedermann
Found the reason for the my sync problem.
Add 2 accounts and sync, delete the deck app on one of the the two servers. Now the sync doesn't work for both added accounts.

[2021-02-09 08:08] maxammann commented on #680
@jakobroehrl I only use one account and did not have problems the past months. Seems like the issue you are experiencing is a different one. I think you should create a separate issue.

[2021-02-12 19:01] droogi commented on #799
i could not reproduce the error anymore.
But i found a lot of error messages when internetconnection (mobile connection) is not available, this is not noticed by the deck app. i did not notice that there is no connection. i collected 5 different messages, should i send it by message or attach it here anywhere?

[2021-02-12 19:04] desperateCoder commented on #799
If it states "Offline exception", this is absolutely normal. Of it is something else, feel free to post them here or in a new issue, I don't really care since they need to be reviewed anyways.

Thanks for the research! ❤️

[2021-02-12 19:04] desperateCoder commented on #799
If it states "Offline exception", this is absolutely normal. Of it is something else, feel free to post them here or in a new issue, I don't really care since they need to be reviewed anyways.

Thanks for the research! ❤️

[2021-02-13 00:33] dudeofawesome commented on #756
Opening in view mode would be nice, given that is the default view for the web app as well.

[2021-02-14 13:01] desperateCoder commented on #822
I just fixed this in 9891fc39ffff0ab67d63c38037435e2746c05558 . Unfortunately i messed up the commit message (wrong ticket id), but yeah, no problem at all.

@jakobroehrl if you like, you can give it a try: [Download APK](https://github.com/stefan-niedermann/nextcloud-deck/suites/2037061654/artifacts/40961899)

[2021-02-14 13:47] #787 closed

[2021-02-14 13:59] desperateCoder commented on #683
@thw26 well? that's really odd... In theory, it shouldn't be even possible to run into this error. But anyways, I added a null check to prevent this error. Should be fixed now.

[2021-02-14 13:59] #683 closed

[2021-02-14 20:56] jakobroehrl opened #826 "No sync with OnePlus until battery saving is disabled"
Tested with Oneplus 5T, 7T and Huawei P30 some days.
With both OnePlus Phones after some hours this problem occurs https://github.com/stefan-niedermann/nextcloud-deck/issues/680 (it does not matter if background sync is on or off) till I disable battery saving for the deck app like here: https://dontkillmyapp.com/
With the P30 on the other hand I have no problems, here I don't have to disable the

[2021-02-14 21:02] stefan-niedermann commented on #826
Hm. Yeah, we have it mentioned [in our FAQ](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md) and since it affects all apps which use the Single Sign On mechanism, i think we should aim for a more genral solution.

We already have a similar issue here: https://github.com/nextcloud/Android-SingleSignOn/issues/162

[2021-02-15 07:55] drs-project opened #829 "not all cards from nextcloud deck show up in the app"
I like the deck app very much, but I just noticed that some cards are missing in the app.
I run the latest deck app in nextcloud with several boards. In one of them two cards don't get synced to the app on my android phone, despite all filters beeing disabled. I can't really see a difference to the other cards.
Pulling down (reloading) in the app doesn't change the situation.

Please give me a hin

[2021-02-15 08:20] stefan-niedermann commented on #826
Actually, if the `NextcloudApiNotRespondingException` would pop up to the UI, we could display a dialog with a few hints. But it seems like it doesn't get thrown and instead an answer never comes to the UI which causes the spinner to turn forever. @desperateCoder  can you check why / where this particular exception is caught?

[2021-02-15 10:51] desperateCoder commented on #829
Hi @drs-project, thanks for your report!

Next time, please fill out the issue template, it's there for a [reason](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed).

We talked about this and came to the conclusion, that it might be a synchronization issue, so please try the following:
* Open one of the missing cards and change something - ma

[2021-02-15 11:00] desperateCoder commented on #826
I don't catch this exception at all. It is propagated up to the UI, just as an `OfflineException` or any other `Throwable` would (except special cases like ETag mismatch). I bet you don't trust me, so feel free to have a look at the `SyncHelper` class.

[2021-02-15 13:19] drs-project commented on #829
Yes, after changing one card in nextcloud both missing cards showed up in app.
There is no related message in the nextcloud or apache logs.

[2021-02-15 13:33] stefan-niedermann commented on #829
@desperateCoder `ETag`s?

[2021-02-15 13:41] desperateCoder commented on #829
@stefan-niedermann Most likely. Not sure what caused this and no idea how to reproduce that behavior... It's even possible, that this is a server issue (not updated the Etag on card creation). Or. If the app is killed mid-sync the stack is updated but the cards are not. At the next sync the whole sta k is ignored because of the Etag match.

I don't see any elegant way to solve this. Maybe we need

[2021-02-15 22:59] tigexplorer opened #830 "The filesize of an attachement should be checked to prevent filezize error"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Attached images with more then 2MB throw an error or are not saved in the card without displaying an error

**To reproduce**
Issue is repro

[2021-02-16 05:40] droogi opened #831 "Move to new created board: NPE in CardPropagationDataProvider"
When moving a card into a new created board

[code]

[2021-02-16 05:43] droogi opened #832 "Konto neu angelegt, offline"
[code]

[2021-02-16 05:55] droogi opened #833 "phone was offline"
[code]

[2021-02-16 05:58] droogi opened #834 "collected error #4"
[code]

[2021-02-16 06:00] droogi opened #835 "fehler beim Anlegen des Boards"
[code]

[2021-02-16 07:52] stefan-niedermann commented on #833
This is not about the Nextcloud Deck app.

[2021-02-16 07:52] #833 closed

[2021-02-16 07:53] stefan-niedermann commented on #835
Duplicate of #832

[2021-02-16 07:53] #835 closed

[2021-02-16 07:56] stefan-niedermann commented on #832
This error happens when your server does not respond within 1 minute. Sorry, but i am afraid, there is nothing we can do on the apps side unfortunately. You should check your server logs for further investigations.

[2021-02-16 07:56] #832 closed

[2021-02-16 08:07] stefan-niedermann commented on #834
Hallo @droogi vielen herzlichen Dank für das Sammeln der Fehler und das zusenden dieser. Das hilft uns, Fehler zu finden, die in Umgebungen auftreten, die wir so nicht vorhersehen konnten. Ein paar Kleinigkeiten möchte ich dir jedoch mit auf den Weg geben:

1. Du hast kein einziges mal das Issue-Template verwendet. Dieses ist aus einem Grund da. Eine blanke Fehlermeldung hilft uns leider nicht seh

[2021-02-16 08:15] stefan-niedermann commented on #830
Good catch. The problem is, that the `2 MB` limit is set by the **server** (and is different in each environment), and we can not know this limit before we got the error message.

I agree though, that we should display a more readable error message at the dialog. To achieve this, the exception can be analyzed in the [`TipsAdapter`](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/ap

[2021-02-16 08:21] droogi commented on #834
Hallo Stefan,
Ich hatte in der letzten Mail dich geschrieben, das ich die Fehler gesammelt hatte, als das Telefon offline war. Ich hab leider nicht aufgepasst, was ich genau gemacht hatte. Deswegen auch die "falschen Templates" und auf Deutsch.
Bitte wieder schließen falls nicht hilfreich.
War nicht bös gemeint. Ich probier das nächste Mal richtige Reporte auf Englisch zu schreiben.
Gruß Ralf

Am

[2021-02-16 08:24] stefan-niedermann commented on #834
Alles klar, danke für die Infos. Für diesen konkreten Fall bin ich mir ziemlich sicher, dass er sich mit Version `1.14.2` bereits behoben wurde.

Die weiteren Issues habe ich wie gesagt geschlossen und ein Issue (das beim Verschieben von Karten) werden wir näher untersuchen.

Viele Grüße

Stefan

[2021-02-16 08:24] #834 closed

[2021-02-16 08:25] stefan-niedermann commented on #834
PS.: Bitte auch die Nextcloud App updaten, die ist ebenfalls veraltet. Auf F-Droid ist mindestens version `3.15.x` vorhanden. :wink:

[2021-02-16 08:43] droogi commented on #834
Das war nochmal ein Bedien Fehler von mir, die Paket Quellen waren nicht aktuell, das musste ich händisch machen, deswegen wurden alle  Apps als aktuell angezeigt

Am 16. Februar 2021 09:26:13 MEZ schrieb Niedermann IT-Dienstleistungen <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2021-02-16 08:47] tigexplorer opened #836 "Add options to attached image for downloading and sharing"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**

If one like to share a attached image, one have to do many additional steps for login, downlo

[2021-02-16 10:48] desperateCoder commented on #831
This is already fixed by https://github.com/stefan-niedermann/nextcloud-deck/commit/b72131984a60982e3b59d8deb773b6dffe8e4ce9

@stefan-niedermann is this commit already released? (committed on Feb 7, 2021)

Maybe all @droogi needs to do is update Deck?

[2021-02-16 10:48] #831 closed

[2021-02-16 10:55] desperateCoder commented on #799
Closing because not reproduceable anymore, maybe due to old version. Feel free to reopen or create a new issue, if this occurs again @droogi

[2021-02-16 11:09] #799 closed

[2021-02-16 13:08] stefan-niedermann commented on #799
Actually i think that this was the root cause as it makes sense that no temporary fipe can be created when the storage is full.
But yes, closing since not reproducible.

[2021-02-17 16:25] desperateCoder commented on #822
ping @jakobroehrl :sweat_smile:

[2021-02-18 07:48] jakobroehrl commented on #822
Working fine, good job!

[2021-02-18 08:17] stefan-niedermann commented on #822
@desperateCoder already in `master`?

[2021-02-18 08:23] desperateCoder commented on #822
✅

[2021-02-18 08:27] stefan-niedermann commented on #822
Great! Will be released with `1.14.6` then :slightly_smiling_face:

[2021-02-18 08:27] #822 closed

[2021-02-19 06:19] yellowapple2018 commented on #819
Hi, how can I get version 1.14.5 ?

[2021-02-19 06:23] yellowapple2018 opened #838 "Not showing upcoming cards tab ?"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https://try.nextcloud.com):
- [ ] Yes
- [ ] No

Steps to re

[2021-02-19 07:25] desperateCoder commented on #838
There is no "tab", but we have a Widget for your home screen.

You can add it just like any other widget by pressing and holding on a free space of your home screen.

[2021-02-19 08:01] #838 closed

[2021-02-19 08:02] stefan-niedermann commented on #838
https://help.nextcloud.com/t/deck-android-1-14-upcoming-cards-widget/106402

[2021-02-19 11:37] stefan-niedermann commented on #795
@bnjbvr have you been able to fetch any logs in the meantime?

[2021-02-19 11:43] stefan-niedermann commented on #741
@jmlgo could you please check whether the same issue appears with the "Upcoming cards" widget?

[2021-02-19 11:46] jmlgo commented on #741
Checked. Seems to work like a charm! (v1.14.4)

[2021-02-19 11:53] stefan-niedermann commented on #741
Okay, we plan to rewrite the list widget from scratch (and write it like the Upcoming cards widget), so let's close this issue in favor of #767 - please subscribe to this issue to get news about the current progress. :+1:

[2021-02-19 11:53] #741 closed

[2021-02-19 13:33] bnjbvr commented on #795
I use Deck a bit less frequently because of this particular issue, and I haven't retriggered it since this bug report. So, no -- sorry it's not a very helpful response.

[2021-02-19 13:51] stefan-niedermann commented on #795
No problem. Since we aren't able to reproduce the issue and are quite blind without any logs, i propose to close this issue until we have further information. I literally have no clue how we should find the root cause, especially since this seems to affect no other user.
Is this fine for you @bnjbvr ?
Maybe you can also verify whether this behavior happens for you on another instance (there are va

[2021-02-19 13:56] bnjbvr commented on #795
Yes, sure! I'll let you know if this happens again in the future!

[2021-02-19 13:56] #795 closed

[2021-02-19 14:40] stefan-niedermann opened #840 "Create sample lists when creating a new board"
Blocked by https://github.com/nextcloud/deck/issues/2811

If we implement it now, the sample lists ("ToDo", "WiP" & "Done") will be duplicated after the next sync as the server also creates those lists currently.

[2021-02-19 14:41] stefan-niedermann opened #841 "Select neighbour list after deleting a list"
Current behavior: The first list of the board is selected after a list has been deleted
Expected behavior: The list on the left side of the deleted list should be selected next

[2021-02-19 14:45] stefan-niedermann opened #842 "Merge Activities and Comments tabs"
- Web UI did this as well
- We need some kind of menu to toggle whether the "details" (activities) are collapsed or expanded
- ...?

[2021-02-19 14:46] stefan-niedermann opened #843 "Comments tab: Instead of comments icon next to input box, show person’s avatar"

[2021-02-19 14:48] stefan-niedermann opened #844 "Make enabled branding default, use instance color for global elements"
- [x] "Branding" should be enabled by default
- [ ] The navigation heading however should always be branded according to instance, not switch based on board (since it's a global element)
- [ ] Same for Settings and About – these should always use instance color
- [ ] Same for incoming activities like create shortcuts, widgets choosers etc.
- [ ] Then we can also remove the setting completely

[2021-02-19 14:56] stefan-niedermann opened #845 "📅 Upcoming cards: Sort section "No due date" by last modified DESC"
This is UI logic and shouldn't be handled by the database. We are sorting the cards for the Upcoming cards widget in the UI anyway.

[2021-02-19 15:01] stefan-niedermann opened #846 "When opening a card from a widget and closing it should display the list of the opened card"
1. Open app
2. Select board A
3. Close app
4. Click on a widget card which is in board B
5. close the card / navigate back
6. See board A, but should be board B

[2021-02-19 19:09] #843 closed

[2021-02-21 21:53] neerro opened #847 "Searching feature in decks"
It would be great if you'll add to Android  Deck app a searching feature whether in deck itself or in all decks in common.

[2021-02-21 22:05] stefan-niedermann commented on #847
Please use the search function before opening new issues.

Duplicate of https://github.com/stefan-niedermann/nextcloud-deck/issues/630

[2021-02-21 22:05] #847 closed

[2021-02-23 10:07] q-wertz commented on #690
Sorry to post in an old issue but I didn't want to open a new one as this is more of a discussion.

I think having the upcoming cards view also in the app would be quite nice.
1. The user experience is then similar to the one in the browser
2. I was looking 100 times for it in the app (because I read about it in the changelog) until I understood that it is a widget ( I think more people have the s

[2021-02-23 10:14] stefan-niedermann commented on #690
I agree, we should add an upcoming cards view to the app as well.

[2021-02-24 08:38] MediaPlusPL opened #849 "Unexpected error?"
[code]

[2021-02-24 11:02] desperateCoder commented on #849
Hi @MediaPlusPL,
thanks for your report.  I can see from the stacktrace that you tried to create a comment. The error is, that the ID for the comment returned by the server already exists on your device, this shouldn't be possible to happen.

Can you please describe the steps you made to get this error? Can you reproduce the error? How many accounts have you connected to your Deck app?

Also, plea

[2021-02-25 13:53] neerro commented on #630
Have you any understanding about the date when the feature will be implemented?

[2021-02-25 14:06] stefan-niedermann commented on #630
I will comment here if i have any news. Please *only* use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Asking will not make me have more free time but limit the time i can work on the Deck app. Contributions are welcome of course.

[2021-02-25 14:26] neerro opened #854 "Sharing cards through different Android apps whether photo or text."
Would be nice to implement cards  sharing feature through Android apps whether photo or text. As minimum we could get the information from header and description field, but if it possible better will be taken all card information as date, tags, appointment.

For example if I wanna share cards with someone from deck app to WhatsApp, Telegram, SMS, cloud app or another available apps installed on my

[2021-02-25 14:42] neerro commented on #847
Of course I tried search the issue/enhancement before I've created the topic but unfortunately I found nothing. I think that I incorrect used the GitHub search.

[2021-03-03 15:31] stefan-niedermann commented on #849
Ping @MediaPlusPL please have a look at [the comment](https://github.com/stefan-niedermann/nextcloud-deck/issues/849#issuecomment-784995762) written by @desperateCoder and answer his questions.

[2021-03-03 15:41] stefan-niedermann commented on #756
Checkboxes can be toggled within view mode starting with `1.15.0`.

Please open a separate issue about that topic. We will need some UX input here, because valid options are
- Always open in view mode
- Always open in edit mode
- Remember last state per card
- Remember last state per board
- Remember last state globally

Those are too many options to maintain and i'd like to pick some useful defau

[2021-03-03 15:41] #756 closed

[2021-03-03 20:43] stefan-niedermann commented on #854
Starting with version `1.15.1` there will be a menu item on each card to "Share content" - This will contain the description, due date and tags.

Dealing with attachments is way more complicated and therefore out of scope for this issue - We don't store all attachments locally, which would consume too much traffic and storage. Also sending all the stuff (there might be dozens of attachments at a c

[2021-03-03 20:43] #854 closed

[2021-03-03 21:16] stefan-niedermann commented on #854
(see #836)

[2021-03-04 11:24] #804 closed

[2021-03-05 19:05] dtcg commented on #754
Issue is still happening: attachments are not showing in the mobile app.

**Context**:
F.droid version 1.14.6
Attachments are docx files, showing on desktop and stored on Nextcloud.

[2021-03-05 19:12] stefan-niedermann commented on #754
There are no previews for non-image files but only generic icons.

If the attachments aren't shown at all please open a new issue filling the complete issue template including a screenshot. This issue was about something different (generic icons were displayed instead of previews).

[2021-03-06 13:24] dtcg opened #860 "Attachments are not showing in the mobile app."
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Attachments are not showing in the mobile app:

| 1 | 2 |
| --- | --- |
| ![Screenshot_2021-03-06-13-59-56-340_it niedermann nextcloud deck

[2021-03-06 13:38] desperateCoder commented on #860
Hi @dtcg, thanks for your report!

:laughing: nice one! Then the answer would probably be "no" i guess, no worries!

Could you please try to delete the app data/storage in androids app info and reconnect to your account? I suspect the sync went wrong at some point and now the `etag`s are preventing the card to get synced properly. Alternatively you could try to change something in the description

[2021-03-06 14:20] stefan-niedermann opened #861 "Renaming Stack is synced up, but not down"
Deck Server: `1.2.4` and `1.2.5`
Deck Android: `master`, `1.15.0`

Does the `ETag` maybe not change?

[2021-03-06 14:40] desperateCoder commented on #861
@juliushaertl the etag seems not to be updated at stack/list-rename. Could you please check that? As soon as I change the card via web UI, we get an updated name.

[2021-03-06 15:33] dtcg commented on #860
After clearing all app data, it now struggles to connect to the server. I sometimes get blank boards or half the cards showing, weird.
I'm also getting several error messages:

[code]

[code]

[2021-03-06 15:45] dtcg commented on #860
Update: Issue is reproducible with an account from try.nextcloud.com: **yes**

[2021-03-07 10:30] mrbenjoi opened #862 "Tag dropdown in card editor doesn't show tags which were removed in same edit activity."
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

**To reproduce**
Issue is reproducible with an account from [try.nextcloud.com](https://try.nextcloud.com):
- [X] Yes (Haven't tested, but

[2021-03-07 10:45] desperateCoder commented on #862
Hi @mrbenjoi, wow, very good catch! And very nice detailed explanation, we'll have a look at it!

@stefan-niedermann I haven't any chance to include the deleted one, because it is deleted at save. I guess you'll need to handle this on the UI...

[2021-03-07 11:35] desperateCoder commented on #860
Oof, sorry for that! But while having a look at the error messages, from what I can see here, your server seems to be kind of broken... Does the web-UI even still work? I mean see this:

This indicates, that the server answers with some HTML instead of the JSON we requested, that's a huge hint for "your server is broken" or "something other than your server is answering"

I noticed in your screens

[2021-03-07 11:45] desperateCoder commented on #861
Blocked by: https://github.com/nextcloud/deck/issues/2866

[2021-03-07 15:36] dtcg commented on #860
Thanks for your efforts ;)

Same issue without VPN and the web-UI works... I'm clueless.

Maybe a version thing...?

[2021-03-07 15:43] ke-lin opened #864 "Show DisplayName instead of UID attribute for LDAP users"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**

The Deck App shows the uid attribute of LDAP users, which is a long cryptic string. This make

[2021-03-07 15:43] desperateCoder commented on #860
Well, I'm clueless as well,so I'd suggest building a special, more verbose version only for you. Would be a shame not being able to solve this. Just give me a couple of minutes, I'll comment here soon

[2021-03-07 15:59] desperateCoder commented on #860
Here you go: [APK: (≧︿≦)](https://github.com/stefan-niedermann/nextcloud-deck/suites/2198333945/artifacts/45372833)

This is a dev-build, you can install it along your actual version safely, it won't break anything, despite it's already broken :sweat:

This version will most probably die as well, but also provide a move useful stacktrace, so we can see what the server actually responds. Please see

[2021-03-07 16:22] desperateCoder commented on #864
Hi @ke-lin, thanks for your report!

You mentioned the notes app, are you sure this is the right repository for your report? @stefan-niedermann is also the owner of the nextcloud deck app for Android, the repository we are in right now.

If you accidentally mixed it up, please close this issue and open one here: https://github.com/stefan-niedermann/nextcloud-notes

If you actually refer to the dec

[2021-03-07 16:27] desperateCoder commented on #864
Oh, I just saw you already created one there. Never mind! I'm gonna close this one in favour of https://github.com/stefan-niedermann/nextcloud-notes/issues/1079

[2021-03-07 16:28] ke-lin commented on #864
It is valid for both apps. I just updated the description.

[2021-03-07 16:29] ke-lin commented on #864
The DisplayName should be displayed in the Account switcher View.

[2021-03-07 16:31] desperateCoder commented on #864
Ok, thanks for the update, and sorry for being hastily :sweat_smile:

We'll have a look!

[2021-03-07 16:37] ke-lin commented on #864
No worries. It was my fault, since i messed up the issue description.
Thanks for having a look.
I have added a screenshot to the description.

[2021-03-07 16:50] dtcg commented on #860
Done. (I suppose I've neutralised all the sensitive stuff)

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2021-03-07 17:03] dtcg commented on #860
I guess their server is under maintenance or something.

[2021-03-07 17:09] desperateCoder commented on #860
@dtcg we actually handle maintenance already very well... We display an according message in this case. Seeing all those messages made me die inside a little, I think I need to sleep over this. As mentioned, I never saw something similar in the entire history of this app. What really makes me curious:

I don't know, but my NC-instance is up to date and I just have the Deck-Webapp at `1.2.5`. Your

[2021-03-07 20:06] varac commented on #680
This is still not solved with latest v1.14.6. I had this for-ever spinning wheel multiple time in the last days.
When I force-stop the app and start again, it syncs very fast.

[2021-03-07 20:21] stefan-niedermann commented on #861
Closing in favor of https://github.com/nextcloud/deck/issues/2866

[2021-03-07 20:21] #861 closed

[2021-03-07 20:23] szaimen commented on #680
If I understand this issue correctly is that the Deck app automatically starts the synchronisation when the app is started. If you then pull to refresh manually, it justs shows the spinner forever because there is probably some race condition between the manual and automatic refresh. How this could be solved is to show the spinner always if the synchronisation happens so that you don't trigger a m

[2021-03-07 20:28] stefan-niedermann commented on #680
This is correct.

Actually we are queuing the synchronization attempts - so it will be filled at start with the startup-sync. If one then triggers a manual sync, it will be queued and executed after the startup-sync has been finished. I agree there might be some race condition - the question is whether it is only a visual issue or a sync issue.

@desperateCoder i guess the cleanest way to fix any

[2021-03-07 20:43] dtcg commented on #860
I just tried to connect ;) and then the first message appeared. As I tapped "copy", the code seemed to change, so I carried on copying from the app and pasting into separate text files. I had to repeat this about 10 times so I'm actually not sure some messages aren't duplicates... I did find it weird it wasn't one consolidated error log but there you go.

It is hosted on some FOSS French associati

[2021-03-07 21:38] stefan-niedermann commented on #845
Will be fixed in `1.15.1`

[2021-03-07 21:38] #845 closed

[2021-03-07 21:48] stefan-niedermann commented on #849
[Why this issue has been closed](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed).

[2021-03-07 21:48] #849 closed

[2021-03-07 22:25] stefan-niedermann opened #865 "Single card widget"
- [x] Adjust headline to match text style of other widgets
- [x] Task counter text seems to be set on the wrong text view

[2021-03-08 08:42] #865 closed

[2021-03-08 09:06] #767 closed

[2021-03-08 09:10] stefan-niedermann commented on #783
The rewritten list widget will be part of `1.15.2`. Please feel free to open new issues if starting with this version any problems occur with the list widget.

Please note that it is important to write exact steps to reproduce (e. g. "I moved a card from list B to list A on another device. I can see the changes in the Web UI and in the Android App but not in the list widget of A") - name *what* yo

[2021-03-08 09:10] #783 closed

[2021-03-08 10:57] desperateCoder commented on #860
Any chance, that the context root of your Nextcloud instance has changed? I saw they updated some stuff but the Circles app still won't work - but thats fine, we don't depend on that.

Could you upload a file via web-UI into the files app and synchronize your android files app to see, if it is shown there? I suspect the connection between your files app and your server to break it... something is

[2021-03-09 09:05] stefan-niedermann commented on #860
I have been able to reproduce the original issue (attachments being not visible) - seems to be a bug with the deck server app 1.3.0+. Regarding the other error messages i also believe that there was some kind of migration or misconfiguration of your instance. Those are unrelated to the actual issue IMHO.

[2021-03-09 12:38] dtcg commented on #860
More testing :

data.tedomum.net (instance under maintenance)
* connection : throws the many error messages posted earlier

Framadrive.org (another instance I'm using)
* connection : OK
* upload attachment from phone app: OK
* upload attachment from web app : OK

demo1.nextcloud.com
* connection: OK
* upload attachment from phone app : OK
* upload attachment from web app : OK

demo2.nextcloud.com

[2021-03-09 12:50] desperateCoder commented on #860
@dtcg thanks for the great research! We'll have a look.:heart:

[2021-03-09 14:49] stefan-niedermann commented on #860
I debugged the issue and it's definitely a server error of Deck 1.3.0+.

I [opened an issue in their repository](https://github.com/nextcloud/deck/issues/2874) - nothing we can fix on our side, unfortunately. I'd suggest you to subscribe to it and upvote the issue.

Thank you for the detailed reports though and the hard work you put in there to support us finding the root cause :slightly_smiling_f

[2021-03-09 14:49] #860 closed

[2021-03-09 20:09] chaosjug commented on #829
We seem to have the same (similar?) problem. Android app on two phones, both from fdroid. We usually add/change cards only in the android apps and often quite syncing does not work. The cards appear on the server but are not synced to the other phone. Pulling down just circles forever but does not do anything. Also changing something in the android app does not seem to have an effect. After readin

[2021-03-10 10:10] stefan-niedermann commented on #801
Thanks :)

Regarding the + button i am not entirely sure since we explicitely removed all fixed headers and make everything scrollable.

Are you aware there are shortcuts on the app logo (long press) as well as tiles (pull down the statusbar twice) to create new cards?

If they aren't enough: Where would you suggest to place this button without introducing a new fixed header? Maybe as last list el

[2021-03-10 12:47] jakobroehrl commented on #801
That's right, let's leave it there, thanks

[2021-03-10 19:45] szaimen commented on #680
Could you maybe reopen this issue until an answer from @desperateCoder is received?

[2021-03-11 21:46] stefan-niedermann opened #871 "Allow to delete "file" attachments"
A quick test showed, that deleting the new "file" attachments via the Android app doesn't do anything on the server side.
[I therefore temporarily hid the delete button](https://github.com/stefan-niedermann/nextcloud-deck/pull/870/commits/ef8a18f3f5ff2b2f83dfa0b6d201fc7b2a7b0ff4).

- [ ] Reenable the delete button
- [ ] Make sync great again

[2021-03-15 14:59] neerro opened #874 "I met the next error"
[code]

[2021-03-15 15:07] desperateCoder commented on #874
Hi @neerro, I'm a little confused, did you close this issue on purpose?

[2021-03-15 15:12] neerro commented on #874
Hi @desperateCoder, I've just forwarded this issue to mobile app, as I have the problem with it. If it will be correct I re invoke the issue here.

[2021-03-15 15:22] neerro commented on #874
Thanks god and @stefan-niedermann of course :) The issue has gone. Thanks! I've just installed the new app version and all work well.

[2021-03-18 11:00] stefan-niedermann opened #876 "New project file resource cause the project not to be shown at all"
1. Create via Web UI a project with two files
2. See them in the Android app [removing and readding the account in the Android App.](https://github.com/nextcloud/deck/issues/2892)
3. Go to Web UI and link a file to the peoject from 1.
4. Make sure to remove and readd the account again like in 2.
5. The project does not appear anymore

[2021-03-18 22:38] pmprog opened #877 "Nothing appears in the app, but no errors"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
My server is running Nextcloud 20.0.8, with Deck 1.2.5; The Nextcloud client app and Deck app are both installed from F-droid; and the Nextc

[2021-03-18 22:45] desperateCoder commented on #877
Hi @pmprog thanks for your report!
I'll try to reproduce that tomorrow, I'm on bed already 😅

That's not something i've heard of though, maybe you could try just re-installing the app and just try again...

Sorry for the inconveniences!

[2021-03-18 22:56] pmprog commented on #877
I've already done that... however, I have found something out.

My first board was called "8bit Computer?". Just by chance, I happened to remove the question mark at the end of the board name, now that board has appeared, but only that one.

I have just changed another board name (removing a single quote), that has now appeared after deleting my account and readding it.

So I've just deleted my ac

[2021-03-18 23:16] stefan-niedermann commented on #877
There is at least [one special character related issue](https://github.com/nextcloud/deck/issues/2780) in the deck server app. We will check this though, maybe we can find some else issues.

[2021-03-19 05:00] Eknatz opened #878 "Listen und Karten"
Es wäre toll, wenn Listen und Karten zu kopieren wären.
Es gibt Strukturen bei denen man Grundgerüste entwickelt, die dann einfach zur Weiterentwicklung in die nächste Liste kopiert werden.
Bei Karten ist es genau so.

Beste Grüße und vielen Dank für eure. Entwicklerarbeit.

Matthias

[2021-03-19 07:11] pmprog commented on #877
Thinking about it this morning, the fact that the only appeared after editing, how does the sync work?
 If it was just  character, I would have expected it to work completely after the character was fixed, but it almost feels like it had nothing to sync until I made a change.

[2021-03-19 07:57] desperateCoder commented on #878
Hi @Eknatz, danke  für deine Nachricht!

Wir haben aktuell eine Funktion, die es dir aktuell schon ermöglicht ein ganzes Board zu klonen. Ist dir das als Grundgerüst zu viel? Würdest du dir das feingranularer wünschen?

Bitte führe etwas genauer aus, wir genau die optimale Lösung für dich aussehen sollte.

[2021-03-19 15:27] desperateCoder commented on #877
We indeed had some issues regarding `etags` in the past. These prevent loading data from the server, if nothing has changed. But this mechanism only applies to data we already know, so this can't be the problem here.

We first request all boards from the server and then dig deeper for lists and cards and so on. When you say that nothing is shown, I strongly suspect your server to do something wron

[2021-03-19 21:27] pmprog commented on #877
Yeah, certainly sounds like that's what has happened.

No, I'm afraid my phone isn't rooted. I did try some log reader apps though, but they didn't provide me with anything because I don't have root.

I would have thought though that removing and readding an account would have forced a full board list though?

Is it worth considering:
1. A method to force a full refresh?
2. A menu option to read t

[2021-03-19 22:21] desperateCoder commented on #877
That's correct. I really think in this case your server refuses to provide the information properly.

We already have an issue for that, but unfortunately not enough spare time yet to implement it. Will be added at some point!

This is actually brilliant. @stefan-niedermann? Maybe worth adding this as a feature by extending the DeckLog with this toggleable option?

With your consent, I'd like to a

[2021-03-19 22:32] desperateCoder commented on #877
Oops, didn't see that! So it completely works now?! If yes: what happens, if you change your boards title back to the "broken" version? Does the sync still work?

[2021-03-20 07:39] pmprog commented on #877
Yes, even adding the question mark back in works fine. So it certainly seems it's not a character issue, but rather the server reporting "Nothing new here" for some reason

If you want me to try a particular custom build, I can do, but seems potentially a lot of work for an issue that, as far as I know, seems limited to my instance, which itself now seems working.
Personally, I think using that ti

[2021-03-20 11:14] desperateCoder commented on #877
Ok, I guess it was more like a server hickup then. I'm glad it works now!

My main motivation behind this offer was to get it working for you, so yes, won't make sense to build a custom APK, since you can't reproduce the issue anyways. Besides: It isn't that much work to do so, so don't worry :wink:

I'll create a separate issue for this and close this one then. Thanks for your time responding to

[2021-03-20 11:23] desperateCoder opened #880 "Make debug-logs accessable"
In order to enable users to provide some useful information about sync and stuff, we want to add the possibility to activate log-capturing inside our app.

See: https://github.com/stefan-niedermann/nextcloud-deck/issues/877#issuecomment-803167422

It could look something like this:
* in the settings, the user can enable log-capturing
* this sets a (static) flag in `DeckLog`, so it stores the logs

[2021-03-20 11:23] #877 closed

[2021-03-20 12:16] desperateCoder commented on #871
(Documentation for later implementation, need to leave now)

Looks like the ID of the file is kind of different. I tracked the Web-UI call and saw this:

`DELETE | https://nextcloud.niedermann.it/index.php/apps/deck/cards/611/attachment/file:55`

I guess the prefix for the ID has to be `file:`, tho I can't tell why the path is different to [the official documentation](https://deck.readthedocs.io/e

[2021-03-20 17:22] stefan-niedermann commented on #680
Okay, i finally found the one scenario when the loading indicator is shown indefinitely. This can be caused by a not caught exception when refreshing the capabilities. In case of an error, it was silently logged and the spinner was not stopped.

I fixed this by hiding the spinner properly now *and* display an exception dialog with the information about what went actually wrong.

I closed this issu

[2021-03-20 17:29] stefan-niedermann commented on #680
Dev build from the build server: https://github.com/stefan-niedermann/nextcloud-deck/suites/2305177928/artifacts/48363798

[2021-03-20 17:41] stefan-niedermann commented on #836
Starting with the deck server version `1.3.0` new attachments are stored as usual files within the Nextcloud account (there will be a [migration step](https://github.com/nextcloud/deck/issues/2698) for old attachments in a future release).

The Deck Android app already features a nice integration since `1.15.5` and supports those kind of new attachments: A click will directly open the file in the

[2021-03-20 17:41] #836 closed

[2021-03-20 17:48] stefan-niedermann commented on #826
@jakobroehrl i think i found the lost exception (in another context) and now it should be displayed.

Therefore my question, since you have one of those shitty-manufacturer-devices: Would you mind to re-enable the battery "optimizations" (🤮), verify that the sync doesn't work anymore and **then** try [this](https://github.com/stefan-niedermann/nextcloud-deck/suites/2305185756/artifacts/48364039) b

[2021-03-20 17:56] stefan-niedermann commented on #878
Im Sinne der Funktions-Gleichheit mit der Deck Server-App und um die Oberfläche einigermaßen klar und konsistent zu halten, würde ich dich bitten, **das Issue im [Deck server Repository](https://github.com/nextcloud/deck/issues/new?assignees=&labels=&template=Feature_request.md)** zu **öffnen** (englisch). Sollte dieses dort akzeptiert werden, können wir sehen, ob und wie wir das elegant auch in d

[2021-03-20 17:56] #878 closed

[2021-03-20 18:15] stefan-niedermann commented on #880
`880-debug-logs` has already implemented a setting to turn persisten debug logs off and on.
@desperateCoder could you implement the part in `DeckLog`?

The question is: How should we make them accessible in the end? We could show them when an error occurs? Or add a new button in the settings activity, when it is enabled to copy it?

[2021-03-20 18:34] #790 closed

[2021-03-20 18:37] stefan-niedermann commented on #746
@smaugilein ping :slightly_smiling_face:

[2021-03-20 18:57] stefan-niedermann commented on #871
Did some work on the `871-delete-attachments-for-1-3` branch. Though i think reverse engineering the Web UI isn't really a good idea. The URL starts with `/apps/deck` for example, instead of `/api/deck`.
I differentiate on the branch so we can easily add the `file:` if necessary, but simply adding `file:` to the old API doesn't work (`HTTP 405`) unfortunately.

[2021-03-20 19:27] desperateCoder commented on #880
Yep, sure.

I'd say both.

[code]
This would work in case an exception is thrown. In case the log is enabled, the user will most probably want to have it in the copied message. I'll push that in a couple of minutes.

In case no exception is thrown, the user might be aware of the fact, the log is there, where he toggled it. The UI should make that obvious, maybe by showing a disabled TextArea below

[2021-03-20 22:03] birefringence commented on #680
I've tried the dev build, but I don't see any difference. The spinner stays, there is no sync, and I don't get any error message.
So far, this has only happend after I changed some cards on the server.
Can I provide any logs? (I should have a working adb)

[2021-03-20 22:05] desperateCoder commented on #680
Woah, that would be awesome! I'd check if there is enough logging beforehand though, I'll let you know!

[2021-03-21 04:43] Eknatz commented on #878
Hallo.

Bei deiner vorgeschlagenen Vorgehensweise wird lediglich die Überschrift übernommen und nicht der Beschreibungstext.

Wir planen mit dem Tool sehr viel und daher ist das kopieren von ganzen Listen, aber auch einzelnen Karten ein sehr wichtiger Bestandteil.
Zum Beispiel planen wir damit ganze Sendungen mit einzelnen Beiträgen. Es gibt immer eine Grundstruktur, die dann zur Planung der nächs

[2021-03-21 07:38] desperateCoder commented on #878
Hallo Matthias,

Funktioniert das bei dir wohl nicht? Oder sprichst du über die Web-Variante der App? Schau Mal hier:

https://user-images.githubusercontent.com/6911132/111897106-41a64600-8a1e-11eb-8055-5aeb10608fc2.mp4

Wir übernehmen an dieser Stelle alles, was aus unserer Sicht Sinn macht bzw. technisch möglich ist. Selbst Labels und zugewiesene Personen werden übernommen. Selbst wenn Du jetzt

[2021-03-21 08:52] stefan-niedermann opened #883 ""Share content" to new Deck card works not properly"
"Share content" of a card to new Deck card fills in the description into the title field (or does not fill the title) in some cases.

Follow-Up to #854

[2021-03-21 08:56] stefan-niedermann commented on #878
Hallo @desperateCoder

Nein, es ging @Eknatz um das Kopieren von Listen und Karten (nicht von ganzen Boards).

Hallo @Eknatz

Es ging mir im wesentlichen darum, zu verdeutlichen, dass wir zwischen der von uns entwickelten Android-App und der Server-App eine gewisse Feature-Gleichheit benötigen, um die Erwartungen aller Benutzer zu erfüllen. Da die Server-App nicht von uns entwickelt wird sondern v

[2021-03-21 11:49] stefan-niedermann commented on #680
@birefringence [Here is a build with excessive logging](https://github.com/stefan-niedermann/nextcloud-deck/suites/2308223002/artifacts/48442370). Would you please install it?
Just wait 10-20 seconds after the spinner appears and then press the bug button in the bottom right corner. The logs should be copied directly into your clipboard. Please make sure to remove any sensitive data and then send

[2021-03-21 14:48] #880 closed

[2021-03-21 21:52] grynas opened #884 "upcoming cards in android app"
Dear developers,

I`ve started to get used with kanban and Deck on the NextCloud, but unfortunately noticed that Android app has no option to see all upcoming cards.
If that was implemented that would make posible to have GTD and other implementations without going through the projects.

Thank you in andvance.

[2021-03-21 22:12] birefringence commented on #680
Thanks! I've installed the build with logging. However, I haven't been able to trigger this problem anymore since then, although I've been editing and syncing cards all evening. I'll keep using this build for now and see if hit it again.

[2021-03-21 22:39] stefan-niedermann commented on #884
Duplicate of #690 - please use the 🔍  search function before opening new issues 🙂

You can use the [Upcoming Cards widget](https://help.nextcloud.com/uploads/default/optimized/3X/5/3/53454be7c9e862e5c15872c544a3832667622e7d_2_560x1000.jpeg) until this view has been implemented in the app itself.

[2021-03-21 22:39] #884 closed

[2021-03-21 23:25] grynas commented on #884
Good, at least in widget!
Thanks for fast reply and sorry for duplicate.

[2021-03-22 08:40] stefan-niedermann commented on #680
@creywood @varac @maxammann and every other who upvoted the issue: maybe one of you can verify whether or not the spinner issue was solved [with this build](https://github.com/stefan-niedermann/nextcloud-deck/issues/680#issuecomment-803430532) and gather us some logs if not [with this build](https://github.com/stefan-niedermann/nextcloud-deck/issues/680#issuecomment-803562861)?

@birefringence i a

[2021-03-22 09:34] birefringence commented on #680
Ah well, I think I experienced again. But I couldn't get the log, because this happened when I hit the button:
[code]

[2021-03-22 09:38] stefan-niedermann commented on #680
Shit! The log was too long and could not be copied to the clipboard. Let me think about what else we can do to get those logs.

[2021-03-22 11:45] stefan-niedermann commented on #680
So i made [another build](https://github.com/stefan-niedermann/nextcloud-deck/suites/2314333790/artifacts/48607677) which has a few enhancements:
1. The log will no longer be copied to the clipboard but shared **as a file** (→ no length limitation). You should be able to share the log file with any other app (I tested E-Mail, Telegram and Nextcloud)
2. To activate the logging, go to the settings a

[2021-03-22 12:06] stefan-niedermann commented on #871
Issue in the server app: https://github.com/nextcloud/deck/issues/2904

[2021-03-22 18:03] #844 closed

[2021-03-22 18:04] stefan-niedermann commented on #844
Will be part of `1.15.6`

[2021-03-22 19:18] birefringence commented on #680
Ok, got one. I hope I didn't redact it too much. As far as I can tell from the server logs, the app didn't reach the server when trying manually refresh by pulling.
I sent an e-mail since I can't attach files here (or at least I don't know how).

[2021-03-22 21:08] stefan-niedermann commented on #680
Interesting. `SyncManager#refreshCapabilities()` does never call the `onResponse` or the `onError` callback.

@desperateCoder i think we are missing a generic `else` case here for the `NextcloudHttpRequestFailedException` in https://github.com/stefan-niedermann/nextcloud-deck/blob/845cbaf31e357af7f3d80b3bfb2676fa2ccfb935/app/src/main/java/it/niedermann/nextcloud/deck/persistence/sync/SyncManager.j

[2021-03-23 08:41] desperateCoder commented on #680
Id suspect a missing `callback.` before this line:

https://github.com/stefan-niedermann/nextcloud-deck/blob/845cbaf31e357af7f3d80b3bfb2676fa2ccfb935/app/src/main/java/it/niedermann/nextcloud/deck/persistence/sync/SyncManager.java#L458

Why doesn't that end in an infinite loop tho? I'll have a look at lunch break... Thanks for the research!

[2021-03-23 11:44] desperateCoder commented on #680
@birefringence we had two blind spots here, we just fixed them.

Please try this one: [(｡◕‿‿◕｡)](https://github.com/stefan-niedermann/nextcloud-deck/suites/2323602703/artifacts/48890710)

This time ther shoud (TM) come up an error, in case something goes wrong at sync. Maybe thats already the solution to the problem, but yeah, lets see...

Thanks for the research and testing btw, this helps us a L

[2021-03-23 15:08] #883 closed

[2021-03-23 15:09] stefan-niedermann commented on #883
Will be fixed in `1.15.7`.

[2021-03-23 18:19] birefringence commented on #680
Well, the spinner now does disappear, at least after I switch away from the app and come back. But there is still no sync. Here is the log:
[code]

[2021-03-23 21:33] birefringence opened #889 "Moving a list only works once"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

Moving a list left or right only works once in the app, then no further moves are possible.

Steps to reproduce the behavior:
1. Select a board with more than 2

[2021-03-24 12:55] stefan-niedermann commented on #680
I think we're coming closer. [Give it another try](https://github.com/stefan-niedermann/nextcloud-deck/suites/2333166147/artifacts/49177248), please (And please **don't disable** the new `ETag` setting :smile:)

Can you elaborate please a bit more what "there is still no sync" does mean for you? The sync doesn't work at all? It does only work in one direction (e. g. Android -> Cloud)? It does only

[2021-03-24 13:17] birefringence commented on #680
Thanks I'll try again! So far I mostly changed things on the server, which then didn't shop up in the app until I forcefully closed and restarted it. I will specifically try to edit cards in the app and see if it goes through the other way. Most of the changes were creating and moving cards, and so far I haven't noticed that this phenomenon only applied to specific types of changes. There were no

[2021-03-24 13:36] birefringence commented on #680
Oh no, I just noticed I made a mistake when copying the APK. I think I was still running the previous version, when I created the last log. Sorry! I'm now definitely on the latest version and I will continue to test.

[2021-03-24 16:24] desperateCoder commented on #680
@birefringence I'd bet at least a used tissue, that the error won't happen anymore. @stefan-niedermann isn't convinced yet, but if you can't reproduce the issue anymore, maybe my changes kicked in. Looking forward to your feedback! :blush:

No need to be sorry here! You already helped us a lot! Thanks for that! :heart:

[2021-03-25 10:36] stefan-niedermann opened #896 "Replace observeOnce calls with ResponseCallback when it makes sense"
First of all: I know, it's my bad. I heard of this fancy new `LiveData` stuff and wanted to use it wherever possible in favor of `ResponseCallback`s. That's one reason why we invented the `observeOnce` helper method. There are other reasons where it makes more sense, but for many many actions (like create operations), it is pretty useless. In the meantime i have learned a lot about `LiveData` and

[2021-03-25 14:55] #896 closed

[2021-03-25 15:05] stefan-niedermann opened #897 "Analyze 404 in OcsProjectDataProvider"
I recently noticed that i got a few `404` logs in my logcat in the `OcsProjectDataProvider`. I am not entirely sure what causes this, but my assumption is, that we previously had a project which might have been deleted in the meantime.

I also left a `ToDo` in `OcsProjectDataProvider#getAllFromServer` → This issue is about analyzing whether my theory is correct and the problem is reproducible and

[2021-03-25 19:51] #587 closed

[2021-03-25 19:51] stefan-niedermann commented on #587
Will be shipped (enabled by default) with `1.15.8`.

[2021-03-28 17:07] stefan-niedermann commented on #630
Will be shipped in version `1.15.8`

[2021-03-28 17:07] #630 closed

[2021-03-28 19:11] stefan-niedermann commented on #826
Closing this because i expect the issue to be fixed with `1.15.6` - Feel free to reopen if this is not the case. (I can't test it myself unfortunately because i don't have a device which makes this kind of trouble)

[2021-03-28 19:11] #826 closed

[2021-03-28 19:17] stefan-niedermann commented on #680
Most of the improvements which we made here have made it into version `1.15.8` (released on F-Droid and Play Store Beta channel, should arrive in the next few days). I would appreciate any feedback with this released version.

I kept one change back: @desperateCoder suggested to remove our queued synchronization (which holds back triggered synchronizations if there is still a sync in progress). I'

[2021-03-28 19:34] szaimen opened #905 "Dark-mode looks a bit strange in v1.15.8"
**Describe the bug**
Dark-mode looks a bit strange in v1.15.8

Steps to reproduce the behavior:
1. Install v1.15.8
2. Open the app
3. See screenshot

![Screenshot_20210328-213102_Nextcloud Deck](https://user-images.githubusercontent.com/42591237/112765391-47e38600-900d-11eb-8503-27154e2a6a03.png)
Edit: the field in the top right corner has an a bit other grey tone than the whole background.

[2021-03-28 20:00] #905 closed

[2021-03-28 20:00] stefan-niedermann commented on #905
Thanks for the report :rocket: :slightly_smiling_face:  Will be fixed in `1.15.9` then.

[2021-03-28 20:45] birefringence commented on #680
I haven't had any problems with the last dev build from this thread. I will also try 1.15.8 as soon as possible.

[2021-03-29 12:02] neerro commented on #630
Perfect! I'm already downloaded and it works good. Thanks))

[2021-03-29 14:23] neerro commented on #874
Hi! I met the same issue again after the server version of nextcloud was updated from 20 to 21.
Installed app version on mobile device is 1.15.9, server version of Deck is 1.3.1.
Help please!

[2021-03-29 14:56] desperateCoder commented on #874
Ok, thanks for the report, I'll have a look!

[2021-03-29 16:18] desperateCoder commented on #874
This seems to be a very weird constellation... logically this schouldn't be possible to happen, but somehow it seems there is a way the data can get corrupted this way, so it fails at that point.

I added a check on this, the error shouldn't occur any more. The fix will be shipped with the next update.

I'm closing this, because it should be bulletproof now. If you encounter any further issues, fe

[2021-03-29 16:18] #874 closed

[2021-03-31 14:58] torkelsson opened #910 "Number of tasks in a checklist is not shown unless there is a comment on the card too"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
In the list view the number of tasks (unchecked/checked) in a checklist of the card is not shown unless the card also has a comment.

Steps

[2021-03-31 15:07] torkelsson opened #911 "Hiding of completed tasks"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**
When having a checklist with many tasks, it is sometimes very easy to miss an unchecked task i

[2021-03-31 15:26] stefan-niedermann commented on #911
Sorry, this is nothing which we currently have on our roadmap. We assume that most people will want to see all items (also for orientation and submission purposes) making this feature request a quite edge case.
We want to keep the edit and preview mode as similar as possible and introducing a setting for this kind of edge case seems a bit arbitrary.

[2021-03-31 15:26] #911 closed

[2021-03-31 15:42] torkelsson commented on #911
As you probably understand I disagree. I think that is a killer feature, especially when you have really long lists with only a few items not checked. Trying to migrate from the Trello to Nextcloud Deck it is a feature I'm really missing, especially when on the phone.

I respect your decision, though I was hoping that it could be added to the roadmap as a low priority task.

I assume that a simila

[2021-03-31 16:20] stefan-niedermann commented on #911
I don't know that because we are an independent developer team. I will probably also post my recommendation (to not implement it), but i am not the decision maker there.

On the other hand: If the maintainer of the server app accept your feature request, chances are high that we will adapt it in the Android app for the sake of feature parity, so feel free to ask 🙂

[2021-04-01 09:01] #910 closed

[2021-04-01 09:01] stefan-niedermann commented on #910
Good catch and well described steps to reproduce, thanks for that! :slightly_smiling_face:

Will be fixed in `1.16.1`.

[2021-04-02 10:10] piratenpanda opened #913 "add new card button disappears when scrolling in a long board"
**Describe the bug**

Steps to reproduce the behavior:
1. Have a board with as many items so that a scrollbar is needed
2. scroll to the bottom
3. blue "+" button overlay disappears
4. scroll up and it reappears

**Expected behavior**
"Add new item" button should be visible all the time

**Versions**
 - Nextcloud: 21.0
 - Nextcloud Deck:  1.3.1
 - Nextcloud Android: 3.15.2
 - Nextcloud Android Dec

[2021-04-02 13:06] stefan-niedermann commented on #913
Dear @piratenpanda,

thank you for the request and especially for filling out the complete issue template.

The described behavior is considered to be a feature, not a bug. The problem with Floating Action Buttons from a UX perspective is, that it hides content and draws a lot of attention to it (making it hard to focus on the actual content). When someone is scrolling down a list, we assume that

[2021-04-02 13:06] #913 closed

[2021-04-02 21:40] dtcg opened #914 "No widgets on Xiaomi phone"
On Xiaomi Redmi phone, nextcloud deck widgets are no longer available (in both system default launcher and 3rd party "nova launcher"). They used to appear and work before. I haven't updated the OS and I constantly update the deck app when released.

**Versions**
 - Nextcloud: 17.0.0.9
 - Nextcloud Deck: 1.3.1
 - Nextcloud Android: 3.15.1
 - Nextcloud Android Deck: 1.15.7

**Smartphone (please comp

[2021-04-02 22:24] stefan-niedermann commented on #914
Hi,

first of all: Nextcloud 17 has reached [end of life in 2020-10](https://github.com/nextcloud/server/wiki/Maintenance-and-Release-Schedule), so you really really should update.

Regarding the widgets: "Aren't available": This is not enough. You will need to be way more verbose so we can try to help you.

1. Are they still provided as addable widgets and just don't appear when adding them to th

[2021-04-03 17:37] dtcg commented on #914
Thanks for the reply.

I have accounts on different instances, one of them runs nextcloud 20.0.8.1. I think the issue lies between the app and the phone, rather than between the server and the app but thanks for the suggestion.

Regarding the Deck widgets:
1. I can't see them in the widgets overview of android next to other apps widgets
2. The previously existing widgets vanished completely
3. I u

[2021-04-03 18:48] stefan-niedermann commented on #914
That's indeed strange. Can you please uninstall the app and install the version you had before? This way we can fence the cause either to a local environment issue or to the recent version update.

Are you using a custom ROM (which?) or any other special constellation?

Just for the record: I can't reproduce this issue on my Xiaomi Pocophone F1.

NC 17 has nothing to do with the widgets but of cou

[2021-04-03 19:17] birefringence commented on #680
I'm currently on the 1.16.0 from the Google Play beta channel. Today the spinner stuck again. Unfortunately, I didn't have the log collection switch on until after it happened. So the log might be missing relevant information:
[code]

[2021-04-03 20:25] stefan-niedermann commented on #680
@desperateCoder are we missing an `onError` callback for [this `onResponse`](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/app/src/main/java/it/niedermann/nextcloud/deck/persistence/sync/SyncManager.java#L217)? Might also explain a not finishing spinner...

[2021-04-03 20:33] desperateCoder commented on #680
@stefan-niedermann we do. On the other hand: The sync-queue is still there, so it doesn't surprise me, that there are still issues... We could try adding it. Or, as I'd suggest, just get rid of this whole damn thing (yep, guess I messed it up) and be happy as @birefringence can confirm. It seemed to work well, as we removed it. Am I missing something? The play store beta c

[2021-04-04 08:39] nextexplorer opened #916 "Markdown Table not shown in Android Deck Client"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

In the deck app in the nextcloud web interface I can use markdown tables, which are displayed very nicely. Unfortunately there is no visual

[2021-04-04 08:46] stefan-niedermann commented on #916
Have you pressed the eye icon to enable the preview mode?

[2021-04-04 09:29] nextexplorer commented on #916
Thank you for your very fast replay and sorry that I had not tested the explicit bug description. I just thought that the feature is not yet implemented, but it seems to be more complicated. Here now the real life case:

If I just add this table the android deck client visualizes the table perfectly:

Route | Entfernung | Tourenlänge | Kommentar |
:---: | :---: | :---: | :---: |
 [Cap Formentor zu

[2021-04-04 22:04] stefan-niedermann opened #917 "Crash when managing labels"
Steps to reproduce:
- Deck
- menu (=)
- Boards
- Manage tags
- Add tag
- Enter name: Internal doors
- Done button ( >>)
- Crash report appears on screen

[code]

[2021-04-05 07:30] #917 closed

[2021-04-05 08:25] stefan-niedermann commented on #916
So we have two issues here:

1. **Links in tables do not work.**
  I analyzed the issue and i think i know how this can be fixed. I [opened an issue](https://github.com/stefan-niedermann/nextcloud-notes/issues/1115) to keep tracking of this particular issue (don't be confused, it is in another repository, but fixing it there will also fix it in the Deck app.). I suggest to subscribe to the linked

[2021-04-05 08:25] #916 closed

[2021-04-06 09:02] dtcg commented on #914
I've had the issue for a while. Do you have an apk from, say December 2020?
No custom ROM. I use Netguard as a firewall with some drastic restrictions so I'm in control of what data leaves my phone.

[2021-04-06 09:25] stefan-niedermann commented on #914
F-Droid provides the three latest builds put of the box (see "versions" to install one of them). For the complete history you can add the "F-Droid Archive" repository in the settings. Please make sure to uninstall the app before installing an older version.

[2021-04-06 15:09] dtcg commented on #914
F-Droid Archive: nice trick, thanks.
Unfortunately, no changes with an older version (1.13.0).
I'm starting to wonder if Xiaomi didn't push some OS update in my back...

[2021-04-06 16:24] stefan-niedermann commented on #914
You're welcome :)

So honestly, since i can't reproduce this issue and no one else reported it yet, i doubt that it is caused by a specific update of the Deck app. Since also old versions fail which previously worked on your device, i guess it is some environment related issue which you are facing here. I'm afraid there's not much we can do on our side to solve it.

I suppose to close this issue t

[2021-04-06 17:16] dtcg commented on #914
Yep, thanks for the effort.

[2021-04-06 17:23] #914 closed

[2021-04-07 11:48] D-side opened #919 "Dark widgets unavailable on Android <10 (without system-wide dark theme)"
**Is your feature request related to a problem? Please describe.**

I'm running an Android 9 device that does not have a system-wide dark theme. I have the dark theme set in the app, but apparently *this setting does not affect widgets*, since they remain light.

**Describe the solution you'd like**

I'd like a way to force the widgets into dark theme on older versions of Android, where system-wid

[2021-04-07 13:11] stefan-niedermann commented on #919
Hey @D-side,

let me try to answer your questions and explain the decisions we have made:

This is correct and by intention.

The dark mode of the app does not affect the appearance of the widgets because the context is different. While the app is something one starts intentionally and runs in its own context, all widgets from (provided by any app) run always in the context of the launcher. To pro

[2021-04-07 13:11] #919 closed

[2021-04-07 15:03] D-side commented on #919
Thanks for the pointers! 👍
Failing to use the workarounds (none I found seem to work on my stock firmware, and I don't want to flash anything else), I found the **"Night mode" setting in developer settings** (I have a OnePlus 3T). Strangely, it seems to be a completely different to the "Night mode" in system settings, which just seems to tint the screen yellow (blue light reduction).
But the flag

[2021-04-07 16:25] stefan-niedermann commented on #919
Thank you for understanding and happy to hear that you found a way that makes it work for you.

True, but keep in mind that we are an open source project with volunteer contributors (we aren't related to the Nextcloud GmbH). Free time is limited and since we have no huge paid development team, we need to focus our available time to some topics. Maintaining this edge case (and various others which

[2021-04-07 16:39] desperateCoder commented on #919
Привет, друг!
Regarding custom ROMs: I'm currently using my OnePlus 3 (no T) and didn't find any better one than Resurrection Remix or, what I'm using currently: Colt OS. Not only I'm on Android 10, it also runs better than the stock ROM and has the most awesome boot animation (I know, killer feature!).

In case you decide to go for a custom ROM, I'd totally recommend one of these. OnePlus devices

[2021-04-07 17:14] D-side commented on #919
@stefan-niedermann this one case is by no means a deal-breaker, but little by little these things add up. I'm mildly upset with how Google handles operates in this regard and I'm expressing my advice against going in this direction 😄 Great to hear it's still a priority for you!

My limit is an EOL Firefox on an aftermarket Android 5 (Asus TF101) that is somehow still alive and is used as a smart h

[2021-04-09 17:41] stefan-niedermann opened #923 "Foreign keys don't cascade (Cards stay in the database after deleting an Account)"
Well...

![grafik](https://user-images.githubusercontent.com/4741199/114219897-937e2400-996b-11eb-99b7-a3f48e7d590e.png)

[2021-04-09 17:52] stefan-niedermann commented on #923
Remove mapping in `UpcomingCardsViewModel` once this has been fixed.

[2021-04-09 17:52] stefan-niedermann commented on #923
And use a migration to clean up stuff without accounts (also boards etc?)

[2021-04-10 11:38] #690 closed

[2021-04-10 11:38] #923 closed

[2021-04-10 12:07] stefan-niedermann commented on #690
Will soon be published with `1.17.0`.

[2021-04-10 12:35] stefan-niedermann commented on #864
@ke-lin we need some help from you: Could you please test [this `.apk` file](https://github.com/stefan-niedermann/nextcloud-deck/suites/2464447316/artifacts/52958352) and tell us whether it displays the actual displayName for your accounts? (You can safely install it parallel to your published Deck version). I don't have a LDAP setup, so i implemented it blindly and rely on some feedback :slightly

[2021-04-11 10:39] stefan-niedermann commented on #897
Closing because of https://help.nextcloud.com/t/deck-android-1-17-upcoming-cards/113286#regarding-project-relationships

(The longer i think about this, it might also have been caused by [a dead account](https://github.com/stefan-niedermann/nextcloud-deck/issues/923))

[2021-04-11 10:39] #897 closed

[2021-04-11 10:40] stefan-niedermann commented on #876
Closing because of https://help.nextcloud.com/t/deck-android-1-17-upcoming-cards/113286#regarding-project-relationships

Might also be fixed by https://github.com/nextcloud/deck/issues/2892

[2021-04-11 10:40] #876 closed

[2021-04-11 10:40] stefan-niedermann commented on #671
Closing because of https://help.nextcloud.com/t/deck-android-1-17-upcoming-cards/113286#regarding-project-relationships

[2021-04-11 10:40] #671 closed

[2021-04-11 12:37] stefan-niedermann opened #927 "Deck 1.17.1+ / Dark mode: Input fields have no border"
Follow-Up bug to #926

![Screenshot_20210411-143604_Nextcloud_Deck](https://user-images.githubusercontent.com/4741199/114304419-4321d600-9ad3-11eb-82c5-ebcf163d4b5c.png)

cc @AndyScherzinger well. Shot too quickly as it seems 😄

[2021-04-11 17:41] #927 closed

[2021-04-12 06:29] christianlupus opened #928 "Missing comment indicator"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

There is a small indicator for each card that has comments attached to it. Unfortunately, this is not shown all the time.

Steps to reprodu

[2021-04-12 06:37] christianlupus commented on #829
I have seen the same problem. I "fixed" by unregistering the account in the deck app and re-registering it. I suspect this will remove any cached ETags, right?

One thing, I can definitively say is that it happened also for changing cards. So, I had a card in one stack and moved the card to another stack. In the android app, the card refused to move to the new stack. Had to recouple the accounts.

[2021-04-12 06:52] stefan-niedermann commented on #829
Recent versions have a `Use ETags` option in the settings. Disabling it will not make use of `ETags` which is basically a " forced full sync". This is meant as workaround and not as solution.
You can try to disable the option for one sync and have a look whether this missing stuff appears and tell us, so we know that it is really caused by the `ETags`.

It is possible, though you would need to ins

[2021-04-12 18:07] josaur opened #930 "Crash when switching board"
With the newest Version an Issue occurred. Every time I'm changing the Board the App crashes. The previous Versions worked fine.

[code]

[2021-04-12 18:19] stefan-niedermann commented on #930
Is already fixed and [released in `1.16.3`](https://github.com/stefan-niedermann/nextcloud-deck/releases/tag/1.16.3).

I can't do anything more than wait for F-Droid unfortunately. Use an older version as workaroundy, sorry.

It was caused by an [attempt to reduce the size of the app](https://github.com/stefan-niedermann/nextcloud-deck/commit/915d413a196d262ac7a069e886086814add4f888).

[2021-04-12 18:19] #930 closed

[2021-04-12 18:21] josaur commented on #930
Sorry for the duplicate and thanks for the reply and the fix

[2021-04-12 18:24] stefan-niedermann commented on #930
Wasn't exactly a duplicate - the error was in the Notes **and** Deck app :slightly_smiling_face:

[2021-04-13 19:16] aryasenna opened #932 "Link to Board-view from Widget"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Is your feature request related to a problem? Please describe.**
No, not exactly a problem.
However in your other app "Notes", the widget has a link to open th

[2021-04-13 19:29] desperateCoder commented on #932
Hi @aryasenna l, thanks for your request!

What type of Widget are you using? Stack? Card? Upcoming cards?

I guess you won't like to loose the possibility to enter an entry directly, where should one tap to get to to the boards view?

[2021-04-13 19:47] aryasenna commented on #932
I'm using Upcoming cards.

Absolutely, please don't remove the current access.
Ideally like in the Notes app widget, on the widget header there clickable element that open the App main activity.

[2021-04-13 19:49] stefan-niedermann commented on #932
I think it makes most sense to open the Upcoming cards view of the app (available on version `1.17.4`) when clicking on one of the sections ("today", "tomorrow", "next week", ...) of the Upcoming cards widget.

[2021-04-13 20:04] aryasenna commented on #932
That could also work, the point is I can access the full app from widget.

I see there is no apk yet for 1.17.4 on Gplay nor F-droid, I'd like to try it once it's available.

Btw, Your app is well-polished, especially for an OSS. The gplay purchase is well-worth it. :)

[2021-04-13 21:31] varac commented on #930
Is there a way to watch the status of the fdroid build ? Downgrade to 1.6.1 fails for me unfortnately, and I don't want to remove/install an older version because I fear I might loose mobile cards that aren't correctly synced with 1.6.2.

[2021-04-13 21:45] stefan-niedermann commented on #930
Sounds reasonable. As far as i can see, [the build has been finished](https://f-droid.org/wiki/index.php?title=it.niedermann.nextcloud.deck/lastbuild&redirect=no) by F-Droid, but i don't know how to watch an index update.
The last one was two days ago, so i personally expect the next index update to be tomorrow or in two days.

Please note that `1.17.2` and `1.17.3` already are known to *possibly*

[2021-04-13 21:57] q-wertz opened #933 "Switching accounts crashes the app"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**
When trying to switch the account, the app crashes. The reason why I tried to switch it is because I think I could not see a newly shared De

[2021-04-13 21:58] q-wertz commented on #694
I'm having the same issue...

A new board was shared with me this afternoon, but still not visible in the Deck app.
Pulling down the sidebar does not help, neither pulling down in one of the boards...

Tried to switch to other account an back, but stumbled into https://github.com/stefan-niedermann/nextcloud-deck/issues/933. Maybe they are related…?

[2021-04-14 05:28] Marko11 opened #934 "Not possible to connect with the nc account anymore"
Beginning today I wasn't able to sync anymore.
I wanted to try to disconnect and reconnect the account - but now I wasn't able to connect anymore...

Versions:
Nextcloud 20.0.9
Deck 1.2.6

[code]

THANK YOU!

[2021-04-14 06:01] stefan-niedermann commented on #933
Please see this issue: https://github.com/stefan-niedermann/nextcloud-deck/issues/930#issuecomment-818025817

[2021-04-14 06:01] #933 closed

[2021-04-14 06:02] stefan-niedermann commented on #934
Please see this issue: https://github.com/stefan-niedermann/nextcloud-deck/issues/930#issuecomment-818025817

[2021-04-14 06:02] #934 closed

[2021-04-14 06:03] stefan-niedermann commented on #694
@q-wertz please see https://github.com/stefan-niedermann/nextcloud-deck/issues/930#issuecomment-818025817

[2021-04-14 07:47] q-wertz commented on #933
Sorry didn't see that one :facepalm:
Maybe I should not try to open bug reports late at night

Thanks for the fix :)

[2021-04-14 07:55] stefan-niedermann commented on #933
Oh boy, until now i have closed [3 issues](https://github.com/stefan-niedermann/nextcloud-deck/issues?q=is%3Aissue+is%3Aclosed) in this repository, [4 issues](https://github.com/nextcloud/deck/issues?q=is%3Aissue+is%3Aclosed) in the server repository, [20 issues](https://github.com/stefan-niedermann/nextcloud-notes/issues?q=is%3Aissue+is%3Aclosed) in the notes repository, i was [called douchebag](

[2021-04-14 16:08] Killerjoe opened #935 "Database migration errors in 1.17.x"
**Describe the bug**
Crash on Startup with Nextcloud Deck 1.17.4 Beta

Steps to reproduce the behavior:
1. Open Nextcloud Deck
2. See the attached Exception

**Expected behavior**
No crash on Startup

**Screenshots**
Not available

**Versions**
 - Nextcloud: 21.0.1
 - Nextcloud Deck: 1.4 and latest 1.3.x same behaviour
 - Nextcloud Android: 3.15.1
 - Nextcloud Android Deck: 1.17.4

**Smartphone (p

[2021-04-14 16:10] stefan-niedermann commented on #935
Do you know drom which version did you update? Have you installed `17.1.2` or `17.1.3`?

[2021-04-14 16:43] Killerjoe commented on #935
Good question. I dont know the exact number, but I think it was 1.16.3.

[2021-04-14 16:59] stefan-niedermann commented on #935
We think we have found a solution for this quite weird state...

Could i ask you to send me an email at info@niedermann.it with a link to this issue so i can send you a test apk which should fix this issue?

[2021-04-14 17:31] Killerjoe commented on #935
Can you release a new Beta as it seems the bug was found or should I still send you an email to get a test apk?

[2021-04-14 17:34] desperateCoder commented on #935
Please still mail him, we got a weird constellation here, we'd like tu ensure, that our solution really works. Your constellation shouldn't exist, but still seems to. We just want to make sure, would be great if you could do us this favor!

[2021-04-14 17:58] Killerjoe commented on #935
Ok, I've sent him an email. I will wait for the apk and will test the fix for you.

[2021-04-14 18:29] Killerjoe commented on #935
I just saw that you have released 1.17.5 via Playstore but the issue is still there.

[code]

[2021-04-14 21:02] Killerjoe commented on #935
Thanks for apk 1.17.6 but I still get an exception after starting the app.

[code]

[2021-04-14 21:14] desperateCoder commented on #935
Aw c'mon! At least we got a little further...

Big thanks for testing @Killerjo! I'll fix this one as well tomorrow!

[2021-04-15 06:58] ke-lin commented on #864
@stefan-niedermann sorry for my late response. I have now installed the "test" apk and it is perfect. The Display Name is now shown in the Account switcher View, instead of the UID.
![Screenshot_20210415-085241](https://user-images.githubusercontent.com/36854855/114827218-b3c53d00-9dc8-11eb-8961-6ff1b50a83bc.jpg)

[2021-04-15 07:22] varac commented on #930
I just upgraded to 1.17.2 and got this (probably already fixed by newer releases that are still not available i fdroid ?):

[code]

[2021-04-15 07:52] stefan-niedermann commented on #930
@varac we are aware of this kind of errors and currently try to fix it in #935 (your specific error case should already been fixed in `1.17.4` or so, but there might possibly follow more).

You can either wait for further `1.17.x` releases or [clear the storage of the app](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#i-have-experienced-an-error) and readd your account (un

[2021-04-15 07:53] stefan-niedermann commented on #864
Thank you very much! We are currently busy with a series of errors that made it into published versions, but i will bring this change in as soon as possible.

Just as a hint: The same for the Notes app will take more time because we had here already some prerequisites (user information linked to account information) which is not yet available there.

[2021-04-15 07:58] skarmoutsosv opened #936 "Exception while computing database live data"
Full Crash:

[code]

[2021-04-15 08:09] stefan-niedermann commented on #936
@varac we are aware of this kind of database migration errors and currently try to fix it in #935 (your specific error case should already been fixed in `1.17.4` or so, but there might possibly follow more).

You can either wait for further `1.17.x` releases or [clear the storage of the app](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#i-have-experienced-an-error) and rea

[2021-04-15 08:09] #936 closed

[2021-04-15 11:04] stefan-niedermann commented on #935
@Killerjoe & @creywood please test `1.17.7`? (Available at the beta channel right now)

[2021-04-15 11:36] creywood commented on #935
Unfortunately I'm running the f-droid build (and am assuming as a result that testing the Google Play beta wouldn't verify the migration of my data? Maybe I'm wrong there?). Very happy to test an APK that would have access to my data. FYI waking hours are running short here.

[2021-04-15 11:43] stefan-niedermann commented on #935
@creywood no you are right, doesn't make sense in your case, you'll have to wait for th F-Droid build unfortunately. Thanks for the responsey though!

[2021-04-15 11:47] creywood commented on #935
Ok no worries. A question down that path: presuming the bug is fixed during the night, is there a way for me to end up with an APK on my device that a) can access my existing device data and b) I can later update when f-droid catches up, so that I don't have to wait another 24hr? eg. rolling my own build? Thanks, and sorry for the tangent :slightly_smiling_face:

[2021-04-15 11:50] Killerjoe commented on #935
Thank you for 1.17.7 it seems the bug is finally fixed. Deck was starting normal and is usable again.

[2021-04-15 11:54] stefan-niedermann commented on #935
@Killerjoe thank you very much for reporting and testing! Glad to hear that we were able to iron out this tricky bug!

[2021-04-15 11:54] #935 closed

[2021-04-15 12:01] stefan-niedermann commented on #935
Unfortunately i can not build you an `APK` file which is compatible with the installed from F-Droid as they would be signed with a different key and can therefore not directly replace each other.

Your options are:
1. Wait for F-Droid to build the version with the fix (will keep unsynchronized data)
2. [Clear the storage](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#i-hav

[2021-04-15 12:06] creywood commented on #935
Thanks for the detailed explanation @stefan-niedermann :+1: I thought/feared that might be the case. I'm looking to get the unsynchronised local data so I'll wait.

[2021-04-16 17:13] petrisch opened #938 "crashed deck app"
Crash maybe already reported, i have no idea :-)

[code]

[2021-04-16 17:24] petrisch commented on #938
Clearing app data and reconecting helps, so no real issue. Aand great new feature is there, thanks a lot!!!!

[2021-04-16 17:24] stefan-niedermann commented on #938
Will be fixed in `1.17.7`, just wait for it to be published by F-Droid.

If you are sure that you don't have unsynchronized data, you can also [clear your the storage](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#i-have-experienced-an-error) to fix the issue.

[2021-04-16 17:24] #938 closed

[2021-04-16 19:20] fraengii opened #939 "Deck don't want to start"
[code]

[2021-04-16 19:25] desperateCoder commented on #939
Hi, thanks for the report.

This issue is known and already fixed, see here: https://github.com/stefan-niedermann/nextcloud-deck/issues/936#issuecomment-820216729

[2021-04-16 19:25] #939 closed

[2021-04-17 05:38] artfulrobot opened #940 "Crash on open"
[code]

[2021-04-17 06:17] stefan-niedermann commented on #940
see https://github.com/stefan-niedermann/nextcloud-deck/issues/936#issuecomment-820216729

[2021-04-17 06:17] #940 closed

[2021-04-18 11:18] #864 closed

[2021-04-18 11:20] stefan-niedermann commented on #864
Will be fixed in `1.18.0`

[2021-04-18 15:41] #932 closed

[2021-04-18 15:42] stefan-niedermann commented on #932
Fixed in `1.18.0`. I experimented a bit with directly open the Upcoming cards view, but i had issues with the backstack (pressing the back button should navigate to the main view), so i decided to just open the main view for now when clicking on a separator.

[2021-04-18 21:31] birefringence commented on #680
1.17.7 from Google beta:
[code]
It says "Stop spinner" in the last line, but this is not what happened.

So far I am most likely to hit this problem, when I do a lot of changes with the web app. I then at some point notice that the cards shown in the Android app are out of sync. When I attempt to manually refresh to fix this, I only get the never-ending spinner, but the cards are not updated until

[2021-04-19 06:29] stefan-niedermann commented on #680
@desperateCoder it looks like the `SyncManager` gets a `304` while syncing the capabilities in line `470` (compare log) but the `callback.onResponse()` of line `483` never gets called...? Do you have any explanation for that? :thinking:

https://github.com/stefan-niedermann/nextcloud-deck/blob/1.17.7/app/src/main/java/it/niedermann/nextcloud/deck/persistence/sync/SyncManager.java#L470-L484

[2021-04-19 07:07] birefringence commented on #680
For some reason, I don't see a corresponding access with a 304 code in the server log. In fact, don't see any access at all with that time stamp.

[2021-04-19 07:11] stefan-niedermann commented on #680
The requests might have hit the `capabilities` endpoint which is not necessarily in the logs (it's outside of the Deck app).

I just merged the PR of @desperateCoder which have been [confirmed to work](https://github.com/stefan-niedermann/nextcloud-deck/issues/680#issuecomment-808956700) by @birefringence and [did some other enhancements](https://github.com/stefan-niedermann/nextcloud-deck/commit/

[2021-04-19 10:32] stefan-niedermann commented on #534
Deck `1.3.0+` uses files as storage backend for attachments and automatically renames the file if it already exists.

[2021-04-19 10:32] #534 closed

[2021-04-19 11:59] stefan-niedermann commented on #738
@markushub i am also not able to reproduce the issue...? We did quite some work since `1.12.x`, chances are high that this was just a one-shot-dirty state or some other hick-up.

If you also didn't see it in the past, would you mind closing this issue until one can reproduce it / if it happens again?

[2021-04-19 12:04] stefan-niedermann commented on #928
Hi @christianlupus

just to make sure i understand you correctly: The comments indicator
- is missing on **all** cards
- is missing on **one** card
- is not up to date (e. g. shows the wrong number) on one or all cards?

Further questions:
- Can you observe the described behavior also for the attachments indicator?
- When do the icons reappear? After closing the app and restarting it? Performing a

[2021-04-19 12:06] stefan-niedermann commented on #889
Hi @birefringence
i can not reproduce the described behavior, the lists can be moved properly to the left multiple times... Are you able to reproduce this constantly?

[2021-04-19 12:07] stefan-niedermann commented on #627
Since we use them now for the cover images introduced in [`1.18.0`](https://github.com/stefan-niedermann/nextcloud-deck/releases/tag/1.18.0) we need them and this issue is obsolete.

[2021-04-19 12:07] #627 closed

[2021-04-19 12:40] birefringence commented on #889
I tried again. This time, I was able to move the list twice until it was stuck. Restarting the App does not help.
[code]

[2021-04-20 10:23] stefan-niedermann commented on #928
Might be related to (or even caused by) https://github.com/nextcloud/deck/issues/2952 - can you please check whether you are able to see the comment indicators in the Web UI in those cases?

[2021-04-20 15:26] markushub commented on #738
It never occoured in latest versions. Thank you for diagnostic. Closing

[2021-04-20 15:26] #738 closed

[2021-04-20 15:33] ndj888 opened #945 "bug mi9 sync"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Steps to reproduce the behavior:

[code]

**Expected behavior**

**Screenshots**

**Versions**
 - Nextcloud:
 - Nextcloud Deck: 1.3.2
 - Ne

[2021-04-20 15:56] stefan-niedermann commented on #945
https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed

[2021-04-20 15:56] #945 closed

[2021-04-20 15:57] stefan-niedermann commented on #945
And also read the section above the linked one which will solve your issue.

[2021-04-21 12:42] accountForIssues opened #947 "Infinite sync"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

**Describe the bug**

Steps to reproduce the behavior:
1. Start app and wait for it to sync.
2. Do a pull down refresh.
3. ...
4. .... wait forever

**Expected b

[2021-04-21 13:17] stefan-niedermann commented on #947
Duplicate of #680

[2021-04-21 13:17] #947 closed

[2021-04-21 13:20] stefan-niedermann commented on #947
Please try to remove your account from the Deck Android app and readd it as a possible quick workaround.

If this doesn't help, wait for [`1.18.x`](https://github.com/stefan-niedermann/nextcloud-deck/releases/tag/1.18.0) being published on F-Droid which contains further fixes for endless spinners

[2021-04-21 13:59] accountForIssues commented on #947
I thought it was a different error as logs in #680 didn't seem to mirror mine. Sorry for that :)

That's usually what I've been doing until now. It's weird because I remember a few versions ago (can't remember which but could be right after ETag introduction), the app worked with zero issues. Background syncs and in-app changes worked perfectly.

I only had a quick look at #680 but is it communica

[2021-04-24 11:11] jakobroehrl commented on #826
@stefan-niedermann
Do you have a list of non shitty manufacturers?

[2021-04-24 11:23] stefan-niedermann commented on #826
Unfortunately nope. They are all shitty in terms of their shipped software :slightly_frowning_face:

Using a custom ROM like Lineage, Graphene, Resurrection Remix etc. seems to be the only way to get an Android like it *should* behave, without any special corners like "We kill each app to advertise with battery optimizations - except Whatsapp, because then people would complain."

Well, the issue

[2021-04-24 11:45] desperateCoder commented on #826
Got a brand new Poco f3 here laying in the corner, waiting for a ROM which makes it actually usable...

Nice hardware and stuff, but an UX of a vasectomy. I curse MI UI and anyone who thought it would be a great idea pissing users off with tons of bloatware and virtual walls preventing it to do what the user wants for the sake of financial profit!

/rant

[2021-04-24 17:27] af7567 opened #952 "When multiple notifications are shown, only the first card can be opened"
**Describe the bug**
When cards have a Due date and time set, a notification will be shown at the specified time. If more than 1 of these notifications is displayed then only the first card can be viewed whichever notification is tapped.

For example card1 has a time of 15:00, and card2 has a time of 15:10.
At 15:30 we will have 2 notifications - one for card1 and one for card2.
Tapping the card2

[2021-04-25 20:01] stefan-niedermann commented on #928
ping @christianlupus

[2021-04-28 12:37] christianlupus commented on #928
Hi, @stefan-niedermann. Sorry for the late answer, had some pressing issues in my day job (and BTW my phone was broken).

The comment indicator was once shown (but I did not check it there, was just glad the cards were marked). Now, no cards show any marks regarding comments.
Just to make sure: The marking should be persistent if there are any comments or should it only show *new* comments?

Regar

[2021-04-30 11:25] stefan-niedermann commented on #928
The indicator should *always* be there

It would be awesome if you could check whether the comments are actually in thr android apps database: If the indicator is not shown again, please go completely offline and open a card - Check if the full comments are visible there or also missing.

A test account with a shared play board would be awesome, so we can try to reproduce this issue :) (credential

[2021-05-01 08:00] drs-project opened #960 "app keeps refreshing infinitely when server is in maintenance mode"
When the nextcloud server is in maintenance mode the app shows this in the top bar, but keeps reloading the content.
This results in screen flickering an unusable app.

**Steps to reproduce the behavior:**
1. Put server in maintenance mode
2. Open deck app

**Expected behavior**
- App show that server is in maintenance mode (which is already great)
- Don't sync now
- Sync later (would be great)

*

[2021-05-01 08:16] stefan-niedermann commented on #960
Thanks for the report! I'll have a look asap. What you see is not the refreshing spinner (compare to pull down 2 refresh which is the symbol for synchronization), but it is the "load from database" spinner.
Of course it is supposed to display the cards in this case - they are synchronized and locally available, so we should be able to display them :slightly_smiling_face: (And i am pretty sure that

[2021-05-01 23:34] tomdereub opened #962 "Upcoming cards showing cards of all accounts"
Thanks for adding the upcoming card view to the android app, it's great ! But for now it's showing upcoming cards of all accounts.
In my case, I have a personal and a professional nextcloud, so two different accounts on two different servers.
I'm using deck on both of them, and I would like to see upcoming cards only of the selected account.

[2021-05-02 07:56] stefan-niedermann commented on #952
Well, i guess this has to be fixed on the Nextcloud Android apps side.

Notifications are fetched *and* displayed by the Nextcloud Android app and only after tapping on it, the Deck Android app comes into the game. Since a tap starts an Intent to open the Deck app, i guess that the mapping of notifications to the Intents in the Nextcloud Android app is wrong.

Closing this, because from my point o

[2021-05-02 07:56] #952 closed

[2021-05-02 13:51] daniel1v opened #963 "Markdown Image does not show up"
**Describe the bug**
Markdown Image from card attachment is not shown in the app

Steps to reproduce the behavior:
Define Image in markdown:
`![IMG](/apps/deck/cards/15/attachment/3)`

**Expected behavior**
image should be displayed like in the Web ui

**Screenshots**
Not available

**Versions**
 - Nextcloud:  20.0.8
 - Nextcloud Deck:  1.2.7
 - Nextcloud Android: 3.15.1
 - Nextcloud Android Deck:

[2021-05-02 14:34] stefan-niedermann commented on #963
This has not yet been implemented yet.

Issues: Attachments which have been uploaded prior to Deck Server app 1.3.x will allow this kind of embedding, while it is still problematic because the whole image will be downloaded.
Attachments which have been uploaded with Deck server 1.3.x or later will be stored as files on the server. Downloading thumbnails will be possible but thumbnails need a diffe

[2021-05-02 14:35] stefan-niedermann commented on #962
Not sure about this one. As a user *I* would expect to see cards which are upcoming, no matter whether on which account. I'll think about some kind of filtering, but nothing promised.

[2021-05-02 20:38] tomdereub commented on #962
It would be interesting to know in which cases people have 2 or more accounts. In my case I need to separate pro and personal cards (I have to many pro cards, so personal ones are quite invisible in the upcoming cards view). And there isn't any mark of the account on each card.
It could maybe be an option in the app parameters : upcoming card view "general" or "per account".

[2021-05-02 21:37] desperateCoder commented on #962
Hi @tomdereub, thanks for your request!

This sentence made me think... Maybe that's a compromise, I guess @stefan-niedermann could consent, that that's something a user might be interested in. Personally I see both of your points here, maybe we could go for color indicators for - let's say the branding color of the instance shown somehow in the upcoming card? Or maybe a textual indicator, since t

[2021-05-04 08:15] molivier-fcms opened #967 "Toggle buttons in parameters vanish when enabled"
**Describe the bug**

In parameters menu, if we toggle a switch to enable, the switch vanishes.

Steps to reproduce the behavior:
1. Go to parameters
2. Click on any toggle to enable it
3. It disappears / becomes blank

**Expected behavior**
It should display the toggle activated on right (direction)

**Screenshots**
When a switch is **OFF**

![off](https://user-images.githubusercontent.com/393097

[2021-05-04 08:19] stefan-niedermann commented on #967
What theme color has your Nextcloud instance applied?

[2021-05-04 09:15] molivier-fcms commented on #967
Right. Only light theme is affected. Dark theme displays the toggle on.

[2021-05-04 09:18] molivier-fcms commented on #967
Nextcloud instances lay have another theme color? I guess I have default one so (light).

On Deck android application however I see only light theme is affected. Dark theme displays the toggles on.

[2021-05-04 09:35] stefan-niedermann commented on #967
It's nothing about light / dark theme, but on the **theme color**.

I suspect a theming issue, and i guess that a white is your applied theme color.

To verify, please share a screenshot of
- the Android app's sidebar header (with the logo)
  ![grafik](https://user-images.githubusercontent.com/4741199/116985482-d2826980-accc-11eb-976c-1fd292cd261b.png)

- The upper area of your Deck app in the web

[2021-05-04 15:02] molivier-fcms commented on #967
Stefan,

Your intuition was right. In my case android app banner was hidden, I did not suspect its existence. I thought it was a kind of vertical centering for the menu.
![Screenshot_20210504-164340_Nextcloud Deck](https://user-images.githubusercontent.com/39309715/117023675-9ca7aa00-acf9-11eb-839f-0c489fc920dc.jpg)

The thing is: few months ago I disabled apps that did not look necessary. And the

[2021-05-04 15:02] #967 closed

[2021-05-04 15:08] stefan-niedermann commented on #967
You're welcome. This behavior should not happen though and i will open a new issue to keep track of this problem.

[2021-05-04 15:12] stefan-niedermann opened #969 "Disabled theming app leads to visual glitches"
# Steps to reproduce:

1. Disable "Theming" app in the Nextcloud Web UI
2. Pull 2 Refresh
3. Notice glitches: Header in sidebar is invisible, settings switches are invisible (#967)

Since we already handle `#ffffff` as theming color successfully, i guess that we use `transparent` at some point as fallback.
We should identify this point and use `@color/defaultBrand` as fallback insteas, it happens

[2021-05-08 07:09] molivier-fcms opened #971 "Change default display mode with discriptions (edit/preview/last selected)"
Hello there.

**Is your feature request related to a problem? Please describe.**
When I open cards, description is **always** in edit mode. However I use a lot checkboxes with markdown syntax. Checking requires to switch description area in preview mode, then I can check the boxes. If I come and go between cards, I must switch from edit to preview mode all the time.

**Describe the solution you'd

[2021-05-08 19:05] birefringence commented on #680
This issue has not occurred again since 1.18.0. So I would consider it fixed.

[2021-05-08 19:26] stefan-niedermann commented on #680
Thanks for the feedback 🙂 Closing this for now. Please create a new issue in case this behavior returns (this one is a bit crowded)

[2021-05-08 19:26] #680 closed

[2021-05-08 19:32] desperateCoder commented on #680
So, no [used tissue](https://github.com/stefan-niedermann/nextcloud-deck/issues/680#issuecomment-805968478) for you guys, deal wit it!

Special thanks to @birefringence for your help and responses to help us to resolve this issue!

[2021-05-09 17:31] newhinton opened #972 "Improve 'Move Card' Dialog"
Please use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

The current dialog shows three picker immediately:
 - Account
 - Board
 - List

I think this could be improved by beeing aware where the user is:
Immediately sho

[2021-05-09 18:54] newhinton commented on #972
A very basic mockup ;)

Some things that are not really visible: the current list containing the card to be moved should be highlighted until a new selection was made.

![grafik](https://user-images.githubusercontent.com/25279821/117583642-93a74600-b108-11eb-867f-a04c17cfe67d.png)

[2021-05-10 10:49] stefan-niedermann commented on #972
Sounds good and should result in one click less in by far most cases 🙂  However i am not yet super satisified with the mock up because
- i fear that it won't scale good for long account and board names
- The board color (which is quicker scannable) isn't visible anymore and some orientation is missing therefore (we need to keep the board title, for accessibility reasons though)

I will ask the Nex

[2021-05-10 11:19] newhinton commented on #972
Yeah, this design propably has issues with long names. However, boardcolors could be added rather easily with the dot, however this will only increase the length of that bar. It would work flawless in the listview though.

Maybe the accountname could be split in two rows, with the first row containing the Username and the second one the serveradress. I dont know how well that would in reality, but

[2021-05-10 14:08] kosatchev opened #973 "sync errror when I update cards in app and nextcloud"
Can not sync when i make changes in app and on site.
When I reset the app it works until app not closed
Also I use Tasks app with DAVx5.
[code]

[2021-05-10 15:34] stefan-niedermann commented on #973
Please disable all battery "opzimizations" [as described in our FAQ](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#i-have-experienced-an-error) and fill out the complete issue template next time. [It is there for a reason](https://github.com/stefan-niedermann/nextcloud-deck/blob/master/FAQ.md#why-has-my-bug-report-been-closed).

[2021-05-10 15:34] #973 closed

[2021-05-10 16:35] stefan-niedermann commented on #928
@christianlupus did you already had some time to test

[2021-05-10 16:37] stefan-niedermann commented on #829
@drs-project @chaosjug are you able to reproduce this behavior in the latest released version (`1.18.2` or higher)? We did a bunch of enhancements to ensure that this *should*™ not happen again. Otherwise, please give feedback whether or not temporarily disabling `ETags` in the settings will make the missing cards show up?

[2021-05-10 16:43] #766 closed

[2021-05-10 17:17] stefan-niedermann commented on #360
Screw it. Since we have to be offline capable, we need to reorder ourself anyway.

[2021-05-10 17:17] #360 closed

[2021-05-10 19:23] drs-project commented on #829
Haven't seen missing cards since the last upgrade to 1.18.2 from fdroid.
I just tried to reproduce the error but I couldn't - with or without Etags enabled.
Seems like you fixed it - great work and thanks a lot!

[2021-05-10 19:23] #829 closed

[2021-05-10 21:13] neerro opened #975 "Do not moving deck lists (to the left/right) in Android app which were created in server app. So if I get try to move lists in any deck which were created in server deck app it could not be possible neither left nor right. Lists were created in Android app has not such issues."

[2021-05-12 10:47] TtuxX commented on #972
Besides all this, just a little suggestion for improving current "Move Card" dialog:

- Remember the last selected list (if a card has already been moved in the past inside this board) instead of preselecting the current list.

Real life use case:
I often move cards from "WIP" list to "Done" list. When I update my board, I sometimes move several cards one after the other.
I think that replaying th

[2021-05-12 14:58] christianlupus commented on #928
@stefan-niedermann I tried to reproduce but was no longer able to do so. I had updated both the server app and (I think) the android app in the meantime, the issue might well be gone in the current release.

If you do not mind, I will close here as I can no longer reproduce it. If it reappears, I will reopen/comment again.

[2021-05-12 14:58] #928 closed

[2021-05-12 14:59] stefan-niedermann commented on #928
Sure, sounds good :) Thank you for the feedback.

[2021-05-13 00:02] neerro opened #977 "Do not moving deck lists (to the left/right) in Android app which were created in server app"
**Describe the bug**
So if I get try to move lists in any deck which were created in server deck app it could not be possible neither left nor right. Lists were created in Android app has not such issues.

Steps to reproduce the behavior:
1. In one of deck select list
2. Click on vertical dots in right corner
3. Click on move to the right or left
4. And nothing's the matter (if list was created on

[2021-05-13 06:09] stefan-niedermann commented on #977
Yes. That's how it works. Seems to be related to #889. Are you sure that there is a difference between lists which are created on the server app vs. list which are created on the Android app or might it have been a coincidence? Can you try a few lists?

[2021-05-13 07:58] stefan-niedermann commented on #977
@desperateCoder maybe reordering of lists is the problem? Do we have that implemented the same way as in cards? If server apps create orders like

- 1000
- 2000
- 3000

and the Android app creates new lists with

- 1000
- 1001
- 2000
- 3000

and reordering just in- or decrements.....?

[2021-05-13 12:11] desperateCoder commented on #977
@stefan-niedermann well, that's wild. Just created a new board and a couple of stacks via Web-UI. I created four stacks, now look at this:

![grafik](https://user-images.githubusercontent.com/6911132/118122492-399dcd80-b3f3-11eb-9cb1-2ed27d1eb1e6.png)

Now here's what your implementation does:

https://github.com/stefan-niedermann/nextcloud-deck/blob/c46e898a04f71cdeeb3151faa7f33657d4bec192/app/sr

[2021-05-13 15:10] desperateCoder commented on #977
@neerro (and @birefringence because of issue #889):

I think I fixed all known list / stack moving issues in the following APK:
[Download and enjoy  (̿▀̿ ̿Ĺ̯̿̿▀̿ ̿)̄](https://github.com/stefan-niedermann/nextcloud-deck/suites/2735093919/artifacts/60393445)

Not only it should work flawlessly now, it even repairs broken orders on the fly. If you could confirm it's working, the fix will be delivered

[2021-05-13 20:36] birefringence commented on #977
This fixes #889 (and I really think it's the same issue).

[2021-05-14 06:23] stefan-niedermann commented on #977
Very nice, and it also explains why i haven't been able to reproduce #889 🙂

[2021-05-14 15:25] #977 closed

[2021-05-14 15:25] #889 closed

[2021-05-14 15:25] stefan-niedermann commented on #977
Fix will be in version `1.18.3`, thank you for the report.

[2021-05-14 15:25] stefan-niedermann commented on #889
Fix will be in version `1.18.3`, thank you for the report.

[2021-05-14 15:26] desperateCoder commented on #889
And for responding!

[2021-05-17 19:32] neerro commented on #977
Hi guys!
I'm so sorry, but I'm a bit was busy and had late to your conversation.

Yes, It's definitely correct, there are difference between created lists on server app and Android that works accuracy as I described earlier.

I'm afraid it's no longer actual ;)

Regarding this - it's OK, never mind. Of course, I was a little distracted by @stefan-niedermann reaction, but as I said it's OK.

If it

[2021-05-17 19:48] stefan-niedermann commented on #977
Nah, just reopen (or open a new) issue in case it occurs with `1.18.3` or later 👍

[2021-05-18 06:49] rolpro opened #985 "Swimlanes"
**Is your feature request related to a problem? Please describe.**

In comlex projects with many "sub-projects" i love to sort tasks that belong together. As i use lists "inbox", "backlog", "To-Do" and "done" in every sub project, i have to start a new board for every new sub project. There is no way to get a overview except sorting by tags. I have to switch through all the boards to see whats goi

[2021-05-18 07:34] stefan-niedermann commented on #985
Blocked by server app (which is not developed by us): https://github.com/nextcloud/deck/issues/32

[2021-05-18 07:37] stefan-niedermann commented on #985
Since this issue tracker is only for the Android app, i'll close it here.
As mentioned in my previous comment, it is blocked by the server app, and if they support it, we will implement it in the Android app anyway.

[2021-05-18 07:37] #985 closed

[2021-05-18 07:38] stefan-niedermann commented on #985
I recommend you to upvote :+1:  the linked issue to signalize your support for it :wink:

[2021-05-18 08:28] jakobroehrl opened #986 "Align "Upcoming cards" selection with deck server app"
show on shared boards unassigned cards to all users as mentioned here: https://github.com/nextcloud/deck/pull/3078

 - private boards: all due cards
 - shared boards: all cards assigned to me (with or without due (shown below the "No due" column)) or assigned to nobody and with due

[2021-05-18 10:15] desperateCoder commented on #986
Hi @jakobroehrl,

I saw the discussion, but I'm not sure if I got it. The current "logic" (SQL-Query) in **simplified** goes like this:
 `select * from cards where (hasDueDate OR isInSharedBoard) AND (isInSharedBoard OR assignedToMe)`

Now from what I have understood, the second condition after `AND` is obsolete now, right?

If I'm wrong, what would the correct logic be?

[2021-05-18 13:14] jakobroehrl commented on #986
Hey @desperateCoder
 - all due cards from private boards
 - all cards assigned to me or to nobody from shared boards

Maybe so?
select * from cards where (hasDueDate OR isInSharedBoard) AND (isInSharedBoard OR assignedToMe) AND (isInSharedBoard OR assignedToNobody)

[2021-05-18 13:35] desperateCoder commented on #986
So from your bullet points I'd go for something like:

`(hasDueDate AND isIn_PRIVATE_Board) OR (isInSharedBoard AND (assignedToMe OR noAssignees))`

That is a simplified version of your logic, because `IsInSharedBoard` in fact is a subquery and I'd like to avoid evaluating it twice.

There is just one problem left from my point of view regarding shared boards: This would mean, that the existence o

[2021-05-19 06:02] jakobroehrl commented on #986
This is right. Cards without due of shared boards are shown in the overview under the culumn "No due".
I'm not sure if that make sense for every use case, but this is the current implementation.

[2021-05-19 10:20] desperateCoder commented on #986
Ok, I think this dev-build should behave as you wish: [ଘ(੭*ˊᵕˋ)੭* ̀ˋ](https://github.com/stefan-niedermann/nextcloud-deck/suites/2777599145/artifacts/61580387)

Plase give it a try, I can't really tell if this is exactly what you want. Looking forward to some feedback! :blush:  :heart:

[2021-05-19 13:05] desperateCoder commented on #986
So the only difference I spotted is the case when there is no assignee, it has to have a due date to be shown, right?

[2021-05-19 14:36] desperateCoder commented on #986
Assuming I got this right, please try this one: [( ͡° ͜ʖ ͡°)_/¯ Download](https://github.com/stefan-niedermann/nextcloud-deck/suites/2779804172/artifacts/61646665)

[2021-05-19 18:30] jakobroehrl commented on #986
Looks good!

[2021-05-20 08:24] stefan-niedermann opened #990 "Pull out OCS part of responses"
Currently all every single method in `JsonToEntityParser` has to deal with the `ocs` meta wrapper.
I suggest to pull this part out like i did with the Notes app: https://github.com/stefan-niedermann/nextcloud-notes/blob/master/app/src/main/java/it/niedermann/owncloud/notes/shared/model/OcsResponse.java

This might result in
- on single source of truth for parsing this part
- less code -> less erro